[2020-05-06 09:24] bschmalhofer opened #1 "a2enmod version in the installation directions"
I installed OTOBO under Ubuntu 19.10. One of the suggested commands in the installation guide is `a2enmod version`  This command failed with the message:

https://stackoverflow.com/questions/38568364/module-version-in-apache and https://forum.otterhub.org/viewtopic.php?p=161271 told me that the Apache2 module is already compiled in. Therefore I propose to simply remove this instruction.

[2020-05-06 09:44] bschmalhofer commented on #1
Never mind, this issue was for https://github.com/RotherOSS/doc-otobo-installation.

[2020-05-06 09:44] #1 closed, assigned to nobody

[2020-05-06 12:03] bschmalhofer opened #2 "Bump required Perl version to 5.24"
https://doc.otobo.org/manual/installation/stable/en/content/requirements.html states that OTOBO requires Perl 5.16.0 . This version of Perl is from 2012 and supporting old Perl versions brings no benefit to OTOBO. Can we bump up the minimum version to Perl 5.24.   5.24 is because I'm a fan of posfix dereferencing.

[2020-05-06 14:11] bschmalhofer opened #3 "Support for Mysql 8 on Ubuntu 19.10"
Ubuntu 19.10 ships with MySQL 8.0.20.  MySQL 8.0 is the successor of MySQL 5.7. Looks like they dropped the 5 in order to confuse people. There are some changes in MySQL 8.0 that are relevant for OTOBO. See also https://dev.mysql.com/doc/refman/8.0/en/mysql-nutshell.html.

The individual topics will be handled in dependent issues:

- [x] #4:  Creating users with GRANT no longer works. The default

[2020-05-06 14:22] bschmalhofer opened #4 "MySQL 8: user creation"
In MySQL 8, the default authentication plugin has changed from 'mysql_native_password' to 'caching_sha2_password'. The goal is to stay with 'mysql_native_password'.
Also creating users with GRANT is no longer supported.

TODO:

- [x]  Check the install docs and the code for database user creation
- [x] Switch to 'CREATE USER ... IDENTIFIED WITH mysql_native_password
- [x] Test with MySQL 8
- [x] T

[2020-05-07 12:16] bschmalhofer opened #6 "MySQL 8: 'groups' is no longer allowed as unquoted table name"
'groups' is a reserved word in MySQL 8. The solution is to rename the table 'groups' to 'groups_table'.

TODO:

- [x] adapt the table creation in the table creation step during installation
- [x] rename 'groups' to 'groups_table' in the OTOBO Perl modules
- [x] rename 'groups' to 'groups_table' in the OTOBO test scripts
- [x]  migrate 'groups' to 'groups_table' during the migration to OTOBO 10

[2020-05-07 12:55] bschmalhofer opened #7 "Regenerate or remove scripts/database/*.sql"
The purpose of the SQL scripts in the dir _scripts/database_ is not obvious. For the installation, the .xml files in scripts/database are used.  I did not see where the .sql files are used. I also did not see a generation script, so they might have been updated manually.

- [ ] remove the .sql files in case they are not needed

- [ ] find are write a generation script in case that they are needed

[2020-05-07 14:57] bschmalhofer commented on #6
Ist noch nicht getestet.

Migrationskript auf OTOBO 10 ist ein separates issue

[2020-05-08 06:38] StefanRother-OTOBO commented on #7
Hi Bernhard,

thanks very much for your help.

The scripts you are looking for are otobo.Console.pl scripts:

 bin/otobo.Console.pl Dev::Tools::Database::XML2SQL     - Convert OTOBO database XML to SQL.
 bin/otobo.Console.pl Dev::Tools::Database::XMLExecute - Convert an OTOBO database XML file to SQL and execute it in the current database.

If we change the data model in OTOBO, we only need to cha

[2020-05-08 06:40] svenoe commented on #7
Can be closed, I guess... :)

[2020-05-08 06:40] #7 closed, assigned to nobody

[2020-05-08 10:57] bschmalhofer opened #9 "MySQL 8: don't set query_cache_size"
The query cache has been removed in MySQL 8. Especially the variable `query_cache_size` which is mentioned in the installation instructions

[2020-05-08 11:14] bschmalhofer commented on #9
PR is submitted

[2020-05-08 11:29] bschmalhofer opened #10 "Installation: check return code of the executed SQL statements"
In Installer.pm there are SQL-statements first collected and then executed. However the return status of the execution is never inspecter. Thus the intstaller GUI might report everything as successful, even when some tables were not created.

TODO: inspect the return code and stop the installationj when there are errors

[2020-05-08 13:13] bschmalhofer opened #11 "References to OTRS in .gitignore files"
The .gitignore files still mention OTRS.

[2020-05-08 13:17] bschmalhofer opened #12 "Generation of a cpanfile from otobo.CheckModules.pl"
Some folks like to use **cpanm --installdeps .** . In order to support this add an option `--gen-cpanfile` to otobo.CheckModules.pl that prints a cpanfile with all required modules to STDOUT.

[2020-05-12 08:31] svenoe commented on #12
Merged - thanks Bernhard.

[2020-05-12 08:31] #12 closed, assigned to nobody

[2020-05-12 09:09] bschmalhofer opened #16 "Create PSGI App bin/psgi-bin/otobo.psgi"
The application bin/cgi-bin/app.psgi is working when Plack is installed. It can be started with `plackup bin/cgi-bin/app.psgi`.

However there are some issued remaining:

- [x] some static files are not served

- [ ] Database connection caching, replacement for Apache::DBI

- [x] Logfiles are not set up

- [x] TODO: check the apache config for missing settings

- [x] Using `CGI::Emulate::PSGI` is

[2020-05-12 13:48] bschmalhofer opened #17 "Check the usage of $ENV{SCRIPT_NAME}"
`$ENV{SCRIPT_NAME} `is used in several places in the code base. My impression is that these usages are not standard compliant, as SCRIPT_NAME can depend on the webserver setup. In any case it would be nice if $ENV{SCRIPT_NAME} would be inspected in a single central location, e.g. in` Kernel::System::Web::Request`

[2020-05-13 10:03] bschmalhofer opened #19 "Broken links to bugs.otobo.org"
In the code there are comments like `http://bugs.otobo.org/show_bug.cgi?id=2230`. These links are broken as bugs.otobo.org is empty. IMHO these links could be reverted back to e.g. `http://bugs.otrs.org/show_bug.cgi?id=2230` .

[2020-05-13 10:25] svenoe commented on #19
I agree. (This is an unwanted side effect of the migration.)

[2020-05-13 12:59] bschmalhofer opened #20 "Remove workarounds for PerlEx"
PerlEx is some Perl-Webserver-Thingy from ActiveState for Windows. Windows is not supported. So get rid of it.

[2020-05-13 13:17] svenoe commented on #20
Agreed. :)

[2020-05-13 13:32] bschmalhofer opened #21 "Remove workarounds for microsoft-iis/6"
There are some checks for MicroSoft webservers. These checks can be removed as Windows is not supported.

[2020-05-13 13:34] svenoe commented on #21
Also agreed.

[2020-05-14 10:02] bschmalhofer commented on #17
It would be nice to use  `$ENV{SCRIPT_NAME} . $ENV{PATH_INFO}` This would allow handler functions or scripts that handle all of 'otobo'.

[2020-05-14 11:32] bschmalhofer opened #27 "Remove support for bin/cgi-bin/rpc.pl"
https://lists.otrs.org/pipermail/otrs/2013-July/040302.html states that rpc.pl is deprecated. IMHO this means that it can be removed in OTOBO.
rpc.pl is already not supported in FastCGI and in PSGI.

[2020-05-14 12:02] svenoe commented on #19
Solved, thanks Bernhard.

[2020-05-14 12:02] #19 closed, assigned to nobody

[2020-05-14 12:05] bschmalhofer opened #28 "Add support for features in otobo.CheckModules.pl"
`otobo.CheckModules.pl --cpanfile` generates a simple cpanfile with the required modules.  The module list is kept in the skript itself. It would be nice to support features in the cpanfile so that users could install modules based on their feature preferences. E.g. `cpanm --installdeps --with-feature postgresql --with-feature PSGI .`

[2020-05-14 12:24] svenoe commented on #21
Merged, thanks Bernhard.

[2020-05-14 12:24] #21 closed, assigned to nobody

[2020-05-14 12:24] svenoe commented on #20
Merged, thanks Bernhard.

[2020-05-14 12:24] #20 closed, assigned to nobody

[2020-05-14 12:25] svenoe commented on #11
Resolved.

[2020-05-14 12:25] #11 closed, assigned to nobody

[2020-05-14 12:26] svenoe commented on #10
Agreed.

[2020-05-15 09:27] bschmalhofer commented on #27
Apparently rpc.pl is still used. Therefore add support for rpc.pl under PSGI.

[2020-05-15 11:55] svenoe commented on #27
Merged, thanks Bernhard.

[2020-05-15 12:41] bschmalhofer opened #31 "Run OTOBO with PSGI in Docker"
Create a Dockerfile that builds an image with OTOBO running with PSGI under Starman using MySQL as backend.
For now it is still expected that 'otobo/installation.pl' will be run by the user.

[2020-05-18 11:31] bschmalhofer opened #33 "Moo.pm and namespace::clean are not bundled, but are claimed to be bundled"
`Kernel::System::Environment` claims that the package Moo is a bundled module . However there is no bundled Kernel/cpan-lib/Moo.pm.  The same applies to `namespace::clean`and possibly other modules.

There are two possible fixes:

1. Add Moo and namespace::clean to Kernel/cpan-lib
2. Remove Moo and namespace::clean from `Kernel::System::Environment`and add them to bin/otobo.CheckModules.pl as need

[2020-05-18 14:19] svenoe commented on #33
Leaning towards 2; I will check this somewhen.

[2020-05-18 14:20] StefanRother-OTOBO commented on #33
Hi Bernhard,

Moo and namespace is not used from OTOBO itself. It's a dependency from selenium, perhaps from other modules too. I´m not sure what's the right way, but I have no good feeling by adding the modules to Kernel/cpan-lib and add they to bin/otobo.CheckModules.pl as needed modules.

For my opinion, bundled module do not say, it must bundled with OTOBO. It's possible that they bundled with

[2020-05-18 15:29] bschmalhofer commented on #33
Well  Math::Random::Secure requires Moo and is used in ./Kernel/System/Main.pm. So this is core dependency.

Which modules are listed in Kernel::System::Environment::PerlInfoGet() and are not available in Kernel/cpan-lib ?

[2020-05-22 09:10] bschmalhofer opened #37 "Support for MariaDB 10.5"
ManiaDB 10.5 does not spport the `CREATE USER ... IDENTIFIED WITH .. BY ...` syntax. An alternative might be to use `IDENTIFIED WITH .. AS PASSWORD(...)` . This should also work on MySQL 5.7 and MySQL 8.

[2020-05-22 11:32] bschmalhofer opened #38 "Database connect attempted in Installer Intro"
When running installer.pl for a new installation the database host is not yet known. Yet the intro page of the Installer calls  `$Output .= $LayoutObject->Footer();` Within that call there is an attempt to get the list of states from the otobo database. However the Database connect fails when the MySQL database does not run on the local host.

[2020-05-22 11:40] bschmalhofer commented on #38
Same applies for most of the other pages in installer.pl

[2020-05-22 14:06] svenoe commented on #38
[Fixed](https://github.com/RotherOSS/otobo/commit/e0372cd40e4a5ecd66c52b384e7dc96e9b543cec), thanks.

[2020-05-22 14:06] #38 closed, assigned to nobody

[2020-05-22 16:10] bschmalhofer commented on #31
The current state is that installer.pl completes and index.pl allows login and shows the overview. The cronjob is set up. But there are still some TODOs:

- [x] In some scripts /usr/bin/perl is in the Shebang, not /usr/bin/env perl

- [x] $HOME of root is /root, not /opt/otobo

- [x] Some scripts explicitly check that they are not executed by root

- [x] Check whether Modules are refreshed

- [x]

[2020-05-23 10:22] bschmalhofer opened #40 "Shebang line of the perl scripts"
The scripts assume that the system Perl in in /usr/bin/perl. However the official Perl docker image has perl in /usr/local/bin. Or some users might want to use perlbrew.

I suggest to change the Shebang to `#!/usr/bin/env perl'

[2020-05-23 10:47] bschmalhofer opened #41 "Variable name referring to OTRS"
In ./Kernel/System/Console/Command/Dev/Tools/ImportFakeEmails.pm and in ./bin/otobo.SetPermissions.pl there are still variables containing 'Otrs'.

[2020-05-25 06:09] svenoe commented on #41
Fixed.

[2020-05-25 06:09] #41 closed, assigned to nobody

[2020-05-25 10:52] bschmalhofer opened #43 "COPYING vs. LICENSE"
The files COPYING and LICENSE in the OTOBO root are identical. I'm sure whether both have a purpose or one of the files is redundant.

[2020-05-25 13:11] bschmalhofer commented on #28
This looks fine. Other commits have improved indenting and added comments.

[2020-05-25 13:11] #28 closed, assigned to nobody

[2020-05-25 14:47] bschmalhofer opened #44 "OTOBO Daemon should handle changes in Kernel/Config.pm"
My Understanding is that  SecureMode = 0 indicates that OTOBO is being configured. In this situation running the Daemon might be problematic. How about adding a check for SecureMode that exits the Daemon when SecureMode = 0?
Alternatively Monitor Kernel/Config.pm and Reload it when it is changed. This could be done with Module::Refresh, or Module::Reload, or with Linux::Inotify2.

[2020-05-25 15:27] bschmalhofer commented on #44
The consensus is that Daemon.pl should watch Changes to ZZZAuto.pm and stop when it sees SecureMode = 0.  The Cronjobs can still try to restart the Daemon every 5 Minutes.

[2020-05-26 12:05] bschmalhofer opened #46 "Figure out host of DB-user 'otobo' when running in Docker"
In the Docker-world it is not obvious what the use as the user.host of the DB-User 'otobo'.
A static IP-address is problematic as IP-addresses often change.
A hostname is problematic because then we would have to unset skip-name-resolve.
Currently '%' is used. But is this secure?

[2020-05-27 09:26] bschmalhofer commented on #40
The consensus is to make that change.
In some cases, e.g. when using perlbrew, users might have to adapt the Cronjob that watches the OTOBO Daemon. But that problem exists also for the hardcoded /usr/bin/perl in the Shebang.

[2020-05-28 10:16] bschmalhofer opened #51 "Use a process watcher instead of cron when running under Docker"
The current bin/docker/entrypoint.sh runs under der user 'otobo' which can't, and shouldn't, start the Cron Daemon. This means that currently no cronjobs are executed in the docker container.

Therefore I propose to forego cronjobs and watch the Daemon.pl with a tool like **supervisor**. The downside it that no othere cronjobs can be supported. However my understanding is that all periodic actions

[2020-05-28 14:52] bschmalhofer commented on #51
Thinking about it, it is probably best to stick with the Docker philosophy. Only one service per running Container. Thus put the Daemon into a separate container and watch it with cron. The different users can be handled in bin/docker/entrypoint.sh. Getting rid of cron is an idea that can be considered in future.

[2020-05-29 07:11] bschmalhofer opened #54 "Docker: Use /proc/self/fd/1 as default output file for logging"
In the current docker setup there is no rsyslog running on otobo_web_1. The logging method should therefore be logging to a file. The Docker philosophy is to log to STDOUT. Thus the default logfile should be /proc/self/fd/1 (STDOUT) or /proc/self/fd/2 (STDERR). But before changing the defaults, this approach needs to be tested first.

[2020-05-29 07:18] bschmalhofer opened #55 "add a Mojo DBViewer app, useful for development"
For development it would be nice to have a little viewer of the database, e.g. Mojolicious::Plugin::DBViewer. This could be added to otobo.psgi or run in a separate container.

See https://stefanorodighiero.net/writings/perl/composing-multiple-mojolicious-apps-with-plack.html and https://metacpan.org/pod/Mojolicious::Plugin::DBViewer

[2020-05-29 08:44] bschmalhofer opened #57 "Docker: test sending and receiving mails"
Sending and receiving mails will most likely not work yet. Propably the ports for SMTP need to be opened and maybe we need a container running postfix.

[2020-05-30 14:01] bschmalhofer commented on #55
TODO: limit access to admins

[2020-05-31 12:36] bschmalhofer opened #61 "SecureMode and SelectBox"
In Framework.xml there is a setting for SecureMode.

[code]
There it is stated that the SQL Box is disabled when SecureMode is enabled. However I have been able to run a SELECT in the SQL Box after installer.pl has run. I think that the documentation in Framework.xml is outdated.

[2020-06-02 06:07] svenoe commented on #2
Changed to 5.24.

[2020-06-02 06:07] #2 closed, assigned to StefanRother-OTOBO

[2020-06-02 07:53] bschmalhofer commented on #37
It would be interesting to see what happens when using the simple statement:
`CREATE USER `$DB{OTOBODBUser}`\@`$Host` IDENTIFIED BY '$DB{OTOBODBPassword}',
`
I don't know why the authorisation backend needs to be specified. Simply use the default backend.

[2020-06-02 10:54] bschmalhofer commented on #40
The changes have been made and no complaints so far.

[2020-06-02 10:54] #40 closed, assigned to nobody

[2020-06-02 10:59] bschmalhofer opened #63 "Environment variable in Kernel::System::AuthSession modules"
It would be nice if the AuthSession modules could be reused from non-CGI applications easily. This is already possible, but only if the environment variables REMOTE_AGENT and HTTP_USER_AGENT are set. It would be nicer it these variables were retrieved from the ParamObject.

See bin/mojo/dbviewer.pl for an example where the workaround is needed.

[2020-06-02 11:00] bschmalhofer commented on #6
The table name has been changes and OTOBO still seems to work.

[2020-06-02 11:00] #6 closed, assigned to nobody

[2020-06-02 11:03] bschmalhofer commented on #16
Note that _bin/cgi-bin/app.psgi_ has been replaced by  _bin/psgi-bin/otobo.psgi_ .

[2020-06-02 11:35] svenoe commented on #61
I would guess so, too. Package manager and generic agents are also available with secure mode enabled.

[2020-06-02 12:43] bschmalhofer opened #64 "Bash completion for Dev::Package::Build does not expand for filename"
I typed in `bin/otrs.Console.pl Dev::Package::Build ./` and expected to get the name of the .sopm file via bash completion. However it looks like bash completion does not know about the filename argument of the command.

[2020-06-03 08:39] bschmalhofer opened #65 "Read-Only flag in CustomerCompany Map"
I had a strange setup with additional fields in CustomerCompany. In the config these were marked as readonly. Consequently the additional fields could not be changed. Because of a direkt update in the table customer_company different values were shown in the GUI as were in the table. When updating in the GUI the values from the GUI were inserted in the table.

My guess is that the readonly fields

[2020-06-03 09:22] svenoe commented on #65
Confirmed. We have to introduce a server side check, probably in the module files.

[2020-06-03 12:38] bschmalhofer opened #67 "DBViewer: support redirects outside of index.pl"
Currently /otobo/dbviewer redirects to /otobo/index.pl when authentication fails. It would be nice to distinguish the two cases:

1. Access denied because the user is not logged in
2. Access denied because the user is logged in but not a admin.

For case 1. it would be nice to have a redirect to a login page that redirects back to the wanted page. Currently this is not possible as the GET paramete

[2020-06-03 12:45] bschmalhofer commented on #2
Cool. See https://perldoc.perl.org/feature.html for the new features available in 5.24

[2020-06-03 13:04] bschmalhofer commented on #51
Closing because cron is running now in a dedicated container.

[2020-06-03 13:05] #51 closed, assigned to nobody

[2020-06-03 13:07] bschmalhofer commented on #44
This has been implemented. Closing as there are no complaints yet.

[2020-06-03 13:07] #44 closed, assigned to nobody

[2020-06-03 13:36] bschmalhofer commented on #33
PR submitted and applied.

[2020-06-03 13:36] #33 closed, assigned to bschmalhofer

[2020-06-03 13:39] bschmalhofer commented on #31
Two items in the TODO list remaining:

- [x] Investigate and decide what to do about logging
- [x] Don't hardcode the DB password in docker_compose.yml

[2020-06-03 14:34] svenoe opened #69 "Decide on handling of Kernel::System::Time"
We incorporated some packages which rely on Kernel::System::Time (or its former duplicate Kernel::System::ZnunyTime). In OTRS Kernel::System::Time is handled as legacy. In principle we are not bound to deprecate it, too, but with Kernel::System::DateTime being present, too, the current situation messy.

In my opinion, at some point we should probably add the missing functionality of Kernel::System

[2020-06-04 07:40] bschmalhofer commented on #69
Sounds good to me.

[2020-06-04 07:42] bschmalhofer commented on #67
On second thought let's not do this at this time. Allowing redirects outside of index.pl might open a can of worms. For DBViewer we can simply display a more informative message when authentication fails.

[2020-06-04 07:42] #67 closed, assigned to nobody

[2020-06-04 09:36] bschmalhofer commented on #63
Sven agrees that this is sensible.

[2020-06-04 10:15] bschmalhofer commented on #63
PR is applied.

[2020-06-04 10:15] #63 closed, assigned to nobody

[2020-06-04 10:21] bschmalhofer commented on #55
localhost:5000/otobo/dbviewer/dbviewer/ seems to be working in the Docker use case.
Authorisation is checked via the OTOBO session. The logged in user must be in the group 'admin'. There is no redirect to a login page when access is denied. That is not an essential feature.

[2020-06-04 10:21] #55 closed, assigned to nobody

[2020-06-04 11:26] bschmalhofer opened #72 "EventHandler for Kernel::System::User"
` Kernel::System::CustomerUser` handles registered event, but `Kernel::System::User` doesn't provide support for events. It might be useful to add that capability.

[2020-06-04 12:05] svenoe commented on #72
In my opinion it can be added rather easily, as soon, as we have a reason, don't you think?

(It would be useful to have something like "suggestions", or "requests" as label for stuff like this...I will have a look at this somewhen.)

[2020-06-04 12:17] bschmalhofer commented on #72
One use case is when the email or an agent changes which might break mappings that are based on the email.

[2020-06-04 13:04] bschmalhofer opened #73 "Suggestion: Expand list of required and recommended modules"
`List::MoreUtils` has many useful subroutines. It would be nice to be able these subs in framework and in extension code.

[2020-06-05 09:05] bschmalhofer commented on #54
A test showed that the log message did not make it to the standard output of the docker container.
So revert to log to the logfile /opt/otobo/var/log/otobo.log. For convenience present those settings as the default variable in installer.pl

[2020-06-05 09:43] bschmalhofer commented on #54
PR is applied

[2020-06-05 09:43] #54 closed, assigned to nobody

[2020-06-05 12:18] bschmalhofer commented on #37
Testing under MySQL 5.7 resulted in an error.

[2020-06-05 12:24] StefanRother-OTOBO commented on #37
CREATE USER $DB{OTOBODBUser}\@$HostIDENTIFIED BY '$DB{OTOBODBPassword}' works for MySQL 5.7 and MariaDB.

Thanks Bernhard!

[2020-06-05 12:29] StefanRother-OTOBO commented on #37
MySQL 8 works too. Changed and closed.

[2020-06-05 12:29] #37 closed, assigned to nobody

[2020-06-05 12:48] bschmalhofer commented on #4
I suppose that there is no need to worry about MySQL 5.6 or earlier. Closing the issue.

[2020-06-05 12:48] #4 closed, assigned to nobody

[2020-06-05 12:49] bschmalhofer commented on #9
Nobody complained. Closing the issue.

[2020-06-05 12:49] #9 closed, assigned to nobody

[2020-06-05 12:51] bschmalhofer commented on #3
OTOBO on MySQL 8 seems to work. Closing the issue.

[2020-06-05 12:51] #3 closed, assigned to nobody

[2020-06-05 12:53] bschmalhofer commented on #16
The otobo logfiles are now at /opt/otobo/var/log. The webserver writes to the Docker STDOUT and STDERR. This is fine until somebody has a better idea.

[2020-06-05 14:13] bschmalhofer commented on #61
PR is applied

[2020-06-05 14:13] #61 closed, assigned to nobody

[2020-06-05 16:07] bschmalhofer commented on #37
This is broken again for MaraDB as MariaDB chokes on the 'WITH mysql_native_password' . @StefanRother-OTOBO  please reopen the isssue.
See https://mariadb.com/kb/en/authentication-plugin-mysql_native_password/

[2020-06-06 09:01] bschmalhofer commented on #31
Closing this ticket. Further problems will be handled in new issues.

[2020-06-06 09:01] #31 closed, assigned to nobody

[2020-06-06 09:04] bschmalhofer commented on #17
Using `$ENV{SCRIPT_NAME} . $ENV{PATH_INFO}`is not really necessary as having separate handles for e.b. otobo/installer.pl and otobo/index.pl is not really a problem. But getting the info from the ParamObject, instead of the environment, is a nice feature.

[2020-06-06 10:16] bschmalhofer commented on #17
Provided a PR that gets rid of $ENV{SCRIPT_NAME}. The only remaining usage is in ./Kernel/Output/HTML/Templates/Standard/Test.tt .  I have no idea where this template is used.

[2020-06-06 11:25] bschmalhofer opened #78 "Reverse proxy support for otobo.psgi"
otobo.psgi currently does not provide support for HTTPS. The recommendation for supporting HTTPS access is to run otobo.psgi behind a proxy providing HTTPS. Therefore otobo.psgi should support a reverse proxy setup. Maybe also provide an optional  nginx container that is configured with HTTPS support.

[2020-06-08 03:21] StefanRother-OTOBO opened #79 "Bug in bin/otobo.CheckModules.pl"
If I use the script Otobo.CheckModules.pl -list under ubuntu 18.04, I get the following output:

apt-get install -y DateTime::TimeZone libdatetime-perl libdbi-perl libnet-dns-perl libtemplate-perl libtemplate-perl libxml-libxml-perl libyaml-libyaml-perl

- [ ] Fix "DateTime::TimeZone" it´s not possible here.

- [x] And if anyone changes it, please adjust -help setting. The description includes all

[2020-06-08 10:08] bschmalhofer commented on #17
PR is merged

[2020-06-08 10:08] #17 closed, assigned to nobody

[2020-06-08 10:20] bschmalhofer opened #80 "otobo.psgi: avoid database reconnect for every request"
In the mod_perl version for OTOBO the Perl module `Apache::DBI`. This module enables connection caching. However in otobo.psgi there is no connection caching and there seems to be a reconnect for each request.

In might be worthwhile to use `DBIx::Connector` in the OTOBO_RUNS_UNDER_PSGI case. `Apache::DBI`might do the job as well, but that is IMHO confusing.

[2020-06-08 10:22] bschmalhofer commented on #16
There is a separate ticket #80 for Apache::DBI replacement. So this issue can be closed.

[2020-06-08 10:22] #16 closed, assigned to nobody

[2020-06-08 12:33] bschmalhofer opened #81 "installer.pl should warn about unsupported database version"
A version check of the database would be nice to have.

[2020-06-08 13:47] bschmalhofer opened #82 "Distinguish between MariaDB and MySQL in Kernel::Modules::Installer"
When creating the _otobo_  database user it is advisable to explicitly set the authentication plugin _mysql_native_password_ . This avoid surprises when the default authentication plugin changes. E.g. when MySQL 5.7 was upgraded to MySQL 8.

For MySQL 5.7 and MySQL 8 the following statement seems to work.

`CREATE USER `test1`@`localhost`  IDENTIFIED WITH mysql_native_password BY 'xxxx';`

However

[2020-06-10 09:53] bschmalhofer opened #85 "Support for MySQL running on a non-default port"
I had an use case where I wanted to run MySQL in Docker. On the host there was another MySQL running on port 3306. In order to avoid the conflicting port I mapped the port 3306 in the container to the port 5003 on the host. However in installer.pl I could not specify the port.

IMHO it would be a nice feature it the MySQL port could be specified. If the GUI should be kept as simple as possible, th

[2020-06-10 10:25] bschmalhofer opened #86 "Think about the MySQL collation"
https://stackoverflow.com/questions/766809/whats-the-difference-between-utf8-general-ci-and-utf8-unicode-ci suggest that _utf8mb4_unicode_ci_ might be a better collation than _utf8_general_ci_.

[2020-06-10 14:42] bschmalhofer commented on #82
No complaints so far. Closing the issue.

[2020-06-10 14:42] #82 closed, assigned to nobody

[2020-06-11 10:44] bschmalhofer commented on #73
So let's think about a list. Module suggestions that are mentions in #449,#192, #380, and #402 have been removed from the original suggestions.

- [ ] Kavorka or Type::Params or Function::Parameters
- [ ] Type::Tiny provides Types::Standard and works together with Function::Parameters, already in _Kernel/cpan-lib_
- [ ] Module::Loader or Module::Load or Module::Runtime
- [ ] Regexp::Common
- [ ] R

[2020-06-14 17:01] bschmalhofer opened #87 "Make *prove scripts/tests" work."
Why can't I simply call `prove scripts/tests` for running the tests?

[2020-06-15 14:17] bschmalhofer commented on #80
`DBIx::Connector` looks good. See http://perladvent.org/2011/2011-12-22.html . A small downside is that the connector object needs to be cached. This can easily be done with a `state`variable. The generation of the cache key can be copied from `DBI::connect_cached()`.

[2020-06-16 08:56] bschmalhofer opened #88 "No longer use XML::Parser and XML::Parser::Lite, switch to XML::LibXML"
For some reason both XML::LibXML and XML::Parser are used in OTOBO. I propose to standardise on XML::LibXML.

[2020-06-16 14:19] bschmalhofer commented on #80
The attribute RaiseError is now turned off in order to have the same behavior as previously,

[2020-06-17 11:16] bschmalhofer opened #90 "Setting EnhancedSearchFields is no longer used"
When looking at the code for CustomerCompanySearchDetail() I found that CustomerCompany::EnhancedSearchFields are mentioned in the POD. This seems to be a leftover from a previous implementation, as the code indicates that the search fields are taken from the CustomerCompanyMaps.

Same applies to CustomerUser.

[2020-06-17 11:37] bschmalhofer opened #92 "Setting ViewableTicketsPage no longer used"
The sysconfig setting ViewableTicketsPage seems to be no longer used. It looks like the number of displayed tickets is now taken from the user preferences.
I also removed manually the now obsolete translation. There is propably a tool for that, but I'm clueless about it.

[2020-06-17 11:46] bschmalhofer commented on #92
Leaving out the translations, as there are tools for that.

[2020-06-17 11:50] bschmalhofer opened #94 "Improve synopsis of the ticket search"
I tried to improve the documentation of TicketSearch() because I was confused.

[2020-06-17 12:07] svenoe commented on #94
Merged, thanks.

[2020-06-17 12:07] #94 closed, assigned to nobody

[2020-06-17 12:08] svenoe commented on #92
Merged, thanks.

[2020-06-17 12:08] #92 closed, assigned to nobody

[2020-06-17 12:08] svenoe commented on #90
Merged, thanks.

[2020-06-17 12:08] #90 closed, assigned to nobody

[2020-06-17 14:28] bschmalhofer commented on #64
It looks like for the options it is only specified the takes an argument or not. It is not specified whether the potential argument or the option is a file or a directory. Looks like only the number of  command arguments is specified. It is not known whether the argument should be a file or directory. Both of these things would be very useful for completion.

For now I see no reason that any curre

[2020-06-18 07:31] bschmalhofer commented on #64
The PR with the minimal solution is merged. Closing.

[2020-06-18 07:31] #64 closed, assigned to nobody

[2020-06-18 12:48] bschmalhofer opened #97 "Last UserCache is not cleared in _UserCacheClear"
See https://github.com/OTRS/otrs/pull/2010/commits/4ab1f7dcab9a7e1557b6994362691785efe0625a

[2020-06-18 13:11] bschmalhofer opened #98 "CodePolicy.pl complains about ModuleRequired and PackageRequired"
With OTRSCodePolicy 1.0.47 I have seen complaints about  ModuleRequired and PackageRequired in .sopm files. However these tags seem to be supported. Did I used the wrong version of the CodePolicy package?

[2020-06-18 13:16] svenoe commented on #98
I guess this is a question concerning OTRS packages - maybe it didn't like your ordering, or the TargetVersion is missing? I'll close this here, messaged you via Telegram... ;)

[2020-06-18 13:16] #98 closed, assigned to nobody

[2020-06-19 13:35] bschmalhofer commented on #97
Confirmed, in _UserFullname() the possible name orders range from 0 to 9.

[2020-06-23 10:12] bschmalhofer commented on #97
PR is applied

[2020-06-23 10:12] #97 closed, assigned to nobody

[2020-06-23 10:30] bschmalhofer opened #100 "Docker: support for ElasticSearch"
ElasticSearch should be supported.

[2020-06-23 12:58] bschmalhofer opened #101 "Docker: include more Perl modules in the image"
Also include modules that are often, but not always, used.

[2020-06-23 13:19] bschmalhofer opened #102 "Docker: provide samples for .env for different use cases"
See for an example:
https://docs.weblate.org/en/latest/admin/install/docker.html

One problem is that ports need to be adapted here. Therefore the controlling is based on the _.env_ file.
The supported use cases are:

- HTTP webserver on Port 80:   .docker_compose_env_http
- HTTP webserver on a diffferent Port: .docker_compose_env_http, and set OTOBO_WEB_HTTP_PORT
- HTTPS with nginx in a container

[2020-06-23 13:27] bschmalhofer commented on #57
No ports need to be opened, as the Daemon is pulling and pulling the mail.
A test work, after spelling errors were corrected.

[2020-06-23 13:27] #57 closed, assigned to nobody

[2020-06-25 11:49] bschmalhofer opened #106 "Remove the folder .tx"
This folder looks obsolete. Translation is done with weblate now. Transifex is no longer used.

[2020-06-25 17:37] bschmalhofer opened #107 "Support for Unified Caching Interface CHI"
Currently there are two explicit caching interfaces: FileStorable and Redis.
However the usual approach for caching in the Perl world is to use [CHI](https://metacpan.org/pod/CHI). CHI than has different pluggable backends. So support for CHI would be nice.

[2020-06-26 08:53] bschmalhofer opened #108 "Docker: make bash completion work out of the box"
When entering bash the script ._bash_completion_ is not sourced. .bashrc does source _.bash_aliases_ .

 I suppose the most simple fix is to create a ._bash_aliases_ that contains the line `. .bash_completion`. This would allow the addition of nifty aliases.

Also it make be less confusing if the user otobo had a login shell.

[2020-06-26 09:13] bschmalhofer commented on #106
Folder .tx is removed.

[2020-06-26 09:13] #106 closed, assigned to nobody

[2020-06-26 09:18] bschmalhofer commented on #101
CheckModules and docker-compose.yml has been adapted.

[2020-06-26 09:18] #101 closed, assigned to nobody

[2020-06-26 09:20] bschmalhofer commented on #100
Still to do:

- Activate Elasticsearch. This might be done in Config.pm.
- Set up the webservice such that the host __elastic__ is used. This might be done via an UPDATE in the table webservice

[2020-06-26 10:25] bschmalhofer opened #110 "It is not easily possible to run OTOBO and OTRS in same mod_perl"
I had the situation where I had both _zzz_otrs.conf_ and _zzz_otobo.conf_ in _/etc/apache2/sites-enabled_ . My guess was that this should work fine, as OTRS and OTOBO are in different databases and are available in different pathes. However http://localhost/otobo/installer.pl loaded the Perl modules for OTRS. This is apparently because die modules are in the same namespace and OTRS prepends to `@I

[2020-06-26 10:36] StefanRother-OTOBO commented on #110
Hi Bernhard,

that's not true, I think your config is wrong. It's possible without a problem. Only two systems with mod_perl is not so easy (1 OTRS and 1 OTOBO or 2 OTRS).

Please send me your config file, then I'll take a look at it.

Best wishes,

Stefan

[2020-06-26 10:42] bschmalhofer opened #111 "Database host is not recognised when running installer.pl"
Looks like a stupid error in `Kernel::Modules::Installer`. The connection id is always set to undef and obviously there is no host for and undefined connection id.

[2020-06-26 10:54] bschmalhofer opened #112 "Remove references to installer.json"
installer.json is apparently no longer used. Therfore remove the references to it. installer.json is at least mentioned in Kernel::Modules::Installer.

[2020-06-26 11:15] bschmalhofer commented on #111
The connection id should now be retrieved again. When running the installer the Host _localhost_ was recognised.

[2020-06-26 11:15] #111 closed, assigned to nobody

[2020-06-26 11:38] bschmalhofer commented on #110
The problem was that OTRS was already installed. When calling installer.pl for OTOBO I got the error that SecureMode is set. My assumption was that installer.pl for OTOBO loaded modules from the OTRS installation, but I did not investigate further. The error went away after I removed zzz_otrs.conf.  I send my configs via Telegram.

[2020-06-26 12:06] #110 closed, assigned to nobody

[2020-06-26 13:42] bschmalhofer opened #114 "PSGI: provide and test a sample config for Apache"
There should be an easy way to run `otobo.psgi` under Apache.

[2020-06-26 14:06] bschmalhofer commented on #112
installer.json is gone

[2020-06-26 14:06] #112 closed, assigned to nobody

[2020-06-26 16:22] bschmalhofer opened #116 "PSGI: Allow to omit the funny '.pl' in the URL"
`http://localhost/otobo/index` should be the same as `http://localhost/otobo/index.pl` The same for `customer.pl` and so on.

[2020-06-26 16:29] bschmalhofer commented on #116
Stefan: Das solltest du entscheiden, da es nach außen sichtbar ist und vermutlich ein Unterschied zur mod_perl Variante ist.

[2020-06-26 16:30] bschmalhofer commented on #114
The sample config has been provided. Let's leave this issue open and collect some experience with it.

[2020-06-26 17:32] bschmalhofer commented on #108
Looks good so far.

[2020-06-26 17:32] #108 closed, assigned to bschmalhofer

[2020-06-29 17:14] bschmalhofer commented on #87
This works somewhat now. However there are still strange effects, deep recursion during global destruction,  when calling
`perl -I . -I Kernel/cpan-lib/ scripts/test/LayoutTicket.t `.
Other scripts
`perl -I . -I Kernel/cpan-lib/ scripts/test/LayoutTicket.t `.
seem to work without much recursion.

[2020-07-01 10:39] bschmalhofer opened #119 "unneeded entry in table gi_webservice_config_history"
In _scripts/database/otobo-initial_insert.xml_ there is an entry in gi_webservice_config_history which is essentially the same as the entry in gi_webservice_config. It looks like this entry can be removed.

[2020-07-01 10:44] svenoe commented on #119
No. The webservice history always contains the recent webservice configuration, too. See e.g. the end of WebserviceAdd() in Kernel/System/GenericInterface/Webservice.pm.

[2020-07-01 10:44] #119 closed, assigned to nobody

[2020-07-01 10:47] bschmalhofer opened #120 "Unneeded .sql scripts in scripts/database"
It looks like the scripts/database/*.sql are not used. Modules::Installer seems to only use scripts/database/otobo-initial_insert.xml. If that is the case then the superflous scripts should be removed.

[2020-07-01 11:02] bschmalhofer opened #122 "Docker: Support for Redis"
Add a container running Redis and adapt the config so that the Redis Cache is used.
It propably makes sense to put the Redis workfiles on the host.

[2020-07-01 13:17] bschmalhofer opened #123 "Docker: Put the docker specific settings in a XML file"
Right now the docker specific settings are set in _Kernel/Config.pm_. This means that they can't be changed by SysConfig.
A better approach is to move the settings into an .xml file in _Kernel/Config/Files/XML_.

The sub `Kernel::System::SysConfig::ConfigurationXML2DB()` declares an order of the config files based on the attribute `otobo.ìnit`in the XML file:

1. Framework
2. Application
3. Config

[2020-07-01 14:44] bschmalhofer opened #125 "Deactivate the webservice ElasticSearch on new installations"
When running the testsuite on my local machine I get a lot of error messages like:

`Message: DebugLog error:  Summary: Error while performing REST 'POST' request to Controller '/customeruser/_doc/CustomerLogin%23test7787801219300002' on Host 'http://loca      lhost:9200'. Response code '500'.  Data   : Response content: 'Can't connect to localhost:9200Connection refused at /home/bernhard/devel/OT

[2020-07-01 15:19] bschmalhofer commented on #100
The Elasticsearch host is adapted before installer.pl run. Closing this issue now. New problems can be reported in new issues.

[2020-07-01 15:19] #100 closed, assigned to nobody

[2020-07-01 15:26] bschmalhofer commented on #80
Feature is implemented and no complaints so far. Closing.

[2020-07-01 15:26] #80 closed, assigned to nobody

[2020-07-02 08:30] bschmalhofer commented on #78
The idea is to have a image with nginx, the static content, and a nginx.conf that forwards all requests to the otobo application. A directory might be exposed on the host, so that the location of the OTOBO webapp and the certificate can be configured on the host. Alternatively the Zertificate could be copied into the container.

There are two supported use cases:
1. run the container separately wi

[2020-07-02 12:04] bschmalhofer opened #128 "Unicode errors in test suite"
I ran
`bin/otobo.Console.pl Dev::UnitTest::Run --no-ansi > test.out 2>&1`
and got a lot of encoding related errors. E.g.

`not ok 13 - CryptType plain Password 'ÐÐµÑÐµÐ²Ð¾Ð´ÑÐ¸Ðº' (is 'undef' should be 'example-usertest7785801213800000')

`
`
not ok 127 - ArticleSeachIndex for Article 5635 MIMEBase_Body value (is 'text body title äöüßäöü€ис' should be 'text body title ã¤ã¶ã¼ããããâ¬ð¸ñ')
`

[2020-07-02 15:57] bschmalhofer commented on #128
Looks like the test scripts were read in in non-utf8 mode. Thus when evaling the read in file, the strings were byte arrays and not properly decoded Perl strings. This cause string comparisons to fail, even thought the bytes were identical.
Fix: read the test files in with the the `<:utf8' mode.

[2020-07-02 16:07] bschmalhofer opened #129 "Consistent and concise Boilerplate code"
Inspired by https://www.perl.com/article/announcing-perl-7/ I propose to change the standard boilerplate. I propose the following:

[code]

[2020-07-03 13:22] bschmalhofer commented on #78
It looks like there was a problem with /otobo-web, not with the User-Agent.

[2020-07-03 14:40] bschmalhofer commented on #78
Found the working with a volume is much more simple than adding files to a container.

[2020-07-03 16:31] bschmalhofer commented on #78
Added docker-compose_https.yml for the same thing OTOBO on HTTPS.

[2020-07-03 16:57] bschmalhofer commented on #102
The problem with override files that they only add and never mask the setting in the base file.
Therefore we use a base.yml without a port definition and overrides for the use cases.

[2020-07-04 09:35] bschmalhofer opened #132 "Apache: Reorganize the sample Apache config files"
Provide a config like _scripts/apache2-psgi.include.conf_ but with SSL enabled.

[code]

[2020-07-04 09:38] bschmalhofer commented on #132
See also #114 .

[2020-07-04 09:51] bschmalhofer opened #133 "Are the files in the folder 'development' still needed ?"
If this dir is obsolete then it should be removed or the purpose should be documented.

[2020-07-04 11:50] bschmalhofer opened #134 "Docker: create script that packages files for running OTOBO"
The plan is that users use the OTOBO images from http://hub.docker.com. Nevertheless they will need the documentation, docker-compose files and maybe sample .env files for actually running OTOBO. It is not obvious how these files will be distributed. But the assumption is that  a script is needed for collecting the needed files. Alternatively there might be a seperate github repository.

[2020-07-04 12:55] bschmalhofer opened #136 "Not well formed XML is accepted in Kernel/Config/Files/XML/*.xml files"
In `Kernel::System::SysConfig::XML::SettingsListParse()` the XML content is split up before the individual XML snippets are parsed by `XML::LibXML::Simple`. Effectively this allows that the original XML file is not a well formed XML file. This can be considered as a bug.

[2020-07-05 09:12] bschmalhofer commented on #102
Currently one often has to specify `--project-dir .` when running `docker-compos` from the root dir. Maybe this can be alleviated by setting build.context = ../.. in base.yml and in https.yml.

[2020-07-06 07:29] bschmalhofer commented on #123
The branch for this feature was misnamed as issue-113-Config_pm instead of issue-123-Config_pm

[2020-07-06 11:09] bschmalhofer commented on #102
Yes, setting context in the .yml files worked. The small downside it that the project name must be set in the .env file.

[2020-07-06 11:55] bschmalhofer opened #138 "Docker: incorrect start URL after installer.pl has run"
Run installer.pl via the nginx-proxy gives inkorrekt URL when it is finished.

http://web:5000/otobo/index.pl instead of https://otobo/otobo/index.pl

https://metacpan.org/pod/Plack::Middleware::ReverseProxy might fix this.

[2020-07-06 12:40] bschmalhofer commented on #78
This works mostly. Still existing problems should be handled in their own issues. Closing.

[2020-07-06 12:40] #78 closed, assigned to nobody

[2020-07-06 12:43] bschmalhofer commented on #122
Seems to work.

[2020-07-06 12:43] #122 closed, assigned to nobody

[2020-07-06 13:09] bschmalhofer commented on #138
Also fix the incorrect HTTP port forwarding for otobo nginx.
Also fix https://localhost/hello.

[2020-07-06 15:06] bschmalhofer opened #139 "Docker: better check dependencies"
The docker-compose files do have basic dependency checking configure. As far as I understand it, this only sets up the order in which the containers are started. However it looks like there is no check that the db is actually up and running before the webserver is started.
A similar situation might occur when nginx is ready but the HTTP-webserver is currently restarting.

[2020-07-06 16:59] bschmalhofer commented on #138
Looks better now.

[2020-07-06 16:59] #138 closed, assigned to nobody

[2020-07-06 17:05] bschmalhofer opened #142 "Documentation of HttpType"
In _Kernel/Config/Files/XML/Framework.xml_ the description for the setting `HttpType` says:

`        <Description Translatable="1">Defines the type of protocol, used by the web server, to serve the application. If https protocol will be used instead of plain http, it must be specified here. Since this has no affect on the web server's settings or behavior, it will not change the method of access

[2020-07-06 19:40] bschmalhofer opened #143 "Lock contention issue with table schedule_task"
When running the testsuite under Docker with MariaDB I found that some test seem to hang.
`Show processlist` and the error messages indicate that the problem is with the table _schedule_task_.

`SHOW ENGINE INNODB STATUS\G` says:
[code]

The index scheduler_task_lock_key_id is declared as `UNIQUE KEY `scheduler_task_ident` (`ident`),`.
The attribute `ident` is declared as ` bigint(20) NOT NULL,`.

[2020-07-06 19:50] bschmalhofer commented on #143
This effect occurs e.g. in the test Ticket::ArticleDynamicFieldSearch .

[2020-07-07 07:47] bschmalhofer opened #144 "UnitTests: no failure reported when otobo could not connect to DB"
I inavertently started the test suite while the database otobo was not yet created. On many test scripts, that needed the DB, I got no failures.

[2020-07-07 08:06] bschmalhofer opened #145 "Docker: Set TestHTTPHostname"
Per default the test scripts query http://localhost. However in the docker container otobo_web_1 the Gazelle webserver runs on port 5000.  This should be handled by setting TestHTTPHostname to 'localhost:5000'

[2020-07-07 09:15] bschmalhofer commented on #128
Is fixed.

[2020-07-07 09:15] #128 closed, assigned to nobody

[2020-07-07 09:27] StefanRother-OTOBO commented on #125
At the moment the Elasticsearch web service is not supposed to be valid right after the installation. Executing
bin/otobo.Console.pl Maint::Elasticsearch::Migration
automatically sets the web service to valid and sets up the indices on the Elasticsearch server. We could automate this within the installation process, however.

[2020-07-07 09:33] bschmalhofer commented on #114
Done

[2020-07-07 09:33] #114 closed, assigned to bschmalhofer

[2020-07-07 10:14] bschmalhofer opened #146 "Password sanity check in installer.pl"
In installer.pl there is a JavaScript check that the repeated DB password for 'otobo' is the same as the password,

1. Password is entered
2. Start typing the repeated password => Password is marked in red
3. Really typing the identical password => Password is still marked in red

[2020-07-07 10:35] bschmalhofer opened #147 "Install Sub::Exporter"
_Kernel/cpan-lib/Crypt/Random/Source.pm_ requires the CPAN module `Sub::Exporter`. However this is neither in `Kernel/cpan-lib` nor declared in _bin/otoboCheckModules.pl_ .
I'll add it to _bin/otoboCheckModules.pl_ as I'm not sure what the policies are for `Kernel/cpan-lib' .

[2020-07-07 11:03] bschmalhofer commented on #87
Note: For testing in the otobo_web_1 container the Elasticsearch webservice needs to be deactivated.

Testing can be done with:

`prove -I . -I Kernel/cpan-lib -r --verbose scripts/test/ > prove_verbose.out 2>&1`

TODO:

- [x] Check whether tests outcome get better or faster when the Daemon is not running

- [x] Still some instances of: `Can't return outside a subroutine`

[2020-07-07 11:35] bschmalhofer opened #149 "Docker: Build issues on hub.docker.com"
The build of otobo web fails. The error is:
[code]
Looks like either the `COPY` or the ẀORKDIR` did something unexpected. How can this be debugged? Add commands that do a wd`, `ls`, or `tree`?

[2020-07-07 12:54] bschmalhofer opened #150 "UnitTests: Reduce number of warnings concerning 'Subroutine redefined at'"
My suspicion is that most of these are not necessary as redefining subroutines is the purpose of the code, not an oversight.
Also require `DateTime 1.09` or later, so that `Kernel::System::UnitTest` no longer has to mess with `*DateTime::now()` RThis can be done by setting `VersionRequired` in `bin/otobo.CheckModules.pl`.

The warnings can be turned off with `no warnings qw(redefine)`. `Sub::Overr

[2020-07-07 13:36] svenoe opened #153 "Failing unit tests with "use 5.24" in UnitTest/Driver.pm."
As an example: bin/otobo.Console.pl Dev::UnitTest::Run --test Ticket/MetaArticle

lc() behaves differently in scripts/test/Ticket/MetaArticle.t line 405 with 5.24 in UnitTest/Driver.pm compared to its counterpart in $Kernel::OM->Get('Kernel::Output::HTML::TicketZoom::Agent::Base')->_ArticleSenderImage(...).

[2020-07-07 14:08] bschmalhofer opened #154 "Docker: Test failures with Kernel::System::GenericInterface::Webservice"
For example:
[code]

[2020-07-07 14:48] bschmalhofer commented on #87
It looks like shutting down the Daemon has no large effect.
Closing the issue now. Specific failures can be handled in dedicated issues.

[2020-07-07 14:48] #87 closed, assigned to nobody

[2020-07-07 15:24] bschmalhofer commented on #154
It looks like the Webserver is hit with Requests like `http://localhost:5000/otobo//nph-genericinterface.pl`. Note the double `//`  Supporting the `//`fixes propably the immediate problem.

But another issue might be that Proxies discard the douple `//` . In this case functionality might be lost. More Testing is needed.

[2020-07-07 17:03] bschmalhofer commented on #154
The first guess did not work out. Now let's ponder another idea. On observation is that some of the test cases sometimes work. Maybe it's not a general prolem, but a problem with timing. The test script changes the Configuration by writing small .pm files into `Kernel/Config/Files`. This causes the Gazelle Webserver to restart and this takes some time.

TODO:

- [x] instead of restarting Gazelle,

[2020-07-07 17:09] bschmalhofer commented on #147
PR is merged

[2020-07-07 17:09] #147 closed, assigned to nobody

[2020-07-07 17:10] bschmalhofer commented on #145
PR is merged

[2020-07-07 17:10] #145 closed, assigned to nobody

[2020-07-07 17:11] bschmalhofer commented on #143
For some reason I haven't seen this effect any more. Let's close this issue on Friday, unless it resurfaces again.

[2020-07-08 08:28] bschmalhofer opened #155 "otobo.psgi: Ponder automatic maintainance job"
In otobo.psgi there is the following TODO comment:
[code]
TODO: Either activate maintainance jobs or remove the comment.

[2020-07-08 08:57] bschmalhofer opened #156 "Testing: add a quick syntax check"
It't easy to check in files with stupid syntax errors.

- [ ] add a little test script that checks syntax

[2020-07-08 09:36] bschmalhofer commented on #146
Also: maybe only activate the 'Continue' button when the passwords match

[2020-07-08 15:25] bschmalhofer commented on #156
TODO:

- [x] This test is executed even when run via `otobo.Console.pl`

[2020-07-08 15:26] bschmalhofer commented on #149
Looks like `dockerignore`was the culprit.

[2020-07-08 16:06] bschmalhofer commented on #154
The trick was to remove the `-R Kernel` when calling `plackup`.
Looks good now.

[2020-07-08 16:06] #154 closed, assigned to bschmalhofer

[2020-07-08 16:08] bschmalhofer commented on #143
Looks good for some strange reason. Let's close the issue, even if it is not Friday yet.

[2020-07-08 16:08] #143 closed, assigned to nobody

[2020-07-08 16:18] bschmalhofer opened #160 "Test error in ./scripts/test/CheckItem.t"
In the Docker container with prove:
[code]
Maybe an utf8-issue as Console.pl reports no error:

otobo@bb2236bcfb04:~$ bin/otobo.Console.pl Dev::UnitTest::Run --test CheckItem
Error: The terminal encoding should be set to 'utf-8', but is 'ansi_x3.4-1968'. Some characters might not be displayed correctly.
+-------------------------------------------------------------------+
  /opt/otobo/scripts/test

[2020-07-08 16:27] bschmalhofer opened #161 "UnitTests: 127.0.0.1 vs. 'none'"
Some Unittests fail because they expect 'none' and get 127.0.0.1. The consensus is that this is fine and that the test cases should be adapted.

[2020-07-08 16:28] bschmalhofer opened #162 "Unittests: failures in ./scripts/test/Layout/CustomerAge.t"
Needs to be investigated.

[2020-07-08 16:30] bschmalhofer opened #163 "UnitTests: failure in ./scripts/test/Package/ConfiguredRepositoryDefinitionGet.t"
Looks like no repository is configured. Investigate.

[2020-07-08 16:35] bschmalhofer opened #164 "UnitTest: Failures regarding Certificates and Encryption"
There are some failures regarding Encryption and Certificates.

[2020-07-08 16:36] bschmalhofer opened #165 "Docker: should FTP-Port be exposed ?"
Ponder whether the FTP-Ports should be opened on the otobo web container.

[2020-07-09 06:23] bschmalhofer opened #166 "Docker: generate the ARCHIVE file"
It's probably worthwhile to include ARCHIVE in the docker image. But for git-Checkout Archive.t should skip checking ARCHIVE when the file was not yet generated.

[2020-07-09 08:46] bschmalhofer opened #167 "Docker: The dot files in the root should be copied into the image"
The dot files like _.fetchmailrc.dist, .mailfilter.dist, .mailmap, .otobo-ci.yml, .procmailrc.dist_ have been reviewed and should end up in the docker image.
Files like _.git, .gitignore, .cpan_ should not be copied into the image,

[2020-07-09 08:51] bschmalhofer commented on #150
Let's limit this to the DateTime Module.
Closing the issue as the DateTime warnings are no longer emitted.

[2020-07-09 08:51] #150 closed, assigned to bschmalhofer

[2020-07-09 08:53] bschmalhofer commented on #165
OTOBO does not serve FTP. Therefore the containers do not need to expose the FTP port.

[2020-07-09 08:53] #165 closed, assigned to StefanRother-OTOBO

[2020-07-09 09:19] bschmalhofer commented on #166
Looks better now

[2020-07-09 09:19] #166 closed, assigned to nobody

[2020-07-09 10:02] bschmalhofer commented on #162
These failures have disappeared. Maybe the run on 2020-07-08 was with a different language setting.

[2020-07-09 10:02] #162 closed, assigned to nobody

[2020-07-09 10:37] bschmalhofer opened #169 "Docker: investigate which parts of auto_build.sh must be in the Dockerfile"
Look at _scripts/auto_build/auto_build.sh_ and compare it to _otobo.web.dockerfile_.

[2020-07-09 11:04] bschmalhofer commented on #169
Note that some of these are already covered by the Dockerfile.

- [x] building of ARCHIVE  Solution: `bin/otobo.CheckSum.pl -a create` is called in the Dockerfile

- [x] deletion of 'development'.  Solution: included in _.dockerignore_

- [x] mkdir var/tmp,  created when image is build

- [x] mkdir var/article,  Solution: will be handled on #193

- [x] mkdir var/log,  Solution: created because of

[2020-07-09 11:19] bschmalhofer commented on #167
Looks good. Closing.

[2020-07-09 11:19] #167 closed, assigned to bschmalhofer

[2020-07-09 12:14] bschmalhofer commented on #156
Looks good. Closing.

[2020-07-09 12:14] #156 closed, assigned to bschmalhofer

[2020-07-09 12:30] bschmalhofer commented on #149
Building on hub.docker.com works again. It was the .dockerignore. Closing.

[2020-07-09 12:30] #149 closed, assigned to StefanRother-OTOBO

[2020-07-09 12:33] bschmalhofer commented on #134
This is, or will be, solved with the Github repository https://github.com/RotherOSS/otobo-docker. No script is needed. Closing.

[2020-07-09 12:33] #134 closed, assigned to StefanRother-OTOBO

[2020-07-09 12:36] bschmalhofer commented on #125
The webservice Elasticsearch has been disabled by default. Closing the issiue.
If the webservice should be active by default in the Docker, then a new issue should be open for that requirement.

[2020-07-09 12:36] #125 closed, assigned to svenoe

[2020-07-09 12:38] bschmalhofer commented on #116
For constistencies sake, the URLs without '.pl' should then work on Apache too.

[2020-07-09 12:40] bschmalhofer commented on #102
This is now in the shiny new https://github.com/RotherOSS/otobo-docker

[2020-07-09 12:40] #102 closed, assigned to nobody

[2020-07-09 13:01] bschmalhofer commented on #86
There is also the shiny new _utf8mb4_0900_ai_ci_ but probably not yet on MariaDB. Anyways, let's move this to the next release.

[2020-07-09 13:47] bschmalhofer commented on #163
The file  _Kernel/cpan-lib/Mozilla/CA/cacert.pem _ was not copied into the container.

[2020-07-09 13:49] bschmalhofer commented on #163
Look good. Closing.

[2020-07-09 13:49] #163 closed, assigned to nobody

[2020-07-09 13:58] bschmalhofer opened #172 "Unittest: Failures in TemplateGenerator/Replace.t"
There are four new test failures in TemplateGenerator/Replace.t:

[code]

Both runs are from 2020-07-09.

[2020-07-09 13:59] bschmalhofer commented on #164
Looks better now, This was due to that sample crypto files were not copied into the container. Closing.

[2020-07-09 13:59] #164 closed, assigned to nobody

[2020-07-09 14:01] bschmalhofer commented on #160
This is fine now. Closing.

[2020-07-09 14:01] #160 closed, assigned to nobody

[2020-07-09 14:40] bschmalhofer opened #174 "UnitTests: 16 failures scripts/test/Compile.t"
Currently there are 17 compile failures. Some of these failures are for optional or Windows specific modules.
Also looks like Selenium has problems.
Also some 'use DateTime 1.08' problems.

Investigate.

[2020-07-09 14:46] bschmalhofer opened #175 "UnitTests: Reactivate Selenium tests"
Looks like testing with Selenium is deactivated.

[2020-07-09 15:11] bschmalhofer opened #176 "UnitTest: Failures in Frontend/Basic.t"
Looks like internal server errors for nine frontend modules.

[2020-07-09 15:13] bschmalhofer commented on #176
E.g.

`not ok 836 - Module AjaxAttachment status code (http://localhost:5000/otobo/index.pl?Action=AjaxAttachment) (is '500' should be '200')
`

[2020-07-09 15:20] bschmalhofer opened #177 "UnitTests: Failures in scripts/test/SMIME.t"
12 failures

[2020-07-09 15:23] bschmalhofer opened #178 "UnitTest: Failures in scripts/test/UnitTest.t"
This is most likely just a mixup of TAP from the code under test and the actual Test report.

[2020-07-09 15:25] bschmalhofer opened #179 "UnitTests: single failure in scripts/test/Stats/StatsRun.t"
Investigate

[2020-07-10 09:39] bschmalhofer opened #180 "Eliminate exit in Kernel::Output::HTML::Layout"
The subs FatalError() and CustomerFatalError() call exit after printing HTML with the error message. The reason is not obvious. Under Apache/mod_perl this still return an status code of 200 (OK). Under Gazelle the HTTP status code 500 (Internal Server Error) is returned.

[2020-07-10 09:42] bschmalhofer opened #181 "PSGI: Eliminate CGI::Emulate::PSGI"
CGI::Emulate::PSGI is a workaround and it would be nice to have a more native PSGI application. But there are some obstacles.

# Direct use of CGI variables in `%ENV`.

Relevant environment variables:

- [x] CONTENT_LENGTH, **still used in SOAP transport**

- [x] CONTENT_TYPE, **still used in SOAP transport**

- [x] EXPECT, **still used in SOAP transport**

- [x] FCGI_ROLE    This env var is actua

[2020-07-10 10:27] bschmalhofer commented on #176
It was the 'exit' in Kernel/Output/HTML/Layout.pm. Looks good now. Remaining failure is
`not ok 7 - Could not login to agent interface, aborting! URL: https://localhost:5000/otobo/index.pl?Action=Login;User=test3688007653300002;Password=test3688007653300002;

But that is a different issue. Closing.
`

[2020-07-10 10:29] bschmalhofer opened #183 "UnitTests: Failure for AdminLog in scripts/tests/Frontend/Basic.t"
Seems to occur under PSGI and under Apache.

`not ok 322 - Module AdminLog status code (http://localhost:5000/otobo/index.pl?Action=AdminLog) (is '500' should be '200')`

[2020-07-10 10:43] bschmalhofer commented on #176
Ouch, only a single failure but the rest of the tests are skipped. Reopening.

[2020-07-10 11:06] bschmalhofer opened #184 "UnitTests: Make test work with HttpType = https"
If that is not easily done, then set HttpType = http for the UnitTest scripts.

[2020-07-10 11:11] bschmalhofer commented on #176
Looks fine with HttpType = http.
The single failure is in issue #183 . Closing again.

[2020-07-10 11:11] #176 closed, assigned to nobody

[2020-07-10 11:44] bschmalhofer commented on #172
This failure has disappeared. Closing.

[2020-07-10 11:44] #172 closed, assigned to nobody

[2020-07-10 13:37] bschmalhofer commented on #179
This failure occurs because the test script expects that there are statistics but there are none. The table xml_storage is empty and no sample stats are available in var stats. It's not obvious whether this situation is as intended or a bug in the Docker installation.

[2020-07-10 16:13] svenoe commented on #183
Due to an erroneous interaction with missing time stamps in log entries. Fixed by reverting DateTime changes: bef967ac8c7be7597ca6428ba42ce341cabe0c09

[2020-07-10 16:13] #183 closed, assigned to nobody

[2020-07-10 16:14] svenoe commented on #177
Probably fixed with: cf7bcbd379fcde912a9e947c284bcd2295b4be95

[2020-07-10 16:15] svenoe commented on #153
Fixed with: 1451f846c2fc918792205cc923a8dfbacd4e673f

[2020-07-10 16:15] #153 closed, assigned to nobody

[2020-07-10 16:56] bschmalhofer opened #189 "UnitTests: Two Failures in Daemon/DaemonModules/SchedulerGenericAgentTaskManager.t"
This might be relevant only for Docker:

[code]

[2020-07-10 17:07] bschmalhofer commented on #179
Looks good now, as var/stats is no longer empty. Closing.

[2020-07-10 17:07] #179 closed, assigned to nobody

[2020-07-10 17:09] bschmalhofer commented on #177
Looks good, Closing.

[2020-07-10 17:09] #177 closed, assigned to nobody

[2020-07-10 17:20] bschmalhofer commented on #161
Looks good now. Closing.

[2020-07-10 17:20] #161 closed, assigned to nobody

[2020-07-10 17:21] bschmalhofer commented on #174
Nothing has changed.

[2020-07-10 17:27] bschmalhofer opened #190 "UnitTests: some failures in migration related tests"
[code]

[2020-07-10 17:28] bschmalhofer commented on #178
Looks good now. Closing,

[2020-07-10 17:28] #178 closed, assigned to nobody

[2020-07-10 17:32] bschmalhofer opened #191 "UnitTest: Clean up TAP parse errors"
That's nice to have.

[2020-07-11 07:40] bschmalhofer opened #192 "UnitTest: Make the console cmd Dev::UnitTest::Run a frontend for TAP::Harness"
As `prove -I . -I Kernel\cpan-lib -r scripts/test`is now working, the console command command can be converted to doing the same thing as `prove`. The important features should be preserved. Unused features should be removed.

Internally `Kernel::System::UnitTest::Driver`could changed to be a proper Test2 testing tool. See https://metacpan.org/pod/Test2::Manual::Tooling . This should be safe for a

[2020-07-11 07:42] bschmalhofer opened #193 "Docker: The article storage should be in a separate volume"
It feel right to separate code and content.
This is one of the steps for making the Docker installation easily upgradeable.

[2020-07-11 07:43] svenoe commented on #192
First we have to discuss the pros and cons of this!! ;)

[2020-07-11 07:45] bschmalhofer opened #194 "Docker: separate git repos for otobo-nginx-webproxy and otobo-elasticsearch"
Separate things should be separate. _otobo.web.dockerfile_ could then be renamed to _Dockerfile_.

[2020-07-11 07:48] bschmalhofer opened #195 "Migrate the FastCGI support to a wrapper around otobo.psgi"
No need to maintain a separate set of scripts.

[2020-07-11 07:49] bschmalhofer commented on #192
I'll change the label to 'question'.

[2020-07-11 09:23] bschmalhofer commented on #195
The most simple setup is using [mod_proxy_fcig](https://httpd.apache.org/docs/2.4/mod/mod_proxy_fcgi.html). This makes the Apache config very similar to _scripts/apache2-httpd-plack-proxy.conf_ .

[2020-07-11 12:10] bschmalhofer commented on #195
This does not work yet. The request is being forwarded, but for some reason the mapping of the application is broken. Therefore otobo.psgi return the status 404.
But that is good enough to remove the old FastCGI support. Keeping the issue open.

[2020-07-11 13:53] bschmalhofer commented on #189
This has disappeard. Maybe it was because in the last test run the Daemon was still running. Closing

[2020-07-11 13:53] #189 closed, assigned to nobody

[2020-07-11 13:59] bschmalhofer opened #197 "UnitTest: 1 failure in scripts/test/TemplateGenerator/Replace.t"
A new failure from a test run under Docker.
Seen in commit  012cc9150b90cccba5ebaf74c1a9e7804f2afc8c

[code]

[2020-07-11 14:21] bschmalhofer commented on #197
This is because in the Docker-Installation the setting is `$Self->{'Ticket::SubjectRe'} =  'RE###';`  No Idea where that value comes from.

[2020-07-11 14:41] svenoe commented on #197
No errors in standard installation, commit: 2d61f7716999e717fee9e9a4f48ae7653cdc2481

[2020-07-13 08:55] bschmalhofer opened #198 "Add a database backend for SQLite"
That's mostly nice to have, but might be useful for integration testing.

[2020-07-13 09:20] bschmalhofer opened #199 "PSGI: Shorten the Traceback"
In case of error a Stacktrace is printed. This stacktrace contains with otobo.psgi the call stack with all of the middlewares. This appears to be overkill.

Example:

[code]

[2020-07-13 09:36] bschmalhofer opened #200 "Support Data Collector: warns about utf8mb4"
These warnings are not warranted:

[code]

[2020-07-13 09:39] svenoe commented on #200
Fixed with c23c33e2c50132e6d3c26d0276dc7d01dbb038cb ?

[2020-07-13 09:40] bschmalhofer commented on #200
Is already fixed in the newest version.

[2020-07-13 09:40] #200 closed, assigned to bschmalhofer

[2020-07-13 10:02] bschmalhofer opened #201 "PSGI: disable the devel middlewares in production"
The docs for `plackup`say for the option `--env`:

For production these middlewares shoud be turned off.

[2020-07-13 11:12] bschmalhofer opened #203 "Docker: add support for a patchlevel version upgrade"
Currently one can't simply upgrade the otobo docker image as runtime data is stored in /opt/otobo. Examples are the dirs _Custom_ and  _var_ and the files _ZZZAAuto,pm_ and _Config.pm_. Runtime and code data should be separated. Also investigate which cases are handled in https://hub.docker.com/r/juanluisbaptiste/otrs.

[2020-07-13 11:31] bschmalhofer commented on #201
Looks good. Triggered an error by trying the send a mail, when Emai is not configured.
The Stacktrace no longer showed the AccessLog, StackTrace, and Lint middlewares. Closing.

[2020-07-13 11:31] #201 closed, assigned to nobody

[2020-07-13 12:13] bschmalhofer opened #204 "Display of Internationalised Resource Identifiers"
I added the URL https://ca.wikipedia.org/wiki/Regi%C3%B3_ant%C3%A0rtica as the URL of an Customer. When opening the Link in Firefox it looks nice with all the diacritic characters properly displayed. But in the Customer Information Center all the ugly URL Escape codes are shown. It would be nicer to show the accented characters.

See https://www.ietf.org/rfc/rfc3987.txt

[2020-07-13 12:31] bschmalhofer opened #205 "Translation of country names using Locale::CLDR"
Most Country names are not translated. This means that when adding a customer in a non-english frontend, the country names are still mostly English.

TODO:

- [ ] maybe show two versions, like in Personal Settings, but what about multiligual countries ?
- [ ] maybe add missing Translations

My guess is that these translations can be taken from a publicly available resource.

[2020-07-13 13:16] bschmalhofer opened #206 "UnitTests: Two Failures in scripts/test/SysConfig/SettingEffectiveValueCheck.t"
These failtures occur only when the UserTimeZone of 'root@localhost' is not UTC.

TODO:

- [x] Check whether the result is sane in the case when UserTimeZone is Europe/Berlin: yes because there is no summer savings time in February

- [x] Adpapt the test script, so that it explicitly sets UserTimeZone

[2020-07-13 13:18] bschmalhofer commented on #174
The failures are down to 16, as CGI::Fast has been removed.

[2020-07-13 13:26] bschmalhofer commented on #197
Works in fresh OTOBO image. No idea where  ` $Self->{'Ticket::SubjectRe'} = 'RE###'; ` came from. Closing,

[2020-07-14 09:07] bschmalhofer opened #209 "Rename the namespace Kernel to OTOBO"
This is just a point for discussion, Just like RequestTracker has the namespace RT, OTOBO could have the namespace OTOBO. Kernel is not very descriptive.

[2020-07-14 09:14] bschmalhofer commented on #73
I checked how Request Tracker handles CPAN dependencies. The relevant file is https://github.com/bestpractical/rt/blob/stable/sbin/rt-test-dependencies.in is comparable to bin/otobo.CheckModules.pl.  The difference is RT does not provide support for installing via the repository of the distro. The other difference is that RT calls cpanm directly, not via cpanfile as is possible in OTOBO.

[2020-07-14 09:40] bschmalhofer opened #210 "Docker: Document the versions of CPAN dependencies"
The current handling of CPAN dependencies is currently diverse.

1. Modules in Kernel/cpan-lib (some of them are broken)
2. Installation via Distro-Packages
3. Installation via cpanfile

1. has the problem that the policies for why these files are in Kernel/cpan-lib and others are not, is not obvious.
2. No problem, but is a bit of an effort to find the right package names
3. The versions that are

[2020-07-15 05:59] StefanRother-OTOBO commented on #205
If you look at the country names in the OTOBO -> Personal settings, you can see how it is supposed to be. First the name is displayed in the language of the country (so that the user who speaks the language can recognize it. Behind the minus is then the translation in the currently active language.

Edit: this seems to be about language names, not the country names

[2020-07-15 13:43] bschmalhofer opened #211 "Set up continous integration"
Building and testing on multiple platforms and versions sound like a good idea.
Based on https://www.youtube.com/watch?v=WfXo71I7LmE&list=WL&index=5&t=0s both Github Workflows and Circle CI look like good tools for that.

See also:

- https://github.com/Perl/docker-perl-tester
- https://github.com/oalders/presentations/blob/master/slides/4-github-actions/marp.pdfPb

Some tests and actions, e.g. ti

[2020-07-17 13:44] bschmalhofer commented on #169
This needs some improvement.

[2020-07-17 14:14] bschmalhofer commented on #174
Failures down to 12 after fixing `Kernel::System::SysConfig`.

[2020-07-17 18:51] bschmalhofer opened #213 "Kernel/System/SysConfig/Migration.pm does not compile"
Fix this module if it is still needed.

`# Can't locate scripts/MigrateFromOTRS/Base.pm in @INC (you may need to install the scripts::MigrateFromOTRS::Base module) (@INC contains: blib/lib /home/bernhard/devel/OTOBO/otobo /home/bernhard/devel/OTOBO/otobo/Kernel/cpan-lib /etc/perl /usr/local/lib/x86_64-linux-gnu/perl/5.30.0 /usr/local/share/perl/5.30.0/x86_64-linux-gnu-thread-multi /usr/local/share

[2020-07-17 19:31] bschmalhofer commented on #174
Some tests are expected to fail, e.g. when they provide support for Windows or when dependencies are optional.
The failure of SOAP::Lite appears to be a known bug which should be no hindrance for OTOBO.
For the failure of Kernel/System/SysConfig/Migration.pm there is now #213 .

[code]

[2020-07-18 11:43] bschmalhofer commented on #195
This was an issue with PATH_INFO being empty. The needed info can be taken from SCRIPT_NAME. A workaround was added and it looks better now. Closing this issue, even though FCGI support is not well tested.

[2020-07-18 11:43] #195 closed, assigned to bschmalhofer

[2020-07-18 11:53] bschmalhofer opened #216 "dbviewer with HTTPS"
Looks like https://localhost/otobo/dbviewer/ has problem with the IsAdmin-Check. This behavior was noticed in the Docker based setup.

[2020-07-19 09:52] bschmalhofer commented on #206
Failures are fixed. Closing. Opening another issue concerning RestoreDatabase.

[2020-07-19 09:52] #206 closed, assigned to bschmalhofer

[2020-07-19 09:57] bschmalhofer opened #218 "RestoreDatabase in Kernel::System::UnitTest::Helper does not restore the database"
This was noticed in _scripts/test/SysConfig/SettingEffectiveValueCheck.t_ , When the UserTimeZone is initially at 'Australia/Darwin' then it will be 'UTC' after the test run. The temporary setting is not restored.
TODO:

- [x] investigate whether this is a general problem

It's not a general problem. The problem in _scripts/test/SysConfig/SettingEffectiveValueCheck.t_ was that user preferences wer

[2020-07-19 20:13] joserribeiro26 opened #219 "Add CPAN Required Lib"
After install, I accesss Admin Area e I need install this library

Unicode::Collate::Locale

My database default charset is utf8.
O.S: Centos 8
Database: MariaDB: 10.3

 Message: Can't locate Unicode/Collate/Locale.pm in @INC (you may need to install the Unicode::Collate::Locale module) (@INC contains: /opt/otobo/Custom /opt/otobo/Kernel/cpan-lib /opt/otobo/ /usr/local/lib64/perl5 /usr/local/share

[2020-07-20 07:25] bschmalhofer commented on #219
Obrigado José,

this is the first non-core contribution in this repository!

The issue is a bit strange. `Unicode::Collate::Local` has been a core Perl module since Perl 5.13.4.

[code]
But it looks like CentOS has messed with the list of included modules and provides Unicode::Collate::Locale in a separate rpm, https://www.rpmfind.net/linux/rpm2html/search.php?query=perl%28Unicode%3A%3ACollate%3A%

[2020-07-20 09:27] bschmalhofer opened #222 "Do not set @INC in modules"
At least be careful about it. `$FindBin::Bin` is dangerous because one can't be sure about the location of the calling script.

[2020-07-20 10:00] bschmalhofer commented on #222
Remove the setting of `@INC`in Kernel/Config/Defaults.pm. No other occurences found. Closing.

[2020-07-20 10:00] #222 closed, assigned to bschmalhofer

[2020-07-20 14:14] bschmalhofer commented on #181
Getting rid of environment vars in the SOAP generic interface is not trivial. A better idea might be to provide a separate transport module for use with PSGI.

[2020-07-21 07:54] bschmalhofer commented on #213
This is related to #190.
Sven, could you take a look at it? As I never looked into the migration procedures. Is migration from OTRS 5 actually supported? Also there seems to be some mixup 'OTRS' vs. 'OTOBO'. There is no such thing as OTOBO 5 or OTOBO 6.

[2020-07-21 09:15] bschmalhofer opened #225 "Suggestion: remove support for Basic Auth"
Basic Auth is so 1990s. Let's discuss it.

[2020-07-21 09:30] bschmalhofer opened #226 "Suggestion: remove the AgentZoom frontend module"
As OTOBO is a new system no compatability support is necessary.

[2020-07-21 09:51] svenoe commented on #226
We allow migration from otrs, so it would have to be clarified which versions are affected by this:
`#`
`# LEGACY: This module redirects to AgentTicketZoom. It should be kept for a while`
`#   because existing legacy/upgraded systems have it in their notifications.`
`#   To drop it, existing notifications would have to be changed by the database`
`#   upgrading script.`
`#`

And whether it is real

[2020-07-21 11:08] bschmalhofer opened #227 "Docker: provide support for database backups"
Continue to be inspired by https://hub.docker.com/r/juanluisbaptiste/otrs.

Not only the database, but the whole database should be backed up.
It should be possible to define periodic backups as cron jobs on otobo_cron_1.

See also: https://www.juanbaptiste.tech/2018/12/automating-backups-of-otrs-docker-containers.html

[2020-07-21 14:04] bschmalhofer commented on #218
Looks fine now. The time zone is still _Australia/Darwin_ after running _scripts/test/SysConfig/SettingEffectiveValueCheck.t_ . Closing.

[2020-07-21 14:04] #218 closed, assigned to nobody

[2020-07-21 14:25] bschmalhofer commented on #174
Closing as the failures are either acceptable or have their own issues already opened.

[2020-07-21 14:25] #174 closed, assigned to bschmalhofer

[2020-07-21 15:32] bschmalhofer commented on #216
Yes, the dbviewer application also needs to dance the reverse proxy dance.

[2020-07-21 15:41] bschmalhofer commented on #216
https://localhost/otobo/dbviewer/dbviewer/tables?database=otobo looks fine now. Closing.

[2020-07-21 15:41] #216 closed, assigned to nobody

[2020-07-22 08:20] bschmalhofer commented on #142
The effect of HttpType on the OTOBO cookie is now mentioned. Closing.

[2020-07-22 08:20] #142 closed, assigned to bschmalhofer

[2020-07-22 09:43] bschmalhofer commented on #169
All obviously releveant commands have been considered. Closing.

[2020-07-22 09:43] #169 closed, assigned to StefanRother-OTOBO

[2020-07-22 10:00] bschmalhofer commented on #78
This is already in OTOBO 10.0.1. Setting the milestone to 10.0.2 because 10.0 is already closed.

[2020-07-22 10:03] bschmalhofer commented on #134
This was already in OTOBO 10.0.1. Setting Milestone to 10.0.2 because 10.0 is already closed,

[2020-07-22 10:06] bschmalhofer commented on #213
Set the milestone to 10.1 because this should be an easy fix.

[2020-07-22 10:07] bschmalhofer commented on #225
Set milestone to 11.0, as this is a significant change.

[2020-07-22 10:09] bschmalhofer commented on #129
Set milestone to 11.0, because this might have repercussions.

[2020-07-22 10:19] bschmalhofer commented on #133
The file development/BasicFileStructure.txt does look useful

[2020-07-22 10:47] bschmalhofer opened #232 "Clean up mentions of OTOBO 5 and OTOBO 6"
In these cases it can be presumed that either legacy version of OTRS or OTOBO 10 is meant.

[2020-07-22 11:26] bschmalhofer commented on #232
In the migration modules and tests there are frequent mentions of OTOBO 5 and OTOBO 6. This is confusing as OTOBO starts with Version 10.
I checked with the following commands:

- `grep -r -i 'otobo\s*[0123456789]' . | grep -v  -i 'otobo\s*10'`
- `find . -iname '*OTOBO[0123456789]*'`

I could do the renaming, but I would need some clarification concerning the migration pathes. OTRS 5 => OTOBO 10 v

[2020-07-22 11:30] bschmalhofer commented on #194
@svenoe Could you create the Git repositories? As this is a kind of official action and I don't want to decide on the naming.
I'll then think about the directory structure and copy the files.

[2020-07-22 12:06] bschmalhofer opened #233 "Docker: Failure when install ITSM package via nginx"
There is an error when installing ITSM via nginx, that is via HTTPS. It looks like nginx must be configured to allow large files. Reported by @StefanRother-OTOBO

[2020-07-22 13:19] bschmalhofer opened #235 "Docker: MIME::Decoder::BinHex has a missing dependency"
In the Docker container otobo_web_1 the command
`perl -c -I . -I Kernel/cpan-lib/ Kernel/cpan-lib/MIME/Decoder/BinHex.pm` fails

The module `Convert::BinHex` is missing. We sure could add `Convert::BinHex` as a dependency, but why is MIME::Decoder::BinHEX in _Kernel/cpan-lib_ in the first place ?

[2020-07-22 13:37] bschmalhofer opened #236 "Docker: OTOBO Daemon is not restarted"
When the containers are started, before installer.pl has run, the Daemon should stop.But it should start automatically after installer.pl has finished.

[2020-07-22 13:58] bschmalhofer opened #237 "UnitTest: scripts/test/CronEvent.t does not exit cleanly"
`ERROR: OTOBO-otobo.UnitTest-14 Perl: 5.32.0 OS: linux Time: Wed Jul 22 13:45:02 2020                                                                         7457                                                                                                                                                              7458  Message: Need Schedule!

[2020-07-22 16:01] bschmalhofer commented on #237
There are different issues at play here.

1. Naming of identifiers
2. Invalid local time
3. Obscure Perl bugs

### Regarding 1:
this is an easy fix. OTRSTimeZone => OTOBOTimeZone

### Regarding 2:
`Kernel::System::CronEvent` produces invalid local times. The CPAN module `DateTime`responds with an exception. See https://metacpan.org/pod/DateTime#Invalid-Local-Times . This makes two tests fail. Let'

[2020-07-22 16:08] bschmalhofer opened #238 "Kernel::System::CronEvent produces invalid local times"
The daylight saving switch is problematic. See _scripts/test/CronEvent.t_ .
It is not obvious what the correct behavior is. Needs to be investigated.

[2020-07-22 16:36] bschmalhofer opened #240 "UnitTests: do not blacklist perl versions"
There are some tests with blacklisted perl versions. This is a bit obscure and should be investigated.

TODO:

- [x] Undo the blacklisting

- [x] see what happens

[2020-07-22 16:47] bschmalhofer commented on #236
But it worked when I did another new installation. Strange. Let's observe this.

[2020-07-22 17:48] bschmalhofer commented on #197
Reopening as the failure happened again when running under Docker.
`$Self->{'Ticket::SubjectRe'} = 'RE###'; seems to be the cause again.

[2020-07-23 07:52] bschmalhofer commented on #203
I checked how
See the functions `upgrade_minor_version`, `upgrade`, and `check_host_mount_dir`in https://github.com/juanluisbaptiste/docker-otrs/blob/master/otrs/functions.sh.

[2020-07-23 07:55] bschmalhofer opened #241 "Docker: add support for major version upgrade"
For a major version upgrade some more work needs to be done,
As usual see https://github.com/juanluisbaptiste/docker-otrs#upgrading and https://www.juanbaptiste.tech/2018/05/doing-major-version-upgrades-of-otrs-docker-containers.html

[2020-07-23 08:12] bschmalhofer opened #242 "Docker: Charset of bash console"
One can log into a running container with the command `docker exec -it otobo_web_1 bash`. When running commands with _bin/otobo.Console.pl` one gets the warning:

`Error: The terminal encoding should be set to 'utf-8', but is 'ansi_x3.4-1968'. Some characters might not be displayed correctly.`

This should be fixed.
See http://jaredmarkell.com/docker-and-locales/ and https://stackoverflow.com/ques

[2020-07-23 12:22] bschmalhofer commented on #242
First check looks fine:
[code]

[2020-07-23 13:20] bschmalhofer opened #244 "Docker: preserve custom skins when upgrading a minor version"
The goal is that upgrading is as simple as pulling an new image and restarting. Costum skins should not be lost in that process.

[2020-07-23 13:26] bschmalhofer opened #245 "Docker: support bash as a command for entrypoint.sh"
It's no problem to log into a running container. But sometimes it would be useful to start the container not with a  running webserver but only with a bash session.

`docker run -it --entrypoint=/bin/bash otobo` might work too.

[2020-07-24 07:37] bschmalhofer commented on #203
For this isssue lets take a very simple simple approach.

- [x] In the image stash OTOBO in /var/otobo/otobo_next

- [x] Use /var/otobo/entrypoint.sh as entry point

- [x] use /var/otobo/otobo_next/docker_first_time as a guard for a restarted container. This might happen when a container is saved and started again.

- [x] Copy otobo_next when /opt/otobo is empty

- [x] Maybe backup of /opt/otobo,

[2020-07-24 07:54] bschmalhofer opened #246 "Docker: Lint the Dockerfile"
See https://stackoverflow.com/questions/28182047/is-there-a-way-to-lint-the-dockerfile .

[2020-07-24 08:07] bschmalhofer opened #247 "Docker: Consistently use 'exec' in entry point"
It's a good idea to use exec in entrypoint.sh. See https://stackoverflow.com/questions/32255814/what-purpose-does-using-exec-in-docker-entrypoint-scripts-serve.

The main point is that some signals are not passed thru to subprocesses.

[2020-07-24 11:24] bschmalhofer opened #248 "Docker: articles are not shown in XFrame"
The content is blocked because of nginx security settings in /opt/otobogit/scripts/nginx/snippets/ssl-params.conf.

add_header X-Frame-Options DENY;
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";

TODO:

- [x] investigate X-Frame-Options

- [x] investigate  X-Content-Type-Options

- [x] investigate  X-XSS-Protection

- [x] act accordingly, headers are remov

[2020-07-24 12:06] bschmalhofer commented on #248
###  X-Frame-Option

OTOBO sets this header to SAMEORIGIN unless `DisableIFrameOriginRestricted` is set. `X-Frame-Option` solely expresses a whish that a page should not be embedded in other pages. Therefore keeping it as SAMEORIGIN is no problem.

Solution: remove the setting from ssl-params.conf.

### X-Content-Type-Options

Not set by non-Docker OTOBO. `X-Content-Type-Options` improves security

[2020-07-24 12:22] bschmalhofer opened #249 "Security: Set X-XSS-Protection HTTP header"
Setting this header sounds like a good idea. It needs to be investigated whether there are repercussions when this header is set.

[2020-07-24 12:34] bschmalhofer opened #250 "Docker: nginx prohibits large file uploads"
This manifested itself when installing packages via HTTPS in a dockerised environment.
Solution: improve the nginx settings.

E.g:
` client_max_body_size 1G;
`

[2020-07-24 13:24] svenoe opened #251 "SessionID in old cookies can trap client on the login page."
Probably connected to switching between HttpType https and http. For me in connection with different instances of otobo running under the same ip. Easily solved by removing the cookie from the client browser, but impossible to identify without debugging the code or knowing about it. (Client just is stuck on being redirected to the login screen with the message: 'Session invalid. Please log in agai

[2020-07-24 14:05] bschmalhofer commented on #242
Closing now. Please reopen when there are further problems.

[2020-07-24 14:05] #242 closed, assigned to bschmalhofer

[2020-07-24 14:06] bschmalhofer commented on #219
PR is applied. Closing.

[2020-07-24 14:06] #219 closed, assigned to nobody

[2020-07-24 14:09] svenoe commented on #79
Have not encountered the DateTime::TimeZone. But quite some changes were made. Please reopen separately, if it still occurs.

[2020-07-24 14:09] #79 closed, assigned to svenoe

[2020-07-24 15:36] bschmalhofer commented on #203
Here are some testcases:

- [x] start with empty volume /opt/otobo.  Expected: upgraded,  Result: OK

- [x] new container with same RELEASE number. Expected: not upgraded, Result: OK

- [x] new container with lower release Number. Expected: not upgraded, Result OK

- [x] new container with higher release Number. Expected: upgraded

- [x] in all cases: first time was handled

- [x] /var/otobo/entry

[2020-07-24 16:46] bschmalhofer opened #252 "PSGI: is PSGI fully supported ?"
If so, let's remove the scary warning message in _otobo.psgi_.

[2020-07-24 17:01] bschmalhofer commented on #203
More issues:

- [x] ReInstallAllPackages gives an access denied for the DB user  otobob. Solution: installer.pl was not run in that case

- [x] version sorting with letters in version number. What is the policy on the RELEASE file ? Solution: The release is set in the commit with the release tag

- [x] add command for forcing a patchlevel upgrade

- [x] Simplify the Dockerfile by moving funtionali

[2020-07-24 17:24] bschmalhofer commented on #247
Done in the changes for #203. Closing.

[2020-07-24 17:24] #247 closed, assigned to bschmalhofer

[2020-07-24 17:25] bschmalhofer commented on #245
For #203 entrypoint.sh was extended to allow passing abitrary commands. This includes `bash`. Closing.

[2020-07-24 17:25] #245 closed, assigned to nobody

[2020-07-27 06:12] svenoe commented on #252
Just as a feeling I would say, we are not at a point to decide this. I would rather wait a couple of months and if we don't receive any complaints from other users, in addition to our installations working, then we can confidently take it out.

[2020-07-27 08:18] bschmalhofer opened #255 "Docker: provide a quick-setup that avoids the need for installer.pl"
This would be useful for development and for continous integration.

See also https://hub.docker.com/r/juanluisbaptiste/otrs.
I expect that https://github.com/OTRS/module-tools already provides support for such a feature.

[2020-07-27 08:42] thejvmshid opened #256 "After installation I get: Not Found"
Good day to all!
After installing OTOBO in Docker, I get:
![image](https://user-images.githubusercontent.com/35526267/88521592-8a803900-d00e-11ea-9f48-50a6c488f03d.png)

I can't find the error, please help me what the problem may be, thank you for earlier.

Running containers:
[code]

Container logs:
[code]

Content of .env:
[code]
Content of otobo-base.yml:
[code]
Content of otobo-override-http.y

[2020-07-27 08:53] svenoe commented on #256
Without looking through all your config - you have to specify which interface you want to call. I assume you have not actually finished the installation, so the next step would be to call:
172.17.12.2:8003/otobo/installer.pl

If you have already done so, at the end you should have seen a link to the agent interface:
172.17.12.2:8003/otobo/index.pl

Lastly there are the customer (and sometimes the

[2020-07-27 09:36] StefanRother-OTOBO commented on #256
Dear MAPIIIAJI,

I hope you are feeling well!

Did you use our installation tutorial https://doc.otobo.org/manual/installation/stable/en/content/installation-docker.html for the setup? Maybe it help?

Best wishes from Germany,

Stefan
Team OTOBO

[2020-07-27 10:13] thejvmshid commented on #256
Thanks guys, they helped. I wish you all the best and HEALTH.
The problem (topic) is closed.

[2020-07-27 10:13] #256 closed, assigned to svenoe

[2020-07-27 14:43] bschmalhofer opened #258 "Docker: otobo.CheckModules.pl complains about Apache::DBI"
In the SupportData Frontend the CheckModules report is not green. This is probably due to Apache::DBI which is marked as a bundled module. In the docker image Apache::DBI has been explicitly excluded.

Proposed solution: Remove Apache::DBI from Kernel/cpan-lib altogether.

[2020-07-27 16:18] bschmalhofer commented on #252
Let' decide that for 10.1

[2020-07-27 16:19] bschmalhofer commented on #248
It worked at least once. Closing.

[2020-07-27 16:19] #248 closed, assigned to bschmalhofer

[2020-07-27 16:23] bschmalhofer opened #259 "UnitTests: The unittest should not create dirs and files in /opt/otobo/var"
Let the test mess with e.g. /tmp/otobo/unittests but not with the installation.
I noticed this when I inadvertently ran the tests as root in docker container.

[2020-07-27 16:39] bschmalhofer commented on #258
For 10.0.2 the plan is to add Apache::DBI again.

[2020-07-27 17:43] bschmalhofer commented on #203
Looks mostly fine now. More testing does not hurt.

[2020-07-28 10:00] bschmalhofer opened #263 "Docker: include optional Database access support in the image"
OTOBO might need to access different data sources that are installation specific. For example an installation might need access to the list of customers in a Microsoft SQL Server database. Therefore it is convenient to add drivers for some databases in the Docker image.

For now let's go for:

- Postgresql
- Oracle
- OBDC (via unixodbc)
- LDAP

[2020-07-28 10:02] bschmalhofer opened #264 "Docker: include more optional Perl modules"
There are some optional modules listed in bin/otobo.CheckModules.pl.
TODO:

- [ ] analysed which modules can easily included in the Docker image

- [ ] include these modules

[2020-07-28 11:50] bschmalhofer opened #265 "UnitTests: Suspicious message in Znuny4OTOBOEscalationSuspend/EscalationSuspend.t"
`Can't locate object method "TicketCreate" via package "Kernel::System::UnitTest::Helper" at scripts/test/Znuny4OTOBOEscalationSuspend/EscalationSuspend.t line 139.`

Seen when running the tests in a Docker container during acceptance tests for 10.0.2.

This seems to indicate that the intended tests do not work, even though no 'not ok' is emitted. Needs to be investigated.

[2020-07-28 11:52] bschmalhofer opened #266 "Docker: track the git commit and the git branch as image labels"
It is sometimes nice to know the commit and the branch with which the Docker image was created.

[2020-07-28 11:55] bschmalhofer commented on #263
Support for Postgres and ODBC are tentatively included in 10.0.2 already.

[2020-07-28 16:56] bschmalhofer commented on #197
The impression is that Ticket::SubjectRe gets changed by one of the test scripts from 'Re' to 'RE###'.
Looks like the culprit is _scripts/test/SysConfig/SettingSet.t_ . as it does not restore the old setting. Wondering why I did not find that immediately.

[2020-07-29 09:39] bschmalhofer commented on #266
The Docker images can be labelled in the Dockerfile with the command LABEL. The information for the labels can be taken from the build environment.  Dockerhub sets SOURCE_COMMIT. SOURCE_BRANCH, DOCKER_REPO and others. See https://docs.docker.com/docker-hub/builds/advanced/.

For automated Docker Hub builds a custom _hooks/build_ script needs to be set up in the Github repository.
For local build t

[2020-07-29 10:36] bschmalhofer commented on #263
Removed LDAP from the list as it is already in the core.

[2020-07-29 10:38] bschmalhofer commented on #244
The strategy is that all of _/opt/otobo_  is in a Docker volume. Therefore the custom skins are no special case. Closing the issue.

[2020-07-29 10:38] #244 closed, assigned to bschmalhofer

[2020-07-29 10:40] bschmalhofer commented on #236
No further problems encountered. Closing.

[2020-07-29 10:40] #236 closed, assigned to bschmalhofer

[2020-07-29 10:55] bschmalhofer commented on #197
Tests look fine. Also checked ZZZAAuto.sh by running `watch -n 1 ./watch.sh` while running the testsuite. Where watch.sh greps for SubjectRe in ZZZAAuto.pm. Closing again.

[2020-07-29 10:55] #197 closed, assigned to nobody

[2020-07-29 11:01] bschmalhofer commented on #203
Tested again by creating an image with version number 11.0.1. Worked as expected. Closing.

[2020-07-29 11:01] #203 closed, assigned to nobody

[2020-07-30 10:51] bschmalhofer commented on #265
Apparently the wrong objects were used. No idea where that error came from.
Looks good now. _EscalationSuspend.t_ now also properly declares the expected number of tests. Closing.

[2020-07-30 10:51] #265 closed, assigned to bschmalhofer

[2020-07-30 10:54] bschmalhofer opened #271 "UnitTests: Kernel::System::ZnunyTime used in EscalationSuspendLoop.t"
There is no Kernel::System::ZnunyTime in OTOBO. See also #69 .

[2020-07-30 11:38] bschmalhofer opened #272 "UnitTests: One Failure in scripts/test/Znuny4OTOBOEscalationSuspend/EscalationSuspendLoop.t"
`not ok 4 - SolutionTimeDestinationTime calculated correctly (is '1460659808' should be '1460707277')
`
This needs some analysis. It could well be that the result is fine, but the test is broken,

[2020-07-30 11:42] bschmalhofer commented on #271
The issue with ZnunyTime is fixed. One test failure remains, but that is a different issue: #272 .
Closing

[2020-07-30 11:42] #271 closed, assigned to bschmalhofer

[2020-07-30 12:17] bschmalhofer commented on #181
Tentatively merged the changes into rel-10_1, so that the remaining problems show up early.

[2020-07-30 13:15] bschmalhofer opened #276 "Docker: Maintainer"
Currently the OTOBO docker images inherit the maintainer label from the parent images.

[code]
@StefanRother-OTOBO   can I add you as maintainer? With which E-Mail address ?

[2020-07-30 13:53] bschmalhofer opened #277 "Docker: Provide Open Containers Initiative annotations"
See: https://github.com/opencontainers/image-spec/blob/master/annotations.md .
Looks like this is a convention for labels on docker images.

[2020-07-30 14:06] bschmalhofer commented on #120
Nobody has complained. Closing the issue.

[2020-07-30 14:06] #120 closed, assigned to StefanRother-OTOBO

[2020-07-30 14:16] StefanRother-OTOBO commented on #276
Dear Bernhard,

If you don't like to be the maintainer, please add me: dev@otobo.org

Thanks very much!

Stefan

[2020-07-30 14:51] bschmalhofer commented on #276
Set mysql as maintainer as the gut feeling is that the maintainer should be a real person.

[2020-07-30 14:51] #276 closed, assigned to StefanRother-OTOBO

[2020-07-30 15:40] bschmalhofer commented on #191
Finding for _scripts/test/Console/Command/Dev/Tools/Config2Docbook.t_:
There is a line `print $result` where $result does end with a newline. Thus the plan is not printed on a new line and therefore not reconised.

TODO:

- [x] provide a method `Kernel::System::UnitTest::Diag`

- [x] use the new method

- [x] Investigate "Parse errors: Bad plan.  You planned 0 tests but ran ..."

- [x] Investigate

[2020-07-30 16:58] bschmalhofer opened #280 "Docker: investigate whether capabilities can be dropped"
Fewer capabilities are a good thing. See https://docs.docker.com/compose/compose-file/#cap_add-cap_drop .

[2020-07-31 07:55] bschmalhofer commented on #266
Move the LABEL commands to the end of the file in order to avoid early cache invalidation.

[2020-07-31 08:12] svenoe opened #282 "Minor improvements to the CustomerInterface design."
- [ ] Make error screens prettier. Kernel/Output/HTML/Templates/Standard/CustomerError.tt (e.g. otobo/customer.pl?Action=CustomerTicketArticleContent), as well as all "grep CenterBox Kernel -r" which affect the customer (e.g. otobo/customer.pl?Action=CustomerTicketZoom;TicketNumber=wrong)
- [x] Improve visualization of readonly fields.
- [ ] Icons: Change checkboxes; replace "x" with icon in selec

[2020-07-31 09:19] StefanRother-OTOBO commented on #233
Fixed in 10.0.2

[2020-07-31 09:19] #233 closed, assigned to StefanRother-OTOBO

[2020-07-31 09:27] svenoe commented on #251
Can be reproduced by:
1. HttpType => http setzen (z.B. in der SysConfig)
2. Sich im Browser als Agent via http einloggen (Cookie wird angelegt)
3. HttpType => https umstellen (z.B. in der SysConfig)
4. bin/otobo.Console.pl Maint::Session::DeleteAll ;#löscht alle sessions
5. Im browser wieder via http /otobo/index.pl aufrufen und sich anmelden (schlägt dann immer fehl)

[2020-07-31 09:34] bschmalhofer opened #284 "Docker: more system tools"
More system tools are requested for OTOBO docker images. This concerns the container `otobo_web_1`, `otobo_cron_1`, `otobo_elastic_1`, and `otobo_nginx_1`.  For `otobo_db_1` and `otobo_redis_1` the original images are used. Some utils will be put only on the  images for `otobo_web_1`and `otobo_cron_1` as containers should be lean. General utils, like editors,  are fine.

- [x] ack, only on image '

[2020-07-31 11:02] bschmalhofer commented on #250
This is a duplicate of #233 . Closing, especially as #233 is already closed.

[2020-07-31 11:03] #250 closed, assigned to StefanRother-OTOBO

[2020-07-31 11:34] bschmalhofer commented on #136
One problem is that the raw XML-content of each setting is stored in the database. This is not handled per default by XML::LibXML::Simple. A workaround might be the usage of the parameter `HookNodes` which allows to define callbacks when a specific XML-Element is encountered.

[2020-07-31 12:05] bschmalhofer commented on #284
Tested on the three running containers. Looks good. Closing when the PR is merged . Additional Utils will get their own issue.

[2020-07-31 12:44] bschmalhofer commented on #284
PR is merged into rel-10_0 after rel-10_0_2 was tagged. Closing.

[2020-07-31 12:44] #284 closed, assigned to nobody

[2020-07-31 14:08] svenoe opened #288 "DynamicFieldDBSearch: Cache has to be filter specific."
Filter values must be included to the CacheKey when caching database dynamic field values.

[2020-07-31 14:09] #288 closed, assigned to nobody

[2020-07-31 14:45] bschmalhofer opened #289 "Docker: Automatically create the Docker tag with the specific release"
Currently there are different automatic build rules configured in Docker Hub.

1. rule for creating images with the tag 'latest'
2. rule for creating images with release specific tags, e.g 'rel-10_0_3'

The first case is fine. The second case needs configuration for each individual release. This is bad. This can be alleviated by using a `post_push` hook. See https://docs.docker.com/docker-hub/buil

[2020-07-31 15:09] bschmalhofer commented on #266
TODO:

- [x] check again as there had been some changes since the last check

[2020-07-31 15:15] svenoe opened #291 "Clean up not needed '# Rother OSS' comments in files."
Just some tidying: `grep '^# Rother' Kernel -r` und `grep '# EO' Kernel -r`

[2020-07-31 15:38] svenoe opened #292 "Improve dynamic field database autocomplete search to work on click"
Add option to override minLength for autocomplete for each field. Make 0-length minLength start the "autocompletion" on click. (Note to self: see Sch.Core for the latter - Core.Agent.DynamicFieldDBSearch.js)

[2020-08-01 13:12] bschmalhofer commented on #266
Looks good:

[code]
Closing.

[2020-08-02 09:09] bschmalhofer opened #293 "UnitTests: Explicitily call $Self->DoneTesting() at the end of scripts"
I suspect that there are some cases where test scripts exit before they reach the end of the script. This should be flagged as problems when the test are run with `prove`.
These cases can be caught by explicitly calling `$Self->DoneTesting()` explicitily at the end of the script.

Currently `DoneTesting()` is called in an the END block provided by `Kernel::System::UnitiTest::RegisterDriver` .  But

[2020-08-02 09:10] bschmalhofer commented on #191
See also #293

[2020-08-03 11:28] bschmalhofer opened #295 "CI: add a sample Github action that calls Compile.t"
Set up an example for a continuous integration action using Github Actions. Experiences with Github Action can be useful for  #211.
A syntax check should serve as the example action.

A possible starting point is https://github.com/Perl/docker-perl-tester.
See also https://raku-advent.blog/2019/12/06/put-some-github-actions-in-your-raku-repositories/

[2020-08-03 11:49] bschmalhofer commented on #43
@StefanRother-OTOBO :
https://stackoverflow.com/questions/5678462/should-i-provide-a-license-txt-or-copying-txt-file-in-my-project suggest that any of COPYING, COPYING.txt. LICENSE, LICENSE.txt is fine. And that duplicates should be avoided.

[2020-08-03 15:58] bschmalhofer opened #296 "Docker: tab expansion broken for bin/otobo.Console.pl"
Looks like tab completion is broken. This used to work in Docker.
The cause is most likely that hidden files are not copied from /opt/otobo_install/otobo_next to /opt/otobo.

[2020-08-03 16:00] bschmalhofer opened #297 "UnitTest: warning about redefined subroutines"
When running the test suite there are many warnings about redefined subroutines. The impression is that the behavior is as desired, and that the warnings should masked. Needs to be investigated.

[2020-08-03 16:12] bschmalhofer commented on #293
TODO:

- [x] sanity check when run with 'prove*

- [x] sanity check when run with 'Dev::UnitTest::Run', this is compare with the result from a run with OTOBO 10.0.x

[2020-08-03 16:39] bschmalhofer commented on #191
The 'Bad plan' messages have disappeard with the changes for #293 .
Remaining problematic cases deserve their own issues. Closing.

[2020-08-03 16:39] #191 closed, assigned to bschmalhofer

[2020-08-04 08:27] bschmalhofer opened #299 "Docker: write upgrade.log into the opt_otobo volume"
Currently the upgrade logfile is written to _/opt/otobo_install/upgrade.log_. This location is not within a volume and therefore ephemeral. Use _/opt/otobo/var/log/upgrade.log_ instead, so that it can be inspected later on.

This is especially relevant when the alias
`alias otobo_docker_reinstall='docker run -it --rm --volume otobo_opt_otobo:/opt/otobo otobo:local upgrade_patchlevel_release_with_r

[2020-08-04 12:14] bschmalhofer commented on #293
Compared the output of two runs with Dev::UnitTest::Run. There are many diffs because things like dates and IDs are different. But altogether everything is looking good. Closing.

[2020-08-04 12:14] #293 closed, assigned to bschmalhofer

[2020-08-04 12:35] bschmalhofer commented on #296
Tested by typing `bin/otobo.Console.pl UnitTest<TAB><TAB>`. Looks good. Closing.

[2020-08-04 12:35] #296 closed, assigned to nobody

[2020-08-04 13:02] bschmalhofer commented on #289
The post_push hooks has been added and the Docker Hub automatic build rules have been adapted.
A test with the branch _issue-289-post_push-7asdf_ looked fine. Closing.

[2020-08-04 13:02] #289 closed, assigned to nobody

[2020-08-04 13:14] bschmalhofer commented on #255
@StefanRother-OTOBO

Was benutzt du wenn du nicht _installer.pl_ durchklicken willst ?

[2020-08-04 14:40] bschmalhofer commented on #299
upgrade.log can be inspected now in /opt/otobo/var/log. Closing.

[2020-08-04 14:40] #299 closed, assigned to bschmalhofer

[2020-08-04 15:57] bschmalhofer opened #303 "UnitTests: 8 Failures in scripts/test/Frontend/Basic.t"
There are some failures like:

`not ok 542 - Module AgentAppointmentEdit status code (http://localhost:5000/otobo/index.pl?Action=AgentAppointmentEdit) (is '500' should be '200')`

[2020-08-04 15:59] bschmalhofer opened #304 "UnitTests: Failures in scripts/test/Package.t"
Issue for tracking test failures in scripts/tests/Package.t for OTOBO 10.1.
Failures still persist after the fixes for #305 .
Looks like a version mismatch:

`Sorry, can't install/upgrade package, because the framework version required by the package (10.0.x;) does not match your Framew       ork (10.1.x)!`

Related failures surface in _scripts/test/SysConfig/DB/DefaultSettingListGetCategory.t_ .

[2020-08-04 16:00] bschmalhofer opened #305 "UnitTests: Failures in scripts/test/SupportDataCollector.t"

[2020-08-04 16:05] bschmalhofer opened #306 "UnitTests: Early exit in some tests scripts"
For example:
[code]
Currently there are four cases:

- [x] scripts/test/CPAN/SOAPLite.t   Solution: Core => OTOBO::RPC

- [x] scripts/test/ObjectManager/Can.t   Solution: test script bailed out when there were compile errors

- [x] scripts/test/SysConfig/ConfigurationMigratePackage.t   No solution yet: See #213

- [x] scripts/test/SysConfig/ConfigurationMigrateXMLStructure.t  No solution yet: See

[2020-08-05 08:53] dennykorsukewitz opened #307 "Znuny GmbH Copyright"
Hi there,
could please check the Copyright of the following files. We think you might have missed something here:

- [Znuny4OTOBOPasswordPolicy.pm](https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/Autoload/Znuny4OTOBOPasswordPolicy.pm) (missing)

greetings

[2020-08-05 10:12] bschmalhofer commented on #264
Authen::NTLM was added to the image for #295

[2020-08-05 10:19] bschmalhofer commented on #235
`Convert::BinHex`was added as a dependency for #295. Cleaning up _Kernel/cpan-lib_ is a different issue. Closing when the tests look fine.

[2020-08-05 12:05] wollmers opened #310 "Consider using PerlOptions +Parent in Apache configs"
To avoid funny and hard to diagnose problems, it's a more secure way to use

`PerlOptions +Parent`

in Apache in combination with `mod_perl2`, especially if more than one `vhost` uses Perl.

See https://perl.apache.org/docs/2.0/user/config/config.html#toc_C_Parent_  or the sample configuration for Mojolious un der Apache/mod_perl (PSGI/Plack) https://github.com/mojolicious/mojo/wiki/Apache-deploym

[2020-08-05 12:39] bschmalhofer commented on #295
The syntax check workflow seems to be working now. Closing. Further actions need to be discussed.

[2020-08-05 12:39] #295 closed, assigned to nobody

[2020-08-05 13:06] bschmalhofer opened #311 "Maint::Cache::Delete does not honor --keeptype in the Redis case"
I did:
[code]
and got 38 keys. I expected that all keys were removed.

[2020-08-05 13:39] bschmalhofer commented on #305
Looks like the cause was that `$ENV{GATEWAY_INTERFACE}` was no longer set becaus `CGI::Emulate::PSGI`was removed. The effect was that the cache was no longer filled. Adapting _otobo.psgi_ so that `%ENV`is explicitly set.

[2020-08-05 13:50] bschmalhofer commented on #305
TODO:

- [x] fix

- [x] check whether scripts/test/SupportDataCollector.t succeeds

- [x] check whether the webserver supportinfo is shown in the WebApp

[2020-08-05 14:24] bschmalhofer commented on #305
Looks good. Closing.

[2020-08-05 14:24] #305 closed, assigned to bschmalhofer

[2020-08-05 14:34] wollmers opened #313 "Link to docs seems outdated"
In https://github.com/RotherOSS/otobo/blob/rel-10_0/doc/README.md the link

[code]

does not lead to documentation. Maybe this is the right one:

https://otobo.de/de/dokumentation/

[2020-08-05 15:02] bschmalhofer commented on #303
Seem to work now after the fix for #305 . Closing.

[2020-08-05 15:02] #303 closed, assigned to bschmalhofer

[2020-08-05 15:03] bschmalhofer commented on #240
Upcoming failures should be handled in their own issues.

[2020-08-05 15:03] #235 closed, assigned to nobody

[2020-08-05 15:12] bschmalhofer commented on #313
@StefanRother-OTOBO : Should https://doc.otobo.de/ be working? If not then I'll change the links in README.md, doc/README.md, and  CONTRIBUTING.md .

[2020-08-05 18:28] svenoe commented on #307
Hi Denny,

I fixed it (3aebc6e38893f75509bf7e69f0510e9ebde3c721), sorry for this. We had overwritten the Copyright of some files with a script in the beginning and evidently had not found every instance of it.

Have a nice evening, Sven

[2020-08-05 18:28] #307 closed, assigned to StefanRother-OTOBO

[2020-08-05 20:49] StefanRother-OTOBO commented on #313
Hi Helmut,
Hi Bernhard,

thanks very much for your help!

https://doc.otobo.org/ is the right link, cause it is a community part. https://doc.otobo.org/ is working.

I´ve changed it.

Thanks!

Stefan

[2020-08-06 08:23] bschmalhofer commented on #313
Fixed two more links in README.md and in CONTRIBUTING.md. Closing again.

[2020-08-06 08:23] #313 closed, assigned to bschmalhofer, StefanRother-OTOBO

[2020-08-06 08:47] bschmalhofer commented on #304
Yes, it was the framework version. Closing.

[2020-08-06 08:47] #304 closed, assigned to bschmalhofer

[2020-08-06 09:31] bschmalhofer opened #316 "Upgrade SOAP::Lite"
In _Kernel/cpan_lib_ there is SOAP::Lite 1.20. On CPAN the most current version is 1.27. I suppose that keeping current is a good idea. Either update the version in _Kernel/cpan-lib_ or install from CPAN or the from the package manager of the distro.

[2020-08-06 11:31] bschmalhofer opened #318 "Discuss coding standards"
Make some decisions about coding.

- [ ] where are the standards documented ?

- [ ] `unless` as a statement modifier

- [ ] early return from subroutines

- [ ] using `my $Self = shift;` in subroutines

- [ ] using the return value of bless: `my $Self = bless {}, 'Class';`

- [ ] using `utf8::encode($String)` instead of `Encode::encode()`

- [ ] no parens with Perl builtin functions

- [ ] empty

[2020-08-06 12:11] bschmalhofer commented on #306
Two of the cases have been handled. The othere two cases will be fixed with #213 . Closing

[2020-08-06 12:11] #306 closed, assigned to bschmalhofer

[2020-08-06 12:46] bschmalhofer opened #320 "PSGI: turn the scripts in scripts bin/cgi-bin into wrappers around otobo.psgi"
I propose to remove the scripts in _bin/cgi-bin_ .  The reason is that things become more simple for testing and support when only otobo.psgi needs to be maintained. This also opens up the avenue for improvements in the Kernel::System::Web::* modules. Capturing the output for setting headers is not best practice.

[2020-08-06 13:25] bschmalhofer commented on #213
Base.pm is in _Kernel/System/MigrateFromOTRS_ not in _scripts/MigrateFromOTRS_. The package name was adapted. Closing.

[2020-08-06 13:25] #213 closed, assigned to bschmalhofer, StefanRother-OTOBO

[2020-08-06 13:26] bschmalhofer commented on #190
Still failing, even after fixing #213

[2020-08-06 13:47] bschmalhofer opened #322 "TERMS AND CONDITIONS"
Many OTOBO Perl modules have a  POD section called 'TERMS AND CONDITIONS' or similar. In these cases the license is stated twice, as there is also the license blurb at the head of the file. This is not nice. A problem is that sometimes there a slight differences in the stated version of the GPL.

- Header:  `# Foundation, either version 3 of the License, or (at your option) any later version.`

-

[2020-08-06 14:50] bschmalhofer opened #323 "PSGI: Eliminate CGI::Emulate::PSGI"
The methods `Run()` of the Interface modules print to STDOUT . That output via STDOUT is captured by otobo.psgi. This could be simplified by returning a string to otobo.psgi directly. However this only works if no other module prints to STDOUT. Not sure how to guarantee that.

Maybe test this with installer.pl first.

[2020-08-06 15:05] bschmalhofer commented on #190
These test failures seem to be all related to the migration to OTOBO. Let's handle them in a single issue.
[code]
The above paste is from rel-10_1. For rel-10_0 the result might vary a little bit.

[2020-08-07 03:42] StefanRother-OTOBO commented on #213
Hi Bernhard,

I think you can remove this UnitTest, cause I think it's used for upgrading from 5 to 6.

Best wishes,

Stefan

[2020-08-07 06:01] bschmalhofer commented on #213
@StefanRother-OTOBO
_Kernel/System/SysConfig/Migration.pm_ is compiling again, but I can't judge whether the module is still needed. If its no longer needed then please remove it. See also the other migration related failures at #190 ,

[2020-08-07 07:45] bschmalhofer opened #325 "Remove the attribute InstallerOnly for Kernel::Output::HTML::Layout"
This attribute is not used. And it should not be used because a Layout-Object should not need to care about the database.

This was noticed when working on #323.

[2020-08-07 08:43] bschmalhofer commented on #46
Leaving the host as `%` is in my opinon fine. Docker does a good job at encapsulating the network, which means that MySQL is not easily reachable from the Docker host.  Closing.

[2020-08-07 08:43] #46 closed, assigned to nobody

[2020-08-07 08:50] bschmalhofer commented on #180
The preferred solution is to implement #320 .
See also #323 for how this is handled under PSGI.

[2020-08-07 09:29] bschmalhofer commented on #323
Using the content string directly worked without much hassle for installer.pl. Care must be taken that the content is UTF-8 encodeden when passing it to Plack. My hunch is that the other interfaces can be converted easily too.

[2020-08-07 09:48] bschmalhofer commented on #325
Closing without testing, as this was a minor change.

[2020-08-07 09:48] #325 closed, assigned to bschmalhofer

[2020-08-07 10:03] bschmalhofer opened #328 "PSGI: capture STDOUT in memory instead of a temp file"
This was noticed when working on #321. There is no need to write the captured STDOUT into a file. This is just overhead.

[2020-08-07 10:43] bschmalhofer opened #329 "Docker: avoid layer cache invalidation by changed ARGs"
Surprise. A changed argument invalidates cache layers of RUN commands thaf follow the ARG command.
See https://stackoverflow.com/questions/41593135/does-putting-arg-at-top-of-dockerfile-prevent-layer-re-use.

TODO:

- [x] move the ARG commands to right before they are needed

[2020-08-07 10:48] bschmalhofer commented on #144
Now there are many  `Parse errors: No plan found in TAP output` messages. Closing the issue.

[2020-08-07 10:48] #144 closed, assigned to bschmalhofer

[2020-08-07 10:57] bschmalhofer commented on #328
A first test looks good. Let's observe this for a while before closing the issue.
If it works fine it could be backported to 10.0.3.

[2020-08-07 11:17] bschmalhofer commented on #266
Grabbed that feature for 10.0.3

[2020-08-07 14:36] bschmalhofer commented on #323
Problem for installer.pl:  `$LayoutObject->FatalError()` returned content that simply gets discarded.
Solution: Plack::Middleware::HTTPExceptions.

[2020-08-07 14:41] bschmalhofer commented on #329
Checking https://hub.docker.com/repository/docker/rotheross/otobo/builds. Looks good. Closing.

[2020-08-07 14:41] #329 closed, assigned to bschmalhofer

[2020-08-07 14:49] bschmalhofer commented on #266
Looks good for the 10.0.x image.
[code]
Closing again.

[2020-08-07 14:49] #266 closed, assigned to nobody

[2020-08-07 15:17] bschmalhofer commented on #10
Broke an INSERT in _scripts/database/otobo-initial_insert.xml_ and got an error when running installer.pl.
That's the wanted result. Closing the issue.

[2020-08-07 15:17] #10 closed, assigned to bschmalhofer

[2020-08-08 08:41] bschmalhofer commented on #328
Works fine in rel-10_1. But can't easily be backported to 10_0 as in 10_0 everything is still handled by `CGI::Emulate::PSGI;
`.

[2020-08-08 09:36] bschmalhofer commented on #323
Another problem: output filters were not applied in the case of `FatalError()`because `Print()` was not called.
Solution: Add attribute `StdoutIsCaptured` so that this case can be handled.
For the the method `ApplyOutputFilters()`has been pulled out of  `Print()`.

[2020-08-10 08:00] bschmalhofer opened #336 "Docker: env OTOBO_WEB_ROOT_HTTPS_PORT not working"
Otobo: Docker env OTOBO_WEB_ROOT_HTTPS_PORT not working
I was trying to run Otobo on same server, where is current OTRS installed. I set OTOBO_WEB_ROOT_HTTPS_PORT=8443 , but nginx didn´t started complaining about port conflict on port 443.

Reported by hilocz.

[2020-08-10 08:44] bschmalhofer commented on #336
This is an error in the documentation. The varialble is named OTOBO_WEB_HTTPS_PORT.

TODO:

- [x] Correct README.md in https://github.com/RotherOSS/otobo-docker

- [x] Correct https://doc.otobo.org/manual/installation/stable/en/content/installation-docker.html

[2020-08-10 08:58] bschmalhofer opened #337 "Docker: rsync missing in Docker image"
This was reported in the OTOBO forum by hilocz, https://otobo.de/en/forums/users/hilocz/. This issue only deals with adding rsync to the otobo image.

[code]

`Found, that in web_1 docker image is the rsync not available.`

[2020-08-10 09:39] bschmalhofer opened #338 "SysConfig: do not filter out lines starting with '#' from XML"
Due to https://bugs.otrs.org/show_bug.cgi?id=13534 lines starting with '#' are removed from the XML files in _Kernel/Config/Files/XML_ . But that does not make sense at all.  In XML comments are done with the `` syntax and the character '#' has no special meaning in XML.

TODO:

- [x] Remove the relevant instruction from `Kernel::System::SysConfig::XML::SettingListParse()`

- [x] Remove or adapt t

[2020-08-10 10:05] bschmalhofer commented on #337
rsync was added. Closing.

[2020-08-10 10:05] #337 closed, assigned to bschmalhofer

[2020-08-10 10:17] bschmalhofer commented on #338
Tests are passing. Closing.

[2020-08-10 10:17] #338 closed, assigned to bschmalhofer

[2020-08-10 13:47] bschmalhofer commented on #136
`HookNodes` are a useful tool, but probably not in this case. Too much care must be taken to ensure that the parsed data structure does not change. Therefore a different approach was take. The XML for the individual settings is extracted via `findnodes`. The XML snippets are then given to `XML::LibXML::Simple`.

Not closing yet because #344  still needs to be reviewed.

[2020-08-10 16:07] bschmalhofer commented on #297
These warning stem from `Kernel::System::UnitTest::Helper::_ MockPerlTimeHandling()`, when some modules are reloaded. For some reason the warnings are not easily turned off with `no warnings;`, even when Module::Refresh is reused.

I'll investigate whether the reloading of the modules is really needed.

[2020-08-11 09:38] bschmalhofer commented on #297
The reloading of the modules is necessary. https://perldoc.perl.org/CORE.html#OVERRIDING-CORE-FUNCTIONS states that core functions must be overridden at compile time. This is no problem when each test script really runs as a seperate script. But when _otobo.Console.pl_ is used then dynamic loading takes place. This means that the core functions are not overridden at compile time.

So, let's live w

[2020-08-11 10:21] bschmalhofer commented on #255
Here are the requirements:

- [x] verify that ZZZAAuto.pm does not exist yet

- [x] verfiy that SecureMode is not activated

- [x] verify that Home exists

- [x] verify that Kernel/Config.pm exists and is readable and writable

- [x] verify the scripts/database and the relevant .xml files exists

- [x] verify that the connection to the DB as root is possible, password was passed on command line

-

[2020-08-11 10:24] bschmalhofer commented on #297
Tests run as expected again. Closing.

[2020-08-11 10:24] #297 closed, assigned to bschmalhofer

[2020-08-11 13:38] bschmalhofer commented on #328
No further problems encountered. Closing now.

[2020-08-11 13:38] #328 closed, assigned to bschmalhofer

[2020-08-11 13:43] bschmalhofer commented on #258
Closing now. Apache::DBI can be removed when #320 is implemented.

[2020-08-11 13:43] #258 closed, assigned to nobody

[2020-08-12 09:32] bschmalhofer commented on #155
Theses comments are in _bin/docker/entrypoint.sh_, not in _otobo.psgi.

Feedback from @StefanRother-OTOBO : these jobs are not really needed

[2020-08-12 09:46] bschmalhofer commented on #155
TODO comment and commented out commands are removed now. Closing.

[2020-08-12 09:46] #155 closed, assigned to bschmalhofer

[2020-08-12 09:46] bschmalhofer commented on #322
@StefanRother-OTOBO  said: remove the redundant license info.

[2020-08-12 10:47] bschmalhofer commented on #336
installation-docker.rst is corrected in the git repository. Let's wait till it shows up in the webpage.

[2020-08-12 13:34] bschmalhofer commented on #272
It looks like the the expected results are fine, but that the solution time is not prolonged for 'pending reminder'. Perhaps some configuration must be set in the test script or in the default configuration.

[2020-08-13 07:28] bschmalhofer commented on #336
Yes, the webpage was updated over night. Closing the issue.

[2020-08-13 07:28] #336 closed, assigned to bschmalhofer, StefanRother-OTOBO

[2020-08-13 07:38] bschmalhofer commented on #322
TERMS AND CONDITIONS were removed in rel-10_0 and rel-10_1. Closing.

[2020-08-13 07:38] #322 closed, assigned to bschmalhofer, StefanRother-OTOBO

[2020-08-13 10:39] bschmalhofer commented on #73
`Const::Fast` was added for #255.

[2020-08-13 15:27] bschmalhofer opened #351 "Apache: no longer support Apache version less than 2.4"
https://httpd.apache.org/ said in January 2018:

[code]
So I think that OTOBO has no need to support Apache 2.2 or earlier.

@StefanRother-OTOBO : Do you agree ?

[2020-08-13 15:43] bschmalhofer commented on #132
The scope of this issue has been expanded. The goal it to reorganize the sample config files.

- [ ] cover the relevant matrix: [http, https], [PSGI, not-PSGI] and the special cases: proxy, proxy via fcgi

- [ ] find an approach to make the collection of files less confusing

- [ ] document the naming convention

- [ ] beautify

[2020-08-13 15:44] bschmalhofer commented on #310
Thanks @wollmers.
I have simply added the option to the sample configs without any testing. The plan is to reorganize these configs and during that process I'll test the individual configs. See #132   Closing this issue.

[2020-08-13 15:44] #310 closed, assigned to bschmalhofer

[2020-08-13 15:45] bschmalhofer commented on #351
See also #132

[2020-08-13 15:48] bschmalhofer commented on #264
@StefanRother-OTOBO   The question whether we can include DBD::Oracle in the image, depends on whether we can include Oracle instant client in the image. The technical side is no problem, but we need to consider licensing. Could you investigate?

[2020-08-13 15:55] bschmalhofer opened #353 "UnitTests: Error in Frontend/Basic.t"
Looks like this is reproducible. Needs to be investigated.

[code]

[2020-08-14 06:02] bschmalhofer commented on #255
Move it to OTOBO 10.1, as this is not a bugfix.

[2020-08-14 07:24] bschmalhofer commented on #255
For development the current workflow is like:

- Be aware that all data in the MySQL database will be lost
- In dir _docker_: `bin/docker/build_docker_images.sh`
- switch to the directory _otobo-docker_
- set OTOBO_IMAGE_OTOBO=otobo:local in _.env_
- `grep OTOBO_DB_ROOT_PASSWORD .env`      the password is needed later
- `docker-compose down -v`
- `docker-compose up -d`
- `docker exec -t --user oto

[2020-08-14 08:31] bschmalhofer commented on #353
Confirmed, same errors under 10_1 as on August 14th.
No errors on 10_0.
Also made a small fix so that the test numbers are consistent when there is a failure.

[2020-08-14 08:31] #255 closed, assigned to bschmalhofer

[2020-08-14 08:46] bschmalhofer opened #354 "Unittest: Environment.t fails in some Docker context"
`not ok 4 - OSInfoGet - returned User`

Looks like `Kernel::System::Environment::OSInfoGet()` relies solely on the env vars USER and USERNAME. This can be improved. See https://stackoverflow.com/questions/3526420/how-do-i-get-the-current-user-in-perl-in-a-portable-way.

[2020-08-14 09:20] bschmalhofer commented on #354
Enhanced the user detection.
Also print out the actual settings in Environment.t.
Closing

[2020-08-14 09:20] #354 closed, assigned to bschmalhofer

[2020-08-14 13:19] bschmalhofer commented on #353
I have analysed this for the Frontend module `AgentAppointmentEdit`. For this module a fatal error should be thrown as quite understandably the ChallengeToken does not match. The HTTP response that should be generated in the case has:

- Status 200 OK
- Content-type HTML
- Content-Length > 0

For analysing the issue I considered two cases:

1. rel-10_0 running under Apache with _apache2-httpd-psgi

[2020-08-15 11:57] bschmalhofer opened #358 "Invalid references to transifex"
In the files _i18n/otobo/*.po_ there are references to transifex like https://www.transifex.com/otobo/teams/23435/mk/. These teams do not exists for OTOBO, I'm not sure whether they exist for OTRS. This should be cleaned up.

[2020-08-15 13:35] bschmalhofer commented on #353
Looks good.  Closing the issue.

[2020-08-15 13:35] #353 closed, assigned to bschmalhofer

[2020-08-15 13:38] bschmalhofer commented on #320
When the scripts are removed then we should check where OTOBO_RUNS_UNDER_PSGI is checked and simplify the code there.

[2020-08-15 13:39] bschmalhofer commented on #180
There is no need to worry about the calls to `exit` when there is a chance that support for non-PSGI will be removed. Closing the issue.

[2020-08-15 13:39] #180 closed, assigned to bschmalhofer

[2020-08-17 11:23] bschmalhofer opened #362 "UnitTests: Check test 27 in ./scripts/test/GenericInterface/Webservice.t"
That test case claims to test automatic upgrade.

` 'test 27 - Upgrade configuration scheme for Migration from OTRS 6 to OTOBO 10',`

However it is not obvious whether any upgrading actually takes place. In any case it would be nice to better document the test case.

[2020-08-17 12:24] bschmalhofer commented on #232
Note that the only relevant migration is from OTRS 6 to OTOBO 10.

[2020-08-17 12:53] bschmalhofer commented on #232
The UnitTests look fine. Closing.

[2020-08-17 13:00] bschmalhofer opened #364 "UnitTests: two failures in Can.t"
Might be that the command `Maint::Elasticsearch::Migration`  expects the ITSM package.

[code]

[2020-08-17 13:04] bschmalhofer commented on #190
The migration related failing test scripts have either been fixed or removed. See #232 .
The failures in Can.t is apparently not related to the migration. There is a new issue for that case: #364.
Closing the issue.

[2020-08-17 13:04] #190 closed, assigned to bschmalhofer, StefanRother-OTOBO

[2020-08-17 13:28] bschmalhofer commented on #258
Reopening as there are two problems:

- the missing  `Apache::DBI` is still reported in the _rel-10_1_ branch
-  `Apache2::Reload` is missing from the list of packaged modules in Kernel::System::Environment

So the approach for _rel-10_1_ is to explicitly handle that case in `Kernel::System::Environment`.

[2020-08-17 13:46] bschmalhofer opened #365 "Remove Kernel/cpan-lib/parent.pm"
The Perl module `parent` has been in core since Perl 5.10.
[code]
It was included in _Kernel/cpan-lib_ for supporting Perl versions prior to Perl 10.1.

[code]
As OTOBO requires PErl 5.24.0 I thing that parent,pm can safely be removed.

[code]

[2020-08-17 15:15] bschmalhofer commented on #364
Looks like the relevant code is executed only when the package *ITSMConfigurationManagement* is loaded. This means that _Can.t_ can do the same thing.

[2020-08-17 15:27] bschmalhofer commented on #365
Tests look good. Closing.

[2020-08-17 15:27] #365 closed, assigned to bschmalhofer

[2020-08-17 15:30] bschmalhofer commented on #136
PR is merged. But there is some fallout in the test suite:
[code]
Looks mostly harmless. Closing after the test errors are fixed.

[2020-08-17 15:59] bschmalhofer commented on #364
Test look good. Closing.

[2020-08-17 15:59] #364 closed, assigned to bschmalhofer

[2020-08-18 08:43] bschmalhofer commented on #136
Adapted the test suite. Closing the issue when the next run of the test suite looks good.

[2020-08-18 11:22] #136 closed, assigned to bschmalhofer, svenoe, StefanRother-OTOBO

[2020-08-18 11:23] bschmalhofer commented on #272
Activated EscalationSuspendStates in the Config while the test script runs. Looks good. Closing the issue.

[2020-08-18 12:14] bschmalhofer opened #371 "Remove dependency on List::Util::XS"
`List::Util::XS` is listed as a dependency but never used in OTOBO. Even if the module were loaded somewhere, then it would not make a difference. The module only indicates whether List::Util is implemented in C. This info is not very relevant because since Perl 5.11 it is assured that List::Util is implemented in XS.

[2020-08-18 12:21] bschmalhofer commented on #272
Forgot to merge the PR with some additional tests. Reopening.

[2020-08-18 12:45] bschmalhofer commented on #69
@svenoe I aggree with porting the existing usage of `Kernel::System::Time` to `Kernel::System::DateTime`. Missing methods can be added to the DateTime object. If there are no objections from your side I'll start an issue-branch for the 10.1 release.

The only downside I see I that Kernel::System::Time would no longer be supported by *rpc.pl*.

[2020-08-18 13:23] bschmalhofer commented on #69
The hard question is wheter Kernel::System::Time is used in other packages. However it safe to migrate away from Kernel::System::Time in OTOBO core.

[2020-08-18 13:24] bschmalhofer opened #374 "Migrate away from Kernel::System::Time in OTOBO core"
The hard question is whether Kernel::System::Time is used in other packages. However it safe to migrate away from Kernel::System::Time in OTOBO core.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/69#issuecomment-675476351_

[2020-08-18 13:43] bschmalhofer commented on #272
Test is still successful. Closing again.

[2020-08-18 13:43] #272 closed, assigned to bschmalhofer

[2020-08-18 13:44] bschmalhofer commented on #371
Dependency is removed. Tests still looks fine. Closing the issue.

[2020-08-18 13:44] #371 closed, assigned to bschmalhofer

[2020-08-18 14:36] svenoe commented on #146
Password check moved to the "repeat"-field. The validate plugin does not instantly run, but this is the same at other locations. In any case, no false negatives anymore, if filled in the correct order.

The unclickable continue button is not so important, imo.

[2020-08-18 14:36] #146 closed, assigned to svenoe

[2020-08-18 16:49] bschmalhofer commented on #374
One thing needs to be considered. `Kernel::System::Time` objects can be cached by the ObjectManager. `Kernel::System::DateTime`objects are not cached. This could lead to different times, as construction without params uses the creation time implicitly.

[2020-08-19 09:34] bschmalhofer commented on #311
Some investigation showed that `Maint::Cache::Delete` does indeed work. The found keys were most likely added again to the deleted cache. This is likely due to the actions of the OTOBO Daemon or maybe klicks in the web app.

However some strangeness concerning the option `--keep-type` were noted.

### no --keep-type is passed

 `flushdb` is not called. Instead all keys are deleted seperately. This

[2020-08-19 11:13] svenoe commented on #73
I think we need to somehow estimate a), how often those modules would help with regards to OTOBO, and b), how big their influence on coding would be in those situations. I will go through your list and write my initial judgement to each, and maybe you could comment on that, Bernhard. Numbers are given from 1 (no) to 10 (very) frequent/helpful.

1. List::More/AllUtils - 2/5: Actually lists don't se

[2020-08-19 11:35] svenoe opened #375 "Review error handling and confirm usability of the email setup in installer.pl."
It was reported, that the email setup of the installer.pl may be dysfunctional. I had a quick look and noticed, that when I willfully produced errors, sometimes the whole AJAX process dies, which should not happen. This should be investigated altogether. See also: https://otobo.de/de/forums/topic/install-pl/

[2020-08-19 15:50] bschmalhofer commented on #238
Dates must be converted to UTC before, and be converted to OTOBOTimeZone after, Scheduler::Cron::Event kicks in. This has not been implemented for all the relevant function. Things look good after adding the conversions. Closing.

[2020-08-19 15:50] #238 closed, assigned to nobody

[2020-08-19 15:50] bschmalhofer commented on #311
The tests look good. Closing when a manual inspection looks fine too.

[2020-08-19 15:53] bschmalhofer commented on #237
Looks good after applying the fixes for #238. Closing the issue.

[2020-08-19 15:53] #237 closed, assigned to bschmalhofer

[2020-08-20 07:06] bschmalhofer commented on #311
Manually tested Maint::Cache::Delete with:

- option --type           => only the passed type was deleted
- several options --keeptype         =>  passed types were not deleted
- no option                 => db was emptied, including the entry for _namespaces_

Looks good, closing the issue.

[2020-08-20 07:06] #311 closed, assigned to nobody

[2020-08-20 07:32] bschmalhofer opened #380 "Net::SMTP::SSL is deprecated, maybe switch to Mail::Message and Mail::Transport"
The documentation of  `Net::SMTP::SSL` states:

`Since Net::SMTP v1.28 (2014-10-08), Net::SMTP itself has support for SMTP over SSL, and also for STARTTLS. Use Net::SMTP, not Net::SMTP::SSL.`

So, lets use `Net::SMTP`.

[2020-08-20 08:52] bschmalhofer opened #382 "SysConfig: Deployment after search in SysConfig"
I got a strange effect where I could not deploy a changed setting. However when I tried it a third time it worked. I'm not sure whether I had changed my steps or whether it was a temporary glitch with the database connection. Let's see whether this occurs again. Therefore labelling the issue as 'question'.

So, for future reference, here are the steps and the error message:

- log in as 'root@loca

[2020-08-20 10:20] bschmalhofer commented on #251
@svenoe I tried to reproduce this but never got to the situation where I could not log in. I can think of some difference between your and my environment. Therefore my questions.

- Which browser were you using? I have Firefox 79.0.
- Is OTOBO running on the local machine ?  I only tested with  localhost.
- Could you check the value of 'Secure' on the cookies?

When HttpType is set to 'https' and

[2020-08-20 17:14] bschmalhofer commented on #251
Hi @svenoe,

I have done some more investigation. For that I did a minor cleanup up cookie related stuff in the rel-10_0 branch. The only significant change should be that the  OTOBOBrowserHasCookie should now have the same Expire time as the OTOBO session cookie. In my opinion it is weird to set the time to life of a cookie to one year in the future.

My theory is that the Secure flag of the sess

[2020-08-20 17:20] bschmalhofer commented on #251
Also added _bin/docker/quick_setup.pl_ for more convenient development in OTOBO 10.0.x.

[2020-08-21 09:28] bschmalhofer opened #385 "Layout: Country input field in AdminCustomerCompany"
The input fields are arranged in a nice way. But the input field for the country sticks out, as it is longer than the other fields.

[2020-08-21 09:51] bschmalhofer commented on #65
The readonly flag was not checked in AdminCustomerCompany.pm. The solution is to pass the old values for the readonly values.

[2020-08-21 09:53] bschmalhofer opened #386 "Read-Only flag in CustomerUser Map"
The readonly fields in the CustomerUser map should be checked when updating a customer user via the webapp. See #65.

[2020-08-21 10:50] bschmalhofer commented on #65
Tested with Firefox Webdevelopper 'Make Form Fields Writeable' . Looks good. Closing the issue.

[2020-08-21 10:50] #65 closed, assigned to bschmalhofer

[2020-08-21 11:14] bschmalhofer commented on #386
I checked the behavior of AdminCustomerUser using Firefox developer 'Make Form Fields Writeable'. The result was that readonly entries are not overwritten.
In contrast to  customer company the readonly check is implemented in `Kernel::System::CustomerUser::DB`. It's not nice that there are different strategies for honoring readonly. But making hasty change to `Kernel::System::CustomerCompany::DB`

[2020-08-21 11:14] #386 closed, assigned to bschmalhofer

[2020-08-22 17:20] bschmalhofer opened #388 "TimeStamp2SystemTime() does not honor the time zone in the string"
This problem is in both modules, `Kernel::System::Time`  and `Kernel::System::DateTime`. The tests are strange for cases like _2005-10-20T10:00:00Z_ . The implementation looks correct for  `Kernel::System::DateTime::_String2Hash()`.

[2020-08-24 07:07] bschmalhofer opened #389 "TicketEscalationSuspendCalculate() expects cron time to be four minutes"
In `Kernel::System::Ticket::TicketEscalationSuspendCalculate()` there are these lines:

[code]
It is not obvious where those four minutes come from. In OTOBO the default cron interval is five minutes,

[2020-08-24 10:18] bschmalhofer commented on #374
Migration has been done for modules and test scripts. Tests look fine. Some findings are in separate issues: #388 and #389. Closing this issue.

[2020-08-24 10:18] #374 closed, assigned to bschmalhofer

[2020-08-24 10:19] bschmalhofer commented on #69
After the migration of OTOBO modules one could put Kernel::System::Time into an OTOBO package. This could then be a required package for those packages that don't want to migrate to `Kernel::System::DateTime`.

[2020-08-24 13:31] bschmalhofer commented on #323
Let's do the same for migration.pl.

[2020-08-25 08:49] bschmalhofer opened #391 "Use DateTime::Format::ISO8601 for parsing timestamps"
In Kernel::System::DateTime there are function for parsing strings with date and times. It would be nice if these were more compliant to ISO-8601.

[2020-08-25 11:14] bschmalhofer commented on #388
See also #391 .

[2020-08-25 12:29] bschmalhofer commented on #388
Added support for Z and for offsets. Tests look fine. Closing the issue.

[2020-08-25 12:29] #388 closed, assigned to bschmalhofer

[2020-08-25 14:06] bschmalhofer opened #394 "Remove support for param KeepScriptTags for Kernel::Output::HTML::Layout::Template::Output()"
In _Kernel/Output/HTML/Layout/Template.pm_ there is the following deprecation note:

  `  KeepScriptTags - DEPRECATED, please use the parameter "AJAX" instead
`
TODO:

- [x] Check whether KeepScriptTags is used anywhere in OTOBO core

- [x] Refrain from checking OTOBO modules, there is no guarantee that no adaption are required for 10.1.

- [x] Remove support for the legacy feature

[2020-08-25 14:27] bschmalhofer opened #395 "Environment variable REQUEST_SCHEME is not reliable"
When testing migration.pl under Docker via HTTP I found that there is no warning about using HTTP
The cause seems to be that the env var REQUEST_SCHEME is not set when running unter Gazelle.

[code]

This is expected as the source of that info should be `$ParamObject->HTTPS('HTTPS')`.

A related effect is that on the Intro page of migration.pl the 'Continue' button is not visible when runnung unde

[2020-08-25 15:06] bschmalhofer opened #396 "Environment variables should not be visible in Templates"
_./Kernel/Output/Template/Plugin/OTOBO.pm_ make the OS environment variables available for reading in the Template Toolkit templates. This is surprising, at least to me, and can be considered a security risk.

[2020-08-26 08:09] bschmalhofer commented on #395
Continue button is now visible under HTTP and HTTPS. Closing the issue.

[2020-08-26 08:09] #395 closed, assigned to bschmalhofer

[2020-08-26 11:35] svenoe commented on #251
Just as remark: I always login via http://server/otobo/index.pl, never https.

[2020-08-26 21:17] joserribeiro26 opened #398 "System configuration help button"
There is a small and not critical problem with the help button, in the system configuration. Nothing that impacts the functioning of the system.

<img width="219" alt="Screenshot_7" src="https://user-images.githubusercontent.com/475022/91357959-69a33300-e7c8-11ea-81de-bab6bbd2443c.png">

[2020-08-27 11:57] svenoe commented on #398
Hi José,

thank you  for your contribution.

Some questions:
1. I assume you are on OTOBO 10.0.1 or later, and are not using a beta version anymore? (We had this behaviour a while ago, but at least for our systems it is fixed.)
2. Which browser are you using?
3. Do you, by chance, have a package with a very long name installed? (If you click on the package list, where in your picture "OTOBO" is se

[2020-08-27 12:51] joserribeiro26 commented on #398
Hi,
Yes, the version installed is the latest 10.0.2.
I have only the standard packages.

![image](https://user-images.githubusercontent.com/475022/91443398-ab27f280-e849-11ea-9dcf-b20b4a04a0cc.png)

My  screen resolution 1920x1080 with zoom 150%

![image](https://user-images.githubusercontent.com/475022/91443956-6e103000-e84a-11ea-9ce7-e1e279c58cc6.png)

[2020-08-27 13:41] svenoe commented on #398
Hmm...I don't think it's connected to the scaling of the monitor (to be sure, I clicked through some different scalings for mine, too, and it did not change the position of the button).

I assume it's browser specific and/or connected to fonts and their sizes. Could you tell me which browser you are using?

---

If you are up to some debugging, I would also be interested in the following:

If you

[2020-08-27 14:09] joserribeiro26 commented on #398
See if this information helps you.

![image](https://user-images.githubusercontent.com/475022/91453055-af5a0d00-e855-11ea-8461-7d44c2a63097.png)

![image](https://user-images.githubusercontent.com/475022/91453136-c3057380-e855-11ea-8981-b3997c0a02dc.png)

[2020-08-27 15:40] svenoe commented on #398
Ok, after looking again more closely, the problem is clear, I still don't know where it comes from, however:

Comparing both images, you have an additional margin or padding left of the input field.
<img width="61" alt="grafik" src="https://user-images.githubusercontent.com/48322755/91459778-560ad180-e887-11ea-835d-aa4b20405fd5.png"> <img width="46" alt="grafik" src="https://user-images.githubuser

[2020-08-27 16:24] joserribeiro26 commented on #398
Daylton who works here with me will help us :-)

[2020-08-27 16:58] bschmalhofer commented on #323
In the current setup there is a problem with the AJAX calls. Looks like no content is returned and an AjaxError Event is emitted. The user visible error message is:

`OTOBO hat mögliche Netzwerkprobleme entdeckt. Sie können entweder versuchen die Seite manuell erneut zu laden oder Sie warten bis ihr Browser die Verbindung wiederhergestellt hat.
`

[2020-08-28 08:37] bschmalhofer opened #399 "Require and use Cpanel::JSON::XS"
Currently `JSON::XS`is listed as not required in _bin/otobo.CheckModules.pl_ . This means that `Kernel::System::JSON`will use either `JSON::PP`or `JSON::XS` for the backend of `JSON`. Both modules are compatible so this should be no problem. But requiring JSON::XS reduces the numbers of variants that con occur in the wild.

[2020-08-28 11:52] bschmalhofer commented on #323
Could do now a complete sample migration. At the end there is a small issue, where settings in _Kernel/Config.pm_ are set to unexpevted values when migrating from a test-setup of OTRS.

`
otobo@779937f60d6a:~$ grep -r 20200824 Kernel/Config*                                                                                                                  Kernel/Config.pm:        $Self->{'SessionName

[2020-08-29 10:26] bschmalhofer commented on #320
@svenoe pointed out that removing the scripts means a loss of flexibility for pure CGI webservers. That's a valid point. Therefore the scripts should not be removed but turned into wrappers around otobo.psgi.

[2020-08-29 10:32] bschmalhofer commented on #73
`Log::Log4perl`gives a great amount of flexibility but is a major undertaking. This deserves its own issue.

[2020-08-29 10:33] bschmalhofer opened #402 "Turn Kernel::System::Log into a wrapper around Log::Log4perl"
`Log::Log4perl`gives a great amount of flexibility but is a major undertaking. This deserves its own issue.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/73#issuecomment-683271423_

[2020-08-30 12:24] bschmalhofer opened #403 "CI: build Docker images via Github actions"
Currently there are some Github actions and automated builds on https://hub.docker.com/. Maybe it is good to minimise the number of tools used. Docker images can also be built by a Github action and then be pushed to Docker hub.

[2020-08-30 13:50] bschmalhofer commented on #277
@StefanRother-OTOBO , @svenoe

I have adapted the label in https://github.com/RotherOSS/otobo/tree/issue-277-open_containers_initiative. Could you take a look at these labels, whether the changes can be merged into rel-10_0:
[code]
The version is currently the Docker tag. For releases it probably is sensible to normalize _rel-10_1_0_ to _10.1.0_.

[2020-08-31 08:07] bschmalhofer commented on #181
No problems encountered. Closing this issue.

[2020-08-31 08:07] #181 closed, assigned to bschmalhofer

[2020-08-31 08:10] bschmalhofer commented on #210
Discussing this with @svenoe we found that this should be split up in separate issues. This issue is now only about documenting which CPAN versions are used when building a Docker image.

[2020-08-31 08:38] bschmalhofer commented on #277
Changed   "org.opencontainers.image.url" to point to "https://github.com/RotherOSS/otobo".
On second thought I probably would leave "org.opencontainers.image.version" to contain the Docker hub tag, That is _rel-10_0_3_ instead of _10.0.3._ . Looks more consistent to me, as there are also tags for devel versions and maybe other cases.

[2020-08-31 12:30] ymyasoedov opened #405 "Bug in Kernel::System::Cache::Redis logging messages"
Please, get the fix from here  https://github.com/ymyasoedov/OTRS-CacheRedis/commit/a27a8b67694643462ffe95445595a865e63bd011

[2020-08-31 13:34] svenoe commented on #405
Thanks @ymyasoedov, I added it in 9eb8eadc865028edd35abad0689ad7c5a6d43713. :)

[2020-08-31 13:34] #405 closed, assigned to nobody

[2020-09-01 13:39] svenoe opened #406 "Use irand instead of int rand in Main.pm."
According to https://metacpan.org/pod/Math::Random::Secure this should be faster. Kernel/System/Main.pm uses int rand in sub GenerateRandomString.

[2020-09-01 13:58] bschmalhofer commented on #406
@svenoe , while you are at it cou convert the sub to calling  Math::Random::Secure::irand() only once and then convert the result to base 62, that is to a string containing only the 62 characters in `[0-9][a-z][A-Z]`.

[2020-09-01 14:04] svenoe commented on #406
Yes, I thought about that, although you can call this for variable dictionaries and string lengths, and so some calculating has to be done, and one time won't be enough, if your string exceeds 32bit of information, as I understand it.

[2020-09-01 14:07] bschmalhofer opened #407 "PSGI: SupportDataCollector does not report anything about the webserver"
The support data collector should report whether it runs under PSGI,
The PSGI Environment should also be in the support data.

[2020-09-01 14:38] bschmalhofer commented on #210
Use carton to install dependencies in /opt/otobo_install/local. Test look file. The snapshot file is generated. Closing the issue.

[2020-09-01 14:38] #210 closed, assigned to bschmalhofer

[2020-09-02 14:43] bschmalhofer commented on #407
Enhanced the support data. Closing the issue.

[2020-09-03 08:17] svenoe opened #410 "Fix services for CustomerTicketMessage."
Services are not shown, if no default queue is provided. (MaskNew doesn't collect services without a queue. This does not work for otobo, as we don't check the services again, when the queue changes.)

[2020-09-03 08:19] #410 closed, assigned to nobody

[2020-09-03 08:36] svenoe opened #411 "Have a look at Queue -> Service dependencies throughout the code."
The subroutine TicketServiceList in Kernel/System/Ticket.pm only returns services if a QueueID is provided, which doesn't align with any config options or so, as services in the standard are independent of queues. This is likely because OTRS provides a package to introduce those dependencies. We would introduce them as ACLs however, so this should not be needed. Also affects at least all ticket sc

[2020-09-03 10:14] bschmalhofer commented on #246
Hadolint https://github.com/hadolint/hadolint looks like a good choice for linting.
Added _bin/docker/lint_docker_files.sh_ for running the linter.
Adapted the docker files so that hadolint is happy.
Closing the ticket when tests are successful.

[2020-09-03 11:03] bschmalhofer commented on #246
Got some test failures. Need to investigate whether these are related to the Dockerfile changes.

[code]

[2020-09-03 13:12] svenoe opened #412 ""Send a bugreport" in Layout->FatalError links to bugzilla."
This should be linked to github issues. Maybe something should prevent that everytime a custom package destroys something, people start to create issues, here, however...

[2020-09-03 14:23] squidy opened #413 "Fix TreeView combined with HideShow."
I created some dropdown fields configured as tree view and set them to show on CustomerTicketMessage screen using ACL. However, when the customer tries to select those fields, the message "Loading" shows and the values never apears.

Otobo 10.0.2

![OTOBO-loading-select-tree](https://user-images.githubusercontent.com/43784/92128427-644d7600-edd0-11ea-9855-7c56daf07166.png)

![OTOBO-loading-select-

[2020-09-03 15:08] svenoe commented on #413
Hi squidy,

to me it looks like somewhere in the process you encounter a Javascript error, which cancels the buildup of the page. (For example those small tree icons on the right should be hidden, too.) As for me it works, it's not so easy to debug this. Could you try to open the console of the browser, to see if there are any error messages? (If you tell me, which one you are using, I can help yo

[2020-09-03 15:19] squidy commented on #413
Hi Sven..
I'm using Google Chrome on Linux.
Take a look at the error message from my console..

![OTOBO-loading-dropdown-tree-debug](https://user-images.githubusercontent.com/43784/92134241-4afbf800-edd7-11ea-9a4c-93ce3d8489b3.png)

[2020-09-03 15:39] StefanRother-OTOBO commented on #277
Hi Bernhard,

please implement it the way you think, it sounds perfekt for me.

Stefan

[2020-09-03 20:26] bschmalhofer commented on #246
Same test failures were seen in rel-10_1 branch, Look like they are not related to the Dockerfile changes. Closing the issue.

[2020-09-03 20:26] #246 closed, assigned to bschmalhofer

[2020-09-03 21:06] bschmalhofer commented on #277
Labels look fine in local and in Docker hub builds. Closing the issue.

[2020-09-04 06:31] svenoe commented on #413
Hi squidy,

sorry, I was too quick, yesterday - could you please do the following:

1. Go to the SysConfig in the Admin area, search there for "Loader::Enabled::JS" and deactivate it by unchecking the box and deploying those settings.
2. Probably not needed but just to be sure; you could try without: Go to the terminal of the machine you installed otobo on, and as otobo user execute: /opt/otobo/bi

[2020-09-04 08:15] bschmalhofer commented on #382
Tested again in the rel-10_1 branch. Looks good. Closing the issue.

[2020-09-04 08:15] #382 closed, assigned to bschmalhofer

[2020-09-04 11:50] bschmalhofer commented on #406
I also noted that the namespace `Kernel::System::Main` is not very clean. Various subroutines are imported into the namespace which are subsequently available as methods on the Main object. `use namespace::autoclean;`can do the cleaning up. This module is not a new dependency, as it is already implicitly required because of the module `Moo`. See also http://perladvent.org/2011/2011-12-03.html.

[2020-09-04 12:28] bschmalhofer commented on #406
Tests look fine. Closing the issue.

[2020-09-04 12:28] #406 closed, assigned to bschmalhofer

[2020-09-04 13:18] squidy commented on #413
Hi Sven,

I did what you said, but I think that nothing changed.. Take a look.

![OTOBO-loading-dropdown-tree-debug3](https://user-images.githubusercontent.com/43784/92243518-9bcf2780-ee8f-11ea-8bd3-eeec0243ed7a.png)

![OTOBO-loading-dropdown-tree-debug2](https://user-images.githubusercontent.com/43784/92243308-4abf3380-ee8f-11ea-9fb8-12e75cb95c47.png)

[2020-09-04 16:34] svenoe commented on #413
Hi squidy,

I think there is still something cached, somewhere, but it doesn't matter: I'm a bit further - the error is produced in one of the thirdparty routines, namely the jstree. I unfortunately (or fortunately ;) cannot reproduce it, though (also when using GoogleChrome):

<img width="1042" alt="grafik" src="https://user-images.githubusercontent.com/48322755/92260920-f0e35b80-eed8-11ea-82e0-0

[2020-09-05 10:01] bschmalhofer opened #417 "Don't run otobo_cron_1 as root"
Higher priority is to avoid running docker containers as root. This is already the case for otobo_web_1, but should also be the case for otobo_cron_1. The most simple ide a is to get rid of cron and call in _entrypoint.sh_ something like

`watch -n 300 $HOME/bin/otobo.Daemon.pl start`

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/280#issuecomment-687583015_

[2020-09-05 13:33] bschmalhofer commented on #417
cron is gone now. Tests look fine. Closing the issue.

[2020-09-05 14:19] bschmalhofer commented on #417
Reopening as the setup can be simplified by using the `restart: on-failure` setting. See https://docs.docker.com/compose/compose-file/#restart .

[2020-09-06 10:40] bschmalhofer commented on #417
It's complicated. The OTOBO Daemon can't easily be run as a foreground process as _bin/otobo.Daemon.pl_ makes an effort to run the actual Daemon as a forked process. So we stick with _entrypoint.sh_ acting as a watchdog for the Daemon. Which is fine, as it prohibits the frequent retries that would be done by docker-compose.

While investigating this it was found the the Daemon does not shut down g

[2020-09-06 11:09] bschmalhofer commented on #417
Tests look fine. The Github action has problems, but that looks unrelated. Closing the issue.

[2020-09-07 08:22] bschmalhofer opened #420 "Docker: provide Suppport for Backup and restore"
OTOBO has scripts for creating and restoring backups. The location of the backup must be specified on the command line. The backup date files are stored in a timestamped subdir of the passed directory.
_entrypoint.sh_ already allows to execute arbitrary command.

Periodic backups can be triggered, e.g. by a cronjob, on the Docker host. Restoring backups can done manually on the command line. The b

[2020-09-07 12:41] bschmalhofer opened #422 "Docker: fix the github action 'syntax check'"
Since a couple of days the Github action no longer works for the rel-10_1 branch.

[code]

It looks like an issue with permissions in /__w/otobo/otobo/.git .   I suppose this is because the default USER in the rel-10_1 image is now 'otobo' and no longer 'root'.

[2020-09-07 13:12] bschmalhofer commented on #422
Setting the user in the image to root worked. Closing the issue.

[2020-09-07 14:01] bschmalhofer opened #424 "UnitTests: Five new test failures"
A couple of tests started to fail on the weekend.

[code]

[2020-09-07 14:07] bschmalhofer commented on #424
My guess is that this is some HTTPS-Issue that happens when the container no longer runs as root.Might be related to #417

[2020-09-07 17:30] wollmers commented on #175
If Mojolicious is installed, `Mojo::UserAgent` can be used for many tests under perlish test infrastructure.

[2020-09-07 17:42] wollmers opened #425 "Stopwords missing for most supported languages"
In `Kernel/Config/Files/XML/Ticket.xml` stopwords are only provided for the languages EN, DE, NL, ES, FR, IT but not for all ~50 languages.

[2020-09-07 17:59] bschmalhofer commented on #175
Yes, we could also create a Mojolicious wrapper for otobo.psgi and use https://metacpan.org/pod/Test::Mojo.

[2020-09-07 18:01] svenoe commented on #175
There are quite a number of Selenium tests present however, which should be used again, at some point!
(If there are reasons to swap to Mojolicious for newer tests I'm not against it. It would just be a waste if we didn't use what's there already, I figure...)

[2020-09-07 18:21] wollmers commented on #318
Just some comments as a contribution to the discussion, not a solution.

1) where are the standards documented ?

Good question. Should be easy to find and read.

2) `unless` as a statement modifier

Did a `grep -R unless ./Kernel`. Appears only in `./Kernel/cpan-lib`.

Personally I try to avoid `unless` unless [sic!] it's simple, obvious and reduces nesting levels.

3) early return from subroutin

[2020-09-07 19:33] squidy commented on #413
Hi Sven.
Sorry for the delay..
Check it out..

![Otobo-Debug1](https://user-images.githubusercontent.com/43784/92413658-12358900-f11f-11ea-9571-4ee4092360f5.jpg)

[2020-09-07 19:37] wollmers commented on #425
If it is useful in which format should I provide the stopwords for the other languages? As pull request directly into `Ticket.xml` or as plain files one word per line?

How many should I select? The top x (e.g. 100 or 200) or cut off at e.g. cumulated 50%? In German the most frequent 207 words form ~50% of all words in texts.

[2020-09-07 20:01] wollmers opened #426 "Fulltext indexing regexes should be reviewed"
The regexes for fulltext indexing in `Kernel/Config/Files/XML/Ticket.xml` are maybe broken in some cases.

This can cause that the indexing is not perfect.

[code]
1. `[,\&\<\>\?"\!\*\|;\[\]\(\)\+\$\^=]` does not include all punctuation, e.g. “”«» are missing.

IMHO `[^\w':.-]` should do better what's intended.

2. `^[':.]|[':.]$]` misses other apostrophe-like characters.

3. `^[^\w]+$` assuming `

[2020-09-07 20:32] wollmers opened #427 "[Meta] Right place to submit website issues?"
Have 4 critical and 4 other issues in supporting websites so far.

Where should I report them?

[2020-09-07 20:32] svenoe commented on #413
Hi squidy,
thanks for the output. Seemingly Outro works, but Teste has a problem. The place is clear now, and I will have a look at it, but my next two or three days are really busy, so you will need some patience. Just to let you know.
Have a nice day/evening, Sven

[2020-09-08 07:46] bschmalhofer commented on #425
@wollmers : As far as I see the stopwords are not specific for OTOBO. Is there a CPAN module or a Debian package that provides stopword lists? I only found https://metacpan.org/release/Lingua-StopWords which does not support many languages either. Maybe supplying your lists to Lingua::StopWords would be the best approach.

[2020-09-08 10:03] bschmalhofer opened #429 "Docker: provide a location in /opt/otobo where Perl modules can be installed"
Sometimes it is necessary to install addditional Perl modules from CPAN in a Docker based installation. Installation can easily be done with `cpanm`. However modules install in a system location are lost when the container is restarted. This could be worked around by taking a snapshit of the running container, but this is not user friendly.

_/opt/otobo/Kernel/cpan-lib_ is a candidate for a Perl l

[2020-09-08 11:10] wollmers commented on #425
@bschmalhofer I have frequency lists (`word\tcount`) for 2200 languages, most frequent 50 K words each. I could compile the lists myself. They are e.g. base of my CPAN module Text::Guess::Language (58 Languages).

Wrote a mail now to adopt Lingua::StopWords and provide more languages there. The answer can take some time.

Stopword lists are not always exactly the same depending on the underlying c

[2020-09-08 13:41] bschmalhofer commented on #425
@wollmers My impression is that Stopword support in OTOBO is a bit of a mess currently. As far as I see the stopwords are only used for MariaDB/PostGresql/Oracle. But the design is not very good. Two issues spring to my mind:

The lists are eventually stored in ZZZAAuto,pm. This means that they are loaded again for every request. This does not look economical to me.
Update: its not as bad as I fea

[2020-09-08 14:10] bschmalhofer commented on #429
Tested with:

- add String::TtyLength as dependency on otobo.psgi
- get failure starting the web container
- install String::TtyLenght in the daemon container
- starting the web container succeeded then

Doku was added to the installation guide.

Closing the issue.

[2020-09-08 14:10] #429 closed, assigned to bschmalhofer

[2020-09-08 14:46] bschmalhofer commented on #420
@StefanRother-OTOBO  confirms that backup.pl works. Documentation has been added. Closing the issue.

[2020-09-08 14:46] #420 closed, assigned to bschmalhofer

[2020-09-08 16:48] wollmers commented on #425
@bschmalhofer

1) stored in ZZZAAuto.pm

As I understand roughly, ZZZAAuto.pm caches XML. This should only be done at coldstart and reload after changes.

2) OTOBO could get the language(s) a ticket is written in by one of CPAN modules for language identification.
This is never perfect because it's based on statistical models. Also they tickets can contain mixed language.

3) Putting the stopwords

[2020-09-09 07:51] bschmalhofer commented on #227
It looks like using the existing scripts _backup.pl and _restore.pl_ is good enough. See #420.

[2020-09-09 07:51] #227 closed, assigned to bschmalhofer

[2020-09-09 08:26] bschmalhofer commented on #424
Apparently this was a problem with the certificate at https://ftp.otobo.org/. See https://otobo.de/en/forums/topic/probleme-mit-package-repository/. Closing the issue.

[2020-09-09 08:26] #424 closed, assigned to bschmalhofer

[2020-09-09 08:47] bschmalhofer commented on #380
Looks like this opens a can of worms.

``Net::SMTP::SSL`` is deprecated. This module is used only in _Kernel/cpan-lib/Mail/Mailer/smtps.pm_.
_smtps.pm_ is part of the MailTools-Distribution from CPAN, https://metacpan.org/source/MARKOV/MailTools-2.21/README.md
The README.md of MailTools states:

From that blurb I gather that it would be worthwhile to make an effort to replace MailTools. My assessm

[2020-09-09 09:28] StefanRother-OTOBO opened #432 "Add the possibility to define max-allowed-package in scripts/backup.pl"
Hi,

we don not like to change the MariaDB docker image. But for backup reason, we need the possibility to change max-allowed-package for mysqldump.

Please change scripts/backup.pl and add a new param max-allowed-package= size. After that add the param like mysqldump --max-allowed-packet=681574400.

Thanks,

Stefan

[2020-09-10 09:58] bschmalhofer commented on #175
Selenium testing is activated by pasting Selenium configuration into Config.pm

    # ---------------------------------------------------- #
    # setting for running Selenium tests under Docker      #
    # ---------------------------------------------------- #
    $Self->{'SeleniumTestsConfig'} = {
        remote_server_addr  => 'localhost',
        port                => '5555',
        platfor

[2020-09-10 12:55] wollmers commented on #175
@bschmalhofer Where are the Selenium tests running in the above case? In the docker host? I guess, because it needs the binary of FireFox.

Tried yesterday to get a Selenium client running via Perl on Mac OS. Specifying `firefox` doesn't work on Mac OS even with full path (wich starts FF from the command line). The modules for Selenium on Cpan do not look well maintained.

Using PhantomJS (without

[2020-09-10 13:26] wollmers commented on #425
Investigated the capabilities of Solr (used by ElasticSearch), MySql/MariaDB, PostgreSql a little bit.

The stopword list in MySql seems system wide. Needs restart of `mysql` after changes (not completely sure), and reindexing afterwards. But better than nothing.

PostgreSql has very advanced language support for fulltext indexing and search. It also allows to have the language (config_name) in a

[2020-09-10 19:31] bschmalhofer commented on #175
@wollmers, I just started looking into Selenium testing for OTOBO. It is not clear to me how well these tests were maintained in OTRS.
My preference is that the tests are running in the otobo_web_1 container, just like the other tests. Preferably without having to use another container.

[2020-09-10 19:41] KriegerV opened #433 "Integrate Rocketchat into Otobo"
Rocketchat can provide a complete live chat module to Otobo through which bots can interact.

by just focussing on Rocketchat integration, Otobo will be enhanced with 2 services: livechat and chatbot.

And chatbot integration will be covered by Rocketchat community -> less efforts for Otobo's one.

[2020-09-11 08:31] svenoe commented on #433
Hi KriegerV,
thanks for your suggestion, we will definitely discuss this internally and let you know of our plans.
Have a nice day, Sven

[2020-09-12 09:54] bschmalhofer opened #434 "PSGI: Consistent use of DBIx::Connector"
In `Kernel::System::DB::Connect` there is currently  both a reuse of `$Self->{dbh}` and reconnection with `DBIx::Connector`. While this works it is probably not best practice.

TODO:

- [x] Investigate what best practice actually is
- [x] Check whether rel-10_0 and rel-10_1 already diverge
- [x] Run the DB::Connect statements as Callbacks
- [x] implement

[2020-09-13 14:14] bschmalhofer commented on #434
According to https://metacpan.org/pod/release/DWHEELER/DBIx-Connector-0.47/lib/DBIx/Connector.pm#dbh and  http://perladvent.org/2011/2011-12-22.html it looks like simply using the method `dbh`  of the connector object is best practice. The method ``dbh``pings the database itself, this means that the pings in `Kernel::System::DB` can be skipped.

The downside is that this would increase the number

[2020-09-13 15:33] bschmalhofer opened #435 "Redis: avoid double serialisation"
Redis can AFAIK deal natively only with simple structures. Therefore the to be chached data structures are currently serialised before storing the data in Redis. Is there a better way?
Maybe https://metacpan.org/pod/CHI::Driver::Redis can be used for that.

[2020-09-13 15:34] bschmalhofer commented on #107
See also #435 .

[2020-09-13 15:50] bschmalhofer opened #436 "PSGI: Check whether CacheInMemory = 1 is safe under PSGI"
In OTOBO there is an first level Cache in the process memory. Investigate whether this can have unwanted effects when running under Gazelle.

[2020-09-14 08:28] bschmalhofer commented on #436
### detailed question:
There are two ways a type, key, data triple is cached.

1. InMemory: within the current instance of `Kernel::System::Cache`
2. InBackend: in a persistent backend, like the FileSystem or Redis

When retrieving data, InMemory has precedence over InBackend.

Per default, both ways are enabled. Either way can be turned of by:

1. Global configuration in the SysConfig
2. By the m

[2020-09-14 08:29] bschmalhofer commented on #436
Let's keep this issue open for a while, in case something has been overlooked.

[2020-09-14 09:01] bschmalhofer commented on #434
Also, in OTOBO 10.0.2 there is bug in the PSGI case. The attribure 'RaiseError => 0' was not passed to `DBIx::Connector->new()`. It is not clear whether this had noticable effects.

[2020-09-14 10:03] bschmalhofer opened #437 "Are PreProcessSQL() and PreProcessBindSQL() still needed?"
The methods are only defined only for `Kernel::System::DB::mysql`. The explicitly encode the strings sent via the MySQL database connection. My hunch is that this might no longer be necessary. Needs to be investigated.

[2020-09-14 10:40] bschmalhofer opened #438 "Is pg_enable_utf8 still needed ?"
This attribute is set when connecting to a PostgreSQL database. A superficial reading of https://metacpan.org/pod/DBD::Pg#pg_enable_utf8-(integer) suggest that the default setting of `pg_enable_utf8` is good enough.

[2020-09-14 11:28] bschmalhofer commented on #246
File it under milestone 10.1 as the task is already done.

[2020-09-14 13:04] bschmalhofer commented on #437
This is fairly confusing. See https://github.com/perl5-dbi/DBD-mysql/issues/106. According to https://metacpan.org/changes/distribution/DBD-mysql the old buggy version of DBD::mysql was restored in DBD::mysql 4.0.43. This means that the comment in _Kernel/System/DB/mysql,pm_ is obsolete:

[code]

My preferred solution is to switch to DBD::MariaDB. See https://metacpan.org/pod/distribution/DBD-Mari

[2020-09-14 14:43] bschmalhofer commented on #432
Implemented, but still needs testing.

[2020-09-15 07:14] wollmers opened #441 "Cleanup useless use ...;"
E. g. `Kernel::System::DB::mysql` has

[code]

but uses `Kernel::System::Encode` for encoding or decoding.

Cosmetic.

[2020-09-15 08:49] bschmalhofer commented on #441
Thanks Helmut, I cleaned that up.

[2020-09-15 08:49] #441 closed, assigned to bschmalhofer

[2020-09-15 09:57] svenoe commented on #413
Hi squidy,
I had time to look a bit further. Actually I think that what you are seeing is only a side product of your page not loading properly, and I fear that it could get quite difficult to track down the real reason, if that's our only clue. Nonetheless, there are at least some additional things we could try. First, I would be interested in your html again. When you right-click on the Teste-fi

[2020-09-15 10:56] bschmalhofer commented on #432
The option is actually  called `--max-allowed-packet`, not `--max-allowed-package`.
Tested by doing a dummy backup of OTOBO running under Docker. Looks fine.
Documentation has been updated. Closing the issue.

[2020-09-15 10:56] #432 closed, assigned to bschmalhofer

[2020-09-15 17:47] bschmalhofer opened #444 "PSGI: test /hello and /otobo/dbviewer"
/dbviewer tends to bitrot. Add a test that runs only  in the Docker use case.

[2020-09-15 18:17] squidy commented on #413
I have an ACL on the first line that hide all dynamic fields from form, then others ACLs that show fields based on the service..
**I deactivated the ACL that hide all fields** from CustomerTicketMessage and **the tree load correctly**...
When I active it, the tree stops on "loading".

Take a look the ACL that hide all..
![OTOBO-loading-dropdown-tree-ACL1](https://user-images.githubusercontent.com/

[2020-09-15 21:46] squidy commented on #413
So if I enable the ACL CustomerTicketMessage_HIDE_ALL, the field campoTeste does not load.

Inspecting the element I can view the following div:

![OTOBO-loading-dropdown-tree-ACL2](https://user-images.githubusercontent.com/43784/93268466-39253800-f77b-11ea-877c-276908de62b1.png)

[2020-09-16 06:10] svenoe commented on #413
Hi squidy,
thanks, now the problem is clear. It is a bug and we will fix it.
Sven

[2020-09-16 11:10] svenoe commented on #69
Kernel::System::Time will be removed in 11.0. It won't be used in core code until then, but stay for compatibility of third party packages. Two tasks remain open:

- [ ] Document this in the developers manual, when it is up.
- [x] Check for possible performance issues connected to Kernel::System::DateTime (Sven).

[2020-09-17 10:40] svenoe commented on #318
•	Devel Handbuch und in CodePolicy anpassen
•	Nachgestellte conditions nur im Kontrollfluss (next, return, …)
•	Nachgestellte conditions dürfen maximal ein && oder || besitzen (sonst z.B. zwei next für ||, oder nicht nachgestellt)
•	unless ist verboten, außer in einfachen(!) nachgestellten conditions (statt next if !$x)
•	early return aus subroutines ist in Ordnung
•	my $Self = shift; ist erlaubt

[2020-09-17 10:40] #318 closed, assigned to bschmalhofer, svenoe, StefanRother-OTOBO

[2020-09-17 11:12] svenoe commented on #88
In principle there is no reason against it, priority is very low however.

[2020-09-17 11:43] svenoe commented on #211
In the beginning we will use Github Actions. Exact scenarios have to be defined.

[2020-09-17 11:50] svenoe commented on #226
Remove in 11.0. Document this in the developers manual, when it is up.

[2020-09-17 11:58] svenoe commented on #263
Todo @StefanRother-OTOBO: Check whether oracle instant client can legally be shipped with otobo.

[2020-09-17 12:04] svenoe commented on #351
Might be good, to use a higher version for TLS 1.3. (@wollmers)

[2020-09-17 13:13] svenoe commented on #394
Raus mit 11; deprecation note.

[2020-09-17 13:25] svenoe commented on #399
Check for supported systems.

[2020-09-17 13:50] svenoe commented on #427
Send a mail to hello@otobo.de please.

[2020-09-17 13:50] #427 closed, assigned to svenoe, StefanRother-OTOBO

[2020-09-17 14:05] svenoe commented on #437
If DBD::mysql 4.0.43 is available for all supported Distros, this can be removed, and 4.0.43+ can be required. (DBD::mariadb should probably be used longterm.)

[2020-09-18 07:32] bschmalhofer commented on #277
Let's backport this to 10.0.3 as the Docker version is starting to get used. TODO:

- [x] backport
- [x] check labels of local builds
- [x] check labels of Docker Hub builds

[2020-09-18 08:10] bschmalhofer commented on #417
Reopening as the feature should be backported to OTOBO 10.0.4

[2020-09-18 08:41] bschmalhofer opened #446 "Remove Windows specific modules in Kernel/cpan-lib"
OTOBO does not officially support Windows. Therefore no Windows specific Perl-Modules are needed. Therefore Kernel/cpan-lib can be cleaned up.
TODO:
- [x] identify the modules that can be removed, document them in this issue
- [x] remove the Modules
- [x] Remove skips in _scripts/tests/Compile.t_

[2020-09-18 09:05] bschmalhofer commented on #277
Labels look fine. Closing again.

[2020-09-18 09:05] #277 closed, assigned to nobody

[2020-09-18 09:45] svenoe commented on #413
Fixed.

@squidy - We will release OTOBO 10.0.3 today or at the beginning of next week. If you can't wait, you can download and replace the following file on your system: https://github.com/RotherOSS/otobo/blob/rel-10_0/var/httpd/htdocs/js/Core.UI.InputFields.js

Thanks for pointing out the bug and helping to narrow it down, again. :)

[2020-09-18 09:45] #413 closed, assigned to svenoe

[2020-09-18 09:50] bschmalhofer opened #447 "Testing: Backport changes in testsuite from rel-10_1 to rel-10_0"
For the 10.0.4 release it would be nice to have a test suite that works with prove and that provides a more meanigful test summary.
TODO:

- [x] Migrate the adaptions to the test suite from 10_1 to 10_0, after the release of 10.0.3
- [x] Verify that the test suite runs
- [x] Fix or skip tests that are specific to rel-10_1, or create in issue

[2020-09-18 09:58] bschmalhofer commented on #446
This is not a bug. Implement it for 10.1.

[2020-09-18 11:51] svenoe commented on #362
Any code for upgrades between major OTRS versions (in this case OTRS 5 to OTRS 6) can not be automatically recycled for the same purposes with regard to upgrades from OTRS 6 to OTOBO. At least at the moment, I guess in general, however. All code which has a purpose in the OTRS version upgrades should eventually be inspected, and if that purpose is still valid in the upgrade to OTOBO, will probably

[2020-09-18 12:24] bschmalhofer commented on #446
- _URI/file/Win32.pm_ keep as it is part of `URI`
- _PDF/API2/Win32.pm_ keep as it part of `PDF::API2`
- _Font/TTF/Win32.pm_ keep as it part of `Font::TTF` which is required by `PDF::API2`

The impression that there are Windows specific distributions in _Kernel/cpan-lib_ was wrong. Remove no modules. Closing the issue.

[2020-09-18 12:24] #446 closed, assigned to bschmalhofer

[2020-09-18 12:40] bschmalhofer commented on #73
This issue is a hodgepodge of different issues. Some are about adding utilitiy modules, some are about changing the archtecture of OTOBO. Let's collect the list of small utility modules and manage them in a separate issue.

[2020-09-18 12:41] bschmalhofer opened #449 "Require some utility modules that might come handy in future"
This issue is a hodgepodge of different issues. Some are about adding utilitiy modules, some are about changing the archtecture of OTOBO. Let's collect the list of small utility modules and manage them in a separate module.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/73#issuecomment-694843681_

[2020-09-18 13:09] bschmalhofer commented on #449
Let's decide on a list of utility modules. If accepted these modules should not only be required in _bin/otobo.CheckModules.pl_ but also be listed as recommended modules in the developper manual.

Most of these modules were initially in #73.

- [ ] `List::AllUtils`, the initial proposal in #381  was List::MoreUtils, but List::AllUtils looks like the more convenient solution
- [ ] `Const::Fast`. re

[2020-09-18 13:14] bschmalhofer commented on #192
This change would also allow the use of  `Test2::V0` and `Test::Builder`.

[2020-09-18 13:19] bschmalhofer commented on #73
I shortened the list, as there is now #449 and other related issues.

[2020-09-20 13:17] bschmalhofer commented on #435
`CHI::Driver::Redis` also serialises before submitting the data to Redis. No performance gains are expected here. There is also the Redis module ReJSON, see https://redislabs.com/blog/redis-as-a-json-store/. But for that the data needs to be serialised as JSON first. Thus no performance gain expected here as well.

Closing the issue.

[2020-09-20 13:17] #435 closed, assigned to bschmalhofer

[2020-09-21 08:54] wollmers commented on #132
Split config files into

- include (usable for both http and https)
- http
- https

[2020-09-21 09:24] GritRother-OTOBO opened #450 "Backlink from Weblate to the Translate OTOBO website"
Dear OTOBOs,

I think it would be helpful to integrate a link to the OTOBO Translate website and Translate Forum on the Weblate starting page translate.otobo.org to make them easier accessible.

Relevant info on translating OTOBO:
https://otobo.de/de/otobo-uebersetzen/
https://otobo.de/en/translate-otobo/

OTOBO Translation forum:
https://otobo.de/de/forums/otobo/otobo-forum/otobo-translations/

T

[2020-09-21 10:37] #450 closed, assigned to nobody

[2020-09-21 10:47] bschmalhofer opened #451 "Migration: Ergebnis der Datenbankprüfung"
During the migration the access to the OTRS home dir and the access to the OTRS database is checked.
When the home dir check fails then the error message contains: "Ergebnis der Datenbankprüfung". This message is uncorrect as the database is not checked at this point.

[2020-09-21 11:06] StefanRother-OTOBO commented on #358
Fixed in 10.0.3

[2020-09-21 11:06] #358 closed, assigned to StefanRother-OTOBO, GritRother-OTOBO

[2020-09-21 11:09] StefanRother-OTOBO commented on #43
Removed file COPYING.

[2020-09-21 11:09] #43 closed, assigned to StefanRother-OTOBO

[2020-09-21 11:48] bschmalhofer commented on #451
Message is repaired. Risking to close the issue without sanity check.

[2020-09-21 11:48] #451 closed, assigned to bschmalhofer

[2020-09-21 11:53] bschmalhofer commented on #351
Assigned the issue to @wollmers , because he is our Apache config expert.

[2020-09-21 12:44] bschmalhofer commented on #436
No problems were encountered. Closing this issue, keeping it in 10.0.3.

[2020-09-21 12:44] #436 closed, assigned to bschmalhofer

[2020-09-21 14:03] StefanRother-OTOBO opened #453 "In some packages are OTRS Verify Logos shown"
Hi,

in some OTOBO packages (if tested FAQ and Time Accounting) are "OTRS Verified" Logos shown inside Package Manager installation process.

Thanks,

Stefan

[2020-09-21 16:19] svenoe commented on #453
Which otobo version and where exactly?
<img width="808" alt="grafik" src="https://user-images.githubusercontent.com/48322755/93793238-d9c19f00-fc36-11ea-898e-b6903489f6cb.png">

[2020-09-21 16:22] StefanRother-OTOBO commented on #453
Hi Sven,

sorry, I installed the wrong version.

Close.

[2020-09-21 16:22] #453 closed, assigned to svenoe

[2020-09-21 19:27] wollmers commented on #351
@svenoe

For TLS v1.3 see https://unix.stackexchange.com/questions/443341/how-to-enable-tlsv1-3-in-apache2

[code]

On Debian current stable "Buster" 10.5:

[code]

On Debian old-stable "Stretch" 9.12 only TLS v1.2 is available:

[code]

In both cases needs to turn off TLS v1.0 and v1.1, adaption of Apache-conf and (if used) certbot/letsencrypt Apache-include.

Popular browsers will force you to s

[2020-09-21 19:34] wollmers commented on #351
@bschmalhofer Partly needs coordination of release and matching documentation. See e. g. https://github.com/RotherOSS/doc-otobo-installation/issues/20

[2020-09-21 19:42] StefanRother-OTOBO commented on #351
Yes, I agree. Support of Apache 2.4 is sufficient.

[2020-09-21 20:46] wollmers commented on #132
What works with Apache 2.4 and shared hosting (more than vhost), the Debian way:

In `/etc/apache2/sites-available`

`zzz_otobo.include.conf` (could be any name):

[code]

`ot.bionomen.org.conf` (or any other domain):

[code]

Then just let certbot do the work for HTTPS, certificate, reload (or do it the usual way in case of external certificate):

[code]

And now we have

`ot.bionomen.org-le-ssl.

[2020-09-21 21:05] wollmers opened #454 "Step DB creation during installation is slow"
On a nearly empty server

[code]

the initial creation of the database (MariaDB) takes ~5:45 min.

In comparison a msqldump of a DB (comparable hardware, hundreds of tables, dump ~10 GB) takes 10-15 min and a restore 15-20 min.

[2020-09-21 21:15] wollmers opened #455 "Support change of user interface language for installation"
Maybe I didn't see it, but `installer.pl` uses the language preference of the browser.

It would be convenient to change the language to e.g. English, which many system administrators prefer.

[2020-09-21 21:24] wollmers opened #456 "Mail configuration in install.pl is broken"
Otobo version 10.0.2

I guess it breaks during check MX records or DNS lookup isn't smart enough, exceptions are not catched.

Or maybe it was a real network problem.

[code]

[2020-09-21 21:38] wollmers opened #457 "install.pl: if mail configuration breaks, DB creation must be repeated"
If mail creation during web-based installation breaks, and is not skipped, then the DB schema and DB user must be deleted manually and all steps of the installation must be repeated.

[2020-09-21 21:39] wollmers commented on #457
See also #456

[2020-09-21 21:54] wollmers opened #458 "Provide convenient mail configuration in admin backend"
The existing mail configuration in the admin backend

`index.pl?Action=AdminSystemConfigurationGroup;RootNavigation=Core::Email`

is very technical and needs knowledge of Perl modules and their options.

An additional configuration in the same layout of the mail configuration screen/form would be more convenient and less error-prone.

Share the code?

[2020-09-22 05:16] wollmers opened #459 "Is it really necessary to use root for MySql during installation?"
Guess it's only a documentation problem.

It should be enough to to create the schema `otobo`, the user `otobo` and the privileges on the command line, and then enter these credentials into the web-interface during installation.

[2020-09-22 05:26] wollmers opened #460 "Allow mark and copy of webforms during installation"
Maybe browser specific (Safari).

It's possible to mark the labels in the webforms (left mouse key), but on key up it's unmarked.

Maybe a JavaScript event is too intrusive.

[2020-09-22 06:27] svenoe commented on #456
This is a potential duplicate of issue #375 - I guess this whole step has to be worked through. (I don't know how to merge issues. Should we just close this one and mention it in the other issue?)

[2020-09-22 06:36] svenoe commented on #459
You have the option to use an existing database. Here the root user is not needed. If you want to setup a new database however, you need to specify a user with grant option, or how it is called, which typically is root. I am not particularly fond of this, either, especially if the installer is used via http only, but I haven't come up with an equally straight forward solution, so we kept the OTRS-

[2020-09-22 06:39] wollmers commented on #456
Both descriptions are unspecific and can be treated as same. I close it.

[2020-09-22 06:39] #456 closed, assigned to nobody

[2020-09-22 08:07] wollmers commented on #459
Then it's a documentation issue only. For security reasons `root@localhost` should never be used in a web-interface. Can you trust browsers or malware-scanners having access to unencrypted content? Sure they could also read the password of `otobo@localhost` during a man-in-the-middle attack, but then they are restricted to the DB-schema `otobo` and can't access other DB-schemas on the server.

Goo

[2020-09-22 09:50] bschmalhofer commented on #434
There are some issues regarding the UnitTests in the non-PSGI. The cause is not obvious. So let's be more conservative and avoid any code changes for the non-PSGI case.

[2020-09-22 10:33] bschmalhofer commented on #192
During the September meeting of the OTOBO Team it was decided that the continous integration features of Dev::UnitTest::Run are no longer supported. These features can be removed. Concretely the following options can be removed:

- --submit-url
- --submit-auth
- --submit-result-as-exit-code
- --job-id
- --scenario
- --attachment-path
- --pre-submit-script

The reason is that the infrastructure for

[2020-09-22 11:03] bschmalhofer opened #462 "Remove Module::CoreList from Kernel/cpan-lib"
``Module::CoreList``is a core module since Perl 5.8.9. In OTOBO it is only used by ``CPAN::Audit`. This module does not require a special version of Module::CoreList. Therefore it is safe to clean up Module::CoreList.

[2020-09-22 11:32] bschmalhofer commented on #192
The relevant module is actually TAP::Harness, not App::Prove. App::Prove uses TAP::Harness.

[2020-09-22 13:10] bschmalhofer opened #463 "UnitTest: remove scripts/test/DB/MD5DBUpgrade.t"
Apparently this is a test for the MD5() function in MySQL and PostgreSQL. This function was needed for an OTRS Upgrade around OTRS 3.x.  In OTOBO the function is apparently no longer used, this means that the test is no longer needed.

[2020-09-22 13:29] bschmalhofer commented on #455
@wollmers I second that. It would be nice to be able to switch to English in installer.pl.

[2020-09-22 13:35] StefanRother-OTOBO commented on #455
@wollmers: Sorry, I´m not sure. If he prefers English, he use an English spoken browser. That's what I see with German admins often.

[2020-09-22 14:33] bschmalhofer commented on #417
The feature will be backported in 10.0.4. The backport includes a renaming of the container from **otobo_cron_1** to **otobo_daemon_1**. Do the renaming already for 10.0.3, in order to have as few conflicts as possible.

[2020-09-22 15:20] bschmalhofer commented on #417
Renaming from otobo_cron_1 to otobo_daemon_1 has been done.

[2020-09-23 10:18] bschmalhofer commented on #192
The option --test-runs can also be added again when it is found to be useful.

The same applies to the option --data-diff-type. Supporting this option is hard because the driver instance is now created by the script itself. So, for now, let's stick with the default diff type _table_.

[2020-09-23 13:47] bschmalhofer commented on #192
The Selenium screenshot feature will be disabled for now as well.

[2020-09-23 17:07] bschmalhofer commented on #192
The migration seems to work mostly. One failure is UnitTest/Blacklist.t, It looks like STDOUT from

`$ExitCode = $CommandObject->Execute( '--test', $Test->{Test} );
`
is not captured in Blacklist.t. Strange.

[2020-09-24 07:37] svenoe commented on #433
Hi KriegerV,

we came to the conclusion, that for now we want to focus on an internal chat functionality first. We will keep other chat platforms in mind, and try to make it as easy as possible, to link external services though.

Thanks for your suggestion, again, Sven

[2020-09-24 08:15] #433 closed, assigned to nobody

[2020-09-24 08:22] svenoe commented on #403
Hard for me to judge the pros and cons. I mean, we will use hub.docker.com anyways, will we?

[2020-09-24 08:29] svenoe commented on #402
I see that there could be upsides. Maybe if we use Kernel::System::Log as wrapper around Log::Log4perl? I put it to medium priority, let us discuss this at some meeting in the future.

[2020-09-24 08:29] #402 closed, assigned to nobody

[2020-09-24 08:35] svenoe commented on #391
But at the moment everything is functional in itself, or are there places where outside input is parsed?

[2020-09-24 08:42] svenoe commented on #249
Please investigate. :)

[2020-09-24 08:43] KriegerV opened #465 "Kanboard Integration to OTOBO"
At this stage, OTOBO is a little bit poor regarding Agile topics. It could be great to make the tool more ready for PI and Agile ceremonies. One first step could be to work on the integration of Kanboard in OTOBO that takes as task specific tickets.
Kanboard columns could be OTOBO dynamicfields or OTOBO ticket status. Thus moving a ticket from a column to another updates the ticket field.

[2020-09-24 08:47] KriegerV commented on #433
Hi Sven,

Thanks for the information. In this case, what can be interesting is to
think about having the possibility to let a bot chat into this internal
chat through web services.

Have a nice day too,

Vincent

Le ven. 11 sept. 2020 à 10:31, svenoe <notifications@github.com> a écrit :

[2020-09-24 08:52] svenoe commented on #225
At the moment this, in my eyes, is definitely needed for web services. For now I don't see this happening.

[2020-09-24 08:52] #225 closed, assigned to nobody

[2020-09-24 08:59] svenoe commented on #209
True, but the necessary amount of work, especially considering all external scripts which exist, etc., is ridiculously high, I believe. As it is a topic close to your heart, I will leave it in "very low priority"... ;)

[2020-09-24 08:59] #209 closed, assigned to nobody

[2020-09-24 09:02] svenoe commented on #204
Would be a nice feature, and the amount of work should be reasonable.

[2020-09-24 09:02] #204 closed, assigned to nobody

[2020-09-24 09:05] svenoe commented on #199
If it is easily doable, this would be very nice for debugging situations.

[2020-09-24 09:09] svenoe commented on #198
Yes, could be useful, but definitely not necessary.

[2020-09-24 09:09] #198 closed, assigned to nobody

[2020-09-24 09:11] svenoe commented on #107
Sounds good, would need quite some time to implement properly, though, I guess.

[2020-09-24 09:14] svenoe commented on #116
If done properly, there are no arguments against it. The improvement is a very minor one, however, in my eyes.

[2020-09-24 09:14] #116 closed, assigned to StefanRother-OTOBO

[2020-09-24 09:17] svenoe commented on #72
I would implement this as part of another feature, which is going to use this, but not before. (It shouldn't be too much work anyways.)

[2020-09-24 09:17] #72 closed, assigned to nobody

[2020-09-24 09:34] svenoe commented on #434
We should probably keep the non-PSGI case like this for OTOBO 10.0.

[2020-09-25 09:04] bschmalhofer opened #466 "UnitTest: one Failure in Main.t"
A run of the test suite under Docker produced the following error:
[code]
Calling Main.t locally did not reproduce the error. My guess is that the randomly generated String was '0'.

[2020-09-25 09:43] bschmalhofer commented on #403
@svenoe : Yes, my idea is that Github actions build the Docker image and then push it to hub.docker.com. This would allow continous integration checks before publishing the image. On the other hand: hub.docker.com can also run integration tests. So, it's basically a question of what is more convienent and easier to grasp.

[2020-09-25 10:26] bschmalhofer commented on #466
Adapted _scripts/test/Main.t_ to accept '0' as a valid generated string. Tests looks fine. Closing this issue.

[2020-09-25 10:26] #466 closed, assigned to bschmalhofer

[2020-09-25 13:49] bschmalhofer commented on #192
Let's create a branch based on rel-10_0 that backports these adaptions to the test suite. Based on the result of test runs we can decide whether these adaption can be included in 10.0.4. The actual backport will be done in #447 .

[2020-09-25 16:06] bschmalhofer opened #471 "UnitTest: reactivate Console/Command/Admin/Package/ReinstallAll.t"
This test is currently skipped. Reactivate it.

[2020-09-25 16:34] bschmalhofer opened #472 "UnitTest: emit correct TAP in UnitTest/Blacklist.t"
This test script calls the ``Dev::UnitTest::Run`` command module. The effect is that the TAP from the script and from the command are combined, which throws TAP::Parser off the track.
Essentially we have:

[code]
The lines 3 and 4 are printed by ``Dev::UnitTest::Run`` and shouldn't be there.

[2020-09-25 16:44] bschmalhofer commented on #447
Backporting should only be done after #192 is working in rel-10_1.

[2020-09-25 16:48] bschmalhofer commented on #417
Backporting from 10.1.x to 10.0.x has been done.

[2020-09-25 17:17] bschmalhofer commented on #192
Tests look fine:
[code]
The issue with UnitTest/Blacklist.t is handled in #472 . Closing this issue. Further problems should be handled in dedicated issues.

[2020-09-25 17:17] #192 closed, assigned to bschmalhofer

[2020-09-25 18:05] bschmalhofer commented on #422
Reopening the issue for doing the same fix for the branch rel-10_0.

[2020-09-25 18:14] bschmalhofer commented on #422
Looks good, closing again.

[2020-09-25 18:14] #422 closed, assigned to bschmalhofer

[2020-09-25 18:25] squidy opened #475 "CustomerTicketZoom: JavaScript is not enabled or not supported"
Hi again...
In the screen CustomerTicketZoom some articles are displaying the message "JavaScript is not enabled or not supported" and I can't read the content of the articles, only of the last one.

I've tested with Google Chrome and Firefox (javascript is enabled on those browsers).

![OTOBO-customerticketzoom-javascript](https://user-images.githubusercontent.com/43784/94302811-d3833980-ff3a-11e

[2020-09-25 19:04] svenoe commented on #475
Hi squidy,

this is a problem, when you cannot automatically log in to otobo using your session information (which is done in those article fields). Do you know what caused this problem? Possible reasons are usually a change in your FQDN, with multiple domains being used for otobo, maybe cookies (switching between http and https can sometimes cause unwanted behaviour, this is still an open issue),

[2020-09-25 19:15] squidy commented on #475
That's it.
I'm using OTOBO in a test environment. Because of that I'm using only http in the webserver, and OTOBO was configured to use https. After changed to http it worked.

Thanks again.

[2020-09-26 07:38] svenoe commented on #475
Good. This is on my list, but I thought it would not occur too often, so the priority was not so high. I'll try to fix it soon.
See issue #251 .

[2020-09-26 09:03] bschmalhofer commented on #463
Implicitly this is a test for ``Kernel::System::Main::MD5sum``. So lets leave it in place.

[2020-09-26 09:03] #463 closed, assigned to bschmalhofer

[2020-09-26 09:44] svenoe commented on #475
On second thought, this is not a duplicate. Actually it is just a setting problem. It makes me question, whether our switch to HttpType=https in standard was a good one. Usually when you setup https, you are automatically setting up a redirect from http, and this error would not occur. In the other direction, however, you don't do all that stuff, you just use http which still works for your own lo

[2020-09-26 09:45] #475 closed, assigned to nobody

[2020-09-26 09:50] svenoe opened #477 "Should we switch back to http as standard HttpType?"
Using OTOBO via the "wrong" http type has some consequences, which are very hard to see through when you don't know what you are doing. As the switch to https usually is done with more awareness, it might be good, to use http as standard type again, or in the longer run ask in the installer or so.

See Issue #475 as an example (and my explanation in the last messages there).

[2020-09-26 14:21] bschmalhofer commented on #462
This is not critical, do it already for 10.0.4

[2020-09-26 15:22] bschmalhofer commented on #462
``Module::CoreList`` is removed. Tests look fine. Closing the issue.

[2020-09-26 15:22] #462 closed, assigned to bschmalhofer

[2020-09-27 08:32] StefanRother-OTOBO opened #480 "bin/otobo.SetPermission.pl doesn't work in docker container"
Hi,

if I execute /opt/otobo/bin/otobo.SetPermission.pl in a docker container, the permissions are wrong.

I change the behavior and check now before, if otobo runs on docker (Check Environment OTOBO_RUNS_UNDER_DOCKER).
If yes, I try to get the user and group info from environment too.

Please, can you check if this is the right procedure?

Thanks!

Stefan

[2020-09-27 08:49] StefanRother-OTOBO commented on #480
Hi,

I fix this issue in https://github.com/RotherOSS/otobo/commit/3fcca9d1388888c7d685ac4be52d6d43c378073d

@Bernhard: Please can you check if the way is right for docker?
And I add hooks/build in otobo.SetPermission.pl to the executable files, I hope that's right? hooks/post_push is not executable at the moment.

[2020-09-28 08:02] bschmalhofer commented on #480
@StefanRother-OTOBO I think that this needs more thought.

The execute bit on _hooks/post_push_ is apparently not required. At least it isn't mentioned in https://docs.docker.com/docker-hub/builds/advanced/ . And adding the label _:latest_ did work for the OTOBO 10.0.3. release.

When the Docker image is built, ``bin/docker/set_permissions.pl`` is executed. _set_permissions,pl_ is basically a simp

[2020-09-28 08:19] StefanRother-OTOBO commented on #480
Hi @bschmalhofer,

OK, I set the execute bit only for hooks/build, cause after execute otobo.SetPermissions.pl the rights where different.

We need the script otobo.SetPermission.pl. That's a extremely important tool (using docker or not).
For me it's not a good idea to add new scripts like bin/docker/set_permissions.pl with nearly the same code like otobo.SetPermission.pl. Please remove bin/docke