[2021-04-08 17:57] bschmalhofer commented on #682
Marked some tests as TODO, 21 failing scripts in the lates run

[2021-04-09 15:44] bschmalhofer opened #921 "Is a fulltextsearch with only two characters allowed?"
In _scripts/test/Selenium/Agent/AgentTicketSearch_,  around line 317, there is a check that very short search strings are flagged with an alert. The current implementation shows no alert and does the search. Not sure what the correct behavior ist.

[2021-04-10 13:23] bschmalhofer commented on #682
Latest run with 18 failing test scripts. Still a couple of sporadic failures and successes.

[2021-04-10 20:27] bschmalhofer opened #925 "SeleniumTesting: find_no_element_ok() throws exeception"
`Kernel::System::UnitTest::Selenium` extends `Test::Selenium::Remote::Driver` . This suggests that testing methods like `find_no_element_ok()` should be usable. However an exception is thrown in _scripts/test/Selenium/Agent/AgentSplitSelectionACL.t_.

            $Selenium->find_no_element_ok(
                q{//option[@value='EmailTicket']},
                'xpath',
                "Split option

[2021-04-11 11:29] bschmalhofer commented on #925
I added the test script _scripts/test/Selenium/TestingMethods.t_ for testing such cases.

The culprit seems to be the lines like:

       if ( !$ret && $self->has_error_handler ) {
            $self->error_handler->( $self, "Failed to find $str" );
        }

in `Test::Selenium::Remote::Driver`. ` $self->has_error_handler ` returns true as `Kernel::System::UnitTest::Selenium` did install an error

[2021-04-11 18:51] bschmalhofer commented on #925
Removed  `Kernel::System::UnitTest::Selenium::SeleniumErrorHandler()` as it had no effect anyways. The resolves the problem for `content_contains()` and `content_lacks()`.
Failing `find_element_ok()` and `find_no_element_ok()` throw exceptions by design. Replace the usage by new testing methods like `find_no_elemet_by_css_ok()`.
See also #682.
Running the test suite looks ok. Closing this issue.

[2021-04-11 18:51] #925 closed, assigned to bschmalhofer

[2021-04-12 08:33] sparse91 opened #927 "Customer portal RTL support"
Hello
Customer portal has no support for RTL languages (Translations and CSS alignments). Do you have any plan to fix that? Or Is it possible to use older view?

[2021-04-12 09:45] bschmalhofer opened #929 "SeleniumTesting: Problems when selecting a Process"
In the Selenium tests there is a class of failures relating to selecting the Process. It might be a problem relating to the file ZZZAProcessManagement not being read in.
The relevant tests are marked as TODO in #682.

[2021-04-12 10:50] bschmalhofer commented on #263
I tried to figure out Oracle licensing and my impression is that this is muddy waters. I suggest to refrain from shipping the Oracle Instant Client.

[2021-04-12 17:55] bschmalhofer opened #932 "SeleniumTesting: eliminate explicit calls to sleep in the test scripts"
There is no known reason why explicit `sleep`  would be needed. Waiting can be handled by calling `WaitFor`.
TODO: remove sleep once the other issues are repaired.

[2021-04-13 06:09] svenoe commented on #927
Hi sparse,

the plan would be to implement that at one point, but for the moment there unfortunately is no real capacity, and none of our customers has requested this feature so far. I will add this to our list of requested enhancements, to be honest, I unfortunately don't expect this to be done within the next couple of months...

As you are writing on github and not in our forums - we gladly acc

[2021-04-13 06:09] #927 closed, assigned to nobody

[2021-04-13 09:43] svenoe commented on #693
Should be fixed. Standard settings still need some overhaul, but that is true for the agent interface, too and will be done in a separate issue.

[2021-04-13 09:43] #693 closed, assigned to svenoe

[2021-04-13 11:52] svenoe opened #935 "Rework standard settings for passwords and other preferences."
We have to look over the current standard preference settings. Especially the password settings are not optimal and are defined twice atm.

[2021-04-13 13:56] StefanRother-OTOBO opened #936 "Link to Admin Manual inside the Admin Interface is brocken."
Hi,

inside the OTOBO Admin Area and inside Admin -> "Access Control List" the button/link to our admin manual is broken.

Thanks!

Stefan

[2021-04-13 15:05] svenoe commented on #936
Should be fixed.

[2021-04-13 15:05] #936 closed, assigned to svenoe

[2021-04-14 16:13] bschmalhofer commented on #693
The is_displayed() test of CustomerPreferences.t can stay at TODO for now. The elements are enabled, just not visible on the screen.
The other TODO tests for #693 habe been un-TODOed.

[2021-04-14 19:01] bschmalhofer commented on #935
Once the defaults are reworked, the test script can be adapted and the TODO test cases reactivated again.

- [x] eliminate TODOs in _scripts/test/Selenium/Output/Preferences/Customer/Password.t_

[2021-04-16 10:06] bschmalhofer opened #944 "SeleniumTesting: test whether password with accents are accepted"
The test scripts _scripts/test/Selenium/Output/Preferences/Agent/Password.t_ and _scripts/test/Selenium/Output/Preferences/Customer/Password.t_ used to check whether passwords with digraphs are accepted. This has been removed because of some weird unicode isssue in the test scripts.

TODO:

- [x] reactivate testing

[2021-04-16 10:18] bschmalhofer opened #945 "Selenium: investigate whether Selenium::Waiter can simplify K::S::U::S::WaitFor()"
It could be that the WaitFor() could be simplified.
Automatic increase of the polling time span is a feature that could be discarded.

[2021-04-16 13:46] svenoe commented on #750
This has been done in #693 (without the repairing of the password changes #779 though).

[2021-04-16 13:46] #750 closed, assigned to nobody

[2021-04-16 14:30] svenoe commented on #608
I have overlooked this so far. This is the base of probably 90% of the templates we use. In the perl file you have $LayoutObject->Block(); (e.g. Kernel/Modules/AgentTicketPhone.pm line 3133), which prepares those blocks (here Name => 'DynamicField') and then can output multiple of those blocks, or just show them conditionally (e.g. Kernel/Output/HTML/Templates/Standard/AgentTicketPhone.tt line 188

[2021-04-16 17:06] bschmalhofer commented on #608
Hi @svenoe,

I propably misunderstood that the old, OTRS 3 or OTRS 4 , DTL syntax would still be supported by these tags. I'm still not a fan ot the tags `RenderBlockStart` and `RenderBlockEnd`.
Currently in OTOBO the Following syntax is used:

[code]
I gather that is not regular Template::Toolkit syntax, which violates the principle of least surprise. `Kernel::Output::Template::Provider` turns th

[2021-04-17 10:50] bschmalhofer commented on #608
The support for _GenerateBlockHooks_ is a rather obscure feature. It is documented for OTRS 7, https://doc.znuny.org/doc/manual/developer/7.0/en/content/how-to-extend-otrs/otrs-module-layers/outputfilter.html, but not for OTOBO 10, https://doc.otobo.org/manual/developer/stable/en/content/index.html. As far as I can tell, it is only used for Znuny4OTOBOAdvancedDynamicFields. There it could easily b

[2021-04-17 10:50] bschmalhofer opened #948 "Remove support for _GenerateBlockHooks_"
The support for _GenerateBlockHooks_ is a rather obscure feature. It is documented for OTRS 7, https://doc.znuny.org/doc/manual/developer/7.0/en/content/how-to-extend-otrs/otrs-module-layers/outputfilter.html, but not for OTOBO 10, https://doc.otobo.org/manual/developer/stable/en/content/index.html. As far as I can tell, it is only used for Znuny4OTOBOAdvancedDynamicFields. There it could easily b

[2021-04-17 10:55] bschmalhofer commented on #608
Aknowledging that _InsertTemplate_, _RenderBlockStart_, and _RenderBlockEnd_ are widely used in OTOBO I withdraw the request. For _GenerateBlockHooks_ I opened #948 .

[2021-04-17 10:55] #608 closed, assigned to bschmalhofer

[2021-04-18 08:15] bschmalhofer commented on #365
Pretty much the same thing applies to `Module::Load`. Version 0.32 is in the core of Perl 5.24, The same version is bundled in _Kernel/cpan-lib_ . I suggest to remove it.

[2021-04-18 08:15] bschmalhofer opened #949 "Remove Module::Load from Kernel/cpan-lib"
Pretty much the same thing applies to `Module::Load`. Version 0.32 is in the core of Perl 5.24, The same version is bundled in _Kernel/cpan-lib_ . I suggest to remove it.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/365#issuecomment-821953130_

[2021-04-18 11:29] StefanRother-OTOBO opened #950 "Elasticsearch initial customeruser migration from ldap"
If I use

`bin/otobo.Console.pm Maint::Elasticsearch::Migration `

sometimes not all customeruser are found, cause some LDAP or AD servers limit the return of results. In this case we can now still get all the results by splitting the queries. 1: splits the queries into searches for a-z, a0-z9, 0-9. 2: aa-zz, a0-z9 and 0-9.

[2021-04-18 11:44] bschmalhofer commented on #932
Also test whether `$FindElementSleepSeconds` is really needed in `Kernel::System::UnitTest::Selenium`.

[2021-04-18 12:36] bschmalhofer opened #951 "Dont include dot-files in the Docker images"
Local .* files are not meant for the Docker images.
Exceptions to that rule  are _.bash_aliases_  and _.bash_completion_. Check the Dockerfiles.

[2021-04-18 19:01] bschmalhofer commented on #949
Module::Load is deleted. Closing the issue.

[2021-04-18 19:01] #949 closed, assigned to bschmalhofer

[2021-04-18 21:39] #892 closed, assigned to nobody

[2021-04-18 21:40] #891 closed, assigned to svenoe

[2021-04-19 01:12] Djuka opened #953 "Missleading docs about customer user authentication over LDAP"
I was working on setting up customer authentication over LDAP (specifically Active Directory) on a clean installation of Otobo. Following the admin docs about Customer User Backend I was able to get a list of customer users after configuring:

[code]

I was convinced that was is all that is needed for customer user to authenticate through customer frontend. After hours of failing to  realize what

[2021-04-19 06:42] #950 closed, assigned to StefanRother-OTOBO

[2021-04-19 06:49] svenoe commented on #953
Hi Ivan,

thanks for pointing this out. I copied this and opened an issue in the admin manual repo. https://github.com/RotherOSS/doc-otobo-admin/issues/25

Best regards, Sven

[2021-04-19 06:49] #953 closed, assigned to nobody

[2021-04-19 17:54] bschmalhofer commented on #884
Changes are merged now. Tests are pending.

[2021-04-20 10:58] svenoe opened #955 "Rework data type translation between different DBs in the migration."
At the moment we manually try to translate the data type as well as possible (my next commit here will clean this up a bit). It would be nice to use some external library to do this stuff hopefully better. @bschmalhofer suggested https://metacpan.org/pod/distribution/SQL-Translator/lib/SQL/Translator/Manual.pod - I have not yet had a real look at it.

[2021-04-20 11:01] svenoe commented on #955
Setting it to low prio because it's still only special cases within the migration and closing for now.

[2021-04-20 11:01] #955 closed, assigned to nobody

[2021-04-21 07:50] svenoe commented on #836
(Not sure whether my last commit fits perfectly, and it also has an oracle change, but it is important for the truncating stuff, too, at least.)

[2021-04-21 11:16] svenoe commented on #935
Surely not completely finished...

[2021-04-21 11:16] #935 closed, assigned to svenoe

[2021-04-21 11:19] svenoe commented on #907
The attachments can be downloaded (only from the article directly currently), but the whole layout changed severely, so it's the test which has to be adapted.

The ugly name in the article list is due to it being to long and a missing "overflow: hidden". This needs some fiddling, though - I will postpone this issue.

[2021-04-21 13:34] zarpi opened #972 "Very big UID and GID identifiers in the otobo-docker"
Hi,

I found files in the otobo image with very big UIDs and GIDs.
Eg. (format: filename|UID|GID):
./root/.cpanm/work/1613745514.6/Redis-1.998|3957780|10902869
./root/.cpanm/work/1613745514.6/Redis-1.998/README|3957780|10902869
./root/.cpanm/work/1613745514.6/Redis-1.998/LICENSE|3957780|10902869
./root/.cpanm/work/1613745514.6/Redis-1.998/MANIFEST|3957780|10902869
(...)

Is this on purpose?
The fi

[2021-04-21 13:39] svenoe commented on #884
At least a standard migration passed.

[2021-04-21 13:39] #884 closed, assigned to bschmalhofer

[2021-04-21 13:40] svenoe commented on #836
Standard migrations are passing.

[2021-04-21 13:40] #836 closed, assigned to nobody

[2021-04-21 17:29] bschmalhofer commented on #972
Hi Piotr, @zarpi,

I checked the UIDs and GIDs of _./root/.cpanm/work/1613745514.6/Redis-1.998_ in a current build of the otobo-web image. The very same very big nunbers show up in the current image. The directory _./root/.cpanm/work/1613745514.6_  is the working dir of the Perl module installer called _cpanm_. The installation of Perl  modules is triggered by the command
`RUN PERL_CPANM_OPT="--lo

[2021-04-22 17:28] niccord opened #956 "HTTP status code for REST Web Services"
Hi folks!
I am trying to implement some REST web service for otobo, but I notice I can only return 200 or 500 as status codes.

After digging into the code a little, I found some case where give different status code is possible, but not handled.

It would be really nice to allow us to specify the HTTP status code, with something like:

[code]

(I already have some working code in my pocket 🤓)

[2021-04-23 07:43] svenoe commented on #956
Hey Nicola,

the generic interface could need a whole set of added functionality. Some time ago I opened an issue for this: https://github.com/RotherOSS/otobo/issues/772. (The last months have been extremely busy, so much not totally critical stuff got delayed.) At the moment I'm thinking all this stuff should be gathered first to have the possibility to unify it a bit, if necessary, and then be r

[2021-04-23 07:46] svenoe commented on #772
As we are really busy at the moment, I decided to postpone this to 10.1. I at least prepared the branch https://github.com/RotherOSS/otobo/tree/issue-%23772-enhance_generic_interface and did an initial commit allowing the custom headers.

[2021-04-23 08:31] svenoe opened #961 "Enable the system admin to provide complex index settings for Elasticsearch."
@io-architect provided us with a pull request greatly enhancing the ability to customize Elasticsearch. If sensible we should provide one or two more options to adapt stuff in a simpler form via the SysConfig. (https://github.com/RotherOSS/otobo/pull/938)

Please use the branch issue-#961-elasticsearch_index for further development.

[2021-04-23 09:36] svenoe commented on #772
I included the initial pr by @sternenseemann into rel-10_0 already, as its changes are just at one place of the code and quite certainly independent of everything else. 34c0a55a8e489598c5a2d7f76fd119fd4047bb91

[2021-04-23 09:38] sternenseemann opened #962 "Allow request bodies for more methods in GenericInterface::Transport::HTTP::REST"
In at least the following locations the methods that may have a request body are limited:

<https://github.com/RotherOSS/otobo/blob/34c0a55a8e489598c5a2d7f76fd119fd4047bb91/Kernel/GenericInterface/Transport/HTTP/REST.pm#L715-L719>

<https://github.com/RotherOSS/otobo/blob/34c0a55a8e489598c5a2d7f76fd119fd4047bb91/Kernel/GenericInterface/Transport/HTTP/REST.pm#L765-L768>

However, theoretically all

[2021-04-23 16:31] bschmalhofer opened #963 "SeleniumTesting: errors in DynamicFieldDelete"
This errors occured in _/opt/otobo/scripts/test/Selenium/Agent/AgentTicketProcess.t_ when the other tests succeeded.
It's not obvious whether there is a general problem or whether this outcome is due to the test script.
The two tests are marked as TODO for now.

[code]

[2021-04-24 10:52] bschmalhofer commented on #921
Sporadically the alert is emitted when running the test script _scripts/test/Selenium/Agent/AgentTicketSearch.t_ .  The alert message is in those cases:
[code]
This seeem to indicate that full text search with only two characters is prohibited and that the test script has sporadic problems recognising the alert message.

[2021-04-24 20:04] RokkuCode opened #966 "Elasticsearch Migration: Archived Tickets (Archive Flag)"
Archived Tickets are not indexed with the Elasticsearch Migration.
In https://github.com/RotherOSS/otobo/blob/59dda3b9806c602d1b8cd5da8f1c15b7fc32f9ab/Kernel/System/Console/Command/Maint/Elasticsearch/Migration.pm#L398 the TicketSearch does not contain:

[code]
In the end it should be possible to specify if archived tickets should be indexed or not.

[2021-04-26 14:38] bschmalhofer commented on #921
But again, I didn't see the message in todays test run.

[2021-04-26 19:31] niccord commented on #766
I think this can be closed, what do you think?

[2021-04-27 07:17] svenoe commented on #956
I merged the pr - thanks. :)

(A slightly longer reply here: https://github.com/RotherOSS/otobo/pull/968#issuecomment-827371196 )

[2021-04-27 07:17] #956 closed, assigned to nobody

[2021-04-27 07:24] svenoe commented on #637
Interesting, this got auto closed... Anyways, thanks, here, too.

[2021-04-27 07:42] svenoe commented on #814
I merged the pr, thank you.

I will also close this issue, I would be interested in some benchmarks of how much faster various actions get, with this. If anyone has data, by chance... ;)

[2021-04-27 07:42] #814 closed, assigned to nobody

[2021-04-27 07:47] svenoe commented on #766
Yes, I don't see it anywhere anymore (except in the pods).

[2021-04-27 07:47] #766 closed, assigned to nobody

[2021-04-27 15:02] bschmalhofer commented on #637
After the merge I get some failures when running _CheckItem.t_ under Docker.
[code]
If the semantics of CheckEmail() have changed, then the tests should be adapted too.

[2021-04-27 15:10] bschmalhofer commented on #972
Hi Piotr, @zarpi,

I have adapted the Dockerfile such that /root/.cpan is removed after the Perl modules have been installed. This should do away with the very big UIDs and GIDs. I hope this helps with Podman.
The changed image will be used in OTOBO 10.0.11. Before that you can build your own image or use the image with the tag **devel-rel-10_0**. See
https://hub.docker.com/layers/rotheross/otobo/

[2021-04-27 15:10] #972 closed, assigned to bschmalhofer

[2021-04-28 06:33] svenoe commented on #637
No...it was a mistake on my side, I guess... I was too fast. I'm pretty sure Email::Valid->address returns only the email address without the name, thus this version just doesn't work. I will change it. Thanks for pointing it out.

[2021-04-28 07:33] svenoe commented on #637
Ok, I reverted the pull request for now. I first thought I'd fix it with using
`$Param{Address} !~ /\Q$ValidatedEmail\E/`
and it worked for some cases, but 'test@home(Something).com' still didn't work (it is interpreted as 'test@home.com'). I wasn't aware of this, but seemingly those addresses (also 'test @home.com') are actually considered valid, or at least seem to automatically be convertable,

[2021-04-28 13:20] bschmalhofer commented on #951
According to https://docs.docker.com/engine/reference/builder/#dockerignore-file excludes can be declared in the _.dockerignore_ file. There is no minimum version mentionened. So we can ignore all dot-files with the exception of the files that are currently present in the image.
[code]
Exceptions to the exeptions are _.bashrc_ and _.vimrc_ which are created in a step of the Dockerfile.

[2021-04-28 16:06] svenoe opened #980 "Misplaced dropdown for the "reply" box in AgentTicketZoom."
Sometimes (not too often but consistently) it can happen that the selection box for the "reply" action in AgentTicketZoom is misplaced. This almost certainly is caused by calculation of the absolute position of the box, before the article data is loaded, and thus, when the page size grows and the box is placed via "bottom", it gets displaced.

[2021-04-28 16:14] bschmalhofer commented on #951
Toplevel .* files are now ignored. Testsuite still looks fine. Closing this issue.

[2021-04-28 16:14] #951 closed, assigned to bschmalhofer

[2021-04-29 06:23] zarpi commented on #972
Hi Bernhard,   Thank you.  I confirm that the problem went away.  Finally I managed to run otobo in podman.  I needed to do some additional permissions adjustments, though.  I can write some details if you like (perhaps in docker environment  these permissions do not matter).   Best regards,  Piotr  Dnia 27 kwietnia 2021 17:11 Bernhard Schmalhofer ***@***.***&gt; napisał(a):   Hi Piotr,  github.co

[2021-04-29 07:15] bschmalhofer commented on #972
Hi Piotr, @zarpi,

glad that it helped. And yes, when you have findings or suggestions please pass them on.

Best regards,
   Bernhard

[2021-04-29 08:32] zarpi commented on #972
Hi Bernhard,   I’m not experienced docker or podman user, I do not know exactly
how permissions in docker containers work.  In
podman containers are run as the “podman” normaluser on the host
level.  This
user “podman” becomes root inside the container. This user can
manage normal users inside container. Those users are just normal
users on the host level (of course they are different normal users

[2021-04-29 16:09] bschmalhofer commented on #972
Hi Piotr, @zarpi,
I'm glad that it worked eventually. The file permissions are really a hassle. I checked the situation in a regular container, not using Podman. In _/opt/otobo_install_ the only files belonging to root are:
- cpanfile
- cpanfile.snapshot
- local
I'm not sure, that this is the best approach, but at least that is as intended. The user otobo should not be able to install additional m

[2021-04-29 16:49] kess-net commented on #837
Works for me on 10.0.9.
If you wish, I could setup a newer Version and test again.

[2021-04-29 16:52] kess-net commented on #837
Works for me on 10.0.9 with mysql.
ah, i see now, thos is an postgresql issue. I'll test again - sorry

[2021-04-30 10:49] bschmalhofer commented on #843
This still does not look better when running CustomerTicketProcess.t in the rel-10_0 branch.
![remmina_localhost_localhost_2021430-10485,963514](https://user-images.githubusercontent.com/46019/116685390-8aa0d100-a9b2-11eb-9448-905050c2fa9e.png)

[2021-04-30 10:55] bschmalhofer commented on #818
@kess-net : Sorry, I wanted to pass this issue on to you, but then I realised that the issue was already closed.

[2021-04-30 11:00] bschmalhofer commented on #800
See also #601. Maybe #601 can be closed as a duplicate of #800.

[2021-04-30 11:04] svenoe commented on #843
This is not yet enabled, @bschmalhofer - we are in discussion with some partners, including @OlliW on how to include this, but things are going a bit slow, admittedly.

[2021-04-30 12:13] bschmalhofer commented on #878
Added the missing value _CustomerTicketMessage_to _Ticket.xml_. Tested this on a fresh OTOBO installation in Docker. First import the ACL export file _scripts/test/sample/ACL/Actions33.yml_ . When editing the imported ACL the value _CustomerTicketMessage_ is then available as action in the GUI.
The added value is available to new installations automatically. Older installations get it during the u

[2021-04-30 12:13] #878 closed, assigned to bschmalhofer

[2021-04-30 21:32] bschmalhofer commented on #682
Let's close this epic issue. Three consecutive runs reported no failures. This does not mean that the Selenium test are all passing, just that the, maybe sporadically, failing tests are marked as TODO, and have an issue assigned.

[2021-04-30 21:32] #682 closed, assigned to bschmalhofer

[2021-05-01 14:30] bschmalhofer commented on #715
PreferencesGroups::Password has been activated per default for #935.
The relevant TODOs in _scripts/test/Selenium/Agent/AgentPreferences.t_ have been removed. The Selenium tests look fine. Closing this issue.

[2021-05-01 14:30] #715 closed, assigned to svenoe

[2021-05-01 14:47] bschmalhofer opened #987 "Can Kernel/Autoload/Znuny4OTOBOPasswordPolicy.pm be removed?"
This module overrides `Kernel::Output::HTML::Layout::Redirect()` such that specific Redirects are disabled. This looks like a workaround that was necessary because Znuny4OTRS-PasswordPolicy could not modify OTRS code. But this should be no problem in OTOBO.
So my guess is that
https://github.com/znuny/Znuny4OTRS-PasswordPolicy/commit/d46b6ef7fefacf92cdd86800d639e1d16f77aafb would alleviate the nee

[2021-05-01 16:43] bschmalhofer opened #988 "SeleniumTesting: sporadic errors in some test scripts, maybe missing waits"
The was an 'Internal Server Error' when running _scripts/test/Selenium/Output/Dashboard/UserOutOfOffice.t_.

[code]
The tests are  not set to TODO (yet). Let's watch it whether the error occurs again.

[2021-05-01 18:31] kess-net commented on #818
On Fri, 30 Apr 2021 03:55:36 -0700
Bernhard Schmalhofer ***@***.***> wrote:

kein Problem :-)

Ich wünsche noch ein Schönes Wochenende.

[2021-05-02 10:32] bschmalhofer commented on #907
Adapted the selector for the download link. Click on the paperclip first.
Closing this issue.

[2021-05-02 10:32] #907 closed, assigned to nobody

[2021-05-03 07:16] rolfschmidt commented on #987
Hi @bschmalhofer ,

i'm not involved in your project but i would guess that you want to increase the code quality of your project so i would agree to that it would make sense to rework the code in your framework to remove this autoload module.

Maybe you ask @svenoe or the maintainer of this project how to proceed. I don't think i'm the right person to make code design decisions here, sorry.

[2021-05-03 07:59] svenoe commented on #987
Hi to both of you,

yes, there is plenty of stuff which needs to be incorporated properly. Currently this is just a time issue, and as this is running as intended...

[2021-05-06 10:50] StefanRother-OTOBO opened #991 "Bug In SysConfig - Keys with ### do not work in the frontend (used in DynamicFieldScreens)"
Hi,

If I go to Admin -> System Configuration and click on Edit for the option "DynamicFieldScreens###Framework“ for example and then click on Save without making any changes, changes are still written. DynamicFieldSreens don't work anymore.

Thanks!

Stefan

[2021-05-06 11:02] svenoe commented on #991
Actually there are changes made - the keys are set to broken values. You can reset the setting to fix it, and you could put in every field by hand and it would work, but that is nonsense of course. I'll look where it comes from.

Edit: Slight correction - it wouldn't work. A part of the string is duplicated during pressing OK, basically...

[2021-05-06 17:33] bschmalhofer commented on #945
This does not work, as the execution of the tests simply halts in the middle of the test suite. Rejecting this request.

[2021-05-06 17:33] #945 closed, assigned to bschmalhofer

[2021-05-07 06:57] svenoe commented on #991
The error is produced in the js-part, Core.SysConfig.js line 429 (in Core.SysConfig.Update()):
`FullName = FullName.substr(0, FullName.lastIndexOf("###"));`
The "###" at the moment cannot be part of any hash key in the SysConfig. I assume it's the same in OTRS. A quick solution would be to change this to lastIndexOf("_Hash###"), but it's still not really clean. I want to at least consider some oth

[2021-05-07 19:15] giomf opened #993 "New UI"
I'm just wondering if I'm really using the new UI.
I have tried OTOBO via docker-compose.
When I compare the images on the website (https://otobo.de/en/otobo-features/kundenportal/) with the UI I'm using, it's hard to believe that I'm using the same product.
Do I have to activate the new UI somehow?

For example, the dashboard looks like this:
![image](https://user-images.githubusercontent.com/350

[2021-05-07 20:46] joserribeiro26 commented on #993
The new interface is for the customer portal /otobo/customer.pl

[2021-05-07 20:55] giomf commented on #993
Oh ok I see.
Are there any plans to change the UI for the agents as well?

[2021-05-08 10:55] bschmalhofer commented on #873
Instructions for Oracle to Oracle migration are part of https://github.com/RotherOSS/doc-otobo-installation/issues/64.

[2021-05-08 16:10] bschmalhofer commented on #760
The next step is to go through the violations of OTOBO::ProhibitOpen. These popped up due to https://github.com/RotherOSS/CodePolicy/issues/26. See https://perlmaven.com/open-and-read-from-files for the best practice of using `open`.

[2021-05-09 11:14] bschmalhofer opened #996 "Remove the method Kernel::System::Main::FileGetMTime()"
I don't get the benefit of providing a wrapper around `stat`. Furthermore this method is used only in `Kernel::System::Loader` and only after the existence of the file has already been checked. This can be considered an error in itself, as it allows for race conditions between checking for existence and the wrapped call to `stat`.

[2021-05-09 11:51] bschmalhofer opened #997 "Remove remnants of support for MacOS"
My understanding is that Mac OS is not supported by OTOBO. So, I think that it is sensible to remove remnants of support for MacOS, that is 'darwin'.

[2021-05-09 14:47] bschmalhofer commented on #988
Yes, the error occurred again today.

[2021-05-09 18:55] joserribeiro26 commented on #993
There is an item talking about the agent interface review.

https://otobo.de/en/feature-add-ons/

[2021-05-09 19:03] giomf commented on #993
Thanks. I will have a look.

[2021-05-09 19:03] #993 closed, assigned to nobody

[2021-05-10 13:14] bschmalhofer commented on #789
Apparently the commit 7fb462d has fixed the issues with SecureMode.
However there are at least two concerns:

- Constantly reloading ZZZAAuto.pm is not elegant, not sure whether it is a noticable performance hit
- There are other Kernel/Config/File/ZZZ*.pm files which must also reliably be reloaded. The lack of reloading might be related to TODO failure in the Selenium tests

So, lets close this i

[2021-05-10 13:16] bschmalhofer opened #1000 "Reloading the Kernel/Config/Files/ZZZ*.pm files"
Apparently the commit 7fb462d has fixed the issues with SecureMode.
However there are at least two concerns:

- [x]  Constantly reloading ZZZAAuto.pm is not elegant, not sure whether it is a noticable performance hit
- [x] There are other Kernel/Config/File/ZZZ*.pm files which must also reliably be reloaded. The lack of reloading might be related to TODO failure in the Selenium tests

So, lets clo

[2021-05-10 13:23] #789 closed, assigned to bschmalhofer, svenoe

[2021-05-10 15:07] bschmalhofer commented on #1000
Let's have a recap of the current state.

### A note about inodes

`Apache2::Reload` only looks at the modified time of files. This is a bit coarse, as it is based on seconds. `Module::Refresh` also takes the inode number into account. My understanding is that `Kernel::System::SysConfig::_FileWriteAtomic()` does change the inode number, which would make `Module::Refresh` based solutions more relia

[2021-05-10 17:14] bschmalhofer commented on #1000
First test run looks fine. No new failures, but more TODO tests have passed. Let's check some more test runs in the next days.

[2021-05-11 10:26] bschmalhofer commented on #988
Also somtimes in _scripts/test/Selenium/Output/Dashboard/TicketGenericFilter.t_:

[code]

[2021-05-11 10:27] bschmalhofer commented on #1000
This change should allow to unTODO some test cases. See the following issues:

- [x] https://github.com/RotherOSS/otobo/issues/763 : TODO tests are unTODOed, looks good
- [x] https://github.com/RotherOSS/otobo/issues/929 : failures are either fixed, or marked as TODO for #1002
- [x] https://github.com/RotherOSS/otobo/issues/748  : does not work for NewOwnerID and State. but config setting seems to

[2021-05-11 12:14] svenoe opened #1001 "Ticketnotifications: Don't allow settings which run into recursions."
Forbid the combination of ArticleCreate/Send with System as sender in the article filter, if the notification produces an article (which then will initiate itself).

[2021-05-11 12:31] svenoe opened #1002 "Implement process tickets for the customer interface"
I will convert this issue to a discussion - please follow the link given above this.

Since this project is a little larger, and several parties are involved, I propose to use this issue as the main issue for planning and discussion, and I will keep this post up-to-date with our vision on how things should work and look on each screen. I also created a project for this, to be able to better organi

[2021-05-11 12:33] bschmalhofer opened #1003 "Selenium: Put each Login-Attempt into a subtest"
`Kernel::System::UnitTest::Selenium::Login()` has a retry feature that does 5 login attempts before giving. Put each attempt into a subtest in order to make more obvious what is going on.

[2021-05-11 12:45] svenoe commented on #843
I opened another issue for this, to plan things a bit, and will close this issue here. Please continue in https://github.com/RotherOSS/otobo/issues/1002 or in separate issues for the implementation of distinct parts.

[2021-05-11 12:45] #843 closed, assigned to StefanRother-OTOBO

[2021-05-11 13:20] svenoe commented on #1002
We received a pr of dk-ciphron (https://github.com/RotherOSS/otobo/pull/990 - thanks, here, too :), which, for now, I merged into the branch [issue-#1002-customerprocess_01](https://github.com/RotherOSS/otobo/tree/issue-%231002-customerprocess_01) to maybe use it as a foundation for further development.

Our biggest question would be, if it is necessary to have this separation between normal ticke

[2021-05-11 15:53] joserribeiro26 commented on #1002
Using two CustomerTicketMessage and CustomerTicketProcess Interface usually leaves the user confused about opening tickets. If it is centered on a single screen, I think it would be a great idea.
But due to the modularization of the process components, I think that the effort is much greater.

[2021-05-11 18:26] bschmalhofer commented on #1003
A run of the test suite looked fine. Closing this issue.

[2021-05-11 18:26] #1003 closed, assigned to bschmalhofer

[2021-05-12 03:34] acorderor commented on #1002
I think since there could be many different processes and from different areas it would be a good idea to be able to see them as a tree, the same as the Service Catalog or the Queues where one can see the available proceses listed and expanded based on a prequalification for example Human Resources -> Process 1, Process 2, etc

[2021-05-12 06:57] svenoe commented on #1002
@joserribeiro26 - With the hideshow-functionality the CustomerTicketMessage is already quite modular, we feel, and we already have a package which will be included in the standard, which allows to remove the subject, the main text box, and the attachments from the CustomerTicketMessage. The only real difference I'm aware of, is, that still always an article will be created (and those fields will c

[2021-05-12 18:02] acorderor commented on #1002
In fact I have many several implementations where the customer itself requests the service via a process ticket, each of the process has its own set of fields to be completed. For that reason my idea of being able to let them choose a path as a tree to be able to fill the right form and avoid the need to having some one re-routing the ticket or asking for additional information. In fact as @joserr

[2021-05-13 10:44] StefanRother-OTOBO opened #1006 "OTRS Migration to OTOBO using PostgreSQL as Source DB failed to decode Attachments"
Migrated attachments are stored in PostgreSQL Base64 encoded. If the migration is from PostgreSQL to MariaDB, attachments are currently not decoded correctly.

This can be done manually up to version 10.0.10 by issuing the following command in MariaDB for the affected columns:

update faq_attachment set content = FROM_BASE64(content);

As of 10.0.11 this error is fixed

[2021-05-13 10:44] #1006 closed, assigned to bschmalhofer

[2021-05-13 11:03] StefanRother-OTOBO commented on #601
Dublicate with Issue #1006, #800 and #601

[2021-05-13 11:03] #601 closed, assigned to bschmalhofer

[2021-05-13 11:03] StefanRother-OTOBO commented on #800
Dublicate with Issue #1006, #800 and #601

[2021-05-13 11:03] #800 closed, assigned to nobody

[2021-05-13 11:06] bschmalhofer commented on #1000
Looking at the implementation of `Kernel::System::UnitTest::ConfigSettingChange` I found that the order of written _ZZZZUnitTest*.pm_ is not deterministic. This is bad when the same setting is modified twice or more often in a test script. The written files should be in alphabetical order.

- [x] Saner naming convention for _ZZZZUnitTest*.pm_ files

[2021-05-14 14:00] bschmalhofer commented on #748
The timeouts still occur, but not consistently at the same changes. The cause is not clear. Probably not related to problems with changing the config settings.

[2021-05-15 09:41] bschmalhofer commented on #929
The test script _scripts/test/Selenium/Output/NavBar/CustomerTicketProcess.t_ used to have tests for 'Create New Process Ticket' in the customer interface. Currently there is no such button. See #1002 for details. The 'Create New Process Ticket' have been marked as TODO for the issue #1002.

[2021-05-16 12:09] bschmalhofer commented on #988
Sporadic failures were also seen in:

- _scripts/test/Selenium/Customer/CustomerTicketOverview.t_ line 118
- _scripts/test/Selenium/Agent/Admin/AdminCustomerGroup.t_ line 164.
- _scripts/test/Selenium/Customer/CustomerTicketAttachment.t_ line 120 and 121

[2021-05-17 15:08] StefanRother-OTOBO opened #1008 "Not all FAQ inline images are visible after migration from OTRS"
After migration from OTRS, only one inline image is visible in FAQ articles.
Fixed in OTOBO 10.0.11

[2021-05-17 15:43] StefanRother-OTOBO opened #1009 "Migrate older ConfigItem definitions in perl syntax to .yaml"
OTRS change the ConfigItem definitions after OTRS Version 6.0.14? from perl syntax to .yaml. We need to check in the migration script, if old perl syntax is used and if yes, migrate the ConfigItem definitions to .yaml.

[2021-05-17 15:45] #1009 closed, assigned to nobody

[2021-05-17 15:45] #1008 closed, assigned to nobody

[2021-05-20 17:43] bschmalhofer commented on #107
Implementation should be no problem. Just implement the driver module `Kernel::System::CHI`. A benchmark comparing `Kernel::Cache::FileStorable` and `Kernel::Cache::CHI` with the driver `File` would be interesting.

[2021-05-22 11:28] bschmalhofer commented on #1000
Selenium tests are mostly fine in the rel-10_1 branch. Now let's check whether they succeed in rel-10_1 too.

[2021-05-22 11:29] bschmalhofer opened #1011 "Check and fix Selenium tests in the rel-10_1 branch"
Selenium tests are mostly fine in the rel-10_0 branch. Now let's check whether they succeed in rel-10_1 too.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1000#issuecomment-846394617_

[2021-05-22 11:44] bschmalhofer opened #1012 "Use the $SetEnvMiddleware in otobo.psgi"
_otobo.psgi_ in the rel-10_1 branch has the middleware `$SetEnvMiddleware` used for setting values in `%ENV`. Let's do the same thing in rel-10_1. The benefit is that the two branches will become more aligned.

[2021-05-22 12:22] bschmalhofer commented on #1012
That was a bad idea. Using ForceEnv in rel-10_1 is fine, as CGI::Emulate::PSGI kicks in later. Let's not meddle with this.

[2021-05-22 12:22] #1012 closed, assigned to bschmalhofer

[2021-05-22 16:32] bschmalhofer commented on #1000
There is another prolblem. The log output of the otobo_web_1 shows many messages like:

`[Sat May 22 16:24:09 2021] plackup: Can't locate Kernel/Config/Files/ZZZZUnitTestAB4400000059500001.pm in @INC (you may need to install the Kernel::Config::Files::ZZZZUnitTestAB4400000059500001 module) (@INC contains: /opt/otobo/bin/psgi-bin/../../Custom /opt/otobo/bin/psgi-bin/../../Kernel/cpan-lib /opt/otobo

[2021-05-22 19:21] bschmalhofer opened #1013 "Eliminate references to OTRS domains in the test suite"
The command
[code]
shows that OTRS domains are still referenced in the test scripts. These could be switched to OTOBO domains. Some test might also make DNS queries to OTRS domains.

[2021-05-22 20:31] bschmalhofer opened #1014 "Avoid warning about invalid QueueID in TicketQueueOverview.pm line 171."
The warning take from the log of otobo_web_1 is:
`[Sat May 22 20:14:01 2021] plackup: Use of uninitialized value within %Queues in hash element at /opt/otobo/bin/psgi-bin/../../Kernel/Output/HTML/Dashboard/TicketQueueOverview.pm line 171.`

The cause is in line 147:

[code]
I would have liked to investigate the reasoning for this code, but
https://bugs.otrs.org/show_bug.cgi?id=13142 seems to be do

[2021-05-22 21:44] bschmalhofer commented on #1000
Replaced Plack::Middleware::Refresh with a custom middleware in order to have more control. The warnings are gone and the unit tests look fine again.

[2021-05-23 13:23] bschmalhofer commented on #1011
A first test showed some failures in the rel-10_1 branch.
[code]
The cause is unknown.

[2021-05-24 11:37] bschmalhofer commented on #510
It might be useful to include the Git branch and the Git commit in the RELEASE file. Either when creating a distribution package or when creating a Docker image. One use case would be in _bin/docker/run_test_suite.sh_. The name, or the content, of the result file could then include that information.

[2021-05-24 12:58] bschmalhofer opened #1016 "Issues with readme.md"
The file readme.md is prominently visible on the GitHub starting page for OTOBO: https://github.com/RotherOSS/otobo . There are some issues with that file:

- [ ] _OTOBO is one of the most flexible web-based ticketing systems used for Customer Service, Help Desk, and IT Service Management based on the ((OTRS)) Community Edition._ That sentence is IMHO too long.
- [ ] Maybe also reference Znuny LTS

[2021-05-24 13:18] bschmalhofer opened #1017 "Docker image should contain same files as the tar-package"
When building local images, and additional files or dirs are present, then these files are included in the generated image. This could lead to strange effects. Maybe the file _.dockignore_ should be enhanced. See also #951.

[2021-05-25 06:32] svenoe commented on #1013
This has to dealt with on an individual basis (sometimes only checksums of the expected results would have to be recalculated, sometimes servers would have to be set up, which provide some API to communicate with,...), unfortunately, which was the reason that we left it untouched so far. Of course this should be corrected over time, but atm, I don't think the benefit justifies the time needed to a

[2021-05-25 07:30] #86 closed, assigned to wollmers, svenoe, StefanRother-OTOBO

[2021-05-25 07:48] #1002 closed, assigned to nobody

[2021-05-25 18:08] bschmalhofer commented on #760
Down to 3 failures:
[code]

The failures for the two Event modules are covered by https://github.com/RotherOSS/CodePolicy/issues/44. One failure still open.

[2021-05-25 20:40] bschmalhofer commented on #760
Accepted the violation of TidyAll::Plugin::OTOBO::Perl::ObjectManagerCreation in _Kernel/System/MigrateFromOTRS/CloneDB/Backend.pm_. This leaves two violations that are covered in an existion issue. Closing this issue when the PR for #1000 is merged and when there are no new violations.

[2021-05-26 07:43] Velcatt opened #1024 "Wrong parse of customer mail adress in followups"
Hello there,

I'm currently trying to setup Otobo mailing and I encountered a weird issue : when I try to reply to a ticket, it's supposed to autofill the "To" field with the name and mail address of the customer. However the address parses oddly and the first name of the customer is added within the "<>" that encapsulates email address (which is weird since the mai field is correctly set up on th

[2021-05-26 08:52] svenoe commented on #1024
Hi Velcatt,

usually there are no problems with this. I assume this customer is not defined as a customer user in the ticket system, so the email itself is interpreted in a strange way. (I saw the picture and removed it, to not have email addresses publicly flying around here. It was basically a '"name" <xxx@yyy.fr surname>'.)

Could you please download the email (either directly from your mail pr

[2021-05-26 09:22] Velcatt commented on #1024
Thanks for you answer,

I think the said user is defined as a customer, the customer base is linked with LDAP and this account is from the AD. I'll add that in the customer view the email addresses are displayed correctly (it doesn't include the surname, unlike the auto "reply to" field).

I can't seem to be able to download the original article or even open it in plain view, the one that opened t

[2021-05-26 10:19] svenoe commented on #1024
Ah, yes, you won't be able to download it that way, if it was not a mail to begin with - I made wrong assumptions there. In the case you described, it would be important to see what exactly is provided as email address to OTOBO by your AD. Please make sure that everything is correct there, and that OTOBO is properly configured. In principle this definitely works, which doesn't mean that there cann

[2021-05-26 10:40] bschmalhofer opened #1025 "SessionID is included twice in URL when Session cookies are turned off"
This bug surfaced from the test script _scripts/test/Selenium/Agent/Admin/AdminSystemConfigurationExampleSessionID.t_ . In the test script, the config setting SessionUseCookie is turned off. This means that the session id must be passed back and forth via the URL. The substitution in the URL was triggered successfully, but the substitution was broken. In the concrete case _/otobo/index.pl?_ was tu

[2021-05-26 11:01] Velcatt commented on #1024
I'll send you a screenshot by mail, but according to the email field in the customer view, the emails are given correctly by our AD. I don't think Otobo is misconfigured either, since the mails woks just fine if I manually type the address. I don't know how to reproduce these steps to be honest, the configuration is almost vanilla so I really don't know what's screwing with that field...

[2021-05-26 13:04] bschmalhofer opened #1027 "CGI::PSGI->EnvQueryString() returns an empty string"
The underlying query object of `Kernel::System::Web::Request` is in rel-10_1 a `CGI::PSGI` object. This object is created from a PSGI environment hash, not from the traditional CGI `%ENV`. It happens that in the method `CGI::PSGI::EnvQueryString()` does not return the PSGI env var QUERY_STRING. This has consequences during login because the query string is stored in the Login page as the hidden fo

[2021-05-26 18:46] bschmalhofer commented on #1025
The test suite looks fine. Closing this issue.

[2021-05-26 18:47] bschmalhofer commented on #1027
The test suite looks fine. Closing this issue.

[2021-05-26 18:47] #1027 closed, assigned to bschmalhofer

[2021-05-26 18:48] bschmalhofer commented on #1011
Fixing #1025 and #1027 apparently fixed the failing scripts. Let's see whether this holds up before closing this issue.

[2021-05-26 18:49] #1025 closed, assigned to bschmalhofer

[2021-05-27 07:16] bschmalhofer opened #1030 "Make Git branch and commit hash availables as files in Docker image"
It might be useful to include the Git branch and the Git commit in the RELEASE file. Either when creating a distribution package or when creating a Docker image. One use case would be in _bin/docker/run_test_suite.sh_. The name, or the content, of the result file could then include that information.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/510#issuecomment-

[2021-05-27 07:21] bschmalhofer commented on #1030
Discussed this with @svenoe  and we saw no downsides to adding the git branch. The git commit hash should not be added, as adding the hash changes the hash.

For now, the branch should only be added when building the docker image. The information can then be used in _bin/docker/run_test_suite.sh_ .

[2021-05-27 08:40] bschmalhofer commented on #760
Checked the Codepolicy for the rel-10_0 and the issue-#1000-zzz_reload branches. Looks good. Closing this issue and open one for the rel-10_1 branch.

[2021-05-27 08:41] bschmalhofer opened #1031 "Adjust the code in rel-10_1 branch to work with CodePolicy"
Checked the Codepolicy for the rel-10_0 and the issue-#1000-zzz_reload branches. Looks good. Closing this issue and open one for the rel-10_1 branch.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/760#issuecomment-849451543_

[2021-05-27 08:42] #760 closed, assigned to nobody

[2021-05-27 09:12] bschmalhofer opened #1032 "Test and fix OTOBO under Apache/mod_perl with mpm_prefork"
There are some issues with running OTOBO 10.1.x under Apache/mod_perl. Note that this is the version with

[code]
The scripts in bin/cgi-bin are not used there.

- [x] The `InterfaceInstaller->Content()` method should always return a string, not be printing to STDOUT
- [x] The `InterfaceMigrateFromOTRS->Content()`method should always return a string, not be printing to STDOUT
- [x] Explicitly retu

[2021-05-27 09:38] bschmalhofer opened #1033 "Review diffs between rel-10_0 and rel-10_1"
I think it is worthwhile to take a look at the diffs between rel-10_0 and rel-10_1. There are two benefits:

- reduce the code drift, reduce diffs that have no consequences, like code comments and spelling corrections
- maybe identify errors

New and deleted files can be skipped for this review: `git checkout rel-10_0; git diff rel-10_1 --diff-filter=M > diff.out`

[2021-05-27 17:15] joserribeiro26 opened #1035 "placeholder ckeditor customer interface"
When we disable the Frontend::Rich Text setting, the customer portal appears to have a problem with the Class placeholder.
See the image below.

![image](https://user-images.githubusercontent.com/475022/119868631-aafe7580-bef5-11eb-8112-bf71a763b50a.png)

[2021-05-27 17:15] joserribeiro26 commented on #1035
![image](https://user-images.githubusercontent.com/475022/119868877-fca70000-bef5-11eb-9c29-22d10491acdd.png)

[2021-05-27 19:13] bschmalhofer commented on #1031
For some reason, adding Kernel::System::Web::Request to the ObjectDependencies broke the test suite. Reverted that change.
TODO;

- [x] decide what to do about the complaints from OTOBO::Perl::ObjectDependencies

[2021-05-28 08:41] bschmalhofer commented on #1030
I'm not really comfortable with turning the static file RELEASE into a dynamic file. But I like the simplicity of that approach taken in https://pythonspeed.com/articles/identifying-images/. So let's add these files to the image:

- _/opt/otobo_install/otobo_next/git_repo.txt_
-  _/opt/otobo_install/otobo_next/git_commit.txt_
- _/opt/otobo_install/otobo_next/git_branch.txt_

If more files are requ

[2021-05-28 09:31] svenoe commented on #1035
Thanks for letting us know. We will have to include this correctly to the css and possibly js.

[2021-05-28 10:34] niccord commented on #1013
I can work on this issue, if you want you can assign this to me.

How do you think this could be solved? Replacing "otrs.[com|org|de]" with "otobo.org"?

[2021-05-28 12:42] bschmalhofer commented on #1030
The generated files and their content look sensible. Test suite is passing. Closing this issue.

[2021-05-28 12:43] #1030 closed, assigned to bschmalhofer

[2021-05-28 13:16] bschmalhofer commented on #510
So let's go with the method `Kernel::System::Main::GetReleaseInfo()`. This method parses the file _RELEASE_ and returns the content as a simple hash. The file _RELEASE_ won't be changed.

[2021-05-28 14:00] svenoe commented on #1013
Hi Nicola,

we would be happy if you do. :) You can just replace it with otobo.org, though I'm pretty sure that it won't be possible just like this everywhere, as I wrote before. But even if it can only be changed partly, if you help us and just rewrite some tests, which easily can be adapted to still run, it is helpful and welcome.

I will assign you for now - thanks, Sven

[2021-05-28 16:04] bschmalhofer commented on #1013
@niccord  The first step would be to verify that the unit tests, optimally including the Selenium, tests are succeeding in your devel environment. In case of stumbling blocks I could assist you with the setup.

[2021-05-28 16:09] bschmalhofer commented on #1017
In order to keep this change simple, let's only worry about files and dirs in the top level.

_.dockerignore_ has been adapted and test suite looks fine. Closing this issue.

[2021-05-28 16:09] #1017 closed, assigned to bschmalhofer

[2021-05-28 16:16] bschmalhofer commented on #510
TODO:

- [x] test a migration to OTOBO 10.1.x, as GetReleaseInfo() is used in one of the migration modules

[2021-05-28 18:10] bschmalhofer commented on #510
Tests looked fine, even though scripts/test/Selenium/Customer/CustomerTicketAttachment.t had a sporadic error. Testing an actual migration is still TODO.

[2021-05-29 10:23] bschmalhofer opened #1043 "Localize changes to %ENV"
In a persistent Perl environment, e.g. mod_perl or Gazelle, it is usually a good idea to localize changes to %ENV. See https://perl.apache.org/docs/general/perl_reference/perl_reference.html#The_Scope_of_the_Special_Perl_Variables . Luckily there already is a Perl::Critic check for this, but apparently this check often was deactivated to lightheartedly. So, look at the places where `## no critic q

[2021-05-29 11:25] bschmalhofer commented on #573
Switched my preference from Sub::Override to Class::Method::Modifiers. The latter module looks more modern and better supported. It also isn't really a new requirement, as the required module Moo depends on it.

[2021-05-29 14:50] bschmalhofer commented on #1043
The test suite looks fine and CodePolicy has no complaints about  Variables::RequireLocalizedPunctuationVars. The cgi-bin scripts will be tested later. Closing this issue.

[2021-05-29 14:50] #1043 closed, assigned to bschmalhofer

[2021-05-31 06:57] niccord commented on #1013
@bschmalhofer I've launched the test suite including the Selenium part, but I am not sure about the result: I have a huge .out file (more than 500k rows), with lots of `ok` but with some error, too.

My environment is pretty clean and I've updated it from git before running the tests.

[2021-05-31 07:27] bschmalhofer commented on #1013
@niccord yes, the test output is somewhat daunting. The relevant lines are the last two lines. There I have:

[code]
There are some 'not ok' cases, but these should be marked as TODO. Some sporadic failures are also tracked in #988. Don't worry about the error messages. They usually come from test code that deliberately provokes the errors.
If you have errors that are neither TODO nor covered in #

[2021-05-31 07:46] niccord commented on #1013
I have some MySQL table error, so I can't find that line in my test output. I try updating my docker container then run the tests again.

[2021-05-31 13:22] niccord commented on #1013
Is it expected for the test scripts to drop my database tables? Because for the second time in a row I found it that way 😨
(anyway, I still haven't the relevant lines you pointed out)

I have set this in my Kernel/Config.pm file:
[code]
but I also have:
[code]
which is used by Selenium, I suppose.

I my test I found:
[code]

[2021-05-31 18:00] bschmalhofer commented on #1013
Hi @niccord ,
the database should no be wiped, but I wouldn't recommend to run the test suite on a database with useful data. I tend to start on a fresh install.  I might have seen the 'Context destroyed' message at some time, but not lately.

I noticed that you are using Docker together with PostgreSQL. This is mostly untested from my side. In https://github.com/bschmalhofer/otobo-ideas/wiki/Runn

[2021-06-01 06:53] niccord commented on #1013
Hi Bernhard,
I am going to try with your approach, then.

Your tutorial seems simple and straightforward, thanks!

[2021-06-01 07:05] kess-net commented on #837
I did just two migration tests. Everything worked fine. Looks good for me

[2021-06-01 07:16] bschmalhofer commented on #837
Closing this issues as test migrations look fine.

[2021-06-01 07:16] #837 closed, assigned to kess-net

[2021-06-01 13:56] niccord commented on #1013
Since I am still unable to test with Selenium, I changed my approach: I have changed `otrs` with `otobo` as we said and then I launched all the test files I changed.

I will open a PR now, can you please test it with Selenium?

[2021-06-01 14:35] bschmalhofer commented on #1013
Cool, I looked the changes and I notices some issues, mostly that Copyright notes were changed too. Could you take I look at the review comments in https://github.com/RotherOSS/otobo/pull/1049 ?
In the meantime I try to provide a Docker setup that does not use HTTPS. This should simplify things a little bit.
https://github.com/RotherOSS/otobo-docker/issues/53

[2021-06-01 15:16] niccord commented on #1013
My regex should have had to filter them, anyway I restore those lines back.
The CodePolicy check fails but in my local environment it succeed, do you have any hint?

[2021-06-01 18:24] bschmalhofer opened #1051 "Check the cases where autoclose of lexical variables is used"
There are instances  where the code relies on the autoclosing of lexical file handles are autoclosed. Autoclosing works just fine, however the scoping rules are a bit surprising. See
https://stackoverflow.com/questions/67644504/why-does-repeatedly-opening-appending-and-closing-a-text-file-cause-the-lines-t and https://perlmonks.org/?node_id=11133380 .

Here is an example:
[code]

TODO:

- [x] chec

[2021-06-02 13:09] bschmalhofer commented on #1051
Readd the close statement hat were remove in 08b155568c03649068a2d552b67bfe02402d45a7, even though it looks like no bugs were introduced in that commit. Checked the 91 file that have open statements and found no critical issues.

[2021-06-02 17:34] bschmalhofer commented on #1013
Hi Nicola,

I have updated the instructions for running the test. https://github.com/bschmalhofer/otobo-ideas/wiki/Running-the-Test-Suite should now be more complete.

I have also run the test suite from your PR and got three scripts with failures.
[code]
The failures in _EmailParser.t_ and in _PostMaster.t_ are just MD5 sums that have changed. That should be easy to fix.
_WebUserAgent.t_ depends

[2021-06-02 19:30] bschmalhofer commented on #1051
Test suite looks fine. Closing this issue.

[2021-06-02 19:30] #1051 closed, assigned to bschmalhofer

[2021-06-03 09:58] bschmalhofer opened #1053 "DEFLATE filter for OTOBO running under Apache/mod_perl/Plack::Handler::Apache2"
The default Apache configuration _scripts/apache2-httpd.include.conf_ activates deflation.

[code]
Maybe adding deflation to _otobo.psgi_ is a good idea too. This could be done by adding the middleware https://metacpan.org/pod/Plack::Middleware::Deflater .
Are there any downsides to using the middleware?

[2021-06-03 11:56] bschmalhofer commented on #1053
The app https://metacpan.org/pod/Plack::App::MCCS and the middleware https://metacpan.org/pod/Plack::Middleware::MCCS look nice too.

[2021-06-03 12:33] bschmalhofer commented on #1032
Once this works with `PerlResponseHandler Plack::Handler::Apache2` we should check whether there are any problems with the wrapper script in _bin/cgi-bin_ .

[2021-06-03 12:34] bschmalhofer opened #1054 "Test and fix the wrappers in bin/cgi-bin"
Once this works with `PerlResponseHandler Plack::Handler::Apache2` we should check whether there are any problems with the wrapper script in _bin/cgi-bin_ . See also #320

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1032#issuecomment-853833555_

[2021-06-03 12:37] bschmalhofer commented on #599
This issue has been superseeded by #1032 and #1054. Closing.

[2021-06-03 12:37] #599 closed, assigned to nobody

[2021-06-03 12:41] bschmalhofer commented on #132
See also #1032 and #1054

[2021-06-03 17:23] bschmalhofer commented on #1032
Added Plack::Middleware::Deflater which seems to work fine. But I get an error for Firefox for the final page of installer.pl. Needs to be investigated.

[2021-06-05 11:28] bschmalhofer commented on #1053
Testing for #1032 showed an issue for Plack::Middleware::Deflater. There was a complaint about wide characters from Compress::Raw::Zlib::crc32.  We need to think some more about deflating content.

[2021-06-05 11:31] bschmalhofer commented on #1032
installer.pl now works. The cause of the problem was that corrupt content was returned from Kernel::Modules::Installer::Run().

[2021-06-05 11:53] bschmalhofer commented on #1032
Remove the explicit emission of status code 301. But in order to be on the safe side, the setting _HTTPSForceRedirect_ should be tested separately.

[2021-06-05 11:53] bschmalhofer opened #1056 "Test the setting HTTPSForceRedirect"
Remove the explicit emission of status code 301. But in order to be on the safe side, the setting _HTTPSForceRedirect_ should be tested separately.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1032#issuecomment-855229078_

[2021-06-06 09:32] bschmalhofer opened #1057 "Recommend using cpanm in otobo.CheckModules.pl"
Currently `bin/otobo.CheckModules.pl -list` emits the following for a missing module:

[code]
I propose to change _cpan_ to _cpanm_  because _cpanm_ is much less hassle.

[2021-06-07 07:45] OlliW opened #1058 "Implemention of ACLs for Subject, Body and Attachment"
For further possibilities for the ticket creation with the CustomerTicketMessage (instead the CustomerTicketProcess) it is necessary to hidde or show the Subject, Body and Attachment Fields.

[2021-06-07 07:53] OlliW opened #1059 "Dashboard Widget for Process Actions"
to use Process Transition Actions (e.g. approval) in the Customer Portal, it was very useful to have a Dashboard Widget with "my process activities"

[2021-06-07 08:12] svenoe commented on #1058
A package which allows making those fields optional, and or hiding them without any ACL interactions already exists. Integrating ACLs for standard fields are an additional step which will have to be looked into.

I will think about how to make the package available.

[2021-06-07 08:14] OlliW opened #1060 "Implemention of Process Actions in the CustomerTicketZoom"
Customers can be part of a process, so we need the process actions in the CustomerTicketZoom

[2021-06-07 08:26] svenoe commented on #1058
Hm...a mention in a discussion is not noted in the issue apparently - I have a question concerning article creation which I wrote in: https://github.com/RotherOSS/otobo/discussions/1020#discussioncomment-833720

[2021-06-07 08:32] svenoe commented on #1060
Here the pr of @dk-ciphron can be used as base. See https://github.com/RotherOSS/otobo/pull/990.

[2021-06-07 13:16] Velcatt commented on #1024
Well it's definitely a problem between Otobo and our AD but as I wasn't finding any solution (I still don't understand how mail are well stored in the Customers, the notifications works as expected but ticket answers adds first name after the mail address) I ended up editing the js to manually parse out the added first name. Problem solved, even if I don't like the way I solved it, no choice since

[2021-06-07 13:16] #1024 closed, assigned to nobody

[2021-06-07 13:19] Velcatt opened #1061 "Any way to get categories ?"
Simple question : I saw that in future releases Otobo will include a ticket category system. As we're migrating from GLPI we're already used to categories so do you think there's any way to include these into Otobo (even poorly) until then ?

[2021-06-07 14:24] svenoe commented on #1061
Hi Velcatt,
sorry, but with general questions like this, please visit our [forums](https://otobo.de/en/forums/otobo/otobo-forum/) (or consider getting a support contract). Github atm is really only intended for bugs etc..
Best regards, Sven

[2021-06-07 14:24] #1061 closed, assigned to nobody

[2021-06-08 07:27] Velcatt commented on #1061
Ok my bad, sorry.

[2021-06-08 09:42] bschmalhofer opened #1062 "SupportDataCollector tries to cache file handles"
When running the test suite, using Apache/mod_perl, the following error message appears in the Apache error log:

[code]
That an exception is thrown is fine, as Storable reasonably can't deal with file handles.

TODO:

- [x] Find out where the file handle comes from and remove it before caching it

The first suspicion that SupportDataCollector::IdentifierFilterBlacklist is involved here did not pa

[2021-06-08 09:57] bschmalhofer opened #1063 "No longer rely on the environment variable MOD_PERL"
In the current setup with Plack::Handler::Apache2 the module is effectively disabled as the environment variable MOD_PERL is delected. However the Apache module mpm_prefork.c is a must also when running otobo.psgi. There also some more instances where MOD_PERL is checked.

TODO:

- [x] a saner check for whether we are running under Apache
- [x] eliminate or documente all instances where there is a

[2021-06-08 12:17] bschmalhofer commented on #1032
Thinks look almost fine, after chosing the Apache worker module mpm_prefork instead mpm_event. Here are the remaining failures:

/opt/otobo/scripts/test/Console/Command/Maint/PostMaster/MailAccountFetch.t                               (Wstat: 256 Tests: 4 Failed: 1)
  Failed test:  4
  Non-zero exit status: 1
/opt/otobo/scripts/test/Selenium/Agent/AgentSplitSelectionACL.t

[2021-06-08 12:20] bschmalhofer commented on #1032
The latest test run with rel-10_1 using OTOBO under Apache/mod_perl also hat Math::Random::Secure removed from Kernel::System::Main. `Math::Random::Secure::irand($Max)` is back to `int rand($Max)`. I think this is a good change, but it's definitely a different issue.

[2021-06-08 12:20] bschmalhofer opened #1064 "Revert usage of Math::Random::Secure"
The latest test run with rel-10_1 using OTOBO under Apache/mod_perl also hat Math::Random::Secure removed from Kernel::System::Main. `Math::Random::Secure::irand($Max)` is back to `int rand($Max)`. I think this is a good change, but it's definitely a different issue.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1032#issuecomment-856716775_

[2021-06-08 12:30] bschmalhofer commented on #1053
My conclusion is that activating DEFLATE is neither the responsibility of otobo.psgi nor of zzz_otobo.conf. In the Apache case we have _mods-enabled/deflate.conf_ . Or DEFLATE could be handled by nginx.
For Gazelle there should also be a solution that is nicer than adding Plack::Middleware::Deflate to _otobo.psgi_.

TODO:

- [ ] documentation for Apache

[2021-06-08 12:44] bschmalhofer commented on #1064
Discussed this with @svenoe . A good randomness is good to have, as this is used for generating random session IDs and random passwords. Math::Random::Secure is staying.

[2021-06-08 12:44] #1064 closed, assigned to bschmalhofer

[2021-06-08 15:01] bschmalhofer commented on #1032
After reverting the irand change and after restarting from a clean slate we get:

[code]

[2021-06-08 19:19] bschmalhofer commented on #1000
Tests look fine. Closing this issue.

[2021-06-08 19:19] #1000 closed, assigned to bschmalhofer

[2021-06-08 19:47] bschmalhofer commented on #929
Tests are not longer TODOed and succeeding. Closing this issue.

[2021-06-08 19:47] #929 closed, assigned to bschmalhofer

[2021-06-08 19:51] bschmalhofer commented on #748
Still some TODO tests in scripts/test/Selenium/Agent/AgentTicketActionCommon/AgentTicketFreeText.t

[2021-06-08 19:54] bschmalhofer commented on #963
TODO tests are gone. Closing this issue.

[2021-06-08 19:54] #963 closed, assigned to nobody

[2021-06-08 19:56] bschmalhofer commented on #932
The suspicious sleeps have been removed. Closing this issue.

[2021-06-08 19:56] #932 closed, assigned to nobody

[2021-06-08 19:57] bschmalhofer commented on #763
Tests are no longer set to TODO. Closing this issue.

[2021-06-08 19:57] #763 closed, assigned to nobody

[2021-06-09 06:20] bschmalhofer commented on #573
Discussed this with @svenoe . The conclusion was that using Class::Method::Modifiers in Autoload modules is a good idea. So let's officially require it for 10.0.11. This is no major change, as Class::Method::Modifiers is already required by Moo.

[2021-06-09 06:35] svenoe commented on #573
It would be nice to have a small proof of principle and maybe a sample file, which can be used as template. Priority is not so high, though.

[2021-06-09 06:47] bschmalhofer commented on #573
Requirement has been added. Issue for improving the documentation has been created. Closing this issue.

[2021-06-09 08:11] svenoe commented on #734
I think we can remove it. In the end the code is not lost as it's in git. There is no need for keeping it "just in case".

[2021-06-09 08:46] bschmalhofer commented on #734
Ah, I just found out that there still is a session limit in OTOBO. See _Framework.xml_:

[code]
The relevant check is in _Kernel/System/AuthSession.pm_ . Now tthis is a bit inconsistent. When there is a session limit, then a notification that the limit is approaching does make sense. Or should the agent session limit feature be also removed from OTOBO?

[2021-06-09 09:28] bschmalhofer commented on #1054
TODO:

- [x] investigate whether scripts/apache2-perl-startup.pl should be kept or removed
- [ ] run the test suite

[2021-06-09 10:16] bschmalhofer commented on #1011
Looks better now, down to a single failure. Looks like some kind of layout issue. Consistenly, the same failure shows in #1032.
[code]

[2021-06-09 10:17] bschmalhofer opened #1067 "Fix CreateScreens.t in rel-10_1, and in rel-11_0 with S3 activated"
Looks better now, down to a single failure. Looks like some kind of layout issue. Consistenly, the same failure shows in #1032.
[code]

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1011#issuecomment-857572121_

[2021-06-09 11:38] bschmalhofer commented on #1063
Effectively the checks for $ENV{MOD_PERL} are replaced by checking whether Apache2::Module can be loaded.

[2021-06-09 11:58] bschmalhofer commented on #132
@kess-net  Giving this to you. There is no hurry, as I'm still working on #1032 and #1054.

[2021-06-09 15:24] bschmalhofer commented on #1063
A first test run under Apache showed some errors:

[code]
Failures from SupportDataCollector.t are because of #1062. The other failure look unrelated to the latest changes. So let's merge.

[2021-06-09 16:15] bschmalhofer commented on #1062
The culprit was `psgi.errors = *::STDERR` which is reported in Webserver::Plack::PSGIEnv. Skipping typeglobs makes _scripts/test/SupportDataCollector.t_ succeed. Closing the issue.

[2021-06-09 16:15] #1062 closed, assigned to bschmalhofer

[2021-06-09 19:58] niccord commented on #1013
Hi Bernhard,
I use to run this script for the test suite: `bin/otobo.Console.pl Dev::UnitTest::Run [--test testFile]`.
I run it inside the docker container, of course.

With this script, EmailParser, PostMaster and WebUserAgent give a different result:
The first two passes and the last one returns a different failed test list.

So what's the difference between the two scripts?
Is there any way to

[2021-06-10 06:26] svenoe commented on #1013
Hi Nicola,

without looking at it, probably the scripts compare different files or checksums or so. This can really only be debugged by looking at what the script does, exactly. A good help can be to use `--verbose` as an additional flag for `Dev::UnitTest::Run`.

Starting a single test is for example: `bin/otobo.Console.pl Dev::UnitTest::Run --test PostMaster/FollowUp` (that is the test script wi

[2021-06-10 06:39] bschmalhofer opened #1071 "Remove check for Apache2::DBI in the Support Data Collector"
No need to check for Apache2::DBI when it is no longer used.

[2021-06-10 09:03] bschmalhofer commented on #1063
Had to go back and actually load Apache2::Module. The SupportData looks fine now in both cases. Closing this issue.

[2021-06-10 09:03] #1063 closed, assigned to bschmalhofer

[2021-06-10 09:16] bschmalhofer commented on #1071
Removed check for Apache::DBI. The Support Data report still looks fine. Closing this issue.

[2021-06-10 09:16] #1071 closed, assigned to bschmalhofer

[2021-06-10 09:24] bschmalhofer commented on #1013
Hi Nicola, @niccord,

I would also recommend that you verify that e.g. _/opt/otobo/scripts/test/EmailParser.t_ really holds your changed file. It is not enough that the container otobo_web_1 is running with your locally built image. The images holds the changed files in _/opt/otobo_install/otobo_next_. The files still have to be copied to the volume at _/opt/otobo_. See line 82 of _scripts/update.

[2021-06-10 10:43] bschmalhofer commented on #1053
DEFLATE under Gazelle is a separate issue. Let's open a new issue for that. The goal is that zipping the content should be possible without fiddling with otobo.psgi.

[2021-06-10 10:44] bschmalhofer opened #1075 "DEFLATE for OTOBO running under Gazelle"
DEFLATE under Gazelle is a separate issue. Let's open a new issue for that. The goal is that zipping the content should be possible without fiddling with otobo.psgi.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1053#issuecomment-858515874_

[2021-06-10 11:20] bschmalhofer commented on #997
Discussed this with the Dev-Team. We concluded that the checks can go.

[2021-06-10 11:38] bschmalhofer opened #1076 "Reactivate Support Data Collector plugin OS::DiskSpace"
The code of Kernel::System::SupportDataCollector::Plugin::OS::DiskSpace is currently commented out. The plugin should be reactivated as it provides useful information.

[2021-06-10 12:06] bschmalhofer commented on #1032
Many failures in the latest run. Need to investigate what has been broken.

[2021-06-10 13:05] bschmalhofer opened #1109 "Provide a OTOBO specific image for Chrome, that can be used for testing with Selenium"
Currently the service selenium-chrome uses the image selenium/standalone-chrome-debug:3 from Docker Hub. This works fine. But it's a bit unpleasant that the running container has initially no local test data that is needed for running the tests. As a workaround there is the script _scripts/devel/prepare_selenium_container.sh_ that creates the dir _/opt/otobo/scripts/test/sample_ and copies the tes

[2021-06-10 15:47] bschmalhofer opened #1078 "Make Selenium tests work with latest version of selenium/standalone-chrome"
For the Selenium test, the chosen approach is to have a Docker container with a running Chrome browser. The browser is then remote controlled by the tests in _scripts/test/Selenium_ running e.g. on the otobo_web_1 container. The Chrome image is taken from Docker Hub, https://hub.docker.com/r/selenium/standalone-chrome. The tag '3' is used for selecting which version of the image is used.
However t

[2021-06-10 18:50] bschmalhofer commented on #1011
After applying https://github.com/RotherOSS/otobo-docker/issues/58 we are three failing scripts:

[code]

[2021-06-10 20:32] bschmalhofer commented on #1011
Looks like the previous failures were due to high load on the test machine. The current run showed no failures.

[2021-06-11 09:59] bschmalhofer commented on #1032
After fixing  RotherOSS/otobo-docker#58 we are back to three failures, but only _TicketMessage.t _ is in the intersection.

[code]

[2021-06-11 10:00] bschmalhofer commented on #1067
Looks like this error either has gone away or is sporadic. Closing this issue.

[2021-06-11 11:56] bschmalhofer commented on #1014
lateste test run indicated no problems, PR is merged, closing this issue.

[2021-06-11 11:56] #1014 closed, assigned to bschmalhofer

[2021-06-11 14:03] bschmalhofer commented on #997
PR is merged. Support Data still looks sensible. Closing this issue.

[2021-06-11 14:03] #997 closed, assigned to bschmalhofer

[2021-06-11 14:26] bschmalhofer commented on #734
Discussed this with @svenoe  and @StefanRother-OTOBO . The conclusion is:

- The agent session check will be kept as currently set up, currently the limit is 100 sessions
- The notification that the limit is approaching will reactivated,

[2021-06-11 15:18] bschmalhofer commented on #1031
Only the complaints related to https://github.com/RotherOSS/otobo/issues/825 are reported now. Closing this issue.

[2021-06-11 15:18] #1031 closed, assigned to bschmalhofer

[2021-06-12 08:08] bschmalhofer opened #1081 "Docker: upgrade to Perl 5.34.0"
Currently the web Docker image is based on Perl 5.32.0. Let's upgrade to the new release 5.34.0, https://hub.docker.com/_/perl. The changelog https://perldoc.perl.org/5.34.0/perldelta shows nothing scary. Most interesting is the new experimental try/catch syntax. In older Perls this syntax is useable via https://metacpan.org/pod/Feature::Compat::Try.

The minimal supported version of Perl will sta

[2021-06-12 09:54] svenoe commented on #1081
What would be the reason? We have to stay compatible with non-docker installations, so new features will not be usable anyways.

[2021-06-12 10:23] bschmalhofer commented on #1081
OTOBO specifies Perl 5.24 as minimum Perl version, there is no max version specified. This means that Perl 5.34 is officially supported. A good way to guarantee that support is to use 5.34 in Docker based installation.

[2021-06-12 11:34] bschmalhofer opened #1082 "Encode strings when writing to shared memory"
`Kernel::System::Log::Log()` is using calling `shmwrite` for writing the last log entries to shared memory. The entries can be retrieved with `Kernel::System::Log::GetLog()`. GetLog assumes that the read in data is UTF-8 encoded. The method decodes the binary data into proper Perl strings. Howevert Log() does not UTD-8 encode the data written to shared memory. Using Perl up the 5.32 this coinciden

[2021-06-12 11:38] bschmalhofer commented on #1081
First test run looks mostly fine. There a 9 failing scripts. Most, if not all, of these failures are due to an encoding issue in Kernel::System::Log::Log(). See #1082.

[2021-06-12 11:50] bschmalhofer commented on #1082
Looking at the usage of EncodeOutput in OTOBO I noticed at least one fishy instance.
[code]
In that example `$Self->{UserEmail} ` is binary. Calling `lc` on binary data is fishy. That most likely never caused an error, as emails are usually ASCII only.

[2021-06-12 11:51] bschmalhofer opened #1083 "Check the usage of EncodeOutput()"
Looking at the usage of EncodeOutput in OTOBO I noticed at least one fishy instance.
[code]
In that example `$Self->{UserEmail} ` is binary. Calling `lc` on binary data is fishy. That most likely never caused an error, as emails are usually ASCII only.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1082#issuecomment-860042706_

[2021-06-12 17:57] bschmalhofer commented on #1082
Added the EncodeOutput() before shmwrite. Test suite showed the same errors as HEAD of rel-10_1. Merged the PR. Closing the issue.

[2021-06-12 17:57] #1082 closed, assigned to bschmalhofer

[2021-06-12 19:38] bschmalhofer commented on #1011
Looks like some new failures sneaked in:

[2021-06-12 19:41] bschmalhofer commented on #1081
Running the test suite with Perl 5.34.0 in the Docker images showed the same failures as in HEAD of rel-10_1. Looks good. PR is merged. Closing the issue.

[2021-06-12 19:41] #1081 closed, assigned to bschmalhofer

[2021-06-13 09:00] bschmalhofer commented on #987
The Autoload module was not created as a workaround for core OTRS code, but as a workaround for _Kernel/Modules/AgentTimeAccounting_ in the OTRS package TimeAccounting. The history of that module is available, via the kind folks at Znuny, at https://github.com/znuny/TimeAccounting. There already is an OTOBO port of TimeAccounting available at https://github.com/RotherOSS/TimeAccounting.

So, I pro

[2021-06-14 09:38] bschmalhofer opened #1086 "Alias and ScriptAlias in apache2-httpd-vhost-80.include.conf"
I'm confused by the lines

[code]
in _scripts/apache2-httpd-vhost-80.include.conf_ . Port 80 is redirecting to port 443. Why are any aliases needed for that?

[2021-06-14 12:50] bschmalhofer commented on #1054
scripts/apache2-perl-startup.pl is gone now.

Manual testing showed a strange effect.

- http://localhost/otobo/index.pl?Action=Admin displays German umlauts correctly
- http://localhost/otobo/index.pl?Action=AdminSupportDataCollector messes up and the umlauts are replaced by �

In the Apache error log there are also messages like:

I suspect that some modules meddle with the mode of `STDOUT`. Nee

[2021-06-15 19:56] bschmalhofer opened #1088 "Fix test failures due to new ObjectDependencies"
Looks like some new failures sneaked in:

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1011#issuecomment-860099212_

[2021-06-15 20:20] bschmalhofer commented on #1088
The following message in the test output gives  a hint of what is going on:

The message mentions database transactions. This is consistent, as all newly failing test scripts have `RestoreDatabase => 1` in the parameter list for `K::S::UnitTest::Helper` object. RestoreDatabase indicates that the script usually runs in a single transaction. The easiest way to have different transactions in the scri

[2021-06-16 06:02] svenoe commented on #1088
I know that you are not happy with the current way object dependencies are handled, but I'm totally against introducing exceptions to the main code, just to make some test scripts run which built on assumptions that are not generally true.

I propose to discuss the object dependencies at some point in a larger round.

(Edit: Also this new dependency actually will influence quite a lot of stuff, as

[2021-06-16 06:54] bschmalhofer commented on #1088
How can this be an exception to the main code, when I added the dependency of Kernel::System::Log on Kerrnel::System::Web;;Request just 5 days ago?

[2021-06-16 14:11] bschmalhofer commented on #1086
@StefanRother-OTOBO  aggrees that these lines are not needed. The lines are removed now. Testing with HTTPS will be part of #1032. Closing this issue.

[2021-06-16 14:11] #1086 closed, assigned to bschmalhofer

[2021-06-16 14:39] bschmalhofer commented on #1088
The fix looks fine, we are back to 0 non-TODO failures.

[2021-06-17 16:24] niccord opened #1091 "Search fields in TicketSearch are case sensitive"
As the title says, the fields of the Kernel::System::Ticket::TicketSearch::TicketSearch subroutine are case sensitive.
Make it case insensitive.

[2021-06-17 16:42] bschmalhofer commented on #1032
Lates test run showed only on failing script:

Running that test by itself works most of the time. Let's dump the HTML with `$Selenium->get_page_source()`. Wenn the test succeeds we have the following HTML snippet:

In the error case the snippet looks similar:

The reported error is:

The difference in the HTML snippet is that the ProgressContainer is not empty. The assumption is that there is som

[2021-06-17 17:39] bschmalhofer opened #1092 "Timing issues in Customer/MultiAttachmentUpload/TicketMessage.t"
Lates test run showed only on failing script:

Running that test by itself works most of the time. Let's dump the HTML with `$Selenium->get_page_source()`. Wenn the test succeeds we have the following HTML snippet:

In the error case the snippet looks similar:

The reported error is:

The difference in the HTML snippet is that the ProgressContainer is not empty. The assumption is that there is som

[2021-06-18 17:47] bschmalhofer commented on #1088
Discussed this with @svenoe and @kess-net . Fully disabling the CodePolicy for Perl::ObjectDependencies has been ruled out. The solution is to support a blacklist called `@SoftObjectDependencies` that list the object that are not hard dependencies.
TODO:

- [x] set up `@SoftObjectDependencies` where the policy Perl::ObjectDependencies  is currently deactivated
- [x] run the complete test suite
- [

[2021-06-19 09:52] bschmalhofer commented on #1088
TODO for the Codepolicy: Consider the array `@SoftObjectDependencies` as a blacklist for OTOBO/Perl/ObjectDependencies.pm.

[2021-06-19 12:44] bschmalhofer commented on #1088
Tests and CodePolicy look fine. Closing this issue.

[2021-06-19 12:44] #1088 closed, assigned to bschmalhofer

[2021-06-19 14:30] bschmalhofer commented on #1011
The latest test runs looked fine. There was only one failure for _scripts/test/Selenium/Customer/CustomerTicketOverview.t_. But that sporadic failure is handled in #988. Closing this issue.                                        _

[2021-06-19 14:30] #1011 closed, assigned to nobody

[2021-06-20 08:21] bschmalhofer commented on #1092
Yes, it looks like the attachment delete link is hidden initially and then show when the upload has been completed. See _CoreUI.js_:

The easiest check for whether the upload is complete seems to be the check whether the class 'Hidden' is set for the link. The data 'file-id' can't be used as attached data is only available in the local DOM.

[2021-06-20 09:17] bschmalhofer commented on #1092
Running _TicketMessage.t_ showed no further errors. PR is merged- Closing this issue.

[2021-06-20 09:17] #1092 closed, assigned to bschmalhofer

[2021-06-20 11:27] bschmalhofer commented on #1032
Two failures now. _scripts/test/Selenium/Agent/Admin/AdminCustomerGroup.t_ is handled in #988 .

[2021-06-20 11:49] bschmalhofer commented on #1032
Could not reproduce the issue with _RebuildConfigBug14910.t_ . But added the case to #988 anyways. Closing this issue.

[2021-06-20 14:29] bschmalhofer commented on #1032
Reopening as there are still a few items on the TODO list.

[2021-06-21 07:25] OlliW opened #1094 "Avatar overlays the logout / preference button in the dashboard"
the avatar overlays the logout / preference button in the dashboard.
Version 10.0.10

[2021-06-21 07:26] OlliW commented on #1094
![otobo_dashboard](https://user-images.githubusercontent.com/80096822/122723048-c64d6e00-d272-11eb-85e8-13908bde2f54.PNG)

[2021-06-21 07:29] OlliW commented on #1094
![otobo_dashboard2](https://user-images.githubusercontent.com/80096822/122723403-36f48a80-d273-11eb-8624-89d94611cab5.PNG)

[2021-06-21 07:30] OlliW commented on #1094
![otobo_dashboard](https://user-images.githubusercontent.com/80096822/122723492-525f9580-d273-11eb-88ec-b9f81d496b9c.PNG)

[2021-06-21 08:05] svenoe commented on #1094
Hi Olli,
I cannot confirm this. My hunch would be, that you maybe have to clear your browser cache. Else please visit https://demo.otobo.org/otobo/customer.pl and login with
User: Felix
Password: Felix
where, upon mouse hover the avatar is blurred out a bit, and the logout and settings icons will be shown separately.
If this is not the case for you please let me know.
Best regards, Sven

[2021-06-21 11:50] bschmalhofer opened #1095 "OTOBO::Perl::ParamObject violations in rel-10_0"
With the changed TidyAll config for OTOBO::Perl::ParamObject we need to check for violations in the rel-10_0 branch.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/CodePolicy/issues/44#issuecomment-864969825_

[2021-06-21 11:50] bschmalhofer opened #1096 "OTOBO::Perl::ParamObject violations in rel-10_1"
With the changed TidyAll config for OTOBO::Perl::ParamObject we need to check for violations in the rel-10_1 branch.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/CodePolicy/issues/44#issuecomment-864969924_

[2021-06-21 17:41] bschmalhofer commented on #1095
CodePolicy and the test suite look find. Closing this issue.

[2021-06-21 17:41] #1095 closed, assigned to bschmalhofer

[2021-06-21 19:20] bschmalhofer commented on #1096
CodePolicy and the test suite look fine. Closing this issue.

[2021-06-21 19:20] #1096 closed, assigned to bschmalhofer

[2021-06-23 13:57] bschmalhofer opened #1099 "Eliminate dependency of Kernel::System::Log on Kernel::System::DateTime"
When running  `perl -I . -I Kernel/cpan-lib/ scripts/test/DynamicField/Driver/WebService/PossibleValuesGet.t` there are in some setups deep recursions. The reason is that for some reason the CPAN module DateTime can't be instandiated during global cleanup. This error is being logged, but for logging we need a Kernel::System::DateTime object, which needs a DateTime object, which can't be created. T

[2021-06-23 15:52] bschmalhofer commented on #1054
Investigated why _scripts/test/DynamicField/Driver/WebService/PossibleValuesGet.t_ failes when using the wrapper scripts. There a webservice, using OTOBO itself as endpoint, is used to retrieve info about a test ticket. This fails because the testscript can't parse the response from the OTOBO web server:

The communication is nicely tracked in the table gi_debugger_entry_content and can be nicely

[2021-06-23 15:56] bschmalhofer opened #1100 "HTTP Headers end up in SOAP-content and break SOAP"
Investigated why _scripts/test/DynamicField/Driver/WebService/PossibleValuesGet.t_ failes when using the wrapper scripts. There a webservice, using OTOBO itself as endpoint, is used to retrieve info about a test ticket. This fails because the testscript can't parse the response from the OTOBO web server:

The communication is nicely tracked in the table gi_debugger_entry_content and can be nicely

[2021-06-24 09:51] hypnguyen1209 opened #1101 "Detect XSS in Ticket Search Form"
https://github.com/RotherOSS/otobo/blob/59dda3b9806c602d1b8cd5da8f1c15b7fc32f9ab/Kernel/Output/HTML/Templates/Standard/CustomerDashboard.tt#L30

I have discovered an XSS vulnerability in your source code, I hope you will fix it as soon as possible.
Thank you!
POC: https://drive.google.com/file/d/1hBRq_H6h55TLen0ULDRKEDnwBfpRK-fr/view?usp=sharing

[2021-06-24 12:20] svenoe opened #1102 "Fix age and name length in the article overview in CustomerTicketZoom."
Age is not copied to the small overview correctly anymore. Also a overflow:hidden etc. for very long names is needed.

[2021-06-24 14:04] svenoe commented on #1102
Should be fixed - thanks, Stefan.

[2021-06-24 14:04] #1102 closed, assigned to svenoe

[2021-06-24 14:42] svenoe commented on #1101
Hi Nguyen,
thank you very much for letting us know! (The preferred way would be to send us a mail to security@otobo.org, but better here than not at all. :) )

Your video doesn't load for me, but from the preview I guess it is clear, and I added a fix to it. I will close the issue for now and try loading the video at another time again. If you are up for it, you could also just replace the changed

[2021-06-24 14:42] #1101 closed, assigned to nobody

[2021-06-24 17:04] bschmalhofer commented on #1100
This can be fixed by removing `PerlOptions -ParseHeaders` for /otobo/nph-genericinterface.pl. The change has been made in the branch for issue #1054. Closing this issue, even though there are stil some SOAP related problems.

[2021-06-24 17:04] #1100 closed, assigned to bschmalhofer

[2021-06-24 17:08] bschmalhofer commented on #1054
Fixed initial problem concerning non-parsed headers. This leaves 100 test failure, of which some are related to SOAP too.

[2021-06-25 06:46] svenoe commented on #1094
I will close this issue for now.
Please let me know, if you couldn't resolve the issue.

[2021-06-25 06:46] #1094 closed, assigned to nobody

[2021-06-25 08:34] stefanhaerter commented on #1091
Hi niccord,

I'm currently investigating the issue. Are you able to provide any further details, like the release version? I'm not able to reproduce the behaviour in rel-10_0. I tested the fields 'Title', 'Text', 'From' and 'Subject'.

Kind regards,
Stefan

[2021-06-26 13:06] bschmalhofer commented on #1054
There are still SOAP related failures when the wrapper scripts in cgi-bin are used. An example for such an failing script is _scripts/test/GenericInterface/Operation/Ticket/TicketGet.t_ . The error message is:

This error message is emitted from `NET::HTTP::Methods::my_readline()` when trying to read in the HTTP header lines of the SOAP response.

Let's first take a look whether the webservice is

[2021-06-26 13:08] bschmalhofer opened #1104 "No HTTP headers emitted by bin/cgi-bin/nph-genericinterface.pl"
There are still SOAP related failures when the wrapper scripts in cgi-bin are used. An example for such an failing script is _scripts/test/GenericInterface/Operation/Ticket/TicketGet.t_ . The error message is:

This error message is emitted from `NET::HTTP::Methods::my_readline()` when trying to read in the HTTP header lines of the SOAP response.

Let's first take a look whether the webservice is

[2021-06-27 11:51] bschmalhofer commented on #1104
Looked again on the server side using Plack::Middleware::DebugLogging. See  also https://github.com/mattp-/Plack-Middleware-DebugLogging/issues/5. Saw nothing significant there. Still no idea why no headers are seen in Kernel/GenericInterface::Transport::HTTP::SOAP.
The next course of action: Run the webserver with the branch issue-#1054-bin_cgi_bin and the client with rel-10_0.

[2021-06-28 18:41] bschmalhofer commented on #1104
Finally starting to understand the different effects. The most relevant thing is the behaviour of ModPerl::Registry. In https://metacpan.org/release/SHAY/mod_perl-2.0.11/source/ModPerl-Registry/lib/ModPerl/RegistryCooker.pm we have the following code:
[code]
This means that for CGI Skripts starting with **nph-** the Apache method `assbackwards()` is called. This methods directs Apache to pass thru

[2021-07-01 17:39] bschmalhofer commented on #1104
Replacing the naive usage of Plack::Handler::CGI with adaped code derived from Plack::Handler::CGI did the trick. Test suite is completing now, but there are still unrelated failures. Changes will be merged with #1054. Closing this issue.

[2021-07-01 17:39] #1104 closed, assigned to bschmalhofer

[2021-07-01 17:42] bschmalhofer commented on #1054
Another class of failures from the cgi-bin wrapper scripts:

Looks like funny double or triple encoding. Needs to be investigated.

[2021-07-01 17:43] bschmalhofer opened #1106 "Encoding issues with CGI scripts wrapping otobo.psgi"
Another class of failures from the cgi-bin wrapper scripts:

Looks like funny double or triple encoding. Needs to be investigated.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1054#issuecomment-872433213_

[2021-07-02 15:33] bschmalhofer commented on #1109
Discussed this with @svenoe . Let's do it.

[2021-07-02 15:41] bschmalhofer opened #1108 "Clean up old devel images on hub.docker.com"
On https://hub.docker.com/usage/docker/rotheross?page=1&repo=otobo-elasticsearch&returnTo=%2Frepository%2Fdocker%2Frotheross%2Fotobo-elasticsearch%2Ftags%3Fpage%3D1%26ordering%3Dlast_updated&status=inactive there are currently 591 images listed. The old devel images are not needed. They should be cleaned up automatically.

[2021-07-03 08:57] bschmalhofer commented on #873
RotherOSS/doc-otobo-installation#64 has been merged. Closing this issue, as there are no new problem reports concerning Oracle migrations.

[2021-07-03 08:57] #873 closed, assigned to bschmalhofer

[2021-07-03 09:04] #913 closed, assigned to nobody

[2021-07-03 09:57] bschmalhofer commented on #1099
This is a bit dangerous as parameters for creating die CPAN DateTime object could have been registered with `ObjectParamAdd()`. Let's invests a  bit of time and find out what is going wrong with object destruction instead.

[2021-07-03 11:30] bschmalhofer commented on #1108
I found no easy way to remove all untagged images of a repository. Not sure what the best practice is.

[2021-07-04 08:19] #815 closed, assigned to nobody

[2021-07-04 08:45] bschmalhofer commented on #1099
Using ` my $LogTime = scalar localtime;.` is not only dangerous, but plain wrong. The default time zone of `Kernel::System::DateTime`is not the system time zone but OTOBOTimeZone from the system configuration.

[2021-07-05 10:51] kess-net commented on #961
Tested and enhanced a little bit.  Branch issue-#961-elasticsearch_index  looks is looking good

[2021-07-05 13:10] kess-net commented on #961
merged to rel-10_0

[2021-07-05 18:51] bschmalhofer commented on #961
Reopen for fixing _scripts/test/Config/Defaults.t_ .
@kess-net : Could you take a look at the test? It looks like there are divergent settins in Defaults.pm and Framework.xml.

[2021-07-06 06:27] kess-net commented on #961
@bschmalhofer , this test is giving me an 'All tests successful.'. What is the problem at your side?

[2021-07-06 07:07] bschmalhofer commented on #961
I got a:

after I did a `bin/otobo.Console.pl Maint::Config::Rebuild`.

Maybe it's an effect of using `bin/docker/quick_setup.pl` instead of using `installer.pl`.

[2021-07-07 09:42] OlliW commented on #1058
Ok, do you have any progress on this point?

[2021-07-07 16:22] niccord opened #1113 "Agent email not saved when equal to username"
Hi everyone,
as the title suggests, I found this bug: the agent's email is saved in the `user_preferences` table but only when it is different from the username.

This causes two issues:
1. when using `$UserObject->UserSearch(PostMasterSearch => $email)` no user is found;
2. if you change the agent's username, it also became the new agent's email.

---

You can solve this by:
1. removing the block

[2021-07-08 14:18] bschmalhofer opened #1114 "Kernel::Translate::Translate() contains fishy code"
See the excerpt from Kernel::System::Translate:

[code]
There are already some disclaimers there. Here is another one: What if the translation contains a literal '%s' ?

[2021-07-08 17:14] bschmalhofer commented on #1106
Still confused. The PSGI spec says:

But looking inside CGI::Handler::PSGI the content is a string with UTF-Flag on. This looks wrong. Calling `utf8::encode($body)` before printing the body apparently fixes the encoding issue. So, let's find out whether the body was decoded somewhere or was never encoded. If the body was never encoded, why is it working under Gazelle?

Just a reminder: Use Data::P

[2021-07-08 17:16] svenoe commented on #1113
Hi Nicola,

you are right. I was curious, and the three lines of code which add the UserEmail were added in July 2002, when the email address was not yet mandatory in UserAdd(). (In a nightly session...^^) I'm pretty sure that it doesn't make sense anymore. From my perspective if a method needs an email address from GetUserData() and a user has none, an error could be thrown. Just removing it, how

[2021-07-09 11:49] bschmalhofer commented on #1106
The not encoded body might have been the sole problem. Let's run the test suite:

- [x] under Docker, using Gazelle
- [x] locally, using Apache 2.4 and Plack::Handler::PSGI
- [x] locally, using Apache 2.4 and Modperl::Registry using the wrapper scripts in _bin/cgi_bin_

[2021-07-09 17:36] bschmalhofer commented on #1106
Running the test suite under Docker showed one error:

# Failed test 'Article displayed using correct encoding'
# at /opt/otobo/scripts/test/Selenium/Output/ArticleAttachmentHTMLViewer.t line 236.
# Looks like you failed 1 test of 31.

Looks like double encoding of an article from the storage.

[2021-07-10 10:56] bschmalhofer opened #1115 "Don't run the compile tests for modules in Kernel/TidyAll"
The script _scripts/install-git-hooks.pl_  of the CodePolicy install the script _git-hooks/pre-commit.pl_ . This script expects the directory _Kernel/TidyAll_ . It also adds _Kernel_ to `@INC` so that it finds the modules in _Kernel/TidyAll_ . The effect of this setup is the _scripts/test/Compile.t_ fails to check the syntax of the TidyAll scripts as it doesn't have _Kernel_ in `@INC`. Adding _Ker

[2021-07-10 12:02] bschmalhofer commented on #1115
PR is merged. Closing this issue.

[2021-07-10 12:02] #1115 closed, assigned to bschmalhofer

[2021-07-10 12:59] bschmalhofer commented on #1106
Removed the encoding to UTF-8 in Kernel::Output::HTML::Layout::Attachment(). Thus no double encoding and things look better now.

[2021-07-10 13:07] bschmalhofer commented on #1054
There are actually two cases where the scripts in bin/cgi-bin are used.

- CGI scripts are running under Modperl::Registry
- CGI script are running as ancient CGI, where a new process is started for every request

Both cases should be supported. The Modperl::Registry is the more important case. The latter case should be handled in a different issue. There might be a problem with the detection of m

[2021-07-10 13:08] bschmalhofer opened #1118 "Support for ancient CGI, without Modperl::Registry"
There are actually two cases where the scripts in bin/cgi-bin are used.

- CGI scripts are running under Modperl::Registry
- CGI script are running as ancient CGI, where a new process is started for every request

Both cases should be supported. The Modperl::Registry is the more important case. The latter case should be handled in a different issue. There might be a problem with the detection of m

[2021-07-10 19:47] bschmalhofer commented on #1054
Looks better now, but still some warnings and failures. First the warnings:

These warnings come from the OTOBO::RPC package in otobo.psgi.

The failures:

[2021-07-11 13:00] bschmalhofer opened #1120 "Use the cookie jar from Plack::Response"
`Plack::Response` has a `cookie()`method. Use it instead of fiddling with the Set-Cookie HTTP header.

[2021-07-11 14:17] bschmalhofer commented on #1054
Fixed the missing headers in CustomerLogin(). Run the test suite and got three failing scripts:

[2021-07-11 14:21] bschmalhofer opened #1121 "Redefined subs from OTOBO::RPC"
These warnings show up in the Apache error log when the scripts bin _bin/cgi-bin_ are used:

These warnings come from the OTOBO::RPC package in otobo.psgi.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1054#issuecomment-877694212_

[2021-07-11 14:22] bschmalhofer commented on #1106
The remaining test failures do not seem to be related to the encoding. Closing this issue.

[2021-07-11 14:22] #1106 closed, assigned to nobody

[2021-07-11 19:13] bschmalhofer commented on #1120
Refactored how the cookies are added to the HTTP headers. Running the test suite under Docker showed no failures. Closing this issue.

[2021-07-12 06:27] bschmalhofer commented on #825
Checking again, `SetCookie()` does not modify the object. `LoadFormDraft()` does set params in the query object. `SaveFormDraft()` does not modify the ParamObject, but the FormDraftObject.

[2021-07-12 10:42] bschmalhofer commented on #1109
Discussed this with @svenoe and we decided to go ahead with alternative 2..

[2021-07-12 13:55] bschmalhofer commented on #961
I have looked at that in the rel-10_0 branch. IMHO the test is correct in reporting a failure, as the config for Elasticsearch::ArticleIndexCreationSettings are indeed diverging between Defaults.pm and Framework.xml. The deeper issue is that this is a necessary divergence. Installer.pm expects a global config for all indexes while the command Maint::ElasticSearch::Migration expects an index specif

[2021-07-12 14:01] svenoe commented on #961
It has to be option 1., and it should be noted that adaptions to the index can be made in Config.pm before running the installer.

[2021-07-12 14:16] bschmalhofer commented on #961
Another tidbit: mayber rename 'all' to something like 'default' or 'standard'. The config is no longer for all indexes when there is a specific config.

[2021-07-12 14:31] bschmalhofer commented on #1109
The test suite looks fine and the PR is merged.

TODO:

- [x] check whether automated builds work on Docker Hub (decided to have no automatic builds)

[2021-07-12 19:41] bschmalhofer commented on #1054
Another test run:

[2021-07-13 07:22] StefanAbel-OTOBO opened #1127 "AJAX error message when installing only with SMTP server"
During installation of OTOBO (via Docker), when only setting the SMTP Server in the installer.pl, an AJAX error message appears. When you additionally fill out the incoming mail server, everything is fine.

[2021-07-13 07:44] StefanAbel-OTOBO opened #1128 ""Title or salutation" field displayed in Customer User Name / From column"
When displaying the "Customer User Name" in e.g. a Dashboard Widget or in a ticket list (e.g. Queue view), always the "Title or salutation" from the customer user information is being displayed. This works out if you put the title there, but it doesn't work out if you put a salutation into that field. Especially when you only put parts of the salutation into there.

![Pasted Graphic](https://user-

[2021-07-13 09:07] svenoe commented on #375
Also see https://github.com/RotherOSS/otobo/issues/1127

[2021-07-13 09:07] svenoe commented on #375
And probably #456

[2021-07-13 09:07] svenoe commented on #1127
The email setup in the installer in general needs some work. There is an older issue which was neglected quite a bit... I will close this issue and mention it in https://github.com/RotherOSS/otobo/issues/375.

[2021-07-13 09:07] #1127 closed, assigned to nobody

[2021-07-13 14:08] niccord commented on #1013
Hi Bernhard @bschmalhofer,
sorry to come back so late to this issue.

I followed your tutorial step by step but I have an issue with `docker-compose up -d`.
It gets an error from your docker image `rotheross/otobo-selenium-chrome`:
[code]
Can you please help me?
Thanks.

[2021-07-13 14:27] bschmalhofer commented on #1013
Hi Nicola,

sorry, that error comes from recent changes for #1109. The aim there is to simplify the whole process by eliminating _scripts/devel/prepare_selenium_container.sh_. For that I started on a custom Selenium image, that unfortunately in not yet available on Docker Hub.Updated instructions are now at https://github.com/bschmalhofer/otobo-ideas/wiki/Running-the-Test-Suite-under-Docker.
As a

[2021-07-13 15:25] niccord commented on #1013
Thanks for your quick answer.
How can I generate an `otobo-selenium-chrome` image? I didn't see any in my `docker image ls` output and I can't find it anywhere.

[2021-07-13 15:43] bschmalhofer commented on #1013
On which branch are you working? The head of https://github.com/RotherOSS/otobo/blob/rel-10_0 contains the script _bin/docker/build_docker_images.sh_ that should build this local image. Maybe you need to rebase your local branch.

[2021-07-13 16:33] niccord commented on #1013
I am working on a branch on my personal fork trying to fix this issue.
I am going to try rebasing, thanks.

[2021-07-13 16:37] bschmalhofer commented on #1109
Added a little helper _bin/devel/start_selenium_chrome.sh_ for a tiny bit of convenience.

[2021-07-13 16:44] bschmalhofer commented on #1033
Did a first round of looking thru the diffs.  Pulled a few comment changes and a few refactorings from rel-10_1 to rel-10_0. Also pulled the support for the git-* files in the Docker image back into rel-10_0. This is expected to not break anything.

[2021-07-14 06:40] svenoe commented on #1013
Hi Nicola,

thanks for your pull-request. It was a bit convoluted with all the commits of rel-10_0 inbetween yours, so without looking much at this issue or the state of the pr, I opened a new branch for this issue and cherry-picked all of your commits into it (https://github.com/RotherOSS/otobo/tree/issue%231013-eliminate-otrs-references). Maybe Bernhard and you can work with this branch. And may

[2021-07-14 07:00] wacorado opened #1131 "Problem whit Apache2 an Template"
I try to use this solución in a company, have done everything indicated in the installation manual, use Centos 7 server whit all the Software requirements, when y try made this part of te installation

Configure Apache without SSL support
Copy the template file /opt/otobo/scripts/apache2-httpd.include.conf to the apache sites-available directory. In most cases no further editing of the template is

[2021-07-14 07:14] svenoe commented on #1131
Hi wacorado,

with general questions and problems with regards to the installation, configuration and so on, please visit our forums and ask them there: https://otobo.de/en/forums/otobo/otobo-forum/
I will close this issue here. For the moment we use github just for bugs and development related topics, sorry.

Best regards, Sven

[2021-07-14 07:14] #1131 closed, assigned to nobody

[2021-07-14 08:05] niccord commented on #1013
Hi Sven,
looks good to me.

Just a note: am I able to commit and push directly on the `otobo` repository?

[2021-07-14 09:25] svenoe commented on #1013
No, you are not. Also for this branch, you can only start another pull request. Bernhard for example could accept this then, if he approves the changes.

[2021-07-14 12:14] svenoe opened #1132 "Think about dynamic field rendering"
The dynamic field HTML differs between the customer and agent interfaces. For standard fields this is only small stuff and taken care of via js atm, but at latest with more special fields arriving we should definitely include the interface which the field is rendered for directly in the backend methods, I think. Also we have to think about this with respect to process management, I imagine...

[2021-07-14 14:22] bschmalhofer commented on #1109
Automated built for that Selenium container feels kind of silly. So I uploaded a locally built image to https://hub.docker.com/repository/docker/rotheross/otobo-selenium-chrome and give it the tag _latest_. For running the image und stopping the container there are now the scripts _bin/devel/run_selenium-chrome.sh_ and _bin/devel/stop_selenium-chrome.sh_ .

The local builds will still be done when

[2021-07-14 16:30] bschmalhofer commented on #1109
Ran the test suite with the image from Docker Hub. Looking good. Closing this issue.

[2021-07-14 16:30] #1109 closed, assigned to bschmalhofer

[2021-07-14 16:49] bschmalhofer commented on #1054
Yet another test run:

Looks like CustomerTicketOverview.t is the only consistenly failing test.

[2021-07-14 18:55] bschmalhofer commented on #1013
Hi Nicola,

I rebased https://github.com/RotherOSS/otobo/tree/issue%231013-eliminate-otrs-references to the HEAD of rel-10_0 and ran the tests again. Assuringly the three  expected test scripts reported failures again:

There were 3 other failing scripts, but these are most likely unrelated.

Best regards,
   Bernhard

[2021-07-15 14:04] bschmalhofer opened #1134 "VNC viewer not working with the otobo-selenium-chrome image"
When running selenium tests locally with the OTOBO specific image otobo_selenium-chrome, I can't connect to the VNC server via Remmina. It works flawlessly when running the whole setup under docker. Maybe some port that is not opened in the first case.

[2021-07-15 15:26] bschmalhofer commented on #1120
Reopened this issue because of errors in the apache error log:

The relevant code is:
[code]

I checked the locations where `SetCookies`are set. I didn't see any instances where `$Ingredients->{name};` would not be set. But of course the line ` my $Name        = delete $Ingredients->{name};` can do harm. Internally the sub `Cookie::Baker::bake_cookies( $Name, $Ingredients)` is called. This sub doe

[2021-07-15 17:53] bschmalhofer commented on #1120
Eliminated the 'delete'. No upheaval in the test suite. Closing this issue again.

[2021-07-15 17:57] bschmalhofer commented on #1054
Reran the test suite with a sleep in CustomerTicketOverview.t . This is all a bit unpredictable.

[2021-07-16 13:16] bschmalhofer opened #1136 "Remove references to CGI modules in otobo.psgi"
There is still some support for CGI.pm like objects in OTOBO 10.0.x. But that is mostly useful during testing. _otobo.psgi_ and `Kernel::System::Web::Request` should not explicitly need any modules in the CGI namespace, with the exception `CGI::PSGI`. Let's try to eliminate them.

[2021-07-16 13:30] bschmalhofer commented on #1136
A special case is the support for `$CGI::POST_MAX` in `Kernel::System::Web::Request`. This variable limits the POST size to the value of `$ConfigObject->Get('WebMaxFileUpload') || 1024 * 1024 * 5`.  It needs to be checked whether this setting is handled be CGI::PSGI in the same way as CGI.pm did in OTOBO 10.0.x without PSGI.

[2021-07-16 13:31] bschmalhofer opened #1137 "Check support for WebMaxFileUpload on the server side"
A special case is the support for `$CGI::POST_MAX` in `Kernel::System::Web::Request`. This variable limits the POST size to the value of `$ConfigObject->Get('WebMaxFileUpload') || 1024 * 1024 * 5`.  It needs to be checked whether this setting is handled be CGI::PSGI in the same way as CGI.pm did in OTOBO 10.0.x without PSGI.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otob

[2021-07-16 14:32] bschmalhofer commented on #1120
Reopening again because I messed up: Cookies() vs. cookies().

[2021-07-16 17:24] bschmalhofer commented on #1099
Just a reminder, use  `${^GLOBAL_PHASE}` for detecting global destruction. See https://metacpan.org/pod/perlvar#$%7B%5EGLOBAL_PHASE%7D

[2021-07-16 19:32] bschmalhofer commented on #1120
PR is merged. Message in error.log is gone. Closing again.

[2021-07-16 19:32] #1120 closed, assigned to bschmalhofer

[2021-07-16 19:37] bschmalhofer commented on #1054
Yet another run:

[2021-07-16 19:47] bschmalhofer commented on #1121
Tried to eliminate the package keyword by doing something like ` *OTOBO::RPC::new = sub {...};`. Didn`t help.
 ...

[2021-07-17 11:39] bschmalhofer commented on #1099
Eliminated `Kernel::System::DateTime` from `Kernel::System::Log` by using `DateTime` directly. As as small optimization, use `gmtime()` when the OTOBOTimeZone is UTC. Also cleand up unused attributes in `Kernel::System::Log`.

Manually test two cases by looking at a patched version of the AdminLog frontend. The time in square brackets is the time from the shared memory.

1. UserTimeZone = 'Europe/

[2021-07-17 14:35] bschmalhofer commented on #1054
Still a mixed bag:

[2021-07-17 14:48] bschmalhofer commented on #1099
Ran the test suite without Docker and with _scripts/apache2-httpd-cgi.include.conf_. No more "Deep recursion" messages were encountered. Looks good. Closing this issue.

[2021-07-17 14:48] #1099 closed, assigned to bschmalhofer

[2021-07-19 12:25] OlliW opened #1140 "Validation of Dynamic Field from type database not works correctly in the CustomerTicketMessage"
when i define a Dynamic Field from type database and it is defined as a mandatory Field in the CustomerTicketMessage.
When i hide the Field with an ACL, the validation on the ACLs not working correctly
I can't create an Ticket from the CustomerTicketMessage, because the mandatory Field is not filled out (it's hidden).

[2021-07-19 14:01] bschmalhofer commented on #988
Also seen: a failure in _scripts/test/Selenium/Agent/AgentTicketSplitInlineImage.t_ and _scripts/test/Selenium/Agent/AgentTicketSearchACL.t_ .

[2021-07-19 14:03] bschmalhofer commented on #1032
Tests still look fine for the Plack::Handler::Apache2 case. The single failure ist likely only sporadic:

[2021-07-19 14:19] bschmalhofer commented on #1121
Moving the implementation of OTOBO::RPC into the file _Kernel/System/Web/RPC.pm_ . This alleviates the redefined sub warnings.
Tested both with Plack::Handler::Apache2 and with Modperl::Registry. Surprisingly, in both cases the file _otobo.psgi_ is reloaded for every request. For the Plack::Handler::Apache2 case this can be improved by preloading _otobo.psgi_ . See https://metacpan.org/pod/Plack::

[2021-07-19 14:19] #1121 closed, assigned to bschmalhofer

[2021-07-19 14:20] bschmalhofer opened #1141 "Preload otobo.psgi when using Plack::Handler::Apache2"
Tested both with Plack::Handler::Apache2 and with Modperl::Registry. Surprisingly, in both cases the file _otobo.psgi_ is reloaded for every request. For the Plack::Handler::Apache2 case this can be improved by preloading _otobo.psgi_ . See https://metacpan.org/pod/Plack::Handler::Apache2#STARTUP-FILE.
Closing this issue, but opening an issue for the preloading.

_Originally posted by @bschmalhofe

[2021-07-19 18:02] bschmalhofer commented on #1141
Running the test suite looked fine. The single failure

is assumed to be sporadic.

[2021-07-19 18:52] bschmalhofer commented on #1141
PR is merged. Closing this issue.

[2021-07-19 18:52] #1141 closed, assigned to nobody

[2021-07-21 18:45] bschmalhofer commented on #1118
Added check for Apache2::Module::top_module() and Apache2::Module::loaded().
As a test disabled mod_perl with `sudo a2dismod perl`, adapted _scripts/apache2-httpd-cgi.include.conf_ and ran the test suite.

The test suite looks mostly fine, there were just a few unrelated errors. Closing this issue.

[2021-07-21 18:45] #1118 closed, assigned to bschmalhofer

[2021-07-22 14:57] manuelveith opened #1145 "Customer Frontend state selector jumps when ACL is active"
Version: 10.0.11

ACL:
![image](https://user-images.githubusercontent.com/48509874/126660055-a77d3d78-93d9-4295-a8f6-d61026f323d5.png)

Problem:
When ACL is active and the customer want to close an open ticket, the selector jumps always to the first entry in the list and can't be changed. Tested in Edge and Firefox.
When I disable the ACL he can select all entries again.
On closed tickets the beha

[2021-07-25 09:02] bschmalhofer opened #1146 "Running OTOBO under Gazelle without Docker"
Let's try running OTOBO under Gazelle on a non-privileged port. Something like `plackup --server Gazelle --env deployment --port 5000 bin/psgi-bin/otobo.psgi`.
See also #1032.

For testing, something like that should be done.

[2021-07-25 11:12] bschmalhofer commented on #1146
Running the test showed a single error:

Ignoring this error, as there were sporadic failures in _CreateScreens.t_ before. Closing this issue.

[2021-07-25 11:12] #1146 closed, assigned to bschmalhofer

[2021-07-26 11:38] kess-net opened #1147 "Let Dev::Package::Build be more verbose"
"Error: Package cannot be built." without any further information or Log message is not very helpful.
Be a bit more verbose in Kernel/System/Console/Command/Dev/Package/Build.pm

[2021-07-30 06:06] StefanRother-OTOBO opened #1149 "Migration PostgreSQL to MariaDB: Issues with DirectBlob feature"
Hi,

In the file Kernel/System/MigrateFromOTRS/CloneDB/Driver/postgresql.pm we check the binary blob. For PostgreSQL TEXT is specified here. I just migrated a system and there was text no binary? According to my research this is also the normal case. After I then took out the function, the data was fine after the migration.

When you look at this, can you please add another check that checks if th

[2021-08-02 16:27] bschmalhofer opened #1151 "Migration: Check for invalid NULL values in the source database."
When you look at this, can you please add another check that checks if there are values with NULL and in OTOBO this is not allowed? This has happened to me several times now with PostgreSQL and it is tedious when then the migration stops completely.

This was split off issue #1149

[2021-08-02 17:09] bschmalhofer commented on #1149
This is fairly confusing. The type LONGBLOB  in _scripts/database/otobo-schema.xml_ is translated into `longblob` under MySQL and in `text` under PostgreSQL. There are at least three different cases:
- The column holds UTF-8 with wide chars, e.g. YAML serialized  data structures
- The column holds binary data, that is base64 encoded data under PostgreSQL
- The column holds base 65 encoded data bot

[2021-08-03 07:44] stefanhaerter opened #1154 "Changing default options for number of results in Dynamic Fields list"
The current values for options and standard for results per page in the Dynamic Fields table should be changed. Options: 50, 100, 200, 300, 400, 500; Standard: 100.

[2021-08-03 11:20] bschmalhofer commented on #1149
New findings:
In the initial commit of _Kernel/System/MigrateFromOTRS/CloneDB/Backend.pm_ there was a commented out list of columns that required special handling:
[code]
This list was later removed.

I gather that such a list, containing all cases relevante for DirectBlob, is still necessary. For lack of a better idea let's pult the list into `Kernel::System::MigrateFromOTRS::Base::DBDirectBlobCo

[2021-08-03 13:42] bschmalhofer commented on #1149
See also: #601, #1006, and #800.

[2021-08-03 14:18] stefanhaerter commented on #1154
Kept original values to prevent update failures while adding new values for results per page for Dynamic Fields list.

[2021-08-03 14:18] #1154 closed, assigned to stefanhaerter

[2021-08-03 15:22] bschmalhofer opened #1161 "ResetAutoIncrementField() was likely never called"
When migrating to a PostgreSQL based installation of OTOBO, there is a problem in that the serial sequences are not updated. It is not clear whether this has ever worked, it's quite possible that the updating of the sequences never has worked.
The feature is implemented with the method `ResetAutoIncrementField()` which is only needed, and implemented, for PostgreSQL and Oracle. Therefore there is

[2021-08-04 08:02] svenoe opened #1162 "HideShow/TicketACL problems"
I'm aware of three problems in the HideShow process atm. For 1. it might be more efficient to wait for #1132 to be completed, though.

1. We have to have a look at all of the field types when it comes to validation of hidden/previously hidden fields. Even though the initial hiding of fields should be fixed with #1140, the js part for some field types does not completely work, yet. Could be done re

[2021-08-04 08:08] svenoe commented on #1145
Hi Manuel,

sorry for the delay, at the moment we are quite busy. We will definitely have a look at this at some point, for now you will still have to have some patience, though.

Thanks for letting us know, Sven

[2021-08-04 08:42] svenoe commented on #1140
This should be solved with the above commits. We still have some open points for other dynamic field types, and actually the above probably has introduced a regression for those, but this only is that some mandatory fields which are initially hidden and then revealed might skip client side validation, and as all fields are checked on the server side again, and it only affects certain types, this i

[2021-08-04 08:42] #1140 closed, assigned to svenoe

[2021-08-04 13:12] bschmalhofer commented on #1149
During testing I found out that `PerlOption +Parent`, #310, only works per VirtualHost.
I added code comments in the Apache config files, reminding people about this nuisance.

[2021-08-04 15:00] bschmalhofer opened #1163 "Remove the setting PerlOption +Parent from apache configs"
In https://github.com/znuny/Znuny/issues/44 @rkaldung mentioned that the option `PerlOption +Parent` might lead to increased memory consumption. The setting is also confusing, because it is not obvious that this setting is per VirtualHost. I propose to remove this setting, unless it is contained within an explicit VirtualHost.

See also #310 and #1149.

@wollmers What do you think?

[2021-08-06 16:37] bschmalhofer commented on #1149
Another issue. When migrating from OTRS(Pg) to OTOBO(MySQL) I see many of the following message in the logfile:

This is likely nothing to worry about, as the migrated database seems to work fine. But let's investigate. The line in question is:

Dumping the infos about `$SourceColumnInfos` and `$TargetColumnInfos` we get:
[code]
This makes sense. The source is PostgreSQL with the datatype 'charact

[2021-08-06 16:41] bschmalhofer opened #1166 "Migration PostgreSQL to MariaDB: Shortening Columns"
Another issue. When migrating from OTRS(Pg) to OTOBO(MySQL) I see many of the following message in the logfile:

This is likely nothing to worry about, as the migrated database seems to work fine. But let's investigate. The line in question is:

Dumping the infos about `$SourceColumnInfos` and `$TargetColumnInfos` we get:
[code]
This makes sense. The source is PostgreSQL with the datatype 'charact

[2021-08-06 16:47] bschmalhofer commented on #1166
See also #542 and #836

[2021-08-06 19:52] bschmalhofer commented on #1166
`_TypeTranslation()` in _mysql.pm_ is in principle broken. When e.g. VARCHAR(60_000) is declared, then it would be mapped into a TEXT. But 60_000 4-Byte characters do not fit into a TEXT field. In practice it's not really relevant, the largest TEXT fleld requires bytes that accomodate 10_000 characters. For the longest MEDIUMTEXT field its 1_800_000 characters. There is no conflict.

For _postgres

[2021-08-07 10:03] bschmalhofer commented on #1149
After merging #1160 I did a test migration from OTRS (Pg) to OTOBO (MySQL). The source database was:

- populated with Dev::Tools::Database::RandomDataInsert
- an ACL was added
- the FAQ package was installed
- an article with an attachment was added
- the user profile was changed

Some notes on the relevant datatypes. In PostgreSQL the data type text is used. The size is practically unlimited, mu

[2021-08-07 10:05] bschmalhofer commented on #1149
TODO:

- [x] Testmigration OTRS Pg to OTOBO MySQL
- [x] Testmigration OTRS Pg to OTOBO Pg

[2021-08-09 13:39] svenoe opened #1167 "Small bug in value validation of the SysConfig with array of hashes via DefaultItem."
If an array with an hash as DefaultItem is used in the SysConfig, I had a case where, depending on whether the SysConfig was cached or not, it showed me a "value is not correct" message. This is shown after changing the value and searching for it again, or after the cache is deleted. If you search a second time, without touching anything, everything suddenly is correct. I tracked this down to the

[2021-08-09 13:58] bschmalhofer commented on #1149
Yet another finding: The user otobo cannot set the session_replication_role. She needs superuser privs for that. See https://otobo.de/de/forums/topic/otrs-6-mysql-migration-to-otobo-postgresql/.

[2021-08-09 14:30] bschmalhofer commented on #1149
After giving the otobo user superadmin privileges, the migration from OTRS (pg) to OTOBO (Pg) executed find. Did the same checks as for the previous testmigration. The result look fine. See the attached file for the results of the SQL statements used for testing.
[report_testmigration_20210809a.txt](https://github.com/RotherOSS/otobo/files/6955160/report_testmigration_20210809a.txt)

[2021-08-10 12:30] bschmalhofer opened #1169 "Saner TypeTranslation() in Kernel/System/DB/mysql.pm"
`_TypeTranslation()` in _mysql.pm_ is in principle broken. When e.g. VARCHAR(60_000) is declared, then it would be mapped into a TEXT. But 60_000 4-Byte characters do not fit into a TEXT field. In practice it's not really relevant, the largest TEXT fleld requires bytes that accomodate 10_000 characters. For the longest MEDIUMTEXT field its 1_800_000 characters. There is no conflict.

For _postgres

[2021-08-10 12:32] bschmalhofer commented on #1166
Moved the adaption of `TypeTranslation()` to a separate issue. This change is not trivial and thus should not be done in a patchlevel release.

[2021-08-10 12:48] bschmalhofer commented on #1161
See also #1149 and #1166.

[2021-08-10 13:44] bschmalhofer opened #1170 "Out of memory errors during migration"
At least on customer has problems with out of memory during migration. This is most likely due to very large tables when articles and attachments are stored in the database. This is not surprising as per default DBD::mysql, and maybe DBD::Pg, store the complete result set in the RAM. For MySQL this behaviour can be changed by setting 'mysql_use_result' instead of the default 'mysql_store_result'.

[2021-08-10 14:10] bschmalhofer commented on #1166
Adapted the check for when columns are shortened. The warnings in the error log are gone now. The messages looked sane. Did a testmigration from OTRS (Pg) to OTBOO (MySQL).  Some sanity checks on the migrated database looked find.

[2021-08-11 09:27] awegWEGeg opened #1172 "Email-Ticket can´t be send"
Backend ERROR: OTOBO-CGI-61 Perl: 5.28.1 OS: linux Time: Wed Aug 11 09:19:55 2021

 Message: Impossible to send message to: "Kunde Koenig" <*******@******.de> .

 RemoteAddress: 192.168.22.1
 RequestURI: /otobo/index.pl

 Traceback (9705):
   Module: Kernel::System::Ticket::Article::Backend::Email::ArticleSend Line: 306
   Module: Kernel::Modules::AgentTicketEmail::Run Line: 2019
   Module: Kernel

[2021-08-11 09:39] svenoe commented on #1172
Hi,

sorry, but we don't answer general support questions etc. on github. This is solely for development concerns. Please visit our [forums](https://otobo.de/en/forums/otobo/otobo-forum/) if you encounter general errors like the above or have trouble with configuration or installation.

Best regards, Sven

(P.S.: In your example the email address is obviously wrong, so if you didn't edit it...)

[2021-08-11 09:39] #1172 closed, assigned to nobody

[2021-08-11 15:50] bschmalhofer commented on #1151
I think that this needs to be done in two steps. First step is to determine the cases where colums are not 'NOT NULL' in the source and 'NOT NULL' in the target. Source columns with a default value can be ignored too. When there are cases like that, then the checking will boil down to something like:
`SELECT COUNT(*) FROM table WHERE ( col1 IS NULL) OR ( col2 IS NULL )`

But maybe the checks are b

[2021-08-12 15:55] aapeliv opened #1173 "Agent notification sending issue"
We've had this issue for around a month now, where email notifications don't get sent out to agents. We've got email delivery set up through SMTP on fastmail. Instead we get emails like this:

[code]

The "Communication Log" in the admin area has the following:

[code]

# Solution

I set `SendmailNotificationEnvelopeFrom::FallbackToEmailFrom` to "enabled", which fixed it. The other option is to se

[2021-08-13 09:20] wetzf opened #1174 "Checkbox Value not correct from Customer Interface"
I added a dynamic field of type checkbox to CustomerTicketMessage and hid it with an ACL. With a different ACL I display it if a specific queue is selected. Now if i check the checkbox and submit the form, its value is stored as uncheckes (0). I would expect the value to be checked (1).
In fact if the field is shown directly and was not hidden via an ACL the Value is stored correctly.
I could repr

[2021-08-13 12:38] wetzf commented on #1174
It seems like the problem does not occur if i unset "Cache::InBackend" in SysConfig.

[2021-08-13 15:41] bschmalhofer commented on #1108
Still found no way to automatically delete those pesky images. Maybe deleting them manually in batches of 25 is the most simple approach. I've done that now for the untagged images that are older than 5 months.
Anyways, moving this issue out of the 10.0.12 milestone as this is not urgent.

[2021-08-13 16:19] bschmalhofer opened #1175 "Docker: use the maintenance releases of Perl as base images"
Docker images for the OTOBO web app are provided to the public at https://hub.docker.com/repository/docker/rotheross/otobo. OTOBO 10.0.12 runs on Perl 5.32.0 and OTOBO 10.1.x currently runs on 5.34.0. However since 2021-01-21 there is the maintenance release Perl 5.32.1. Maintenance releases do not happen frequently, but it would be nice to upgrade to them automatically. Apparently this can be ach

[2021-08-13 19:10] bschmalhofer commented on #1175
While we are at it. Let's adapt the Docker Hub automatic builds. Layer caching for devel builds, no layer caching for release builds.

[2021-08-13 20:30] bschmalhofer commented on #1175
The PRs for rel-10_0 and rel-10_1 are merged. Test suite in the rel-10_0 branch looks good. Closing this issue.

[2021-08-13 20:30] #1175 closed, assigned to bschmalhofer

[2021-08-13 20:47] bschmalhofer opened #1178 "Docker: Saner automated builds for the otobo-* images"
Currently the setup  of automated builds of Docker Hub is very wasteful. Every push in rel-10_0 and rel-10_1 branch leads to the building of an image for:
- otobo-elasticsearch
- otobo-nginx-kerberos-webproxy
- otobo-nginx-webproxy

No automatic builds are set up for otobo-selenium-chrome. The automated build for otobo are basically fine.

But a new image is only sensible for:
- a new OTOBO releas

[2021-08-15 11:56] bschmalhofer commented on #681
References to OTOBOSTORM and OTOBOCONTROL can be removed as well.

[2021-08-15 12:15] bschmalhofer commented on #681
Removed a couple of places where OTOBOCommunity is mentioned. The remaining mention could be removed too, but this is not really required.
Still nice to have is splitting up _Kernel/System/SysConfig/Base/OTOBOCommunity.pm_  into _Kernel/System/SysConfig/Base/SettingHistory.pm_ and _Kernel/System/SysConfig/Base/UserSettings.pm_ .

[2021-08-16 13:25] stefanhaerter opened #1180 "Missing Packages in otobo.CheckModules.pl in rel-10_1"
Running bin/otobo.CheckModules.pl -list, Packages are listed as 'Not installed', which are not reflected in the Result of bin/otobo.CheckModules.pl -inst. In my use case, this are the following:

- CGI::PSGI
- DBIx::Connector
- Plack
- Plack::Middleware::ForceEnv
- Plack::Middleware::Header
- Plack::Middleware::Refresh
- Plack::Middleware::ReverseProxy
- Plack::Middleware::Rewrite
- SOAP::Transpor

[2021-08-16 14:13] bschmalhofer commented on #1180
It looks like line 1432 in _bin/otobo.CheckModules.pl_ is the culprit.

`            next MODULE if !IsHashRefWithData( \%InstallCommand );
`
When there is no install command then no output is printed. We could print `cpanm $module` as a default install  command in these cases. On the other hand. Why should some modules be installed via `cpanm` and others via `apt-get `?

[2021-08-16 14:18] kess-net commented on #1180
Modules might not be available via `apt-get`

[2021-08-16 15:27] bschmalhofer commented on #681
_OTOBOCommunity.pm_ is broken up now. The test suite looks fine. Closing this issue.

[2021-08-16 15:27] #681 closed, assigned to bschmalhofer

[2021-08-17 17:11] bschmalhofer commented on #1151
Did a bit of refactoring in the database migration. Added the check for NULL values. Creating a PULL request after doing some testing.

[2021-08-18 10:57] stefanhaerter commented on #1174
I could reproduce the bug. It was due to code clearing the value of fields when they are hidden. I added a special case for the checkboxes because checkboxes work by checked-attribute, not by value. It should be fixed now.

[2021-08-18 10:57] #1174 closed, assigned to stefanhaerter

[2021-08-18 14:21] wetzf opened #1187 "GenericAgent Jobs run at wrong time if OTOBOTimeZone is not UTC"
Hello OTOBO Team,

if i set OTOBOTimeZone to "Europe/Berlin" all my Generic Agent jobs with automatic execution run two hours too late. For example if i set them to run at 10:05 they run at 12:05.

The server uses "Europe/Berlin" as its system timezone and is synchronized via NTP.  The jobs were created by a user that used "Europe/Berlin" as well.

I tested this using OTOBO 10.0.11.

Kind regards

[2021-08-18 16:57] bschmalhofer commented on #1151
Sanity test for the NULL checks:

- Source is a small OTRS 6 Postgresql Testdatabase with a single configured ACL, FAQ module installed
- psgl: ALTER TABLE acl ALTER COLUMN name DROP NOT NULL
- psql: update acl set name  = NULL;
- Target: freshly installed OTOBO 10.0.x running under MySQL, FAQ module is not installed

Running a migration gives us a non-descriptive  message in the GUI and a more me

[2021-08-19 14:57] bschmalhofer commented on #1166
Let's close this issue, as the test last week looked fine.

[2021-08-19 14:57] #1166 closed, assigned to bschmalhofer

[2021-08-19 14:59] bschmalhofer commented on #1151
Improved the display of error messages that occur during the data transfer.

[2021-08-19 15:01] bschmalhofer commented on #1161
The tests last week looked fine. Closing this issue.

[2021-08-19 15:01] #1161 closed, assigned to bschmalhofer

[2021-08-19 15:02] bschmalhofer commented on #1149
The tests from last week looked fine. Closing this issue.

[2021-08-19 15:02] #1149 closed, assigned to bschmalhofer

[2021-08-19 15:04] bschmalhofer commented on #1180
@stefanhaerter Could you take a look at the update otobo.CheckModules.pl script? Whether it works for you?

[2021-08-19 15:09] stefanhaerter commented on #1180
I ran bin/otobo.CheckModules.pl -list and it worked fine. Do you want to see the output?

[2021-08-19 15:11] bschmalhofer commented on #1180
Thanks for checking, no need to inspect the output in a detailed way.  Closing this issue.

[2021-08-19 15:11] #1180 closed, assigned to bschmalhofer

[2021-08-19 16:24] bschmalhofer commented on #1151
The checks have been added and they have worked at least once. Closing this issue.

[2021-08-19 16:24] #1151 closed, assigned to bschmalhofer

[2021-08-20 08:20] svenoe commented on #1145
Should be fixed in 10.0.12. :)

Edit: Btw - I forgot to write this earlier. There is a new Setting CustomerTicketZoom###StatePreset which can be used for a similar purpose, but still let the Customer User have the option at least, of keeping the ticket closed.

Best regards, Sven

[2021-08-20 08:20] #1145 closed, assigned to svenoe

[2021-08-20 08:24] svenoe commented on #1187
Hi wetzf,

we will have a look at this after 10.0.12.

Best regards, Sven

[2021-08-20 09:00] #1113 closed, assigned to svenoe

[2021-08-20 13:26] niccord commented on #1113
Great news! Thank you!

[2021-08-20 13:33] #961 closed, assigned to kess-net

[2021-08-22 16:15] bschmalhofer commented on #825
The `LoadFormDraft()`use case looks like a legitimate use case. Therfore rejecting this issue, no need to change anything.

[2021-08-22 16:15] #825 closed, assigned to bschmalhofer

[2021-08-23 14:51] sternenseemann opened #1192 "Elasticsearch TicketCreate event handler doesn't check if Ticket still exists"
I have an unit test where I am among other things are doing something like this:

[code]

`AdminUser` and `CustomerUser` where created using `TestUserCreate` and `TestCustomerUserCreate`, respectively.

`$TicketID` is not `undef` and creation seems to work fine. However, when we reach the call to `$Self->DoneTesting();` at the end, the following happens:

[code]

I'm using database rollbacks in th

[2021-08-23 15:08] sternenseemann commented on #1192
Okay, a workaround for my issue is calling `$Kernel::OM->ObjectEventsHandle();`. I still think that this is a bug however: The event handler for Elasticsearch does not check if the Ticket still exists. That the ticket still has to exist is an incorrect assumption I'd say since `ObjectEventsHandle()` isn't guaranteed to be called immediately after `TicketCreate()`.

[2021-08-25 10:46] ngleb opened #1194 "Cannot configure QuickClose states, QuickClose button not visible in Queue / Tickets views"
Hello!

According to the description of Otobo, it has integrated QucikClose addon. However we cannot configure QuickClose actions as we could in the addon for OTRS, before migrating to Otobo.

So it seems to be a different addon and not the one that was available for OTRS/Znuny. Is this so?

For example, there's no quick close button in the queue view, we cannot set close state (closed successful,

[2021-08-25 11:22] stefanhaerter commented on #625
What exactly is the wanted behavior in this case?

Additionally, the label for a text field with regular expression in the customer interface is located on the right, unlike other fields. Is this correct?

[2021-08-25 18:55] kess-net opened #1195 "Add documentation for Elasticsearch index creation settings"
The new configuration settings for Elasticsearch indices my not be self-explanatory.
Add some documentation to the manual.

[2021-08-26 16:47] bschmalhofer commented on #734
Started to reintegrate the config, tests and implementation of the notification module.

[2021-08-26 18:59] bschmalhofer commented on #734
Tests look fine. Closing this issue.

[2021-08-26 18:59] #734 closed, assigned to bschmalhofer

[2021-08-26 19:27] bschmalhofer commented on #771
There is now JavaScript::Minfier with more fixes. See https://github.com/zoffixznet/JavaScript-Minifier/pull/12. I think that this can safely be rolled out with OTOBO 10.0.13.

[2021-08-26 19:28] bschmalhofer opened #1197 "Support or switch to JavaScript::Minifier::XS"
To me it looks like this was related to CKEditor 4.15.1 and does not occur with 4.16.0. We should consider switching to the XS versions anyways, I guess. I will postpone it to 10.0.9 though.

_Originally posted by @svenoe in https://github.com/RotherOSS/otobo/issues/771#issuecomment-775852304_

[2021-08-26 19:31] bschmalhofer commented on #1197
I don't see the advantages from having the test and support both JavaScript::Minifier and JavaScript::Minifier::XS. I propose to switch to the XS in 10.1. Always happy to clean out _Kernel/cpan-lib_.

[2021-08-27 08:33] bschmalhofer commented on #771
Updated the Perl module. Did a quick test whether the UI still works. Merged the PR.
See #1197 about a possible switch to JavaScript::Minifier::XS. Closing this issue.

[2021-08-27 08:33] #771 closed, assigned to bschmalhofer

[2021-08-27 15:45] bschmalhofer commented on #803
Updated the tags of this issue. I wondered what that was when I looked at the diffs between rel-10_0 and rel-10_1 for #1033.

[2021-08-27 16:00] bschmalhofer commented on #1033
Inspected the diffs again and found nothing spectecular. Removed the file  Kernel/System/Console/Command/Dev/Tools/Migrate/ConfigXMLStructure.pm in rel-10_1 as it is already gone in rel-10_0. No idea why the deletion wasn't merged into rel-10_1 before. Noticed again that annotating commits with an issue is really helpful.

I don't think that checking the complete diffs again is worth it, therefore

[2021-08-27 16:00] #1033 closed, assigned to bschmalhofer, svenoe

[2021-08-27 16:29] bschmalhofer commented on #1013
Picked this up again after a pause and plan to have it ready for 10.0.13. As far as I rember some MD5 hashes still need to be adapted in the test suite.

[2021-08-27 22:54] niccord commented on #1013
Hi Bernhard,
I should have fixed those MD5 failing tests.

[2021-08-28 10:39] bschmalhofer commented on #1013
Merged Nicolas PR, with the fixed MD5 sums. Reopening because I switched some more references from OTRS to OTOBO.

[2021-08-28 13:30] bschmalhofer commented on #1013
Eliminiated some more references to OTRS. Closing this issue.

[2021-08-28 13:30] #1013 closed, assigned to bschmalhofer, niccord

[2021-08-29 19:46] bschmalhofer commented on #394
Removed the support for KeepScriptTags. It was not used in core and is likely not used in core.
But adding a deprecation documentation is still a good idea.

[2021-08-29 19:48] #394 closed, assigned to bschmalhofer

[2021-08-29 19:49] bschmalhofer opened #1204 "Add a document listing the current deprecations."
Something along the line of https://metacpan.org/dist/perl/view/pod/perldeprecation.pod.

[2021-08-30 11:31] StefanRother-OTOBO opened #1205 "CSS review Frontend::ToolBarModule###210-Ticket::TicketSearchProfile"
Hi,

the toolbar search templates option Frontend::ToolBarModule###210-Ticket::TicketSearchProfile needs a css redesign.

Thanks,

Stefan

[2021-08-31 05:33] StefanRother-OTOBO opened #1206 "Please change Config Option DashboardBackend###0410-RSS"
Hi,

please change the following ConfigOption in Framework.xml to the following values:

    <Setting Name="DashboardBackend###0410-RSS" Required="0" Valid="1">
        <Description Translatable="1">Defines the parameters for the dashboard backend. "Limit" defines the number of entries displayed by default. "Group" is used to restrict access to the plugin (e. g. Group: admin;group1;group2;). "Defa

[2021-08-31 05:41] StefanRother-OTOBO opened #1207 "Please change the OTOBO package verify logos"
Hi,

we have new verified logos. Please change the logo.

Thanks,

Stefan
[OTOBO verified 2.zip](https://github.com/RotherOSS/otobo/files/7081506/OTOBO.verified.2.zip)

[2021-08-31 11:11] StefanRother-OTOBO opened #1210 "Missing Docker options after migration"
Hi,

after migration to a docker system the following values are missing in Kernel/Config.pm.
So we have a Cache Problem, cause the Cache changes to FS during migration I think.

114     # ---------------------------------------------------- #
115     # setting for running OTOBO under Docker, see the POD  #
116     # ---------------------------------------------------- #
117     $Self->{'LogModule

[2021-08-31 11:58] bschmalhofer commented on #988
Removed the the TODO markers that were associated with #988.

Eliminated a couple of succeeding TODO test messages. These were just logging the success of internally called commands.

Closing this issue.

[2021-08-31 12:04] bschmalhofer commented on #1210
Transferred this from the otobo-docker repository, at this seems to concern the migration from OTRS 6  to OTOBO 10.

[2021-08-31 12:21] StefanRother-OTOBO opened #1211 "bin/otobo.Console.pl does not import customers if the -use-customer-batches flag is not set."
Hi,

bin/otobo.Console.pl does not import customers if the -use-customer-batches flag is not set.

Thanks,

Stefan

[2021-09-01 09:12] bschmalhofer opened #1212 "Migration: "setval('sequence_name', 0)" not allowed for resetting sequences"
During a testmigration of OTRS 6 (PostgreSQL) to OTOBO 10.0.12  (PostgreSQL) the following errors were logged to the error log:

This is a bit strange as PostgresSQL sequences start with 1, but the two argument form seems to now allow the value 0. A workaround would be to call `SELECT setval('sequence_name', 1, FALSE);`.  But the more simple workaround is to skip the 1 and effectively call `SELECT

[2021-09-01 15:05] bschmalhofer commented on #1211
Looks like this is relvevant for the command `Maint::Elasticsearch::Migration`. A PR with a fix is provided but not tested yet.

[2021-09-02 15:31] bschmalhofer opened #1216 "Migration: Errors in ConfigurationDeploy() might not show up in migration.pl web interface"
During migration from OTRS 6 to OTOBO 10 the following line was encountered in the Apache log file:

This message is emitted by `Kernel::System::SysConfig::ConfigurationDeploy()` which is called in _Kernel/System/MigrateFromOTRS/OTOBOMigrateConfigFromOTRS.pm_. The cause of the error message is that the queue Platinum-Support is not available in the migrated database. This could have been caused by

[2021-09-02 15:39] bschmalhofer commented on #1216
See also #744.

[2021-09-03 07:23] bschmalhofer commented on #1212
A testmigration showed that the messages disappeared with the applied patch. PR is merged. Closing this issue.

[2021-09-03 07:23] #1212 closed, assigned to bschmalhofer

[2021-09-03 07:26] #988 closed, assigned to nobody

[2021-09-03 16:50] bschmalhofer commented on #909
Not really closer to understanding what the problem is. But there is no reason to skip the complete test script.  Declaring the failing parts as TODO is more useful.

[2021-09-03 17:44] bschmalhofer commented on #944
Tried the case with accented characters, that is with **áél**, and this time no problems were encountered. At least when running under Docker. Closing this issue now. A new issue can be created when problems crop up again, maybe when running under mod_perl.

[2021-09-03 17:44] #944 closed, assigned to bschmalhofer

[2021-09-05 14:33] bschmalhofer commented on #1211
Enhanced the output by stating how many items have been transferred. Did a simple test case with a single customer company and a single customer user. Looking good, Toni Tester was found when doing a customer user search.

[2021-09-05 14:36] bschmalhofer commented on #1211
PR is merged closing this issue.

[2021-09-05 14:36] #1211 closed, assigned to bschmalhofer

[2021-09-05 14:54] bschmalhofer commented on #757
Moved this to wishlist, as there is no planning for 11.0 yet.

[2021-09-06 06:44] svenoe commented on #625
Basically the error messages are not working properly in the customer interface atm. This issue is mostly a css/ui-problem. (Compare wrongly filled fields in agent and customer interface for the functionality. I have no plan for the design, but probably a simple, small, red text message under the field.)

And yes, text fields are not properly designed yet, either.

[2021-09-06 09:51] kess-net commented on #249
This header is already set:
   `x-xss-protection: 1; mode=block`
This setting is fine.
I'll close this issue

[2021-09-06 09:51] #249 closed, assigned to kess-net

[2021-09-07 12:38] stefanhaerter commented on #625
Investigating the issue, I recommend to fix this within Issue #1132. Noteworthy details here are:

- different behaviour between agent and customer interface
- adding the error message behind the label
- handling the error message text in template files

Moving the milestone to 10.1.

[2021-09-07 12:47] stefanhaerter commented on #1132
Related: Issue #625.

[2021-09-07 16:29] bschmalhofer commented on #1216
Tested this be renaming the state 'closed successful' to 'closed successful renamed'. During migration there was no error message but _ZZZAAuto,pm_ was not written. This effect should not happen all the time, but it did in my initial tests.
Testing now the solution where the result of ConfigurationDeploy() is treated as a hash.

Along the way, I did a bit of tidying of the migration modules.

[2021-09-07 17:03] bschmalhofer commented on #1216
The fix looks fine. Here is the changed message:

[2021-09-07 17:06] bschmalhofer commented on #1216
TODO:

- [x] Documment the message as an known migration problem in _content/migration-from-otrs-6.rst_ .

[2021-09-08 14:32] bschmalhofer commented on #1216
I think that there is still an issue with caching. In the test scenario where the state 'closed successful' I could repair  the sysconfig with Admin::Config::FixInvalid. But at first  there was a complaint for some other settings, indicating that the new states were not valid. This could be explained by the Kernel::System::State cache holding still the states of the initiial OTOBO installation. Le

[2021-09-09 12:11] bschmalhofer commented on #1216
Using the step `OTOBOCacheCleanup`twice did not pan out, as step names are used in a hash somewhere. The second usage thus overwrites the first usage.
The alternative solution is to clean up the cache directly in the OTOBODatabaseMigrate step. This seems to work fine. Redoing the testmigraion from above, the error message is shown as expected. But this time the fixing worked smoothly.

Apparently

[2021-09-09 12:13] bschmalhofer commented on #1216
Another test migration ran fine. The PR is merged . Closing this issue.

[2021-09-09 17:43] bschmalhofer commented on #883
Fiddled a bit with the migration modules. Added a module for migrating the ITSM tables. But the real problem is finding a good test case where this can be tested.

TODO:

- [x] testmigration with actual data
- [x] find out whether change_notification_message really is the only table that needs to be migrated

[2021-09-10 11:08] bschmalhofer commented on #856
Something is still wrong. When creating a pull request the syntax checks looks only at  the files changed in the last commit. The cody policy check looks at all files that are changed in the pull request. The latter approach makes more sense.

[2021-09-10 11:17] bschmalhofer commented on #883
Found no further ITSM tables that contain macros like '<OTOBO_'. A test migration looked fine.

Merged the PR as it has some simplifications of the migration modules.

@svenoe There is a new migration task OTOBOItsmTablesMigrate which is current activated. However, the task is still untested, as my source database doesn't have ITSMChangeManagement installed. I propose that we deactivate the new ta

[2021-09-10 12:36] bschmalhofer commented on #856
Synced the code_policy.yml and the syntax_check.yml workflow, as I think that it is less confusing when both work the same way. The downside is that both action now both take a long time. But this can be addressed in a different issue. Closing this issue.

[2021-09-10 12:36] #856 closed, assigned to nobody

[2021-09-10 16:44] bschmalhofer opened #1223 "Docker: No extra RUN command for installing Net::DNS and Gazelle"
In otobo.web.dockerfile there are the following TODO comments:

[code]

Now that Carton is used for module installation, let's investigate whether these special cases are still needed. If they still make sense, then remove the TODO.

[2021-09-10 20:16] bschmalhofer commented on #1223
Removed the explicit calls of cpanm. Build seems to be a little bit faster, as carton skips the tests. Github actions are still working. Closing this issue.

[2021-09-10 20:16] #1223 closed, assigned to bschmalhofer

[2021-09-11 10:59] bschmalhofer commented on #589
The method `Kernel::System::MigrateFromOTRS::Base::ReplaceSubstringsOfColumnValues()` can be used for that. The method was added for #883.

[2021-09-11 14:16] bschmalhofer commented on #748
I still don't understand what is going on. Still looks like the selection list  .InputField_ListContainer is not removed when an input field is set.
Refactored the test script a little but, such that tests are reorganized in subtests.

[2021-09-12 12:01] bschmalhofer commented on #1223
Reopening because there are missing modules in rel-10_1.

There is a bit of confusion about how modules are declared in bin/otobo.CheckModules.pl. The current convention is that a module declaration needs exactly one of the attributes 'Required' or 'Features'.  The hashes `%IsStandardFeature` and `%IsDockerFeature` then determine the specific behaviors under the various command line options.

[2021-09-13 05:33] svenoe commented on #1194
Hi ngleb,

sorry for the late reply - please use our [forums](https://otobo.de/en/forums/otobo/otobo-forum/) for general support questions, though. Github atm is used exclusively for bugs and technical discussion.

Best regards, Sven

[2021-09-13 05:33] #1194 closed, assigned to nobody

[2021-09-13 06:17] svenoe commented on #1192
Hi Sterni,

sorry for the late reply. We still have some people in vacation, so not totally necessary things are postponed a bit.

I just skimmed through things quickly, two things, though - first, we do not have Elasticsearch incorporated into unit tests and just deactivate it for all old and existing tests normally, so some things won't work here. This is definitely work to be done, though.

The

[2021-09-13 10:08] bschmalhofer opened #1227 "Selenium: Eliminate TODO tests in CustomerPreferences.t"
There is a succeeding TODO test in _CustomerPreferences.t_ .

TODO:  do not run the tests that are expected to fail

[2021-09-13 10:21] bschmalhofer commented on #1227
Adapted the test suite to skip the off screen elements in the is_displayed_ok() tests. Thus the TODO is no longer necessary, ant the test script still passes. Closing this issue.

[2021-09-13 10:21] #1227 closed, assigned to bschmalhofer

[2021-09-13 10:57] bschmalhofer opened #1229 "Remove Kernel::System::Diff"
It looks like this module was never used in either OTRS or OTOBO. I propose to remove the module.

[2021-09-13 15:11] bschmalhofer commented on #573
Ah well, it turns out the Class::Method::Modifiers is not useful at all for Autoload modules. These provided functionality is just for derived classed, not for behind the back modifications of existing subroutines. The alternative Sub::Override overrides subs in lexical context, which does not help either. So, let's go back to the old recommendation of simply overwriting the symbol table entry.

T

[2021-09-13 15:32] bschmalhofer commented on #573
The explicit requirement is gone. See #1230. Closing this issue again.

[2021-09-13 15:32] #573 closed, assigned to nobody

[2021-09-14 07:49] bschmalhofer opened #1231 "Docker: minimize build context when building Docker Images"
Just a small optimization. Not all images need the full otobo dir as build context.

[2021-09-15 12:13] bschmalhofer commented on #1192
This bad effect wasn't recognised before, because the unit tests run without ElasticSearch support per default. It should be made easy to set up an environment with ES. Therefore I propose to add a flag `--activate-elasticsearch` to bin\docker\quick_setup.pl. Then test whether there are failures when running with ES.

[2021-09-15 12:14] bschmalhofer opened #1234 "Allow to activate ElasticSearch in a quick install environment"
This bad effect wasn't recognised before, because the unit tests run without ElasticSearch support per default. It should be made easy to set up an environment with ES. Therefore I propose to add a flag `--activate-elasticsearch` to bin\docker\quick_setup.pl. Then test whether there are failures when running with ES.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues

[2021-09-15 12:30] sternenseemann commented on #1192
That is probably true. in my case, I created and deleted the ticket in the same unit test which caused the issue — something probably unlikely to happen in normal operation. Still an avoidable crash.

Also as a correction: The database rollback doesn't cause such a problem (most likely because the events also get rolled back?). In my case the key was that the ticket is created and deleted, but the

[2021-09-16 09:41] niccord opened #1236 "Backup should follow symlinks"
Hi everyone!
I encountered this issue while backing up a system for a client of ours:
when `scripts/backup.pl` is executed it backups and archives the files and the database but if you have a symbolic link to another location in the filesystem (i.e. articles or configurations) it collects the links and not the file it points to.

Update the `backup` script in order to follow the symlink and archiv

[2021-09-16 13:35] bschmalhofer commented on #1234
Created https://github.com/RotherOSS/CodePolicy/issues/71 because CodePolicy was naugthy.

PR is merged. Closing this issue.

[2021-09-16 15:49] bschmalhofer commented on #1192
Added checks whether the required ticket, article, or attachments still exist when the events are handled. Running the complete test suite had some performance problems when it was running with ES enabled. But the last run, with all the checks enabled, looked fine. It could be that memory was exhausted on my devel machine.

@svenoe : Could you take a look at the PR?

[2021-09-17 08:23] bschmalhofer commented on #1231
It looks like the build context can't be set for the automated builds Docker Hub. A possible workaround is to add lookup table in _hooks/build_. Currently the build context is hardcoded as '.' in that script.

[2021-09-17 09:03] markus-gitdev opened #1239 "Docker: Kerberos problems"
The kerberos section in the nginx config is commented out in "rotheross/otobo-nginx-kerberos-webproxy:latest".

Also the settings from the .env-file are not correctly transported into the nginx config in that container and have to be corrected manually, but the changes are overwritten on restart of the container.

[2021-09-17 09:07] markus-gitdev opened #1240 "Migration: Missing migration steps for process tickets"
After the migration to OTOBO  process tickets are not fully functional since not all OTRS-tags are migrated to OTOBO-tags.
Especially for the transition action "Article create".

Would be great if that could be adopted in the migration script for further migrations.

[2021-09-20 11:40] bschmalhofer opened #1241 "Unquoted arguments to 'find' in Dev::Code::CPANUpdate"
I ran that command while there were two .pl scripts in the toplevel dir.

Looks like `find` uses an unquoted glob.

[2021-09-20 13:49] bschmalhofer commented on #1236
Hi Nicola,

I'm not sure about the best approach here. I see the danger that existing installations break when the behaviour of backup.pl suddenly changes. Perhaps a safer fix would be to add an option '--follow-symlinks' . I have also found https://github.com/h4ck3rm1k3/otrs/blob/master/scripts/backup.pl which puts the linked data into an extra file.

@svenoe : I think this needs to be discussed

[2021-09-20 14:43] bschmalhofer commented on #1241
Added the quotes and did a quick test:

[2021-09-20 14:44] bschmalhofer commented on #1241
Merged the PR. Closing this issue.

[2021-09-20 14:44] #1241 closed, assigned to bschmalhofer

[2021-09-21 08:21] bschmalhofer commented on #1234
Reopening because it looks like the SysConfig changes for ElasticSearch were not deployed.

[2021-09-21 10:53] bschmalhofer commented on #1231
The build context can be set in the automated build GUI. For some reason I must have overlooked it. That setting is available as `$BUILD_PATH` in _hooks/build_.
I adapted _hooks/build_ such that the build context no longer is hardcoded to ".". Setting the build context to "/" indicating the git checkout dir is still supported.

The idea is to backport this to rel-10_0, as the directory structure h

[2021-09-21 11:27] sunflowerbofh opened #1244 "Problem with umlaute and accents in CustomerUsers coming from LDAP"
We get our customer users from LDAP server.  Looking at the overview of the customer users the names with Umlaute (äöü) or Accents (éè) have strange characters, e.g.
AnitaMÃ¼ller
StefanSpÃ¶hel
StÃ©phaneFÃ©lix
I can't see anything in the config which is not utf-8. Maybe there is some 'endoding(utf-8, ...) missing at some place?
The LDAP server itself can handle utf8. When I do an ldapsearch I get c

[2021-09-21 12:11] bschmalhofer commented on #1231
Minimised the build context:

- nginx, nginx-kerberos: _scripts/nginx_
- elasticsearch: _scripts/elasticsearch . actually an empty directory
- selenium: _scripts/test/sample_

[2021-09-21 13:38] bschmalhofer commented on #1234
The deployment has been added. Confirmed via the GUI that the deployment was successful. Closing again.

[2021-09-21 13:38] #1234 closed, assigned to bschmalhofer

[2021-09-21 21:36] bschmalhofer commented on #1192
Run the unit tests again, and the result looks fine. Merged the PR. Closing later, when no problems crop up.

[2021-09-22 08:51] bschmalhofer opened #1247 "Clean up references to otrs.com"
There are still a couple of references to otrs.com in the code base. These should be changed to otobo.org in the most cases. Copyright notices must be left intact.

[2021-09-22 08:55] bschmalhofer commented on #1206
Merged the PR. Closing this issue when it has been checked that the RSS feed shows up in the Dashboard.

[2021-09-22 09:09] bschmalhofer opened #1249 "Remove Kernel::Environment::OTOBOInfoGet()"
It looks like this method is not used. Should the cruft be removed?

[2021-09-22 09:27] bschmalhofer commented on #1247
Using the following command for finding the instances that should be replaced:

`grep -r -i otrs.com . | grep -v Copyright | grep -v ./i18n/otobo/otobo | grep -v ./var/tmp/CacheFileStorable | grep -v AUTHORS.md | grep -v /.git/ | grep -v ./Kernel/System/MigrateFromOTRS/Base.pm | grep -v ./Kernel/Config/Files/ZZZAAuto.pm | grep -v '<Item Key="HomePage">www.otrs.com</Item>'

`

[2021-09-22 10:05] bschmalhofer opened #1250 "404 returned from makalu.otobo.org"
Since about September 10th there are four failing test cases in _scripts/test/WebUserAgent.t_ . The cause seems to be that makalu.otobo.org no longer replies as expected.

It is not obvious whether this is related to the self signed certificate.

[2021-09-22 10:29] bschmalhofer commented on #1231
Ran the test suite, with activated Elasticsearch, with the **devel-rel-10_0** images taken from hub.docker.com. The test results looked fine. Closing this issue.

[2021-09-22 10:29] #1231 closed, assigned to bschmalhofer

[2021-09-22 10:43] bschmalhofer commented on #1076
The reason why it was deactivated is not clear. The TODO comment says:

@svenoe : Do you recall what the problem was?

[2021-09-22 11:13] bschmalhofer commented on #1206
The RSS feed does show up in the Dashboard now.

@StefanRother-OTOBO : This content of the feed _DashboardBackend###0410-RSS_ seems to be the same as the content from _DashboardBackend###0405-News_.  Should both be enabled at the same time per default?

[2021-09-22 11:30] bschmalhofer commented on #1247
Replaced the found references to otrs.com. PR is merged. Closing this issue.

[2021-09-22 11:30] #1247 closed, assigned to bschmalhofer

[2021-09-22 11:32] bschmalhofer commented on #1192
Did another test run, this time with Docker images taken from hub.docker.com. Still looking good. Closing this issue.

[2021-09-22 11:32] #1192 closed, assigned to nobody

[2021-09-22 11:49] bschmalhofer opened #1252 "remove Kernel::System::Time"
Kernel::System::Time will be removed in 11.0. Starting with OTOBO 10.1 It won't be used in core code until then, but stay for compatibility of third party packages.

_Originally posted by @svenoe in https://github.com/RotherOSS/otobo/issues/69#issuecomment-693336750_

[2021-09-22 11:54] bschmalhofer commented on #69
@svenoe I have opened separate issues for the remaining tasks. Do you still want to investigate performance issues? Or can Í close this issue?

[2021-09-22 12:59] bschmalhofer commented on #1240
This requires some understanding how process management works. Presumably one needs to replace OTRS_ with OTOBO_ in some YAML strings. The YAML is stored in database fields like _pm_process.config_.

[2021-09-23 08:38] bschmalhofer commented on #1147
I have changed the message. Not much testing because this is a devel tool. Closing this issue.

[2021-09-23 08:38] #1147 closed, assigned to bschmalhofer

[2021-09-23 08:59] bschmalhofer commented on #1207
Found two images with 'OTOBO verified'. Replaced them with the new images of the same size.

Before:

Copy:

After;

[2021-09-23 10:08] bschmalhofer commented on #1207
After purging the browser cache the two new images were displayed in the AdminPackageManager frontend. PR is merged. Closing this issue.

[2021-09-23 10:08] #1207 closed, assigned to svenoe

[2021-09-23 12:07] bschmalhofer opened #1255 "Use caching in the github actions"
Here is another idea. When looking at https://github.com/RotherOSS/otobo/runs/3684898399?check_suite_focus=true we see that there is one step that takes most of the time. That's installing the CPAN dependencies from cpanfile.docker. This could be eliminated by using a dedicated Docker image with all the dependencies installed. A better idea might be to simply cache the CPAN dependencies. Either th

[2021-09-23 15:47] bschmalhofer commented on #1255
It is not clear whether this works as expected. There are several cases to be checked:

- [x] action on push: cache is used when pushing to the same branch
- [x] action on pull_request: cache is used when rerunning the job
- [x] action on pull_request, no cache in parent branch: cache is **not** used on the next PR
- [x] action on pull_request, with cache in parent branch: cache is used on the nex

[2021-09-23 17:25] bschmalhofer commented on #1255
Added another action that only builds the cache on the rel-10_1 branch.
Let's not close this issue, until we are sure that no problems crop up.

[2021-09-23 17:43] StefanAbel-OTOBO opened #1266 "Mandatory DynamicField Dropdown/Multiselect does not work with value "0""
When you have a DF Dropdown e.g. with numbers from 0 to 10 and that DF is a mandatory field (e.g. in AgentTicketPhone or in AgentTicketFreeText), it does not accept the value "0" for the mandatory check and therefore does not save the action or create the ticket.
![image](https://user-images.githubusercontent.com/87359203/134557167-08e83384-1fe6-49c1-810c-62f45ce0c300.png)

![image](https://user-i

[2021-09-24 14:17] bschmalhofer commented on #1255
Another optimisation in cache_local_lib.yml. For getting a checksum on _cpanfile.docker_, we don't need a complete checkout of the branch. We can ask Github directly via the REST interface. Unfortunately the SHA from the webservice is not the same value as returned by `hashfiles()`. This can be redeemed by using `git rev-parse :cpanfile.docker` in the other workflows.

Still not closing, in case p

[2021-09-27 10:16] bschmalhofer commented on #770
Activating Elasticsearch when it is available does make sense for the migration. But for that we need to query the correct host, whether the Elasticsearch is running there. Up to now, only localhost is assumed to be the host. But in the Docker case the host elastic is actually used.

[2021-09-27 12:39] bschmalhofer commented on #770
Added the setup for the SysConfig. Added support for host 'elastic' when running under Docker.
Did a testmigration from OTRS 6 (on Docker host, PostgreSQL) to OTOBO 10 (in Docker, MySQL) and the result looked fine. Not closing yet, as having a couple more test migrations would be nice to have.

- [x] more testmigrations

[2021-09-27 13:27] bschmalhofer opened #1271 "Eliminiate $DIBI$ in Kernel/Config.pm.dist"
Currently the files _Kernel/Config.pm.dist_ and Kernel/Config-pm.docker.dist_ have a section like:

[code]
This is confusing as _Kernel/Module/Installer.pm_ apparently does not mess with that macro. I propose to remove this section.

[2021-09-27 13:56] bschmalhofer commented on #1271
See also #1210.

[2021-09-27 15:07] bschmalhofer commented on #1210
This is all fairly messy, so let's try to break it up into parts.

There are two important reasons for having the file _Kernel/Config.pm_.
1. Provide some kind of bootstrapping for the most basic setting, like the installation directory and the database connection.
2. Provide an opportunity for users to provide configuration in a text file. An example would the CustomerUserMap.

Because of 2. it m

[2021-09-28 10:59] bschmalhofer opened #1272 "Migration: do not migrate the scheduler tables"
Currently only the tabel scheduler_recurrent_task is excempted from the migration. But it is also not sensible to migrate the table scheduler_task and scheduler_future_task. This need to be added to the blacklist.

[2021-09-28 11:11] bschmalhofer commented on #1210
Added the missing settings. Did a testmigration and checked _Kernel/Config.pm_. In the migrated installation the value for Cache::Module is now Kernel::System::Cache::Redis. PR is merged.

Looks fine, closing this issue.

[2021-09-28 11:11] #1210 closed, assigned to bschmalhofer

[2021-09-28 11:16] bschmalhofer commented on #1255
After discussion with @svenoe and consulting #1110 we deciding to merge the two check actions.

[2021-09-28 11:42] bschmalhofer commented on #1255
Looks good. Only the code_policy.yml workflow is now executed. This workflow contains the syntax check.

[2021-09-28 11:47] bschmalhofer commented on #1255
This seems to work without hassle. Let's use it for rel-10_0 as well.

[2021-09-28 13:05] bschmalhofer commented on #1272
Did a testmigration. After a bit of fiddling, the PR is merged. Closing this issue.

[2021-09-28 13:05] #1272 closed, assigned to bschmalhofer

[2021-09-28 13:07] bschmalhofer commented on #1255
Another idea for a speedup. Install Code::TidyAll and dependencies via cpanm. This should make the installation of Debian packages faster.

[2021-09-28 13:08] bschmalhofer opened #1278 "Github workflow: install Code::TidyAll via cpm"
Another idea for a speedup. Install Code::TidyAll and dependencies via cpanm. This should make the installation of Debian packages faster.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1255#issuecomment-929192580_

[2021-09-28 13:32] bschmalhofer opened #1279 "Make default page configurable, allow to disable public.pl and customer.pl"
As of OTOBO 10.0.12 the default page of OTOBO is the agent interface. This is currently implemented in _bin/cgi-bin/otobo.psgi_. This feature can be overridden in a custom Nginx configuration. See https://otobo.de/en/forums/topic/default-page/ and https://doc.otobo.org/manual/installation/stable/en/content/installation-docker.html#custom-configuration-of-the-nginx-webproxy .

It would be nice if t

[2021-09-28 20:11] bschmalhofer commented on #1255
Closing this issue. Any problems that pop up should be fixed in #1278.

[2021-09-28 20:11] #1255 closed, assigned to bschmalhofer

[2021-09-28 20:18] bschmalhofer commented on #1278
Some fiddling in order to install only the essential Debian packages. Use perl-actions/install-with-cpm@v1 for installing the Perl modules, because it provides a nice interface. cpm is used because it is said to be faster than cpanm.

[2021-09-29 09:15] bschmalhofer opened #1281 "Message of the day is overwritten when OTOBO is upgraded"
It looks like the standard way of setting a MOTD is to edit _Kernel/Output/HTML/Templates/Standard/Motd.tt_ . But, when running under Docker, that file is probably overwritten when OTOBO is updated.

[2021-09-29 09:26] bschmalhofer commented on #1278
There are sometimes errors when running the workflow. See e.g. https://github.com/RotherOSS/otobo/runs/3742424026?check_suite_focus=true . This seems to be the case when the to be merged branch is not rebases.

I think that this is not related to the workflow itself, more a problem with jitterbit/get-changed-files@v1.

[2021-09-29 09:29] bschmalhofer commented on #1278
After rebasing the pull request #1282 looks good. Let's take this to be a confirmation that the workflow works. Closing this issue.

[2021-09-29 09:29] #1278 closed, assigned to nobody

[2021-09-29 09:31] bschmalhofer commented on #1206
After this PR the panel 0410-RSS was no longer shown per default, but could be activated via the SysConfig. Looks good. Closing this issue.

[2021-09-29 09:31] #1206 closed, assigned to nobody

[2021-09-29 12:06] bschmalhofer commented on #779
When looking at the history of that code I found that code comment that might be interesting:

Thus, when making changes it must be assured that resetting customer passwords still works.

[2021-09-30 11:46] bschmalhofer opened #1283 "Migration: also migrate the table permission_groups"
Just in case somebody wants to migrate from Znuny 6.1 to OTOBO 10.0.

[2021-09-30 12:01] bschmalhofer commented on #1283
See also #1215 .

[2021-09-30 12:17] bschmalhofer commented on #883
Did a testmigration from Znuny 6.0, PostgreSQL to OTOBO 10.0, Mysql with ITSMChangeManagement installed, but no actual changes. The migration result looks fine:

Source OTRS:

Target OTOBO:

[2021-09-30 12:17] bschmalhofer commented on #883
PR was already merged. Closing this issue.

[2021-09-30 12:17] #883 closed, assigned to bschmalhofer

[2021-09-30 12:32] bschmalhofer commented on #1283
Added the mapping `permission_groups => groups_table` to the migration routines. Not tested because a migrations from Znuny 6.1 are not really expected. PR is merged. Closing this issue.

[2021-09-30 12:32] #1283 closed, assigned to bschmalhofer

[2021-09-30 13:13] bschmalhofer commented on #1057
Change the default command. Tested by adding a dummy module that is not installed yet.

Looking good. PR is merged. Closing this issue.

[2021-09-30 13:13] #1057 closed, assigned to nobody

[2021-09-30 17:19] bschmalhofer commented on #291
The TODO comment in _Kernel/Output/HTML/Templates/Standard/AgentPreferences.tt_ still seem relevant

# Rother OSS / TODO
#                                [% IF Data.Label == 'Language' %]
#                                    [% Translate("Did you know? You can help translating OTOBO at %s.") | html | ReplacePlaceholders('<a href="https://translate.otobo.org" target="_blank">translate.otobo.org</a>

[2021-09-30 17:20] bschmalhofer opened #1286 "Inform users that they can help with the translation"
The TODO comment in _Kernel/Output/HTML/Templates/Standard/AgentPreferences.tt_ still seem relevant

# Rother OSS / TODO
#                                [% IF Data.Label == 'Language' %]
#                                    [% Translate("Did you know? You can help translating OTOBO at %s.") | html | ReplacePlaceholders('<a href="https://translate.otobo.org" target="_blank">translate.otobo.org</a>

[2021-09-30 17:24] bschmalhofer commented on #291
The comment in _Kernel/Output/HTML/Templates/Standard/AdminRegistration.tt_ still looks relevant

[2021-09-30 17:24] bschmalhofer opened #1287 "Remove support for system registration"
The comment in _Kernel/Output/HTML/Templates/Standard/AdminRegistration.tt_ still looks relevant

Related is the comment in _Kernel/Output/HTML/Templates/Standard/AdminCloudServices.t_ .

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/291#issuecomment-931517927_

[2021-09-30 17:27] bschmalhofer commented on #1287
The comment in _Kernel/Output/HTML/Templates/Standard/AgentStatisticsAdd.tt_ looks still relevant.

[2021-09-30 17:27] bschmalhofer opened #1288 "Provide link to Statistics documentation"
The comment in _Kernel/Output/HTML/Templates/Standard/AgentStatisticsAdd.tt_ looks still relevant.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1287#issuecomment-931520304_

[2021-09-30 17:32] bschmalhofer commented on #291
Created dedicated issues for the remaining TODO comments. Therefore closing this issue.

[2021-09-30 17:32] #291 closed, assigned to svenoe

[2021-10-01 07:41] bschmalhofer commented on #1187
Maybe related: https://github.com/znuny/Znuny/commit/cac5e9a437b4839d571850b0e3fee849a6ea6c0c

[2021-10-01 10:57] bschmalhofer commented on #1187
Hi Frank,

I have take a look at this issue and set up a generic agent task on a test system with OTOBOTimeZone set to Europe/Berlin. My observations are consistent with yours. The hours and minutes that are set in the "Generic Agent Job Management" admin page are interpreted as being given in UTC. This explains the offset of two hours to Central European Summer Time. The time zone UTC is hard cod

[2021-10-01 12:57] bschmalhofer commented on #770
Took a look at the latest test migration. Frontend::Module###AgentElasticsearchQuickResult and Elasticsearch::Active are both enabled. Looking good. Closing this issue.

[2021-10-01 12:57] #770 closed, assigned to bschmalhofer

[2021-10-01 12:59] bschmalhofer commented on #1163
Moved to 10.1 as this issue is not urgent.

[2021-10-01 15:27] bschmalhofer commented on #1076
There is no need for the OS::DiskSpace collector  as OS::DiskPartitionOTOBO.pm and OS::DiskSpacePartitions already do the job.
Removing OS::DiskSpace as its functionality has been commented out for years.
Closing this issue.

[2021-10-01 15:27] #1076 closed, assigned to nobody

[2021-10-04 07:49] StefanRother-OTOBO opened #1292 "ArticleTree in AgentTicketSearch contains wrong body"
The ArticleTree in AgentTicketSearch contains the wrong body (always the first body

[2021-10-04 07:54] StefanRother-OTOBO commented on #1292
Fixed.

[2021-10-04 07:54] #1292 closed, assigned to StefanRother-OTOBO

[2021-10-04 10:21] bschmalhofer opened #1293 "Unneeded modules in Kernel::System::Daemon::DaemonModules::SchedulerTaskWorker::Cron"
Looks like the following modules are not used in _Kernel/System/Daemon/DaemonModules/SchedulerTaskWorker/Cron.pm_ .

[2021-10-04 11:28] bschmalhofer commented on #1293
Ah well, these modules already were removed in rel-10_1. No harm in keeping them in rel-10_0. Closing this useless issue.

[2021-10-04 11:28] #1293 closed, assigned to bschmalhofer

[2021-10-04 11:46] bschmalhofer commented on #1288
Adapted the link. Saw no obvious way for language specific links, so I fell back to English. Closing this issue.

[2021-10-04 11:46] #1288 closed, assigned to bschmalhofer

[2021-10-04 13:13] bschmalhofer opened #1295 "Provide a AWS S3 backend for article storage"
Currently articles, including attachments, can be stored in the file system and in the database. Allowing storage in S3 would be nice to have. This would also be a good option for running OTOBO in Kubernetes. See also #193 and #1148.

For local development https://hub.docker.com/r/localstack/localstack can be used. There are several S3 modules on CPAN.
Amazon::S3::Thin looks like a sane option, ht

[2021-10-04 13:47] OrionExplorer opened #1296 "Phrase "otrs" renamed to "otobo" in SysConfig during migration from OTRS to OTOBO"
Hello!

I've just performed a successful migration from ((OTRS)) Community Edition 6.0.30 to OTOBO 10.0.12 with migration.pl script.

During standard verification I found an issue with outgoing communication: authentication failed.

Quick look at SendmailModule::AuthUser gave me the answer: username "otrs" has been renamed to "otobo".

I can provide more details if you need.

Regards,
Marcin

[2021-10-04 13:53] OrionExplorer opened #1297 "Wrong LogModule::LogFile path after migration from OTRS"
Hello,

after a successful migration (OTRS 6.0.30 to OTOBO 10.0.12) I found that custom path provided in Config.pm file was incorrect.

Before migration (in `/opt/otrs/Kernel/Config.pm`):
[code]
After migration (in `/opt/otobo/Kernel/Config.pm`):
[code]

[2021-10-04 16:36] bschmalhofer commented on #1296
Hello Marcin,

this change must have occured in the the migration step OTOBOMigrateConfigFromOTRS. I checked the replacement rules `Kernel::System::MigrateFromOTRS::Base::_ChangeFileInfo()` but found no obvious reason why that renaming would happen. I will test that in my devel installation.

[2021-10-04 16:53] bschmalhofer commented on #1297
Hi Marcin,
this most likely comes from a but in _Kernel/System/MigrateFromOTRS/OTOBOCopyFilesFromOTRS.pm_ . Specifically the line

looks dubious. It's a bit strange that this hasn't been noticed before. I suppose that the path _/opt/otrs_ is usually only used for the setting Home. And this setting is reverted to a sane value later in the module.

I'll try to fix this for OTOBO 10.0.13.

[2021-10-04 18:28] OlliW opened #1298 "the same oder of a customer dashboard tile -> internal server error"
if you configure the same oder of a customer dashboard tile, an internal server error occurred

![image](https://user-images.githubusercontent.com/80096822/135904631-3d5b1776-9b9e-4962-ab3c-cf8abea5f7ec.png)

[2021-10-05 11:07] bschmalhofer commented on #1297
Hi @Marcin,

this was actually a combination of two errors. First _/opt/otrs_ was replaced by _/opt/otobo_. Then there was an incorrect replacement that turned the filename into the nonsense name _/opt/otobo/Kernel/Config.pm/var/log/otrs.log_ ,

It is not really trivial what should be replace in Kernel/Config.pm . My take is that the settings added by the user should be left alone, because the mig

[2021-10-06 09:08] remyd1 opened #1301 "Attachments for customer does not work"
Hi,

I found [this issue](https://otobo.de/en/forums/topic/customer-users-attachment-files-does-not-appear/) on your forum, but there is no answer. I think we have the same issue here.

Attachments as an admin/operator is working from `index.pl?ChallengeToken=...&Action=AgentTicketCompose`, but not as a standard user from `customer.pl?Action=CustomerTicketZoom;TicketNumber=...` or `customer.pl?Act

[2021-10-06 09:24] bschmalhofer commented on #1216
While Testing #1297 I ran into more SecureMode errors after calling Admin::Config::FixInvalid. The difference to the previous migration scenarios must have been, that SecureMode was now enabled in the source OTRS installation. This can be fixed by calling `bin/otobo.Console.pl Maint::Config::ReBuild`.
Reopening this issue as the message must be enhanced again.

[2021-10-06 09:29] bschmalhofer commented on #1297
On the other hand, replacing _/opt/otrs_ with _/opt/otobo_ does make sense in many instances. Therefore I enabled that specific rewrite rule.
A testmigration looked good, thus closing this issue.

@OrionExplorer : Thanks a lot for reporting this issue.

[2021-10-06 09:29] #1297 closed, assigned to bschmalhofer

[2021-10-06 09:36] bschmalhofer commented on #1296
This still happens after fixing #1297, but at least I found the regex that does the replacing. Trying to fix thin in the next days.

[2021-10-06 09:53] bschmalhofer commented on #1216
Adapted the message. Closing this issue again.

[2021-10-06 09:53] #1216 closed, assigned to bschmalhofer

[2021-10-06 11:43] OrionExplorer commented on #1297
@bschmalhofer Thank you!

[2021-10-06 12:24] bschmalhofer commented on #1298
Hello @OlliW ,

thanks for reporting this. I think that this effect is caused by two different bugs. The first problem is that the SystemConfiguration admin page let's user to reuse already existing order values. I'll open a separate issue for that.

The second problem is the way this error is handled. There is an check for reused orders and the logmessage is sensible. But the response text to the

[2021-10-06 12:25] bschmalhofer opened #1304 "CustomerDashboard tiles: SysConfig should check sanity of the order settings"
I think that this effect is caused by two different bugs. The first problem is that the SystemConfiguration admin page let's user to reuse already existing order values. I'll open a separate issue for that.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1298#issuecomment-936135784_

[2021-10-06 13:55] bschmalhofer commented on #1298
I added a sensible error message for when the Dashboard is misconfigured. There are three config checks altogether. For testing I provoked each of the cases. Looks good. Closing this issue.

[2021-10-06 13:55] #1298 closed, assigned to bschmalhofer

[2021-10-07 08:51] OrionExplorer commented on #1170
Hello @bschmalhofer !

I ran into this problem during my last OTRS to OTOBO migration as well. Unfortunately source DB was PostgreSQL and I had no other option than to increase the amount of RAM.

Also I'd like to notice that migration takes place with ElasticSearch already up and running. I had to temporarily stop the service to gain 1 or 2 GB of memory (as set in JVM config as heap size).

Now I

[2021-10-07 10:16] svenoe commented on #1250
This is likely due to the change from otrs to otobo, without such a server existing here. We could try changing it back to otrs.com... ;) Or we set up this stuff ourselves.

[2021-10-07 11:38] OrionExplorer commented on #1170
@bschmalhofer One more question, if you don't mind.
Switch to `mysql_use_result` is available only by modifying source code? Am I understand that right?

[2021-10-07 12:52] bschmalhofer commented on #1170
Hi Marcin,
yes, currently there is no easy way for setting `mysql_use_result` for the migration.

If your migration is from MySQL to MySQL I would recommend the streamlined data migration https://doc.otobo.org/manual/installation/stable/en/content/migration-from-otrs-6.html#optional-step-streamlined-migration-of-the-database.

Modifying the source is not really straightforward, as the DB-connectio

[2021-10-07 13:45] OrionExplorer commented on #1170
Thank you Bernhard,

I'll definitely give it a try during the test migration. As for now my plan is to check two scenarios:
* standard migration (not streamlined) with `mysql_use_result` set
* standard migration (not streamlined and without `mysql_use_result` set) but with all the articles and attachments stored in the filesystem

Streamlined migrations would be my last resort as I have no access

[2021-10-07 15:13] bschmalhofer commented on #1295
Got started on a S3 backend.

The first finding is that localstack looks usable.

The second finding is that Amazon::S3::Thin has no way to specify the endpoint. The can be worked with some Sub::Override magic. The alternatives to using that module is to use modules that require Moose.

[2021-10-07 15:16] bschmalhofer commented on #1295
Found an incorrect error message in _Kernel/System/Ticket,pm_. This can be handled in a separate issue.

[2021-10-07 15:17] bschmalhofer opened #1306 "Incorrect error message in Kernel/System/Ticket,pm"
Found an incorrect error message in _Kernel/System/Ticket,pm_. This can be handled in a separate issue.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1295#issuecomment-937892640_

[2021-10-07 15:24] bschmalhofer commented on #1306
Fixed the message, albeit an instance of Kernel::System::Ticket::Article::Backend::MIMEBase is actually created. Closing this issue anyways.

[2021-10-07 15:24] #1306 closed, assigned to bschmalhofer

[2021-10-08 08:37] svenoe opened #1308 "Possible js injection in dynamic field error messages."
Possible js injection in dynamic field error messages.

[2021-10-08 08:40] svenoe commented on #1308
Fixed :)

[2021-10-08 08:40] #1308 closed, assigned to stefanhaerter

[2021-10-08 09:05] bschmalhofer commented on #1295
Also nice to have: Article backend using OpenStack Swift

[2021-10-08 09:06] bschmalhofer opened #1309 "Article backend for OpenStack Swift"
Also nice to have: Article backend using OpenStack Swift

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1295#issuecomment-938476733_

[2021-10-08 12:06] svenoe opened #1311 "Open Redirect in external URL jump."
ExternalURLJump can be used for phishing attacks, redirecting people to any URL provided.

[2021-10-08 12:08] #1311 closed, assigned to svenoe

[2021-10-08 13:15] bschmalhofer commented on #1295
The article backend has the feature the the plain text and the attachments of articles are grouped by year, month, and day. This is a nice setup and should be carried over to the S3 backend. This is for consistency than for technical requirements.

[2021-10-08 17:08] bschmalhofer commented on #1295
- https://metacpan.org/release/SCOTTW/Mojolicious-Plugin-AWS-0.21/source/lib/Mojo/AWS.pm looks nice too, but some features are missing.
- https://metacpan.org/pod/Paws is a more or less complete SDK, but a bit overwhelming for our purposes

[2021-10-09 15:45] remyd1 commented on #1301
Same issue with otobo version `10.0.12`.

Operating system `Ubuntu 20.04.2 LTS`.

Elastisearch with plugins:

[code]

Otobo modules:

[code]

[2021-10-11 12:05] svenoe commented on #1301
Hi Rémy,

we are currently extremely busy with 10.1 and a lot of customer requests and unfortunately don't have the ressources to answer all questions in the forum, currently. Someone wrote that he cannot reproduce this problem, there, and I cannot either... Have you done a clean install and just added one customer(user) to try this out?

The Elasticsearch errors don't mean too much in any case -

[2021-10-11 15:51] StefanAbel-OTOBO opened #1312 "Admin Documentation Link points to wrong URL"
In the Admin Area (Action=Admin) you find on the left hand side a link to the admin documentation.
Unfortunately it points to the wrong URL (https://doc.otobo.org/doc/manual/admin/10.0/en/html/index.html).
Correct would be https://doc.otobo.org/manual/admin/stable/en/content/index.html

Also I think the naming of the button (View the admin manual on Git**h**ub) is not correct, as it doesn't point

[2021-10-13 07:23] MaxiFlaxiBoii opened #1313 "Impossible to send message"
Hello,

so i set up my otobo-Server and ran into this error while configuring it:

[code]

Receiving mails already works.

I don't know what the problem is...

[2021-10-13 07:38] bschmalhofer commented on #1295
Additional options would be nice to have in the console command Admin::Article::StorageSwitch:

- -- source  for specifying the source irrespective of the SysConfig
- --keep-source for specifying that articles should not be deleted in the source
- --update-sysconfig for updating the article storage in the SysConfig

Other inconsistencies might be lurking too when switching storage. Take an attachm

[2021-10-13 10:30] bschmalhofer opened #1315 "Improve Admin::Article::StorageSwitch"
Additional options would be nice to have in the console command Admin::Article::StorageSwitch:

- -- source  for specifying the source irrespective of the SysConfig
- --keep-source for specifying that articles should not be deleted in the source
- --update-sysconfig for updating the article storage in the SysConfig

Other inconsistencies might be lurking too when switching storage. Take an attachm

[2021-10-13 10:36] bschmalhofer commented on #1295
An initial version of an S3 backend is now merged. This was tested with S3 proviced by localstack. Simple tests look mostly sane.

- adding HTML notes as _file-2_ attachments
- adding attachments in notes
- adding inline images in notes

TODO:

- [ ] more testing, as usual
- [ ] check error handling
- [ ] config is currently mostly hardcoded
- [ ] a notification when storage is not available
- [ ]

[2021-10-13 10:50] bschmalhofer commented on #1312
Looks like the French translators did check the link:

[2021-10-13 14:45] bschmalhofer opened #1316 "Remove dependency on Plack::Middleware::ForceEnv"
The usage of Plack::Middleware::ForceEnv in otobo.psgi looks very wrong. The middleware injects settings in the PSGI variable $Env, not into the system environmen %ENV.     The middleware is also only used for rpc.pl, so any strangeness went propably unnoticed.

[2021-10-13 16:32] svenoe commented on #1313
Hi MaxiFlaxiBoii,

sorry, but we do not answer support questions here on github. Please visit our [forums](https://otobo.de/en/forums/otobo/otobo-forum/) for that, or contact us directly for professional support. Github is only to coordinate development.

Best regards, Sven

[2021-10-13 16:32] #1313 closed, assigned to nobody

[2021-10-14 07:32] bschmalhofer opened #1317 "Migration: Accept "((OTRS)) Community Edition" in RELEASE"
This issue came up in the OTOBO forum: https://otobo.de/de/forums/topic/migration-von-otrs-6-zu-otobo/#post-12020.
It looks like some installations specify the product as _((OTRS)) Community Edition_.
This setting should also be accepted in the check OTOBOFrameworkVersionCheck.

[2021-10-14 11:53] bschmalhofer commented on #1316
While we are at it. the environment variable OTOBO_RUNS_UNDER_PSGI can be eliminated too. There are only two use cases active.

- SupportDataCollector
- activating DBIx::Connector in Kernel::System::DB

It looks like both cases can be handled with the env variable GATEWAY_INTERFACE.

[2021-10-14 12:11] StefanAbel-OTOBO opened #1319 "No service in bulk action possible"
In the system configuration Ticket::Frontend::AgentTicketBulk it is not possible to enable the service field.
In my opinion that clearly is a bug.

[2021-10-14 14:30] bschmalhofer opened #1320 "Kubernetes: Store Kernel/Config/Files/*.pm files in S3 storage"
See the discussion in #1148.
The goal for this issue is to provide a minimal solution. In `Kernel::Config::new()` we sync the objects in the S3 storage to the _Kernel/Config/Files_ directory. Then go through the features that write _*.pm_ files and make them write into the S3 storage.

[2021-10-14 14:37] StefanRother-OTOBO opened #1321 "Bug in AgentTicketZoom with DynamicFields, using DynamicFieldScreens"
Hi,

if I add ProcesswidgetDynamicField to "selected to disabled elements" for AgentTicketZoom in DynamicField Screens, the the dynamic field is never displayed, even if I activate it for AgentTicketZoom. I think it is at this location in AgentTicketZoom where the two config options are simply merged.

[code]

Thanks!

Stefan

[2021-10-14 14:53] StefanRother-OTOBO opened #1322 "Please change SysConfig default value PostMasterMaxEmailSize to"
Please change SysConfig default value PostMasterMaxEmailSize to 32768.

[2021-10-14 15:04] bschmalhofer commented on #1295
Ran the testsuite mit S3 storage enabled and got some errors. Could be worse.

[2021-10-14 15:10] svenoe commented on #1321
Clarification: Deactivation happens for ProcessWidgetDynamicField, not AgentTicketZoom, as I understood. Thus the right course of action would probably be to swap the order of both hashes.

[2021-10-14 15:14] bschmalhofer commented on #1316
Plack::Middlware::ForceEnv is removed. Closing this issue.

[2021-10-14 15:14] #1316 closed, assigned to bschmalhofer

[2021-10-15 07:42] bschmalhofer commented on #1317
Check the OTRS fork provided by Centuran. They switched the product name to ((OTRS)) Community Edition.
See https://github.com/Centuran/OTRS-Community-Edition/commit/44710ebb3e38a54c55988e394991a1e0d93e7629#diff-cdb88be95868ad8159c0c18868e8ea19f4376408fb9ba8e7325d1d923ae38069.

[2021-10-15 08:23] bschmalhofer commented on #1317
Enhanced the OTOBOFrameworkVersionCheck and added a more informative message when there is an unknown product name.

TODO:

- [ ] do a quick sanity check

[2021-10-15 13:41] bschmalhofer opened #1325 "Kubernetes: support for loader files in S3"
See also the discussion in #1148 and the issues #1295 and #1320.

The minified JS and CSS files should be stored in S3. There is no access check for the loader files in _otobo.psgi_. This opens the possibility to simply make a proxy pass  to the S3 storage when serving those files. This can be propably be done by `Plack::App::Proxy`. This should be possible as the web server Gazelle, according to

[2021-10-15 14:28] bschmalhofer commented on #1317
Found that there were already changes for OTOBOFrameworkVersionCheck in the rel-10_1 branch. Consolidating these separate changes.

[2021-10-16 07:48] bschmalhofer opened #1327 "Fix or remove Kernel::Config::ConfigChecksum"
It looks like this method does not do its job.

- checks for Kernel/Config/Files/*.xml, which are no longer used
- does not consider  Kernel/Config/Files/ZZZAAuto.pm, which actually is the file that changes most often

Removing the method is a real option, as it currently is used in some optimisation in the JS loader.

[2021-10-16 11:12] bschmalhofer commented on #1295
Fixed some errors in AttachmentDelete():

[2021-10-16 17:28] bschmalhofer opened #1328 "Strange check for unique file names in article storage"
Here is some code from _Kernel/System/Ticket/Article/Backend/MIMEBase/ArticleStorageFS.pm_ .

Looks like a last is missing there. Maybe this was never noticed because attachments are sorted alphabetically.

[2021-10-16 17:30] possebon commented on #1301
Hi @remyd1  and @svenoe ,

I'm the one that posted on the forum this issue.

I'm still facing the issue, even after installing a new server, with the latest version 10.0.13 of OTOBO.

The only difference from Rémy is that my server is running on CentOS 8.

I can't see anything on logs. In fact, on the latest version, I don't have any message on the log.

I already changed on Sysconfig the MinimumL

[2021-10-16 17:47] possebon commented on #1301
An update, I did a test now, I disabled my Apache settings, changing back to the original one, and now the attachments are saved correctly.

I have the same setting working for different instances running on customers but of OTRS. The same configuration used on OTRS seems not to be working on OTOBO.

[2021-10-17 07:48] StefanRother-OTOBO opened #1329 "Please change Elasticsearch::QuickSearchShow###CustomerUser default config settings"
Hi,

please change the default setting from

<img width="1103" alt="image" src="https://user-images.githubusercontent.com/56070449/137617180-728b5974-650c-490b-9227-190ba66febfb.png">

to

<img width="1103" alt="image" src="https://user-images.githubusercontent.com/56070449/137617286-63f11595-e7f3-47ff-8a5b-ed74718c1fb4.png">

[2021-10-17 10:57] possebon commented on #1301
Hi @remyd1 and @svenoe ,

I fixed my issue finally. in my case, I forgot to change the `ScriptAlias` variable on `SysConfig`.

Since I changed the Apache config to do not use. the /otobo at URI, I need to reflect this change either on SysConfig. The default value is` /otobo `and it was on not working instance.

Best regards,

[2021-10-17 13:19] bschmalhofer commented on #1295
Sprinkled in two EncodeOutput()s when writing Attachments. Test suite looks better now:

[2021-10-17 15:10] bschmalhofer commented on #1083
Assuming that $Self->{UserEmail} is a string containing only ASCII characters, then lc only converts A-Z to a-z. So the order of calls is not relevant. Let's not change the code, as there are no current complaints.

Closing this issue.

[2021-10-17 15:10] #1083 closed, assigned to bschmalhofer

[2021-10-18 07:33] svenoe commented on #1301
Hi @possebon,

thanks for letting us know. Hopefully it will be the same for @remyd1 .

Best regards, Sven

[2021-10-18 09:30] remyd1 commented on #1301
Hi,

I checked all this stuff:
  - deactivating `elasticsearch` in `SysConfig`,
  - my `apache2` configuration,
  - `HttpType`: it is ok, as it is `https`,

And still no luck...

I also edited my first post to reference the right issue.

Nevertheless, I think my `apache` configuration is a bit different than the official one; Here are the differences:

[code]

My http configuration is really simpl

[2021-10-18 09:41] bschmalhofer commented on #1295
After rebuilding the Docker images _PostMaster/CommunicationLog.t_ is now succeeding. Not sure what has changed.

[2021-10-18 14:48] bschmalhofer commented on #1295
For some reason I had no luck with AWS::CLIWrapper, let's no longer pursue that. Calling an external program for syncing was a shortcut anyways.
Made a prototype implementation for distributing ZZZAAuto.pm. The protoype calls the program `aws` for calling `aws s3 sync` . Internally `aws s3 sync` is calling list objects via the REST interface and checks the size and modification times of the files