[2022-03-18 06:44] svenoe commented on #1678
Hey Gera,

could you please check whether this is just a side effect of #1653 by trying the same thing in 10.0? Also I am not so sure, whether there is a principle problem, as in general it makes sense that you cannot create a new article in a merged ticket (all the articles should now be part of the ticket it has been merged into). What you would really need in my opinion, to achieve this, is a "

[2022-03-19 10:47] bschmalhofer commented on #616
The added testing module `Kernel::UnitTest::MockTime` overrides `DateTime::_core_time()` See https://metacpan.org/release/DROLSKY/DateTime-1.08/source/lib/DateTime.pm.

The intent of `_ core_time()`is indeed to allow easy overriding the way DateTime gets it's time.

But `Kernel::UnitTest::MockTime` already has overridden `Core::GLOBAL::time()`. This means that overriding `DateTime::_core_time()` i

[2022-03-19 10:48] bschmalhofer opened #1679 "No need to override DateTime::_core_time()"
The added testing module `Kernel::UnitTest::MockTime` overrides `DateTime::_core_time()` See https://metacpan.org/release/DROLSKY/DateTime-1.08/source/lib/DateTime.pm.

The intent of `_ core_time()`is indeed to allow easy overriding the way DateTime gets it's time.

But `Kernel::UnitTest::MockTime` already has overridden `Core::GLOBAL::time()`. This means that overriding `DateTime::_core_time()` i

[2022-03-19 13:57] bschmalhofer commented on #1532
The test _[scripts/test/Selenium/Output/Dashboard/ProductNotify.t](https://github.com/RotherOSS/otobo/commit/394b56754be3d650fb6ab762dcdf83cc658f3052#diff-3e65af2ce085e396ce1e582eab03bed90203db49d49297a145d2fd486cea468e)_ should be skipped in rel-10_0 as well.

[2022-03-19 14:03] bschmalhofer commented on #1679
The test suite did not complain after removing the override. Closing this issue.

[2022-03-19 14:03] #1679 closed, assigned to bschmalhofer

[2022-03-19 14:11] bschmalhofer commented on #1532
Use the script from rel-10_1. A test execution of the scripts looked fine. Closing this issue again.

[2022-03-19 14:11] #1532 closed, assigned to svenoe

[2022-03-19 14:26] bschmalhofer opened #1682 "Test failure in Selenium/Agent/Admin/AdminPackageManager.t"
This seems to reproducible when installing OTOBO packages from a local _.opm_ file. Installation seems to hand.

Here is the screenshot saved by Dev::UnitTest::Run.

![1163008993600000_1](https://user-images.githubusercontent.com/46019/159125027-0b5be507-75d8-4cd8-a176-447f25d671ab.png)

[2022-03-20 15:57] bschmalhofer opened #1683 "Use Plack::Request instead of CGI::PSGI"
Just a small step toward a more standard usage of Plack and PSGI. `Kernel::System::Web::Request` currently wraps `CGI::PSGI`. Switch that over to `Plack::Request`. There are a couple of instances were a CGI object is passed via the parameter `WebRequest` into the constructor of `Kernel::System::Web::Request`. These instances would have to be adapted as well. In future, test scripts should pass in

[2022-03-21 05:23] svenoe commented on #1682
I believe I have seen this, when cloud services or something like that was enabled, thus the package manager tried to verify the packages, but could not communicate with the verification server. Not 100% sure about it, though. If this is the reason, we maybe should print out a notification at least...

[2022-03-21 15:20] bschmalhofer commented on #1682
Tested this again and the the error didn't show up again. Tested both installation under Docker and Installation.

Looking at the code I found that the package verify check is indeed calling home to https://portal.rother-oss.com/otobo/public.pl with a timeout of 120. A problem with `PackageVerify()` would also kind of explain the difference between installing and upgrading. In `Kernel::Modules::Ad

[2022-03-22 07:55] svenoe commented on #1670
A rather lengthy commit... We use form_post for the implicit flow, as it is nicer to pass the id token this way, and also it saves us from dealing with the "#" in the url.

[2022-03-22 07:55] #1670 closed, assigned to svenoe

[2022-03-22 12:33] stefanhaerter commented on #1132
Reopening this for introducing Selenium tests for Dynamic Fields. First goal is to provide tests for Database fields since this is one of the most complex types.

[2022-03-22 12:55] svenoe commented on #1132
Closing it again, you can still use it as reference.

On second thought, maybe open another issue in the end, it will be more clear to people reading patch notes later...

[2022-03-22 12:55] #1132 closed, assigned to stefanhaerter, svenoe

[2022-03-22 16:39] bschmalhofer opened #1684 "Duplicate slashes are not merged in PATH_INFO"
When otobo.psgi is accessed via Gazelle then duplicate slashes are not merged into single slashes. This means that e.g. a request to _otobo//customer.pl_ is redirected to _otobo/index.pl_ even when the customer interface is active. The effect was noticed while working on https://github.com/RotherOSS/FAQ/issues/7.

[code]
There does not seem to be a hard rule that slashes should be merged. https://

[2022-03-22 17:23] bschmalhofer commented on #1684
Slashes are squashed now. Closing this issue.

[2022-03-22 17:23] #1684 closed, assigned to bschmalhofer

[2022-03-23 12:28] bschmalhofer opened #1686 "No need to get stuck on Debian 10 (Buster)"
Currently the OTOBO Docker image is based on perl 5.34-buster. But there is no need for not upgrading to Debian 11 (Bullseye). This means to base the images on Perl 5.34.
See https://hub.docker.com/_/perl . Note that the update from 5.34.0 to 5.34.1 was done automatically and not noticed, at least from my side.

[2022-03-23 20:31] bschmalhofer commented on #1686
The test suite running under Docker with the base image perl-5.34 looked fine. PR is applied. Closing this issue.

[2022-03-23 20:31] #1686 closed, assigned to bschmalhofer

[2022-03-25 12:50] bschmalhofer opened #1688 "A more structured output from Frontend/Basic.t"
That test scripts loops over the OTOBO frontend modules. Having a subtest per module would make the output nicer.

[2022-03-25 12:55] bschmalhofer commented on #1688
The test script is still succeeding and the verbose output is nicer now. Closing this issue.

[2022-03-25 12:55] #1688 closed, assigned to bschmalhofer

[2022-03-25 17:28] bschmalhofer opened #1690 "Add Test2::Harness as devel:test dependency"
Test2::Suite is already a dependency.

    {
        Module    => 'Test2::Suite',
        Features  => ['devel:test'],
        Comment   => 'basic test functions',
        InstTypes => {
            aptget => 'libtest2-suite-perl',
            emerge => undef,
            zypper => undef,
            ports  => undef,
        },
    },

Let's add Test2::Harness as a further dependency. This allow t

[2022-03-25 17:29] bschmalhofer commented on #1690
@svenoe : Can we slip this in before the upcoming releases?

[2022-03-28 08:10] stefanhaerter opened #1691 "Searching in Dynamic Field of type Database triggers Redis Error"
Using a docker installation of otobo 10.1 with .env file for Selenium tests, autocomplete in Dynamic Field Database triggers the following error:

[Error][Kernel::System::Cache::Redis::Set][86] ???

The Dynamic Field Configuration is the following:

![Bildschirmfoto_2022-03-28_10-12-02](https://user-images.githubusercontent.com/46650328/160354744-89b76036-f543-4ca3-9d86-bcb1b58ffc5d.png)

[2022-03-28 11:49] bschmalhofer commented on #788
The implementation was incorrect. The effect of the PR was only that neither --help nor -h was handled correctly. The test only showed the help message because `--user was not passed`.

[2022-03-28 12:15] bschmalhofer commented on #788
Fixed the handling of the option 'help|h'. Closing this issue again.

[2022-03-28 12:17] bschmalhofer commented on #788
It would be nice if alternative option names could be specified in console commands. An useful example would be the alias 'v' for the option 'verbose'.

[2022-03-28 12:17] bschmalhofer opened #1693 "Alternative names for console command options"
It would be nice if alternative option names could be specified in console commands. An useful example would be the alias 'v' for the option 'verbose'.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/788#issuecomment-1080578455_

[2022-03-28 17:04] bschmalhofer commented on #1691
The error message comes from Redis, or Redis::Fast, because TTL = 0 is no acceptable time to live. As setting the TTL to zero effectively disables caching, there is no need to set the cache in the first place. Thus the error message can be avoided.

More interesting is why the message '???' is added to the log output. This seems to be a side effect of the following code:

[code]
`$Kernel::OM->Get(

[2022-03-28 17:09] bschmalhofer opened #1695 "Avoid potential clobbering of $@ after eval"
More interesting is why the message '???' is added to the log output. This seems to be a side effect of the following code:

[code]
`$Kernel::OM->Get('Kernel::System::Log')`resets $@ before $@ is passed as the message. This behaviour can be reproduced with this example:

[code]

The fix is to make a copy of `$@` before logging.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/o

[2022-03-29 06:29] bschmalhofer commented on #1690
No need to rush this, add the wish to the wishlist.

[2022-03-29 07:08] svenoe opened #1696 "Installation fails due to wrong caching (No Valid for valid)"
Occurs from time to time? For me last on a current lubuntu 20.04 in preparation for Selenium tests (quick_setup failed), but also normal docker installs on other systems had this. The error seen is:
[code]
This is directly a cache problem and fixed by Maint::Cache::Delete (the valid list is cached `vi Kernel/System/Valid.pm +128` and then see line 76), but the question is how we reach that state.

[2022-03-29 07:22] svenoe commented on #1696
I take it back, that the container is not running, I would assume rather, that this just happens before the installation, as the state that the otobo db cannot be reached is true all the time there. It is all the more interesting that this doesn't always happen, seemingly...

[2022-03-29 08:08] svenoe commented on #1696
After some testing, it is like this: After `docker up -d` every 30s otobo_web_1 tries something which right from the start ends up not working, as it cannot connect to the otobo db (it is not set up).

[code]

If now the installation takes place right while this comes in, we can have a state were the otobo db is already accessible, but the data is not yet completely filled in. Trying to get the va

[2022-03-29 08:25] svenoe commented on #1678
For now we won't change this.

[2022-03-29 08:46] stefanhaerter opened #1697 "DynamicFieldDatabase: The same element can be added several times via autocomplete"
Discovered this in CustomerTicketZoom (response to ticket).

[2022-03-29 09:34] #1697 closed, assigned to stefanhaerter

[2022-03-29 10:03] bschmalhofer commented on #1696
The periodic request every 30 s is the health check that is defined in _docker-compose/otobo-base.yml_ . https://github.com/RotherOSS/otobo-docker/issues/12 . This requests to _otobo/index.pl_ fail but can still fill the cache for the ValidList with an empty array. This can be avoided by reconfiguring the health check to fetching _robots.txt_.

But cleaning up the cache after the DB-schema has bee

[2022-03-29 10:50] bschmalhofer opened #1699 "Create an informative route /health that can be used in health checks"
Give some indication that the web server is alive. This could also be used by the Docker Compose health checks.
See also:
- https://github.com/RotherOSS/otobo-docker/issues/12
- https://medium.com/glovo-engineering/meaningful-web-service-health-checks-e975321ac229
- https://inadarei.github.io/rfc-healthcheck/#name-status-3

See also https://github.com/RotherOSS/otobo-docker/issues/12 .

Elasticsea

[2022-03-29 11:00] bschmalhofer commented on #788
Reopening because at least the test script _scripts/test/Daemon/DaemonModules/SchedulerTaskWorker/Cron.t_ must be updated.

[2022-03-29 11:46] bschmalhofer commented on #788
Cron,t should succeed now. Closing this issue.

[2022-03-29 11:46] #788 closed, assigned to bschmalhofer

[2022-03-29 13:01] svenoe commented on #1682
Closing this issue, as it is not a test issue. We could/should improve that no feedback is shown in the frontend though.

[2022-03-29 13:01] #1682 closed, assigned to bschmalhofer

[2022-03-29 13:33] stefanhaerter opened #1702 "DynamicFieldDatabase: Removing Elements fails"
Discovered in CustomerTicketZoom while answering a ticket with a DynamicField of type database. Removed elements were not saved which is due to a javascript error in var/httpd/htdocs/js/Core.Agent.DynamicFieldDBSearch.js

[2022-03-29 13:52] #1702 closed, assigned to stefanhaerter

[2022-03-29 14:51] #1696 closed, assigned to bschmalhofer, svenoe

[2022-03-30 07:32] bschmalhofer commented on #1691
This has been handled by checking for `$CacheTTL`.

[2022-03-30 07:32] #1691 closed, assigned to bschmalhofer

[2022-04-01 07:17] Marios007 opened #1704 "Cannot hide Process and Activity Information in CustomerTicketZoom"
I cannot hide the ProcessManagementActivityID and ProcessManagementProcessID in the CustomerTicketZoom.
Even it is set to deactivated.

[2022-04-01 07:35] Marios007 commented on #1704
Same as #1447

[2022-04-01 07:35] #1704 closed, assigned to nobody

[2022-04-04 00:05] micha2021 opened #1705 "OAuth2 with Google Workspace: Missing required parameter: redirect_uri"
Hi,

I tried to setup OAuth2 for Google Workspace.

I've installed in OTOBO 10.1.2 the package MailAccount-OAuth2 and customized the system settings.

During the configuration of the mail account (profile IMAOOAuth2) the connection to Google is successful but the API reports an errror:

[code]

It seems that Google requires the redirect_uri in the API call ([https://developers.google.com/identity/

[2022-04-04 15:04] rbr101 opened #1706 "Permission error when running web (rotheross/otobo:latest) image in openshift"
When running the image rotheross/otobo:latest with args -web in openshift i get a permission error.
All the other components start just fine in openshift except the web component.

I have running everything fine in kubernetes as i don't enforce the acl/permissions there. But now moving to Redhat openshift i run into this issue.

[code]

My deployment config:
[code]

[2022-04-04 15:20] bschmalhofer commented on #1250
I propose to not provide a service makalu.otobo.org. Instead spin up a small webserver running on localhost. The small webserver can use https://metacpan.org/pod/Plack::Middleware::Auth::Basic.
Unfortunately [Plack;;Test](https://advent.plackperl.org/2009/12/day-13-use-placktest-to-test-your-application.html) does not fit the bill as we want to test the user agent, not the application.

[2022-04-04 17:19] bschmalhofer commented on #1706
Hi @rbr101 ,
it's great to see people running OTOBO on Kubernetes and OpenShift. Especially, as running in OTOBO in OpenShift hasn't been tested yet in-house.

First a recap about _/opt/otobo_ and /opt/otobo_install/otobo_next_ . The working dir of OTOBO is _/opt/otobo_ . For several reasons this directory tree is modified while the application is running and the modifications have to persist. The

[2022-04-05 11:39] rbr101 commented on #1706
Hi,

Thanks for your answer, I'm still figuring out what needs to be changed. The thing with OpenShift is that containers are not allowed to run with root privs.

I added ownership of /opt in the docker file:
[code]

The first error is gone now, now I only have this one:
[code]
Somehow the file is missing because of some privilege stuff, will dig into it to figure out where it's failing.

update:

[2022-04-05 14:35] bschmalhofer commented on #790
Moved this to the wishlist as it is not certain that this should be part of patch release

[2022-04-05 14:38] bschmalhofer commented on #779
@svenoe : Is this issue solved with #750?

[2022-04-05 15:02] bschmalhofer commented on #1250
Let's take a different route here. Skip the failing tests that use makalu.otobo.org for rel-10_0. In lieu, convert these tests to a local webserver in rel-10_1. This should be easy in rel-10_1, as we already have a dependency on Plack in that branch.

[2022-04-05 15:02] #1250 closed, assigned to bschmalhofer

[2022-04-05 15:02] bschmalhofer opened #1708 "Test basic authentication with a locally running webapp."
Let's take a different route here. Skip the failing tests that use makalu.otobo.org for rel-10_0. In lieu, convert these tests to a local webserver in rel-10_1. This should be easy in rel-10_1, as we already have a dependency on Plack in that branch.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1250#issuecomment-1088829464_

[2022-04-05 15:40] bschmalhofer commented on #1706
Hi @rbr101 ,

this is a bit confusing. The statements

RUN chown -R 1000:0 /opt
RUN chmod -R g+w /opt
USER $OTOBO_USER

give write permissions for the root group. This makes sense because  https://cloud.redhat.com/blog/a-guide-to-openshift-and-uids says:

Could it be the case, that OpenShift assigns a random user id and does not honour the user id that has been declared with `USER $OTOBO_USER` in

[2022-04-05 15:56] rbr101 commented on #1706
Hi,

I'm not an OpenShift expert, but you are right about OpenShift assigning a random userid.
That' why the initial setup was failing.

Tomorrow I will look if I can fix this part in the Dockerfile.

Cheers,
Roeland

[2022-04-06 15:03] bschmalhofer commented on #1706
@rbr101,
I noticed something unrelated  in your deployment config. We have changed the labels of the images on Docker hub. This means that

`image: rotheross/otobo:latest`

should now be either

`image: rotheross/otobo:latest-10_0`

or

`image: rotheross/otobo:latest-10_1`

[2022-04-06 15:06] bschmalhofer commented on #744
@GritRother-OTOBO  Is this still relevant? If so I'll file it as being in the wishlist.

[2022-04-06 15:13] bschmalhofer commented on #1240
Might be related to #882.

[2022-04-07 16:44] bschmalhofer opened #1709 "Fix the CodePolicy workflow"
For some weeks the CopePolicy check the runs when merging PRs is no longer working. See https://github.com/RotherOSS/otobo/runs/5737946791?check_suite_focus=true.
The culprit is:

[code]
Seems like some dependency could no longer be installed. Let's try first upgrading the apt sources with `apt-get -y update`.

[2022-04-07 17:01] bschmalhofer commented on #1709
There was at least one successful run of code_policy.yml. Consider the issue to be fixed.

[2022-04-07 17:01] #1709 closed, assigned to bschmalhofer

[2022-04-07 17:08] bschmalhofer commented on #1709
Moved to milestone 10.0.16 as the fix was applied to rel-10_0 as well.

[2022-04-07 17:58] lzmartinico opened #1712 "Feature Request: Allow Agents to create message Templates"
Apologies if there is already way to do this and I haven't found this. I would like to request the addition of a small feature: let the agents create templates for the queues they have access to, rather than going through the admin.

[2022-04-08 09:32] StefanAbel-OTOBO opened #1713 "Complete standard fields which can be changed in the various forms."
In SystemConfiguration, in Frontend > Agent > View > TicketMove you can not activate the "Service" field. This one is missing in the selection.
Please add something like **Ticket::Frontend::AgentTicketMove###Service** and **Ticket::Frontend::AgentTicketMove###ServiceMandatory**
For me this is a bug.
This is the case in OTOBO 10.1

[2022-04-08 14:30] svenoe commented on #1713
For all forms which are based on ActionCommon this should only be adding the SysConfig options. For others (PhoneOutbound,...) this would include more work. Maybe for some of them we could even align the backend module.

[2022-04-11 14:53] StefanAbel-OTOBO opened #1714 "rename reject auto response title"
In Action=AdminAutoResponse there is some grammatically eye-catching wording:

<img width="618" alt="image" src="https://user-images.githubusercontent.com/87359203/162765631-1ed51133-6ab7-47ca-b420-5ee82370454f.png">

Action=AdminAutoResponse;Subaction=Change;ID=2 => default reject (after follow-up and rejected of a closed ticket) => "rejection" should be better

[2022-04-11 17:32] bschmalhofer opened #1715 "Apache Config: remove obsolete option DocumentRoot"
In most sample configurations the location '/' is declared. This means that DocumentRoot is never used and thus can be removed.

[2022-04-12 10:49] bschmalhofer opened #1716 "Warn agents about empty article subjects in AgentTicketCompose"
Something related was reported for Znuny in https://github.com/znuny/Znuny/pull/88. The specific error does not occur in OTOBO because OTOBO does not have these lines that were added in https://github.com/OTRS/otrs/commit/2fa985c3ac4bed6efa288b31c8a1d4b897e99290

+        # Inform a user that article subject will be empty if contains only the ticket hook (if nothing is modified).

[2022-04-12 10:59] bschmalhofer opened #1717 "Sector Nord AG: Replaced hardcoded attributes with a dynamic Sysconfig in Kernel/System/Ticket/Event/NotificationEvent.pm"
The changes that were applied in Znuny in https://github.com/znuny/Znuny/pull/171 look sensible to me. I propose to apply them to OTOBO as well.

[2022-04-12 11:30] bschmalhofer opened #1718 "Avoid warnings in Kernel::System::EmailParser"
Unneeded warnings were seen in Znuny: https://github.com/znuny/Znuny/issues/123 . Looking at _Kernel/System/EmailParser.pm_ it looks like the same warnings would occur in OTOBO.

TODO:

- [ ] Sync _Kernel/System/EmailParser.pm_  with Znuni

[2022-04-12 12:36] #1718 closed, assigned to bschmalhofer

[2022-04-14 12:19] superwinni2 opened #1721 "No Docu about Ticket::CustomerViewableStateType?"
Hello

I want that Customers can take a Look with the Webbrowser if they click at "Tickets" in customer.pl Frontend.
If they click on "Tickets" I get the message in log:
Apr 14 14:07:53 OTOBO OTOBO-CGI-00[44248]: [Error][Kernel::System::State::StateGetStatesByType][Line:378]: Type 'Ticket::CustomerViewableStateType' not found in Kernel/Config.pm!

I'm looking for the Options of "Ticket::CustomerVi

[2022-04-15 13:14] bschmalhofer commented on #1721
Hi @superwinni2 ,

the configuration setting Ticket::CustomerViewableStateType was added for OTOBO 10.1.1. See https://github.com/RotherOSS/otobo/issues/1543. The setting is declared in _Kernel/Config/Files/XML/Ticket.xml_. In order to be usable in OTOBO this new setting must be merged into the actual system configuration. This is done with the command `/opt/otobo/bin/otobo.Console.pl Maint::Confi

[2022-04-15 13:14] #1721 closed, assigned to bschmalhofer

[2022-04-19 11:42] bschmalhofer opened #1722 "Update JavaScript libraries"
Bring the JS libraries to their current versions. Be inspired by https://github.com/znuny/Znuny/blob/rel-6_3_1/CHANGES.md.

- jQuery
  - upgrade JQuery to 3.6.0
  - keep the _.min_ in the name _jquery-3.6.0/jquery.min.js_
- remove jquery-migrate-3.0.0 as it was unused and not up to date
- jquery-ui
  - generate a custom download with the feature list from https://github.com/OTRS/otrs/commit/05dbcf

[2022-04-19 15:01] bschmalhofer commented on #1722
The current version of CKEditor 4 is 4.18. But upgrading CKEditor should be handled in #790.

[2022-04-19 16:22] bschmalhofer commented on #1722
Looks like _jquery-browser-detection.js_ can't be removed as the method `browser` is used in _./var/httpd/htdocs/js/Core.App.js_ .

[2022-04-20 13:35] Manschk3rl opened #1723 ""Untitled!" Ticket"
Hi,
If your create a ticket with only a dynamic field the ticket shows up as "Untitled!" in the CustomerDashboard. If you open up the ticket, it shows the correct title from the GenericAgent.
![3](https://user-images.githubusercontent.com/4741314/164240142-f48d3adc-74bb-4f90-b1ac-ff2b80284d83.png)
![4](https://user-images.githubusercontent.com/4741314/164240364-8df3ec95-b869-4bd1-96f4-e67b3716d55e

[2022-04-20 13:39] Manschk3rl commented on #1723
If a agent adds a note, the ticket in the customerdashboard shows up correctly

[2022-04-20 14:39] bschmalhofer commented on #1722
Also update qunit to version 2.18.2

But as of 2024-06-27  qunit is now at 2.21.0

[2022-04-20 14:52] bschmalhofer commented on #1722
The test suite ran fine. PR is merged. Let's keep this issue open, checking whether problems crop up.

[2022-04-21 12:05] bschmalhofer commented on #1722
Two more updates as seen in https://github.com/znuny/Znuny/tree/rel-6_3-dev/var/httpd/htdocs/js/thirdparty:
- momentjs-2.29.1   (actually using 2.29.3)
- nunjucks-3.2.2

[2022-04-21 12:29] bschmalhofer opened #1725 "upgrade fullcalendar.js to 5.11.3, remove moments.js"
There is a recommendation to move away from moments.js, https://momentjs.com/docs/#/-project-status/. Consider doing so.

[2022-04-21 12:29] bschmalhofer commented on #1725
See also #1722

[2022-04-21 15:16] bschmalhofer commented on #1716
The check for empty arguments is an actual change. File this issue in OTOBO Enhancements.

[2022-04-21 15:22] bschmalhofer commented on #1717
Testsuite still looks good. PR is merged. Closing this issue.

[2022-04-21 15:22] #1717 closed, assigned to nobody

[2022-04-21 20:39] bschmalhofer opened #1728 "Add sample for PSGI app tests without using Selenium"
When JavaScript is not an issue then _otobo.psgi_ can be tested without Selenium. After all a PSGI app is just a subroutine.
For this issue only enhance a single test script, just to demonstrate how this is done.
TODO;
- fiddle with _scripts/test/PSGI/DefaultInterface.t_

[2022-04-22 07:58] bschmalhofer commented on #1728
Tested with a local installation. Looks good. Closing this issue.

[2022-04-22 07:58] #1728 closed, assigned to bschmalhofer

[2022-04-22 11:38] bschmalhofer commented on #1715
Pondered this some more and found no good reason for keeping the **DocumentRoot** setting. Thus removed it.

[2022-04-22 11:55] bschmalhofer commented on #1715
Another thing, the setting MaxRequestsPerChild is now called MaxConnectionsPerlChild. See https://httpd.apache.org/docs/trunk/de/mod/mpm_common.html#maxconnectionsperchild.

[2022-04-22 11:55] bschmalhofer opened #1732 "Rename Setting MaxRequestsPerChild to MaxConnectionsPerChild"
Another thing, the setting MaxRequestsPerChild is now called MaxConnectionsPerlChild. See https://httpd.apache.org/docs/trunk/de/mod/mpm_common.html#maxconnectionsperchild.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1715#issuecomment-1106440563_

[2022-04-22 11:58] bschmalhofer commented on #1715
Inadvertently checked in the error message when mod_perl is not active. The check is IMHO sensible, let's leave it in the code.

PR is merged, closing the issue.

[2022-04-22 11:58] #1715 closed, assigned to bschmalhofer

[2022-04-22 11:59] bschmalhofer commented on #1732
Also, use the same value 1000 in all scripts.

[2022-04-22 13:01] bschmalhofer commented on #1732
The setting is renamed. A quick test in a local installation looked sane, closing this issue.

[2022-04-22 13:01] #1732 closed, assigned to bschmalhofer

[2022-04-25 07:28] stefanhaerter opened #1734 "Add Selenium Tests for Dynamic Field Database in Customer and Agent Interface"
Add Selenium Tests for Dynamic Field Database in Customer and Agent Interface

[2022-04-25 11:39] stefanhaerter opened #1735 "Investigate error message when ACL with empty ConfigMatch is imported"
When an ACL with empty ConfigMatch is either imported or set within a Selenium Test, the following error can be observed via fred:

Use of uninitialized value in concatenation (.) or string at Kernel/System/ACL/DB/ACL.pm line 546.

This seems to be due to [this line](https://github.com/RotherOSS/otobo/blob/6accae067cf02e02a6fa259a7ecd6b4fd8253e51/Kernel/System/ACL/DB/ACL.pm#L553). $Param{ConfigMat

[2022-04-25 13:08] stefanhaerter commented on #1735
The purpose at this point is to fetch the ACL data from the database and compare it to the input data for verifying that it has been saved correctly. Taking into account L.468-490, ConfigMatch and ConfigChange are allowed to be either a Hashref with data or undefined. For evading the undefined-case. I would suggest to use the $ConfigMatch and $ConfigChange variables defined in L.465f instead of $P

[2022-04-26 10:21] #1734 closed, assigned to stefanhaerter

[2022-04-26 10:29] svenoe commented on #1414
As this issue is quite old now, I will close it for now. If there are any news I will reopen it if necessary.

[2022-04-26 10:29] #1414 closed, assigned to nobody

[2022-04-27 12:04] svenoe opened #1738 "Improve CustomerTicketCategories."
We will change the ticket categories slightly and make some improvements:

- Add Service and State also to CustomerTicketZoom
- Make translations a SysConfig-Option rather than translating just Service and State hardcoded (**Attention!** This means if you are using this feature since 10.1.3 you will have to add this to your SysConfig!)
- Add a "Link"-feature, similar to the DynamicField Links
- Ad

[2022-04-27 14:57] otoKreutz commented on #1738
Is it possible to add the Type to the CustomerTicketCategories as well?

[2022-04-28 04:36] svenoe commented on #1738
Yes, we can include this.

[2022-04-28 04:46] svenoe opened #1739 "Fix SMIME for newer openssl versions."
We have to adjust some code for newer openssl versions (3.0.2 which is shipped with Ubuntu 22.04):

- [x] The Fingerprint is not parsed correctly
- [x] scripts/test/SMIME/ConvertCertFormat.t fails which is at least partly due to openssl being able to directly use the der-format. We have to check whether this makes the test obsolete, or we have to change the check.

The latter can be found here htt

[2022-04-28 05:13] svenoe opened #1740 "Prohibit system calls of OTOBO Admin."
OTOBO Admins had some features which could be used since OTRS times to make system calls. We will treat those as security issues from now on, as, although on most systems the OTOBO admin will be a trustable person, this might not always be the case and then this absolutely should not be possible. If the features are not needed, having them disabled to have more barriers for attackers gaining any a

[2022-04-28 12:28] #1738 closed, assigned to svenoe

[2022-04-28 12:36] #1740 closed, assigned to svenoe

[2022-04-28 16:14] svenoe opened #1741 "Fix Role synchronization from LDAP."
https://github.com/RotherOSS/otobo/issues/1608 introduced a bug in the role synchronization via LDAP which was not recognized.

[2022-04-28 16:27] #1741 closed, assigned to svenoe

[2022-04-28 17:25] svenoe commented on #1608
There was quite some confusion here...the last commit which is based on the formerly unchanged 10.0 and is then merged to 10.1 should hopefully fix it.

[2022-04-28 20:56] ghost opened #1742 "Issues with parsing incoming emails."
Currently using Otto-10.1.2

We seem to be having quite a few issue with emails not being parsed and not getting in to the system, I haven't managed to see anything in common that might explain the issue.  When we were using 10.0.7, we were not seeing these problems.

![image](https://user-images.githubusercontent.com/8399384/165843722-72c04c62-1bde-4a0e-a734-6f6a40004c76.png)

FIle: /opt/otobo/va

[2022-04-29 19:29] geralwo opened #1743 "Don't try to upgrade packages that are not listed in any online respository"
On Upgrading, OTOBO tries to upgrade all packages as well. Packages that are not listed in any online respository will also tried to be upgraded, but run in a long timeout. It would be nice to lower the timeout duration or check if the packages are available online and only then upgrade the package.

[2022-04-30 12:23] bschmalhofer opened #1744 "Adapt mtime checks to S3 support for the MinIO case"
The ListObjects method of MinIO reports the time in second with milliseconds in the fractional part. But the existing checks of the mtime is done in seconds only. For getting accurate check cast both values as integer.

[2022-04-30 12:52] bschmalhofer opened #1745 "Fix Kernel::System::Storage::S3::DiscardObjects"
When MinIO is used as a S3 backend that the console command  `Maint::Loader::CacheCleanup` does not delete the files in MinIO.

TODO:

- [x] make it work for MinIO

[2022-04-30 13:09] bschmalhofer commented on #1744
PR is merged. Tesing was done in a customer project. Closing this issue.

[2022-04-30 13:09] #1744 closed, assigned to bschmalhofer

[2022-04-30 15:47] bschmalhofer opened #1747 "Fix test Selenium/Output/Dashboard/CmdOutput.t"
After adding the config setting DashboardBackend::AllowCmdOutput in #1740 the script _Selenium/Output/Dashboard/CmdOutput.t_ no longer succeeds. This is because the new setting is not activated per default.

[2022-04-30 16:12] bschmalhofer commented on #1747
Adapted the test script. Closing this issue.

[2022-04-30 16:12] #1747 closed, assigned to bschmalhofer

[2022-05-02 15:24] bschmalhofer opened #1749 "Make sure that the directory for cache files exists"
The setup is OTOBO running under Gazelle with OTOBO_SYNC_WITH_S3 activated and files stored in MinIO. There the problem occurred that CSS and JS could not be served because _var/httpd/htdocs/skins/Customer/css-cache_ did not exist.

TODO: make sure that the cache folders are created before files a synced from the S3 compatible storage.

[2022-05-02 15:30] bschmalhofer opened #1750 "Use the S3 storage as the cache backend"
For Kubernetes support the design decision was to not use Redis for distribution files. This was because Redis is considered as a caching solution that should only hold content that can be recreated. But this does not mean that S3 compatible storage can't be used for caching. The advantage would be that one service less would be needed.

TODO:

- [x] check whether S3 supports a TTL
- [x] decide wh

[2022-05-02 16:37] bschmalhofer commented on #1749
Create the target dir before downloading from S3. The fix looks straightforward. Closing the issue.

[2022-05-02 16:37] #1749 closed, assigned to bschmalhofer

[2022-05-03 13:41] svenoe opened #1752 "Fix the order of the GenericInterface event module. (e.g. GenericAgent changes Ticket prior to Elasticsearch update)"
We have think about the ordering of event module execution. One example of a current bug we are having:

If we set up a generic agent, which on "TicketCreate" sets the queue of a ticket and then create the ticket the following happens.

1. The EventHandler runs `Ticket::EventModulePost###9700-GenericAgent` for `TicketCreate`, and the generic agent changes the queue, which triggers `TicketQueueUpda

[2022-05-03 14:05] svenoe commented on #1752
@bschmalhofer, @reneeb - what do you think? I'm also hesitant of merging this into 10.1, as people would have to perform a `Maint::Config::Rebuild --cleanup` to prevent the generic interface from being called twice (8000 and 9900).

Currently the event modules we have in the system are:
[code]
(I did not check which are transactions and which are not. For generic interface, generic agent and the t

[2022-05-03 14:10] manuelveith opened #1753 "Maybe bug based on #1741LDAP Auth / Roles"
I was upgrading from 10_0_3 to 10_1_4 and may have encountered a problem with a bug that was solved with #1741

I use LDAP Auth but don't use AD groups to bind the roles to the agents. I bind the roles in Otobo.

After the update everytime when an Agent logs off and on again, his roles are all gone. I can reassign them, but after logging in they are gone again.
Is it possible that the fix deletes

[2022-05-03 15:04] bschmalhofer commented on #1749
Felt bad about closing the issue without even a basic test. So I did a setup with MinIO and delete the dir _./var/httpd/htdocs/skins/Agent/default/css-cache_. After clearing the browser cache and clicking a couple of times the dir was recreated. Looks fine so far.

[2022-05-03 15:27] svenoe commented on #1753
Hi Manuel,

could you please download the newest version of [Kernel/System/Auth/Sync/LDAP.pm](https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/System/Auth/Sync/LDAP.pm) (right click on "Raw", and "save target as"), make a backup of your old one and then replace the file? I hope this will solve the problem. The initial "fix" of https://github.com/RotherOSS/otobo/issues/1608 was not done corr

[2022-05-04 01:54] reaperfromhell opened #1754 "Translation for AcceptGDPR"
Hello,

All translation files seem to have the wrong translation for the GDPR message, as it shows up in German:
"Mit einem Klick erkläre ich meine Zustimmung".
I did a quick grep for the string and it pretty much shows up on all the files.

[2022-05-04 06:07] svenoe commented on #1754
Hi reaper,

you are right, a German string snuck into the source code. We will fix that.

Best regards

[2022-05-04 06:11] svenoe commented on #1754
Done, thanks for letting us know. We will update the language files for weblate within this day.

[2022-05-04 06:11] #1754 closed, assigned to svenoe

[2022-05-04 06:16] manuelveith commented on #1753
Hi Sven,

I corrected my post that it is related to #1741 not #1608. So the latest version is already in 10.1.4 I would say.
What I can say is, I reverted my upgrade and then upgraded with release 10.1.3 and the problems did not occure there.

[2022-05-04 07:22] svenoe commented on #1753
Hi Manuel,

yes, I understood. #1608 and #1741 are related. With your setup 10.1.3 can be used. It is buggy for people using one type of role synchronisation. The latter got fixed with 10.1.4 but this broke your setup. As I said, there was some confusion, unfortunately. By now I correctly fixed the file, so an alternative would have been to use the one linked above.

I will close this issue, as yo

[2022-05-04 07:22] #1753 closed, assigned to nobody

[2022-05-04 14:51] bschmalhofer commented on #1745
Tried to debug this. The request that should delete cached JS and CSS looks OK.

`<Delete xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Object><Key>OTOBO/var/httpd/htdocs/js/js-cache/CommonJS_0ead0e67127bed1894c4b23ffc892a1e.js</Key></Object><Object><Key>OTOBO/var/httpd/htdocs/js/js-cache/ModuleJS_499b835124455679ccbb66f93cf7cabc.js</Key></Object><Object><Key>OTOBO/var/httpd/htdocs/js/js-cache/

[2022-05-04 15:34] bschmalhofer commented on #1745
Still no idea why this does not work. It's likely not a privilege issue, as MinIO should return an Error for each element it can't delete.

[2022-05-04 16:07] bschmalhofer opened #1755 "Adapt Daemon Module SystemConfigurationSyncManager to S3 scenario"
The Daemon module is responsible for making sure that a deployment in the database is reflected in the Config cache files _ZZZ*.pm_. This also seems to include for a clustered setup with seperate _/opt/otobo_ directories.
When running with S3 the situation is a little bit different. The S3 storage is the central authority. This indicates that SystemConfigurationSyncManager should only check the ob

[2022-05-04 16:16] bschmalhofer commented on #1755
The Daemon module also causes the notifications from _Kernel/Output/HTML/Notification/SystemConfigurationOutOfSyncCheck.pm_ to be displayed. This effect can be explained easily:

1. Initially the deployment ID in S3 and in the file system are the same
2. For some reason a deployment is performed where the ZZZAAuto,pm in S3 is not updated, but the file ZZZAAuto.pm is
3. The next web server action s

[2022-05-04 16:33] GritRother-OTOBO opened #1756 "AgentTicketZoom: Keep Pending Time in Ticket categorization dialogue"
At the moment, a set ticket pending time is lost / set back to the system standard when opening the ticket categorization dialogue. It would be great if the existing setting could be maintained :)

[2022-05-05 08:19] svenoe opened #1757 "TicketArticleStorageSwitch alters attachment names"
Kernel::System::Ticket->TicketArticleStorageSwitch() can be used to move article data from DB to the file system, e.g. (bin/otobo.Console.pl Admin::Article::StorageSwitch). Here the article body attachments ("file-2" and "file-1") are renamed to "file-2-1" and "file-1-1". (Seen with 10.1, but Stefan said, he knows it from OTRS, too, should thus also be tested for 10.0.)

[2022-05-05 13:17] bschmalhofer commented on #1755
Added information about the NodeID to https://github.com/RotherOSS/otobo/discussions/1148.

[2022-05-06 13:43] bschmalhofer commented on #1755
Just ran into another problematic case. Started under Docker an setup with four services 'web' and one service 'daemon' and one service 'minio'. OTOBO_SYCN_WITH_S3 is set and _/opt/otobo_ is not mounted as a volume. In the GUI I got the notification that the Daemon is not running. The message is correct as in the Daemon contaier only ` /opt/otobo_install/entrypoint.sh daemon` is running. That proc

[2022-05-06 13:44] bschmalhofer opened #1759 "Handle docker_firsttime also in the Daemon containers"
Just ran into another problematic case. Started under Docker an setup with four services 'web' and one service 'daemon' and one service 'minio'. OTOBO_SYCN_WITH_S3 is set and _/opt/otobo_ is not mounted as a volume. In the GUI I got the notification that the Daemon is not running. The message is correct as in the Daemon contaier only ` /opt/otobo_install/entrypoint.sh daemon` is running. That proc

[2022-05-06 14:00] abrain opened #1760 "PGP: Private key cannot be exported"
I tried to export a secret key via the AdminPGP view. The downloaded file only contains "gpg: conflicting commands".

Checking the code, I saw that two commands are given to gpg: `--export-secret-keys` and `--decrypt`. Removing `--decrypt` makes the export work.
https://github.com/RotherOSS/otobo/blob/f5d093e497bacd729d7806f17e4f60f746a483de/Kernel/System/Crypt/PGP.pm#L794

Versions:
- OTOBO 10.1.

[2022-05-06 14:42] bschmalhofer commented on #1755
There is another thing I noticed while trying to find out what the OTOBO Daemon does. The description of the tasks in `Daemon::SchedulerCronTaskManager::Task` do not always reflect reality. Some examples are:

- StatsReportsGenerateCron does not clean up chat logs
- CoreCacheCleanup is not limited to core modules, whatever is meant by core modules

TODO:

- [x] check the descriptions in the _Kerne

[2022-05-06 14:42] bschmalhofer opened #1761 "Check documentation of cron tasks"
There is another thing I noticed while trying to find out what the OTOBO Daemon does. The description of the tasks in `Daemon::SchedulerCronTaskManager::Task` do not always reflect reality. Some examples are:

- StatsReportsGenerateCron does not clean up chat logs
- CoreCacheCleanup is not limited to core modules, whatever is meant by core modules

TODO:

- [x] check the descriptions in the _Kerne

[2022-05-06 14:57] geralwo opened #1762 ""Changed" value doesn't update on subsequent mails from customer"
When a customer sends multiple emails, without an agent responding in between,  the "CHANGED" value doesn't update.
![grafik](https://user-images.githubusercontent.com/89428719/167161366-e0af031a-06da-41f6-bdb0-a21c7cc18c19.png)

[2022-05-07 10:05] bschmalhofer commented on #1761
@svenoe : I was thinking of fixing the spelling error in the cron task `Daemon::SchedulerCronTaskManager::Task###GeneticInterfaceDebugLogCleanup`. But I'm hesitant because that would be a significant change. What do you think?

[2022-05-07 10:35] bschmalhofer commented on #1761
Didn't find any more documentation glitches, but fixed some spelling errors. Closing this issue.

[2022-05-07 10:35] #1761 closed, assigned to bschmalhofer

[2022-05-07 11:01] bschmalhofer opened #1764 "Remove an useless 'do"
The `do $TargetFile` in `Kernel::System::SysConfig::ConfigurationDeploySync()` seem pretty useless, https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/System/SysConfig.pm#L3752 . Simply do-ing the _ZZZAAuto.pm_ file should have no effect at all.

Also, the use of the preceeding `require` is not obvious. The _ZZZAAuto.pm_ is required again in `Kernel::Config::Defaults__new()` called by
`my $Cu

[2022-05-09 10:18] bschmalhofer commented on #1755
No I don't understand why the SystemConfigurationOutOfSyncCheck notification should be emitted. The Daemon module `SystemConfigurationSyncManager` seems to call `Kernel::System;;SysConfig::ConfigurationDeploySync()` reliably. And that function looks fine.

[2022-05-09 14:14] bschmalhofer commented on #1745
This bug has not only bad effects for the cleanup of loader files. There are also problems when dealing with encrypted emails. Because the objects are not cleared out in _Kernel/Output/HTML/ArticleCheck/PGP.pm_ the decrypted files end up with unexpected name. E.g. _file1.txt_ is stored as _file1-1.txt_ .

[2022-05-09 15:11] svenoe commented on #1762
As said before, no ticket attributes are changed by the second customer article being created. Thus the ticket technically is unchanged. It is more of a definition question. We should have a look how similar situations are handled in different places and find some middle ground between consistency and usage needs. E.g. for the ticket search there are clearly "ticket changed" and "article created"

[2022-05-09 16:19] bschmalhofer commented on #1745
Added fallback to delete the single objects in a loop. Verified manually that `Maint::Loader::CacheCleanUp` is sensible now.
_scripts/test/PGP/EmailHandling.t_ is successful again. Closing this issue.

[2022-05-09 16:19] #1745 closed, assigned to bschmalhofer

[2022-05-10 12:43] bschmalhofer commented on #1759
Found out that using flock on mounted Docker volumes is not well supported. See https://forums.docker.com/t/docker-volume-file-permission-and-locking/24335/4. So it's back to the drawing board. Let's keep it simple and support only two cases:

1. The current standard case: _/opt/otobo_ is a Docker volume shared between a single **web** and **daemon** container
2. The S3 case where _/opt/otobo_ is

[2022-05-11 11:52] bschmalhofer commented on #1759
Checked whether it works with separate _/opt/otobo_

TODO:

- [ ] check with _/opt/otobo_ in a volume

[2022-05-11 12:45] bschmalhofer opened #1768 "Kernel::System::ACL::DB::ACL::ACLDump() ignores the passed in location in the S3 case"
When syncing to S3 is active, the created object is always stored into the hardcoded location _OTOBO/Kernel/Config/Files/ZZZACL.pm_  .
This is the correct location, but it does not honour the original interface. This should be changed such that the interface is honored. In order to stay compatible the leading OTOBO home dir must be removed from the passed in location.

[2022-05-11 13:18] bschmalhofer opened #1769 "Also sync the ZZZZUnitTest*.pm file via S3"
Currently there are still a lot of failures when running the test suite under OTOBO_SYNC_WITH_S3 and when there are more than one web server on separate directories _/opt/otobo_. One reason for the failures is that the files _Kernel/Config/Files/ZZZZUnitTest*.pm_ are not distributed accross the different _/opt/otobo_. This means that a web server can easily end up with a different config as expect

[2022-05-11 14:15] bschmalhofer commented on #1768
Tested this by starting up OTOBO with S3 syncing. Added an ACL in the GUI. Subsequently the timestamp of _ZZZACL.pm_ was updated. Looks good. Closing this issue.

[2022-05-11 14:15] #1768 closed, assigned to bschmalhofer

[2022-05-12 13:23] bschmalhofer commented on #1690
**yath** is now available in the running Docker container. Looks good. Closing this issue.

[2022-05-12 13:23] #1690 closed, assigned to bschmalhofer

[2022-05-12 15:58] StefanAbel-OTOBO opened #1774 "Values in ticket information and customer information widget is lower than labels"
When you compare in AgentTicketZoom in the Widgets "Ticket information" and "Customer information", you can see that a slight height difference is there compared between the labels and their values.

![Bildschirmfoto 2022-05-12 um 13 48 49](https://user-images.githubusercontent.com/87359203/168116312-c53f5819-9ec2-487c-9cd5-5f754fdad128.png)
<img width="424" alt="Bildschirmfoto 2022-05-12 um 13 49

[2022-05-12 17:33] bschmalhofer commented on #1764
Test suite, with OTOBO_SYNC_WITH_S3, looks mostly fine. Closing this issue.

[2022-05-12 17:36] bschmalhofer commented on #1769
Syncing the _ZZZZUnitTest*.pm_ seems to work now. But there are still 23 failing test scripts when running the test suite with OTOBO_SYNC_WITH_S3.  It can be ssumed that these failures are unrelated, thus this issue can be closed.

[2022-05-12 17:42] bschmalhofer opened #1776 "Sync the files in Kernel/Config/Files/User when S3 syncing is active"
There is still another set of config cache files in _Kernel/Config/Files/User_. Presumably these files have to be treated like the _ZZZ*.pm_ files. See the implementation in _Kernel/System/SysConfig/Base/UserSetting.pm_ .

[2022-05-12 17:46] #1764 closed, assigned to bschmalhofer

[2022-05-13 12:42] bschmalhofer opened #1777 "Resolve unit test failures when syncing with S3 is enabled"
Currently there are still 23 test scripts that are failing when syncing with MinIO is activated. These need to be acivated.

One case is _scripts/test/Console/Command/Maint/Ticket/InvalidUserCleanup.t_ . In this the following activities take place.

1. A _ZZZZUnitTest*.pm_ file. that sets the temporary article dir, is written to S3
2. The system time is set to '2019-06-15 00:00:00'
3. A _ZZZZUnitT

[2022-05-13 12:43] bschmalhofer commented on #1777
See also #769.

[2022-05-13 15:51] bschmalhofer commented on #1777
Fixed the first batch of test failures. Let's do a new run before proceeding.
... Looks good so far, down to 14 failing scripts

[2022-05-14 10:05] bschmalhofer opened #1779 "Create new certificates for the unit tests"
I notice that there are test failures in _scripts/test/SMIME.t_ . Running the test script under the Perl debugger gave some insights. The gist is that at least on the certificates has reached its end of life on 2022-05-12, that is two days ago. Also internally there are still references to OTRS. I propose to create new certificates for the unit tests.

Here are the details of one of the certificat

[2022-05-14 10:11] bschmalhofer commented on #1777
Same of the tests are failing because of expired test certificates. See #1779. So, I'm ignoring the failures in

- /opt/otobo/scripts/test/SMIME.t
- /opt/otobo/scripts/test/SMIME/EmailHandling.t
- /opt/otobo/scripts/test/Selenium/Agent/Admin/AgentTicketEmailPGP.t
- /opt/otobo/scripts/test/Selenium/Output/Preferences/Customer/SMIME.t

for now,

@svenoe : Do you have insight whether certificates nee

[2022-05-14 11:19] bschmalhofer commented on #1777
There are failures with the test test script _scripts/test/Selenium/Agent/Admin/AdminLog.t_ . These failures are kind of random, as errors appear at different lines and sometimes the test scripts succeeds. This is not surprising. _Kernel/Modules/AdminLog.pm_ uses `Kernel::System::Log::GetLog()_ which reads a copy of the log from shared memory. The web containers do not share their shared memory pe

[2022-05-14 12:09] bschmalhofer commented on #1777
Investigating the failure in _scripts/test/Selenium/Output/Dashboard/News.t_ I found that files `Kernel::System::UnitTest::Helper::CustomCodeActivate()` is not synced via S3. Reopening #1769.

[2022-05-14 15:57] bschmalhofer commented on #1777
Looks better now. One remaining failure is in _scripts/test/Console/Command/Admin/Package/Upgrade.t_ . Maybe keys containing colons, like Kernel/Config/Files/ZZZZUnitTestAdmin::Package::Upgradetest1522904334200000.pm can't be used in MinIO.

[2022-05-14 16:02] bschmalhofer commented on #1769
Looks like the files generated by `CustomCodeActivate()`are not synced. Reopening.

[2022-05-14 16:03] bschmalhofer commented on #1769
Fix the missing feature. Looks good. Closing again.

[2022-05-14 16:03] #1769 closed, assigned to bschmalhofer

[2022-05-16 08:31] svenoe commented on #1723
Hey Manschk3rl,

sorry for the long delay, we are quite busy as most of the time...

Without looking at it in the code, I would guess, that the ticket list shows the subject of the last article, not the title of the ticket (which makes some sense). If I'm not totally wrong, this should not have changed from OTRS times (where it should be reproducible via a process ticket which the agent starts). A

[2022-05-16 10:13] bschmalhofer opened #1782 "The ARCHIVE generator skips files that match a directory"
This was noticed while working on #1777. The file _var/logo-otobo,png_ was reported as a changed file, even if it hasn't been changed. The reason is that is isn't included in the ARCHIVE file. This is because the checks in _bin/otobo.CheckSum.pl have a broken check:
[code]
The reges `^var/log` matches but should not match.

[2022-05-16 11:09] bschmalhofer commented on #1777
Looked at the failure in _scripts/test/SupportDataCollector.t_ and did some cleanup. But now the failure is no longer reproducible. Let's see whether the failure occurs again.

[2022-05-16 11:14] bschmalhofer commented on #1777
Looked at the failure in _scripts/test/SupportBundleGenerator.t_ . There the failure is that the file _ZZZZUnitTestMaskPasswords.pm_ can't be unlinked because it has been removed before. This is fine. `Kernel::System::SysConfig::new()` explicitly calls `Kernel::Config::new()` which does syncing from S3. This means that _ZZZZUnitTestMaskPasswords.pm_ is already removed there, as it hasn't been ente

[2022-05-16 13:08] bschmalhofer commented on #1782
Applied the PR but inadvertently assigned the patches to #1778.

The change itself looks sane. Here is a diff of the generated ARCHIVE before and after the change.

[code]

Closing the issue.

[2022-05-16 13:08] #1782 closed, assigned to bschmalhofer

[2022-05-17 10:14] svenoe opened #1785 "Autoselect does not hide initially set queue."
Even though the queue is set correctly, it is not hidden, as the "empty" key for the queue is `||-` instead of the usual `-`. We fix this in the js code, as I assume that `||-` will not be used as a valid key somewhere else (and even if, Autoselect would have been set to 2 for this, to make any difference - quite unlikely).

[2022-05-17 10:15] #1785 closed, assigned to svenoe

[2022-05-18 06:28] rbr101 commented on #1706
Hi bschmalhofer,

It took some time before i got the admin privs for openshift. I modified the Dockerfile slightly to get it working.
This is what i did:

[code]
Then add following to the spec:

[code]

But now i have the problem that readWriteMany volumes are not supported for vsphere version < 7.0 UP3 (https://docs.vmware.com/en/VMware-vSphere/7.0/vmware-vsphere-with-tanzu/GUID-82AC812A-40E3-456

[2022-05-18 07:30] bschmalhofer commented on #1706
Hi @rbr101 ,

it's great to see work on making OTOBO run on openshift contined.

There was no special reason for having a separate container for the Daemon. It seemed more natural, as the Daemon can be stopped by simply stopping the container. We needed a persistent volume in any way, as the articles are often stored in the file systems.

Both of your options are fine.  I'm currently grinding away

[2022-05-18 12:48] rbr101 commented on #1706
Thanks bschmalhofer,

I managed to merge daemon and web into one pod and everything works fine now. Only when restoring a backup from another instance i have the following issues:

- User groups are not restored
- Ticket states are not restored
- Ticket Types are not restored

All other stuff seems to be restore, so tickets and users / processes etc
II used following command to restore:
[code]
The

[2022-05-18 15:12] bschmalhofer commented on #1776
Applied a couple of fixes, regarding:

- creating the directory Kernel/Config/Files/User
- removing obsolete user config files not only in the file system, but also in S3

Tests look better now,

[2022-05-18 16:27] niccord opened #1787 "IMAPClient->get doesn't exist"
Hi everyone,
if you have an error in the PostMaster object creation while downloading an email via the `Kernel::System::MailAccount::IMAPTLS` package, then a not supported call in the Mail::IMAPClient API is called since there is no method `get` in the client:
[code]

You can check the API here: https://metacpan.org/pod/Mail::IMAPClient

The variable `$Lines` is not used but in the `Kernel::System

[2022-05-19 11:43] bschmalhofer commented on #1776
Unittest look better now. Let's do a manual sanity check. Using the SysConfig setting  `Ticket::Frontend::PlainView` as an example as per _Kernel/Config/Files/XML/Ticket.xml_ is has UserModificationPossible=1 but UserModificationActive not set. The set up is Docker with two web containers, one daemon container, and _/opt/otobo_ is not shared.

- [x] Create agent tina with rw in the group users
- [

[2022-05-19 12:18] bschmalhofer commented on #1776
Looks like allowing user modification of sysconfig settings is not really working. For a started, the Subaction UserModified seems to be not implemented in _Kernel/Modules/AdminSystemConfiguration.pm_ .

[2022-05-19 12:51] bschmalhofer opened #1788 "Allow User Modification of SysConfig settings"
Looks like allowing user modification of sysconfig settings is not really working. For a started, the Subaction UserModified seems to be not implemented in _Kernel/Modules/AdminSystemConfiguration.pm_ .

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1776#issuecomment-1131615469_

[2022-05-19 16:21] bschmalhofer commented on #1779
Found that for this issue there is more to do than just create new private keys and new certificates.

- a specific hierarchy of trust must be followed
- test scripts use hardcoded values of the properties of the keys and certificates
- it's not easy to follow what is really tested

[2022-05-21 10:31] bschmalhofer opened #1789 "Path::Class is set up twice in bin/otobo.CheckModules.pl"
There is no actual conflict, but it is neater to have the declaration only once.

[2022-05-21 11:20] bschmalhofer opened #1790 "Storage for S/MIME certificates"
The good thing about the OTOBO_SYNC_WITH_S3 use case is that there are no shared directories. This is also the bad thing for S/MIME support. Currently there is no support for syncing the files needed for S/MIME. Two classes of files have to be distinguished:
1. Public keys and certificates
2. Private keys

Public keys and certificates can be stored in S3. They can be synchronised whenever a certif

[2022-05-21 12:15] bschmalhofer opened #1791 "Enable S/MIME tests for binary files"
In _scripts/test/SMIME.t_ there is the following TODO comment:

[code]

TODO:

- [ ] activate the tests for binary files

See also #1779 and #1790.

[2022-05-21 14:10] bschmalhofer commented on #1789
PR is applied, closing this issue.

[2022-05-21 14:10] #1789 closed, assigned to bschmalhofer

[2022-05-23 13:51] bschmalhofer commented on #1779
While we are at it, do not use OTOBORoot, OTOBORD, and OTOBOLab as the example organisations. This allows to share the tests with other forks of OTRS. The new example organisation are taken from the "Journey to the Center of the Earth" which starts with a decrypted message.

[2022-05-24 14:43] bschmalhofer commented on #1779
I have set up the chain of certificates but there are still failures. This is getting complicated. Comparing the old CA certificate from _SMIMECACertificate-OTOBORD.crt_ with the new certificate _SMIMECACertificate-Geology.crt_ I found that **CA=TRUE**   was missing. For _SMIMECACertificate-Johanneum.crt_ it was added automatically. I suppose that this is significant. So let's add them with the op

[2022-05-26 11:43] avv commented on #1173
I've got the same issue.

Trying to understand the problem I found that there is a broken email in "From" while speaking to mail server:
MAIL FROM: <@my.domain>
The same when configured ::Sendmail. I OTOBO in chroot so when femail try to send mail to localhost mail server it gets error.

Moreover, setting SendmailNotificationEnvelopeFrom is not reflected in ZZZAAuto.pm.
Just:
$Self->{'SendmailNoti

[2022-05-26 12:31] bschmalhofer commented on #1173
Hi @Aapeli,
I checked the git log of  _Kernel/System/Email.pm_  and the modules in  _Kernel/System/Email_. I found nothing suspicious. Therefore I suspect that sending notifications stopped working because of a change in the fastmail server. Maybe the configuration was changed so the bounce address is check more stringently. Apparently the bounce address in `SendmailEnvelopeFrom` has a working val

[2022-05-26 12:33] bschmalhofer commented on #1173
Hi @avv ,

I'll check what the problem is with deploying `SendmailNotificationEnvelopeFrom `.

Best regards,
   Bernhard

[2022-05-26 14:52] bschmalhofer commented on #1779
Fixed the remaining failures. Causes were:

- format conversision done without the `-formout` parameterHa
- trailing newline in the password file
- Email of the user certificate has changes
- Subject hash of the user certificate in hardcoded paths were not updated

The test suite looks find now, at least in regard to the certificates.

Closing this issue.

[2022-05-26 14:52] #1779 closed, assigned to bschmalhofer

[2022-05-27 14:30] bschmalhofer commented on #1777
Things look better after resolving the issues with SMIME #1779 .
[code]

[2022-05-27 14:54] bschmalhofer opened #1795 ""Special" character issues when using the S3 storage backend"
When running the test suite with MinIO syncing. #1777,  there are some failures that seem to be related to the characters used in the file name. An example is the test _scripts/test/Console/Command/Admin/Package/Upgrade.t _ . There we get the message:

`Could not write the key Kernel/Config/Files/ZZZZUnitTestAdmin::Package::Upgradetest3947006996400002.pm to S3 at /opt/otobo/Kernel/System/UnitTest/

[2022-05-27 15:18] bschmalhofer commented on #1795
The AWS  documentation regarding object keys is at https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html.

[2022-05-27 16:22] bschmalhofer commented on #1795
Not really understanding the AWS documentation. It's obvious that characters like ';' and '&' must be URL-encoded when used in URL. But why shouldn't they be used in object keys?  As a first approach, let's be empiric. Wenn requesting PUT on 'http://minio:9000/otobo-bucket-20220524a/OTOBO/Kernel/Config/Files/ZZZZUnitTestAdmin::Package::Upgradetest1181006654200002.pm' then MinIO returns a 403. This

[2022-05-28 11:15] bschmalhofer commented on #1795
A lot of things are wrong in _scripts/test/Console/Command/Admin/Package/Upgrade.t_ .

- the custom code was never executed
- the package upgrade is never done, see #1796

[2022-05-28 11:17] bschmalhofer opened #1796 "scripts/test/Console/Command/Admin/Package/Upgrade.t does not test package upgrade"
it just verifies that the sample package is not upgraded because it is not verified.

TODO:

- [ ] add a test case where the package is actually upgraded

[2022-05-28 14:14] bschmalhofer commented on #1795
Found that there is not really a need to support fancy characters in the object keys. Adapted the test _scripts/test/Storage/S3.t_ accordingly. But in that test script we should check whether we can store file names that were sanitized by FilenameCleanup. This is important for the article storage.

Here is the clean up from ArticleStorageFS.pm:

[code]

[2022-05-28 16:27] bschmalhofer commented on #1795
Two findings:

- [x] ArticleStorageS3.pm should pass `NoReplace => 0` to `FilenameCleanUp()` , just like ArticleStorageFS.pm
- [x] In the S3 object key '+' is problematic. Replace it too with an underscore.
- [x] same with the character '#'

[2022-05-30 19:29] bschmalhofer commented on #1777
Still some test failures:

[code]

[2022-05-31 11:30] bschmalhofer commented on #1777
The sporadic failures in _scripts/test/Selenium/Agent/Admin/AdminPGP.t_, _scripts/test/Selenium/Agent/Admin/AdminSMIME.t_                                     , and _scripts/test/Selenium/Agent/Admin/AgentTicketEmailSMIME.t_ all have a common cause. The relevant dirs are not shared across the containers running the OBOTO web server. The files could be shared via S3, just like the article data, but

[2022-05-31 11:31] bschmalhofer opened #1799 "Key and certificate management in the S3 case"
The sporadic failures in

- _scripts/test/Selenium/Agent/Admin/AdminPGP.t_
-  _scripts/test/Selenium/Agent/Admin/AdminSMIME.t_
- _scripts/test/Selenium/Agent/Admin/AgentTicketEmailSMIME.t_

all have a common cause. The relevant dirs are not shared across the containers running the OBOTO web server. The files could be shared via S3, just like the article data, but it is not obvious whether this is

[2022-06-01 11:28] bschmalhofer opened #1801 "Manual adaptions of Kernel/Config.pm when OTOBO_SYNC_WITH_S3 is active"
In the current use case it is fairly usual to make  manual adaption to _Kernel/Config.pm_ . In an environment where containers are started frequently and _/opt/otobo_ is not share this becomes less manageable. Some control can be exerted via the use of environment variables. But this isn't very convenient either.

The currently recommended approach is to use locally built Images where _Kernel/Conf

[2022-06-01 13:53] bschmalhofer commented on #88
`XML::Parser` is also used in `Kernel::System::XML` which adds another layer of brokenness. Examples of the brokenness are now included in _scripts/test/XML.t_ .

[2022-06-01 14:36] bschmalhofer opened #1802 "Unit test regression in CmdOutput.t"
The output is:

[code]
Looks like double space are squashed somewhere. It would be good to find out whether the squashing is intended before fixing the test script.

[2022-06-01 14:48] bschmalhofer commented on #1799
The sporadic failures in

- _scripts/test/Selenium/Agent/Admin/AdminPGP.t_
- _scripts/test/Selenium/Output/Preferences/Customer/SMIME.t_

were due to the same problem. Skip these test scripts as well.

[2022-06-01 15:11] bschmalhofer commented on #1777
There is still some work to do:
[code]

[2022-06-03 19:20] bschmalhofer commented on #1777
Another run:

[code]

[2022-06-04 10:54] bschmalhofer commented on #88
Enhanced the documentation for Kernel::System::XML and added some tests.

[2022-06-05 20:00] bschmalhofer opened #1808 "Update the Docker Perl base image to Perl 5.36"
A shiny new Perl 5.36 has been released, https://perldoc.perl.org/5.36.0/perldelta. The official Docker image is available on Docker hub, https://github.com/perl/docker-perl/blob/a2d458212582f2b800bb8f1af273b9baa4ac38c8/5.036.000-main-bullseye/Dockerfile . The regular official image is a bit on the large side, but the risk of own build based on Alpine is deemed to risky, https://domm.plix.at/perl/

[2022-06-06 11:44] bschmalhofer commented on #1808
Ran the test suite under Docker with Perl 5.36.

[code]
The failures have been seen with Perl 5.34 too, so we assume that they are not related to the version of Perl.

[2022-06-06 11:48] bschmalhofer commented on #1808
PR is merged. Closing this issue.

[2022-06-06 11:50] bschmalhofer opened #1810 "Unittest failure in Selenium/Customer/DynamicFields/DynamicFieldDatabase.t"
This is a new failure. Should be fixed for the next patch level release.

[2022-06-06 11:50] #1808 closed, assigned to bschmalhofer

[2022-06-06 15:59] fraenki opened #1811 "Log spam: Exiting subroutine via last at..."
When using nested LDAP groups in Otobo 10.1.4, the log is spammed with debug information on every logon:

[code]

Is there a setting to disable these messages, or is this a bug?

[2022-06-07 08:56] bschmalhofer commented on #1811
Hi Frank, @fraenki ,

this looks like a bug to me. The label `MATCH` is used for exiting the loop before the label is declared. A quick fix could be to move the line 965 `MATCH:`to the line 957, just before `for my $Value ( @{$MemberValues} ) {`.

But in #1573 I have a refactored version of this code. Could you check  https://github.com/RotherOSS/otobo/blob/issue-%231573-ldap_tidying_take3/Kernel/

[2022-06-07 10:35] bschmalhofer commented on #1802
This was just a side effect of not quoting the argument of the shell command `echo`. Test looks fine now. Closing this issue.

[2022-06-07 11:25] bschmalhofer commented on #1810
This might be a sporadic failure. I ran  this as a single test script and it worked.

[2022-06-07 12:08] StefanAbel-OTOBO opened #1813 "Calendar Appointments not visible when SessionUseCookie not activated"
When the System Configuration setting "SessionUseCookie" is not activated, you can not see any appointments in any of your calendars.
If you create them, they are created properly (e.g. when you export the calendar you see them in the text file), but they are not shown.
When activating SessionUseCookie, the appointments can be seen.

Tested in 10.1.4

[2022-06-07 14:24] bschmalhofer commented on #1777
Not really sure how the test script _scripts/test/Package/ConfigurationCleanup.t_ works and what it acutally tests. I tried several times running the script abain and no errors were reported. A hunch is that the removed files had been recreated for some reason. I can*t be Kernel::Config::SyncWithS3() as that method does not consider the files in _Kernel/Config/Files/XML_ . It might be that package

[2022-06-07 18:45] bschmalhofer commented on #1777
Latest run of the test suite with two web containers:

[code]

[2022-06-08 06:00] stefanhaerter commented on #1810
Do you have further information about the failure?

[2022-06-08 07:55] svenoe commented on #1813
Doesn't have a high prio in my eyes. We will have to have a look if there are technical reasons for this, maybe.

[2022-06-08 11:58] bschmalhofer commented on #1810
Here is the log output from two of my latest test runs. Not that the exception occurred at different locations.

[issue_1810.log](https://github.com/RotherOSS/otobo/files/8861261/issue_1810.log)

[2022-06-08 14:19] bschmalhofer opened #1815 "Use the load balancer when running the unit tests"
This is something I noticed when looking at _scripts/test/SupportDataCollector.t_ for #1777. When running `docker-compose up -d --scale web=2` I see as expected the two containers otobo_web_1 and otobo_web_2. When running the test script I can access the webserver as the host `web`. Naively I expected that the requests from the test script would be more or less evenly split up between otobo_web_1

[2022-06-08 17:10] stefanhaerter commented on #1810
I've seen this problem earlier but couldn't reproduce it reliably. It occurs while testing the DynamicField of type Database within the following steps:

- Searching an element via the standard input field and clicking it so that it is added as a result element
- Searching an element via detailed search and clicking it in the resulting table so that it is added
- Verifying that the added elements

[2022-06-09 07:11] ExecuteGK opened #1816 "Add indication for inherited Services"
When working with default customer user services, the following situation can arise and cause confusion:

Services in default customer user services:
SERVER::NEW SERVER
SERVER::REMOVE SERVER
SERVER::MODIFY SERVER

Services for a specific Customer User:
SERVER::NEW SERVER

The resulting active services for the Customer User are the explicitly set services ONLY. No additional services from the defau

[2022-06-09 07:14] ExecuteGK opened #1817 "Add debug capability for ACLs"
Add a debug capability for ACLs.

Troubleshooting ACLs is quite difficult. A feature that can be activated for specific user (customers or agents) and specific modules would be very helpful in solving ACL issues.

Details to be displayed should be the ACLs triggered and the values evaluated.

Regards,

Sebastian Dietz

[2022-06-09 07:47] svenoe commented on #1816
Hi Sebastian,

thanks for your suggestion. I see that counting customer user specific services as additive could be a better version for some systems. In bigger environments probably you would want to have the possibility to set services based on CustomerUserGroups even. I will put in in the list of suggestions, as we are quite booked, atm, and I don't see this having a really high priority, it pr

[2022-06-09 07:48] #1816 closed, assigned to nobody

[2022-06-09 07:52] svenoe commented on #1817
Hi Sebastian,

please search for TicketACL::Debug in the SysConfig. You will get more details logged if you enable it (note that the MinimumLoglevel has to be low enough for the TicketACL-Loglevel).

I hope that helps, best regards, Sven

[2022-06-09 07:52] #1817 closed, assigned to nobody

[2022-06-09 10:17] bschmalhofer commented on #1739
A migration guide of openssl 1.1.x  to opensssl 3.0.x is available at https://www.openssl.org/docs/man3.0/man7/migration_guide.html

The relevant part seems to be:

[2022-06-09 10:23] bschmalhofer commented on #1795
The code has been adapted. Currently there are no known problems with unsupported characters. Closing this issue.

[2022-06-09 10:23] #1795 closed, assigned to bschmalhofer

[2022-06-09 10:38] bschmalhofer commented on #1776
Syncing User files seems to work. Support in the WebApp is questionable, see #1788. Closing this issue.

[2022-06-09 10:38] #1776 closed, assigned to bschmalhofer

[2022-06-09 10:40] bschmalhofer commented on #1759
No complaints so far. Closing this issue.

[2022-06-09 10:40] #1759 closed, assigned to bschmalhofer

[2022-06-09 16:02] daxim commented on #1757
Cannot repro on either 10.0.16 or git HEAD. Switching around between DB and FS reliably reflects the same filenames that were initially generated for article items if they don't already have a name, i.e. `file-1`, `file-2`.

I have identified the additional trailing `-1` comes from <https://github.com/RotherOSS/otobo/blob/895d4961a8fea075d48e81670f03cc409c21c96c/Kernel/System/Ticket/Article/Backen

[2022-06-09 16:42] bschmalhofer commented on #1739
Getting a test system up an running was way harder than expected:

- Ubuntu 22.04 in VirtualBox failed because of disk space ran out
- Installing openssl 3.0.3 from source failed because the web container did not start up
- Finally created a Perl base image with Debian sid, which has openssl 3.0.3 included

@svenoe: Is there a virtual otobo installation that runs under Ubuntu 22.04 ? This would ha

[2022-06-10 13:11] StefanAbel-OTOBO commented on #1813
I disagree, as you can't use the whole calendar module in case you have this option activated - or even worse, you rely on the calendar and don't see an appointment you should be attending.

[2022-06-10 13:52] daxim opened #1818 "code policy - prohibit unused variables"
https://github.com/RotherOSS/CodePolicy/issues/74 exposed a number of policy violations.

[2022-06-10 14:02] bschmalhofer commented on #1739
With openssl 3 we could propably get by with storing DER formatted certificates in the store. But let's stay consistent and convert all certificates to PEM.
The first fix is to require `-inform pem` when checking for PEM formats.

There is another changed behavier when checking whether a pfx file is a der file. openssl 1 immediately gave an error in that case. openssl 3 ask for a password first, w

[2022-06-10 14:47] bschmalhofer commented on #1739
And another divergence. It looks like the sample pfx files were created by obsolete algorithms, e.g. RC2-40-CBC . These algorithms are still support, but they must be enabled with the option `-legacy`. See https://www.openssl.org/docs/manmaster/man7/migration_guide.html#Legacy-Algorithms . My gut feeling is that these algorithms are deprecated for a reason and should not be enabled by default, if

[2022-06-10 14:48] bschmalhofer opened #1819 "Decide about legacy algorithm support in SMIME handling"
And another divergence. It looks like the sample pfx files were created by obsolete algorithms, e.g. RC2-40-CBC . These algorithms are still support, but they must be enabled with the option `-legacy`. See https://www.openssl.org/docs/manmaster/man7/migration_guide.html#Legacy-Algorithms . My gut feeling is that these algorithms are deprecated for a reason and should not be enabled by default, if

[2022-06-10 19:20] bschmalhofer commented on #1739
The test suite passed with both, openssl 1 and openssl 3. Closing this issue.

[2022-06-10 19:20] #1739 closed, assigned to bschmalhofer

[2022-06-13 09:35] svenoe opened #1821 "Prevent code injection into the ACLs. Thanks to Tim Püttmanns (maxence)."
Some strings could be modified by the OTOBO admin to contain perl code.

[2022-06-14 14:45] svenoe commented on #1752
Should be changed, but only for 11.0, because of a too high risk with duplication issues.

[2022-06-15 08:18] #1821 closed, assigned to svenoe

[2022-06-15 09:28] svenoe commented on #1723
Hi Manschk3rl,

we discussed this a bit and decided to leave it like that for now. The background here is, that the title can hold information which the CustomerUser should not see. (If a ticket is opened with an article not visible to the customer, the title is still set, thus OTOBO checks whether there are articles visible to him or her, and shows their subject, usually.)

Even though I agree th

[2022-06-15 14:20] #1321 closed, assigned to nobody

[2022-06-17 08:00] Manschk3rl commented on #1723
Hi,

OK, thank you for the information. I will try to build a kind of trigger for our system to solve the "problem" for us.

[2022-06-23 16:04] doorbird-tech opened #1824 "Permission for AgentTicketZoom falsely revoked after setting up ACLs for Agent Ticket Print"
I have set up the following ACLs:

**060 - Hide Print Button for all:**
Match:
 - User
  -- Role → regex → .+

Possible Not:
- Action
 -- exact match → AgentTicketPrint

**061 - Show Print Button for stats and admin:**
Match:
 - User
  -- Role → regex → admin|stats

Possible:
- Action
 -- exact match → AgentTicketPrint

As soon as I set the 61 to valid. I can no longer get Zoom on any Tickets ("Th

[2022-06-23 16:52] svenoe commented on #1824
Possible excludes any other Actions. For what you want please use PossibleAdd.

Also please visit our [forums](https://otobo.de/en/forums/otobo/otobo-forum/) with questions, though, github should stay reserved for the development...

Thanks, and best regards, Sven

Edit:
User: [NotRegex]admin|stats
PossibleNot: AgentTicketPrint

Is an all in one solution ;)

[2022-06-23 16:52] #1824 closed, assigned to nobody

[2022-06-24 06:55] geralwo opened #1825 "Add unit tests for CheckFollowUpModule "Attachments" and "RawEmail""
The CheckFollowUpModules "Attachment" and "RawEmail" does not recognize Ticketnumbers in attachment files thus NDRs for example create a new Ticket instead of creating a new article in the originating Ticket.

[2022-06-27 08:56] GritRother-OTOBO opened #1826 "Switch ticket age to create date in ticket lists"
It would be great if the ticket age would switch to the ticket creation date in all ticket lists (customer and agent interface) after e.g. 24 hours for easier readability.

[2022-06-28 07:05] geralwo opened #1828 "Filter valid and unvalid Agents in Action=AdminUser"
For organisations with many agents, it would be really helpful to have the ability to hide valid/unvalid agents from the overview.

Maybe with a checked checkbox to only show valid agents as default.
Unchecking the checkbox shows all agents independed of their valid state.

[2022-06-29 07:34] stefanhaerter opened #1829 "Order of libs in Kernel/System/UnitTest.pm is incorrect"
In Kernel/System/UnitTest.pm, L.232, the libs in TAP::Harness-new() are in the following order:

lib => [ $Home, "$Home/Kernel/cpan-lib", "$Home\Custom" ],

This prevents loading files located in Custom, so the order should be corrected.

[2022-06-29 07:39] bschmalhofer commented on #1829
@stefanhaerter : Yes, please fix this.

[2022-06-29 07:45] stefanhaerter commented on #1829
Fix merged (https://github.com/RotherOSS/otobo/pull/1830)

[2022-06-29 07:45] #1829 closed, assigned to stefanhaerter

[2022-07-01 14:03] GritRother-OTOBO commented on #1128
+1 !

[2022-07-01 14:06] GritRother-OTOBO opened #1831 "Add the possibility to filter ticket lists to new+open"
Currently, ticket lists can be filtered either to show all new OR open tickets. It would be great if it would be possible to combine these two filters.

[2022-07-04 15:44] stefanhaerter commented on #1826
Note for Development:
https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/Output/HTML/TicketOverview/Small.pm#L531
If-Else-Block with Kernel::System::DateTime->Delta (assuming that all tickets have their creation date in the past)

[2022-07-05 11:59] Manschk3rl opened #1834 "GenericAgent CMD missing"
Hi,
i updated from otobo 10.1.2 to 10.1.4. Now my scripts don't work anymore. After looking around a bit I found out that under "genericagent" > "execute ticket commands" the menu item "cmd" is missing. I didn't find anything in the changelog or an alternative so I guess it's a bug.
https://doc.otobo.org/manual/admin/10.1/en/content/processes-automation/generic-agent.html#execute-ticket-commands

[2022-07-05 12:00] Manschk3rl commented on #1834
![image](https://user-images.githubusercontent.com/4741314/177322636-b3cdf627-42ce-413a-b4a0-aea07b4bdee2.png)

Now:
![image](https://user-images.githubusercontent.com/4741314/177322553-6071473f-c44c-4cd6-8132-c840d4b441b1.png)

[2022-07-05 12:10] svenoe commented on #1834
Hi Manschk3rl,

it is intended and can be activated again: https://otobo.de/en/otobo-10-1-3/#Admin-Schwachstelle

The whole topic is not completely settled yet, OTRS had a lot of places like this - in hindsight it might have been better to just change all of it with the release of the version 11, on the other hand this way people are at least aware...

Best regards

[2022-07-05 12:10] #1834 closed, assigned to nobody

[2022-07-06 11:05] stefanhaerter commented on #1447
So far it appears to be the case that, if Process and Activity are enabled vor CustomerTicketZoom, each appears twice in the information widget. This is due to the fact that they are rendered once via the dynamic fields handling and once via the code marked above. So I would suggest to remove the code fragment in Kernel/Modules/CustomerTicketZoom.p, L.1713ff, but before it has to be checked if the

[2022-07-06 12:19] stefanhaerter commented on #1813
Reason seems to be in https://github.com/RotherOSS/otobo/blob/rel-10_1/var/httpd/htdocs/js/Core.Agent.AppointmentCalendar.js#L523. In my oppinion, https://github.com/RotherOSS/otobo/blob/rel-10_1/var/httpd/htdocs/js/Core.AJAX.js#L201 (function GetAdditionalDefaultData) should be used here, but currently, it is a private function (meaning it is only available within Core.AJAX.js).

[2022-07-08 08:56] OlliW opened #1838 "DynamicField Database - Type MSSQL ODBC"
i get the error, when i will type some inputs in the DynamicField:
`malformed or illegal unicode character in string [\xfchle PM6 al], cannot convert to JSON at /opt/otobo/Kernel/System/JSON.pm line 105.
`
OTOBO 10.0.16

[2022-07-12 06:15] StefanRother-OTOBO commented on #1838
Hi Olli,

I think you need to configure the right charset (utf-8) inside freetds.conf or odbc.conf.
Did you try this?

Untested:

1.) Open freetds.conf.
2.) add client charset = UTF-8 in your connection settings.

Thanks,

Stefan

[2022-07-12 06:15] #1838 closed, assigned to nobody

[2022-07-12 07:39] mbagnus opened #1839 "Calendar feature - Add an appointment to multiple calendars"
Currently,
when you create a new appointment on OTOBO calendar (either from a ticket view or directly in calendar),
you can put the appointment only in one calendar, even if the selection box seems to be able to accept multiple selection.

Is it possible to enable the multiple selection in the calendar box, and add the appointment to all selected calendars?

Thank you

[2022-07-12 07:42] mAAnu2 opened #1840 "Swap logout and preferences action in customer navigation"
Currently, clicking on the profile icon logs the user out. The function to open the preferences is an additional function under the logout / profile icon.

![image](https://user-images.githubusercontent.com/27149965/178425903-05154581-52bc-4a21-b389-db04e5945b47.png)

![image](https://user-images.githubusercontent.com/27149965/178425818-a8d0e2e3-a002-4a0d-8675-ac1397a09925.png)

For me it is very

[2022-07-14 08:01] StefanAbel-OTOBO commented on #1831
I guess the general problem is that you only can filter for one value. Multiple values would be great in general, not only for the state.

[2022-07-14 13:21] stefanhaerter commented on #1531
Besides the changes I already made, it seems to be necessary to alter the code in https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/Output/HTML/Layout.pm#L5938 in the following way:

`$Row->{Key}      = '-';` to `$Row->{Key}      = substr $Row->{Key}, 0, (length($Row->{Key}) - length('_Disabled'));`

because in Core.UI.TreeSelection.js the options are sorted alphabetically and the Key '-' ca

[2022-07-14 14:36] daxim commented on #1725
Replacement is <https://fullcalendar.io/docs/luxon2>, but that requires upgrading Fullcalendar to v5 first, which doesn't have the dependent `fullcalendar-scheduler` as a single package any more: https://fullcalendar.io/docs/v4/upgrading-from-v3#scheduler

[2022-07-15 11:10] bschmalhofer commented on #1725
@daxim : Are fullcalender and luxon2 the JS libraries that you would use for new projects? If so, than I would second to upgrade to the current versions. If you would use other libraries, then I would evaluate first whether OTOBO can migrate to alternative libraries.

[2022-07-18 11:27] stefanhaerter opened #1843 "Reminder for adding Debug modules"
E.g. Data::Dx

[2022-07-18 13:01] bschmalhofer opened #1844 "Enhance quick_setup.pl so that a test customer user is created"
Just to avoid the hassle of creating a customer test user manually when developping and testing the customer interface.

[2022-07-18 14:10] bschmalhofer commented on #1844
Got started on that. It kind of works, but I still get errors during destruction:

[code]

[2022-07-19 12:49] stefanhaerter commented on #1663
So far, it works to avoid saving the errorneously configured field, but I can't manage to show a tooltip. It is a bit of a problem to tie the tooltips to every searchfield without a counter. I'll have to think about this a bit longer.

[2022-07-20 11:14] bschmalhofer opened #1848 "Printing Tickets with Unicode codepoints outside basic multilingual plane"
I added the following content to a note:

[code]
This content looks fine when viewed in the WebGUI. But when printed there are no asian characters and no tree. This is in CustomerTicketPrint and in AgentTicketPrint.

The installation is HEAD of rel-10_1 running under Docker.

[2022-07-20 12:52] bschmalhofer opened #1849 "Kernel::System::DynamicField::Backend::RandomValueSet() does not support ObjectName"
My expectation would be that Kernel::System::DynamicField::Backend::RandomValueSet() behaves mostly like  Kernel::System::DynamicField::Backend::ValueSet(), only that a random value is used. But RandomValueSet() does not support the parameter `ObjectName`.

Furthermore the design is a bit strange. It is fine that that dynamic field classes have their specific random values. But then I propose that

[2022-07-21 08:24] daxim commented on #1725
Luxon definitely, cursory survey about calendaring is inconclusive, looks all the same to me without getting into the weeds. I think in order to minimise disruption it makes sense to stick with Fullcalender.

[2022-07-21 15:37] acorderor opened #1850 "CustomerTicketOverview Legacy Options"
In Sysconfig there are still some legacy options to configure available fields into CustomerTicketOverview screen, but those do not work as expected and were replaced by CustomerTicketCategories, so them Need to be Removed.

Options are

Ticket::Frontend::CustomerTicketOverview###Owner

Ticket::Frontend::CustomerTicketOverview###Queue

Ticket::Frontend::CustomerTicketOverview###DynamicField

[2022-07-21 16:31] cchance27 opened #1851 "Docker Versions for ARM64"
I wanted to run otobo on a Arm64 but it seems theirs no copy of the current images built for arm?

[2022-07-21 17:06] bschmalhofer commented on #1851
Hi Chris,
yes, there are no images prepared for Arm64. I also haven't looked into what would be needed to create them.
But, I suppose that roll your own images. The Docker files are located in https://github.com/RotherOSS/otobo. I also use the script _bin/docker/build_docker_images.sh_ for building locally.

Please keep us posted on your progress. Out of curiosity, what is the use case for running

[2022-07-22 11:11] stefanhaerter commented on #1850
I removed the Queue and Owner Options, but currently I'm unsure abut DynamicField because it is used in Kernel/Output/HTML/TicketOverview/CustomerList.pm alongside with Category variables. I'll come back to this after getting a better understanding on how they interact.

[2022-07-22 14:35] astapelfeld opened #1852 "Docker + OIDC doesn't work behind a Proxy"
I'm getting this error message when I try to use OIDC Auth (AzureAD) behind a proxy:

`[Error][Kernel::System::OpenIDConnect::_ProviderDataGet][599] Error in retrieving OpenIDConfiguration: 500 Can't connect to login.microsoftonline.com:443`

I created a file .docker/config.json with the proxy config in the home directory of the user that deploys the containers. These settings are passed to the co

[2022-07-22 15:13] svenoe commented on #1852
Hi astapelfeld,

spontaneously I would say it is probably a good idea to have a configurable proxy specific to the OIDC server anyways. We have not implemented this, and it would be the right place. We will add an option for this to the Config, I think.

Best regards, Sven

[2022-07-26 15:19] FusionCreations opened #1853 "Email not working"
I am not able to use email services of otobo. which is really bothering me and restricting the capabilities of otobo.
is there any help available ?

[2022-07-27 06:38] svenoe commented on #1853
Hi FusionCreations,

please visit our [forums](https://otobo.de/en/forums/otobo/otobo-forum/) for general questions. Github is for the development only.

In any case you will have to provide a more detailed description of what you are doing and where it fails.

Thanks for your understanding and best regards, Sven

[2022-07-27 06:38] #1853 closed, assigned to nobody

[2022-07-27 09:58] jambondeparme opened #1854 "Hide the "Change password" box in CustomerPreferences when using OIDC"
When using OIDC to authenticate Customer users, the "Change password" box still appears in CustomerPreferences.

Adding _OpenIDConnect_ to line 62 of Kernel/Output/HTML/Preferences/Password.pm seems to fix the issue:

[code]

[2022-07-27 12:59] FusionCreations commented on #1853
Thanks [svenoe](https://github.com/svenoe)
will visit the forums

[2022-07-28 12:00] bschmalhofer commented on #225
There is another reason for keeping _Kernel/System/Auth/HTTPBasicAuth.pm_ and _Kernel/System/CustomerAuth/HTTPBasicAuth.pm_. These modules are basically checking the PSGI parameter REMOTE_USER. This parameter does not necessarily come from classic basic authentication. It might also come from an proxy webserver or from a Plack middleware.

[2022-07-29 07:39] bschmalhofer commented on #1683
Putting this into the wishlist as moving to Plack::Request requires more effort than expected. By design Plack::Request is immutable. But `Kernel::System::Web::Request::LoadFormDraft()` wants to modify the underlying query object.

[2022-07-29 08:58] bschmalhofer opened #1855 "Fix test failures related to new minor version 11.0"
Basically the same things that had to be done for going from 10.0.x to 10.1.x. See #304.

[2022-07-29 10:02] bschmalhofer commented on #1252
Kernel::System::Time removed. The test suite showed no new errors. Closing this issue.

[2022-07-29 10:02] #1252 closed, assigned to bschmalhofer

[2022-07-29 10:13] bschmalhofer commented on #1855
Tested with:
prove -v -I . -I Kernel/cpan-lib/ scripts/test/Main.t scripts/test/Package.t scripts/test/SysConfig/DB/DefaultSettingListGetCategory.t

The result looks fine, closing this issue.

[2022-07-29 10:13] #1855 closed, assigned to bschmalhofer

[2022-07-29 10:30] bschmalhofer commented on #437
DBD::mysql 4.043 was released more than five years ago. I suppose that this version is now available in the usual LTS Linux distributions.

[2022-07-29 11:10] bschmalhofer commented on #1695
See also the discussion in #449.

[2022-07-29 11:24] bschmalhofer commented on #209
Accepting that this won't be implemented in the foreseeable future.

[2022-07-29 11:47] daxim commented on #437
https://pkgs.org/search/?q=dbd-mysql https://repology.org/project/perl:dbd-mysql

ok/nok|distro that is still somehow supported|rel. year|DBD-mysql version
------|--------------------------------------|---------|-----------------
✘|Debian 9 oldoldstable|2017|4.041
✔|Debian 10 oldstable|2019|4.050
✘|CentOS 7|2014|4.023
✔|CentOS 8|2019|4.046
✔|OpenSUSE 15.3|2021|4.046
✘|Ubuntu 14|2014|4.025
✘|Ubuntu

[2022-07-29 12:04] bschmalhofer commented on #437
Thanks to @daxim for looking that up. So instead of requiring DBD::mysql 4.043 or higher, I'd rather put DBD::mysql 4.042 on the blacklist.

[2022-07-29 12:26] bschmalhofer commented on #437
DBD::mysql 4.042 is now on the blacklist. The SQL preprocessing has been removed. The test suite looks fine, and a quick sanity test looked fine too. Closing this issue.

[2022-07-29 12:26] #437 closed, assigned to nobody

[2022-07-29 12:33] bschmalhofer commented on #1843
Added Data::Dump and Data::Dx in the first round. Keeping this issue open in case that there are more suggestions.

[2022-07-29 12:37] bschmalhofer opened #1860 "Preparations for switch from DBD::mysql to DBD::MariaDB"
My hunch is that DBD::MariaDB is a better interface for MySQL and MariaDB than DBD::mysql. It should be investigated whether it makes sense to switch. See also #437.

[2022-08-04 12:27] stefanhaerter commented on #1831
As far as I have looked into the code, the backend (Kernel/System/Ticket/TicketSearch.pm) offers the ability to filter for multiple values. I changed the processing of values from the web request a bit so that comma-separated id values are splitted and treated as array (as TicketSearch requires arrays anyways).

Also, I enabled multiselect for the state filter dropdowns I could find in the backend

[2022-08-04 13:14] stefanhaerter commented on #1828
I would suggest to think about including filters here, like the ones that are already present in the ticket overview screens. @svenoe what do you think?

[2022-08-04 13:49] stefanhaerter commented on #1849
As far as I understand it, https://github.com/RotherOSS/otobo/blob/f720e81f0043f38fb570b6705d7932cbf9ac36c5/Kernel/System/DynamicField/Backend.pm#L2060 calls the RandomValueSet()-function of the respective backend, and at least BaseText calls its ValueSet(): https://github.com/RotherOSS/otobo/blob/f720e81f0043f38fb570b6705d7932cbf9ac36c5/Kernel/System/DynamicField/Driver/BaseText.pm#L607

I haven'

[2022-08-05 09:41] stefanhaerter commented on #980
Is there any specific action or setting in which this is likely to occur?

[2022-08-05 10:58] stefanhaerter commented on #991
Can it be assumed that the wanted FullName does not contain more than two occurrences of ###, like in `DynamicFieldScreens###Framework_Hash###Ticket::Frontend::AgentTicketClose###DynamicField`? Then maybe it could a possibility to do something like this:

`FullName = FullName.substr(0, FullName.indexOf(FullName.firstIndexOf('###') + 1, '###'));`

This would find the second occurrence of ###.

[2022-08-05 11:58] stefanhaerter commented on #787
Does 'default calendar' mean to leave the input blank? Or is there a sysconfig option for a default calendar?

[2022-08-05 12:06] bschmalhofer opened #1862 "Incorrect default for TimeUnit in ProcessMangement"
@StefanAbel-OTOBO  found this bug and provided a PR in https://github.com/RotherOSS/otobo/pull/1861

[2022-08-05 12:13] bschmalhofer commented on #1862
The PR is merged, closing this issue.

[2022-08-05 12:14] #1862 closed, assigned to bschmalhofer

[2022-08-05 14:45] StefanAbel-OTOBO commented on #787
@stefanhaerter Default calendar is when you do not select a calendar explicitely, then the _TimeWorkingHours_, the _TimeVacationDays_ and the _TimeVacationDaysOneTime_ from _Core::Time_ (instead of e.g. _Core::Time::Calendar1_) are taken by default

[2022-08-09 14:52] markus-gitdev opened #1863 "Fehlende Tabellen stats_report & data_storage nach Migration auf OTOBO >= 10.1"
Hallo,

Wir haben heute ein OTRS 6, das auf einer Oracle-DB läuft auf eine aktuelle OTOBO 10.1.4 (weiterhin mit einer Oracle-DB) migriert und da ist uns unter anderem aufgefallen, dass die Tabellen ``stats_report`` und ``data_storage`` fehlen und daher das System Log mit Fehlermeldungen gefüllt wird.

Nach einer Recherche haben wir herausgefunden, dass diese beiden Tabellen mit 10.1 neu dazu gekom

[2022-08-09 15:31] bschmalhofer commented on #1863
Hallo Markus,

ich vermute das die fehlenden Tabellen ein Effekt der wenig getesteten Migration von Oracle nach Oracle ist. Die neuen Tabellen `stats_report` und `data_storage`sind in _scripts/database/otobo-schema.xml_ enthalten.  Bei einer "normalen" Migration werden die zwei Tabellen also in Schritt 1 der Migration, https://doc.otobo.org/manual/installation/10.1/de/content/migration-from-otrs-6

[2022-08-09 15:50] markus-gitdev commented on #1863
Hallo Bernhard,

Danke für die Rückmeldung, dann könnte man den Hinweis vielleicht am Ende von ["Migration from Oracle to Oracle"](https://doc.otobo.de/manual/installation/10.1/en/content/migration-from-otrs-6.html?highlight=oracle#migration-from-oracle-to-oracle) hinzufügen?

Liebe Grüße,
Markus

[2022-08-09 16:17] markus-gitdev commented on #1240
### Workaround

To work around this problem, just export the processes where you use ``OTRS`` in e.g. a transition action, open the ``.yml``-file in an editor of your choice and replace ``OTRS`` with ``OTOBO``.
Use the ``Confguration Import`` in the ``Process Management`` of OTOBO and make sure you have activated ``Overwrite existing entities``.
After that ``Deploy All Processes`` and it works aga

[2022-08-10 12:11] stefanhaerter commented on #1722
I updated the jquery-ui from 1.12.1 to 1.13.2. First, I adjusted the paths. Afterwards, I committed the js and css files.

The jquery-ui homepage appears to offer different themes. An error in customer user selection seemed to occur from a wrong theme. As far as I could manage to find out, the right one is **Smotheness**.

Site note: Currently (or at least in my browser) the select element on the

[2022-08-10 16:13] #1863 closed, assigned to nobody

[2022-08-11 07:44] stefanhaerter commented on #1722
Merged.

[2022-08-11 07:44] #1722 closed, assigned to bschmalhofer

[2022-08-11 08:03] stefanhaerter commented on #1341
Merged.

[2022-08-11 08:03] #1341 closed, assigned to nobody

[2022-08-11 08:11] stefanhaerter commented on #1813
Merged.

[2022-08-11 08:11] #1813 closed, assigned to nobody

[2022-08-11 13:46] stefanhaerter commented on #1722
Another site note: It is important to check the minified css as well as the minified js for the selected modules. So far, the following list is to be included for Otobo:

- Widget
- Position
- :data Selector
- disableSelection
- :focusable Selector
- Keycode
- scrollParent
- :tabbable Selector
- uniqueId
- Draggable
- Droppable
- Resizable
- Sortable
- Autocomplete
- Datepicker
- Menu
- Mouse

[2022-08-12 07:15] bschmalhofer commented on #1735
It's not only for evading the undefined case. Lets consider the case where a ConfigMatch already is in the database and a ConfigMatch had been passed to the ACLUpdate() method. Then a String would be compared against a hash reference, which does not make sense. So I second to to use the $ConfigMatch and $ConfigChange variables  for the comparison.

[2022-08-12 09:13] stefanhaerter commented on #1831
@GritRother-OTOBO @StefanAbel-OTOBO Would you consider the possibility to select multiple filters with pressing the Strg key (Windows / Linux) or the command button (Mac) a good option?

[2022-08-12 09:47] stefanhaerter commented on #385
Due to the use of outerWidth() in https://github.com/RotherOSS/otobo/blob/0f1ef96fc5c8d14e80d70378cd0c720a8cbb7617/var/httpd/htdocs/js/Core.UI.InputFields.js#L1335, this seems to be related to #1641. The reason is that, to my best knowledge, outerWidth() does not work reliable on hidden elements (the select is hidden at this point of initialization).

[2022-08-12 11:49] stefanhaerter commented on #1735
Merged.

[2022-08-12 11:49] #1735 closed, assigned to stefanhaerter

[2022-08-12 13:13] StefanAbel-OTOBO commented on #1831
In general I don't care , as long as it works and people know how to do so - but as this is a behaviour we have solved differently (as I imagine it's going to be multiselect-field) my suggestion is that you do it as it works in the rest of the system.

[2022-08-12 17:15] niccord opened #1872 "Error in dynamic field when changing the case of company ID"
Hi everyone!
If you create a customer company with some dynamic field value, then you update only the case of the company ID, you generate an error since the database returns a `duplicate error` message.

Step to reproduce:
1. add a customer company dynamic field;
2. add the right config in your Kernel/Config.pm in order to map your dynamic field properly;
3. create a customer with ID and name "my

[2022-08-15 08:55] stefanhaerter commented on #1872
Hi niccord,

I think this is due to this line in the event updating the object name:

https://github.com/RotherOSS/otobo/blob/8e5fe78e8f4f17ea183068f9fa85b4df72bfe0cf/Kernel/System/CustomerCompany/Event/DynamicFieldObjectNameUpdate.pm#L62

Could you test if the problem persists if you change the name to a value which isn't equivalent in lowercase, e.g. MYCOMPANY2? Nonetheless, I think this needs t

[2022-08-15 09:50] bschmalhofer commented on #1872
Hi Nicola,

this seems to be a database design problem in OTOBO. I tested this with a fresh installation in Docker,

The collation **utf8mb4_unicode_ci** of the table _dynamic_field_obj_id_name_ is case insensitive:

Thus string searches are case insensitive: https://dev.mysql.com/doc/refman/8.0/en/case-sensitivity.html . This includes the unique index.

I also wondered why, if searching is case i

[2022-08-16 08:15] niccord commented on #1872
Applying the change @stefanhaerter made in his branch, I can confirm the error is fixed.
I don't know if it's the path you want to follow to resolve the issue, though.

[2022-08-16 08:32] bschmalhofer commented on #1872
Hi Nicola,

I discussed this with @stefanhaerter and we ended up with the least invasive solution, that does not really change the current approach. We are aware that the current approach is more confusing than really necessary. Setting `ChangeSensitive = 1` for the customer_company in _Kernel/Config.pm_ does not indicate that searches should be case sensitive, it only says that the current collat

[2022-08-16 08:39] niccord commented on #1872
I was referring to removing the `lc` parts in the `DynamicFieldObjectNameUpdate` class.
I kept the case-sensitive part as it is because it sounds a little bit scary since I don't really know which side effects can cause.

[2022-08-16 08:44] svenoe commented on #1872
We will not instantly incorporate this. To my understanding there are configurations where we need the lc for this to skip things as intended. It needs a bit more discussion.

[2022-08-16 08:56] forgeOneHQ opened #1873 "Otobo 10.1.4 - Elasticsearch Migration"
Hello together,

when I try to run the elasticsearch migration on otobo 10.1.4 I get the following error:
otobo@otobo01:~/bin$ ./otobo.Console.pl Maint::Elasticsearch::Migration
Use of uninitialized value in numeric ne (!=) at /opt/otobo/Kernel/System/Console/Command/Maint/Elasticsearch/Migration.pm line 98.
Elasticsearch webservice is now activated. If you don't want to keep it enabled, please di

[2022-08-16 09:32] stefanhaerter opened #1874 "ConfigLevel server side validation."
Currently, it is possible to change system configuration options even if the system is set to a higher ConfigLevel as the option.

[2022-08-16 09:35] #1874 closed, assigned to nobody

[2022-08-16 11:40] svenoe commented on #1873
Hi Mathias,

something is wrong with your Elasticsearch webservice here, it gets returned to the migration routine in a broken state. You could have a look at it in the Admin->Webservices screen, I would assume that you get errors there, too. In general I would assume that something didn't work properly during installation, or you maybe installed some packages which altered something.

In general,

[2022-08-16 11:40] #1873 closed, assigned to nobody

[2022-08-18 01:16] jeffgoh opened #1875 "docker healthcheck for db fails"
In my default docker install as per the instructions, I keep getting this error every 30 seconds:
[code]
otobo-base.yml there is this healthcheck - I think it needs the string "--password ${OTOBO_DB_ROOT_PASSWORD}"?

[code]
According to the manpage for mysqladmin:

ping

Check whether the server is available. The return status from [mysqladmin](https://dev.mysql.com/doc/refman/8.0/en/mysqladmin.ht

[2022-08-18 12:09] bschmalhofer commented on #1082
The issue #1082 fixes the shmwrite problem in the OTOBO 10.1.x series. But Perl 5.34 can also be used for running the 10.0.x series. This means that _Kernel/System/Log.pm_ must be adapted in rel-10_0 as well.

See also: https://otobo.de/de/forums/topic/nach-migration-kommt-bei-der-anmeldung-nur-internal-server-error/#post-13561

[2022-08-18 12:10] bschmalhofer opened #1876 "Fix the Perl 5.34 shmwrite problem in OTOBO 10.0.x"
The issue #1082 fixes the shmwrite problem in the OTOBO 10.1.x series. But Perl 5.34 can also be used for running the 10.0.x series. This means that _Kernel/System/Log.pm_ must be adapted in rel-10_0 as well.

See also: https://otobo.de/de/forums/topic/nach-migration-kommt-bei-der-anmeldung-nur-internal-server-error/#post-13561

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/o

[2022-08-18 13:11] #1819 closed, assigned to daxim

[2022-08-18 14:27] bschmalhofer commented on #1876
PR is merged. The test suite looks fine. Closing this issue.

[2022-08-18 14:27] #1876 closed, assigned to nobody

[2022-08-18 16:50] bschmalhofer commented on #1818
The output of
`../CodePolicy/bin/otobo.CodePolicy.pl --plugins +TidyAll::Plugin::OTOBO::Perl::PerlCritic -a --processes 1 1>critic.out`
looks good now. Closing this issue.

[2022-08-18 16:50] #1818 closed, assigned to nobody

[2022-08-19 11:49] bschmalhofer opened #1878 "List of bundled distributions is not up to date"
In _Kernel/System/Environment.pm_ there is a list of bundled distributions which is not up the data. At least `Data::Ical` is missing. The list of bundled modules is used in _bin/otobo.CheckModules.pl_. Adding the bundled modules to the list of required modules has no apparent downside, as e.g. URI is already listed as a requirement.

TODO:

- [x] Complete the list of bundled distributions
- [x] M

[2022-08-19 13:22] OBG-IT opened #1879 "Emoji problem"
Hello,
I recently migrated our otrs system to otobo and now we noticed when a new ticket arrives that contains a smiley emoji the ticket is not created and there is an error.

Has anyone here had the same problem and also got it solved?

The error shown is:
[code]
Kind regards Alex

[2022-08-19 14:54] bschmalhofer commented on #1878
Found the following obsolete bundled modules:

- CGI::Switch - from ancient CGI distro
- HTML::TagSet and HTML::TokeParser - were needed for HTML::Truncate in Kernel::System::HTMLUtils, but H::T is no longer used
- parent - in core since Perl 5.10

Found the following missing files:
- MailTools.pm, MailTools.pod  from the distro MailTools
- directory Type/Params - maybe newer version of Type::Tiny

[2022-08-19 15:45] bschmalhofer commented on #1879
Hello Alex,

first, these kind of support questions should initially be posted on the OTOBO Forum at https://otobo.de/en/forums/otobo/otobo-forum/. The reason is that we want to keep the GitHub issues dedicated to bugs and new features. On the forum there already was a similar question, albeit in German: https://otobo.de/en/forums/topic/problem-mails/#post-10072

Your incoming data looks sensible:

[2022-08-22 05:24] OBG-IT commented on #1879
Hello Bernhard,
okay sorry I did not know.

yes the question in the forum I have already read, but had not helped me with my problem.

However, your answer has helped me. :)
Through your command SHOW CREATE TABLE article_data_mime I found out that character was still on utf8.

`mysql> SHOW CREATE TABLE article_data_mime \G
*************************** 1. row ***************************
       Table

[2022-08-22 08:38] bschmalhofer commented on #1879
Hi Alex,
ah, having the charset utf8 declared on the individual columns is an interesting case.

First, let's sanity check that charset utf8 vs. utf8mb4 is really the problem. The problematic emoji is indeed encoded in four bytes:

So, this theory is confirmed.

I assume that you used the streamlined migration method for migrating the data from OTRS to OTOBO:
https://doc.otobo.org/manual/installat

[2022-08-22 09:03] OBG-IT commented on #1879
Hello Bernhard,
thank you very much for your help.
Through your link I was able to fix my problem.

Tickets with smileys are now created.

kind regards
Alex

[2022-08-22 11:29] bschmalhofer opened #1881 "Handle charset that are declared per column"
Having the charset utf8 declared on the individual columns is an interesting case.

First, let's sanity check that charset utf8 vs. utf8mb4 is really the problem. The problematic emoji is indeed encoded in four bytes:

So, this theory is confirmed.

I assume that you used the streamlined migration method for migrating the data from OTRS to OTOBO:
https://doc.otobo.org/manual/installation/10.0/en/c

[2022-08-22 11:32] bschmalhofer commented on #1881
TODO:

- [x] adapt _scripts/backup.pl_ to hande the charset per column case, see https://doc.otobo.org/manual/installation/10.0/en/content/migration-from-otrs-6.html#optional-step-streamlined-migration-of-the-database

[2022-08-22 11:32] #1879 closed, assigned to bschmalhofer

[2022-08-22 13:58] svenoe commented on #1319
I think AgentTicketBulk in general doesn't give the option to change attributes, which have dependencies. Which services are shown depends on the CustomerUser of the ticket, as this could be different for the selected tickets, it is not clear which services should be listed as possible values. (Actually one could at least show the standard services, but I am pretty sure this is the reason. It is c

[2022-08-23 08:43] svenoe opened #1882 "Have a look at style options for images in the CKEditor."
CKEditor allows for image styling (setting width, height, alignment). In instances which do not support picture upload (e.g. Admin->Signatures) those styles are deleted upon saving (or turning on and off the source mode). As you can still embed pictures using the source mode and adding `<img src='https://link/to/picture.png'>` or pasting base64 encoded pictures, this behaviour is definitely not wa

[2022-08-23 10:55] bschmalhofer commented on #1844
The messages disappeared after loading DateTime::Locale in Kernel::System::DateTime. Closing this issue.

[2022-08-23 11:57] bschmalhofer opened #1884 "Fix Wikipedia Icon in sample Link of ToolBox tile in customer dashboard"
The hotlinked icon https://cdn3.iconfinder.com/data/icons/inficons-round-brand-set-2/512/wikipedia-512.png does no longer work. It should be replaced with a working version. I'm also not sure whether hotlinking to the iconfinder CDN is still recommended.

![Bildschirmfoto vom 2022-08-23 13-56-22](https://user-images.githubusercontent.com/46019/186151921-45ee0a89-a962-47f2-9ed7-3855a7351cd4.png)

[2022-08-23 12:19] bschmalhofer commented on #1844
Reopening because it is not possible to create a phone ticket for the generated customer user tina. Something must be missing,

[2022-08-23 14:24] bschmalhofer opened #1885 "The now indicator in the calendar overview ignores the agents time zone"
I took this screenshot in Germany at 16:02 Middle European Summer Time. The time zone in my Agent profile was set to
Europe/London which is one hour behind Europe/Berlin. I would have expected that the yellow now indicator would be at 15:02, but it shows 16:02.

![Bildschirmfoto vom 2022-08-23 16-02-50](https://user-images.githubusercontent.com/46019/186178732-40fedf47-ed08-4845-b3a6-d49b184b4169.

[2022-08-24 11:19] bschmalhofer commented on #1725
Browsing the [fullcalendar](https://fullcalendar.io) website I found that support for time line views and resource views are premium features. They can be used in OTOBO as OTBOBO is under GPL v3. See https://fullcalendar.io/license.
The plugin structure has changed a bit, see https://fullcalendar.io/docs/plugin-index. But that just means that different libraries have to be selected. There is suppo

[2022-08-24 13:27] bschmalhofer opened #1886 "Do not check for source db name when migrating from Oracle"
When migrating from an Oracle-based installation of OTRS, there is no input field for the database name. This is because the source database is given by the DSN. Subsequently the check for the database name should be disabled for that case.

[2022-08-24 14:19] bschmalhofer commented on #1886
Trust the backends to check the parameters by themselves.

[2022-08-25 10:22] bschmalhofer opened #1887 "some JavaScript libraries are loaded twice"
In the SysConfig there are entries like:
[code]
and
[code]
Note that `Core.Agent.CustomerSearch.js` is mentioned in the setup for CotmmonJS and for specific frontends. This means that this library is included twice in the frontend AgentTicketCompose. There are no known errors that occurred because of this effect. But it is cleaner to include each JS library only once.

[2022-08-25 17:06] bschmalhofer opened #1888 "Skip migration of the database table mail_queue"
The table mail_queue holds a list is mail messages that are to be sent out. This can be considered dynamic that should not be migrated. Thus it can be added to the list of skipped tables.
https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/System/MigrateFromOTRS/Base.pm#L1279

Consequently the command
`bin/otobo.Console.pl Maint::Email::MailQueue --delete-all`
can be added to https://doc.otobo

[2022-08-26 08:44] StefanRother-OTOBO commented on #1653
Hi,
Currently, this function is not available and is actually not intended. Either the owner is still stored, in which case a follow-up notification can be sent to unlocked tickets, or the ticket no longer belongs to anyone, in which case there can be no notification. My recommendation would be to simply remove the "Ticket follow-up notification (unlocked)" notification under Admin -> Ticket Notif

[2022-08-26 08:44] #1653 closed, assigned to nobody

[2022-08-28 22:09] sjansen1 opened #1889 "MariaDB database container healthcheck script has issues with certain passwords"
Hello,

today i updated OTOBO from 10.1.4 to 10.1.5 and my otobo-db-1 container fails healthcheck. After inspecting this container i found a lot of mysqladmin defunct proceses piling up on every healthcheck.

After inspecting the logs i found that there is a command not found error and that this command is part of the database password, it looks like the healthcheck script is not escaping correctl

[2022-08-28 22:15] sjansen1 commented on #1889
Issue in wrong repo.

[2022-08-28 22:15] #1889 closed, assigned to nobody

[2022-08-29 06:30] svenoe opened #1890 "Make selectors in Core.AJAX.js less specific in the HideShow functionality."
The aim is that special dynamic fields (e.g. DynamicFieldAttachment) have less restrictions on how they are built.

[2022-08-29 14:25] bschmalhofer commented on #1844
After an unreasonable amout of fiddling, phone tickets can now be created for tina.
Close only after checking the unit tests.

[2022-08-30 09:16] bschmalhofer opened #1892 "Redirect from HTTP does not honor OTOBO_WEB_HTTPS_PORT"
In _.env_ there is the following setup:
[code]
Thus I would expect that fetching http://localhost:81/otobo/index.pl would redirect to https://localhost:543/otobo/index.pl . But the redirect is to  https://localhost/otobo/index.pl .

TODO:

- [x] Honor  OTOBO_WEB_HTTPS_PORT when redirecting to HTTPS

[2022-08-30 10:56] bschmalhofer commented on #1776
The code for removing no longer needed User config files looks broken too. The subdirectory 'User/' must be included when checking in S3.
[code]

[2022-08-30 10:56] bschmalhofer opened #1894 "Fix check for obsolete User configs when Syncing with S3"
The code for removing no longer needed User config files looks broken too. The subdirectory 'User/' must be included when checking in S3.
[code]

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1776#issuecomment-1231502025_

[2022-08-30 13:20] bschmalhofer commented on #1878
This issue has become a mixed bag. So let's put separate things into separate baskets.

[2022-08-30 13:27] bschmalhofer commented on #1878
There is a copy of the core module parent in _Kernel/cpan-lib/parent.pm_ . This copy can be removed. The version 0.234 which is bundled in Perl 5.24 has no significant diffs.

[code]

[2022-08-30 13:27] bschmalhofer opened #1896 "Remove Kernel/cpan-lib/parent.pm as parent.pm is in core"
There is a copy of the core module parent in _Kernel/cpan-lib/parent.pm_ . This copy can be removed. The version 0.234 which is bundled in Perl 5.24 has no significant diffs.

[code]

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1878#issuecomment-1231668425_

[2022-08-30 13:35] bschmalhofer commented on #1896
See also #365 where parent.pm has been removed for the rel-10_1 branch.

[2022-08-30 13:43] bschmalhofer commented on #1896
_Kernel/cpan-lib/parent.pm_ is now remove in rel-10_0 and in rel-10_1. Closing this issue.

[2022-08-30 13:43] #1896 closed, assigned to bschmalhofer

[2022-08-30 14:16] bschmalhofer commented on #1878
HTML::Tagset and HTML::TokeParser are no longer used. They should have been removed in https://github.com/RotherOSS/otobo_alpha/commit/7cb48277b60a e0b5be7f7e32293165f598c7c9ac when HTML::Truncate was removed.

Let's do this in rel-10_1, even though it is not a major release.

[2022-08-30 14:17] bschmalhofer opened #1898 "remove HTML::Tagset and HTML::TokeParser from Kernel/cpan-lib"
HTML::Tagset and HTML::TokeParser are no longer used. They should have been removed in https://github.com/RotherOSS/otobo_alpha/commit/7cb48277b60a e0b5be7f7e32293165f598c7c9ac when HTML::Truncate was removed.

Let's do this in rel-10_1, even though it is not a major release.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1878#issuecomment-1231731994_

[2022-08-30 14:28] bschmalhofer commented on #1898
Removed the files in PR #1899. Closing this issue.

[2022-08-30 14:28] #1898 closed, assigned to nobody

[2022-08-30 14:38] bschmalhofer commented on #1878
The bundled version of CGI is 4.36. But there is no CGI::Switch in CGI 4.36.
The file _Kernel/cpan-lib/CGI/Switch.pm_  had been added as part of CGI 4.04 in 2014. So it is safe to remove that file. Let's do that in rel-10_1.

[2022-08-30 14:38] bschmalhofer opened #1900 "Remove CGI::Switch from Kernel/cpan-lib"
The bundled version of CGI is 4.36. But there is no CGI::Switch in CGI 4.36.
The file _Kernel/cpan-lib/CGI/Switch.pm_  had been added as part of CGI 4.04 in 2014. So it is safe to remove that file. Let's do that in rel-10_1.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1878#issuecomment-1231761342_

[2022-08-30 14:42] bschmalhofer commented on #1900
_Kernel/cpan-lib/CGI/Switch.pm_ is removed. Closing this issue.

[2022-08-30 14:50] #1900 closed, assigned to bschmalhofer

[2022-08-30 14:54] bschmalhofer commented on #1878
There are no apparent downsides from completing the list of bundled distributions. Applying the PR and closing this issue.

[2022-08-31 07:35] KhalilHamada-OTOBO opened #1902 "For AgentTicketMerge where the sender is unknown, the senders address, the ticket system is used as salutation"
If a ticket is merged for which the sender is unknown, the address of the ticket system is incorrectly used as a salutation in “Notify sender” instead of the e-mail address or name of the customer.
For example, if a new ticket arrives with unknown customer information, you can click on “Miscellaneous -> Merge”: under Notify sender, the salutation uses the e-mail address (of) and not the e-mail add

[2022-08-31 11:36] bschmalhofer commented on #1902
Ah, you translated "Verschiedenes -> Zusammenfassen" to "Miscellaneous -> Summary". But in the English GUI "Miscellaneous -> Merge" is used.

[2022-08-31 13:34] bschmalhofer opened #1905 "CLOB colums are not base64 decoded when migrating from Oracle to MariaDB"
For some reason the content of some columns are stored Base64 encoded in the Oracle and PostgreSQL backends. This means that these columns must be Base64 decoded when migrating to MySQL or MariaDB. The relevant columns are listed in
https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/System/MigrateFromOTRS/Base.pm#L1557

The Base64 decoding did not work for a migration from Oracle to MariaDB.

[2022-09-01 12:58] bschmalhofer commented on #1878
Test suite now passes on rel-10_1. Closing now.

[2022-09-01 12:58] #1878 closed, assigned to bschmalhofer

[2022-09-01 13:03] bschmalhofer commented on #1892
Tested with the port 443 either set implicitly or explicitly in _.env_ . Using Firefox we get an redirect e.g. to https://localhost:443/otobo/index.pl . But at least under Firefox the ugly **:443** is not displayed in the address field.
Setting the port 543 in _.env_ works too. Of course the **:543** stays in the address field.

Applying the PRs.

[2022-09-01 16:00] bschmalhofer commented on #1844
Unit tests look fine. Closing this issue.

[2022-09-01 16:00] #1844 closed, assigned to bschmalhofer

[2022-09-02 10:41] bschmalhofer opened #1908 "'IS NULL' and default value are not added when extra source columns are migrated"
_migration.pl_ supports the feature that extra columns from the source database are also migrated to the target database. These extra columns should have the same name and the same data type as the source columns. But it looks like this does not work for 'IS NULL'. The reason is that in e.g. in https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/System/MigrateFromOTRS/CloneDB/Driver/mysql.pm#L

[2022-09-02 11:09] bschmalhofer commented on #1908
Maybe also add the default value from the source database.

[2022-09-03 10:58] bschmalhofer commented on #1888
TODO:

- [x] skip mail_queue
- [x] update the installation instructions
- [x] make sure that the updated docs are reflected in https://doc.otobo.org/manual/installation/10.1/en/content/migration-from-otrs-6.html#step-4-preparing-the-otrs-otrs-community-edition-system

[2022-09-03 15:11] bschmalhofer opened #1909 "Issues with ConfigurationDeploySync"
Looking at the trace of minio when the Daemon running under S3:

[code]
There are many s3.DeleteObject calls for objects that were never in S3, as most user do not have user specific configs. This can be optimised. Especially useful when there are many agents.

[2022-09-05 09:03] bschmalhofer opened #1910 "Avoid high CPU load in SystemConfigurationOutOfSyncCheck notification"
It is possible to set the parameter **AllowedDelayMinutes** to a very high value. An use case for that is to avoid that the warning about out of sync configuration does not turn into an error. But, please note that this is not a good practice.

$Self->{'Frontend::NotifyModule'}->{'6050-SystemConfiguration-OutOfSync-Check'} =  {
  'AllowedDelayMinutes' => '5000000000000000000',
  'Module' => 'Kerne

[2022-09-05 10:32] bschmalhofer commented on #1910
Tested this be forcing the notification and setting the AllowedDelayMinutes to 5000000000000, that is 10 million years. No high CPU load was observed when clicking in OTOBO.

[2022-09-05 10:32] #1910 closed, assigned to bschmalhofer

[2022-09-05 12:40] bschmalhofer opened #1912 "Eliminate the environment variable OTOBO_SYNC_WITH_S3"
As of OTOBO 10.1.5 the environment variable OTOBO_SYNC_WITH_S3 must be set when the S3 backend is used. This applied to:

- web server GazelleOTOBO_SYNC_WITH_S3
- web server Apache
- Console commands
- OTOBO Daemon

It is fairly easy to get this wrong. For example, one could do a SysConfig deployment via a webserver that does not have OTOBO_SYNC_WITH_S3 set. This results in a deployment of _ZZZAAu

[2022-09-05 14:57] bschmalhofer commented on #1905
Quite a few bugs were fixed. At least one test migration with a significant amount of data was successful. Closing this issue. Please open a new issue when there are new findings.

[2022-09-05 15:01] bschmalhofer commented on #1905
Changed the milestone to 10.1.6 in order to reduce risks for the 10.0.x series. The changes were only tested for 10.1.x.

[2022-09-05 15:04] #1905 closed, assigned to bschmalhofer

[2022-09-05 16:21] bschmalhofer commented on #1909
Optimized the function `UserConfigurationDeploySync()`. The change is already merged into rel-10_1.

TODO:

- [x] observe the Minio trace after triggering a deployment synchronisation
- [x] check the test suite

[2022-09-06 09:47] bschmalhofer opened #1915 "Are recursive translations officially allowed?"
The code in _Kernel/Language.pm_ , https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/Language.pm#L277, allows for recursive translation.

[code]
Is this an official feature? If so, a test case should be added to _scripts/test/Language.t_

[code]
If not the loop could be enhanced so that substitutions are done only after the last substituted text.

See also #534.

[2022-09-06 10:36] bschmalhofer opened #1916 "Kernel::System::DB Oracle: explicitly finish() after fetching the last row"
This is only relevant for the Oracle backend. When a limit has been passed then there  is an explicit `$sth->finish()`. Apparently this should emulate the standard DBI behavior that cleans up statement handles after the last row has been fetched. But in the Oracle case the `finish()`is called only when the next fetch attempt is made.
Thus

[code]
is not equivalent to

[code]
In the latter case the

[2022-09-06 15:16] bschmalhofer commented on #1844
Now do the same for setting up an user and a bucket for Minio.

[2022-09-06 15:17] bschmalhofer opened #1917 "Set up MinIO in bin/docker/quick_setup.pl"
Now do the same for setting up an user and a bucket for Minio.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1844#issuecomment-1238294117_

[2022-09-06 15:52] svenoe opened #1918 "Generic Agent persistently sets SendNoNotification for all following Events."
If a generic agent is configured with SendNoNotification (Ticket Command -> Send Notification "No"), this sets the corresponding attribute in the ticket object itself to prevent notifications being sent for additional triggered actions, but it also affects all independent, but later executed things. This could be a standard notification on the "NotificationNewTicket" event, which is preceeded by a

[2022-09-07 07:42] bschmalhofer commented on #1918
It might suffice to simply localize the attribute:
`local $TicketObject->{SendNoNotification} = $Param{Config}->{New}->{SendNoNotification} ? 1 : 0;`

[2022-09-07 08:30] stefanhaerter commented on #1918
This seems to work in manual tests. Trying it now in the unit tests.

[2022-09-07 09:04] #1918 closed, assigned to stefanhaerter

[2022-09-07 12:32] bschmalhofer commented on #1912
Eliminated completely the usage of OTOBO_SYNC_WITH_S3. The information whether the S3 storage backend is active is now solely taken from _Kernel/Config.pm_ . When running with Docker compost it is recommended to activate S3 before building the image.

TODO:

- [x] remove OTOBO_SYNC_WITH_S3 from otobo-docker.

[2022-09-07 12:50] bschmalhofer commented on #1912
Merging the PR. Closing ticket only when things look stable.

[2022-09-08 12:46] bschmalhofer opened #1921 "otobo.psgi: Reactive the module refresh middleware when running with the S3 backend"
Currently the middleware `$ModuleRefreshMiddleware` is deactivated _bin/psgi-bin/otobo.psgi_ when syncing with S3 is active.
[code]
This middleware reloads Perl modules when they have changed on disk. This funktionality is not the same as in `Plack::Loader::SyncWithS3` as that loader looks in S3 whether new packages have been installed. There is no obvious reason why both checks can't be active at

[2022-09-08 13:44] bschmalhofer opened #1922 "quick_setup.pl: Activate more logging in devel-Installations"
The script _bin/docker/quick_setup.pl_ is used for creating quick installations that can be used for development and testing. Thus the script can be quite opinionated about a sensible SysConfig. So let's set  **MinimumLogLevel** to **info** to see more log outout in _/opt/otobo/var/log/otobo.log_.

[2022-09-08 16:56] bschmalhofer opened #1923 "Do not skip tests when running with S3 backend"
Currently there are a number of test scripts that are skipped when the S3 backend is used. It should be checked whether this is still necessary.

See also #1912 and #1799.

[2022-09-08 16:59] bschmalhofer commented on #1912
TODO:

- [x] check whether the test suite still runs fine with the S3 backend enabled

[2022-09-08 17:18] bschmalhofer commented on #1922
PR is merged. Closing this issue.

[2022-09-08 17:18] #1922 closed, assigned to bschmalhofer

[2022-09-08 17:20] bschmalhofer commented on #1921
Let's leave this open for a little bit and verify that the middleware does not degrade performance.

[2022-09-09 11:15] bschmalhofer commented on #1923
Looks like the reasons for skipping tests were all valid. Did some cleanup anyways.

[2022-09-09 11:20] bschmalhofer commented on #1917
Another convenience function for _bin/docker/quick_setup.pl_ is nice to have. Add a calendar.

[2022-09-09 11:21] bschmalhofer opened #1929 "Add a test calendar in bin/docker/quick_setup.pl"
Another convenience function for _bin/docker/quick_setup.pl_ is nice to have. Add a calendar.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1917#issuecomment-1241846799_

[2022-09-09 12:14] bschmalhofer commented on #1929
The calendar is created. Closing this issue.

[2022-09-09 16:02] niccord opened #1931 "Support for package names that differ only in case"
Hi all,
when upgrading a package, if it has changed the case of some letters in its name, then the upgrading process will be stuck in a loop.

For example:
upgrading my package from `OpmTest v.10.0.0` to `opmtest v.10.0.1`
this is the output in the console:
[code]

Since I think the uniqueness of a package name should not be based on the case of its letters, I think you should change the check on

[2022-09-09 19:03] bschmalhofer commented on #1923
Test suite still looks find. Closing this issue.

[2022-09-09 19:03] #1923 closed, assigned to bschmalhofer

[2022-09-09 19:04] bschmalhofer commented on #1921
Performance of the test suite looks OK. Closing this issue.

[2022-09-09 19:04] #1921 closed, assigned to bschmalhofer

[2022-09-09 19:07] bschmalhofer commented on #1912
The test suite shows two unexpected errors. These should be fixed before closing this issue.

[code]

[2022-09-09 19:16] bschmalhofer commented on #1852
Yes, I would second to activate the proxy specific for the openid connect. Using the `https_proxy` environment variable might have unintended consequences.

[2022-09-10 16:24] bschmalhofer commented on #1929
Reopening as there is a test failure in _scripts/test/Selenium/Agent/AgentAppointmentCalendarOverview.t_ when the test suite runs in an OTOBO installation where an calendar already exists.

[2022-09-10 19:16] bschmalhofer commented on #1929
The relevant test failure is gone. The remaining failure is likely not related to the added calendar. Closing again.

[code]

[2022-09-10 19:16] #1929 closed, assigned to bschmalhofer

[2022-09-11 17:12] bschmalhofer opened #1933 "Do not use Module::Refresh directly"
The documentation in `Kernel::System::ModuleRefresh` states that that module should not be used together with `Module::Refresh`. This means that _./Kernel/cpan-lib/Plack/Loader/SyncWithS3.pm_ needs to be adapted.

[2022-09-11 17:39] bschmalhofer commented on #1933
TODO:

- [x] check the test suite

[2022-09-12 08:40] bschmalhofer commented on #1909
Updated the title of this issue, because there were also errors reported by _scripts/test/SysConfig/OTOBOCommunity/UserConfigurationDeploymentSync.t_ .

[2022-09-12 09:56] #1319 closed, assigned to nobody

[2022-09-12 10:28] bschmalhofer commented on #1909
After some adaptions, the test suite should be successful again.

After some reflection I think it is better to keep the SystemConfigurationSyncManager daemon module active. It is a safeguard against incomplete deployments. But Kernel::System::Daemon::DaemonModules::SyncWithS3 is useful too, so let's keep both.

TODO:

- [x] check test suite again

[2022-09-12 10:44] #1828 closed, assigned to nobody

[2022-09-13 07:30] niccord commented on #1931
I paste here the comment of @svenoe in the linked PR:

[2022-09-13 07:50] svenoe commented on #1931
Ah, hi Nicola, again,

I somehow overlooked the issue to the pr, sorry. I wasn't aware that you seemingly run into a loop. From the pr I thought it is only about the ability to change names.

We will have a look at this, I'll reopen the issue. Whoever looks into it, please also have a look at the above pr.

Best regards, Sven

[2022-09-13 08:52] niccord commented on #1931
I thought `<PackageMerge>` could solve the issue but I confirm this is not the case, the issue is still there.

[2022-09-13 16:31] bschmalhofer opened #1936 "Sporadic failures in test suite"
Current there are again sporadic failures in _scripts/test/Selenium/Agent/AgentTicketSplitInlineImage.t_ , noticed when running tests with the S3 backend activated. These failures happened in the past as well, but seemed to subside after a while. It should be investigated what the problem ist.

[2022-09-13 16:38] bschmalhofer commented on #1909
Test suite looks mostly fine. The sporadic failures in _scripts/test/Selenium/Agent/AgentTicketSplitInlineImage.t_ are handled in #1936. Closing this issue.

[2022-09-13 16:38] #1909 closed, assigned to bschmalhofer

[2022-09-13 16:39] bschmalhofer commented on #1933
Test suite looks mostly fine. The sporadic failures in scripts/test/Selenium/Agent/AgentTicketSplitInlineImage.t are handled in https://github.com/RotherOSS/otobo/issues/1936. Closing this issue.

[2022-09-13 16:39] #1933 closed, assigned to bschmalhofer

[2022-09-13 16:48] bschmalhofer commented on #1912
See also #1909 and #1939. After fixing the deployment sync, the test suite looks mostly fine. Closing this issue.

[2022-09-13 16:48] #1912 closed, assigned to bschmalhofer

[2022-09-13 16:50] bschmalhofer commented on #1886
At least one migration from Oracle has worked. Closing this issue.

[2022-09-13 16:50] #1886 closed, assigned to bschmalhofer

[2022-09-14 12:22] bschmalhofer commented on #1931
Hi Nicola,

I will look into this sometimes in the next days. At least I can confirm the problem in a simple test case, see https://github.com/RotherOSS/otobo/blob/issue-%231931-upper_lower/scripts/test/Package.t#L1161.

Best regards,
   Bernhard

[2022-09-15 09:13] bschmalhofer commented on #1931
The infinite loop works like that:

1. The package "DUMMY" is installed without problems
2. The package "dummy" should be installed
3. PackageInstalled() is called. The select is by package name, case insensitive in MySQL
4. The package DUMMY is found
5. PackageUpgrade() is called
6. RepositoryList() is called
7. Case sensitive lookup in the result of RepositoryList() gives that "dummy" is not ins

[2022-09-15 09:37] StefanRother-OTOBO opened #1938 "Print company ticket in CustomerTicketOverview shows wrong "printed by" information"
Hi,

When I print a ticket in the OTOBO Customer Area -> Company Tickets, the customer who created the company ticket is displayed at the top under "printed by", not the customer who is printing the ticket.

Thanks,

Stefan

[2022-09-15 10:18] niccord commented on #1931
But if you make PackageInstalled() case sensitive, then you can have "DUMMY" and "dummy" packages installed at the same time. I think this is not what you want.

I think the fix to make is changing the sensitive lookup in the RepositoryList(), giving "dummy" is installed since "DUMMY" is found.

In my PR I did exactly that: https://github.com/RotherOSS/otobo/pull/1935

[2022-09-15 10:55] bschmalhofer opened #1939 "Automatic reinstall of packages does not work in the S3 use case"
I ran an OTOBO installation with the S3 backend activated and two web servers with non-shared _/opt/otobo_ . When installing a package via the web gui, there should be an automatic reinstall in both web services. But this did not work. There were files missing.

[2022-09-15 14:48] bschmalhofer opened #1940 "Do not use @ISA directly"
All but two modules use `use parent`for inheritance.

[code]
TODO:

- [x] convert _Kernel/System/Calendar/Appointment.pm_
- [x] convert _Kernel/System/Calendar.pm_
- [x] always place the 'use parent' right after the pragmas
- [x] check the test suite for new errors

[2022-09-15 17:30] bschmalhofer commented on #1931
Hi Nicola,
I discussed this with @svenoe  and the conclusion is that package names should be case sensitive. The packages "DUMMY" and "dummy" can be installed at the same time.
I adapted PackageIsInstalled() accordingly and it looks like installation now proceeds the way it should. But during testing I found that there is only one entry in the table "package_repository". This still needs to be fix

[2022-09-16 07:55] bschmalhofer commented on #1940
See also https://github.com/RotherOSS/CodePolicy/issues/84.

[2022-09-16 11:22] bschmalhofer opened #1942 "Kernel::System::Calendar::Appointment uses uninitialized Log object"
In _Kernel/System/LinkObject/Appointment.pm_ the attribute `LogObject` is used but never initiialized.

TODO:

- [ ] enhance the test script such that the relevant code is called
- [x] Get the Log object from `$Kernel::OM`

[2022-09-16 14:04] bschmalhofer opened #1944 "Modul refresh fails after a module could not be loaded once"
This is only relevant during development. I noticed that modules that were changed on disk, 10 s ago, are not releaded. @svenoe  suggested that reloading works in most cases, but not when the module had compile errors once.

[2022-09-16 16:06] bschmalhofer commented on #1936
_scripts/test/SysConfig/GlobalEffectiveValueGet.t_ also fails sporadically

[2022-09-16 16:07] bschmalhofer commented on #1940
Test suite looks fine, closing this issue.

[2022-09-16 16:07] #1940 closed, assigned to bschmalhofer

[2022-09-16 16:09] bschmalhofer commented on #1894
This seems to be fixed. Closing this issue.

[2022-09-16 16:09] #1894 closed, assigned to bschmalhofer

[2022-09-17 10:26] bschmalhofer commented on #1931
There are some more instances in `Kernel::System::Package` where package names are treated as case insensitive. At least under MariaDB or MySQL. PostgreSQL and Oracle are fine.

Note that the caching layer is case sensitive, so there is some potential for confusion.

- [ ]  RepositoryGet:

[code]

- [ ] RepositoryAdd:

[code]

- [ ] RepositoryRemove:

[code]

- [ ] PackageInstall:

[code]

- [ ] P

[2022-09-17 11:40] bschmalhofer commented on #1931
I starting adapting the code, so that it checks the case on the client side. But there are is a downsides to that approach. The code
becomes more complex. E.g. for deletion one must first fetch the name and the id, check the case of the name, and then delete by id. This has the disadvantage that an atomic operation becomes a non-atomic operation. This opens a can of worms.

So let's go for overrid

[2022-09-17 11:52] bschmalhofer opened #1945 "Document the database functions"
In _Kernel/System/DB_ there is a list of the used database functions. It would be nice to have brief explanations what these functions are used for.

[code]

[2022-09-19 09:53] stefanhaerter opened #1946 "Error message in Log when changing data for a customer user with no password"
It is possible to create a customer user without setting a password. If the user data is altered later, the following error message appears in the log:
Use of uninitialized value $CurrentUserData{"UserPassword"} in string ne at /opt/otobo/bin/psgi-bin/../../Kernel/Modules/AdminCustomerUser.pm line 374.

[2022-09-19 11:21] bschmalhofer commented on #1946
@stefanhaerter Why is this labelled as invalid? That a warning is emitted with in a valid use case is IMHO a bug.

[2022-09-19 11:23] stefanhaerter commented on #1946
You're right. I wasn't sure about how to label this. Since the process works, I thought the description "Something isn't right" would fit best.

[2022-09-19 11:24] bschmalhofer opened #1948 "Make output of Main::Config::Dump more useful"
For Complex setting the output of `Maint::Config::Dump` is not really useful.

I propose to emit the full data structure as JSON per default.

See also https://otobo.de/en/forums/topic/help-example-request-for-console-pl-maintconfigdump/.

[2022-09-19 11:38] bschmalhofer commented on #1946
Yes, the description of the label was confusing. I changed it to "The report was either incorrect, or it describes the correct behavior."

[2022-09-19 13:29] bschmalhofer commented on #1917
Adding this functionality to _bin/docker/quick_setup.pl_ is maybe not the best idea. At least I would mean that MinIO can be administered from within the container network. For now, let's keep it outside of the container network. Instead only add a small script _bin/docker/set_up_minio.sh_ which can be called from the Docker host.

[2022-09-19 14:24] bschmalhofer commented on #1917
Implemented a simple solution. Closing this issue.

[2022-09-19 14:24] #1917 closed, assigned to bschmalhofer

[2022-09-21 10:03] bschmalhofer opened #1950 "Kernel::System::Calendar::Import::ICal does not depend on Date::ICal"
There is no need for `use Date::ICal` in _Kernel/System/Calendar/Import/ICal.pm_ .
`Date::ICal`is only used in _Kernel/System/Calendar/Export/ICal.pm_.

[2022-09-21 10:47] bschmalhofer commented on #1950
Loading of Date::ICal is removed. Documentation was a bit enhanced. Trusting that nothing will break. Closing this issue.

[2022-09-21 10:47] #1950 closed, assigned to bschmalhofer

[2022-09-22 16:24] bschmalhofer commented on #1948
Tentatively changes the output to JSON. Here are some some examples:

[code]

@svenoe Does this look sane? In core OTOBO the command is not used in any script. In the genera case the added quotes could cause problems, but I think that the risk is not high.

[2022-09-23 08:37] bschmalhofer commented on #1750
After doing a bit of reading of Google results, I conclude that MinIO is not really suitable as a caching layer. The use case for MinIO, S3 in general, is persistent long term storage of potentially large objects. It does not really support a TTL.

[2022-09-23 08:37] #1750 closed, assigned to bschmalhofer

[2022-09-23 16:19] abrain opened #1953 "Sender display name not always quoted"
We had delivery issues with some of our OTOBO emails when sending to GMX or web.de.

After some testing we found that the problem was that some of the display names of our system addresses contain square brackets, e.g. `[foo] bar`. At first, we discarded this possibility because auto-replies containing those display names were delivered just fine.

But checking the unformatted messages we found th

[2022-09-23 18:00] bschmalhofer commented on #1476
@StefanRother-OTOBO , @StefanAbel-OTOBO
Or there still issues with Kerberos-Konfiguration? Can this issue be closed?

[2022-09-24 14:17] bschmalhofer opened #1954 "Appointment notifications are not sent when IsVisibleForCustomer is set"
In the appointment notification admin frontend on can check the "Article visible for customer" checkbox.
![Bildschirmfoto vom 2022-09-24 16-09-44](https://user-images.githubusercontent.com/46019/192102686-fa4bd661-ca25-49bf-9624-31a077be0918.png)

But when the checkbox is set, then no appointment notifications are sent out.
The reason is that there is a blacklist for appointment attributes that ar

[2022-09-24 16:58] bschmalhofer commented on #1954
A scant look into the code did not show a significant use of IsVisibleForCustomer. It could be used in a notification templete. But apparently no article is created. So there is no use case where an article would be marked as visible for customers.

[2022-09-26 11:55] StefanRother-OTOBO commented on #1476
Hi Bernhard,

I have published a first version of the Kerberos documentation at: https://doc.otobo.org/manual/installation/10.1/en/content/sso-kerberos.html

Kerberos works for me perfekt, beta status is removed. I close that issue.

[2022-09-26 11:55] #1476 closed, assigned to nobody

[2022-09-27 11:44] bschmalhofer opened #1955 "Eliminate the type option of Kernel::System::Main::Dump()"
It is not obvious why the `Dump()` method should need to mess with the UTF8-flag. Just let Data::Dump do its job. See also https://rt.cpan.org/Public/Bug/Display.html?id=28607.

TODO:

- [ ] before changing this, check whether the output of `Dump()` is used as a key somewhere. That is, whether any string comparisons are done with it

[2022-09-27 22:07] g0g11 commented on #1852
@astapelfeld Did your OAuth implementation worked? We are currently struggling to implement OAuth (Azure AD) in Otobo. I couldn‘t find any documentation how to do the config in Otobo. So it would be great if you can share some insights.

[2022-09-28 07:24] astapelfeld commented on #1852
There are some comments in otobo/Kernel/System/Config/Defaults.pm. Just search for "OpenIDConnect".

My  config looks like this:

[code]

If you are behind a http proxy, you have to add 2 lines in otobo/Kernel/System/OpenIDConnect.pm:

[code]

[2022-09-28 18:00] bschmalhofer commented on #1583
The same warning is emitted for  OTOBO_WEB_HTTPS_PORT.

[2022-09-29 13:53] StefanRother-OTOBO opened #1956 "Script to solve utf8 / utf8mb3 problems"
I have developed a script that changes the charset of MySQL and MariaDB columns to utf8mb4 for incorrectly installed or migrated OTOBO systems (with utf8 or utf8mb3 columns).

A forum entry for this is here: https://otobo.de/de/forums/topic/emojis-in-e-mails-zerstoeren-ticket

[2022-09-29 14:56] bschmalhofer commented on #1956
Siehe auch #1881 und #1879.

[2022-09-29 15:48] #1956 closed, assigned to nobody

[2022-09-29 15:55] StefanRother-OTOBO commented on #375
Hi,
This error still exists, you just have to configure POP/IMAP and SMTP in the installer, this is currently not possible.

[2022-09-30 11:30] StefanAbel-OTOBO commented on #1333
Hello,

with 10.1.5 this still is happening. In general this should work, as we discussed this multiple times. And afaik this should have already worked someday. So it would be great if it could work again.

Funny is that e.g. in system configuration setting "Ticket::Type::Default" the translation works, but where you actually need it, it doesn't:

Ticket::Type::Default:
<img width="303" alt="imag

[2022-09-30 14:09] StefanAbel-OTOBO opened #1960 "ACL Form (Hide/Show Dynamic Field) does not work in AgentTicketCompose"
When having an ACL which hides a DynamicField, it doesn't hide it in Agent Ticket Compose.
I could reproduce the issue with OTOBO 10.1.5:

Steps to reproduce:

- Create DynamicField called "test"
<img width="1156" alt="image" src="https://user-images.githubusercontent.com/87359203/193286246-56d26bc2-c4dd-46e5-b9a0-0be6703699cd.png">
- Display the DynamicField in AgentTicketCompose and e.g. AgentTi

[2022-10-01 08:10] bschmalhofer commented on #1892
The default value 443 should also be set for the "OTOBO Nginx with Kerberos" Docker image.

[2022-10-01 10:10] bschmalhofer commented on #1953
Hi Andreas,

intuitively I would agree that different From-Headers in different situations are a bug anyways. With square brackets in the display name quotes would be needed. As a side note, I think that `From: foo bar <foo@example.org>` would be valid as a list of words is allowed.
I will look into this, but it might take some time.

Best regards,
    Bernhard

[2022-10-01 14:54] bschmalhofer commented on #1953
I can confirm the effect on my local test installation. The Auto Reply quotes the display name when there are square brackets. AgentTicketPhone does not.

[2022-10-01 15:00] stefanhaerter commented on #1333
Hi Stefan,

as far as I could see, this is caused by https://github.com/RotherOSS/otobo/blob/9f6f9a0fc10ba312866845e1a03f3c12daf5c955/Kernel/Modules/AgentTicketPhone.pm#L2973 , where the type string is configured as non-translatable, and git blame showed that this is the case since the initial commit. Can you confirm that the wanted behavior is that the Translation-Option is set to 1 or that there

[2022-10-02 12:42] bschmalhofer commented on #1953
Inspecting the code, the differing behaviour is comprehensible. When sending auto responses, the From address is formatted with `Mail::Address::format()`. See https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/System/Ticket/Article/Backend/Email.pm#L660 and https://github.com/OTRS/otrs/commit/696fcb12d3d267890b6142c1b62b9ce1a0a94268.

The same fix should be applied to `Kernel::System::Templat

[2022-10-04 12:28] StefanAbel-OTOBO commented on #1333
Hello,

As far as I'm concerned the types should be translated everywhere (e.g. also in AgentTicketZoom). Maybe there is a reason why this is not the case, but imho it should be. I'm not aware of any config option (if there would be in the system configuration e.g., that would be even better, but not really necessary I would say).

[2022-10-04 12:30] stefanhaerter commented on #1333
Ok, I will look after this =)

[2022-10-04 12:45] svenoe commented on #1333
We will do this for 11.0 not 10.1.

[2022-10-04 13:15] svenoe commented on #650
See the discussion in https://github.com/RotherOSS/otobo/pull/911#issuecomment-817270638 and https://github.com/RotherOSS/otobo/blob/9f6f9a0fc10ba312866845e1a03f3c12daf5c955/Kernel/Config/Defaults.pm#L2052-L2058

This is mostly a question of refining tokenizers etc., I guess.

[2022-10-04 14:21] svenoe commented on #1960
I would guess this is one of the masks where the functionality is not yet implemented at all.

[2022-10-05 08:27] StefanRother-OTOBO opened #1963 "Create new docker file otobo.kerberos.web.docker"
We need Kerberos authentication inside the OTOBO container. I don't like to install kerberos in default OTOBO container, so I'll create a own file.

[2022-10-05 08:29] #1963 closed, assigned to nobody

[2022-10-05 11:34] bschmalhofer commented on #1963
I also updated _bin/docker/build_docker_images.sh_.

[2022-10-06 09:10] bschmalhofer commented on #1888
Verified that

is shown in https://doc.otobo.org/manual/installation/10.1/en/content/migration-from-otrs-6.html#step-4-preparing-the-otrs-otrs-community-edition-system.

Closing this issue.

[2022-10-06 09:10] #1888 closed, assigned to bschmalhofer

[2022-10-06 09:32] bschmalhofer commented on #1312
The link seems to have been repaired in commit bd0ba5ea20e203ad2ff96cc93fe5dc0271d403e1 for #1550.
TODO:

- [x] remove the "on Github"

[2022-10-06 09:55] bschmalhofer commented on #1312
A sanity check after recreating local Docker images and running _docker-compose/scripts/update.sh_ looks fine. The "on Github" is gone and the links still works.
Closing this issue.

[2022-10-06 09:55] #1312 closed, assigned to bschmalhofer

[2022-10-06 10:10] bschmalhofer commented on #1892
Tested this again with:
- set OTOBO_WEB_HTTP_PORT=81 in _.env_
- set OTOBO_WEB_HTTPS_PORT=1443 in _.env_
- `docker-compose up -d`  which restarted the nginx container
- Clearing the browser cache
- Open http://localhost:81/otobo/index.pl in Browser

Got a redirect to https://localhost:1443/otobo/index.pl which worked fine.

Trusting that it also works for the Kerberos image. Closing this issue.

[2022-10-06 10:10] #1892 closed, assigned to bschmalhofer

[2022-10-06 16:55] bschmalhofer commented on #1892
Reopen because OTOBO_WEB_HTTPS_PORT was not passed on to the container in _docker-compose/otobo-override-https-kerberos.yml_

[2022-10-10 14:03] bschmalhofer commented on #1811
Here is some sample code for seeing what is going on:
[code]
The label `MATCH` is not found. Thus it exits the encloding `eval` block and prints the warnings. This means that we can move the label to before the for loop. But then we must take precaution to not run into the `die` statement.

[2022-10-10 14:08] bschmalhofer commented on #1573
Merged the easy parts of the open patch.

[2022-10-10 14:15] bschmalhofer commented on #1811
Applied a patch that silences the warning. Closing this issue. But the larger issue  #1573  is still open.

[2022-10-10 14:15] #1811 closed, assigned to bschmalhofer

[2022-10-10 14:33] bschmalhofer commented on #1573
Provided an updated version of the patch as a PR.

[2022-10-10 15:27] fraenki commented on #1811
@bschmalhofer, thanks for taking care of this! :+1: I've got distracted by other work and forgot to reply...

[2022-10-11 12:03] bschmalhofer commented on #1811
Thanks for the feedback.
I also updated the PR for #1573, so it would be appreciated if you could try out  the new version of LDAP.pm. https://github.com/RotherOSS/otobo/blob/issue-%231573-ldap_tidying_take3/Kernel/System/Auth/Sync/LDAP.pm. I did some cleanup there, but never got around it to really test it.

[2022-10-12 12:09] stefanhaerter commented on #1960
I looked into the Code in Kernel/Modules/AgentTicketCompose.pm. As far as I understand it, the values can be restricted via ACL in this mask, but not the visibility of the fields themselves.

[2022-10-12 12:52] stefanhaerter commented on #1942
Would it be good practice to replace the two occurrences of $Self->{LogObject} with $Kernel::OM->Get... ? Or would you just add $Self->{LogObject} = $Kernel::OM->Get... ?

[2022-10-12 14:13] stefanhaerter commented on #1885
It seems like there is a workaround mentioned [here](https://github.com/fullcalendar/fullcalendar/issues/3028#issuecomment-179017900) and [here](https://github.com/fullcalendar/fullcalendar/issues/5753#issuecomment-934658601) - however, especially the second source does not sound very promising since the workaround produces a warning and the contributor has not responded to the issue since 2020.

[2022-10-12 14:17] stefanhaerter commented on #1885
(Addon: I tested twisting the timezone property as mentioned by @bschmalhofer, but this didn't affect the now indicator, which aligns with the [documentation](https://fullcalendar.io/docs/timeZone), where the now indicator is not listed under affected calendar entities )

[2022-10-12 15:27] bschmalhofer commented on #1942
@stefanhaerter  In this case I would opt for consistency and use `$Kernel::OM->Get('Kernel::System::Log')->Log(...);`. The same way it is done in the other methods.

[2022-10-13 08:47] KhalilHamada-OTOBO opened #1970 "Assigning multiple tickets to one owner by collective action does not work in OTOBO 10.1.5 and 10.1.4"
Assigning multiple tickets to a new owner via bulk action does not work any more. Tested in OTOBO 10.1.4 and 10.1.5.
Did work in older systems.

[2022-10-13 08:54] bschmalhofer opened #1971 "Add an IsObject() method to Kernel::System::VariableCheck"
The method `Kernel::System::VariableCheck::IsHashRefWithData` quite correctly does not recognize blessed hash references. When blessed references need to be verified then `Scalar::Util::reftype()` and `UNIVERSAL::isa()` can be used. But for consistencies sake a dedicated method could be added to `Kernel::System::VariableCheck`.

A better alternative might be to use of one of the many type checking

[2022-10-13 09:56] GritRother-OTOBO commented on #1970
Das Verhalten hängt mit einer Umstellung in der Systemkonfiguration zusammen.

Mit OTOBO 10.1 wurde das Standardverhalten bei der Freigabe von Tickets geändert => freigegebene Tickets werden an root@localhost zurückgegeben, der im Standard mit „–“ benannt ist. So ist offensichtlich, dass das Ticket gerade keinen Besitzer hat.Früher blieb der letzte Besitzer als Besitzer aufgeführt, auch wenn das T

[2022-10-14 11:56] stefanhaerter commented on #292
I suppose this to be influenced by the wrong config key, e.g. here: https://github.com/RotherOSS/otobo/blob/d123c8e38c3a253fbdf1906162c25a7fd1fc3556/var/httpd/htdocs/js/Core.Agent.DynamicFieldDBSearch.js#L259

The key is Autocomplete.MinQueryLength, but according to the Config's content, it should be Autocomplete.DynamicFieldDBSearch.MinQueryLength, analogous Delay in line 260. Using this config k

[2022-10-14 12:06] stefanhaerter commented on #292
Addendum: If the config key is corrected and the config itself not adjusted, one-character-searches are not possible since the default config value for AutoComplete::Agent###DynamicFieldDBSearch->MinQueryLength is 2. This could potentially cause obfuscation on existing systems, but should be easy to fix by adjusting the system configuration.

[2022-10-14 12:55] stefanhaerter commented on #460
I tried to investigate this. At the moment, I don't have a safari browser at hand, but I went with Firefox and Chromium on Linux. I had no problem marking the labels, plain text and headings (however, the headings looked a little odd when marked in Firefox). It was a bit difficult to mark button text and the text in the progress bar, but not impossible. The only thing I couldn't mark were the sele

[2022-10-15 22:03] ghost opened #1973 "Frontend::MenuDragDropEnabled without any function"
Enabling the Setting Frontend::MenuDragDropEnabled has no function. Drag and Drop in Menu is not possible, it does not matter if Setting is enabled/disabled.

[2022-10-15 22:08] ghost opened #1974 "Process Management CSS Border wrong (not round)"
The Border is outline not round:
![image](https://user-images.githubusercontent.com/84412466/196009380-343f9515-cb3e-43a5-913e-212c2d2aeac1.png)

[2022-10-16 08:45] bschmalhofer commented on #1942
Merged the PR. Closing this issue.

[2022-10-16 08:45] #1942 closed, assigned to stefanhaerter

[2022-10-16 09:00] bschmalhofer commented on #1973
I did a quick search for Frontend::MenuDragDropEnabled  and found that there is some support in the code for that feature. So the config setting can't simply be removed. One interesting comment was in _scripts/test/Selenium/Agent/AgentNavigationBar.t_:
[code]
Which browser are you using? If it is only Firefox where drag&drop is not working, then we should investigated whether this limitation can b

[2022-10-16 09:02] ghost commented on #1973
I am using Google Chrome, there it is not working.

[2022-10-16 10:04] bschmalhofer commented on #1973
Hi Markus,

thanks for the feedback. We will think about whether to fix or to remove this feature. But this will take some time, as it is not high up in the agenda. For now,  I filed the issue as planned for the 11.0 release.

Best regards,
   Bernhard

[2022-10-16 20:55] ghost opened #1975 "CustomerFrontend::Navigation###ExternalURLJump###1 impossible to enable"
When i try to enable the setting, it tells me that the field NavBar ist mandatory. I am not able to set this setting, if i cannot enable it.
![image](https://user-images.githubusercontent.com/84412466/196057806-72b46eaa-66f0-435b-8726-05ff46bf6650.png)

I tried to Fix and Rebuild the Sysconfig, but that does not solve the issue.

[2022-10-16 21:01] ghost opened #1976 "migration.pl correct setting for Package::RepositoryRoot"
The Migration script (from Znuny LTS to OTOBO) has updated everything correct, excluded Package::RepositoryRoot. Please check if the Migration Script is currently updating this value.

[2022-10-16 21:19] ghost opened #1977 "Ticket::Frontend::MenuModule###310-FreeText missing setting"
In Default Setting the Cluster Name is empty, because of this the item is not shown in the menu bar. If you change ClusterName to Miscellaneous, its working. If you want you can change the ClusterPriority too, to put the Free Text at the end of the menu bar.

![image](https://user-images.githubusercontent.com/84412466/196058830-d85c142b-424b-48ea-9dbc-a3d7215baa76.png)

[2022-10-16 21:30] ghost opened #1978 "Frontend::Module###AgentTicketFreeText and Ticket::Frontend::MenuModule###310-FreeText wrong title"
Wrong Title: Change Ticket
Correct Title: Change Ticket information

Because of the missing word "information" the String is not translated correct. In the de.pm are 2 translations ("Change ticket" seems only for ticket categorization):
'Change Ticket' => 'Ticket kategorisieren',
'Change Ticket information' => 'Ticketinformationen ändern',

[2022-10-16 21:59] ghost commented on #1973
Hi Bernhard, i found out that its working with a fresh install. I did a migrate from Znuny LTS to Otobo. Are there some other settings i need to check?

[2022-10-16 22:07] ghost commented on #1973
Really interesting, since i started a rebuild of the sysconf its working (migrated and fresh installation)

[2022-10-17 06:20] stefanhaerter commented on #1974
Hi Markus,

thank you for the feedback. As far as I understand the relevant code, this problem affects WidgetNotice, which is only used within the process management, so I can fix this by adding a border radius setting. However, I found that there is at least one other place where the border radius setting of an outer div overwrites the border of the inner div. I will leave this as a note here for

[2022-10-17 09:32] stefanhaerter commented on #1167
It seems like, within the parsing process, the EffectiveValue is passed around like so: [{ '+1 week' => '+7' }]. This causes Kernel/System/SysConfig/Base/Framework.pm _ModifiedValueCalculate to produce a result like this:
Content: '+1 week' => '+7',
instead of
Key: '+1 week',
Content: '+7'

The only solution I have currently at hand is to include a check for what is in $ArrayItem here:
https://git

[2022-10-17 13:48] bschmalhofer opened #1980 "Fix name of test script ArticleStorageNameLenght.t"
That file name looks misspelled.

[code]

[2022-10-17 14:53] bschmalhofer opened #1981 "The Invalid article backend inherits from EventHandler twice"
In _Kernel/System/Ticket/Article/Backend/Invalid.pm_ there is the following code:

package Kernel::System::Ticket::Article::Backend::Invalid;

[code]
But `Kernel::System::Ticket::Article::Backend::Base` already inherits from `Kernel::System::EventHandler`.

[2022-10-17 16:22] bschmalhofer commented on #1980
The file has been renamed. Closing this issue.

[2022-10-17 16:22] #1980 closed, assigned to bschmalhofer

[2022-10-18 17:33] bschmalhofer commented on #1975
I can confirm that with OTOBO 10.1.x. It looks like the default configuration for CustomerFrontend::Navigation###ExternalURLJump###1 is not valid indeed. This needs to be fixed in _Kernel/Config/Files/XML/Framework.xml_. I'll provide a fix for 10.1.6.

[2022-10-18 17:57] bschmalhofer commented on #1975
The merged PR looks fine. With a fresh installation using the HEAD of rel-10_1 I could activate `CustomerFrontend::Module###ExternalURLJump` and `CustomerFrontend::Navigation###ExternalURLJump###1` in the system configuration GUI. After that a extra entry with the icon O showed up in the left side menu of the customer interface. Clicking on the O opens a new tab with https://otobo.de/de/. Closing

[2022-10-18 17:57] #1975 closed, assigned to bschmalhofer

[2022-10-19 13:45] stefanhaerter opened #1984 "Dynamic Field Database search backend produces undefined data due to off by one error"
Code line:
https://github.com/RotherOSS/otobo/blob/d89a619725a6450d18a317f3df2dad70931d4d42/Kernel/System/DynamicFieldDB.pm#L560

Because $RowCount is initialized with scalar @Row, which gives the number of elements in the array, instead of $#Row, which gives the highest index, the returned data contains '{ Data => undef, Label => undef },'.

The same initialization is used in the function Databas

[2022-10-19 13:51] stefanhaerter opened #1986 "Improving Data Handling via Template::Toolkit. Thanks to Tim Puettmanns (maxence)."

[2022-10-19 14:13] bschmalhofer commented on #1984
At least in the first case you could also write something like  `for my $Item ( @Row ) { .. `.

[2022-10-19 14:31] stefanhaerter commented on #1984
Good suggestion, I will check this. Maybe I was tempted by doing as few changes as possible ;)

[2022-10-19 14:58] bschmalhofer commented on #1976
Hi Markus,
thanks for reporting this. This effect has been encountered before. See e.g. https://otobo.de/de/forums/topic/unable-to-update-packages-using-package-manager-error-404/.
The fix should be simple. When migrating the value of `Package::RepositoryRoot` must be reset to the default value. I'll provide the fix for OTOBO 10.1.6,

[2022-10-20 09:18] bschmalhofer opened #1987 "Appointment Calendar Notification could try to use expired PGP public keys"
In _Kernel/System/Ticket/Event/NotificationEvent/Transport/Email.pm_ there is a check of the PGP public keys.

        @EncryptKeys = $PGPObject->PublicKeySearch(
            Search => $Param{Recipient}->{UserEmail},
        );

        # Take just valid keys.
        @EncryptKeys = grep { $_->{Status} eq 'good' } @EncryptKeys;

See https://github.com/znuny/Znuny/commit/50373c74996668d0dca2e3c300b

[2022-10-20 15:43] ghost opened #1988 "Ticket Owner is reset to root@localhost when closing and setting explicit a owner"
When I close a Ticket and set explicit a new Owner, the Owner is always reset to root@localhost. Same behaviour when i dont set a new Owner.
![image](https://user-images.githubusercontent.com/84412466/196994924-6a09a510-0b9c-43fd-a0ae-e451ae726b40.png)

In Znuny LTS this behaviour did not exist and I could not find any configuration differences between our old Znuny LTS and the new OTOBO installat

[2022-10-20 18:11] svenoe commented on #1988
Hi Markus,

we use github solely for development issues, not for general help questions. Please visit [our forums](https://otobo.de/en/forums/otobo/otobo-forum/) for help from the community or write an email to hello@otobo.de for professional support. One of use will have a look at your other issues, too, but especially when migrating a system, depending on its customization, installed addons etc.

[2022-10-20 18:11] #1988 closed, assigned to nobody

[2022-10-20 19:06] bschmalhofer commented on #1988
See also #1372, which unfortunately does not give a reason for this change.

[2022-10-21 11:12] stefanhaerter commented on #1988
I would assume that this is the explanation: https://github.com/RotherOSS/otobo/issues/1653#issuecomment-1228228069

[2022-10-22 09:22] bschmalhofer opened #1991 "Support for Redis in protected mode"
@escix reported:

Apparently there is no config option for setting a Redis password. It should be decided whether support for passwords should be added. This is not urgent as there are always other backends that can be used for caching.

[2022-10-22 09:23] bschmalhofer commented on #1991
See also #107.

[2022-10-22 11:26] bschmalhofer commented on #1976
Hi Markus,
I have added `Package::RepositoryRoot` to the list of setting that are to be reset, see https://github.com/RotherOSS/otobo/blob/bd45243c936364df7ebae0e6867b5549a19caf55/Kernel/System/MigrateFromOTRS/Base.pm , Could you redo your migration with the changed file _Kernel/System/MigrateFromOTRS/Base.pm_ and check whether the repositories now appear on the package admin page?

Best regards,

[2022-10-23 12:14] bschmalhofer opened #1993 "Allow creation of DateTime objects from CPAN DateTime objects"
In OTOBO 10.1 there is a kind of secret possibility to create instances of `Kernel::System::DateTime`by passing a `DateTime`object via the parameter `_CPANDateTimeObject`. This approach should be made official for OTOBO 11.0.

[2022-10-24 11:47] stefanhaerter opened #1994 "Selected Navigation Menu Item for Admin Dynamic Field Configurations"
While navigating to a dynamic field configuration, the menu item 'Admin' is selected (underlined yellow). When opening a dynamic field configuration, the selection switches to 'Tickets'. I would assume that the dynamic field configurations also belong to the admin area. Is this correct behaviour?

[2022-10-24 12:07] stefanhaerter commented on #1994
Addendum: This seems to originate from the 'NavBarName' property of the corresponding setting in Kernel/Config/Files/XML/OTOBODynamicFields.xml. The property is currently empty in the frontend registrations for the AdminDynamicField[...] modules and seems to default to 'Tickets'. If one puts an 'Admin' there, the selection behaves accordingly after a config rebuild and cache clearing.

[2022-10-26 08:14] stefanhaerter commented on #1978
Hi Marcus,

I assume that the two different translations are intended because 'Change Ticket' is used as displayed text and 'Change Ticket information' is set as title which appears when you hover over 'Change Ticket'. This behavior is consistent across (at least) German and English (US) language setting. As far as there are no indications for an error, I would suppose that this is correct.

Kind

[2022-10-26 09:15] stefanhaerter commented on #1954
While investigating another issue, I found that this is due to or at least influenced by sub _NotificationFilter in Kernel/System/Calendar/Event/Notification.pm. The key 'IsVisibleForCustomer' is not skipped unlike many other ones, so the evaluation goes here:
https://github.com/RotherOSS/otobo/blob/b1fac505151f4606690cdcbfae07f4cf316e0645/Kernel/System/Calendar/Event/Notification.pm#L382
And beca

[2022-10-26 12:29] bschmalhofer commented on #1954
When this situation occurs, than a quick workaround is to uncheck "Article visible for customer". Still not sure whether this has any side effects.

[2022-10-26 14:14] bschmalhofer opened #1995 "POD of the method TableCreateComplex"
The documentation of _Kernel/Output/HTML/LinkObject/Appointment.pm_ and  _Kernel/Output/HTML/LinkObject/Ticket.pm_ iTs lacking. In `TableCreateComplex()` the returned attribute `AllColumns` is not documented and the type of the returned data structure is incorrect.

[2022-10-26 15:05] StefanAbel-OTOBO opened #1996 "Frontend::ToolBarModule###210-Ticket::TicketSearchProfile Dropdown too much on the left"
When adding the ToolbarModule for TicketSearch, the list with the search templates is too much on the left. Here you can see two examples from two different systems.

![image](https://user-images.githubusercontent.com/87359203/198062738-74bc29a1-7c30-4f36-ae94-e044dfc5f8d2.png)

![image](https://user-images.githubusercontent.com/87359203/198062775-c980b902-8d17-4c4d-a3e0-ff9e107e3e2d.png)

I repro

[2022-10-27 08:02] StefanAbel-OTOBO commented on #650
As discussed in chat:

- It would be great if the text entered into the elasticsearch bar would also search in the customer user's e-mail address. This doesn't work if you enter the whole address (and the username is not equal to the mail address). Apparently this is the case because the user name is not tokenized, but the e-mail address is.
- Additionally it would be great if you could search for

[2022-10-27 08:06] StefanAbel-OTOBO opened #1997 "Ticket search: link search attributes with OR / XOR"
It would be great if you could add multiple search filters that you could link with an OR or an XOR.

So if you use the ticket search, you could search for:
State: new, open, pending reminder

But if you only want to see the tickets that are new, open or where the pending time is negative, this is not possible today with only one search.
So instead of having two searches, it would be great if you

[2022-10-27 08:20] stefanhaerter commented on #1997
Is this related to https://github.com/RotherOSS/otobo/issues/1831?

(Edit: Nevermind, I got confused with ticket search and ticket list filtering, sorry)

[2022-10-31 15:41] bschmalhofer commented on #1839
Hi @mbagnus,
I have looked at the code and the intent is clear. Only creation in a specific calendar is supported. I agree that the appearance is a bis misleading, with the star that can be used to remove the single selection. But that same layout is used in various parts of OTOBO, so it is a consistent interface.
For consolation, there is an easy way to copy an appointment to another calendar.

1

[2022-10-31 15:44] bschmalhofer commented on #1839
Closing this issue. Note that questions and suggestions on how to work with OTOBO can also be posted in the [OTOBO Forum](https://otobo.de/en/forums/otobo/otobo-forum/).

[2022-10-31 15:44] #1839 closed, assigned to bschmalhofer

[2022-11-01 11:08] bschmalhofer commented on #1573
Hi Frank, @fraenki ,

when working on a simplified PR I noticed the call to `Net::LDAP::search()` in https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/System/Auth/Sync/LDAP.pm#L937. Do you know whether the parameter `Attributes`is correct? In the [documentation](https://metacpan.org/dist/perl-ldap/view/lib/Net/LDAP.pod#search-(-OPTIONS-)) I have only seen the parameter `attrs`.

Best regards

[2022-11-03 07:25] stefanhaerter commented on #85
I took a quick look into perldoc DBD::mysql, and as far as I understand it, you can indeed specify the port in Config.pm by adding the parameter to the DatabaseDSN property, like so:

[Old] $Self->{'DatabaseDSN'} = "DBI:mysql:database=$Self->{Database};host=$Self->{DatabaseHost}";
[New] $Self->{'DatabaseDSN'} = "DBI:mysql:database=$Self->{Database};host=$Self->{DatabaseHost};port=5003";

Probably,

[2022-11-03 10:35] mario-minati opened #1999 "Ticket::Frontend::CustomerTicketCategories translation by key"
Currently the color of Ticket::Frontend::CustomerTicketCategories is based on the value of dynamic fields, not the key. Please check, whether translation happens before or after, as in the former case colors have to be added for each language individually. (Also have a quick look whether there are reasons, like the possible transformations of the value, for that behavior. Changing it as a patch le

[2022-11-03 10:41] mario-minati commented on #1999
The Issue is related to support request #2022103110000443.

[2022-11-03 10:45] mario-minati commented on #1999
First notes from analysing the source by Sven:

Kernel/Modules/CustomerTicketZoom.pm +2011 # my $Color...

uses the value, but we have to check if translation happens before or after that line.

[2022-11-03 12:32] yetiman79 opened #2000 "Search results - column "accounted time""
Hello,

we wonder if it is somehow possible to add a column "accounted time" to search results.
At the moment, it is not possible to select such a column ...

Regards
Ingo

[2022-11-03 13:10] stefanhaerter opened #2001 "Click on horizontal scrollbar in calendar opens AppointmentEdit Dialog"
**Screen:** AgentAppointmentCalendarOverview

**Behaviour:** When "Timeline Week" is selected (or, with browser zoom, also "Timeline Day"), a horizontal scrollbar appears at the bottom of the calendar view. If you click on the bar for scrolling, on mouseup the AppointmentEdit Dialog opens. This does not happen with the vertical scrollbar in "Week" or "Day" view, so I consider it a bug.

[2022-11-04 15:04] bschmalhofer opened #2002 "Remove obsolete support for setting Frontend::NavBarOutputModule'"
Looks like there is obsolete code in _./Kernel/Output/HTML/Layout.pm_
[code]
Looks like this was added in 2012 but was never used or documented:
[code]

[2022-11-05 17:26] fraenki commented on #1573
It's been so long since I've touched this code, so I don't know. :(
But after reading the documentation I agree with your assessment, it should most likely be `attrs`.

[2022-11-07 09:54] mario-minati opened #2004 "Fix 'Uncaught DOMException' in HTMLHead.tt and CustomerHTMLHead.tt"
We found an Javsscript error due to cross-origin requests:
'Uncaught DOMException: Permission denied to get property "href" on cross-origin object

The sources are  [otobo/Kernel/Output/HTML/Templates/Standard/HTMLHead.tt](https://github.com/RotherOSS/otobo/blob/rel-10_1/Kernel/Output/HTML/Templates/Standard/HTMLHead.tt) and  [otobo/Kernel/Output/HTML/Templates/Standard/CustomerHTMLHead.tt](https:

[2022-11-07 09:54] mario-minati commented on #2004
The access to the iframe leads outside the try to an uncatched error.

[2022-11-07 10:23] stefanhaerter commented on #2004
Is there a way to reproduce the error? I'd like to understand what exactly causes it.

[2022-11-08 11:35] bschmalhofer commented on #2002
@svenoe pointed out that `Frontend::NavBarOutputModule` could be used by OTOBO packages for adding to the navigation bar. So let's not remove the code, only add a code comment.

[2022-11-08 11:45] bschmalhofer commented on #2002
Added a code comment. Closing the issue as invalid.

[2022-11-08 11:45] #2002 closed, assigned to bschmalhofer

[2022-11-08 12:00] bschmalhofer opened #2006 "Reactivate DragAndDrop Selenium tests for Firefox"
Currently some drag and drop tests are deactivated for Firefox. But a quick test in the main menu show that drag and drop does work in Firefox. So let's reactivate the tests and see what happens.
[code]

[2022-11-08 12:09] bschmalhofer commented on #1973
Hi @OTECMarkus,

I'm closing this issue now. When there are problems again with drag and drop, a new issue can be opened. See also #2006, for reactivating tests for firefox.

[2022-11-08 12:09] #1973 closed, assigned to nobody

[2022-11-08 13:15] svenoe opened #2007 "Do not run BasePassword preapplication modules for AjaxAttachment action"
For one AjaxAttachment is registered for the agent as well as for the customer interface, in which case the functionality for the customer interface will always be broken, which we should think about, too.

https://github.com/RotherOSS/otobo/blob/8d9138bf27ed98644973005e63fb4fab2278c4d4/Kernel/Modules/BasePassword.pm#L458-L460

Secondly though, AjaxAttachment is called as an ajax call, redirecting

[2022-11-08 13:16] #2007 closed, assigned to svenoe

[2022-11-08 19:05] bschmalhofer commented on #2006
Tests were reactivated and there were no new failures when running Selenium with the browser Firefox. Closing this issue.

[2022-11-08 19:05] #2006 closed, assigned to bschmalhofer

[2022-11-09 15:39] bschmalhofer opened #2009 "Non-existent method Kernel::System::Article::ArticleGet() is called in dead code"
In _Kernel/Modules/AgentTicketZoom.pm_ there is support for the subaction **ShowHTMLeMail** which calls `Kernel::System::Article::ArticleGet()` . But that method does not exist. This was not noticed because the subaction is only set in `Kernel::Output::HTML::Layout::CheckMIMEType()` which is unused.
[code]
TODO:
- [x] remove CheckMIMEType
- [x] remove support for Subaction ShowHTMLeMAil
- [x] chec

[2022-11-10 06:33] stefanhaerter commented on #2009
In at least one occation, this requires to be cautious. In _scripts/test/GenericInterface/Invoker/Ticket/WebserviceTicketInvoker.t, L179_, `$ArticleObject->ArticleGet` is called, however `$ArticleObject` at this point refers to _Kernel/System/Ticket/Article/Backend/Internal.pm_, where the method `ArticleGet` indeed exists.

[2022-11-10 08:43] stefanhaerter commented on #1774
This is due to different margins for labels and class Value within fieldset tables. I investigated this and it occurs that the relevant code stems from OTRS. I will make a PR, since this does not only affect the ticket information widget, but also (but not necessarily limited to):

- AgentStatisticsReportsView
- AdminPackageManager
- GeneralSpecificationWidget
- StatsParamsWidget

I would change t

[2022-11-10 11:43] bschmalhofer opened #2011 "Unused attribute Module in configuration for complex link tables"
In the file _Kernel/Config/Files/XML/Calendar.xml_ there is a setting *Module* that is apparently not used. This setting can be removed. `Kernel/Output/HTML/Layout/LinkObject.pm` does need the declared module, but the name is determined by a naming convention. IMHO the naming convention is fine.

[code]

The same applies to `LinkObject::ComplexTable###Ticket`.

[2022-11-11 07:43] stefanhaerter commented on #85
Side note: https://github.com/RotherOSS/otobo/blob/0dcdb0b93a45960ca8b4026979537602ad8bbac0/Kernel/Modules/Installer.pm#L1050

[2022-11-13 11:30] bschmalhofer commented on #1573
Hi Frank, @fraenki,
after looking at the code of [Net::LDAP](https://metacpan.org/dist/perl-ldap/view/lib/Net/LDAP.pm) I concluded that the parameter `Attributes` is silently ignored. That is, only the parameter `attrs` would be part of the message sent to the LDAP server.  as I don't want to change the current behavior I went for simply removing `Attributes`,

The current behaviour is that the de

[2022-11-14 12:58] bschmalhofer opened #2013 "Consider OTOBO modules in Kernel/cpan-lib in command Dev::Code::CPANUpdate"
There are some OTOBO modules in _Kernel/cpan-lib_. This is for supporting the namespace conventions of some CPAN modules. The command Dev::Code::CPANUpdate already makes provisions for the file _Kernel/cpan-lib/Devel/REPL/Plugin/OTOBO.pm_ . However _./Kernel/cpan-lib/Plack/Loader/SyncWithS3.pm_ and _Kernel/cpan-lib/Plack/Middleware/OTOBO/SecureModeAccessFilter.pm_ are not considered yet.

[2022-11-14 14:28] KhalilHamada-OTOBO opened #2014 "Prozess Transition Action - TicketCreate and Dyn. Feld vom Type MultiSelect Does Not Work"
We have a process where a child ticket is created through a transition action. Many Dynamic Fields are passed in, and this works. Only Dyn. Feld vom Type MultiSelect will not work.
(Because when performing the transition action when copying fields of type MultiSelect instead of the selected values, only a string with the values is adopted.)

[2022-11-14 16:21] KhalilHamada-OTOBO opened #2015 "Ticket has no title in the View CustomerTicketOverview"
If a ticket does not have an item in the ticket, it does not have a title in the CustomerTicketOverview.

![Bildschirm­foto 2022-11-14 um 17 17 21](https://user-images.githubusercontent.com/108396552/201710893-38027a90-75e2-48b3-9556-6f24336e7a28.png)

In the CustomerTicketZoom, the title is there.

![image](https://user-images.githubusercontent.com/108396552/201711503-aeea03e4-1868-4dc7-9821-fa9d

[2022-11-16 20:49] mario-minati commented on #2004
The issue is related to a customer bug report which is available under TicketID=45328;ArticleID=84832

[2022-11-17 17:34] StefanAbel-OTOBO opened #2016 "Please change default state type to "pending reminder" when adding a new state"
When you add a new state in Action=AdminState;Subaction=Add, there is a state type pre-selected - depending on the language, as it is the first possible state type alphabetically.
It would be great, if the default state type could be "pending reminder", as this the state type you select most often.

[2022-11-18 06:15] stefanhaerter commented on #2016
Can it be guaranteed that the state type "pending reminder" is present on every system? Or could the state type be deleted somehow?

[2022-11-18 12:48] StefanAbel-OTOBO commented on #2016
probably in the database, but I am not aware of any way how to delete a state type in the frontend somehow

[2022-11-18 14:20] stefanhaerter commented on #2015
Just to make sure that I understand the case correctly: A ticket title is set, but no item is there in the title?

[2022-11-21 16:30] mario-minati opened #2018 "Use a self hosted gitlab server for oss development"
We are planning to use a self hosted gitlab server to extend and improve our ci skills.

This ticket will be used to track the progress.

[2022-11-21 16:38] mario-minati commented on #2018
The authentication will use GitHub as an authentication provider via OAuth:

- [Gitlab - GitLab authentication and authorization](https://docs.gitlab.com/ee/administration/auth/)
- Gitlab - Github Auth
   - [Gitlab - Use GitHub as an authentication provider](https://docs.gitlab.com/ee/integration/github.html)
   - [Github - Creating an OAuth App](https://docs.github.com/en/developers/apps/building

[2022-11-21 16:56] mario-minati commented on #2018
To keep the github repos up to date we automatically sync the gitlab repos to github.

The sync is kept with [Gitlab - Push mirroring](https://docs.gitlab.com/ee/user/project/repository/mirror/push.html).

Use webhooks as alternative:
- [Sync mirrored GitLab repository automatically on every push to GitHub](https://jsramblings.com/automatically-sync-gitlab-mirrored-repository-on-every-push-to-gith

[2022-11-21 17:57] mario-minati commented on #2018
The initial project migration follows the [Gitlab - Import your project from GitHub to GitLab](https://docs.gitlab.com/ee/user/project/import/github.html) documentation.

[2022-11-21 18:38] mario-minati commented on #2018
We need to downgrade the functionallity of the github repository to avoid collisions between gitlab and github repositories.
This regards at least the issue and pull request handling.

Issues can be disabled:
- [Github - Disabling issues](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/disabling-issues)

Pull requests ca

[2022-11-21 18:57] mario-minati commented on #2018
We need to inform the user that the repository is just a clone of the new gitlab repository.
Github gives no way to inform the users that this is a repo copy and should not be used for pull requests.

We could add a custom README message, but that would also be in the gitlab repository.

**Unsolved issue**

[2022-11-22 09:00] daxim commented on #2018
Just an idea, I didn't try this, HTH:

Commit a new [tree](https://initialcommit.com/blog/what-is-a-tree-in-git) that *has no parents* comprised of only the readme file into the repo. Add a branch (e.g. `important-notice`) pointing to this commit. Tell GitHub and GitHub only that this branch is the [default branch](https://github.com/blog/421-pick-your-default-branch) to display. Expected result:

[2022-11-22 10:09] svenoe commented on #1915
It's the substitution rather than the translation - I don't see any use in calling it like your test exemplifies in any occasion, so I wouldn't count it as official feature, at the same time you can not really break stuff using it, and the comment suggests to not do it, so, I don't see a big necessity for any action here...

[2022-11-22 10:10] #1890 closed, assigned to svenoe

[2022-11-22 13:11] svenoe opened #2019 "Emails which cannot be sent because of missing information should also be removed from the mail queue."
When for some reason messages are stored in the mail queue, which are missing some parameter, the Send() method of Kernel/System/MailQueue.pm will never send the message, but also not delete it from the queue. This should be changed.

[2022-11-23 07:23] stefanhaerter commented on #1978
Closing this.

[2022-11-23 07:23] #1978 closed, assigned to nobody

[2022-11-30 15:31] StefanAbel-OTOBO opened #2020 "Mobile view: editing ACLs not possible"
When you are in mobile view and want to edit an existing ACL in Action=AdminACL;Subaction=ACLEdit , there is no "Save"-Button. You neither find it below the ACL:
![image](https://user-images.githubusercontent.com/87359203/204839586-a9b1dd7c-38b9-4180-809b-3e9311217ec0.png)

... nor can you find it in the menu on the right:
![image](https://user-images.githubusercontent.com/87359203/204839693-97d63