[2020-09-28 08:46] StefanRother-OTOBO commented on #477
Hi,

I don´t like the idea going back to "http", cause I had the same problem in another tool, and I need a lot time to find the setting...:) .
 I think the best idea is to ask the information inside the installer process.
That's not really difficult and after that we are save.

What do you think?

Stefan

[2020-09-28 08:51] svenoe opened #481 "Set the standard http type in the installer."
To hopefully avoid some confusion, a field should be added to the installer, where the standard http type can be set.

See Issues #477 and #475 for the reason.

[2020-09-28 08:52] svenoe commented on #477
Yes, probably good.

[2020-09-28 08:52] #477 closed, assigned to nobody

[2020-09-28 10:02] bschmalhofer commented on #477
Perhaps this can be combined with the setting for FQDN. Maybe have a single setting for "URL used by Agents".

[2020-09-28 10:24] StefanRother-OTOBO commented on #477
I spoke with @bschmalhofer and we think ewe do not need "URL used by Agents".

[2020-09-28 10:25] StefanRother-OTOBO commented on #481
Fixes in 10.0.4

[2020-09-28 10:25] #481 closed, assigned to nobody

[2020-09-28 11:23] StefanRother-OTOBO commented on #194
Hi Bernhard,

do you have a name suggestion or

otobo-docker-nginx
otobo-docker-elasticsearch

fits for you too?

Thanks,

Stefan

[2020-09-28 11:30] StefanRother-OTOBO commented on #194
Hi,

I'll create the new repos.

Best wishes,

Stefan

[2020-09-28 12:26] bschmalhofer commented on #194
I think that this should be discussed, maybe in the OTOBO devel-meeting.

[2020-09-28 12:35] bschmalhofer commented on #480
Yes, I'll merge bin/otobe.SetPermission.pl and bin/docker/set_permission.pl. In order to be explicit I'll add a flag ``--runs-under-docker`` so that the call in _otobo.web.dockerfile_ won't have to rely on the environment variable.

[2020-09-28 13:05] bschmalhofer commented on #232
Should this be backported to the rel-10_0 branch? Already for 10.0.4 ?

[2020-09-28 13:33] bschmalhofer commented on #291
After the commit https://github.com/RotherOSS/otobo/commit/6819be76b4ddb086decf42ffd403ac71114ffb8d the only instances left are in the template toolkit files.

[2020-09-28 13:57] bschmalhofer commented on #417
No problems encountered.Closing this issue.

[2020-09-28 13:57] #417 closed, assigned to bschmalhofer

[2020-09-28 16:35] bschmalhofer commented on #480
Scripts are merged, but not tested yet.

[2020-09-28 16:42] bschmalhofer opened #486 "UnitTests: two test Failures in Compile.t"
The cause is that ``Kernel::System::DateTime`` is loaded for ``use DateTime 1.08``, which is not wanted.
The wrong module is loaded because _Kernel/System_ is in ``@INC``. The reason for that is not obvious. It is probably some unfortunate ``use lib $FindBin::Bin`` statement.
[code]

[2020-09-28 16:46] bschmalhofer opened #487 "UnitTests: Two error in migrating Config XML structure"
The migration apparently does not convert 'otrs_config' to 'otobo_config'. This is already fixed in the rel-10_1 branch, but should be fixed for the 10.0.4 release as well.

[code]

[2020-09-28 16:56] bschmalhofer commented on #447
Backporting is done. issues for remaining failures are created. Closing this issue.

[2020-09-28 16:56] #447 closed, assigned to bschmalhofer

[2020-09-29 06:53] bschmalhofer commented on #487
The relevant changes are in #232 .

[2020-09-29 11:54] bschmalhofer opened #488 "Remove Kernel::System::Console::Command::Dev::Tools::Migrate::DTL2TT"
Migrating from _.dtl_ files to _.tt_ files is not relevant for OTOBO.
Migration to OTOBO is only supported for OTRS 6, and OTRS 6 already used _.tt_ files.

This allows to also remove ``Kernel::Output::Template::Provider::MigrateDTLtoTT()``.

[2020-09-29 12:51] bschmalhofer commented on #487
Tests look fine now. Closing the issue.

[2020-09-29 12:51] #487 closed, assigned to bschmalhofer

[2020-09-29 12:58] svenoe opened #490 "CronTask RebuildEscalationIndex updates tickets despite no changes are present."
See https://otobo.de/de/forums/topic/weird-behavior-tickets-are-being-updated/

Regardless of the settings this should not occur. I assume we will find something connected to our EscalationSuspend implementation.

[2020-09-29 15:13] bschmalhofer commented on #486
`Kernel::Config::Defaults` is the culprit. This module  sets `@INC` based on the location of the including script. A minimal example is:

[code]

_Kernel::System_ is added to `@INC`, thus` Kernel::System::DateTime `is loaded, which has no version.

The fix is to remove the setup of `@INC` in _Kernel/Config/Defaults.pm_.

This was already fixed in #174, https://github.com/RotherOSS/otobo/commit/cc3

[2020-09-29 16:18] bschmalhofer commented on #434
No new problems surfaces. @svenoe did a code review. Closing the issue.

[2020-09-29 16:18] #434 closed, assigned to bschmalhofer

[2020-09-29 16:24] bschmalhofer commented on #486
Tests look fine. Closing the issue.

[2020-09-29 16:24] #486 closed, assigned to bschmalhofer

[2020-09-29 21:27] nandaccio opened #492 "JavaScript not available - Blocked script execution"
We are experiencing the following errors as soon as a reply is available:
![otobo](https://user-images.githubusercontent.com/13116598/94618131-f13dff00-02aa-11eb-9189-8ff8a6d07b37.png)

JavaScript is obviously enabled in the browsers (we tried on different browsers, different machines, different OS), so we are not sure if it's something that must be changed in the configuration.

[2020-09-30 06:10] svenoe commented on #492
I assume you are using otobo via http, while still having https configured as default http type. Please go to the SysConfig, look for "HttpType", and change it, if I am right.

(We are going to change this in one of the next versions, to make it more obvious somehow. If my assumption is right, this is a duplicate of #475.)

[2020-09-30 07:36] bschmalhofer commented on #472
Let's fix this for 10.0.4 as the test suite now uses `TAP::Harness` there too.
The reason why this happens is not obvious, so let's create a workaround. Call `skip_all`when a env var is set.

[2020-09-30 08:03] bschmalhofer commented on #472
Workaround is implemented and looks good. Closing the issue.

[2020-09-30 08:03] #472 closed, assigned to bschmalhofer

[2020-09-30 08:38] bschmalhofer opened #494 "Merge Dev::Tools::Migrate::ConfigXMLStructure into Dev::Tools::Migrate::OTRSToOTOBO"
The OTOBO console module `Dev::Tools::Migrate::ConfigXMLStructure` only renames the XML-tag **otrs_config** to **otobo_config**. There is no obvious reason why this should be a separate command. I propose to merge that functionality into `Dev::Tools::Migrate::OTRSToOTOBO` .

While we are at it, we could reimplement the renaming of the tags. XSLT is usually a better approach for changing XML files

[2020-09-30 08:47] bschmalhofer opened #495 "Base Kernel::System::UnitTest::Driver on Test2::API"
Currently `Kernel::System::UnitTest::Driver`does not play well with the `Test2` ecosystem. This is primarily because the test count is managed in two different places. According to https://metacpan.org/pod/Test2::Manual::Tooling it should be possible to unify the two worlds.

This would probably also allow to do with `Kernel::System::UnitTest::RegisterDriver`. Even `$Self` could be exported from `

[2020-09-30 09:03] bschmalhofer opened #496 "Fix hostname in Dev::UnitTest::Run"
When running the unit tests the hostname should be reported. Currently the setting FQDN is used for that. But FQDN is usually not configured.

`ran tests for product OTOBO 10.0.x on yourhost.example.com`

[2020-09-30 09:10] bschmalhofer commented on #496
Fixed. Closing this issue.

[2020-09-30 09:10] #496 closed, assigned to bschmalhofer

[2020-09-30 09:44] bschmalhofer commented on #488
@StefanRother-OTOBO  aggrees. Removed the command. Compile test looks fine. Closing this issue.

[2020-09-30 09:46] bschmalhofer commented on #494
Moved this to the 10.0 milestone as this is not urgent.

[2020-09-30 09:54] bschmalhofer opened #500 "Review code of the migration modules"
@StefanRother-OTOBO asked me to take a look at the code in _Kernel/System/MigrateFromOTRS_ .
Encountered problems or missing features should get their own issues.

[2020-09-30 10:00] svenoe commented on #465
Hi Vincent,

we again talked a bit about this. The thing is, that we don't see OTOBO as project management tool so much, at the moment. When talking about a Kanboard, I guess in the end, you would rather not only have a board which visualizes the state of a set of tickets, but you would want some interactivity, the possibility to open tickets from there, and so on. This would quickly become quite

[2020-09-30 10:00] #465 closed, assigned to nobody

[2020-10-01 09:35] bschmalhofer commented on #495
The changes have been merged and the tests suite looks good. Closing this issue.

[2020-10-01 09:35] #495 closed, assigned to bschmalhofer

[2020-10-01 10:07] bschmalhofer commented on #389
The relevant time is the configured in the setting `Daemon::SchedulerCronTaskManager::Task###RebuildEscalationIndex`.
I added a comment in _Kernel/Config/Files/XML/Ticket.xml_ stating that the four minutes are relevant and should not be changed.
Marking this issue as 'invalid' and closing it.

[2020-10-01 10:07] #389 closed, assigned to bschmalhofer

[2020-10-01 10:35] bschmalhofer opened #505 "Command Maint::Ticket::EscalationIndexRebuild does not handle all tickets"
When EscalationSuspendStates ist activated and contains at least one state, then the command looks only at tickets in the configured states. IMHO this behavior is unexpected and at least not documented. I propose to revert to the OTRS 6 behavior where the TicketSearch is not restricted to specific states.

When EscalationSuspendStates is not activated then all tickets are handled. This is fine.

I

[2020-10-01 12:10] bschmalhofer commented on #505
After discussion with @svenoe  and @StefanRother-OTOBO  it was decided that the OTRS 6 behavior should be restored. Optionally the command could be converted to call `Kernel::System::Ticker::RebuildEscalationIndex()` in order to avoid code duplication.

[2020-10-01 13:03] bschmalhofer commented on #490
@svenoe , @StefanRother-OTOBO : One question remains. Should we generally leave the change time at the old value when only updating the escalation times? Because updating the escalation time is not really a change in the ticket.

[2020-10-01 13:22] bschmalhofer commented on #505
The OTRS 6 behavior has been restored. The parameter Suspend is also no longer passed.

[2020-10-02 07:18] bschmalhofer commented on #495
Note that no commits show up here. This is because the relevant commits were inadvertently assigned to issue #490. Sorry for the confusion.

[2020-10-02 07:22] bschmalhofer opened #508 "UnitTest: eliminate attribute SelfTest in Kernel::System::UnitTest::Driver"
Testmodules should be tested with `Test2::API::intercept()`. The workaround with `SelfTest` is not needed.

See  https://metacpan.org/pod/Test2::Manual::Tooling::Testing. See also #495 .

[2020-10-02 09:55] bschmalhofer commented on #508
The attribute `SelfTest'  and the method `_Print()` are eliminated. Tests look good. Closing this issue.

[2020-10-02 09:55] #508 closed, assigned to bschmalhofer

[2020-10-02 10:54] bschmalhofer opened #510 "Add, or consistenly use, a method that can parse the file RELEASE"
I have encountered at least two locations where the file _RELEASE_ is parsed. IMHO there should a dedicated function for that. A dedicated module is probably overkill. Maybe a function in Kernel::System::Main suffices.

Alternatively: Convert RELEASE to JSON or YAML

[2020-10-02 11:45] bschmalhofer commented on #510
A similar thing might apply to parsing the file _Kernel/Config.pm_ .

[2020-10-02 12:43] bschmalhofer commented on #500
The subs _CheckOTOBOVersion() and _CheckOTRSVersion() are each declared in two different modules. Is the check performed twice?

[2020-10-02 20:09] bschmalhofer opened #511 "PSGI: reproduce behavior of var/httpd/htdocs/index.html"
Under Apache the file _var/httpd/htdocs/index.html_ redirects to otobo/index.pl- This behavior should be reproduced by _otobo.psgi_ .

[2020-10-03 09:17] bschmalhofer opened #512 "UnitTests: consider scripts in Custom/scripts/test and allow complete pathes"
Currently test scripts in _ Custom/scripts/test_ can override corresponding test scripts in _scripts/test_ . This is useful when a package overrides core functionality. I propose the enhancement that test scripts in _Custom/scripts/test_ are found and executed even when there is no counterpart in _scripts/test_ . This would allow a cleaner separation between addons and core.

[2020-10-03 15:17] bschmalhofer opened #513 "Git: automatically insert issue into git commit message"
The commit message can be prepared via the prepare-commit-msg git hook. See https://git-scm.com/docs/githooks. A suggestion is:

1. When the branch is e.g. named _issue-#500-blabla_ then the commit message is prepended by: _Issue \#500;_
2. When the branch is e.g. name _issue-rotheross/otobo#500-blubber, then the commit message is prepended by: _Issue otheross/otobo#500:_

The naming convention sh

[2020-10-04 08:08] bschmalhofer opened #514 "Nginx: make nginx config customizable"
Users should be able to mount a volume that contains their customized config. This would allow users to add features like support for multiple domains or for a custom SSL config.

The default config template is located in  _/etc/nginx/templates_ . In the template macros can be used, which will be replaced by the value of the corresponding environment variable. In the default template only the macr

[2020-10-04 09:30] bschmalhofer commented on #513
Ah, found that input files, e.g. skeletons, are stored in _Kernel/System_. E.g. Kernel/System/Console/Command/Dev/Code/Generate/ConsoleCommand/ConsoleCommand.pm.skel
TODO:

- [x] move the prepare-commit-msg.dist file
- [x] add the Console command

[2020-10-05 08:26] bschmalhofer commented on #444
It might be less confusing when two test scripts are created: Hello.t and DbViewer.t.

[2020-10-05 16:47] bschmalhofer commented on #513
Let's claim that it works, because it worked once.

[2020-10-05 16:47] #513 closed, assigned to bschmalhofer

[2020-10-06 11:34] bschmalhofer commented on #240
Reopening this issue, because an related error popped up when running the test suite with Perl 5.30.0 in the rel-10_0 branch.
TODO:
- [x] remove the blacklisting of Perl versions in the rel-10_0 branch
- [x] rerun the test suite and see what happens

[2020-10-06 11:51] bschmalhofer opened #517 "UnitTests: eliminate the calls to 'return' in the test scripts"
The test scripts still contain many 'return' calls. These are primarily used for aborting a test script in specific error conditions. These return calls are problematic because:

1. They mess up the test plan
2. A script should not be exited with return.

Easy cases can be replace by a `skip_all()`. Other cases might need a more elaborate logic.

TODO:
- [x] eliminate `return` in test scripts
- [

[2020-10-06 11:58] bschmalhofer commented on #407
The PSGI info is good to have. Let's backport it to the rel-10_0 branch.

[2020-10-06 13:16] bschmalhofer commented on #240
UnitTests look better now. Closing this issue again.

[2020-10-06 13:16] #240 closed, assigned to bschmalhofer

[2020-10-06 13:32] bschmalhofer opened #519 "UnitTest: Failures in CPAN/SOAPLite.t Tests: 13 Failed: 12"
This occurs when tests are run not under Docker, in the rel-10_0 branch.

[code]

[2020-10-06 13:56] bschmalhofer commented on #519
This was already fixed in rel-10_1. Merge the changed files into rel-10_0. Closing the issue.

[2020-10-06 13:56] #519 closed, assigned to bschmalhofer

[2020-10-06 14:24] joserribeiro26 commented on #465
We have a Kanban developed for OTRS, I believe that with little effort it could be ported to OTOBO, if it is of interest we could give this product to be inserted in the OTOBO code.

[2020-10-06 15:49] bschmalhofer commented on #407
Looks like the merge broke something:

[code]
There are also two related failures in Frontend/Basic.t

[2020-10-06 17:45] bschmalhofer opened #521 "UnitTests: Failures with SupportDataCollector"
In the rel-10_0 branch running under Apache:

[code]
See also #407 .

[2020-10-07 07:08] bschmalhofer commented on #521
`Kernel::System::Web::Request::ServerSoftware()'  was missing.

[2020-10-07 13:45] bschmalhofer commented on #514
This was tested by @wollmers  and @bschmalhofer . Closing the issue.

[2020-10-07 13:45] #514 closed, assigned to bschmalhofer

[2020-10-07 15:17] bschmalhofer opened #523 "Docker: strange link to otobo/index.pl at end of installer.pl"
The link in the final page of installer.pl contains the port 8443. This does not make sense at all.

[2020-10-07 16:14] bschmalhofer commented on #521
Tests look fine. Closing the issue.

[2020-10-07 16:14] #521 closed, assigned to bschmalhofer

[2020-10-07 16:26] bschmalhofer opened #524 "UnitTests: avoid Redis-Errors when Redis is not available"
These errors occur in local runs of the test suite when Redis is not available.

[code]
TODO:
 Find a good was to detect whether Redis should be available. If there is no good way, then check for OTOBO_RUNS_UNDER_DOCKER to activate the tests in the Docker case. In the non-Docker-case the flag `--test-redis` could be added.

[2020-10-07 17:32] bschmalhofer opened #525 "UnitTests: Two failures in SessionGet.t"
These failures occur when running the test suite locally, not inside Docker:

[code]

[2020-10-08 07:58] bschmalhofer commented on #525
SessionGet.t had no failures this morning, but I don't understand why there were failures last evening.

[2020-10-08 08:28] bschmalhofer commented on #524
Solution: skip Redis-Test when OTOBO_RUNS_UNDER_DOCKER is not set and a tentative _Connect() does not work. Test output looks fine. Closing this issue.

[2020-10-08 08:28] #524 closed, assigned to nobody

[2020-10-08 08:53] bschmalhofer commented on #505
Implementation has been changed for 10.0.4 already, but let's test some more and close the issue only for 10.0.5

[2020-10-08 10:02] bschmalhofer commented on #407
The SupportDataCollector tests are fixed. The reported values look OK in the Webapp running under Docker.

[2020-10-08 10:26] svenoe commented on #407
Looks good. :)

[2020-10-08 10:26] #407 closed, assigned to nobody

[2020-10-08 11:21] bschmalhofer commented on #525
Another test run without failures from SessionGet.t. Closing this issue.

[2020-10-08 11:21] #525 closed, assigned to bschmalhofer

[2020-10-08 12:10] bschmalhofer commented on #523
In the HTTPS in Docker case the environment variable HTTP_X_FORWARDED_SERVER can be used to get a sane host name.

[2020-10-08 12:58] bschmalhofer commented on #523
The Links is, more or less, sane now.

[2020-10-08 12:58] #523 closed, assigned to bschmalhofer

[2020-10-09 07:55] svenoe commented on #465
At least having it as package would definitely be interesting. We are currently thinking about enabling third parties to provide their own package repositories via the OTOBO package manager. But that is not yet totally thought through. In the end I at least see it as a good way that in cases like this one, not everything has to be directly handled by us, and also it would be easier to recognize, w

[2020-10-09 08:51] svenoe opened #528 "Usage of base tags in html emails."
In the cleaning process for html emails \<base\> tags are removed from the code. This was added to OTRS in 2013 as a bugfix, because the relative path used by some mail clients (seemingly outlook at that time) of images embedded via \<img\> is affected by this, and destroyed those images.

I'm not sure about the current situation of how images are embedded by commonly used mail clients, but in my

[2020-10-09 09:02] bschmalhofer commented on #323
The next route to convert is /otobo/public.pl. The is the first route that supports output filters.

[2020-10-09 12:29] bschmalhofer commented on #323
index.pl and customer.pl are now also tentatively converted.

TODO:
- [x] test
- [x] look at the diffs between InterfaceAgent.pm and InterfaceCustomer.pm, try to minimise them
- [x] convert nph-genericinterface.pl
- [x] no longer require `CGI::Emulate::PSGI`

[2020-10-09 18:00] wollmers commented on #86
`utf8mb4_unicode_ci`  is the correct one.

On newer MySql (>= 8.0):

https://mysqlserverteam.com/mysql-8-0-collations-migrating-from-older-collations/#:~:text=From%20MySQL%208.0%2C%20utf8mb4%20is,of%20the%20complete%20Unicode%209.0.

[code]

MariaDB (<= 10.2.2) has `utf8mb4_unicode_ci`, i.e. on the level of Unicode Version 4.

[2020-10-10 08:38] bschmalhofer commented on #320
Let's try to do this fairly soon, as this simplifies for example the saner generation of HTTP headers.

[2020-10-10 08:43] bschmalhofer opened #531 "PSGI: eliminate CGI::Parse::PSGI::parse_cgi_output()"
Currently the OTOBO webapp produces classical CGI output where first the headers are printed and then the content. But this isn't the PSGI approach, where content and headers are two different entities.
This is best implemented after #320, as this reduces the number of variants.

[2020-10-10 09:06] bschmalhofer commented on #323
nph-genericinterface.pl is tentatively migrated, but there are still problems. Let's try to analyse what is not working by looking at _PossibleValuesGet.t_ .

[2020-10-10 13:51] bschmalhofer commented on #320
The 'use lib' statements in the current CGI-scripts are pretty useless under mod_perl.  `$FindBin::Bin` points to _/usr/sbin/_ as that's the directory that contains the apache2 executable.

[2020-10-11 08:06] bschmalhofer opened #532 "Remove Kernel/cpan-lib/CGI/Apache.pm"
When working on #320 I noticed that` CGI::Apache` is in _Kernel/cpan-lib_ but not used anywhere. The module is deprecated and refers to`CGI` anyways. Let's remove it.

[2020-10-11 08:19] bschmalhofer commented on #532
Done. Closing the issue.

[2020-10-11 08:19] #532 closed, assigned to bschmalhofer

[2020-10-11 12:31] StefanRother-OTOBO commented on #480
Hi,

how das it work for docker environment without user root now?

Thanks,

Stefan

[2020-10-11 12:33] StefanRother-OTOBO commented on #232
Hi,

I think this UnitTests are for migration OTRS 5 to 6, cause I do not create UnitTests for migrating to OTOBO yet.
For me it's fine to remove the tests.

Thanks,

Stefan

[2020-10-12 07:34] #492 closed, assigned to nobody

[2020-10-12 08:16] bschmalhofer opened #534 "MigrateFromOTRS: streamlined migration where otrs db is on same MySQL/MariaDB db server"
A common use case is when the otrs-database is on the same server as the otobo-database. This case should be optimised.

TODO:

- [x] merge the adaptions for migration from rel-10_1 to rel-10_1
- [x] document the proposed general approach
- [x] document copying of databases with mysqldump
- [x] document how to do the streamlined migration under Docker
- [x] implement copying of tables with batch i

[2020-10-12 08:34] bschmalhofer commented on #232
I cherry-picked the commits for this branch into the rel-10_0 branch. Let's close this issue again when things look fine again. There might be some fallout from resolving the merge conflicts.

[2020-10-12 08:53] bschmalhofer opened #535 "Migration: Update the warning about OTRS and OTOBO running on same Apache"
I think that warning is irrelevant for OTOBO 10.0.4 or later. This is because the default configuration contains ` PerlOptions +Parent`, which means that OTOBO has its own Perl.

[2020-10-12 09:18] svenoe commented on #449
I have no objections against:

[2020-10-12 09:20] bschmalhofer commented on #480
Hi  @StefanRother-OTOBO ,

the short answer is that it does not work under Docker.

It even does not work when one is root in the running `otobo_web_1` container. Being root can be achieved by `docker exec -it --user root otobo_web_1 bash`.  But `otobo.SetPermissions.pl` internally calls the Perl commands `chmod` and `chown`. The `chown` does not succeed because root has limited Linux capabilities

[2020-10-12 09:26] bschmalhofer commented on #488
Let's remove DTL2TT.pm already in 10.0.5.

[2020-10-12 10:33] svenoe commented on #449
I have no objections against: List::AllUtils, Const::Fast and String::Util.

For the other Modules there are at least some additional questions:
- Path::Class - I really don't see the use case so much. We are only supporting Linux and hopefully BSD, which don't need any differentiation in their path names. Also opening files is currently done via Kernel/System/Main.pm, which additionally locks the

[2020-10-12 11:16] bschmalhofer commented on #488
Done. Closing this issue again.

[2020-10-12 11:16] #488 closed, assigned to bschmalhofer

[2020-10-12 11:48] bschmalhofer commented on #449
@svenoe , here are my comments regarding the modules in question:

- Path::Class
There is some code in OTOBO that deals with manipulation of pathes. A recent example where I used ' Path::Class' is _scripts/test/Console/Command/Dev/Tools/Migrate/OTRSToOTOBO.t_ . But I agree that this needs to be discussed. Personally I'm not a fan of `Kernel::System::Main' .
- Syntax::Keyword::Try
`DBD::mysql`needs

[2020-10-12 14:08] bschmalhofer commented on #534
One problem to consider: the table name 'groups' is not allowed in MySQL 8. But we got lucky here. According to https://mariadb.com/kb/en/reserved-words/ 'groups' is not reserved on MariaDB 10.

[2020-10-12 18:54] bschmalhofer commented on #494
Merging has been done. Let' s wait whether any problems show up.

[2020-10-13 08:43] bschmalhofer opened #539 "Docker: quick_setup.pl should be aware of OTOBO_WEB_HTTP_PORT"
Running the command:
`docker exec -t --user otobo otobo_web_1 bash -c " rm -f Kernel/Config/Files/ZZZAAuto.pm ; bin/docker/quick_setup.pl --db-password otobo_root"`
prints out something like:
[code]
It would be nice when a non-standard HTTP port, as potentially declared in _.env_, would be considered in the reported URL. The setting could be taken from the output of `docker-compose config`.

[2020-10-13 09:25] bschmalhofer opened #540 "Migration: SecureMode is not the current value in migration.pl"
When testing migration frim OTRS 6 to OTOBO 10 is followed the instructions in the installation manual. I deactivated SecureMode and deployed the changed setting. However migration.pl still complained about secure mode being active.
That SecureMode was deactivated could be confirmed by checking the deployment history and by inspecting _Kernel/Config/Files/ZZZAAuto.pm_ .

Calling `docker-compose re

[2020-10-13 10:26] bschmalhofer commented on #457
A similar effect is when the database access fails. Effectively the complete migration has to be started from the beginning. I would have expected a 'Try again' button.

[2020-10-13 10:44] bschmalhofer opened #541 "MigrationFromOTRS: final link in migration.pl"
After a test migration I had the final link http://localhost:8443//otobo/index.pl . Looks like the same problem as in #523.

[2020-10-13 12:03] svenoe commented on #175
Starting with https://github.com/OTRS/otrs/commit/8c6ae2b02ce29be4e38232e443e733345e2b3a38 there have been a number of commits around Selenium which I have not implemented in otobo yet. If we are at a point were we actively use Selenium testing, we should have a look at them at least. (Can be done by me.)

[2020-10-13 14:19] bschmalhofer opened #542 "MigrationFromOTRS: explain why some columns are shortened to 190 chars"
In _Kernel/System/MigrateFromOTRS/CloneDB/Driver/Base.pm_ there is the following dubious code:

[code]
It is not obvious where the constant value of 190 characters is coming from. The suspicion is that either this value should be depend on the actual database table. At least it should be properly explained.

[2020-10-14 07:18] svenoe commented on #449
I just had one additional thought, which is - I see it as condition, that at least required packages can be found in at least the Ubuntu package repository. This has been the mainly described way to install OTRS, and I think it needs a really really good reason to give up on even the possibility of installing OTOBO this way. I just checked via https://pkgs.org/ and it is true for all packages but

[2020-10-14 08:58] StefanRother-OTOBO opened #543 "DynamicField default value not working"
Hi,

I use Otobo 10.0.4 -> ITSM Package installed. If I juice another value as default value in DynamicField type "Dropdown" (in my example "nein"), the wrong value is shown inside the agent interface. If I use "-", it's work like a charm.

Thanks!

Stefan

[2020-10-14 09:26] svenoe commented on #543
It happens for initially hidden fields and is most likely independent of ITSM. I will have a look.

[2020-10-14 11:04] svenoe commented on #251
Fixed. I also added a notice, if the wrong HttpType is set. I was thinking whether the notice was enough, as it solves the main problem of simply recognizing, that your setup is wrong. I delete both cookies now anyways, because, although this should almost never occur, it could be very tricky to tell all of your customers to delete their browser cookies themselves, if it does.

[2020-10-14 11:04] #251 closed, assigned to bschmalhofer

[2020-10-14 11:17] svenoe commented on #542
The explanation is this, if I understand correctly: "# Check if we need to cut the string, cause utf8mb4 only needs 191 chars." (Though "needs" is not the right word.)

I forgot for which column types this exactly applies and when, but as we switched from utf8 to utf8mb4, the maximum size in some places has shrunken down from 255 to 191 (is it only CHAR?).

[2020-10-14 11:24] svenoe commented on #480
This is not a bug, we will discuss somewhen, whether we need this functionality, but I guess not for 10.0.5.

[2020-10-14 13:13] svenoe opened #544 "CustomerID is not correctly added, when creating a new ticket via AgentTicketPhone or -Email."
This is an unwanted side effect of taking the CustomerID out of the forms. I will redo this and just hide the fields.

[2020-10-14 13:14] bschmalhofer opened #545 "Eliminate Kernel::System::FileTemp"
I see no benefits of this module over using `File::Temp` directly. It does set up a non-standard location for temporary dirs. But I don't think that this is a benefit.

[2020-10-14 13:26] svenoe commented on #544
Done.

[2020-10-14 13:26] #544 closed, assigned to svenoe

[2020-10-14 16:15] bschmalhofer commented on #534
A test migration with the batch insert completed now. But  there are still thinks to do.

[2020-10-14 20:03] bschmalhofer commented on #232
Did a final check on rel-10_0 and repaired info@otrs365.com.  Closing this issue again.

[2020-10-14 20:03] #232 closed, assigned to bschmalhofer, svenoe, StefanRother-OTOBO

[2020-10-14 20:06] bschmalhofer commented on #194
Frankly, I got used to it. Let's keep it the way it currently is.

[2020-10-14 20:06] #194 closed, assigned to svenoe, StefanRother-OTOBO

[2020-10-14 20:09] bschmalhofer commented on #454
The work done for #534 might improve this. But doing batch INSERT even when the source is a remote database sounds like a worthwhile idea to explore.

[2020-10-15 08:00] bschmalhofer commented on #251
@svenoe : I see that in your fix you relied on the environment variable ``$ENV{REQUEST_SCHEME}`` . This is perfectly valid for rel-10_0, but problematic for rel-10_1. Generally, CGI  environment variables shoud be avoided. For being compatible with rel-10_1 there are two things to do:
- add the method ``Kernel::System::Web::Request::ServerProtocol()``. You can grab the implementation in rel-10_1.

[2020-10-15 10:40] svenoe commented on #251
Fixed for rel-10_1. :)

[2020-10-15 11:16] svenoe opened #547 "DateTime issue in current 10.1."
Currently, when trying to execute Maint::Cache::Delete e.g., I get the following error:
`Initialization of state variables in list context currently forbidden at /media/sf_dev/otobo/otobo-dev/Kernel/System/DateTime.pm line 1619`
And I'm not sure, for what reason we use state here.

[2020-10-15 14:21] svenoe commented on #543
Fixed.

[2020-10-15 14:21] #543 closed, assigned to svenoe

[2020-10-15 16:24] bschmalhofer commented on #534
A streamlined migration worked at least once, on a simple test database.

[2020-10-15 17:53] bschmalhofer opened #549 "UnitTests: Two tests without plan"
[code]

[2020-10-15 18:54] bschmalhofer commented on #549
_AgentTicketEmailSMIME.t_ was already fixed by @svenoe  in rel-10_0.

_TimeStamp2SystemTime.t_ converted to `Test2::V0`

Tests look fine again, closing this issue.

[2020-10-15 18:54] #549 closed, assigned to bschmalhofer

[2020-10-16 06:35] svenoe commented on #505
Had a quick look at it, don't think there's anything to expect. If something comes up, we can reopen this issue.

[2020-10-16 06:35] #505 closed, assigned to bschmalhofer

[2020-10-16 07:44] bschmalhofer commented on #547
`state` is used here as the modern replacement for the caching Variable `%ValidTimeZones` which was previously declared in file scope. The problem was that assignment of state hashes is only supported in Perl 5.28 or later. See https://www.effectiveperlprogramming.com/2018/08/initialize-array-and-hash-variables-with-state/.

I changed the implementation to using a scalar instead of a hash as the s

[2020-10-16 07:44] #547 closed, assigned to bschmalhofer

[2020-10-16 07:51] bschmalhofer opened #552 "Add new methods for Kernel::System::Web::Request"
In the rel-10_1 branch, `Kernel::System::Web::Request` has received some additional methods that allow the disuse of the `%ENV` hash. See #181. These methods can, but don't have to, be used in rel-10_0 as well. So let's add them in rel-10_0.

[2020-10-16 09:09] bschmalhofer commented on #552
Done. Also pulled in some minor changes in the Interface modules, just to make the diffs to the rel-10_1 branch smaller.
Closing this issue.

[2020-10-16 09:09] #552 closed, assigned to bschmalhofer

[2020-10-16 09:14] bschmalhofer commented on #542
@StefanRother-OTOBO explained where the 190 chars come from:
[code]
This explanation should be added as code comment as well. See also https://dev.mysql.com/doc/refman/5.6/en/innodb-limits.html and https://dev.mysql.com/doc/refman/5.7/en/innodb-limits.html

[2020-10-16 13:42] bschmalhofer commented on #542
The code comments have been enhanced. Closing this issue.

[2020-10-16 13:42] #542 closed, assigned to nobody

[2020-10-16 13:49] bschmalhofer commented on #534
The shortening of columns currently only works for the non-batch copying. Therefore shortened colums trigger a fallback to the non-batch approach. Make shortening work for all cases.

The fallback because of 'DirectBlob' is not relevant here. It's only an issue when the database system is changed, e.g. MySQL to Postgres,

[2020-10-16 16:39] bschmalhofer commented on #351
Removed all the version checks. Keep the config for Apache 2.4. Closing the issue.

[2020-10-16 16:39] #351 closed, assigned to bschmalhofer

[2020-10-17 08:54] bschmalhofer commented on #129
The issues with  https://metacpan.org/pod/feature#The-'unicode_eval'-and-'evalbytes'-features most likely no longer apply. The test scripts now run as separate scripts, eval is no longer involved there.

[2020-10-17 08:56] bschmalhofer commented on #490
During the devel meeting on October 16th, it was decided that these updates can be removed. The removal can be done, when there is no danger that the removal will have unwanted side effects.

[2020-10-17 10:49] bschmalhofer commented on #490
The updating of the change_time has been implemented.

One test failure cropped up in _test/Event/Escalations.t_ . In needs to be checked whether the test or the implementation must be adaped

[2020-10-18 10:43] StefanRother-OTOBO commented on #454
Hi,

I think we have no task here at the moment. I do the installation process every day, and I don't see problems like this.
I think that's a lokal problem, on my virtual instance the duration time is always smaller than 20 seconds.

Anyway, it's not the fastest step, but you need to do it only one time per installation.

Thanks for your help!

Stefan

[2020-10-18 10:43] #454 closed, assigned to StefanRother-OTOBO

[2020-10-18 10:46] StefanRother-OTOBO commented on #264
Hi Bernhard,

I think we do not need it for docker. If needed, we need to build a customer docker file.

Closed for me.

Thanks!

Stefan

[2020-10-18 10:46] #264 closed, assigned to StefanRother-OTOBO

[2020-10-18 10:55] StefanRother-OTOBO commented on #449
Hi,

1.) for me is important, that we use the modules first time in 10.1.
2.) Another question is the future plans of Bernhard.
3.) Syntax::Keyword::Try will rather worsen the readability, I'm not sure if this makes sense.

Thanks,

Stefan

[2020-10-19 13:07] bschmalhofer commented on #494
Let's close this issue. Further improvement of the migration process have been implemented in #534

[2020-10-19 13:07] #494 closed, assigned to nobody

[2020-10-19 13:56] bschmalhofer commented on #540
It looks like ZZZAAuto.pl is not reloaded reliably. In the Webapp there was the message "The configuration is being updated, please be patient..." after the first deployment.
A check of _Kernel/Config/Files/ZZZAAuto.pm_ showed no strangeness. The changed setting was there and CurrentDeploymentID was set to 2.

But apparently some delay is accepted:
[code]

[2020-10-19 16:30] bschmalhofer commented on #534
This is very strange. Why is the connection lost when doing a simple CONVERT TO CHARACTER SET ?
Note that the column *customer_user_login* is already shortened to 191 chars and that foreign key constraints are already removed.

[code]

[2020-10-20 10:19] bschmalhofer commented on #541
The link looks correct now. Closing this issue.

[2020-10-20 10:19] #541 closed, assigned to bschmalhofer

[2020-10-20 11:09] bschmalhofer commented on #540
@StefanRother-OTOBO  I still don't really understand how ZZZAAuto,pm is reloaded when it has been changed. ``Kernel::Config::Defaults::new`` requires the _Kernel/Config/Files/*.pm_ files. But require does not check whether the module has changed. Did the classic OTOBO rely on `Apache::Reload` ? If that is so, then maybe `Plack::Middleware::Refresh`does no work for_ ZZZAAuto.pm_

[2020-10-20 11:19] StefanRother-OTOBO commented on #540
Hi Bernhard,

I don't know how it works detailed, but I'm sure Apache::Reload is not the mechanism, cause the mechanism work without Apache::Reload, if I remember right.

In my last test it was no problem to disable the secure_mode in docker and open migration.pl.

Could it be that you had already started the migration and then the configuration of the other system was already taken over, with sec

[2020-10-20 12:39] bschmalhofer commented on #534
Changed the strategy a bit:

- The charset conversion is now done in the mysql/mysqldump step
- Target tables are no longer temporarily moved.

Added missing features:

- Checkbox for destructive moving of tables
- Fixed final link to index.pt.

Preliminary test with a small test database:

- [x] ALTER TABLE ... RENAME ..
- [x] Batch Insert
- [x] Row by Row from Database server running on Docker h

[2020-10-20 15:03] bschmalhofer commented on #490
Let's fix the test failure after the 10.0.5 release.

[2020-10-20 16:06] bschmalhofer commented on #534
Fixed a problem where under Docker the logfile name was taken from the OTRS config.

[2020-10-21 07:33] StefanRother-OTOBO opened #558 "Elasticsearch auto configuration do not work in installer.pl"
Hi,

In OTOBO 10.0.4 we have the problem, that the auto installation and activation (at least using docker) not work.
I check the logs and found the following error:

`elastic_1  | "stacktrace": ["java.lang.IllegalStateException: you must set the number of shards before setting/reading primary terms"`

After that I'll checked the code in Kernel/Modules/Installer.pm line 857 and found:

`my $IndexC

[2020-10-21 07:35] #558 closed, assigned to svenoe

[2020-10-22 07:28] bschmalhofer opened #561 "Check usage of Kernel::System::SysConfig::SettingUpdate"
The module `Kernel::System::SysConfig` is an outlier, in that it return a hash instead of a scalar value. This means that in list context a list of key value pairs is returned. In scalar context the number of entries in the result hash is returned.

Checking for success should be done via the attribute `$Result{Success}`. But at least in `Kernel::Modules::MigrateFromOTRS` there is a call to `Setti

[2020-10-22 07:31] bschmalhofer commented on #534
Testing showed that it worked at least once. Closing the issue.

[2020-10-22 07:31] #534 closed, assigned to bschmalhofer

[2020-10-22 09:39] bschmalhofer commented on #561
Checked the usage. Fixed some cases where the status was not checked correctly.
Unittests look fine. Closing the issue.

[2020-10-22 09:39] #561 closed, assigned to bschmalhofer

[2020-10-22 12:12] bschmalhofer commented on #517
Eliminated the questionable return statements. Unittests look mostly fine.

But some errors cropped up in _PGP.t_ It could be that `Test2::V0` somehow does a `use utf8` for the test script. Needs to be investigated.

[2020-10-22 16:58] bschmalhofer commented on #517
After considering the encodings, PGP.t succeeds again. Also some refactoring in PGP.t.
When more inappropriate returns are encountered, then they should be handled in a separate issue.

Closing this issue.

[2020-10-22 16:58] #517 closed, assigned to bschmalhofer

[2020-10-22 17:30] bschmalhofer commented on #449
Added the modules as requirements in rel-10_1.

@StefanRother-OTOBO: I  skipped Syntax::Keyword::Try.  Let's discuss this when exception handling is under discussion.

[2020-10-23 07:18] bschmalhofer commented on #444
Improvements of the test suite can be done in the rel-10_0 branch. Do that and move the milestone to 10.0.6

[2020-10-23 08:00] bschmalhofer commented on #394
Move to milestone 10.0, just to have future developments in one place.

[2020-10-23 08:00] bschmalhofer commented on #241
Move to milestone 10.0, just to have future developments in one place.

[2020-10-23 08:00] bschmalhofer commented on #226
Move to milestone 10.0, just to have future developments in one place.

[2020-10-23 08:13] bschmalhofer opened #565 "Create interface for setting HTTP-headers"
This is an issue concerned with turning otobo.psgi into a regular PSGI application. Currently the web interface modules create a string that contains the HTTP headers followed by the content. `CGI::Parse::PSGI::parse_cgi_output` tears that string apart and parses the headers. This is not straight forward. `Kernel::Output::HTML::Layout` should get a method for adding a header and a method for getti

[2020-10-23 08:15] bschmalhofer opened #566 "Use the interface for setting headers"
This is a followup to #565.  Actually use the interface for setting and getting headers. In the best case all of core OTOBO should be converted.

[2020-10-23 08:47] bschmalhofer opened #567 "Docker: Enhance the update process"
During the last devel meeting it was decided to simplify the upgrade process:

TODO:

- [x] keep the general strategy where the new _/opt/otobo_ is copied over the existing _/opt/otobo_
- [x] no funny version check, currently there is a check that old and new version mustn't be devel versions
- [x] no automatic upgrade, upgrading must always be triggered manually
- [x] execute actions automaticall

[2020-10-23 09:11] bschmalhofer opened #568 "PSGI: Check whether robots.txt is served"
I suspect that robots.txt is not served by _otobo.psgi_, In any case, there should be a test for it.

[2020-10-23 09:34] bschmalhofer opened #569 "Docker: don't copy var/cron when migrating from OTRS"
Under Docker there is no _var/cron_ .

[2020-10-23 11:22] bschmalhofer commented on #569
The change is merged. Before closing the issue we must test the migration again.

[2020-10-23 14:20] bschmalhofer commented on #511
This is a real bug. Move the issue to OTOBO 10.0.6.

[2020-10-23 15:45] bschmalhofer commented on #511
The change is merged.

@StefanRother-OTOBO : Could you also test manually,  whether this is the expected behavior?

[2020-10-24 09:03] bschmalhofer opened #573 "Require the module Class::Method::Modifiers"
I think that `Sub::Override` is useful for writing extension. Let's discuss this. See also #73 .

[2020-10-24 09:05] bschmalhofer commented on #73
The list is too mixed. The better approach is to open an issue for each module that is proposed to be added. For `Sub::Override` I added #573 . This other modules are not pressing right now. Closing this issue.

[2020-10-24 09:05] #73 closed, assigned to bschmalhofer, svenoe, StefanRother-OTOBO

[2020-10-26 09:00] bschmalhofer opened #575 "MigrateFromOTRS: make database copy more robust"
During a migration several issues were encountered. Looks like the migration must be made more robust.

**1.**

COLLATE utf8_bin was not replaced.

**2.**

Maybe the table `acl` was not truncated.

[code]

**3.**
Looks like foreign key checks were not disabled.

[code]

[2020-10-26 09:03] bschmalhofer opened #576 "MigrateFromOTRS: use Kernel::System::DB::ListTables()"
There is a method in `Kernel::System::DB` to get the tables of a schema. No need to have a migration specific version of this function.

[2020-10-26 09:51] bschmalhofer commented on #575
I suspect that one cause of the problems is that a new connection was created where foreign key checks were not disable.
Another problem might be that the 'TRUNCATE' was not working.
Or was the migration executed twice at the same time?

[2020-10-26 11:08] bschmalhofer opened #577 "Use DBIx::Connector in the non-PSGI case"
Reducing the number of variants is a good thing.
But it has to be pondered whether DBIx::Connector should really be used for console commands and daemon tasks.

[2020-10-26 13:03] svenoe commented on #545
I don't know every way otobo is set up on systems. If someone wants to give minimal access to the otobo-user, or just have all otobo-files in one place for a better overview, or maybe disk space limitations, it's not a bad thing to be able to, in my opinion.

[2020-10-26 13:05] bschmalhofer commented on #540
It is not clear whether this problem persists with OTOBO 10.0.5 under Docker. This can't be checked with the agent interface, as the agent interface does not care about SecureMode.

[2020-10-26 13:22] svenoe commented on #510
I think a method like "Version" in Kernel::System::Main returning program and version is a good idea. Converting to YAML/JSON in principle would be ok, but I guess some people writing external scripts (me^^) would not be happy...

Why or where do you want to parse Kernel/Config.pm?

[2020-10-26 13:26] svenoe commented on #460
Which forms are you speaking of? The customer interface, or the agent interface? For me it is working for both, although in the customer interface it is not so nice, yes, as the labels are responding to the mouse movement,...

[2020-10-26 13:31] svenoe commented on #459
Actually I'm also not 100% happy with how the setup of the db works with respect to the password. You can however use a temporary user etc. to make things better, at least. I'll put it to the enhancements project. Especially for docker, this can surely be done more streamlined.

[2020-10-26 13:31] #459 closed, assigned to nobody

[2020-10-26 14:12] svenoe commented on #458
Would be nice, there are more important things though, at the moment.

[2020-10-26 14:12] #458 closed, assigned to nobody

[2020-10-26 14:24] svenoe commented on #457
Would be nice, yes, but the installation is not done so frequently (if it works at least ^^'), so nice, but not so important.

[2020-10-26 14:24] #457 closed, assigned to svenoe

[2020-10-26 14:25] #455 closed, assigned to nobody

[2020-10-26 14:32] bschmalhofer commented on #510
@svenoe , _Kernel/Config.pm_ is parsed during the migration. This is problematic because this is Perl code that can be formated in is strange ways.

[2020-10-26 15:21] bschmalhofer commented on #540
This seems to work in the devel version of 10.0.6. Closing this issue.

[2020-10-26 15:21] #540 closed, assigned to nobody

[2020-10-26 15:34] bschmalhofer commented on #575
A test migration with a small OTRS database looked fine. The table acl had two rows. A test with a large database would be interesting.

[2020-10-26 19:07] wollmers commented on #460
@svenoe "during installation" i.e. neither customer nor agent interface.
Don't remember exactly which ones or all.

[2020-10-27 07:04] svenoe commented on #510
But it is probably not done anywhere else, I mean the only reason it is not loaded, is because one OTOBO version has to read out the information of another installation, and I cannot imagine another place where this is necessary. Concerning the parsing itself, it would probably be best, to just eval the complete Load-subroutine (that is basically the "parser") - if you call it, passing a $Dummy (=

[2020-10-27 07:37] bschmalhofer commented on #510
Yes, evaling the method `Load`would be the way to go.

[2020-10-27 08:01] bschmalhofer commented on #500
Closing this issue. However further improvements to the migration modules are appreciated.

[2020-10-27 08:01] #500 closed, assigned to bschmalhofer

[2020-10-27 09:44] bschmalhofer opened #581 "Docker: redirect of https://localhost/otobo/"
The above URL redirects to https://localhost:8443/otobo/index.pl. Note that the internal port is incorrectly included in the redirect.

[2020-10-27 09:57] bschmalhofer commented on #575
Removed the COLLATE directive before creating the otrs schema on the otobo database server.

[2020-10-27 14:37] bschmalhofer commented on #575
Added an explicit check whether ZZZAAutp.pm has been modified. Might help with the SecureMode problem.

[2020-10-27 15:50] bschmalhofer commented on #581
Use relative pathes now. Made a hackish solution because I didn't find the fitting method. Closing this issue.

[2020-10-27 15:50] #581 closed, assigned to bschmalhofer

[2020-10-27 16:15] bschmalhofer commented on #568
Implementation and test are added. Closing this issue.

[2020-10-27 16:15] #568 closed, assigned to bschmalhofer

[2020-10-27 16:23] bschmalhofer commented on #511
Looks fine. Closing this issue.

[2020-10-27 16:23] #511 closed, assigned to bschmalhofer, StefanRother-OTOBO

[2020-10-28 06:39] wollmers opened #585 "Many links to documentation are broken"
A quick check with an invalid URL in the current branch `rel-10_0`:

[code]

Needs a commitment to an URL scheme stable over longer periods.

Needs coordination across all repositories, websites and tool chains.

See https://github.com/RotherOSS/doc-otobo-admin/issues/3

[2020-10-28 11:19] bschmalhofer commented on #567
An initial test looked fine. But more testing is needed.

[2020-10-28 11:39] bschmalhofer commented on #575
A test with a small database, and OTOBO running under Docker, looked good.

[2020-10-28 11:40] bschmalhofer commented on #569
No _var/cron_ after a migration under Docker. Closing this issue.

[2020-10-28 11:40] #569 closed, assigned to bschmalhofer

[2020-10-28 14:13] bschmalhofer commented on #444
The tests was not working because `Kernel::System::UnitTest::Helper` has RestoreDatabase enabled. This means that the test user was created in a transaction which is never committed. Thus the webserver can't see the added user.

[2020-10-28 14:45] bschmalhofer commented on #444
Tests are looking good. Closing this issue.

[2020-10-28 14:45] #444 closed, assigned to bschmalhofer

[2020-10-28 14:58] bschmalhofer opened #589 "MigrateFromOTRS: use database UPDATEs for some of the tasks"
Some steps can be done by running simple database UPDATES on the complete database tables.
This should be faster. The real advantage would be that the update is atomic, thus no partial migration can occur.

[2020-10-28 17:44] bschmalhofer commented on #199
This is not urgent, back to Milestone 10.1,

[2020-10-29 06:46] svenoe commented on #199
It's not super urgent, I agree, but it seems to me, that the implementation is not likely to cause any hardly foreseeable bugs or anything, as it is probably quite encapsulated from the rest. So if it is done somewhen, in my opinion nothing is speaking against doing it directly on the rel-10_0 branch - we already have some systems running on psgi, and I guess  all would be happy about spending les

[2020-10-29 10:26] StefanRother-OTOBO opened #590 "Bug in AgentTicketPrint with DynamicField Type Title"
Hi,

The AgentTicketPrint view is not beauty at the moment. All fields from type Title are shown like:

Title: 1

We need to remove the value from print screen and format the view.

Thanks,

Stefan

[2020-10-29 10:39] StefanRother-OTOBO opened #591 "Button "Save" in DynamicField Type "Title" leaves the view"
Hi,

If I click the Button "Save" in AdminDynamicFieldTitle we leave the view.
In all other DynamicFields types we stay inside the view.

Thanks,

Stefan

[2020-10-29 10:45] StefanRother-OTOBO opened #592 "Error in logs after changing the config option "TimeWorkingHours""
Hi,

after changing the config option "TimeWorkingHours" I have a many errors inside the logs (Sat and Sun have no time configured in my example config). The error is only inside the log.

[code]

Thanks,

Stefan

[2020-10-29 10:52] StefanRother-OTOBO opened #593 "Remove AdminDynamicFieldScreen in OTOBO"
Hi,

if I like to add a form in OTOBO, I need to add the fields first, than add the fields to the screens in AdminDynamicFieldScreen and after that I configure the form using ACL´s.

In my opinion is the best way, to add in each dynamic field create or change screen the possible to choose the screens, not anymore in AdminDynamicFieldScreen.

Thanks,

Stefan

[2020-10-29 11:04] StefanRother-OTOBO opened #594 "Quickclose in AgentTicketZoom is possible on locked tickets"
Hi,

1.) Another Agent has locked the ticket.
2.) In OTOBO (ITSM) is it possible to select quick close in AgentTicketZoom and the ticket will closed.

Please change it like the "close" standard with a config option. Default quick close is only shown, if I'm the owner of the locked ticket.

Thanks!

Stefan

[2020-10-29 11:05] svenoe commented on #593
While you are in the process of creation I agree, but if you are working on an older system, having especially the "screen"-overview with all active dynamic fields of AdminDynamicFieldScreen can be very helpful to have an overview, in my opinion. So I am not so much in favor of getting rid of AdminDynamicFieldScreen.

As an at least temporary solution which is much less work, I'm very much for add

[2020-10-29 14:34] bschmalhofer commented on #323
`Kernel::GenericInterface::Transport::HTTP::SOAP`still relied to much on STDIN and %ENV. Rectified that.

[2020-10-29 15:06] bschmalhofer commented on #323
CGI::Emulate::PSGI is gone. Tests look fine. Closing this issue.

[2020-10-29 15:06] #323 closed, assigned to bschmalhofer

[2020-10-29 15:28] bschmalhofer commented on #480
Let's close this issue as there is nothing to do.

[2020-10-29 15:28] #480 closed, assigned to bschmalhofer

[2020-10-30 05:49] wollmers opened #596 "Daemon bloats the ssh terminal session with messages"
OS: Debian 10.5
OTOBO: 10.0.5

Reproduce:

[code]

[2020-10-30 09:16] bschmalhofer opened #597 "Remove Devel::TypeTiny::Perl56Compat and Devel::TypeTiny::Perl58Compat"
This modules are in _Kernel/cpan-lib_ . They can be removed as OTOBO requires Perl 5.24.
A quick grep show that they are not used in the OTOBO code explicitly.

[2020-10-30 09:32] bschmalhofer commented on #199
Since 620a61fb4 (bernhard 2020-07-24 19:20:51 +0200  99) the environment variable PLACK_ENV is set per default to 'deployment' in _bin/docker/entrypoint.sh_ . This means that per default the middleware `Plack::Middleware::StackTrace` is not loaded. This  means that for exceptions no stacktrace is printed at all. When setting PLACK_ENV to 'development' explicitly, then a complete Stacktrace is IMHO

[2020-10-30 09:32] #199 closed, assigned to nobody

[2020-10-30 09:38] bschmalhofer commented on #597
The modules are removed. Closing this issue.

[2020-10-30 09:38] #597 closed, assigned to bschmalhofer

[2020-10-30 11:14] bschmalhofer opened #599 "PSGI: use PerlResponseHandler Plack::Handler::Apache2 in the default Apache config"
The default config should use _bin/psgi-bin/otobo.psgi_.
The classic configuration using the scripts in _bin/cgi-bin_ should still be available as a sample config file.
See also #132

[2020-10-30 14:04] bschmalhofer commented on #490
The test failures happened because a SQL update statement was inadvertently deleted. Looks better after the fix.

[2020-10-30 14:34] bschmalhofer commented on #490
Tests look fine now. Closing this issue.

[2020-10-30 14:34] #490 closed, assigned to bschmalhofer

[2020-10-31 10:10] bschmalhofer commented on #576
Sneak this issue into 10.0.6.

[2020-10-31 11:05] bschmalhofer opened #601 "MigrateFromOTRS: handle Blob columns"
It looks like Blob Columns were never correctly converted between dabase types that have different DirectBlob settings.
Either fix this, or remove the remnants of the code that once did the conversion.

Maybe check whether there still is a need to support Base64 encoded binary data.

[2020-10-31 12:03] bschmalhofer commented on #576
Unittests are looking good. A small testmigration went fine. Closing this issue.

[2020-10-31 12:03] #576 closed, assigned to nobody

[2020-10-31 12:16] bschmalhofer commented on #531
The same issue has been filed as issue #565, so this issue can be closed.

[2020-10-31 12:16] #531 closed, assigned to bschmalhofer

[2020-11-01 12:07] bschmalhofer commented on #601
I added support for Blob conversion in `Kernel::System::MigrateFromOTRS::CloneDB::Driver::Base` in the rel-10_0 branch. This should not affect MySQL to MySQL migration, as the `DB::DirectBlob` check is still honored.

However it looks like the conversion is not as straightforward as assumed. Let's take for example the table columns *article_data_mime.email* and *sysconfig_default_version.descripti

[2020-11-01 14:39] bschmalhofer commented on #438
Checked the docs again. Looks like starting in DB::Pg 3.0.0, released in 2014, the default setting of pg_enable_utf8 is -1. This indicates that the database connection is checked for whether it is set to UTF8. When it is set, then the UTF8-Flag is set on the incoming strings. This confirms that pg_enable_utf8 can be removed.

[2020-11-02 11:46] bschmalhofer opened #604 "Standardize on otobo.org or on otobo.de"
Checking the source code I found that otobo.de and otobo.org are both used. IMHO it make sense to standardize on either one.

[code]

[2020-11-02 11:55] bschmalhofer opened #605 "Remove method Kernel::Output::HTML::Layout::_DisableBannerCheck()"
The method tries to remove the X-Powered-By HTTP header when `Secure::DisableBanner` is active. For that it uses the pattern
 ` ^ X-Powered-By: .+? Open \s Ticket \s Request \s System \s \(http .+? \)$ \n`
`
However the actually generated header is something like  `X-Powered-By: OTOBO 10.1.x (https://www.otobo.de/)` which does not match the above regexp.
The method is not needed anyways, because `

[2020-11-02 12:05] bschmalhofer opened #606 "Remove method Kernel::Output::HTML::Layout::_RemoveScriptTags()"
This method seems to be unused. I propose to remove it.

[2020-11-02 12:16] bschmalhofer commented on #605
Closing this issue, being confident that nothing is broken.

[2020-11-02 12:16] #605 closed, assigned to bschmalhofer

[2020-11-02 12:36] bschmalhofer opened #608 "Remove Templating Directives: InsertTemplate, RenderBlockStart, RenderBlockEnd"
It looks like these directives were added for compatability with the DTL, the templating mechanism that used to be used by OTRS. It should be investigated whether this compatability is still required. If not, I propose to remove these directives.

[2020-11-02 13:45] bschmalhofer commented on #396
See also the relevant line
 `       %{ $Self->{EnvRef} } = %ENV;`
in _Kernel/Output/HTML/Layout/Template.pm_

[2020-11-02 14:55] bschmalhofer commented on #565
Created the interface. The trick is to pass `UseResponseObject => 1` to the `Kernel::System::Output::HTML::Header()`method.
installer.pl has been converted. A bit of testing required before the issue can be closed.

[2020-11-02 16:43] bschmalhofer opened #612 "HTML syntax of Copyright.tt"
Looks like a comment is not close in the template Copyright.tt

[2020-11-02 16:49] bschmalhofer commented on #612
Comment syntax repaired. Closing the issue.

[2020-11-02 16:49] #612 closed, assigned to bschmalhofer

[2020-11-02 18:24] bschmalhofer commented on #565
TODO:
- [x] set headers in method FatalError()
- [x] set headers in method Attachment
- [x] adapt installer.pl

[2020-11-03 09:33] bschmalhofer commented on #566
TODO:

- [x] migrate the scripts in _bin/cgi-bin
- [x] migrate bin/psgi-bin/otobo.psgi
- [x] remove the UseResponseObject switch
- [x] adapt the SOAP interface
- [x] adapt the REST interface
- [x] adopt Kernel::System::Web::Exception
- [x] adapt the Kernel::Output::HTML::Layout::Print() method
- [x] adapt the Kernel::Output::HTML::Layout::Redirect() method
- [x] support for cookies
- [x] require P

[2020-11-03 09:50] bschmalhofer commented on #565
installer.pl is working with the new `Kernel::System::Web::Response` object. This was the goal of this issue. The complete migration will be handled in #566. Closing this issue.

[2020-11-03 09:50] #565 closed, assigned to bschmalhofer

[2020-11-03 18:51] bschmalhofer opened #615 "PSGI: Fix the /otobo/dbviewer route"
DbViewer is currently broken. Fix ist.

[2020-11-04 10:16] GritRother-OTOBO commented on #604
Hi Bernhard,

otobo.org is supposed to be used for the Open Source Project, otobo.de for the company / product / services.
I think we also need to have a look at the email addresses given.

Let's discuss how to proceed in detail in our meeting next week.

Thanks,
Grit

[2020-11-04 10:33] bschmalhofer opened #616 "Eliminate warnings, from mocking time, when running test scripts"
Running a simple
`prove -I . -I Kernel/cpan-lib/ --verbose scripts/test/DynamicField/Driver/WebService/PossibleValuesGet.t `
produces the following warnings:
[code]
These warnings are likely harmless, but they are annoying.

[2020-11-04 13:07] bschmalhofer opened #617 "Testing: Kernel::System::UnitTest::Helper should not depend on the Driver object"
The Kernel::System::UnitTest::Driver object is only used for emitting TAP and writing diagnostics. This can be done with Test2::VO. No need to intertwine these modules. Remember that the Helper can, and should be, used even when the driver is not used.

[2020-11-04 13:56] bschmalhofer commented on #617
Removed dependency. Tests look fine. Closing the issue.

[2020-11-04 13:56] #617 closed, assigned to bschmalhofer

[2020-11-04 14:37] bschmalhofer commented on #617
Reopen because I've seen warnings like:
[code]

[2020-11-04 17:29] bschmalhofer commented on #616
These warnings come from `Kernel::System::UnitTest::_MockPerlTimeHandling`, specifically when reloading modules that use time. It is not trivial to avoid these messages. Let*s investigate whether reloading the modules is really necessary. The most simple solution should be using `Test::MockTime` .

Alternatively: don't use the object manager for Kernel::System::UnitTest::Helper.

[2020-11-05 11:06] bschmalhofer commented on #616
Provided a `Kernel::System::UnitTest::MockTime` module for mocking time. This module can be loaded in the test scripts before the other OTOBO modules are loaded. The specific warnings seem to be gone. Shaving off about 14000 lines in the verbose test output.

[2020-11-05 11:40] bschmalhofer commented on #616
Tests look fine.Closing this issue again.

[2020-11-05 11:40] #616 closed, assigned to nobody

[2020-11-05 12:23] bschmalhofer opened #622 "Testing: unneeded interaction with %ENV"
Some test scripts are messing with the environment. This is sensible in some cases. In other cases my suspicion is that this is not needed any more.

TODO:

- [x] Check the files reported by: `grep -r ENV scripts/test/ | grep -v OTOBO_RUNS_UNDER_DOCKER | grep -v TZ | grep -v SKIP_NUTSANDBOLTS_TEST | grep -v COMP_LINE`

[2020-11-05 15:46] bschmalhofer commented on #566
Fixed remaining SOAP issues. Merging now into rel-10_0.

[2020-11-06 06:14] StefanRother-OTOBO commented on #590
Good Morning,

this error occurs not only in AgentTicketPrint but also in AgentTicketZoom. Titles are always displayed with Title=1.

Thanks,

Stefan

[2020-11-06 06:31] StefanRother-OTOBO commented on #590
Good Morning,

i have found another error, if a RexEx is entered in a dynamic field of type text, it does not appear in the customer interface.

Thanks!

Stefan

[2020-11-06 07:25] svenoe opened #625 "Fix regular expressions for dynamic fields in CustomerInterface."
Good Morning,

i have found another error, if a RexEx is entered in a dynamic field of type text, it does not appear in the customer interface.

Thanks!

Stefan

_Originally posted by @StefanRother-OTOBO in https://github.com/RotherOSS/otobo/issues/590#issuecomment-722897929_

[2020-11-06 13:09] svenoe commented on #625
Commit 63de46dced7e54784f31506bc070a2206f0747f5 is labeled wrong, belongs to Issue #590 .

[2020-11-06 13:10] svenoe commented on #590
PDFs are included in 63de46dced7e54784f31506bc070a2206f0747f5 except underlining.

[2020-11-06 14:01] svenoe commented on #590
Is included in TicketZoom. There are probably other occurrences of this, I'm for implementing other places as soon, as they are needed, at the moment.

In general the code around the title fields is not very pretty, as their general functionality differs quite a bit. If there are good ideas for this... (Maybe one should get rid of them altogether and introduce proper "sections" to the ticket masks

[2020-11-06 16:24] bschmalhofer commented on #566
Kernel::Output::HTML::Layout::Print() still prints to STDOUT. This should be adapted.

[2020-11-06 16:55] bschmalhofer commented on #320
Tried to clean up the code, taken that classic CGI no longer needs to be supported

[2020-11-07 16:01] bschmalhofer commented on #320
Fixed remaining issues with the test scripts. The common theme is that in some cases exceptions are thrown instead of content that includes the status loine, headers and the real content.
Tests are passing again.

[2020-11-09 09:34] bschmalhofer commented on #566
Print() was called early when generting some lists. This makes sense for getting a quick response, but does not fit trivially into the PSGI environment. If early response is needed, then it should be handled in a dedicated issue.

[2020-11-09 13:58] bschmalhofer opened #627 "MigrateFromOTRS: specific message when DB connect is possible, but there are no tables"
For testing I created a Postgres user and an empty schema. But I became confused because the message said that the connect was not possible. The real reason why the check failed was that there were no tables.

[2020-11-09 16:19] ict opened #628 "Document / Improve restore.pl procedure"
Hello there,

We are currently running a Docker-deployed OTOBO installation.

To set up a staging system (and as a test for the backup script), I wanted to clone the system to another server. While I have now succeeded, the process turned out to be a bit complicated and not well documented. The steps that finally led to success where as follows, please correct me if those were unneccessarily compl

[2020-11-09 16:49] bschmalhofer commented on #627
Enhanced the error message when the sanity check fails.

[2020-11-09 17:10] bschmalhofer commented on #627
The messages emitted when the hostname is incorrect, or when there are no tables, is now more sensibel. Closing the issue.

[2020-11-09 17:10] #627 closed, assigned to bschmalhofer

[2020-11-10 07:56] bschmalhofer opened #630 "MigrateFromOTRS: warn about missing modules"
Migrating from PostgreSQL or Oracle requires that DBD::Pg and DBD::Oracle are installed respectively. If the required module is not installed, then _migration.pl_ should warn about it.

[2020-11-10 09:33] bschmalhofer commented on #622
Setting up a CGI environment was useless in only a single test script, that is _PossibleValuesGet.t_.
I added some code comments in the other scripts for explaining why %ENV is fiddled with.

[2020-11-10 09:34] bschmalhofer commented on #622
PR is merged, closing the issue.

[2020-11-10 09:34] #622 closed, assigned to bschmalhofer

[2020-11-10 09:58] StefanRother-OTOBO commented on #628
Hi Demian,

I hope you are well and healthy!

the scripts backup.pl and restore.pl were originally developed to be able to restore an older OTOBO version, if the current version contains errors, that cannot be solved.

Regarding the process I would proceed as follows:

1.) Create a backup using `scripts/backup.pl`
2.) Spin up a new docker-compose deployment on another server.
3.) Login to the mysq

[2020-11-10 14:24] svenoe opened #632 "Check whether the input "Expand" for the different forms is still needed, remove it if not."
In CustomerTicketMessage.tt and others there is a hidden input named "Expand". This was introduced with Type, Service and SLA, and if I understand it correctly it is the ancient way of an ajax update. I am not sure though, why this is still there, and whether this is still used somewhere. (Also I'm a bit confused, why it is handled as "Error" in the respective perl modules, e.g. CustomerTicketMess

[2020-11-10 14:35] ict commented on #628
Hi Stefan,

thank you, I'm fine. Hope your are as well 👍

Yes, I think the biggest problem was me choosing a new database password, this breaks the restore. If you keep the password for the `otobo` database user (and you remember it from the old installation), then your process should work.

Maybe add a little hint on how to recover it to the final documentation.

[2020-11-11 09:06] StefanRother-OTOBO opened #635 "Possibility to create a customer directly from the ticket if no customer is found"
I would like to have the possibility to create a customer directly from a ticket if no customer was found. The option could be displayed in the right column under "customer information" as soon as no customer was found and if a customer rw backend is active.

There are two possibilities here, either a separation of customer and company (CustomerCompany) is active in this backend - in this case the

[2020-11-11 09:24] StefanRother-OTOBO opened #636 "Reset CustomerID in Ticket after creating new customer."
The following scenario occurs again and again:

1.) E-mail ticket is created
2.) No customer already exists in the system, therefore CustomerUserID and CustomerID in the ticket is the "From" address.
3.) The customer is created by the agent, but with a different CustomerID.
4.) In the ticket the correct customer is shown immediately.
5.)However, the ticket is not shown anywhere where the CustomerI

[2020-11-11 17:43] bschmalhofer commented on #615
Did some testing but found no good solution. The cause seems to be that the otobo.psgi starts before the database is available. This means that the DB connect does not work. It looks like therefore the plugin can't be installed. Thus the check function is always called and the check function is always executed.

A workaround is to restart the webserver at a later point, when the database is availa

[2020-11-11 17:43] #615 closed, assigned to bschmalhofer

[2020-11-12 08:10] svenoe commented on #590
Closing this issue for now. More work in this direction will be done in a separate issue.

[2020-11-12 08:10] #590 closed, assigned to nobody

[2020-11-12 10:52] niccord opened #637 "Wrong emails pass validation"
Hi everyone,
if you set "test@gmail .com" as a recipient in your ticket reply, the validation passes but the email send returns an error.

This is due to the Perl `Email::Valid->address( $Param{Address} )` function in `Kernel/System/CheckItem.pm` which considers the email valid.

The Perl functions return `undef` if the email is not valid, a string with the "validated" email otherwise, so as the i

[2020-11-12 17:57] bschmalhofer commented on #630
Added the check. Check whether the expected message are actually emitted. Looks good. Closing the issue,

[2020-11-12 17:57] #630 closed, assigned to bschmalhofer

[2020-11-13 08:06] wollmers commented on #594
Hi @StefanRother-OTOBO,

as far as I understand it should only prevent to show the menu entry `quick close` in AgentTicketZoom, and not check and show an `NoPermission` message after clicking. Makes sense to hide the menu entry.

ad 2) The same is possible in a default installation of OTOBO.

There is still a similar sounding (but not the same) config option `Ticket::Frontend::AgentTicketClose###O

[2020-11-13 08:13] svenoe commented on #594
I would just use Ticket::Frontend::AgentTicketClose###OwnerMandatory - I think there will almost never be a case, where you want the non-owner to be able to close the ticket in the standard way, but not in the quick way, and certainly never the other way around.

[2020-11-13 08:18] wollmers commented on #594
@svenoe Thx for the quick response. I guessed that it makes sense to have same option for same behaviour of close and quickclose.

[2020-11-13 14:42] Wolverine80 opened #639 "Migration sanity check on db fails on MySQL 8"
Migrationskript auf OTOBO 10 ist ein separates issue

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/6#issuecomment-625306880_

Ist das problem eigentlich behoben? Ich versuche gerade meine OTRS6 unter Ubuntu 20.04 (mit mysql8) zu migrieren und sehe im Log dass die Migration versucht die groups Tabelle ohne Escape zu lesen und bricht dann natürlich ab.

[2020-11-14 09:14] bschmalhofer commented on #639
Hallo @Wolverine80,

die Lösung für #6 war dass in OTOBO 10.0.x die Tabelle *groups* nach *groups_table* umbenannt wurde. Diese Umbenennung ist auch ein Teil der Migrationsroutinen. Die Migration geht aber immer noch davon aus das für die Abfragen in der Quell-Datenbank kein Quoting notwendig ist. Demzufolgen gibt es wohl einen Fehler bei der Migration von OTRS 6 unter MySQL 8. Ich baue aber für O

[2020-11-16 07:36] Wolverine80 commented on #639
Hi,

interessanterweise trat das Problem bisher nicht auf. Die betroffenen Dateien sind nicht gepatcht. Fehler gab es erst beim Versuch zu migrieren auf Otobo.
Vielleicht bisher Glück gehabt da wir keine CustomerGroups nutzen und sonst nicht viel i der Tabelle gelesen oder geschrieben wird.

[2020-11-16 08:06] Wolverine80 commented on #639
Bisher wohl wirklich Glück gehabt. Gab zwar einige Fehlermeldungen laut dem Log, aber keine großen Auswirkungen bei der Benutzung. Habe die betroffenen Dateien von Hand korrigiert und hoffe bald auf Otobo umsteigen zu können.

[2020-11-16 17:44] bschmalhofer commented on #639
Implemented quoting of the source table names during migration.
Added the method `Kernel::Systerm::DB::QuoteIdentifier()` for that purpose.
TODO:
- [ ] Test OTRS with MySQL < 8 to OTOBO with MariaDB  10
- [x] Test OTRS with MySQL 8  to OTOBO with MariaDB  10

[2020-11-18 11:36] bschmalhofer commented on #639
@Wolverine80 , I have added the quoting of the source tables to OTOBO 10.0.7. I have tested it with a migration from OTRS 6 on MySQL 8  to OTOBO on MariaDB 10. For that test case I didn't bother to make OTRS 6 actually work on MySQL 8.

I think before the release on OTOBO 10.0.7 we will test a couple more migration scenarios. But in the meantime you could grab the devel version of OTOBO and test w

[2020-11-18 12:18] bschmalhofer commented on #539
Moved this issue to 10.0.7 as there is little danger that a patch would break anything.

[2020-11-18 12:44] bschmalhofer commented on #539
Saw no sane way to get the web port from the docker-compose sandbox. So, simply add a command line option. Closing the issue.

[2020-11-18 12:44] #539 closed, assigned to bschmalhofer

[2020-11-19 16:25] bschmalhofer commented on #259
Started a quick watch script that watches _/opt/otobo/var_ and /opt/otobo/var/tmp_ while running the test script:

[code]
There are many temp files reported. This is to be expected as _/opt/otobo/var/tmp_ is the default setting used in `Kernel::System::FileTemp`. It is not clear why the default temp dir, the dir returned by `File::Spec::tempdir()` should not be used.

This must be discussed.

[2020-11-21 09:47] bschmalhofer opened #644 "MigrateFromOTRS: migrate database using the commands mysqldump and mysql"
In #534 an migration strategy was implemented that relied on moving table between database schemas using "ALTER TABLiE ... RENAME TO ...". This seemed to work in the considered case. However the considered cased is the well behaved cased where there are just about no differences between the source and the target schema. In real migrations there are problems when some of the attributes types have d

[2020-11-21 16:28] bschmalhofer commented on #644
@StefanRother-OTOBO
I have addrf the generation of the SQL scripts to _scripts/backup.pl_ . The changes is available in the pull request #645.
Using backup.pl means that currently it is expected that an OTOBO installation is available and that the OTRS database is reachable from there. This is purely for convenience, as standalone script could do the job as well.

For testing I have called somethi

[2020-11-21 20:25] bschmalhofer commented on #644
It's not obvious whether the problem with foreign key checks are avoided with this approach. Testing is needed.
Perhaps all tables need to be dropped first, before they are recreated.

[2020-11-22 11:17] bschmalhofer commented on #644
If I understand https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_foreign_key_checks correctly, then disabling foreign key check does not prevent the 'error 150' from existing foreign keys. A workaround might be to drop all relevant tables beforehand. For that i added yet another SQL script.

Not that in case of errors, `show engine innodb status` can give useful info.

[2020-11-23 17:50] bschmalhofer commented on #644
'sed' is now no longer used.
The target database name is now no longer in the SQL scripts.
The commands for the DB - migration are now something like:

[code]

[2020-11-24 16:09] bschmalhofer commented on #567
A script that automates the commands given in the installation guide would be nice. Maybe a script that also adapts the .env file and does the docker-compose pull.

[2020-11-25 13:31] StefanRother-OTOBO opened #647 "Package install not possible without verification despite Package::AllowNotVerifiedPackages"
At the moment the package installation is not possible without verification. We need to change this. Please add a message "Due to a technical problem it is currently not possible to verify the package. Do you still want to install the package? yes/no"

[2020-11-26 07:31] StefanRother-OTOBO commented on #644
We still need to revise the script backup.pl. Partly the call must be done with an =, partly without:

script/backup.pl -t migratefromotrs --db-name otrs --db-host=127.0.0.1 --db-user otrs --db-password=secret_otrs_password

Please also have a look at the documentary again. E.g. the call with maxallowedpackage is not properly documented and did not work in my test with the above command.

Thanks a

[2020-11-26 08:37] Wolverine80 commented on #639
Looks good now with the changes. A test migration was successful.

[2020-11-26 12:13] wollmers commented on #644
IMHO `max-allowed-packet` could default to `64M` in `backup.pl`.

[2020-11-26 13:34] bschmalhofer opened #648 "Default value for max-allowed-packet backup.pl"
IMHO `max-allowed-packet` could default to `64M` in `backup.pl`.

_Originally posted by @wollmers in https://github.com/RotherOSS/otobo/issues/644#issuecomment-734264013_

Also document the option in a better way.
Also provide usage example. Also allow values like 64M, that is whatever is allowed in MySQL config files.

[2020-11-26 13:45] bschmalhofer opened #649 "MigrateFromOTRS: Provide dedicated skripts for dumping from OTRS and importing to OTOBO"
It probably make sense to have a script that helps with importing the SQL-Dumps and SQL-Scripts from OTRS.
It also might make sense to provide a dedicated script that dumps the Data from OTRS. The feature is only in backup.pl because it seemed convenient when the feature was added.

@StefanRother-OTOBO : Do you have a suggestion what the most convenient workflow is?

[2020-11-26 13:48] bschmalhofer commented on #644
@StefanRother-OTOBO The '=' is not needed. I have adapted the installation docs accordingly.

I propose to merge the current state of affairs into the rel-10_0 branch and proceed in the issues #648 and #649.

[2020-11-26 14:08] StefanRother-OTOBO opened #650 "Can't search for "-" in Elasticsearch"
At the moment I can't search words including - in Elasticsearch tickets.
In CustomerUser it's possible.

Thanks,

Stefan

[2020-11-26 16:21] bschmalhofer commented on #567
There is now a preliminary script _scripts/update.sh_ . Needs to be tested and polished.

[2020-11-27 12:27] bschmalhofer commented on #175
@svenoe I have cherry-picked @mgruner changes to _Kernel/System/UnitTest/Selenium_ .
Selenium::Remote::Driver is loaded only when running the unit tests. Therefore removed _Kernel/cpan-lib/Selenium_ and added Selenium::Remote::Driver as an optional dependency, just like Test2::Suite. Clone is now an implicit dependency.

[2020-11-27 15:16] svenoe commented on #175
Seems reasonable. Having smaller standard installations is generally a good thing, I guess. :)

[2020-11-27 16:15] bschmalhofer commented on #175
Next step: try to find a setup that does not use an extra server and works in the OTOBO Docker image.

[2020-11-30 10:05] Wolverine80 opened #652 "QuickClose error when Article Option is active"
Error
` Can't locate object method "ArticleCreate" via package "Kernel::System::Ticket::Article" at /opt/otobo/Kernel/Modules/AgentTicketZnuny4OTOBOQuickClose.pm line 89.\n`
when trying die QuickClose a ticket when the Option to create an article text is active.

AgentTicketZnuny4OTOBOQuickClose.pm seem so call the wrong CreateArticle function.

I changed a line in attached patch to make it work.

[2020-11-30 10:06] Wolverine80 commented on #652
Forgot the patch.

[AgentTicketZnuny4OTOBOQuickClose.pm AgentTicketZnuny4OTOBOQuickClose.pm.txt](https://github.com/RotherOSS/otobo/files/5615198/AgentTicketZnuny4OTOBOQuickClose.pm.AgentTicketZnuny4OTOBOQuickClose.pm.txt)

[2020-11-30 11:56] svenoe commented on #652
Thanks Wolverine, I'll have a look at it!

[2020-12-03 11:16] GritRother-OTOBO opened #653 "Split ticket: open new ticket in a new tab"
When splitting tickets, the new ticket is currently opened in the same tab the original ticket was opened in.
I think it would be a great help if the new ticket could be opened in a separate tab to have the info from the original ticket still available parallely.

[2020-12-05 10:24] bschmalhofer commented on #599
TODO:

- [ ] investigate whether using mod_deflate is sensible here

- [ ] test

[2020-12-06 10:43] bschmalhofer opened #663 "Updating: remove files that are no longer in the new version"
Currently there are some DataTime test failures in the rel-10_0 branch. Needs to be investigated.

Test Summary Report
-------------------
/opt/otobo/scripts/test/DateTime/TimeStamp2SystemTime.t                                                   (Wstat: 65280 Tests: 1 Failed: 0)
  Non-zero exit status: 255
  Parse errors: Bad plan.  You planned 11 tests but ran 1.
/opt/otobo/scripts/test/DateTime/W

[2020-12-06 11:32] bschmalhofer commented on #663
The files _scripts/test/DateTime/TimeStamp2SystemTime.t_ and _scripts/test/DateTime/WorkingTime.t_ came from the previous OTOBO 10.1.x installation that was updated to 11.0.x. So, it's not surprising that the test scripts do not work.

A related case is _Kernel/cpan-lib/Selenium_ , which is removed in OTOBO 10.1.x.

The check which files were removed can be done with the help of the _ARCHIVE_ file

[2020-12-08 16:37] bschmalhofer commented on #175
Here are some notes what could work. Mostly deduced from reading https://github.com/SeleniumHQ/docker-selenium .

- add an override file that add a selenium server running on port 4444 to the docker internal network
- use the image selenium/standalone-firefox:latest
- expose the VNC port 5900 so that we can watch the automated browser
- share the volume /dev/shm because Firefox wants it
- TestHTTP

[2020-12-08 16:41] bschmalhofer commented on #567
TODO:

- [x] add support to update.sh for switching between HTTP and HTTPS

[2020-12-16 13:30] svenoe commented on #652
Implemented - thanks again.

[2020-12-16 13:30] #652 closed, assigned to svenoe

[2020-12-16 14:24] svenoe commented on #594
I looked at the code now. OwnerMandatory is something different (it sets the "New Owner" selection mandatory for real forms), "RequiredLock" does the trick (as implemented by you). What I meant earlier was also to use the AgentTicketClose settings directly, so I changed the code accordingly.

Can be closed after a quick test.

[2020-12-16 21:18] wollmers commented on #594
Without `Ticket::Frontend::AgentTicketZnuny4OTOBOQuickClose###RequiredLock` enabled it still displays the the menu entry `Quick Close`

![Bildschirmfoto 2020-12-16 um 21 43 56](https://user-images.githubusercontent.com/1275557/102405841-fed16e00-3fe9-11eb-8c90-f0044a224675.png)

thus not solving the original issue:

2.) In OTOBO (ITSM) is it possible to select quick close in AgentTicketZoom and th

[2020-12-17 12:30] svenoe opened #666 "Files in Custom/Kernel are (initially) not loaded in docker installations."
After installing a package with a file in Custom/Kernel/[...] and then adding some debugging output to said file (print STDERR), the output is not shown (the modified file is not loaded), until I change the same file in Kernel/[...]. I'm not sure whether this problem is present for the file added by the package straight from installation, or whether it only affects my manual editing of it.

In any

[2020-12-17 14:22] bschmalhofer commented on #666
Hi @svenoe ,

I will take a look at this. Obviously the modified checking is done by Gazelle, not by Nginx.
I need to check how Apache/mod_perl does this in OTOBO 10.0.x. I can imagine that it doesn*t work there either, as Apache::Reload might also check only whether already loaded modules have changed. And in this case, the file that is already loaded did not change.

[2020-12-18 14:13] bschmalhofer commented on #666
Refreshing changed Perl modules is mainly a question what is checked how often. I investigated how it is currently done.

- OTRS 6 and OTOBO 10 running under Apache/mod_perl

Apache2::Reload looks for every request whether the files referenced in %INC have changed

- otobo.psgi

Check whether ZZZAAuto.pm has changed for every request. Check all other modules every 10s.

Neither approach checks for

[2020-12-19 14:13] bschmalhofer commented on #567
The current state of affairs is checked into the docker-compose repository.
m4 is now only needed for creating the sample .env files and for a special mode for development.

[2020-12-21 16:04] bschmalhofer commented on #666
Hi @svenoe,
I added the touching of the core module in the branch issue-#666-dark_forces_touching_the_core. Could you check whether that branch works for you?

Best regards,
   Bernhard

[2020-12-23 11:10] bschmalhofer opened #668 "UnitTests: use context and subtests in Kernel::System::UnitTest::Helper"
Currently plain Test2::V0::ok() calls are used in Kernel::System::UnitTest::Helper. This can be improved upon.
Also remove the need for the ExecuteInternalTests attribute.

[2020-12-23 14:20] bschmalhofer commented on #668
Tests look fine again. Closing the issue.

[2020-12-23 14:21] #668 closed, assigned to bschmalhofer

[2020-12-23 16:26] bschmalhofer commented on #575
Closing this issue, as the approach taken in #644 is the way to go.

[2020-12-23 16:26] #575 closed, assigned to bschmalhofer

[2020-12-23 16:44] bschmalhofer commented on #471
ReinstallAll.t is no longer skipped. The test worked at least once. Closing the issue.

[2020-12-23 16:44] #471 closed, assigned to bschmalhofer

[2020-12-23 17:53] bschmalhofer opened #674 "Update Country List"
There are some issues with the country list:

- Kosovo is missing
- North Macedonia is still Macedonia, The former Yugoslav Republic of
- Swaziland to Eswatini

[2020-12-23 18:00] bschmalhofer commented on #385
The other select field, Validity, is shorted than the text fields.

[2020-12-23 18:53] bschmalhofer commented on #566
There are no known problems. Closing this issue.

[2020-12-23 18:53] #566 closed, assigned to bschmalhofer

[2020-12-23 18:56] bschmalhofer commented on #674
Issue #205 is somewhat related.

[2020-12-24 11:11] bschmalhofer opened #675 "Testing: eliminate output from Kernel::System::UnitTest::Helper::new()"
It is unexpected that the constructor of a testing module already produces testing events.
TODO:

- [x] eliminate the unexpected output
- [x] adapt the expected number of tests of the scripts that call plan()

[2020-12-25 12:42] bschmalhofer commented on #675
Tests look fine. Closing the issue.

[2020-12-25 12:42] #675 closed, assigned to bschmalhofer

[2020-12-25 13:57] bschmalhofer commented on #175
Testing with Selenium kind of works. Crome is starting up as visible with Remmina using the location localhost:5900 and the VNC password 'secret'. But simple commands like 'delete_all_cookies()' and 'get_page_source()'  run into a timeout. Executing JavaScript looks fine too.

TODO:

- [x] investigate why the timeouts happen

Using the Docker image for Selenium 3 fixed the problem.

[2020-12-25 15:22] bschmalhofer opened #678 "Testing: Selenium test use skin ivory, but that skin does not exist"
See the failing test in _scripts/test/Selenium/SysConfig/AgentSetting.t_ .
Providing a sample skin should resolve the issue.

[2020-12-26 17:10] bschmalhofer commented on #175
For some reason sometimes the error '-' is emitted.

TODO:

- [ ] fix false failure like e.g. in scripts/test/Selenium/Agent/Admin/Admin.t

[2020-12-27 10:58] bschmalhofer opened #680 "Docker: add screen to the docker images"
Just for convenience when working in a shell within a container.

[2020-12-27 12:57] bschmalhofer opened #681 "Clarify status of OTOBOCommunity"
In the OTOBO source code and in the test scripts there are some references to OTOBOCommunity. In the original OTRS 6 Community Edition this was OTRSBusiness.
What is the status of OTOBOCommunity? Can all references be removed?

[2020-12-27 13:14] bschmalhofer opened #682 "Testing: Resolve remaining failures of Selenium tests"
Currently there are 103 failures from running the Selenium tests under Docker. These should be resolved. When fixing the test is too much effort, then skipping the test is fine too,

See also #175, #681, #678, #907, #909, #921, #929

[2020-12-27 13:19] bschmalhofer commented on #680
'screen' was added to the images. See https://wiki.archlinux.org/index.php/GNU_Screen#Nested_Screen_Sessions how to handle nested sessiong. Closing the issue.

[2020-12-27 13:19] #680 closed, assigned to bschmalhofer

[2020-12-27 13:26] bschmalhofer commented on #175
Selenium tests can be run on Chrome in the Docker image. Remaining failures are handled on #682. Closing this issue.

[2020-12-27 13:26] #175 closed, assigned to bschmalhofer

[2020-12-27 13:30] StefanRother-OTOBO commented on #681
Hi Bernhard,

OTOBO has no Community or Business version, I think this is simply a result of the search and replace from the fork.
I'm not sure if it's possible to remove all old OTRSBusiness stuff. Perhaps have a look which test is needed?

I would like to leave the code itself, because I'd like to implement some more business stuff.

@svenoe, what do you think?

Thanks,

Stefan

[2020-12-27 13:34] bschmalhofer commented on #320
The conversion has been done. Let's open new issues when problems are encountered. Closing this issue.

[2020-12-27 13:34] #320 closed, assigned to bschmalhofer

[2020-12-27 16:28] bschmalhofer commented on #412
Github seems to provide templates for creating new issues. Not sure whether POST forms are supported.
See https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/configuring-issue-templates-for-your-repository and https://stackoverflow.com/questions/34146618/pre-populate-the-github-new-issue-form-using-the-querystring and http://ez34.net/2016/12/publish-anonymous-issues-

[2020-12-28 11:20] bschmalhofer commented on #123
Not really sure what the intention was. Closing the issue as it doesn't seem to be important.

[2020-12-28 11:20] #123 closed, assigned to bschmalhofer

[2020-12-28 11:51] bschmalhofer commented on #682
Some fixes:

- mount /opt/otobo for the sample files
- Don't try to load Kernel::System::OTOBOCommunity

Current status: 89 test scripts failing

[2020-12-28 12:07] bschmalhofer commented on #592
Hi @StefanRother-OTOBO ,

please check whether that effect still occurs in https://github.com/RotherOSS/otobo/tree/issue-%23592-avoid_error_messages.

[2020-12-28 13:11] wollmers commented on #682
Selenium tests of installed packages, e. g. FAQ, are not skipped and need adaption.

[code]

[2020-12-28 14:43] bschmalhofer commented on #133
Obviously the directory 'development' is not needed for running and testing OTOBO. However there is some useful information in that dir. So let's simple keep it. Closing the issue.

[2020-12-28 14:43] #133 closed, assigned to StefanRother-OTOBO

[2020-12-28 14:50] bschmalhofer commented on #604
See also #585

[2020-12-29 10:18] bschmalhofer opened #686 "Testing: use subtests for Selenium testing"
Currently most  calls to `_execute_command()` produce a testing event. The exceptions are 'quit' and 'screenshot'. This can be confusing because for calling e.g. `Kernel::System::UnitTest::Selenium::WebRequest::VerifiedGet() ` one gets at least two testing event. One for `execute_script()` and at least one for `WaitFor()`.

Thus, use subtests for making the output more understandable.

[2020-12-29 12:43] bschmalhofer commented on #686
Test output now looks more sane, at least to me. Closing the issue.

[2020-12-29 12:43] #686 closed, assigned to bschmalhofer

[2020-12-29 12:49] bschmalhofer opened #688 "Testing: use the base_url attribute of Selenium::Remote::Driver"
This should remove the need to override get().

[2020-12-29 13:32] bschmalhofer commented on #688
Tested by running scripts/test/Selenium/Agent/Admin/Admin.t. Looks good. Closing this issue.

[2020-12-29 13:32] #688 closed, assigned to bschmalhofer

[2020-12-29 15:15] bschmalhofer opened #690 "Testing: use proper Moo-based inheritance for Kernel::System::UnitTest::Selenium"
Kernel::System::UnitTest::Selenium inherits from Selenium::Remote::Driver by adding Selenium::Remote::Driver to its ISA array. This kind of works. But Selenium::Remote::Driver is a proper Moo class which already has support for subclassing. I think it is good practice to use the standard way.

Changing this should also fix the nuissance that _execute_command() emits a OK testing event, but later t

[2020-12-29 15:22] bschmalhofer commented on #682
For window size issues the following link might be relevant:
https://help.applitools.com/hc/en-us/articles/360007189411--Chrome-is-being-controlled-by-automated-test-software-notification

[2020-12-29 20:16] wollmers opened #691 "Testing: Selenium/Output/PDFTicket.t: Use of uninitialized value"
Without Selenium configured:

[code]

[2020-12-29 20:57] bschmalhofer commented on #691
@wollmers I wondered why the issue is not referenced in the commit message. Looks like the prepare-commit handler is not installed. See `bin/otobo.Console.pl Dev::Git::InstallHooks --help`

[2020-12-30 08:42] wollmers commented on #691
@bschmalhofer Good to know that something like `bin/otobo.Console.pl Dev::Git::InstallHooks` exist, as I wouldn't expect or search it there, nor is it convenient for my preferred workflow. I will just copy the `prepare-commit-msg` hook into `.git/hooks`.

[2020-12-30 08:42] #691 closed, assigned to wollmers

[2020-12-30 15:05] mo-azfar opened #693 "Enable customer preferences"
Accessing to customer.pl?Action=CustomerPreferences return inconvenience display

![Capture](https://user-images.githubusercontent.com/62957738/103359761-724ba300-4af3-11eb-832a-5c421857503a.PNG)

[2020-12-30 15:17] bschmalhofer opened #694 "Review the option Type => 'binary' in Kernel::System::Main::Dump()"
It's not obvious which problem the option 'binary' is solving. My guess is that is should allow copy@paste without the quoted wide characters.

The referenced bug https://rt.cpan.org/Public/Bug/Display.html?id=28607 has been rejected because Data::Dumper does what it should be doing.

My gut feeling is to remove the option 'binary' and make 'ascii' the default. This would also removed the need for

[2020-12-30 15:47] bschmalhofer commented on #690
Also check whether subclassing from Test::Selenium::Remote::Driver and from Test::Selenium::Remote::WebElement is sensible.
This classes provide some testing methods that might be useful.

[2020-12-30 16:44] bschmalhofer commented on #682
There is still a problem with the mounted volume _/opt/otobo_ in the container otobo_selenium-chrome_1 . The sample files are in _/opt/otobo/scripts/test/sample_ , but they are not readable because of file  permissions.
[code]
The following assumes that all required sample files are in  _scripts/test/sample_  and that the browser needs no other files from _/opt/otobo_ . Then a workaround could be

[2020-12-30 18:54] wollmers commented on #694
`Data::Dumper` does not roundtrip:

[code]

The claim in the POD of `Kernel::System::Main::Dump()` is either misleading, or confusing `ascii` (7-bit) versus `binary` (raw).

This maybe is not relevant, if the same encoding is used for encode and decode.

Usage of `ascii`:

[code]

[2020-12-30 22:04] bschmalhofer commented on #694
Yes, that's more or less my question. I see nothing wrong with `$VAR1 = "fo\x{f6}";`. The reason for jumping thru hoops for getting $VAR1 = 'foö'; escapes me. The second version has the disadvantage of giving different results, depending on whether  use utf8 is in effect or not.

Correction: as @wollmers  pointed out both versions give the same string. 'ö' is in the high bit range of iso-8859-1. '

[2020-12-31 05:28] wollmers opened #695 "CSS: menu can disappear"
With many toolbar elements enabled in the agent interface, the menu can disappear on low window widths (e.g. 1025 pixels).

This is caused by the fixed height of the `Header` containing `ToolBar` of liquid size.

![Bildschirmfoto 2020-12-31 um 06 00 26](https://user-images.githubusercontent.com/1275557/103396019-30415200-4b31-11eb-961d-bcad3637b928.png)

[2020-12-31 05:49] wollmers commented on #695
A possible solution could be

- restrict the toolbar to 1 line
- scrollable toolbar
- fixed position of logo

[2020-12-31 05:53] wollmers commented on #695
In responsive mode the toolbar should also be scrollable, or render in an usable way

![Bildschirmfoto 2020-12-31 um 06 52 00](https://user-images.githubusercontent.com/1275557/103396660-c0cd6180-4b34-11eb-8f64-4606184fcd11.png)

[2020-12-31 07:11] wollmers opened #696 "Ticket view: missing column labels"
In the agent interface the ticket view (small), e.g. Menu -> Tickets -> Status view, there the labels of the 2nd and 3rd column are empty. On mouse-over an explanation appears.

Should have short labels like

- PRIO for Priority
- NEW for New Article

![Bildschirmfoto 2020-12-31 um 07 59 13](https://user-images.githubusercontent.com/1275557/103398931-068f2780-4b3f-11eb-9853-4dd78ca50d76.png)

[2020-12-31 07:54] wollmers opened #697 "Usability: Rethink control elements appearing on mouseover"
The use of a web-application should be as intuitive and self-explaining as possible.

Some experience from other applications can be assumed.

The disadvantages of elements only appearing at mouseover are:

- If not obvious a user must explore the page by moving the mouse across the area.
- The appearing element hides maybe some information.

The advantages are:

- Saves space in the layout.
- Pro

[2020-12-31 10:00] wollmers commented on #694
For me the behaviour of Data::Dumper looks "random". Both `$s="fo\x{F6}"` and `$s="foö"`should interpolate to the same value, and both under `use utf8;`.

[code]

Personally I don't use `Data::Dumper` in serious software--too many bad experiences. During debugging it's ok.

[2021-01-01 16:43] bschmalhofer commented on #682
Current status: 64 Selenium test scripts failing

[2021-01-02 14:44] bschmalhofer commented on #682
Fixed login to the customer interface: 56 scripts still failing

[2021-01-03 09:57] bschmalhofer commented on #678
Another instance is the skin **highcontrast** which is used in _scripts/test/Selenium/Agent/AgentTicketZoom.t_ .

[2021-01-03 10:01] bschmalhofer commented on #678
@StefanRother-OTOBO : Why is there only the default skin in _var/httpd/htdocs/skins/Agent_ and in  _var/httpd/htdocs/skins/Customer_ ?  Especially a highcontrast skin would be good to have.

[2021-01-03 12:51] bschmalhofer commented on #682
Mühsam ernährt sich das Eichhörnchen: down to 54 test scripts failing

[2021-01-04 08:23] svenoe commented on #678
Hi Bernhard,
with our changes to the agent interface, we disabled non standard skins. But you are right that enabling them at one point would be good.
Sven

[2021-01-04 10:35] svenoe commented on #693
Hi Mohd,

this screen is not implemented, yet (there shouldn't be a link to it, we seemingly forgot to disable direct access, though). Eventually it would be good to make this available, though, I guess. Thanks for pointing it out,

Sven

[2021-01-04 13:27] svenoe commented on #681
Yes, this is the renaming of our scripts, quite probably everywhere it occurs. In our first migrations I searched for every instance of OTRS Business and threw out a lot of it, so a lot of what's left should be stuff which I either found interesting, or where I was unsure, and in the end every occurrence should be investigated separately.

We should tidy this up somewhen, but probably after 10.1 i

[2021-01-04 14:01] svenoe commented on #697
What exactly do you mean?

Do you mean this?
<img width="815" alt="Bildschirmfoto 2021-01-04 um 14 52 35" src="https://user-images.githubusercontent.com/48322755/103542215-e8a62780-4e9c-11eb-826b-a60136ea2ddb.png">
I think it would be the main reason to use M or L over S, if people do this...

This can be activated via "OpenMainMenu" in the SysConfig.

Agreed.

[2021-01-04 15:00] bschmalhofer commented on #591
@StefanRother-OTOBO This is fixed in the rel-10_0 branch. Could you check whether it works for you?

[2021-01-04 15:19] wollmers commented on #697
This one:

![Bildschirmfoto 2021-01-04 um 15 32 56](https://user-images.githubusercontent.com/1275557/103548564-44c17980-4ea6-11eb-808c-89673552fcc8.png)

It has a conventional menu:

![Bildschirmfoto 2021-01-04 um 15 38 08](https://user-images.githubusercontent.com/1275557/103548934-d29d6480-4ea6-11eb-9d20-b3067d30b7bd.png)

[2021-01-04 15:22] wollmers commented on #697
Good to know;-)

I vote for enabling the setting `OpenMainMenu` by default.

[2021-01-04 15:32] wollmers commented on #697
Exactly. M and L including the submenu makes sense. It's the need of mouse-over to display it, instead of always displaying the submenu or have a menu-icon in the upper right corner of each ticket entry.

[2021-01-05 09:02] svenoe opened #704 "Fix SysConfig changes on package (un)install."
I am not 100% sure what the problem is, but at least sometimes installing or uninstalling packages breaks the current config. I noticed that after uninstalling one package (the FAQ, albeit on a very untidy test system of mine) didn't remove the package specific options (in this case breaking the system), I had to run Maint::Config::Rebuild --cleanup. Also we had the case now, where installing a pa

[2021-01-05 11:06] wollmers commented on #704
@svenoe Do you remember some details, e.g. patch level of OTOBO, patch level of FAQ, name of the config items, deployment history, command line history?

Otherwise it would be necessary to reengineer the requirements for install, uninstall, reinstall, update in detail and rework the test cases.

[2021-01-05 12:59] svenoe commented on #704
For the test system, no, it's somewhere on the 10.0-branch, no specific release, but there are plenty of manual changes, so I wouldn't count this too much. The other system is otobo 10.0.6 on docker, migrated from otrs 6, with not much extra stuff installed. I'm certain that neither install nor uninstall were directly linked to the package itself, as the rebuild of the SysConfig happens independen

[2021-01-07 08:26] bschmalhofer opened #706 "Selenium Testing: TODO comment about SuppressFrames"
In _Kernel/System/UnitTest/Selenium.pm _ there is following content:

[code]
TODO:

- [x] check whether frames are suppressed correctly
- [x] check whether Test2::V0 frames can be suppressed too

[2021-01-07 09:14] bschmalhofer commented on #690
Kernel::System::UnitTest::Selenium now uses 'extends'. Closing this issue.

[2021-01-07 09:14] #690 closed, assigned to bschmalhofer

[2021-01-07 21:26] bschmalhofer commented on #706
Rule for skipping frames in the stack trace should now be independent of the testing subroutine.

[2021-01-07 21:26] #706 closed, assigned to bschmalhofer

[2021-01-08 01:34] mo-azfar commented on #693
Hi Sven,

Thanks for the update..
Any way we can just access at least access only 'password update screen' and '2 FA secret key screen' at the moment?

As OTRS 6 CE is no longer pushing security update, my team are looking to move over to OTOBO.

[2021-01-08 06:37] svenoe commented on #693
Hi Mohd,

not without some development, I fear. We will definitely reimplement this, I cannot make promises when it will happen, exactly, though. If you need it straight away, you can send us a message to hello@otobo.de to hire us, or if you have the capability, enhance OTOBO yourself (please open a pull request, if you do :) ).

Best regards, Sven

[2021-01-09 12:51] bschmalhofer commented on #690
There were some fallouts from this change. Disabling Selenium testing did not work seamlessly. Fixes are added for the issue #682.

[2021-01-09 15:27] bschmalhofer commented on #449
The POD for Syntax::Keyword::Try had to many times the word experimental. So let's stay conservative and recommend Try::Tiny instead. This has the advantage that it is already required implicitly. In order to document the recommendation I add Try::Tiny as a dependency for 10.0.7 and later. Closing this isssue, as any further requests can be discussed in new issues.

[2021-01-09 15:27] #449 closed, assigned to bschmalhofer, wollmers, svenoe

[2021-01-11 15:45] bschmalhofer opened #713 "Selenium testing: adapt AgentLinkObject.t"
In the frontend AgentTicketZoom the linked tickets are displayed. The shown columns of the linked ticket can be set up via some JavaScript magic. This feature is tested in the test script _scripts/test/Selenium/Agent/AgentLinkObject.t_ . However the mechanism in which columns are moved from left to right has been changed, without adapting the test.

TODO: adapt the test script or skip testing the

[2021-01-11 15:46] bschmalhofer commented on #678
See also #682.

[2021-01-11 16:11] bschmalhofer opened #714 "Selenium Testing: test for checkmark fails in AgentNavigationBar.t"
AgentNavigationBar.t testst the rearrangement of the items in the navigation bar. This seem to work. After moving the Search icon to the head of the bar, a checkmark icon appears briefly.
How the Selenium test does not see the checkmark icon and the test script bails out.

`not ok 6 - WaitFor(JavaScript => return typeof($) === 'function' && $('\#NavigationContainer > .fa-check').length) failed. at

[2021-01-11 16:58] bschmalhofer opened #715 "activate PreferencesGroup::Password per default"
The test script _scripts/test/Selenium/Agent/AgentPreferences.t_ expects that PreferencesGroups::Password is activated per default. But this seem to be not the case, as _Kernel/Config/Files/XML/OTOBOPasswordPolicy.xml_ deactivates this settings.

TODO: either adapt the test or temporarily activate PreferencesGroups::Password  .

See also #682.

[2021-01-12 11:48] bschmalhofer commented on #648
In the devel meeting on 2021-01-11 it was aggreed that at default max-allowed-packet 0f 64M is fine.

[2021-01-12 13:04] bschmalhofer commented on #715
The consensus is that PreferencesGroup::Password should be activated per default. This means that Kernel/Config/Files/XML/OTOBOPasswordPolicy.xml must be adapted. Whether there are further repercussions is not obvious.

[2021-01-12 15:13] bschmalhofer opened #717 "Selenium Testing: take screenshots of all windows"
My impression is that in case of Selenium Errors only the currently active window is captured and saved as a .png.
But I want to see all windows!

The list of window handles can be retrieved with `get_window_handles`.

[2021-01-12 17:51] bschmalhofer commented on #589
See also #644

[2021-01-13 11:10] bschmalhofer opened #719 "Selenium Testing: Encoding problem with statistics Import"
This error cropped up when running ./scripts/test/Selenium/Agent/AgentStatistics/Import.t. It looks like some encoding issue when importing statistics. The imported statistic is _scripts/test/sample/Stats/Stats.TicketOverview.de.xml_.

As usual with encoding, the situation is a bit confusing. The original ((OTRS) Community Edition file seems to be encoded in UTF8 with correct German umlauts. The f

[2021-01-13 11:55] bschmalhofer commented on #719
Yes, looks like it was only the broken encoding in the sample XML file. Will be fixed in the commits for #682. Closing this issue.

[2021-01-13 11:55] #719 closed, assigned to bschmalhofer

[2021-01-13 17:31] bschmalhofer commented on #682
Worked on making the printed TAP more understandable. However the number of failed scripts is up to 58 now.

[2021-01-14 08:07] svenoe commented on #644
@bschmalhofer - is my assumption correct, that the skipped tables from your check list in principle are already handled with ecbc9699031a1ffced0522f4efbe73b5264cc30a (or maybe even earlier; currently line 428 and 429 of backup.pl), and the point is just not checked, because of possible foreign keys stuff? I would ignore this then, for now. Those tables, from what I see, are standing pretty much on

[2021-01-14 09:19] bschmalhofer commented on #644
@svenoe Exactly. The tables that should not be migrated are already taken into account by `backup.pl --backup-type=migratefromotrs`. But I didn't investigate table by table whether foreign key issues could arise. IMHO the best approach is to not worry about that now, but focus on doing some test migration with real live databases.

[2021-01-14 21:45] bschmalhofer commented on #717
Inspected a case with two windows. Looks fine. Closing this issue.

[2021-01-14 21:45] #717 closed, assigned to bschmalhofer

[2021-01-15 09:34] StefanRother-OTOBO commented on #639
Hi Wolverine80,

thanks very much for your help!

We release OTOBO 10.0.7 next week.

Have a nice day!

Stefan
Team OTOBO

[2021-01-15 09:34] #639 closed, assigned to bschmalhofer

[2021-01-15 09:41] StefanRother-OTOBO commented on #649
Hi Bernhard,

I think the manual migration is a expert function and we do not really a script like that at the moment. It would be nice yes, but I think I add a detailed description to our tutorial, thats fine too.

Thanks very much!

Stefan

[2021-01-15 09:41] #649 closed, assigned to StefanRother-OTOBO

[2021-01-15 09:45] svenoe commented on #663
Stefan and I decided that this should usually not happen between different patch levels, so the priority is not so high.

[2021-01-15 09:50] svenoe commented on #678
Is this test just about testing this skin? Then we could just skip it for the moment.

[2021-01-15 13:05] wollmers commented on #678
@svenoe It just tests, that the skin selection/switch to another skin works. A manual test works. So no big risk to skip it at the moment.

Improvement could be to skip, if there is only one (the default) skin.

[2021-01-15 13:24] svenoe commented on #678
Thanks Helmut - yes, ok, at least for the moment this is unimportant then and could be skipped, in my opinion.

[2021-01-15 13:56] bschmalhofer commented on #682
Fixed a problem with DragAndDrop(). But some failures are heisenbugs. So it was 59 failed scripts in the last run.

[2021-01-15 15:15] svenoe commented on #644
Stefan will incorporate some instructions into the manual. Reading the db name out of the config would just result in instructions easier to copy paste, as I understand it. Nice to have, but this can be incorporated somewhen else, too.

[2021-01-15 15:15] #644 closed, assigned to bschmalhofer

[2021-01-15 15:29] bschmalhofer commented on #713
This was a miscomprehension of the code. Apparently the lists are set up as JSON datastructure. But some JS code creates from the JSON the DOM as needed by DragAndDrop. AgentLinkObject.t had other problems that were addressed as part of #682. Rejecting this issue as the analysis was incorrect.

[2021-01-15 15:29] #713 closed, assigned to bschmalhofer

[2021-01-15 15:35] bschmalhofer commented on #682
Fixed AgentLinkObject.t by adapting the offset from the top left.

[2021-01-15 21:09] bschmalhofer commented on #682
Login in the customer.pl was broken again. 50 failing tests after fixing it.

[2021-01-16 12:25] bschmalhofer commented on #714
This seems to work now, after fixing DragAndDrop() for #682. Closing this issue.

[2021-01-16 12:25] #714 closed, assigned to bschmalhofer

[2021-01-16 13:02] bschmalhofer opened #727 "Selenium Testing: eliminate workaround for button_up()."
Currently button_up() is overridden in Kernel::System::UnitTest::Selenium. The same fix is filed in https://github.com/teodesian/Selenium-Remote-Driver/pull/459. When the patched Selenium::Remote::Driver is released, then the workarund can be removed. The new version of Selenium::Remote::Driver must then be required.

[2021-01-16 17:59] bschmalhofer commented on #715
Some tests in scripts/test/Selenium/Agent/AgentPreferences.t  are marked as TODO because of this issue. See #682 .

TODO:

- [x] remove TODO markers when this issue is resolved.

[2021-01-16 18:16] bschmalhofer commented on #678
For #682 some  test cases  were set to TODO because of this issue.

Test cases in the following scrips must be un-TODOed when this issue is resolved:

- [ ] _scripts/test/Selenium/Agent/AgentPreferences.t_
- [ ] _scripts/test/Selenium/Agent/AgentTickerZoom.t_
- [ ] _scripts/test/Selenium/SysConfig/AgentSetting.t_

[2021-01-17 12:08] bschmalhofer commented on #682
Latest run: 49 failing test scripts

[2021-01-18 10:13] svenoe commented on #591
Seems fixed to me.

[2021-01-18 10:13] #591 closed, assigned to bschmalhofer

[2021-01-18 11:48] bschmalhofer opened #731 "Make Fred available on Github"
Fred, https://github.com/OTRS/Fred/tree/master/Kernel, is neat. It might even work with OTOBO, or could easily be ported to OTOBO. Bit it works AFAIK with an output filter and thus makes no use of the nifty Plack middlewares. So let's either port Fred to middlewares or creater a more shiny replacement.

[2021-01-18 14:16] svenoe commented on #731
We have Fred already as package for otobo - I seemingly have not added it to github yet, though. I will do this. (You can install it via the package manager from the otobo addons.)

[2021-01-18 15:20] bschmalhofer commented on #682
Latest run: 46 failing test scripts

[2021-01-18 16:10] bschmalhofer opened #734 "Decide about Kernel::Output::HTML::Notification::AgentSessionLimit"
As of OTOBO 10.0.7 the notification Kernel::Output::HTML::Notification::AgentSessionLimit is only a stub. In OTRS this notification is presented when the session limit is approached. As OTOBO has no session limit I would surmise that this notification is not needed in OTOBO. @StefanRother-OTOBO: Is that correct?

When no session limit checks are needed, then it should be decided whether this notif

[2021-01-18 18:14] bschmalhofer commented on #682
Latest run: 44 failing test scripts

[2021-01-19 11:20] bschmalhofer opened #736 "Explicitly require the distribution URI, which includes URI::Escape"
This is mostly for documenting that URI is required and that it is fine to use use URI in code.  This is not a new dependency as URI is already an implicit dependency via LWP::UserAgent and URI::Escape is used in Kernel/Output/HTML/Layout.pm.

One reason for using URI directly is that it provides the method `query_form` for creating query param from key value pairs. This is more convenient that us

[2021-01-19 13:49] bschmalhofer opened #737 "Use a Plack middleware for supporting FilterContent output filters"
This is more of a project idea. In OTOBO there are output filters that modify the generated Response. In Plack there are middlewares that do the same thing. So the idea is to implement the OTOBO output filters as one, or several??, Plack midddlewares. This looks like a cleaner architecture.

Note that this would only apply to the filters that are configured as 'FilterConten'.

But first we need to

[2021-01-19 14:04] bschmalhofer commented on #731
Fred would also be a good test case in case #737 will be implemented.

[2021-01-19 15:07] bschmalhofer commented on #682
some more fixes: 42 failing test scripts

[2021-01-19 18:05] svenoe commented on #594
After talking with Stefan I added AgentTicketQuickClose specific options again. Helmut is right, that this is not yet solved though, as the action is still shown.

[2021-01-19 18:09] svenoe commented on #704
I did quite a lot of testing now with normal (de)installations with or without migration, I cannot reproduce it. I will close the issue for now, please inspect what exactly is the problem and try to understand what caused it and/or let me have a look, too, if anything like this happens again.

[2021-01-19 18:09] #704 closed, assigned to nobody

[2021-01-20 10:48] bschmalhofer opened #739 "A patch level update overwrites CustomerAccept.tt"
It is recommended practice that CustomerAccept.tt is adapted to the needs of the installation of OTOBO. But a patch level update would overwrite the changed file.
The proper way to handle this would be to create a OTOBO package containing the changed CustomerAccept.tt . A simpler option would be to first copy _Kernel/Output/HTML/Templates/Standard/CustomerAccept.tt_ to _Custom/Kernel/Output/HTML/T

[2021-01-20 10:54] bschmalhofer opened #740 "Update the copyright year"
The customer footer. _./Kernel/Output/HTML/Templates/Standard/CustomerFooter.tt_ is still in 2020.

Is the year really needed for the copyright message? It would be nice if the yearly update were not needed.

[2021-01-20 11:02] svenoe commented on #739
In my opinion file changes like this, regardless of whether a package is built, or not, should be done in _Custom/Kernel/Output/HTML/Templates/MyCustomTheme/xxx.tt_, and then the "DefaultTheme" in the SysConfig should be set to this. This way one has the cleanest separation between the default files of OTOBO, files which are changed because of more general packages, and very specific, local adapti

[2021-01-20 11:07] svenoe commented on #740
Ah...I forgot this in the latest release... I assume it is necessary, at least in the headers of all files, so I guess it doesn't make a significant difference whether we include the footer or not...

[2021-01-20 14:40] svenoe commented on #592
While at it, also check default calendar usage. (It's broken for SLAs according to Stefan.)

[2021-01-20 15:20] bschmalhofer commented on #736
This was aggreed upon in todays devel meeting. The changes is merged. Closing this issue.

[2021-01-20 15:20] #736 closed, assigned to bschmalhofer

[2021-01-20 15:26] bschmalhofer commented on #678
There are no immediate plans to add skin. The existing test the depend on a skin are TODOed. Let's leave them in place, in case that skins will be added in future. Closing this issue.

[2021-01-20 15:26] #678 closed, assigned to nobody

[2021-01-20 15:28] bschmalhofer commented on #666
@svenoe  I assigned this to you because I thing a second pair of eyes is useful here.

[2021-01-20 15:33] bschmalhofer commented on #682
latest run: 40 failing test scripts

[2021-01-21 08:47] GritRother-OTOBO opened #744 "Formatting and links in Dashboard Plaintext Tile"
An option to format text in the plaintext dashboard tile (line breaks, esp.) and to insert links would be great

[2021-01-21 09:16] bschmalhofer commented on #567
TODO:

- [x] confusing error messages when _update.sh_ calls `docker-compose pull`

Errors are emitted for local images. This might be fixable by passing `--ignore-pull-failures[=service:name]` for the local images.

[2021-01-21 09:40] bschmalhofer opened #745 "Avoid magic number 1 for determining the super user"
In _Kernel/System/Ticket/TicketACL.pm_ there is a check for the super user:

`   return if $Param{UserID} && $Param{UserID} == 1;
`
The constant 1 is very magic. I propose to add a method  `Kernel::System::User::IsSuperUser()` that does this check.
This should make it easier to see where the super user is special cased.

[2021-01-21 12:50] bschmalhofer commented on #737
I sounded like a good idea, but it didn't pan out. `$Kernel::OM` is localised in the handle `$OTOBOApp`. For putting the FilterContent feature we would have to expand the scope of `$Kernel::OM` or create a separate instance in the middleware. Both workaraounds are not nice.

In order to make at least some progress I have moved the call to ApplyOutputHandlers into  `$OTOBOApp` . This simplifies the

[2021-01-21 14:23] svenoe commented on #745
This would probably be cleaner for a new program, but I think in OTOBO we will not get rid of the 1. It is commonly used to call subroutines with super user rights (every call of TicketSearch, for example, is done with `UserID => 1,` to indicate that all respective Tickets should be returned, etc.). Changing the check, but not the call is pointless in my opinion, and we cannot get around this, wit

[2021-01-21 14:38] bschmalhofer opened #748 "SeleniumTesting: fix TODO tests for setting Owner, Responsible, State"
In _scripts/test/Selenium/Agent/AgentTicketActionCommon/AgentTicketFreeText.t_ some tests are commented out because Selenium could not perform the action. This manifested itself in a time out. The relevant lines start on line 395.

My impression is that for these fields there are extra JS callbacks that prevent setting the fields Owner, Responsible, and State to an empty value. I suppose that this

[2021-01-21 14:59] bschmalhofer commented on #745
I propose to leave it open and at least provide the possibility to do it in a cleaner way:

- a check function that checks for UserID == 1
- a constant $SUPER_USER_ID that has the value 1 and can be used for the calls.

IMHO, it's not absolutely necessary that all code it converted at once,

[2021-01-21 16:46] bschmalhofer commented on #682
latest run: 38 failing test scripts

[2021-01-21 18:30] joserribeiro26 opened #750 "Implement CustomerPreferences"
Hi,
We noticed here a problem with the CustomerPreferences Layout.

Below the image with the broken Layout, today also does not appear in the list of side menu.

![image](https://user-images.githubusercontent.com/475022/105395394-7011cb80-5bfd-11eb-93cc-9d809d58a8f8.png)

[2021-01-22 14:08] bschmalhofer commented on #252
Docker, and therefore PSGI, is officially supported as of OTOBO 10.0.7. The scary warning can now be removed.

[2021-01-22 14:20] bschmalhofer commented on #252
The scary warning is gone. Closing the issue.

[2021-01-22 14:20] #252 closed, assigned to StefanRother-OTOBO

[2021-01-24 16:35] bschmalhofer commented on #632
I looked at the code and my impression is also that Expand can be removed. Let's check whether there are similar cases.

[2021-01-25 07:55] bschmalhofer commented on #632
More greping on OTRS and OTOBO source code. Here are the cases that need to be investigated:

- [x] ExpandCustomerName[12]? in AgentTicketEmail and AgentTicketPhone:

[code]
- [x] ExpandCustomerName in links used by Kernel/Modules/AdminCustomerUser.pm

- [x] OwnerAllRefresh in AgentTicket[Email|Phone]

- [x] ResponsibleAllRefresh in AgentTicket[Email|Phone]

- [x] ExpandCustomerName[12] in AgentTi

[2021-01-25 14:55] bschmalhofer opened #755 "Align AgentTicketPhone and AgentTicketEmail"
I noticed this when looking at #632 . The frontend modules AgentTicketPhone and AgentTicketEmail are fairly similar. This means that a fix in either module should ofter also be applied in the other module. However, it is kind of hard to see the real differences in the behavior, at there are unneeded divergences in the code.

- [x] align the code of these modules, without function changes

[2021-01-26 08:18] svenoe commented on #755
In principle I agree, but I think we should think about this on a larger scale to be honest. This holds true for AgentTicketPhone, -Email, -ActionCommon, -PhoneCommon,... All those ticket masks only differ in some minor functionality but their code is totally nonuniform.

In my opinion we should really think about maybe having an AgentTicketBase or so as parent and then just have individual constr

[2021-01-26 08:24] svenoe commented on #750
Hi José,

thanks for pointing it out. We are aware of this, we have not yet included it to OTOBO (actually there shouldn't be a way to reach the site without directly accessing it via the browser, we should have really disabled it completely). It definitely will be fully implemented though.

Sven

[2021-01-26 09:52] svenoe commented on #731
I added it: https://github.com/RotherOSS/fred

[2021-01-26 09:52] #731 closed, assigned to svenoe

[2021-01-26 17:02] bschmalhofer commented on #744
Sorry, the above commits are actually for #755.

[2021-01-26 17:05] bschmalhofer commented on #755
Ah, I messed up the commit messages and noticed only after merging the PR. The changes for #755 were annotated as being for #744.
Manual testing looked fine, including the link on AgentCustomerInformationCenter.
So, let's close this issue anyways.

[2021-01-26 17:05] #755 closed, assigned to bschmalhofer

[2021-01-26 17:06] bschmalhofer opened #757 "Unifiy the different ticket and article masks"
In principle I agree, but I think we should think about this on a larger scale to be honest. This holds true for AgentTicketPhone, -Email, -ActionCommon, -PhoneCommon,... All those ticket masks only differ in some minor functionality but their code is totally nonuniform.

In my opinion we should really think about maybe having an AgentTicketBase or so as parent and then just have individual constr

[2021-01-26 17:07] bschmalhofer commented on #757
@svenoe , totally agree. Maybe we can tackle this for 10.1.

[2021-01-26 17:14] bschmalhofer commented on #632
The difference between **Expand** and **ExpandCustomerName** is that **ExpandCustomerName** is used in at least one location. Furthermore, removing **ExpandCustomerName** would change the existing interface, even if it is not well documented.
So, I'd like to leave **ExpandCustomerName** and only remove **Expand**.

[2021-01-27 19:18] bschmalhofer commented on #632
The usage of Expand looked very much obsolete.
Flagging Expand as an error looked like a check that the old interface is no longer used.
Closing this issue.

[2021-01-27 19:18] #632 closed, assigned to bschmalhofer

[2021-01-28 07:37] svenoe commented on #757
I thought about this for a bit, and I think we should postpone it to 11.0. In my former answer it sounds a bit easier than it is, I believe, there are a lot of little things to consider, split tickets, different handling of dynamic fields for the zoom mask, different handling of templates, etc pp. This would be done in favor of releasing 10.1 earlier.

[2021-01-28 08:08] bschmalhofer commented on #737
Closing as generally 'wontfix', but with some refactoring.

[2021-01-28 08:08] #737 closed, assigned to bschmalhofer

[2021-01-28 12:50] svenoe opened #760 "Adjust the code in rel-10_0 branch to work with CodePolicy."
While introducing and adapting CodePolicy to our likings there will be code changes on OTOBO at the same time. See also https://github.com/RotherOSS/CodePolicy/issues/2

[2021-01-28 16:34] bschmalhofer commented on #567
Found no easy was to suppress the error messages, so I added an message that the errors can be ignored.
Simplified _scripts/update.sh_ so that it basically only runs the statements documented in the installation manual.
The .env generation feature is now in _scripts/devel/generate_dot_env.sh_. For conistency sake, I moved the other helper scripts also into _scripts/devel_.

@svenoe Could you updat

[2021-01-28 17:50] svenoe commented on #567
Done.

[2021-01-30 10:15] bschmalhofer opened #761 "Remove fallback support for CGI in Kernel::System::Web::Request"
In Kernel::System::Web::Request there are following lines:

[code]
I don't see any sensible use case for that fallback. Let's remove it then.

[2021-02-01 16:13] bschmalhofer opened #763 "Selenium Testing: reactivate TODO tests that are related to ACLs"
There is at least on test script that succeeds when run with a fresh database, but has a failure when running in the complete test suite. My hunch is that Event-handling might be messed up there.
The plan is to mark these cases as TODO in #682 and fix them for this issue.
This effect might occur in several scripts.

TODO: fix TODO tests in

- [ ] _scripts/test/Selenium/Agent/AgentSplitSelectionACL

[2021-02-01 20:56] frankii91 opened #765 "Elasticsearch missing after migration"
The missing Elasticsearch after migration disappeared from the panel and it is not possible to search.
How do I get him back?

[2021-02-01 21:00] frankii91 opened #766 "Clean up direct usage of '/opt/otobo'"
Edit by @svenoe - There are some instances of direct usage of /opt/otobo instead of $ConfigObject->Get('Home'), mostly in the migration routines. This should be replaced.

---
You might think to make it easier to run / install in a directory other than the default (/ opt / otobo) = this should be configured before installing. one script would be enough to determine this folder, manual change is qu

[2021-02-01 21:00] bschmalhofer commented on #682
Current state:
- 38 scripts failing
- 5 scripts with TODO test cases
- unexpectedly succeeding: 1 of the 2 TODO cases in _scripts/test/Selenium/Agent/AgentSplitSelectionACL.t_

[2021-02-01 21:03] frankii91 opened #767 "Running OTOBO in the plesk = docker panel"
Your containers are not properly made to run with Plesk (and their built-in Docker mechanism), so there is no clear instruction for that, and I think a lot of people use Plesk. I did not succeed, the containers do not start, no logs

[2021-02-02 08:35] svenoe commented on #765
Hi frankii91,

did you use OTOBO 10.0.7 for the migration? And what exactly is missing? If you go to Admin->Webservices, is the Elasticsearch webservice still there?

Sven

[2021-02-02 08:42] StefanRother-OTOBO commented on #767
Hi frankii91,

I hope you are well!

We have not yet tested our Docker and Docker Compose containers under Plesk. However, the OTOBO containers should run in all Docker environments if configured correctly.

Since OTOBO is 100% free of charge and open source, we currently see the following possibilities to meet your requirements in the short term.

1.) You help to fix the problems and we integrate

[2021-02-02 08:42] #767 closed, assigned to nobody

[2021-02-02 08:55] svenoe commented on #766
Hi frankii91,

this is easily doable by changing `$Self->{Home} = '/opt/otobo';` to something else in the Config.pm for normal installations. To change the path within docker might be a bit more tricky, I haven't tried this, to be honest, but is this really necessary? For Plesk specific customizations please see https://github.com/RotherOSS/otobo/issues/767#issuecomment-771469004 also.

Sven

[2021-02-02 16:46] frankii91 commented on #765
Last stable release from yesterday, migration disables elasticsarch.

But today I found a solution:
must be enabled in the otobo system configuration

Elasticsearch :: Active
and
Frontend :: Module ### AgentElasticsearchQuickResult

However, you have to test it and it is best to add it to the migration instructions

[2021-02-02 16:51] frankii91 commented on #766
np.
$ Self -> {Home} = '/ opt / otobo';
This is not enough, in many files there is '/ opt / otobo' hard and must be edited ...
e.g.

find -type f -exec grep -q '/opt/otobo' {} \; -print
find -type f -exec grep -q '$HOME' {} \; -print

and others because in some files e.g. cron there is $ HOME not mentioning tests etc.
Additionally, in a large part of the comments, translations ...
There is also a

[2021-02-03 11:44] rbr101 opened #768 "Sendmail binary in OTOBO daemon docker image missing"
I'm porting OTOBO docker to kubernetes, and everything seems to run fine except sending mails because the sendmail binary is missing in the daemon docker image. Is this related to to my conversion or is this also the case with the docker-compose installation?

-->
ERROR: OTOBO-otobo.Console.pl-Maint::Email::MailQueue-76 Perl: 5.32.0 OS: linux Time: Wed Feb 3 10:30:20 2021
Message: CommunicationLog

[2021-02-03 12:41] rbr101 commented on #768
Ok, the option SystemConfig->SendMailModule -> Kernel::System::Email::SMTP should be used.
By default sendmail is enabled resulting in the error. Change the above setting and it will work.

[2021-02-03 12:41] #768 closed, assigned to nobody

[2021-02-03 13:48] bschmalhofer commented on #768
@rbr101 Cool, very nice to see than people are running OTOBO in kubernetes. Glad to learn that it is, mostly, working.

[2021-02-03 15:05] svenoe opened #769 "Fix webservice integration for migrations with existing webservices."
Fix webservice integration for migrations with existing webservices.

[2021-02-03 15:06] #769 closed, assigned to svenoe

[2021-02-03 15:09] svenoe opened #770 "Implement automatic activation of Elasticsearch for migration."
This can more or less be copied from the installation process.

[2021-02-03 15:10] svenoe commented on #765
Yes, the activation of Elasticsearch is not done automatically after migration, at the moment. I've added issue #770 which proposes this enhancement.

[2021-02-03 15:10] #765 closed, assigned to nobody

[2021-02-03 15:16] svenoe commented on #766
You are right. Although most are examples and translations, especially in the migration routines there are some occurrences which have to be replaced. Thanks for pointing it out. :)

[2021-02-03 17:16] ymyasoedov opened #771 "Update buggy JavaScript::Minifier to version 1.16"
JavaScript::Minifier 1.14 has some problem that has been found in https://github.com/znuny/Znuny/issues/6 (it is corrupting some JS code). There is also alternative package JavaScript::Minifier::XS, that could be used instead of JavaScript::Minifier. Znuny will use JavaScript::Minifier::XS and CSS::Minifier::XS if they are installed on system.

[2021-02-03 18:54] svenoe commented on #771
Hi Yuri,

thanks very much for the note. We will definitely incorporate the relevant bugfixes of the Znuny team in general.

Sven

[2021-02-03 19:21] svenoe opened #772 "Enhance the generic interface and introduce missing features."
The generic interface could use a little work. There are a couple of capabilities which should be added. In the first step I would like to gather them here, and decide whether we can just add them piece by piece, or if the better approach would be, to do this in one major update, especially if dependencies exist. I'm currently aware of the following:

- [x] Allow GET requests with an empty body.

[2021-02-04 07:53] rbr101 opened #773 "Unable to retrieve package list when using package manager"
I'm unable to retrieve package list using a web proxy. I get the following errors:

-->
[Thu Feb  4 07:48:17 2021][Error][Kernel::System::WebUserAgent::Request][229] Can't perform POST on https://portal.rother-oss.com/otobo/public.pl: 421 Misdirected Request
[Thu Feb  4 07:48:17 2021][Error][Kernel::System::WebUserAgent::Request][229] Can't perform POST on https://portal.rother-oss.com/otobo/publi

[2021-02-04 10:34] sternenseemann commented on #772
I think handling of request headers can be improved even more. Current problems include

* `Requester` has no support for headers at all
* `Provider` can only have global `AdditionalHeaders`, not per endpoint
* Headers can't be influenced via the individual endpoint implementation

I wonder whether it might be better to make Headers part of Request/Response returned by the `Requester`/`Provider` i

[2021-02-04 11:10] sternenseemann commented on #772
Implementing the `AdditionalHeaders` feature for `Requesters` is trivial, the following change implements that: <https://github.com/sternenseemann/otrs/commit/dd82d3b6b0504c860accd126a832d790481b4195> (it is missing an adjusted admin interface however).

Supporting `AdditionalHeaders` for `Requesters` is a good idea, I'd say (to mirror the `Provider` API), but there should be additionally the poss

[2021-02-04 11:47] frankii91 commented on #765
One small piece of information is missing from the installation documentation
that you should add elastic to systemd to start after restarting the server, most of you may know about it, but the default installation does not add this option to the autostart.

sudo systemctl enable elasticsearch

[2021-02-04 11:50] frankii91 commented on #765
When the elasticsearch daemon is not running
there are error_log apacha logs but on the agent's site the plugin is active but it doesn't search and the agent doesn't know that something is wrong.
It would be nice if there was a message for the agent, or a mail to the system administrator, preferably both.

[2021-02-05 06:35] StefanRother-OTOBO commented on #773
Dear rbr101,

i have tested the function on different systems and could not reproduce the problem. Ssllabs shows a clean SSl configuration. However, I have changed some details, can you please check the function again?

If it still doesn't work, please send us more information about the exact setup.

1.) Docker or not
2.) OTOBO version
3.) Proxy used and proxy version

As a workaround, you can als

[2021-02-05 12:28] svenoe opened #774 "Migration can cause an inconsistent state of SysConfig."
This likely is the reason for https://github.com/RotherOSS/otobo/issues/704. Possibly only affects older versions of the migration routine - we have to check it for 10.0.8 though. Probably only affects SysConfig options which have different default values in OTRS and OTOBO.

I found a system where `Frontend::ToolBarModule###110-Ticket::AgentTicketQueue` was set to invalid (the OTRS default) in the

[2021-02-06 13:22] bschmalhofer commented on #760
The Perl::Critic failures are now down to eight files.
Determined with `../CodePolicy/bin/otobo.CodePolicy.pl  --plugins +TidyAll::Plugin::OTOBO::Perl::PerlCritic -a 1>critic.out
`
There are some case I don't understand. The relevant lines have been marked with TODO-comments:

Kernel/System/MigrateFromOTRS/CloneDB/Driver/Base.pm
Kernel/System/MigrateFromOTRS/OTOBOCopyFilesFromOTRS.pm
Kernel/System

[2021-02-06 13:58] bschmalhofer commented on #761
The fallback has been removed. Let's wait for the next run of the Selenium tests before closing the issue.

[2021-02-06 14:07] hcamminadi opened #779 "Do not force customer to change the password when an agent has changed customer data via AdminCustomerUser"
Situation:
- PasswordExpiry is active (e.g. 90 days)
An existing customer user has already signed in via customer.pl and changed the initial password. Afterwards an agent changes any data e.g. city or postal code via AdminCustomerUser. As the agent leaves the password field blank, the pw value is not overwritten in db.
As customer_preferences preferences_key 'UserLastPwChangeTime' will be removed

[2021-02-06 20:15] bschmalhofer commented on #567
The test of _scripts/update.sh_ looked fine. The installation guide is updated. Closing this issue.

[2021-02-06 20:15] #567 closed, assigned to bschmalhofer

[2021-02-07 13:53] bschmalhofer commented on #761
At least some Selenium-Tests are succeeding with the branch rel-10_1 . Closing this issue.

[2021-02-08 09:53] svenoe commented on #750
When implementing this, also take care of https://github.com/RotherOSS/otobo/issues/779.

[2021-02-08 10:14] svenoe commented on #779
Hi hcamminadi,

thanks for your contribution. You are right, that this behavior should be changed. At the moment we do not yet totally support the customer preferences and password options. I think this here should be done as an addition to that general task, and I linked the issue to https://github.com/RotherOSS/otobo/issues/750.

Best regards, Sven

[2021-02-08 13:20] rbr101 commented on #773
Hi,

I'm using docker version in kubernetes, I just feched the lastest docker version but problem still persists.
The webproxy is a MCAFEE Webgateway. The configured option for web proxy:
Package::Proxy -> https://myproxy:8080/

Also when i try to install the package FAQ-10.0.5.opm manual, nothing happens.
I only see the text "FAQ 10.0.5" in a gray square.

[2021-02-08 13:21] svenoe opened #780 "Update CKEditor."
There are several security issues with the currently used version of CKE - see https://ckeditor.com/cke4/release-notes.

[2021-02-08 14:17] svenoe commented on #773
The package not installing is a bug we are aware of, when there are problems with the above request. It will be fixed in one of the next versions of OTOBO.

[2021-02-08 20:24] frankii91 opened #782 "Question: Sending e-mails, sendmail cofniguration more than one e-mail"
I have worked at otrs for many years but never tried to implement sending from several different queue-dependent emails but in a different domain.

You can sign multiple incoming addresses and download them mailae to different queues

Currently it is possible to add a sending email to the queue and new / replied tickets are sent from this email.

But missing:
- outgoing SMTP server settings more t

[2021-02-08 20:33] frankii91 opened #783 "Improvement: Signature and Salutation depending on queues"
Suggestion for improvement:
There is something like:
AdminTemplate
and is AdminQueueTemplates
this allows you to associate templates with queues, but this option is missing for signatures and salution

is
AdminSignature and AdminSalutation

The proposal to add the possibility of assigning signatures and salution to queues. (AdminSignatureTemplates and AdminSalutationTemplates)

[2021-02-09 10:53] svenoe commented on #771
To me it looks like this was related to CKEditor 4.15.1 and does not occur with 4.16.0. We should consider switching to the XS versions anyways, I guess. I will postpone it to 10.0.9 though.

[2021-02-09 10:55] #780 closed, assigned to nobody

[2021-02-09 10:59] svenoe opened #784 "Provide templates for issue creation in GitLab"
Github seems to provide templates for creating new issues. Not sure whether POST forms are supported.
See https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/configuring-issue-templates-for-your-repository and https://stackoverflow.com/questions/34146618/pre-populate-the-github-new-issue-form-using-the-querystring and http://ez34.net/2016/12/publish-anonymous-issues-

[2021-02-09 11:02] #412 closed, assigned to bschmalhofer

[2021-02-09 11:03] svenoe commented on #412
Seems done. Opened another issue for possible beautification.

[2021-02-09 11:06] #740 closed, assigned to svenoe

[2021-02-09 11:08] svenoe commented on #604
This is not time critical.

[2021-02-09 12:56] svenoe commented on #666
Works for me. :)

(Just copied a file to Custom/Kernel/Modules and modified it.)

[2021-02-09 12:56] #666 closed, assigned to svenoe

[2021-02-09 15:54] wollmers commented on #782
That's a configuration problem of the relaying SMTP server. Well configured, a SMTP server can send mail for multiple domains.

Using authenticated SMTP is more flexible.

Again a configuration problem of the sending SMTP. Most receiving SMTP servers check basic things like MX, SPF, reverse DNS and HELO.

Some big players do other questionable filtering. Gmail e.g. rejects mail, if a rate limit is

[2021-02-09 18:08] bschmalhofer opened #785 "PSGI: adapt dbviewer.pl to Mojolicious 8.73"
The container otobo_web_1 does not start up, giving the error message:

[code]
The culprit seem to the changed interface in Mojolicious 8.73. The changelog says:
[code]
This is ok from the Mojo side, as the function check is marked as experimental.

[2021-02-09 20:43] bschmalhofer commented on #785
Adapted the parameters to 'check'. Require Mojolicious 8.37, Test suite looks fine, including Selenium tests.

New failures are most likely unrelated:

[code]
Closing this issue.

[2021-02-09 20:43] #785 closed, assigned to bschmalhofer

[2021-02-10 08:58] #647 closed, assigned to nobody

[2021-02-10 15:11] svenoe commented on #774
Migration from an empty system via webinterface does not cause this currently. (non-docker + standard; docker + backup.pl)

[2021-02-11 12:38] svenoe commented on #774
Seems to work at least for standard cases. Can be reopened, if a concrete way to reproduce this is found.

[2021-02-11 12:38] #774 closed, assigned to nobody

[2021-02-11 12:40] svenoe opened #787 "Check default calender usage when no calender is set in SLAs."
While at it, also check default calendar usage. (It's broken for SLAs according to Stefan.)

_Originally posted by @svenoe in https://github.com/RotherOSS/otobo/issues/592#issuecomment-763651019_

[2021-02-11 12:40] svenoe commented on #592
Initial error seems fixed, default calender usage can be checked in another issue.

[2021-02-11 12:40] #592 closed, assigned to svenoe

[2021-02-11 16:37] bschmalhofer opened #788 "Let otobo.Console.pl support the option -h for getting help"
Just did

[code]
and was surprised. otobo. Console.pl should be nice and accept the option `-h` and not only `--help`.

[2021-02-11 17:18] bschmalhofer opened #789 "Problem with SecureMode"
During testing @svenoe ran into a problematic case. The sequence of events is something like:

1. Clear the _/opt/otobo/_ volume and the database with `docker-compose down -v`
2. Configure devel-rel-10_0 in _.env_ with `./scripts/devel/generate_dot_env.sh --template dot_env.m4 --repository rotheross --tag devel-rel-10_0`
3. Enable HTTP in .env: COMPOSE_FILE=docker-compose/otobo-base.yml:docker-com

[2021-02-11 17:27] bschmalhofer commented on #789
The cause for this bad outcome could be that _ZZZAAuto.pm_ is not read in by the webserver even though it has been changed on the file system. In other words, the Plack middleware `$RefreshZZZAAutoMiddleWare` did not do their job in _bin/psgi-bin/otobo.psgi_ .

Maybe `%Module::Refresh::Cache`was not initialised in the process running migration.pl. Maybe the order of  `$RefreshZZZAAutoMiddleWare`

[2021-02-12 10:31] bschmalhofer commented on #789
I still don't really understand what is going on. My current understanding of the problem is:

1. It is assumed that everything happens within 10s, so that the reloading from Plack::Middleware::Refresh does not kick in.
2. It is assumed that everything happens within one process.
2. otobo.psgi starts, `%Module::Refresh::Cache` is initialized but ZZZAAuto.pm is not yet in %INC, and therefore not in

[2021-02-12 12:56] svenoe commented on #789
Doesn't solve the issue. I really don't understand it, either. I fiddled around with Kernel/cpan-lib/Module/Refresh.pm and looked what happened during refresh_module_if_modified, and when I produced this funny state, ZZZAAuto already always was in `%CACHE` (and `%INC`), and mtime was the same as the cached one, so nothing was done, always. To my understanding this is the state when you load a modu

[2021-02-12 13:44] svenoe opened #790 "Define CKEditor Plugins which should be used."
With the latest update of CKEditor the Znuny team added some plugins of which I in a first step will disable exportpdf, because it is not configured properly and throws an [error](https://ckeditor.com/docs/ckeditor4/latest/guide/dev_errors.html#exportpdf-no-token-url), and secondly elementspath, which shows in which element (from a html perspective) we are when writing text etc. - this could be ni

[2021-02-14 14:04] bschmalhofer commented on #760
The policy https://metacpan.org/pod/Perl::Critic::Policy::ValuesAndExpressions::ProhibitCommaSeparatedStatements might hint at real errors. Make sure that there are no violations of that policy.

[2021-02-14 14:05] bschmalhofer opened #795 "Perl::Critiic: do not violate ValuesAndExpressions::ProhibitCommaSeparatedStatements"
The policy https://metacpan.org/pod/Perl::Critic::Policy::ValuesAndExpressions::ProhibitCommaSeparatedStatements might hint at real errors. Make sure that there are no violations of that policy.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/760#issuecomment-778782499_

[2021-02-14 15:11] bschmalhofer commented on #795
Nothing really bad was found. Closing this issue.

[2021-02-14 15:11] #795 closed, assigned to nobody

[2021-02-15 11:21] bschmalhofer commented on #760
Only a single Perl::Critic violation is left now. This violation is covered by https://github.com/RotherOSS/CodePolicy/issues/30.

[2021-02-15 16:18] butterwecksolutions opened #917 "Elasticsearch doesnt find renamed ticket titles"
Hello, i think if you rename a ticket title by the change ticket function,
you cannot search for this new title with elasticsearch. It will not find anything.
I used 10.0.8 for testing.

Regards
Christian

[2021-02-16 07:53] svenoe opened #800 "Migration from OTRS: Fix postgre base64 encoding of articles."
Postgresql base64 encodes some article data. We have to check whether this is handled correctly in the current version of the migration procedure. At some point it wasn't.

(A fix for the failed migration was to decode the encoded articles later - in Kernel/System/Ticket/Article/Backend/MIMEBase/ArticleStorageDB.pm:
[code]

Note to self:
- [ ] 2020111010000047)

[2021-02-16 13:21] svenoe opened #801 "Optionally remove CustomerInfomation from CustomerTicketPrint."
Also don't show ticket responsible at all if not configured (instead of the '-').

[2021-02-16 14:08] #801 closed, assigned to nobody

[2021-02-16 16:54] rkarlsba opened #802 "Access denied when trying to initially connect"
After installing with new docker-compose, 1.28.2, on docker 20.10.3, all seems to work, but when I try to connect to the server in a web browser, I get this

An Error Occurred

Access denied for user 'otobo'@'172.19.0.5' (using password: YES)

As far as I can understand, this error message is from mariadb. I have set a root password in .env, otherwise, nothing special. Anything that should be done

[2021-02-16 19:26] hcamminadi opened #803 "CSS: AgentTicketZoom Article Row with misleading background-color for System E-Mails"
**Situation:**
- System E-Mails are configured to be visible for customers
- E-Mail is sent to the ticket system e.g. for an existing ticket
- No custom postmaster filter manipulates Mail Headers
- Article row E-Mail is displayed "red" as if it would not be visible for customers but database value for article.is_visible_for_customer=1 (which is correct with the above configuration)

**Suggestion:*

[2021-02-16 19:40] hcamminadi opened #804 "Feature Request: TemplateGenerator.pm should offer Customer_Company variables"
**Situation:**
If you have a template that should contain the Adress of the Customer Company the information of the Customer User is not enough. Add <OTOBO_CUSTOMERCOMPANY_....> would be great.

**Suggestion:**
The following snippet works fine (tested for agents manual template selection) and does not read the information if company tags are not used. DynamicField support is missing in the snippet

[2021-02-16 20:03] hcamminadi opened #805 "TicketOverview: DynamicField with Link and Value Replacement did not add Value"
**Situation:**
You have a dynamic field for "Ticket" with option "Show link". The field is named "myFieldName" and labeled "my field name".
"Show Link" contains the following value:
https://<anyurl>/view.php?id=[% Data.DynamicField_MyFieldName %]
The value in a sample ticket is '5555'

AgentTicketZoom Ticket-Information shows the Link and generates the following well working html:

[code]
The prob

[2021-02-17 07:05] svenoe commented on #802
Hi Roy,

I can not confirm this behaviour. I just updated to the same versions of docker and docker-compose, and it works for me. Have you called otobo/installer.pl before otobo/index.pl? If you have done everything according to the [instructions](https://doc.otobo.org/manual/installation/stable/en/content/installation-docker.html), maybe you did a reinstall and didn't properly clean up your syste

[2021-02-17 08:44] svenoe commented on #803
Hi hcamminadi,

thanks for pointing it out - the change to red system articles was not intended. I fixed this, but we will only implement it in 10.1, to not confuse people. You will have to use your fix for a bit, until it is released.

Best regards, Sven

[2021-02-17 08:44] #803 closed, assigned to svenoe

[2021-02-17 08:48] svenoe commented on #804
Hi hcamminadi,

it's a good suggestion on first look - we will discuss it.

Thanks, Sven

[2021-02-17 08:51] svenoe commented on #805
Hi again and thanks again. ;)

We will also have a look at this.

[2021-02-17 15:52] bschmalhofer opened #806 "PSGI: remove the /otobo/dbviewer route"
In OTOBO 10.0.8 there is little database browsing application available via the route /otobo/dbviewer. It was implemented using the Mojolicious plugin https://metacpan.org/release/Mojolicious-Plugin-DBViewer. It was meat to be a helper during development and a showcase for how Mojo apps can be integrated into OTOBO. However nobody really used it and maintenance proved to be a burden that is not wo

[2021-02-17 20:44] bschmalhofer commented on #806
There was a new UnitTest failure with _scripts/test/CPAN/SOAPLite.t_ . Should be fixed with explicitly loading `Plack::Request` . Need to run the tests again to make sure.

[2021-02-17 21:15] eigenraven opened #808 "Can't modify tickets (create meta articles) after migration from OTRS 6 with the Postgresql backend"
I've recently decided to migrate away from OTRS 6 Community to OTOBO (~1000 tickets, ~20 agents) as the former is not supported anymore. The instance is running in a FreeBSD 12.2 jail (similar to linux containers), connected to a Postgresql database. After finishing the migration the system reports no errors, however when trying to reply/close any ticket it generates the following error in the log

[2021-02-18 07:29] #802 closed, assigned to nobody

[2021-02-18 18:22] bschmalhofer commented on #806
New test run looks OK. Only 37 failing Selenium tests. Closing this issue.

[2021-02-18 18:22] #806 closed, assigned to bschmalhofer

[2021-02-18 21:53] bschmalhofer commented on #788
Looks fine. Closing this issue.

[code]

[2021-02-19 05:04] svenoe commented on #789
I set this to 10.0 - I think we should talk about this somewhen before deciding on how it should finally look.

[2021-02-19 06:48] kbalcius opened #810 "Customer portal ticket history problem"
Otobo version 10.0.8
After OTRS 6 migration when customer tries to view his ticket communication history only last message is shown.
In other message windows there is a log in screen. With message about java script
Java script is enabled.
Tried with several browsers with same result.

With newly created tickets problem also persists.

![2021-02-19_08h21_21](https://user-images.githubusercontent.co

[2021-02-19 12:39] svenoe commented on #810
Hi kbalcius,

please check the SysConfig for the option HttpType. Most of the time this error occurs, it is set to the wrong value (either it is set to http, but you are using https now, or vice versa).

Sven

[2021-02-19 12:44] kbalcius commented on #810
Thanks svenoe.
Changing http type fixed this problem.

[2021-02-19 12:44] #810 closed, assigned to nobody

[2021-02-19 15:16] bschmalhofer commented on #648
The accepted units are specified in https://dev.mysql.com/doc/refman/8.0/en/program-variables.html.

No surprises here

[2021-02-19 16:25] bschmalhofer commented on #648
Hi @wollmers , one of your suggestions was implemented.

Set the default setting to 64M. Added a validation sub for the option `--max-allowed-packet`.  Being brave and closing this issue.

[2021-02-19 16:25] #648 closed, assigned to bschmalhofer

[2021-02-19 22:40] niccord opened #814 "Allow article cache in Redis"
Currently, you can only have articles cache on Memcached:
[code]
by removing this row, you can achieve article storage on filesystem and _caching onto Redis_, which becomes incredibly faster than without caching.

https://github.com/RotherOSS/otobo/blob/cacfb8a8547ed79e16aa322e2b873dc36d8bce91/Kernel/System/Ticket/Article/Backend/MIMEBase/ArticleStorageFS.pm#L83

[2021-02-20 06:29] svenoe commented on #814
Hi niccord,

thanks for the suggestion. Simply removing this line is not a valid solution as there are still systems running without Redis. Also it should be tested first, how big the impact of this on memory usage is. But of course we can enable caching specifically for Redis, too, here, and it is definitely something we should look into. :)

Best regards, Sven

[2021-02-20 15:59] bschmalhofer opened #815 "Make ObjectManager optional for Kernel::System modules"
I see three benefits of using Kernel::System::ObjectManager for object creation:
* providing singletons
* event registration and handling
* dependency checks

For some modules, e.g. `Kernel::System::DateTime` these features are not useful, they produce only overhead.

TODO;

- [ ] ponder whether creating objects simply like `my $Now = Kernel::System::DateTime->new` should be allowed
- [ ] If so, p

[2021-02-20 20:58] bschmalhofer commented on #760
There are still some violations from OTOBO::Perl::ObjectDependencies;
[code]

[2021-02-20 20:58] bschmalhofer opened #816 "Fix CodePolicy violations from OTOBO::Perl::ObjectDependencies;"
There are still some violations from OTOBO::Perl::ObjectDependencies;
[code]

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/760#issuecomment-782748496_

[2021-02-22 10:50] StefanRother-OTOBO opened #818 "Migration OTRS PostgreSQL to OTOBO PostgreSQL"
The PostgreSQL to PostgreSQL migration failed. However, it then went through after the following changes were made:

We adjusted the file /opt/otobo/Kernel/System/MigrateFromOTRS/CloneDB/Driver/Base.pm:

Before:

my $TrunkateSuccess = $TargetDBObject->Do( SQL => "TRUNCATE TABLE $TargetTable" );

After:

my $TrunkateSuccess = $TargetDBObject->Do( SQL => "TRUNCATE TABLE $TargetTable CASCADE");

To b

[2021-02-22 17:41] bschmalhofer commented on #816
Unittests look fine, only the usual Selenium errors.
Now down to 15 violations and 194 tidied files in the OTOBO repository.
Closing this issue.

[2021-02-22 17:41] #816 closed, assigned to nobody

[2021-02-23 06:50] akj00 opened #820 "Migration to elasticsearch with Response code 400, 404 and 405"
Hello,
i migrated data from otrs version 6.0.30 to OTOBO 10.0.29 (non-docker), all went well!
But when i imported data to elasticsearch i got these errors:

[code]

[2021-02-23 10:15] svenoe commented on #820
Hi akj00,

those can probably mostly be ignored. Neither OTRS nor OTOBO have a good way of handling error responses from requests via the generic interface - we want to improve this (issue #772), but currently other things have higher priority. As a result, some errors which are actually ok, are still shown - in your case the first two are attempts to delete the current index, which fails as none

[2021-02-23 10:39] akj00 commented on #820
Thank very much for your really quick and complete answer.

[2021-02-23 10:39] #820 closed, assigned to nobody

[2021-02-25 21:29] bschmalhofer commented on #129
Updated the proposal to use https://metacpan.org/pod/Feature::Compat::Try.

[2021-02-25 22:06] micha2021 opened #822 "Permission denied at /opt/otobo/scripts/backup.pl line 197"
Hi!

To create a backup I followed all steps in [https://doc.otobo.org/manual/installation/stable/en/content/backup-restore-docker.html](https://doc.otobo.org/manual/installation/stable/en/content/backup-restore-docker.html).

The command `docker run -it --rm --volume otobo_opt_otobo:/opt/otobo --volume otobo_backup:/otobo_backup --network otobo_default rotheross/otobo:latest scripts/backup.pl -d

[2021-02-26 17:21] bschmalhofer commented on #606
Judging from https://github.com/OTRS/otrs/commit/180e5609b53d96731133cca68c552da7051c8915 it looks like this sub was used for handling dtl-Templates. dtl-Templates are no longer used, so I surmise that this unused sub can safely be removed.

[2021-02-26 17:46] bschmalhofer commented on #606
The method is removed, CodePolicy is almost satisfied. Closing this issue.

[2021-02-26 17:46] #606 closed, assigned to bschmalhofer

[2021-02-26 18:16] bschmalhofer commented on #822
Hi Michael,

I just tried this and it worked in my specific setup. I think that this is an effect on whether the docker admin is actually root or an user that is in the group. See https://docs.docker.com/engine/install/linux-postinstall/.

@svenoe : Could you test this with an user that is not in the docker group?

[2021-02-26 20:40] micha2021 commented on #822
@bschmalhofer Hi Bernhard. As the documentation says "The Docker admin may be either the root user of the Docker host or a dedicated user with the required permissions",  I used the root user.

[2021-02-27 11:50] bschmalhofer opened #824 "Remove the methods EntityLookupFromWebRequest()"
The modules

implement the method `EntityLookupFromWebRequest()` . These methods look at the request para So ms available via an  instance of `Kernel::System::Web::Request`. This instance is instanitated once per request, so I think that these methods work just fine. However these methods violate the policy that the `Kernel::System`modules should not access the ParamObject directly.

Therefore I p

[2021-02-27 12:09] bschmalhofer opened #825 "Turn Kernel::System::Web::Request into a immutable class"
`Kernel::System::Web::Request ` contains the request data for the current HTTP Request. For some measures of intuitiveness, it is not intuitive that instances of this class are modified during the request. At least the methods `SetCookie` and `SaveFormDraft` provide means to modify the ParamObject.

I propose to refactor the code so that the ParamObject becomes immutable.

[2021-02-27 13:49] bschmalhofer commented on #818
This is a bit tricky. One goal of the code is that migration works in the same way under both MySQL and PostgreSQL. Simply adding 'CASCADE' might violate that principle. Under PostgreSQL, calling `TRUNCATE TABLE dummy CASCADE` truncates the table _dummy_ and all tables referencing _dummy_. This would make it different from `TRUNCAT TABLE dummy_` under MySQL. In real life this difference is usually

[2021-02-27 14:02] StefanRother-OTOBO commented on #818
Hi Bernhard,

I have no preference at the moment, I don't have enough postgreSQL knowledge. Please feel free to implement the solution you suggest.

Thanks very much!

Stefan

[2021-02-28 11:07] bschmalhofer opened #826 "Don't load IPC::Open3 needlessly"
`IPC::Open3` and `Symbol` are loaded in _./Kernel/System/Daemon/DaemonModules/SchedulerTaskWorker/Cron.pm_ . But the function `open3` and the functions and variables exported by Symbol are not used.

The question what to consistently use for running external command is beyond the scope of this issue.

[2021-02-28 11:44] bschmalhofer commented on #761
Reopen because there are many failures in the test suite becaus of this change, Needs to be investigated.

[2021-02-28 12:23] bschmalhofer commented on #826
PR is merged. Closing this issue.

[2021-02-28 12:23] #826 closed, assigned to bschmalhofer

[2021-02-28 15:54] bschmalhofer opened #828 "Clean up Kernel::System::UnitTest::RegisterDriver"
Following code has been marked as potentially obsolet.

[code]
TODO:

- [x] investigate whether this is still needed
- [x] act accordingly

[2021-03-01 17:07] rkarlsba commented on #213
Is this fixed in 10.1? I just got this error
[Mon Mar  1 16:58:12 2021][Error][Kernel::System::MigrateFromOTRS::CloneDB::Driver::Base::DataTransfer][792] Duplicate entry '328-Seen-25' for key 'ticket_flag_per_user', SQL: 'INSERT INTO ticket_flag (ticket_id, ticket_key, ticket_value, create_time, create_by) VALUES (?, ?, ?, ?, ?)'
Migrating from OTRS 6

[2021-03-01 17:26] bschmalhofer opened #830 "Migration: Duplicate Entry in ticket_flag"
Is this fixed in 10.1? I just got this error
[Mon Mar  1 16:58:12 2021][Error][Kernel::System::MigrateFromOTRS::CloneDB::Driver::Base::DataTransfer][792] Duplicate entry '328-Seen-25' for key 'ticket_flag_per_user', SQL: 'INSERT INTO ticket_flag (ticket_id, ticket_key, ticket_value, create_time, create_by) VALUES (?, ?, ?, ?, ?)'
Migrating from OTRS 6

_Originally posted by @rkarlsba in https://gi

[2021-03-01 17:38] bschmalhofer commented on #830
Hi Roy, @rkarlsba,
this issue #213 is resolved, as that was about Perl code not compiling.
Your problem is another issue. My first guess is that the data is already inconsistent in the OTRS 6 database. For checking that idea, could you run the following SQL statement on the source database:

[code]

[2021-03-01 17:44] rkarlsba commented on #830
Thanks. I found 83 rows with duplicates here. Any idea how to remove them?

[2021-03-01 18:34] bschmalhofer commented on #830
@rkarlsba,
sorry, I'm not really familiar with what the table _ticket_flag_ is used for.  A quick search showed that the OTRS Console Command `Maint::Ticket::InvalidUserCleanup` might clean up unneeded entries. Otherwise you would need to check whether that data is useful for you and clean it up maybe manually.

Hope that helps, closing this issue.

[2021-03-01 18:34] #830 closed, assigned to nobody

[2021-03-01 20:25] bschmalhofer commented on #761
Looks like there are too many dependencies that rely on instantiating Kernel::System::Web::Request without passing a CGI object. Therefore fall back on an an empty CGI object.
Some tests scripts do want to pass a request to the ParamObject. Pass `CGI->new()` in those cases.
TODO:

- [x] run test suite again

[2021-03-01 20:45] bschmalhofer commented on #828
Tried running the test suite without the code in question. This increased memory usage in a big way.
So, the code seems to be important. Closing the issue.

[2021-03-01 20:45] #828 closed, assigned to bschmalhofer

[2021-03-02 12:56] svenoe opened #833 "Add ###StatePreset to CustomerTicketZoom"
###StateDefault can be used to set a ticket to a certain state upon answering, but it only affects the state if ###State is disabled (else the selected state will be used, of course). ###StatePreset overwrites the current state and "suggests" the chosen state to the customer user.

[2021-03-02 15:59] #833 closed, assigned to svenoe

[2021-03-02 16:38] bschmalhofer commented on #822
Hi Michael,@micha2021,

I tried this with the user root and got the same error as you. The cause is that the backup command runs as the user 'otobo' in the Docker image. The users in the Docker image are actually users on the Docker host.  The Docker user 'otobo' is the host user with the user id 1000 and the group id 1000.  The fix is to give the backup dir to that user. Running
`chown 1000:1000

[2021-03-02 17:20] micha2021 commented on #822
Hi @bschmalhofer !

Perfect. chown `1000:1000 otobo_backup/` as root helped.

But here is the next problem:

[code]

The OTOBO installation is initial. I installed it but did not create any tickets. I just addes the necessary packets that I need for the migration (ITSM*, FAQ, Generic Catalog, MasterSlave and MultiSMTP).

Regards,
Michael

[2021-03-02 18:42] bschmalhofer commented on #761
Running the test suite with rel-10_1 looks fine. Only Selenium errors pop up. Closing this issue again.

[2021-03-02 18:42] #761 closed, assigned to bschmalhofer

[2021-03-02 18:58] bschmalhofer commented on #822
Hi @micha2021,

this sounds good. The permissions problem is solved.

The new problem can most likely be evaded by adding the option `--max-allowed-packet 64M`  to the call of `backup.pl`. Increase the value when the problem still occurs.

For OTOBO 10.0.10 this effect should occur less often, as #648 increased the default setting.

[2021-03-02 18:59] bschmalhofer commented on #822
TODO:

- [x] update the installation manual
- [x] proofread

[2021-03-03 10:22] bschmalhofer commented on #818
Implemented the second alternative. Merged the PR and closing this issue.

[2021-03-03 15:02] bschmalhofer commented on #822
The installation manual is updated, closing this issue.

[2021-03-03 15:02] #822 closed, assigned to svenoe

[2021-03-04 09:26] bschmalhofer opened #836 "Migration: column size in PostgreSQL"
Some database fields are limited in OTOBO to 191 characters. When migrating to MySQL the values are truncated silently. PostgreSQL throws an error.

TODO:

- [x] decide what to do with migrations to PostgreSQL
- [x] act accordingly

[2021-03-04 09:55] bschmalhofer opened #837 "Migration: ResetAutoIncrementFields for PostgreSQL"
Looks like ResetAutoIncrementFields does not do the expected thing.
The working command is listed in https://stackoverflow.com/questions/4448340/postgresql-duplicate-key-violates-unique-constraint/21639138.

`SELECT setval(pg_get_serial_sequence('sysconfig_modified_version', 'id'), coalesce(max(id), 0)+1 , false) FROM table_name;`

Also: https://wiki.postgresql.org/wiki/Fixing_Sequences

[2021-03-04 10:31] bschmalhofer opened #838 "Migration: skip the table system_data"
The table system_data should not be migrated.
This can be declared in ./Kernel/System/MigrateFromOTRS/Base.pm.

[2021-03-04 14:39] #818 closed, assigned to bschmalhofer

[2021-03-04 14:54] bschmalhofer commented on #838
The table was added to the list. Closing this issue.

[2021-03-04 14:54] #838 closed, assigned to bschmalhofer

[2021-03-05 09:32] OlliW opened #842 "Implement Subaction DisplayActivityDialog for CustomerTicketZoom"
in a Process Ticket which has an dialog for the customer, we need the "next step" action in the CustomerTicketZoom.

[2021-03-05 09:51] OlliW opened #843 "Enable CustomerTicketProcess"
Accessing to customer.pl?Action=CustomerTicketProcess return inconvenience display
![image](https://user-images.githubusercontent.com/80096822/110096875-b03ca000-7d9e-11eb-94a5-cfdf4d9197ea.png)

[2021-03-05 11:52] rkarlsba commented on #830
Apparently, that didn't work. The job is run but the query above still shows duplicates, the exact number as earlier.

[2021-03-05 12:10] svenoe commented on #830
Hi Roy,

I don't think there is a command or so to fix your old DB, I'm afraid. Basically this state should never occur in the first place, and their is no way to automatically decide which Tickets you want to keep, and which are unimportant. (You could probably also give them other IDs, but then all other objects (articles, customers,...) which reference them won't do that anymore.) So in the end

[2021-03-05 15:12] bschmalhofer commented on #824
This was discussed between @svenoe  and @bschmalhofer . The decision was to leave the methods in place, reducing unnecessary API changes. When https://github.com/RotherOSS/CodePolicy/issues/49 is fixed, then  nofilter declarations will be added, which shuóuld suffice.

[2021-03-05 15:12] #824 closed, assigned to bschmalhofer

[2021-03-05 21:46] micha2021 opened #846 "SystemLog: Can't write '/opt/otobo/var/stats/ITSMStats-001-Ticket.xml.installed': Permission denied"
Hi!

After migration from OTRS to OTOBO 10.0.9 (Docker) I get a lot of permission denied errors, eg.

[code]

I am not sure, if this is a mirgation issue.

Indeed all the ITSM*.installed files have this permission:
`-r--r-----.  1 otobo otobo`

In the old OTRS installation they have "rw" permissions.

Regards,
Michael

[2021-03-05 21:58] micha2021 opened #847 "Docker Restore expects empty database"
Hi!

As shortly explained in the documentation, to restore data from a backup, the database has to exist but may not contain any table.

I think, you should add an instruction to the documentation, how to delete all existing tables from the database otobo.

I used these commands. If you would do it better, please do it, but please add this step to the documentation.
[code]

Cheers,
Michael

[2021-03-05 23:41] micha2021 opened #848 "Docker: Elasticsearch after migration"
Hi!

After the migration process (OTRS 6 -> OTOBO 10.0.9) I got the info "Elasticsearch added; - please activate needed webservice manually".

I activated the webservice (Action=AdminGenericInterfaceWebservice;Subaction=Change;WebserviceID=4;Nav=) and set the debug level to debug.

As described in other issues here, I activated Elasticsearch::Active and Frontend::ToolBarModule###250-Ticket::Elasti

[2021-03-07 14:05] micha2021 opened #852 "Docker: Backup after Migration from OTRS 6.0 fails"
Hi.

Before the migration from OTRS 6 to OTOBO 10.0.9, I created several backups using this command:
`/bin/docker run -it --rm --volume otobo_opt_otobo:/opt/otobo --volume otobo_backup:/otobo_backup --network otobo_default rotheross/otobo:latest scripts/backup.pl --max-allowed-packet 67108864 -r 10 -d /otobo_backup`

Everything went fine.
After the migration, the backup with the same command does

[2021-03-08 07:05] svenoe commented on #842
Hi Olli,

Stefan told me, you discussed this as well as #843 and that he will plan things with another party, so that the whole process tickets on the customer interface will be taken care of. (Just to show some reaction here. :)

Best regards, Sven

[2021-03-08 14:03] micha2021 opened #853 "Docker: GenericInterface TicketCreate - uninitialized value in pattern match"
Hi!
Using the GenericInterface to create Tickets, i get this warning message:
`plackup: Use of uninitialized value in pattern match (m//) at /opt/otobo/bin/psgi-bin/../../Kernel/GenericInterface/Operation/Ticket/TicketCreate.pm line 1472.`

If I remember well, this issue was a general issue in OTRS as well.

This is the incoming data before mapping in the SOAP array for the article:
[code]

Regard

[2021-03-08 15:19] svenoe opened #854 "Run CodePolicy on pull requests."
Implement a github action to run CodePolicy. We should start to generally develop on branches and use this, too.

[2021-03-08 15:28] #854 closed, assigned to svenoe

[2021-03-08 17:53] bschmalhofer opened #856 "Github action: run the compile action only for the changed files"
The CodePolicy has a Perl compile check that is a bit too lax. The use lines are stripped, which means that erronous or missing dependencies are not flagged. So it is propably a good idea to keep the compile action. But is is annoying that this action takes a long time. So let's run it only on the changed files. The way to do that can be taken from #854.

[2021-03-08 19:19] bschmalhofer commented on #856
Not sure why this is so complicated. This needs some fiddling.

[2021-03-09 05:19] StefanRother-OTOBO opened #858 "Elasticsearch license"
Hi,

The Elasticsearch licence has been changed, now new information is also available on the homepage. We need to clarify whether we use Elasticsearch modules that are subject to a fee and whether we need to react here. If you are unclear, please contact Elasticsearch directly. Maybe switch to a fork in the future?

Thanks,

Stefan

[2021-03-09 20:30] bschmalhofer commented on #856
Quite sensibly prove is taking a list of scripts as arguments. Use _::_ for passing arguments to the scripts. See https://squareperl.com/en/how-to-pass-arguments-to-perl-test-running-with-prove.

[2021-03-09 21:02] bschmalhofer commented on #856
Checking the changes files only seems to work now. But setting up the container still takes about 1m. Can this be improved upon?

[2021-03-09 21:51] bschmalhofer commented on #682
Fixed scripts/test/Selenium/Agent/AgentTicketProcessAttachment.t
37 Selenium failures in the last run.

[2021-03-10 00:03] micha2021 opened #861 "OTOBO Scheduler Daemon SystemConfigurationSyncManager: ConfigurationDeploySync"
Confused about this:
What happens?
[code]

`Message: There are invalid deployments in the database that could not be removed!`

Here are the last lines of the log:
se of uninitialized value $CleanupSuccess in numeric ne (!=) at
/opt/otobo/Kernel/System/SysConfig.pm line 3759.
ERROR: OTOBO-otobo.Daemon.pl - Daemon
Kernel::System::Daemon::DaemonModules::SystemConfigurationSyncManager-31 Perl: 5.32.0

[2021-03-10 18:16] bschmalhofer opened #862 "Selenium Testing: no warning when subject is empty"
This happens in scripts/test/Selenium/Agent/AgentTicketCompose.t.
The tests expects a warning about an empty subject, but that message is not visible. It is not obvious what the correct behavior ist.
The test dies when the message is not seen.
The expected message is:

 `       my $Message = 'Article subject will be empty if the subject contains only the ticket hook!';`

Marking the failure as TOD

[2021-03-16 09:30] StefanRother-OTOBO opened #867 "Config Option Frontend::Navigation###ExternalURLJump###1 not possible to change"
Hi,

I can't activate Frontend::Navigation###ExternalURLJump###1, cause missing description.

Thanks,

Stefan

[2021-03-16 16:00] bschmalhofer opened #868 "Kernel::System::UnitTest::Selenium should extend Test::Selenium::Remote::Driver"
Currently Kernel::System::UnitTest::Selenium extends Selenium::Remote::Driver. Test::Selenium::Remote::Driver extends Selenium::Remote::Driver and adds testing methods. Thus switching the base class gives  nifty testing methods to Kernel::System::UnitTest::Selenium for free.
No additional dependencies have to be added. My hunch is that the setup of the WebElement class should work out of the box.

[2021-03-16 17:36] bschmalhofer commented on #868
Not as easy as expected. There was an error stating that the remote driver does not support javascript. Strange.

[2021-03-17 02:30] micha2021 commented on #852
Hi!

I think, iI found the reason.
After the migration in sysconfig "`Ticket::Article::Backend::MIMEBase::ArticleDataDir`" was `<OTRS_CONFIG_Home>/var/article`. I guess, this should be `<OTOBO_CONFIG_Home>/var/article`. Funny thing: I changed it to `OTOBO...` but could not deploy it. Had to change it to `ANYTHING...` and then to `OTOBO...` Another issue?

Regards,
Michael

[2021-03-17 02:35] micha2021 opened #870 "bin/otobo.Console.pl Admin::Article::StorageSwitch --target ArticleStorageDB does not delete directories"
Hi!

Playing around with the switch between the allowed values in `Ticket::Article::Backend::MIMEBase::ArticleStorage` I noticed, that if you go  back from `ArticleStorageFS` to `ArticleStorageDB` the script `bin/otobo.Console.pl Admin::Article::StorageSwitch --target ArticleStorageDB` does not delete the directories in `var/article`, but only the files.

I think, the scipt should delete also all

[2021-03-17 03:22] micha2021 opened #871 "Backup: /var/article in Application.tar.gz"
Hi!

For testing, I switched to ArticleStorageFS.

In the backup, the articles - with the standard configuration of Ticket::Article::Backend::MIMEBase::ArticleDataDir - end up in the file "Apllication.tar.gz". In that file, you can find the configuration, the Kernel, bins, Customer settings, documentation and so on.

I think, the "var" directory should go into a separate file. The backup of "**app

[2021-03-17 11:21] svenoe commented on #871
Hi Micha,

thanks for your contribution. We are quite busy with a lot of stuff, at the moment, so no one answered so far, to your older issues, as well. I will quickly go through them.

This suggestion could be incorporated, I guess, but the priority for this is really low, from my standpoint. For most use cases there is no real benefit, I guess...

I will put this to our enhancement suggestions a

[2021-03-17 11:21] #871 closed, assigned to nobody

[2021-03-17 11:25] svenoe commented on #870
Hi again,

honestly I don't know why the directory is left untouched. It probably could be changed, but people won't switch between both backends very often, if at all, and the directory doesn't break anything, I guess. At the moment this has too low priority, I guess.

Best regards, Sven

[2021-03-17 11:25] #870 closed, assigned to nobody

[2021-03-17 11:32] svenoe commented on #861
Hi Michael,

please visit our [forums](https://otobo.de/en/forums/otobo/otobo-forum/) for questions like this, or contact us directly at hello@otobo.de for professional support requests. Please describe what you did to end up in that state, if you do. You could investigate this further via `bin/otobo.Console.pl Admin::Config::ListInvalid` in the meantime.

Best regards, Sven

[2021-03-17 11:32] #861 closed, assigned to nobody

[2021-03-17 11:48] svenoe commented on #853
Hi Michael,

could you download this file https://github.com/RotherOSS/otobo/blob/4aebc9d9d137789de238f2844f70671b635ace3c/Kernel/GenericInterface/Operation/Ticket/TicketCreate.pm (right click on "raw" and "save target as"), replace your Kernel/GenericInterface/Operation/Ticket/TicketCreate.pm and see if the problem persists? This should only be a warning in the first place, though, but the above

[2021-03-17 11:57] svenoe commented on #848
Hi Michael,

this for standard configurations works. Please post this on our forums for advice. Maybe you have to run bin/otobo.Console.pl Maint::Elasticsearch::Migration, but this is just a quick guess.

Best regards, Sven

[2021-03-17 11:57] #848 closed, assigned to nobody

[2021-03-17 12:04] svenoe commented on #847
Hi Michael,

thanks, this belongs to the documentation, though. I opened the issue here: https://github.com/RotherOSS/doc-otobo-installation/issues/63

Best regards, Sven

[2021-03-17 12:04] #847 closed, assigned to nobody

[2021-03-17 21:07] bschmalhofer commented on #868
Tests look fine after setting the option `javascript` explicitly to 1. Closing this issue. See also https://github.com/teodesian/Selenium-Remote-Driver/pull/466.

[2021-03-17 21:07] #868 closed, assigned to bschmalhofer

[2021-03-18 09:07] svenoe opened #873 "Fix OTRS oracle to OTOBO oracle migration."
The biggest issue here is, that table names seems to be uppercase, although OTRS and OTOBO lc them everywhere. It works for normal usage, as the table_name in a "SELECT x,y FROM table_name;" is handled case insensitive, but for commands which handle the tables itself "WHERE ...='table_name'" it fails.

Also some "needed" arguments are wrong for oracle, in the setup.

[2021-03-18 17:31] bschmalhofer commented on #867
Adding the value in Framework.xml did the trick for a new installation. Installation pre 10.0.10 can upgrade if they want to avoid this effect. Manually editing Framework.xml and running bin/otobo.Console.pl Maint::Config::Rebuild should work too.
Closing this issue.

[2021-03-18 17:31] #867 closed, assigned to bschmalhofer

[2021-03-19 01:05] micha2021 commented on #853
Hi @svenoe

Danke für Deine prompte Hilfe.

Ich habe die Datei in den Docker Mount Point in das Verzeichnis Custom/Kernel/GenericInterface/Operation/Ticket hochgeladen. Der Fehler tritt nicht mehr auf! Perfekt. Test erfolgreich durchgeführt.

Ich denke, ich stelle die TicketCreate.pm jetzt in das Kernel-Verzeichnis (ohne Custom/), da sie wahrscheinlich dann in 10.0.10 ausgeliefert/überschrieben we

[2021-03-19 01:05] #853 closed, assigned to svenoe

[2021-03-19 07:18] svenoe commented on #853
Korrekt. :)

Danke dir, für die Bestätigung.

[2021-03-20 10:27] bschmalhofer opened #876 "Docker: screen should start a bash session"
Whenn logging into a otobo_web_1 container with `docker exec -it otobo_web_1 bash` one gets into bash. Running **screen** gives you _/bin/sh_.  I would have expected _/bin/bash_ . as $SHELL is _/bin/bash_ . There is no _/opt/otobo/.screenrc_ and no obvious setting in _/etc/screenrc_ . **screen -s /bin/bash** works fine.
Adding _/opt/otobo/.screenrc_ with "shell /bin/bash" should do the trich, but

[2021-03-20 15:27] bschmalhofer commented on #789
When discussing this we should not forget ZZZACL.pm and ZZZProcessManagement.pm

[2021-03-20 16:04] bschmalhofer commented on #789
I have looked at the source code of Module::Refresh::refresh_module_if_modified(), https://metacpan.org/release/Module-Refresh/source/lib/Module/Refresh.pm. The modules are not reloaded when they were not in the cache in the first time. I suppose that's the root cause of the problems. So, let's investigate where these _*.pm_ files are loaded and how to guarantee that they are reloaded.

[2021-03-21 14:30] StefanRother-OTOBO opened #878 "Admin -> ACL -> CustomerTicketMessage missing in ACLKeysLevel3"
Hi,

When I create or edit an ACL, the default value "CustomerTicketMessage" is missing.
Please add it to: ACLKeysLevel3::Actions###100-Default

Thanks!

Stefan

[2021-03-23 09:17] bschmalhofer commented on #873
See some notes regarding Oracle and OTOBO at https://github.com/bschmalhofer/otobo-ideas/blob/master/oracle.md.

[2021-03-23 11:30] bschmalhofer opened #880 "Docker: problem building the otobo-web image"
After moving /var/lib/docker to a new partition I had problems building the OTOBO web image locally. The build on hub.docker.com, https://hub.docker.com/repository/registry-1.docker.io/rotheross/otobo/builds/6cd0db39-8b49-470a-b44b-d9f13230fa53, looks fine.

bes:~/devel/OTOBO/otobo (issue-#873-oracle_migration)$ bin/docker/build_docker_images.sh
Sending build context to Docker daemon  193.3MB
Step

[2021-03-23 15:13] bschmalhofer commented on #873
Everything looks find after `docker system prune -a`and restarting from scratch. Let's assume that this is some strange effect that came from moving _/var/lib/docker_. Discarding this issue.

[2021-03-23 15:28] bschmalhofer commented on #681
@StefanRother-OTOBO  As far as I see, the directory _Kernel/Config/Files/User_ is used in _Kernel/System/Web/InterfaceAgent.pm_ and in _Kernel/System/SysConfig/Base/OTOBOCommunity.pm_ . So is this, whatever it is, still supported in OTOBO ? Or is it an OTRS Business feature?  In the latter case, I would remove it for the 10.1 release.

[2021-03-24 08:44] OlliW opened #882 "migration.pl ignores OTRS Tags in ProcessTransitionAction"
after the migration, in the ProcessTransitionAction the OTRS Tags was not migrated to OTOBO Tags

[2021-03-24 08:46] OlliW opened #883 "migration.pl ignores OTRS Tags in the ITSM ChangeManagement Notification"
migration.pl ignores OTRS Tags in the ITSM ChangeManagement Notification

[2021-03-24 09:12] OlliW opened #884 "backup.pl fails when source db is mysql 5.7 and destination db is mysql 8.0"
then i have to set the parameter column-statistics

![image](https://user-images.githubusercontent.com/80096822/112284363-72d67e80-8c89-11eb-8971-42a4607d4e75.png)

`mysqldump` --column-statistics=0

[2021-03-24 12:49] bschmalhofer commented on #681
@StefanRother-OTOBO  clarified that user configs in  _Kernel/Config/Files/User_ is a rarely used, but potentially useful, feature. It won't be removed. Still, I think that moving the code into a module like _Kernel/System/SysConfig/UserSpecificSettings.pm_ would be a good idea.
Note that support for user specific config is not implemented in `Kernel::Config` but in `Kernel::System::Web::InterfaceA

[2021-03-24 12:52] bschmalhofer commented on #873
Oops, looks like I closed the wrong issue. Reopening.

[2021-03-24 13:09] bschmalhofer commented on #873
After some fiddling I got one OTRS and one OTOBO up and running with Oracle. Now, testing migration.pl, I was flabbergasted again. Under both OTRS and OTOBO the default DSN configuration in Config.pm looks like

`$Self->{'DatabaseDSN'} = "DBI:Oracle://$Self->{DatabaseHost}:1521/$Self->{Database}";`

This is a nice EZCONNECT connection string. But the migration wants to use a DSN like

`$Param{OTRS

[2021-03-24 15:11] bschmalhofer commented on #873
I checked when the quoting of table names was introduced. It's a blast from the recent past. Quoting was introduced as a fix for _groups_ no longer being a valid table name. But as quoting really interferes on Oracle, I will roll that back. See also #639.

Looks like there are only two relevant instances where groups must be quoted. The other instances are related to the batch migration, which was

[2021-03-24 17:01] bschmalhofer commented on #873
Current stumbling blcok:
` Message: ORA-02266: unique/primary keys in table referenced by enabled foreign keys (DBD ERROR: error possibly near <*> indicator at char 15 in 'TRUNCATE TABLE <*>article'), SQL: 'TRUNCATE TABLE article'

This is bad, as there is no global setting in Oracle, that disables foreign key checks. How could that ever have worked? The best bet might be to make a complete copy o

[2021-03-25 09:30] bschmalhofer commented on #884
Hi @OlliW ,

it looks like the problem is that on some versions of mysqldump the column-statistics feature is turned on by default. And on some versions of mysqldump this leads to an error when the table information_schema.COLUMN_STATISTICS does not exist. Under MySQL 5.7 this table usually does not exists.

As this is an effect that occurs only under specific circumstances I'm hesitant to add `--

[2021-03-25 11:15] bschmalhofer commented on #884
Hi @OlliW ,

I adapted scripts/backup.pl in the branch https://github.com/RotherOSS/otobo/tree/issue-%23884-no_column_statistics . The plan is to integrate this into OTOBO 10.0.10, but we need to test first.

Best regards,
   Bernhard

[2021-03-26 12:34] bschmalhofer commented on #883
Hi @OlliW,

first a question because I'm not really familiar with upgrading and migrating the ITSM package. How did you transfer the ITSM related data from OTRS to OTOBO? I think that migration instructions for ITSM is missing in https://doc.otobo.org/manual/installation/stable/en/content/ and that the ITSM tables are not handled in migration.pl.

When the ITSM tables are available then a quick fi

[2021-03-27 09:28] bschmalhofer commented on #873
There are some dependencies between the table that should not be migrated. But TRUNCATE should be possible when adhering to this order:
- cloud_service_config
- communication_log_obj_lookup
- communication_log_object_entry
- communication_log_object
- communication_log
- gi_debugger_entry_content
- gi_debugger_entry
- package_repository
- process_id
- scheduler_recurrent_task
- sessions
- system_d

[2021-03-27 10:56] bschmalhofer opened #886 "PSGI: provide easy way for activating access logs"
In _entrypoint.sh_ the following command is declared as the webserver start command:

  `plackup --server Gazelle --env deployment --port 5000 bin/psgi-bin/otobo.psgi
`

The environment is 'deployment' which means that per default no access log is written. See https://metacpan.org/pod/distribution/Plack/script/plackup#ARGUMENTS. Access logs can be activated by adding the middleware `Plack::Middlew

[2021-03-27 11:07] bschmalhofer commented on #880
`docker system prune -a` fixed the problem. Closing this issue.

[2021-03-27 11:07] #880 closed, assigned to bschmalhofer

[2021-03-27 11:18] bschmalhofer commented on #876
Found no good solution, so I'll add a _~otobo/.screenrc_ file. At least other people had the same problem: https://askubuntu.com/questions/721092/default-environment-for-screen-is-bin-sh-when-it-should-be-bin-bash.

[2021-03-27 11:32] bschmalhofer commented on #876
Adding .screenrc did the trick. Closing this issue.

[2021-03-27 11:32] #876 closed, assigned to nobody

[2021-03-28 12:25] bschmalhofer opened #888 "CustomerInterface: layout of CustomerPreferences"
When looking at the failure in _scripts/test/Selenium/Customer/CustomerPreferences.t_ I noticed that the preferences page looks funnny in Chrome.

![remmina_localhost_localhost_2021328-121848,700213](https://user-images.githubusercontent.com/46019/112751995-0fbe5200-8fd1-11eb-9ac6-2b3724c0cc67.png)

I haven't checked other browsers.

[2021-03-28 12:41] bschmalhofer commented on #888
Ah, #693 says that this frontend module is not really implemented yet. Closing this issue as a duplicate.

[2021-03-28 12:41] #888 closed, assigned to nobody

[2021-03-28 13:59] bschmalhofer commented on #693
When CustomerPreferences is enabled, then the following test scripts should be reactivated too:

- [x] scripts/test/Selenium/Customer/CustomerPreferences.t
- [x] scripts/test/Selenium/Output/Preferences/Customer/Language.t
- [x] scripts/test/Selenium/Output/Preferences/Customer/Password.t
- [x] scripts/test/Selenium/Output/Preferences/Customer/TimeZone.t

[2021-03-28 22:19] micha2021 opened #891 "Migration OTRS -> OTOBO: Postmaster-Filter"
Hi!
After migration from OTRS 6 to OTOBO 10.0.9 all the Postmaster Filters are corrupt.

The original entries X-OTRS.... have not been migrated to X-OTOBO..... The values are still there but the X-entries have been replaced by space.

Regards,
Michael

[2021-03-28 22:32] micha2021 opened #892 "Docker Migration OTRS -> OTOBO: Templates"
Hi,

this is a notification email after the migration:

[code]

The templates should be converted to OTOBO_...

Regards,
Michael

[2021-03-29 07:43] svenoe commented on #891
Hi Micha,

Could you please check in your OTRS system, whether you have changed the SysConfig option "PostmasterX-Header"? If so, on your OTOBO system please first reset this exact option to its default and check whether this fixes your problem, and then reintroduce your changes from the OTRS-system to the OTOBO system by hand for now, if it helped.

Regards, Sven

[2021-03-29 10:14] bschmalhofer commented on #544
Reopening the issue because scripts/test/Selenium/Agent/AgentTicketPhone/CustomerAutoCompletion.t needs to be adapted.

[2021-03-29 10:56] bschmalhofer commented on #544
_CustomerAutoCompletion.t_ looks fine now. Closing this issue again.

[2021-03-29 12:49] imadevel opened #894 "Elastic Search after Migration from OTRS"
Hi,
someone seemes to had a similar problem like me.
https://github.com/RotherOSS/otobo/issues/765
But since it is closed and my system does not seem to have elastic search after migration I ask the question.
It is a docker installation. The first test installation had elastic search. After I did the migration that took quite some time I can not see elastic search
As in the other Issue I enabled e

[2021-03-29 12:57] svenoe commented on #894
Hi imadevel,

the Elasticsearch activation is currently not yet done automatically after the migration. Please use our forums for general questions like this: https://otobo.de/en/forums/otobo/otobo-forum/

Best regards, Sven

[2021-03-29 12:57] #894 closed, assigned to nobody

[2021-03-30 08:36] bschmalhofer commented on #873
Discussed the TODO list with @svenoe . There is no need to meddle with installer.pl. The recommended sequence for Oracle -> Oracle migration is:

1. Install a fresh OTRS system with installer.pl
2. Remove the otobo schema
3. Copy the otrs schema to the new otobo schema
4. Run the database update scripts
5. Run migration.pl

The very first step is to turn the lookup hashref DBSkipTables() into an o

[2021-03-31 14:17] bschmalhofer commented on #873
The first dummy migration has completed. However the documentation is still lacking. Next step is to test the process with real data.

[2021-04-01 17:43] bschmalhofer commented on #836
This is a bit related to #873, therefore try to pull in some of the changes before applying the changes for #873. First feature is removal of support for batch inserts. This was deactivated anyways. Second feature is declaring the skipped tables as an array.

[2021-04-01 18:25] bschmalhofer commented on #836
Changes are merged, but PostgreSQL migration still needs to be tested.

[2021-04-02 08:52] bschmalhofer opened #899 "Selection of CustomerID when creating a process ticket"
When `Ticket::Frontend::AgentTicketProcess::CustomerIDReadOnly` is on, then the input field 'Customer ID* is deactivated.
For consistencies sake that input field should not be shown at all. Just like with Emain- and Phone-Tickets. See #544.

![remmina_localhost_localhost_202142-84559,196880](https://user-images.githubusercontent.com/46019/113399762-094d2300-93a1-11eb-9214-7ea63937ad43.png)

[2021-04-02 15:10] bschmalhofer opened #902 "Don't use object manager for Kernel::System::UnitTest::Selenium"
There is no apparent benefit of loading `Kernel::System::UnitTest::Selenium` via `Kernel::ObjectManager`. On the other hand, this approach does muddy the water. Let's try to simplify.

[2021-04-02 17:29] #398 closed, assigned to nobody

[2021-04-02 17:29] joserribeiro26 commented on #398
This works normally for me now.

[2021-04-03 15:09] bschmalhofer commented on #902
Kernel::System::UnitTest::Selenium is no longer managed by the ObjectManager.
Simplified Kernel::System::RegisterDriver and consistently use it.
Test suite looks fine. Closing this issue.

[2021-04-03 15:09] #902 closed, assigned to bschmalhofer

[2021-04-03 15:11] bschmalhofer commented on #682
In the meantime there was more grinding away at the Selenium tests. Some simplification was done by #902. Down to 29 failing, and not TODO, test scripts.

[2021-04-03 16:10] bschmalhofer opened #907 "SeleniumTesting: Attachment not shown in CustomerTicketAttachment.t"
The attachment tests in _scripts/test/Selenium/Customer/CustomerTicketAttachment.t_ are currently set to TODO. It looks like the attachment is not shown in the customer interface. The cause is not known yet.

![remmina_localhost_localhost_202143-16951,476342](https://user-images.githubusercontent.com/46019/113484301-d6da1d80-94a7-11eb-8280-297479c731c8.png)

[2021-04-05 09:37] bschmalhofer opened #909 "Selenium Testing: no error message when calling an unknown JS function"
The test script _scripts/test/Selenium/Customer/Ajax/ErrorHandling.t_ is broken. When calling an unknown JS function no error message is shown. For now the test script is skipped.

[2021-04-05 14:35] bschmalhofer commented on #682
Some more grinding, now down to 25 test script with failures, not considering TODO and SKIP.

[2021-04-06 13:28] bschmalhofer commented on #682
Some strangeness when setting the ProcessID, failures up the 26.

[2021-04-06 13:29] svenoe opened #913 "Github Actions: Combine prove and CodePolicy?"
For CodePolicy I was not aware, that basically all cpan dependencies of the tested files will have to be installed (see https://github.com/RotherOSS/otobo/runs/2248680414?check_suite_focus=true). For resource efficiency I propose to do both tasks in one github action. We can just install CodePolicy in the docker-otobo of the prove action and run it there.

For the same reason I propose to run this

[2021-04-07 09:00] bschmalhofer commented on #913
I'm not too happy with using the otobo-docker image for compile checking and for the CodePolicy, even though this was the easiest way when I wrote the prove action. A better way might be to create create an artefact with all the CPAN dependencies and copy that into the standard image. Alternatively we could create a slim image for testing that is the standard image plus the CPAN dependencies.

[2021-04-08 06:48] svenoe commented on #917
Hi Christian,

I cannot confirm this. I assume you have not tampered with the TicketManagement invoker settings in the Elasticsearch webservice, so maybe you changed your search settings and didn't put in the title?

<img width="399" alt="Bildschirmfoto 2021-04-08 um 08 40 25" src="https://user-images.githubusercontent.com/48322755/113980543-e8744a00-9846-11eb-863c-ff09d8be160c.png">

Also we have

[2021-04-08 06:48] #917 closed, assigned to nobody

[2021-04-08 12:50] bschmalhofer commented on #843
I can confirm that, seen in Selenium test script  _scripts/test/Selenium/Customer/CustomerTicketProcess.t_