[2021-10-18 14:59] bschmalhofer commented on #1301
I think that the referenced issue #907 is not related to this issue. Issue 907 was, if I recall correctly, about changed layout in the customer interface, which derailed the Selenium test scripts.

[2021-10-18 17:52] svenoe commented on #1301
Ok, @remyd1 - to me this looks more like a support problem now, especially if you have some non standard apache configurations and so. Also it worked for @possebon.

Github is really only to coordinate the development, we do not have the ressources to help with configuration problems, here, at the moment, so I will close this issue and ask you try to get help in the forums again, or contact us dir

[2021-10-18 17:52] #1301 closed, assigned to nobody

[2021-10-19 07:58] bschmalhofer opened #1331 "Do not allow ZZZACL.pm in packages"
In _Kernel/System/Package.pm_ there is the following blacklist:

[code]

Is there a reason that _Kernel/Config/Files/ZZZACL.pm_ is not included in that list?

[2021-10-19 09:10] bschmalhofer commented on #44
Looks like there was a problem with the spelling in the branch name that contained the changes for this issue. The relevant commits ended up in #41 .

[2021-10-19 09:25] bschmalhofer opened #1332 "Daemon: no longer check for changed file Kernel/Config/ZZZAuto.pm"
The file ZZZAuto.pm has not been used since the release of OTRS 6. Thus there is no need for the daemon to check for changes in that files. The only relevant files in _Kernel/Config/Files_ are:
- ZZZAAuto.pm
- ZZZACL.pm
- ZZZProcessManagemenz.pm

TODO:

- [x] remove Linux::Inotify2 watch on_ ZZZAuto,pm_
- [x] document why the file watcher make some kind of sense

[2021-10-19 14:18] StefanAbel-OTOBO opened #1333 "Translating ticket types does not work"
When creating a Custom Translation file and you enter your source language of your type names, they are not translated in the type dropdown, e.g. in AgentTicketPhone
<img width="468" alt="image" src="https://user-images.githubusercontent.com/87359203/137928796-c2d9103f-a7c8-465b-90a5-3892ee1efd11.png">

<img width="499" alt="image" src="https://user-images.githubusercontent.com/87359203/137928879-

[2021-10-19 14:28] StefanAbel-OTOBO opened #1334 "DynamicField MasterSlave missing in AgentTicketMasterSlave and AgentTicketBulk"
After installing the Feature MasterSlave, a new action is added: AgentTicketMasterSlave
But: here the new dynamic field MasterSlave is missing.
In my opinion it should be there by default - as the new action usually has no other purpose.

![image](https://user-images.githubusercontent.com/87359203/137931001-f291e47c-8271-4b34-800f-0ddc053a9eec.png)

Also in my opinion it also should be there in Ag

[2021-10-19 14:33] StefanAbel-OTOBO opened #1335 "Two "AgentTicketSearch" in Action=AdminDynamicFieldScreen;Subaction=Edit"
In Dynamic Field <-> Screens, when assigning a DynamicField to the different screens, you can see the action AgentTicketSearch twice, instead of only once:
![image](https://user-images.githubusercontent.com/87359203/137931933-f223041d-cc89-4ef0-a8aa-72efd80d898c.png)

In the screenshot, the filter was only used for having a better overview.

Tested in OTOBO 10.0.13 (ov48)

[2021-10-19 14:42] StefanAbel-OTOBO opened #1336 "StateDefault should be defined by StateType in SystemConfiguration"
In Ticket::Frontend::AgentTicketPhone###StateDefault you have a dropdown of all valid states in your system.

![image](https://user-images.githubusercontent.com/87359203/137933543-cd9f1c37-4dd0-4741-85f0-ec9ceada6528.png)

In my opinion you should only have the states avalaible that are possible in that screen, as defined in Ticket::Frontend::AgentTicketPhone###StateType

![image](https://user-ima

[2021-10-19 14:53] StefanAbel-OTOBO opened #1337 "DF RegEx Error Message not visible in CustomerTicketMessage"
When defining a RegEx for a DynamicField in CustomerTicketMessage, you don't see the defined Error Message, when trying to create the ticket:
![image](https://user-images.githubusercontent.com/87359203/137935368-3ee01bda-caab-4181-b5a2-8716a136f1f9.png)

After clicking OK:
![image](https://user-images.githubusercontent.com/87359203/137935408-0f721a7b-b949-43b6-912d-7d090a97936c.png)

This is the d

[2021-10-19 15:04] StefanAbel-OTOBO opened #1339 "Changing a parent queue also changed Changed Date for sub-queue"
When changing something in a parent queue (), you see in Action=AdminQueue that the sub queue has also been updated - at least the Changed Date adjusts accordingly to the parent Changed Date.

Before you can see the Changed Date 17:00 for Misc::sub:
![image](https://user-images.githubusercontent.com/87359203/137937555-3d2e8287-06d5-4d24-88df-92b811e025ef.png)

After changing something in the paren

[2021-10-19 15:11] StefanAbel-OTOBO opened #1340 "Out of Office text (and date) not translated to different languages"
When activating the out of office time, it is not translated to e.g. German in the Owner fields.

Set up out of office time:
![image](https://user-images.githubusercontent.com/87359203/137938718-72985ed2-7e76-48a8-bcba-42fb25f76c48.png)

Displayed in Owner field (e.g. in Action=AgentTicketPhone) in German language, but with English text and date format:
![image](https://user-images.githubuserconte

[2021-10-19 15:30] bschmalhofer commented on #1295
Some more work:

-  Added writing of the ZZZACL.pm and ZZZProcessManagement.pm to S3
- Eliminate use of `aws s3 sync`
- Parse XML with `Mojo::DOM`
- Generate XML with `Mojo::DOM`

[2021-10-19 19:07] bschmalhofer commented on #1295
Test suite looks better after the latest changes:

Looks like a layout issue. The two expected attachments are shown anyways.

[2021-10-20 07:37] bschmalhofer commented on #1295
Another thing to do:

- [x] Collect the code into an system module like e.g. `Kernel::System::Storage::S3'.

[2021-10-20 07:48] bschmalhofer commented on #1320
For the progress see also #1295.

Another thing to do:

- [x] Collect the code into an system module like e.g. `Kernel::System::Storage::S3'.

This can be done in the branch for this issue, and then, in #1295, the module ArticleStorageFS can be migrated to the new module.

[2021-10-20 09:43] StefanAbel-OTOBO opened #1341 ""This feature is currently not available." when adding a calendar appointment."
When adding a new appointment to any calendar, you still see the rest of an "advertisement" for the OTRS Feature AddOn "Calendar Resource Planning":

Resource
This feature is currently not available.

![image](https://user-images.githubusercontent.com/87359203/138069443-c9fb01d8-0168-458b-8ef3-f74ce3e28038.png)

Either we should implement a resource planning to fill that gap or we should remove th

[2021-10-20 09:58] bschmalhofer commented on #1325
A bit unrelated is a potential problem with writing files in the Loader. The writing of the loader files is not atomic. This means that another another process might detect the existence of the file, and the client might request it before it is completely written. In practice the timing is likely such that problems never occurs.

[2021-10-20 09:58] bschmalhofer opened #1342 "Loader: Atomic write of files"
A bit unrelated is a potential problem with writing files in the Loader. The writing of the loader files is not atomic. This means that another another process might detect the existence of the file, and the client might request it before it is completely written. In practice the timing is likely such that problems never occurs.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/

[2021-10-20 16:47] bschmalhofer commented on #1325
Ok, writing the loader files into S3 should be no problem. This is implemented but not tested yet. Using `Plack::App::URL` with an AWS signature might be difficult. If the proxy is messing with the headers, than I would guess that the signature is invalidated. So lets do it the less ambitious was. Get the AWS content in the usual non-streaming way.
Maybe we can use later the Mojo transaction in a

[2021-10-21 12:47] bschmalhofer opened #1349 "CodePolicy for OTOBO 10.0.14"
Just some adaptions for satisfying the code policy.

[2021-10-22 06:51] svenoe commented on #1132
Branch merged, the js still needs to be looked at, though, e.g. moving of the labels should not be necessary anymore.

[2021-10-22 08:13] bschmalhofer commented on #1332
No longer check for ZZZAuto.pm. Add note that the whole check might be useless anyways. Closing this issue.

[2021-10-22 08:13] #1332 closed, assigned to bschmalhofer

[2021-10-22 08:31] bschmalhofer commented on #1331
Saw no reason for allowing ZZZACL.pm. Added the check. Closing this issue.

[2021-10-22 08:31] #1331 closed, assigned to bschmalhofer

[2021-10-22 09:46] bschmalhofer commented on #1325
TODO:

- [ ] make Kernel::System::Loader::CacheDelete() handle the S3 case

[2021-10-22 10:05] bschmalhofer commented on #1320
TODO:

- [x] the deployments should only write their files into S3, not additionally into the file system, see #1148

[2021-10-22 13:02] svenoe opened #1354 "Add Tooltips for the CustomerInterface"
Add Tooltips for the CustomerInterface.

[2021-10-22 14:01] bschmalhofer opened #1356 "No longer require Plack::Middleware::Rewrite"
As far as I recall, Plack::Middleware::Rewrite was never used in the _otobo.psgi_ of a released version of OTOBO. It certainly is not neeeded for OTOBO 10.0.14. Get rid of the dependency.

[2021-10-22 14:06] bschmalhofer commented on #1356
Removed the dependency. Closing this issue.

[2021-10-22 14:06] #1356 closed, assigned to bschmalhofer

[2021-10-22 18:20] bschmalhofer commented on #1320
Ah well, simply downloading from S3 is problematic. There are different processes reading these files. This means that creation must be atomic and that probably write access must be synchronised.

[2021-10-23 14:59] bschmalhofer commented on #1320
After some fixes we are down to just a few failures in the test suite:

[2021-10-25 06:27] svenoe commented on #27
We will completely remove the code from otobo.psgi.

[2021-10-25 07:42] bschmalhofer commented on #1327
Note that a similar feature is implemented in the method `Run()` in _Kernel/System/Daemon/DaemonModules/SystemConfigurationSyncManager,pm_ .

[2021-10-25 10:53] StefanRother-OTOBO opened #1359 "Wrong error message"
We need to change a error message from http://bugs.otobo.org to https://github.com/RotherOSS/otobo/issues/

[2021-10-25 10:55] #1359 closed, assigned to StefanRother-OTOBO

[2021-10-25 12:20] svenoe commented on #27
Removed in 566d8c42bafa9a66f7ec0166177712e44ad61ffc

[2021-10-26 08:01] bschmalhofer commented on #1132
@stefanhaerter Lately I got some unit test errors that might be related to dynamic field rendering. Could you check that?

[2021-10-26 09:14] bschmalhofer opened #1362 "S3 support: add watchdog loops that reinstall OTOBO packages"
### The Problem

Currently neither the web server nor the daemon check for added, updated or removed packages. So far this was not necessary, as even in a cluster environment there was a shared file system. The daemon checks for updated files implicitly, as it restarts the worker processes when changed _ZZZ*.pm_ are detected. The web server uses Module::Refresh for checking whether Perl modules ha

[2021-10-27 08:55] bschmalhofer commented on #27
Now also skip the unit tests that relied on rpc.pl.

[2021-10-27 09:25] bschmalhofer opened #1364 "Kernel::System::Package: remove compatability to OTRS 2.2"
There is still some support for OTRS 2.2 style packages in _Kernel/System/Package.pm_. I think that this is no longer needed.

[2021-10-28 09:59] bschmalhofer opened #1365 "Remove deprecated script otobo.PostMaster.pl"
The script is documented as:

If the script should be kept, then the deprecation warning should be rephrased,

[2021-10-28 13:03] svenoe commented on #1364
Can be removed. We don't offer full compatibility to OTRS packages, even though some work out of the box, more or less. 2.2 is so old, that having a look at them is a good idea anyways, probably...

[2021-10-28 13:04] svenoe commented on #1365
Can be removed - have fun with your favorite activity... ;)
(Thanks :) )

[2021-10-28 13:33] bschmalhofer commented on #1365
Done, with a limited amount of -Ofun.

[2021-10-28 13:33] #1365 closed, assigned to bschmalhofer

[2021-10-28 13:36] bschmalhofer commented on #1364
Can be done after the current changes for #1362 are merged.

[2021-10-28 13:50] bschmalhofer commented on #1362
First versions of `Plack::Loader::SyncWithS3` and `Kernel::System::Daemon::DaemonModules::SyncWithS3` are implemented and they seem to work in simple use cases.

[2021-10-28 14:38] svenoe commented on #1132
Please have a look at the normal text field, again, Stefan. I'm not 100% certain it came with the refactoring here, but it suddenly is a textarea instead of a normal input field, and here would be my first place to suspect... ;)

[2021-10-28 15:24] svenoe commented on #1354
Done

[2021-10-28 15:24] #1354 closed, assigned to svenoe

[2021-10-28 15:27] svenoe opened #1368 "Beautify special dynamic fields for the customer interface."
Have a look at all dynamic fields. Especially DB needs an overhaul, also with the addition of tooltips (#1354). Wait for #1132 to finish, though.

[2021-10-29 09:22] bschmalhofer commented on #27
Kernel::System::Web::RPC can be removed as well.

[2021-10-29 12:28] stefanhaerter commented on #1132
My bad, commit https://github.com/RotherOSS/otobo/pull/1361/commits/46f9dc5a58bdf7aed3babbf1e9bd540d87c8c7f5 should fix this.

[2021-10-29 12:29] stefanhaerter commented on #1132
This was due to some small mistakes by myself, commit https://github.com/RotherOSS/otobo/pull/1361/commits/46f9dc5a58bdf7aed3babbf1e9bd540d87c8c7f5 should fix this also.

[2021-10-29 14:07] br-edward opened #1369 "Missleading Daemon Message with Docker Installation"
Hello,

the docker container "otobo_daemon_1" has the state "up", i still receive a message about its need to be run:

![Admin - OTOBO__ITSM 10](https://user-images.githubusercontent.com/87302944/139449239-225c4f61-13ef-4bf5-8d36-32fda82032ee.png)

Thanks for you time

[2021-10-29 14:16] bschmalhofer opened #1370 "Are the special cases for Net::DNS still useful ?"
In the code there are several cases with special handling for Net::DNS. E.g. in bin/otobo.CheckModules.pl:

Is this still necessary? I recall that tests can take a long time, but actual loading seems to be fast.

[2021-10-29 14:21] bschmalhofer commented on #27
Removed Kernel::System::Web::RPC, closing again

[2021-10-30 01:43] StefanRother-OTOBO opened #1372 "We have changed the default ticket unlock behaviour in OTOBO 10.1."
We have changed the default ticket unlock behaviour in OTOBO 10.1. Now, the ticket is not only unlocked, but also handed over to the system user again. Thus, the behaviour is clearer, but it is no longer possible to read out who last edited the ticket. Please deactivate the config option Ticket::OwnerResetOnUnlock to restore the behaviour of the OTRS version 2-6 and OTOBO 10.

[2021-10-30 02:43] StefanRother-OTOBO opened #1373 "Add new GenericInterface Invoker TicketCreate and TicketUpdate"
This enhancement adds the functionality of two new invokers (TicketCreate, TicketUpdate) for
OTOBO web services.

1. Invoker TicketCreate
This invoker returns the complete ticket and article data based on ticket ID, article ID of the
triggered event.

2. Invoker TicketUpdate
This invoker returns the complete ticket and article data based on ticket ID, article ID of the
triggered event.

3. Advance

[2021-10-30 02:51] StefanRother-OTOBO commented on #1373
Sven, can you please look over it again before publication? I have also included the part of sternenseemann again from Issue #772. In the next step I create the documentation.
Thank you!

[2021-10-30 02:52] StefanRother-OTOBO commented on #1373
Bernhard, please can you prove the unit test files for me? I'm not sure what's new...
Thanks!

[2021-10-30 03:03] StefanRother-OTOBO commented on #1372
We need to execute bin/otobo.Console.pl to create new initial_insert scripts from scripts/database/otobo-initial_insert.xml. And perhaps we need to change the settings inside the OTOBO 10.1 upgrade script.

[2021-10-30 08:23] bschmalhofer commented on #1372
@StefanRother-OTOBO : Do you mean scripts like _scripts/database/otobo-schema.mysql.sql_ ? Those were not used in rel-10_0 and have been removed in rel-10_1.

[2021-10-30 10:01] bschmalhofer commented on #1373
Does the commit a3724f5 actually work? I see renaming of methods from Content() to Run() and the use of `%ENV` . My impression is that the state of rel-10_0 was merged back in.

[2021-11-01 09:29] bschmalhofer opened #1375 "Follow advice from hadolint on otobo.web.dockerfile"
Hadolint says:

Reducing the number of images is a good idea. Let's consolidate.

[2021-11-01 10:23] bschmalhofer commented on #1375
The advice from hadolint is gone. A quick sanity check looked fine. Closing this issue.

[2021-11-01 10:23] #1375 closed, assigned to bschmalhofer

[2021-11-01 13:19] bschmalhofer commented on #1373
GenericInterface error summary from the test suite:

[2021-11-02 11:12] bschmalhofer commented on #1207
The layout of the the logo is not nice in 10.0.13. This needs to tidied.

[2021-11-02 11:12] bschmalhofer opened #1377 "Nicer layout of the OTOBO verified logo"
The layout of the the logo is not nice in 10.0.13. This needs to tidied.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1207#issuecomment-957342047_

[2021-11-02 13:27] bschmalhofer commented on #1377
Made a first stab at this, using the SVG versions of the icons.
Leaving this issue open, in case the layout in case further adaptions are needed.

[2021-11-02 13:48] bschmalhofer commented on #1369
Hello @br-edward,

I checked the source for how `Kernel::Output::HTML::Notification::DaemonCheck` determines whether the Daemon is running. The check is done via the Redis cache. Could you check whether Redis is running in your installation?

Best regards,
   Bernhard

[2021-11-02 14:22] bschmalhofer commented on #1364
Removed the workarounds for OTRS 2.2. Plus a bit of tidying.

Closing the issue only when the unit tests look fine.

[2021-11-02 14:31] br-edward commented on #1369
Thank you for you reply @bschmalhofer

Redis is not installed, will the Daemon not work without Redis?

Thank you very much

[2021-11-02 15:15] bschmalhofer commented on #1369
Ah, that is the first step in explaining the effect.

First, the Daemon can also run with the File based cache. But I see other problems. Not that the following paragraphs are to be taken with a grain of salt, as I don't know your setup.

When a process is running under Docker, then the default setting is that each process has its own file system. But in the case of OTOBO, there are some advantage

[2021-11-03 08:17] br-edward commented on #1369
I followed this guide: https://doc.otobo.org/manual/installation/stable/en/content/installation-docker.html#clone-the-otobo-docker-repo but that should have installed the Redis Container, automatically probably. I moved away from Docker and use the manual Install now. So I cannot confirm no Redis was running as otobo_redis_1.

[2021-11-03 08:28] bschmalhofer commented on #1369
Ah, thanks for clarifying that. I was wandering off into a different direction. So it does look like there was a communication problem between the running daemon and the GUI. The most simple explanation would be that Redis was either not running or had other undetermined problems.
Closing this issue as it looks like a special case.

[2021-11-03 08:28] #1369 closed, assigned to nobody

[2021-11-03 09:20] svenoe commented on #1013
Wrong commit messages...

[2021-11-03 14:30] bschmalhofer commented on #399
If we go that way we should use the correct and fast JSON module: Cpanel::JSON::XS.

[2021-11-03 15:12] bschmalhofer commented on #681
Found another occurence:

[2021-11-03 15:12] bschmalhofer opened #1380 "There are no OTOBO Community Fields, only Dynamic Fields"
Found another occurence:

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/681#issuecomment-959391134_

[2021-11-03 15:21] bschmalhofer commented on #1380
Merging PR after a sanity check,

[2021-11-03 16:07] bschmalhofer commented on #1137
This looks sensible. `CGI::PSGI` is inheriting from `CGI`. `$CGI::POST_MAX` is only used in `CGI::init()`which is not overridden by `CGI::PSGI`. The function that is overridden is `CGI::read_from_client()` which is reading from psgi.input.

So far this looks very sane, but there is a caveat. It is not obvious whether there is an actual safeguard against denial of service. See the discussion in htt

[2021-11-03 16:07] #1137 closed, assigned to bschmalhofer

[2021-11-04 08:24] bschmalhofer commented on #1380
Changed "New OTOBO Community  Fields" to "New Dynamic Fields". Closing this issue.

[2021-11-04 08:24] #1380 closed, assigned to bschmalhofer

[2021-11-04 08:39] bschmalhofer commented on #1271
Placeholder is removed. Closing this issue.

[2021-11-04 08:39] #1271 closed, assigned to bschmalhofer

[2021-11-04 10:17] bschmalhofer commented on #27
Found more stuff that can be removed.

- scripts/rpc-example.pl
- SysConfig entries SOAP::User and SOAP::Password
- Kernel/System/SupportDataCollector/Plugin/OTOBO/DefaultSOAPUser.pm

[2021-11-04 10:33] bschmalhofer commented on #316
Even better: switch to a sane SOAP module

[2021-11-04 10:35] bschmalhofer commented on #27
Did the cleanup. Closing this issue again.

[2021-11-04 10:35] #27 closed, assigned to bschmalhofer

[2021-11-04 12:44] bschmalhofer commented on #1328
Did some tidying of the three article storage backends. The goal being that the code becomes more similar accross the modules.
The logic for creating the unique file names is left in place. There might be a good reason for why the checks are done this way. At least there are no bug reports about the current approach.

Closing only after the next run of the test suite.

[2021-11-04 16:37] bschmalhofer commented on #1327
This is a bit complicated. Loader files like _/opt/otobo/var/httpd/htdocs/js/js-cache/TemplateJS_f49bcc639b2b08cbddea01790471915b.js_ contain templates that will be used by JavaScript for generating some HTML. Each of these files is valid for a specific theme. The checksum is generated from  the names and modification times of the _*.tmpl files in these four directories:

- Kernel/Output/JavaScrip

[2021-11-05 09:56] bschmalhofer commented on #1373
The commit a3724f51800b6 broke some things, notably in the generic interface. There are at least two options how to proceed.

- revert the commit and start from scratch
- go through the 24 changed files and do a proper merge with the parent commit of a3724f51800b6

Let's try the second option first.

[2021-11-05 14:57] bschmalhofer commented on #1373
TODO:

- [ ] import _Kernel/Language/{de|hu}_WebserviceTicketInvoker.pm_ into the regular translation frameworl
- [ ] clean up duplication between _Kernel/Modules/AdminGenericInterfaceInvoker{Default|Ticket|Event}.pm_
- [x] align the test scripts REST.t and SOAP.t

[2021-11-05 16:40] bschmalhofer commented on #1342
I still think that there is a potential problem with incomplete files being delivered by the web server. But simply switching to atomic writes might lead to concurrent writes to the same file, which might have bad effects too. So, let's not change the current behaviour as there are no current error reports.

Nevertheless some mild code improvements were applied. Closing the issue as wontfix,

[2021-11-05 16:40] #1342 closed, assigned to bschmalhofer

[2021-11-06 14:26] bschmalhofer commented on #1373
- [ ] Also still some test failures. Some because two scripts were not yet converted to the changed testing framework.

[2021-11-07 12:04] bschmalhofer commented on #1373
After some fixes the test failures are down to 28:

[2021-11-08 10:30] svenoe commented on #1060
First implementation is merged.

[2021-11-08 10:50] bschmalhofer commented on #512
Enhanced the scope of this issue. It would also be nice if regular pathes to script files and directories could be passed. This should also designed to work with command line expansion. It must be decided how to handle the Custom dir in these cases.

Examples:

- bin/otobo.Console.pl Dev::UnitTest::Run --test Loader
- bin/otobo.Console.pl Dev::UnitTest::Run --test script/test/Loader.t
- bin/otobo.

[2021-11-08 12:05] svenoe commented on #1060
Need to adapt the test. Also have a look at the button lengths.

[2021-11-08 12:55] svenoe opened #1389 "Implement OpenIDConnect"
Implement OpenIDConnect authentication for agents and customer users via the authorization code flow (recommended) or implicit code flow.

Added basic user creation and authorization via id_token information for agents.

[2021-11-08 16:38] bschmalhofer commented on #1373
Found another stumbling block. The transport modules are still relying on the environment:

Actually there are two different usages. First, there is `$ENV{HTTP_UNITTESTHEADERS}` for activating the header mirroring feature of nph-genericinterface.  This can be replaced by a setting in the SysConfig. Then there is `$AllRequestHeaders{$HeaderKey} = $ENV{$EnvKey};` for actually getting the headers. Th

[2021-11-09 09:41] bschmalhofer opened #1390 "Remove the AdditionalHeaders feature in the Generic Interface"
This has been replaced by the OutboundHeaders config options. See #1373.

[2021-11-09 18:01] bschmalhofer commented on #1373
While working on this I noticed that `Kernel::GenericInterface::Transport::ProviderGenerateResponse()` is not very consistent. An exception should be thrown when one of the two checks has something to complain about.

[2021-11-09 18:02] bschmalhofer opened #1394 "Always die in Kernel::GenericInterface::Transport::ProviderGenerateResponse()"
While working on this I noticed that `Kernel::GenericInterface::Transport::ProviderGenerateResponse()` is not very consistent. An exception should be thrown when one of the two checks has something to complain about.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1373#issuecomment-964398964_

[2021-11-09 19:57] bschmalhofer commented on #1373
Some more fixes, unit tests are now succeeding.

[2021-11-10 08:40] wetzf opened #1395 "Multiple ActivityDialogs in Customer Interface open below each other"
Hello OTOBO Team,

I am currently testing OTOBO 10.1 and noticed a strange behavior when using multiple ActivityDialogs in the customer interface.

I have a process with two Dialogs available in the customer interface. Now I open one of the dialogs. When I want to change the Dialog, it does not close the one previously selected. Instead, the second dialog is open above or below. If I submit one of

[2021-11-10 10:18] svenoe commented on #1395
Hi wetzf,

I am aware of this behaviour and I just haven't yet decided on which behaviour is wanted here. In principle this way it would be easier to copy stuff from one dialog to the other. But maybe you are right, and we should automatically close all other dialogs. I will ask the others how they see it before deciding.

In general please add your comments on this directly to issue #1060, then o

[2021-11-10 10:50] wetzf commented on #1395
Hi Sven,

thanks for the quick reply. I will close this issue and add further comments to #1060.

[2021-11-10 10:50] #1395 closed, assigned to svenoe

[2021-11-10 15:34] bschmalhofer commented on #1136
Checked the code and made some small improvements. Test suite still looks fine. Closing this issue.

[2021-11-10 15:34] #1136 closed, assigned to bschmalhofer

[2021-11-10 15:57] bschmalhofer commented on #577
Discussed this with @svenoe . There is no good reason to use DBIx::Connector only when running under a webserver. Thus the code can be simplified and DBIx::Connector can be used in all cases.

[2021-11-10 16:44] bschmalhofer commented on #1364
Test suite looked fine. Closing this issue.

[2021-11-10 16:44] #1364 closed, assigned to bschmalhofer

[2021-11-10 16:49] bschmalhofer opened #1397 "Support streaming of attachments"
Currently the web server loads attachments into memory before delivering them as content. It would be nicer to do this in streaming mode.

[2021-11-11 10:14] bschmalhofer opened #1398 "Do Authentication in a Plack middleware"
Currently authentication is done in the _Kernel/System/Web/Interface*_ modules. IMHO it would make sense to move authentication into a middleware. This would emphasize that authentication and authorisation is a separate step in processing a request.

[2021-11-11 10:30] bschmalhofer commented on #1327
Checked `Kernel::System::Package` again and found that the cleanup of the loader cache file called in:

- PackageInstall()
- PackageReinstall()
- PackageUpgrade()
- PackageUninstall()
- \_PackageUninstallMerged()

This looks good. Confirms that the JSTemplates loader cache does not need to check for changed _*.tmpl_ files. It suffices to recreate the theme dependent cache files only when the loade

[2021-11-11 11:07] bschmalhofer commented on #1328
The latest run of the test suite looked fine. Closing this issue.

[2021-11-11 11:07] #1328 closed, assigned to bschmalhofer

[2021-11-11 11:09] bschmalhofer commented on #577
The test suite looked fine. Closing this issue.

[2021-11-11 11:09] #577 closed, assigned to bschmalhofer

[2021-11-11 12:28] bschmalhofer commented on #1327
Did a quick sanity check and things look fine:

Closing this issue.

[2021-11-11 12:28] #1327 closed, assigned to bschmalhofer

[2021-11-11 15:51] bschmalhofer commented on #1394
Changed the checks in Kernel::GenericInterface::Transport::ProviderGenerateResponse(). Adapted the test scripts. Looks good so far, closing issue only after next complete run of the test suite.

[2021-11-11 18:24] bschmalhofer commented on #1362
Still 20 test failures:

[2021-11-12 10:34] bschmalhofer commented on #1362
While investigating the test failures I noticed that there are still referenced to bugs.otobo.org. These most likely derive from bugs.orts.org by simple string replacement.
TODO: change the URL to https://github.com/RotherOSS/otobo/issues.

[2021-11-12 10:35] bschmalhofer opened #1402 "Eliminate references to bugs.otobo.org"
While investigating the test failures I noticed that there are still referenced to bugs.otobo.org. These most likely derive from bugs.orts.org by simple string replacement.
TODO: change the URL to https://github.com/RotherOSS/otobo/issues.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1362#issuecomment-966995957_

[2021-11-12 16:49] bschmalhofer commented on #1295
Another problem cropped up. Mails, that is MIME messages, can contain non-iso8869-1 characters in their headers. HTTP seems to support only iso-8894-1. This is a problem when Content-Type and Content-Disposition should be stored in S3 as HTTP headers. See _scripts/test/Postmaster/CommunicationLog.t_ for a relevant test case.

See also https://datatracker.ietf.org/doc/html/rfc8187.

[2021-11-12 16:58] bschmalhofer opened #1403 "Docker: Perl modules in /opt/otobo/local/ should have precedence"
The idea is that users can install custom modules in _/opt/otobo/local/_  with e.g. `cpanm -l local Data::Peek`. This works fine. However overriding modules in `_/opt/otobo_install/local_ does not work.
This is because PERL5LIB is in the wrong order.

TODO:

- [x] reverse the order of the pathes in PERL5LIB

[2021-11-12 17:20] svenoe commented on #1060
Fix prefilled text fields. Autoclose other activities (see #1395).

[2021-11-13 09:03] bschmalhofer commented on #1403
Adapted PERL5LIB and PATH. The outcome looks fine:

[2021-11-13 09:08] #1403 closed, assigned to bschmalhofer

[2021-11-13 09:52] bschmalhofer commented on #1362
During testing and debugging the output of `Data::Peek::DDump()` proved to be useful. I suggest to add this to the _devel:encoding_ feature in _bin/otobo.CheckModules.pl_.

[2021-11-13 09:53] bschmalhofer opened #1405 "Add Data::Peek as a development tool"
During testing and debugging the output of `Data::Peek::DDump()` proved to be useful. I suggest to add this to the _devel:encoding_ feature in _bin/otobo.CheckModules.pl_.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1362#issuecomment-967958399_

[2021-11-13 10:23] bschmalhofer commented on #1362
Also during testing and debugging, I encountered mocked methods in _scripts/test/PostMaster/CommunicationLog.t_ . Maybe it would be nicer to use `Test2::Tools::Mock` in that use case. The module is part of `Test2::Suite`, which is already used in the test suite.

[2021-11-13 10:23] bschmalhofer opened #1406 "Testing: Start using Test2::Tools::Mock"
Also during testing and debugging, I encountered mocked methods in _scripts/test/PostMaster/CommunicationLog.t_ . Maybe it would be nicer to use `Test2::Tools::Mock` in that use case. The module is part of `Test2::Suite`, which is already used in the test suite.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1362#issuecomment-968009153_

[2021-11-13 10:32] bschmalhofer commented on #1405
Added Data::Peek. Docker images can still be created. Closing this issue.

[2021-11-13 10:32] #1405 closed, assigned to bschmalhofer

[2021-11-13 11:55] bschmalhofer commented on #1362
Still 12 relevant failures. But merge the changes anyways, as the situation is not too bad.

[2021-11-13 11:56] bschmalhofer commented on #1394
Tests look fine. Closing this issue.

[2021-11-13 11:56] #1394 closed, assigned to bschmalhofer

[2021-11-13 13:48] bschmalhofer commented on #1406
Starting using `mock()` and did some refactoring. _scripts/test/PostMaster/CommunicationLog.t_ still succeeds. Closing this issue.

[2021-11-13 13:48] #1406 closed, assigned to nobody

[2021-11-13 13:53] bschmalhofer commented on #73
See also #1406.

[2021-11-13 13:53] bschmalhofer commented on #573
See also #1406.

[2021-11-13 13:59] bschmalhofer commented on #1406
The same effect could have been provided by Sub::Override, but Test2::Tools::Mock is more convenient, as it is integrated in Test2::Suite.

[2021-11-13 16:39] bschmalhofer commented on #1402
Adapted the link. The changes test script still succeed. Closing this issue.

[2021-11-13 16:39] #1402 closed, assigned to bschmalhofer

[2021-11-15 11:34] bschmalhofer commented on #1320
Noticed that some parts  `Kernel::System::SysConfig::ConfigurationDeploy()` assume that the current dir is _/opt/otobo_. Futhermore the code assumes that _Kernel/Config_ exists when it found that _Kernel/Config/Files_ is missing. This should be rectivied.

[2021-11-15 11:35] bschmalhofer opened #1411 "Kernel::System::SysConfig::ConfigurationDeploy() makes assumptions about the current working dir"
Noticed that some parts  `Kernel::System::SysConfig::ConfigurationDeploy()` assume that the current dir is _/opt/otobo_. Futhermore the code assumes that _Kernel/Config_ exists when it found that _Kernel/Config/Files_ is missing. This should be rectivied.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1320#issuecomment-968820427_

[2021-11-15 17:57] bschmalhofer commented on #1320
Some more fixed and test results look a bit better:

Some of the failures seem to be sporadic. _AgentTicketSplitInlineImage.t_ and _CreateScreens.t _ seem to be related to S3.

[2021-11-15 22:56] bschmalhofer commented on #1411
Changed mkdir into make_path. Made some simplifications. Unittests still look fine. Closing this issue.

[2021-11-15 22:56] #1411 closed, assigned to bschmalhofer

[2021-11-16 02:39] johnnyng43 opened #1414 "Attachment uploaded by a customer disappear after submit a ticket / response"
Hi!

I saw there was an issue raised out before on the attachment upload problem in customer view #1301 , and I also encountered this situation.
![image](https://user-images.githubusercontent.com/94419507/141885115-92255b7b-6493-4a1f-ac64-63a09fa877c2.png)

A reply said that it is due to the URL path in Apache, I tried it but the issue still happened. However, I found there is some abnormal in dat

[2021-11-16 07:12] svenoe commented on #1414
Hi Johnny,

as we cannot reproduce this, and the last time it occured it was a misconfiguration if I remember correctly and you also wrote, we will for now not look further into this ourselves. I can offer you some help on the debugging if you are willing to do it on your own:

If the attachment is not in the database, it means it was not properly uploaded. You can find the log of this step in a),

[2021-11-16 11:48] bschmalhofer commented on #1295
There is an interesting failure in _AgentTicketSplitInlineImage.t_

The gist is that there are discrepancies of the settings of the sys config value **Ticket::Article::Backend::MIMEBase::ArticleStorage**. Here is what is happening.

1. The test script sets Ticket::Article::Backend::MIMEBase::ArticleStorage to Ticket::Article::Backend::MIMEBase::ArticleStorageFS
2. This setting changes affect the K

[2021-11-16 17:50] bschmalhofer commented on #1295
The failures in _AgentTicketSplitInlineImage.t_ are gone now.

Investigated the failure in scripts/test/Selenium/Agent/MultiAttachmentUpload/CreateScreens.t . This is not trivial to understand, maybe some timing issue, but it is not obvious where the overlay message is coming from. See #1067 where a screenshot is attached.
Anyways, it looks like it isn't related to the S3 backend, as this is all i

[2021-11-16 17:52] bschmalhofer commented on #1067
Looks like this error cropped up again in rel-10_1:
![1604007966100000_1](https://user-images.githubusercontent.com/46019/142039037-0a943919-ea16-41f9-ae94-4e751cfcf9e9.png)

[2021-11-16 18:16] bschmalhofer commented on #399
Another alternative: Mojo::JSON which uses Cpanel::JSON::XS if available.

[2021-11-16 18:19] bschmalhofer commented on #1389
See also #1398 which proposes to move authentication to a PSGI middleware.

[2021-11-17 01:27] johnnyng43 commented on #1414
Hi Sven,

Thank you for your reply and I tried to add some debug log like this:

		use Data::Dumper;
		print STDERR "CustomerTicketZoom => AttachmentData: ".Dumper(\@AttachmentData);

And I saw this message in the log after I replied with attachment:

CustomerTicketZoom => AttachmentData: $VAR1 = [];

Similarly, as agent view is normal, I also add the below logging to see its array list to compare

[2021-11-17 07:34] svenoe commented on #1414
Ah, my mistake, sorry - I guess you have to put it one block further down behind the "# get submit attachment"-section, I just had a quick look yesterday and overlooked this.

(In general I have not really looked into this, so I'm only able to give some rough directions...)

[2021-11-17 09:09] johnnyng43 commented on #1414
Hi Sven,

Compared the #get submit attachment section, the code in CustomerTicketZoom.pm and CustomerTicketMessage.pm as below:
        # get submitted attachment
        my %UploadStuff = $ParamObject->GetUploadAll(
            Param => 'file_upload',
        );

For AgentTicketActionCommon.pm:
            # get submit attachment
            my %UploadStuff = $ParamObject->GetUploadAll(

[2021-11-17 10:00] svenoe commented on #1414
Hi Johnny,

that is an interesting finding; this code is unchanged from OTRS6, though. It definitely should work with the "file_upload", too (or rather it does, normally), and it would be interesting to understand why it does not, for you.

[2021-11-17 10:09] johnnyng43 commented on #1414
Hi Sven,

Then the problem is still not sure…Anyway I can do what I supposed to from your hints, thank you so much!

[2021-11-17 10:43] bschmalhofer commented on #1333
This is more of a design decision. On the technical side, there is a declaration for each standard field type whether the entries should be translated or not. For example in _Kernel/Modules/AgentTicketPhone.pm_ around line 2298:

Globally changing the declaration, for all relevant frontend modules, is probably a bad idea. This leaves us most likely with yet another config option.

[2021-11-17 14:50] bschmalhofer commented on #1397
The proposed change is to return an IO::Handle like object as the body. See https://metacpan.org/pod/PSGI#Body and https://stackoverflow.com/questions/6011793/psgi-response-what-kinds-of-filehandles-can-be-expected-to-work-with-psgi-and. This should work with nginx flawlessly, as the same approach is used for serving files in _var/httpd/htdocs_. For an example see https://github.com/plack/Plack/bl

[2021-11-17 15:55] wornet-aer commented on #251
I've just tried to migrate an OTRS v.6.0.5 to OTOBO 10.0.13 and observed exactly the same behaviour as described by this issue.

What I did:
1. Install fresh otobo-docker instance
2. Prepare OTRS files and db for migration
3. Execute OTOBO migration (all went through without errors)
4. Can't login because of: `Session invalid. Please log in again.` :(

Unfortunately it took me quite some time, unt

[2021-11-17 16:07] bschmalhofer commented on #1397
See also https://github.com/mojolicious/mojo/discussions/1884.

[2021-11-17 19:22] bschmalhofer commented on #1295
But still sporadic failure in  _scripts/test/Selenium/Agent/AgentTicketAttachment.t_

[2021-11-18 07:49] svenoe commented on #1389
Works, need to add Crypt::JWT to docker images.

[2021-11-18 10:04] #1389 closed, assigned to svenoe

[2021-11-18 10:08] svenoe opened #1419 "Improve handling of incoming SMIME emails."
SMIME handling in OTOBO was not optimal in some cases. We did a larger rework which is probably not the final step, especially sending encrypted is still clunky at times. Warning: This change might have introduced some regressions!

What changed from a users point of view:
- The content of signed messages is always shown, even if the certificate can not be verified.
- We introduced some small icon

[2021-11-18 13:04] #1419 closed, assigned to svenoe

[2021-11-18 14:45] wornet-aer opened #1421 "AgentCustomerSearch in new ticket dialog not showing customer users with same name"
Unfortunately I live in a world, where the same external consultant works for multiple customer companies.

So, I have two customer users:
[code]

[code]

When composing a new email or phone ticket and typing 'Muster' into the customer user field, I only get one suggestion for `"Max Muster" <max.muster@example.org> (111.maxmuster)` and none for his user account at the other customer company.

Howe

[2021-11-18 15:39] StefanAbel-OTOBO commented on #1421
Hello,

therefore you can assign one customer user to multiple Customer IDs and then assign a ticket to a different Customer ID.

Best regareds

[2021-11-18 16:08] bschmalhofer opened #1422 "Reloading of changed Perl modules is not reliable"
@svenoe  noticed that the reloading of modules under Apache is quirky. The effect is that new version of a module is used for one request but not when releading the same page. This behavior is kind of expected as in _bin/psgi-bin/otobo.psgi_ there is a cool down period of 10 s. So it is quite possible that the refresh check took place for one webserver process but not for the other.

However some

[2021-11-18 16:59] bschmalhofer commented on #1422
@svenoe I could reproduce that some there are cases where modules were not reloaded while they should have been. However I did not understand the reason for that. I did some refactoring of things that looked suspicious and after that I could no longer reproduce. So let's be pragmatic and check whether this effect appears again.
Closing this issue only after a cool down period.

[2021-11-18 17:13] bschmalhofer commented on #1397
Full proxy support of the S3 web service is beyond the scope of this issue. But we only have four relevant cases:

- ArticleStorageDB: attachments are retrieved from DB, thus already in Memory => return as string
- ArticleStorageFS: attachment is file on file system => return as open file handle
- ArticleStorageS3 small file: asset is in memory => return as string
- ArticleStorageS3 large file: as

[2021-11-18 17:34] bschmalhofer opened #1424 "Is config option Cache::ArticleStorageCache supported in OTOBO?"
In _Kernel/System/Ticket/Article/Backend/MIMEBase/ArticleStorageFS.pm_ there is the following code:

It looks there were some special setups that cached articles in Redis or MemCached. Is this relevant for OTOBO? If not I propose to remove that special caching support, especially with ArticleStorageS3 being around the corner.

[2021-11-18 17:46] bschmalhofer commented on #1424
On the other hand the caching of articles and attachments can be useful and is probably used in productive installations. Let's keep it.

[2021-11-18 17:46] #1424 closed, assigned to bschmalhofer

[2021-11-19 07:30] wornet-aer commented on #1421
Unfortunately it seems impossible to assign one customer user to multiple customer companies. I can only select one customer company when editing the customer user.

Did I miss something?

[2021-11-19 09:37] bschmalhofer commented on #1397
While looking into how to serve attachments as file handles, I found that for attachments the header 'Content-Length' was no longer added. There was only the incorrect comment:

This should be fixed using the function `Plack::Util::content_length()` in order to allow for file handles as response body.

[2021-11-19 09:46] bschmalhofer opened #1425 "Header Content-Length is not emitted for attachments"
While looking into how to serve attachments as file handles, I found that for attachments the header 'Content-Length' was no longer added. There was only the incorrect comment:

This should be fixed using the function `Plack::Util::content_length()` in order to allow for file handles as response body.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1397#issuecomme

[2021-11-19 12:58] bschmalhofer commented on #1425
Content-Length is set new. Checked with Firefox Developer Tools. Closing this issue.

[2021-11-19 12:58] #1425 closed, assigned to nobody

[2021-11-19 15:25] bschmalhofer commented on #1295
Currently there is the hardcoded prefix _OTOBO/_ for all OTOBO related S3 keys. It can be fanthomed that users, or developers, would want a different prefix. This should be configurable.

[2021-11-19 15:26] bschmalhofer opened #1427 "Put S3 config into Kernel/Config.pm, make the S3 home prefix configurable"
Currently there is the hardcoded prefix _OTOBO/_ for all OTOBO related S3 keys. It can be fanthomed that users, or developers, would want a different home prefix. This should be configurable.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1295#issuecomment-974166527_

[2021-11-19 16:23] bschmalhofer commented on #1397
TODO:

- [x] check for output filters that may be active for the frontend module AgentTicketAttachment
- [x] also implement streaming in the customer interface

[2021-11-19 17:26] bschmalhofer commented on #1397
A first test. using ArticleStorageS3, looked fine. Images could be uploaded and downloaded again. Files larger than 256 kB were synced to the file system before they were served a open file handles.

[2021-11-20 11:16] bschmalhofer commented on #1397
Instead of not returning a file handle when there is an output filter, I made the output filter support file handles. Tested in the Agent and in the Customer interface with the backends ArticleStorageFS and ArticleStorageS3. The inline and attached images could be retrieved and looked fine.
Encountered some errors when searching for customers, when adding a customer user. But this effect seems to

[2021-11-20 11:55] bschmalhofer commented on #1397
While implementing support for serving attachments as file handles, I found that only few OTOBO pages include the Content-Length header. The cases I found were:

- inline and non-inline Attachments in the customer and agent interface
- AJAX responses
- responses from the generic interface

The reason, that Content-Length is rarely set, might be that in OTOBO 10.0.x the the Output was printed in ch

[2021-11-20 11:55] bschmalhofer opened #1430 "Always set the header Content-Length"
While implementing support for serving attachments as file handles, I found that only few OTOBO pages include the Content-Length header. The cases I found were:

- inline and non-inline Attachments in the customer and agent interface
- AJAX responses
- responses from the generic interface

The reason, that Content-Length is rarely set, might be that in OTOBO 10.0.x the the Output was printed in ch

[2021-11-20 12:37] bschmalhofer opened #1431 "Check SecureMode in a Plack middleware"
Currently the authentication checks are done in the interface modules and possibly in Kernel::GenericInterface::Provider. IMHO, it would be nice to refactor that into nice Plack middlewares. However, this might be a bit tricky. Therefore I propose to do a simple case in an examplar fashion. _install.pl_ and _migration.pl_ only check the SecureMode. Thus this case is an easy case for refactoring.

[2021-11-21 14:07] bschmalhofer commented on #1431
A first test looked fine. _installer.pl could be accessed for a new installation. After calling _bin/docker/quick_setup.pl_ access is denied. In the latter case the HTTP status is now 403.
@svenoe : Could you take a look at the PR? It is a little bit more complicated than it could be expected. The reason is that currently no middlewares can be assigned to specific interfaces. At least I didn't see

[2021-11-22 07:15] svenoe commented on #1421
Hi Andreas,

actually I had to look into the code for this, as it didn't come up for to long. In the admin interface there still is a "CustomerUsers <-> Customers" relations section. We disabled the customer selection for the standard, as it rarely is needed, but if you uncheck Ticket::Frontend::AgentTicketPhone::CustomerIDReadOnly, you should be able to switch between the main and the secondary C

[2021-11-22 07:15] #1421 closed, assigned to nobody

[2021-11-22 10:39] stefanhaerter opened #1433 "(Potential) Unused Parameter "FilesizeRaw""
Found in rel-10_0_12, Kernel/Modules/CustomerTicketArticleContent, L.151:

FilesizeRaw => bytes::length($Content)

The %Data variable including this line later is passed on to $LayoutObject->RichTextDocumentServe(). This function itself doesn't use the parameter, instead, it fetches the content length itself with bytes::length. A first test (outcommenting the line) indicated that it is unused, but

[2021-11-22 13:38] bschmalhofer commented on #1433
Put the milestone to 10.1.1 as in 10.0.x only important bugs should be fixed. Also the module _Kernel/Modules/AgentTicketArticleContent,pm_ should be checked too.

[2021-11-22 14:03] Getty commented on #1430
Yeah, that sounds like the right direction, in general, if we know the content length it should be set, and that can be done automatically with the middleware. That way all parts of the PSGI-chain know how to handle the data and doesn't start guessing around.

[2021-11-22 14:55] bschmalhofer opened #1434 "Remove unused attributes, like 'Browser', in Kernel::Output::HTML::Layout"
It looks like `Browser` is set but never used. I propose to remove that code.
There are also some attributes that are used only internally, this could be moved into lexical context.

[2021-11-22 17:31] bschmalhofer commented on #1431
Ah, Plack expects middlewares to reside in `Plack::Middleware`. So the SecureMode middleware will be called `Plack::Middleware::OTOBO::SecureModeAccessFilter`.

The interface modules will be outfitted with the method response, thus a interface specifc Plack App will look like:
[code]

[2021-11-22 17:40] bschmalhofer commented on #1431
A hopefully final beautification. The interface modules can inherit from Plack::Component, https://metacpan.org/pod/Plack::Component, and `Response()` can be renamed to `call()`. This would leave us with:

`    mount "/public.pl" => Kernel::System::Web::InterfacePublic->new()->to_app;
`
in otobo.psgi.

[2021-11-22 17:41] bschmalhofer opened #1436 "Turn the interface modules into real Plack apps."
A hopefully final beautification. The interface modules can inherit from Plack::Component, https://metacpan.org/pod/Plack::Component, and `Response()` can be renamed to `call()`. This would leave us with:

`    mount "/public.pl" => Kernel::System::Web::InterfacePublic->new()->to_app;
`
in otobo.psgi.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1431#issuecomme

[2021-11-22 17:42] bschmalhofer commented on #1436
Do that only after checking whether there is a reason that the interface modules are managed by the object manager.

[2021-11-22 18:01] bschmalhofer opened #1437 "A better way to set cookies"
Setting cookies is currently a bit awkward. Cookies are set by declaring object parameters for `Kernel::Output::HTML::Layout`. There is no apparent reason that setting cookies can't be done directly in the `Kernel::System::Web::Response` object. This approach has the advantage, that no care has to be taken when the `Kernel::Output::HTML::Layout` object is created.

[2021-11-22 21:36] bschmalhofer commented on #1398
A lighter version of this issue is implemented in #1431. That issue allows support of middlewares for specific interfaces, which was, under the hood, also the main goal of this issue.
Moving the authentication and authorisation logic of index.pl and customer.pl also into a middleware provides no immediate benefits. Thus this issue won't be implemented in the foreseeable future.

[2021-11-22 21:36] #1398 closed, assigned to bschmalhofer

[2021-11-23 13:08] wornet-aer commented on #1421
Hi Sven,

thanks for your quick response and the good hint!
As you pointed out, I'm aware of the forums and thought about a development issue in this case.
For me this issue can be seen as solved now.

However, I'm still not sure, if the behaviour of the customer user search field is correct in this case. From my perspective it should list all customer users with the given name or address and not

[2021-11-23 14:23] svenoe commented on #1058
I merged this into rel-10_1. We had some internal discussion on how to handle things, finally we decided to treat Subject, Body and Attachment together as "Article", this is where we are at. I kept the differentiation bewtween the three at some places however, to make it easier for packages to drop in here (actually maybe I should have also done that more in Core.AJAX.js).

In general we will (re)

[2021-11-23 14:26] svenoe commented on #1058
The above should probably be done in another issue, as it will probably not come directly with 10.1.

[2021-11-23 14:26] #1058 closed, assigned to nobody

[2021-11-23 14:29] svenoe opened #1439 "Extend FormStd ACL for CustomerTicketMessage to support more than "Article""
See https://github.com/RotherOSS/otobo/issues/1058#issuecomment-976608704

[2021-11-23 14:44] svenoe commented on #1421
Actually I agree, I was more focused on the later stuff, with Stefans response. A standard system however doesn't even give you the opportunity to create two customer users with the same email address (of course I'm aware that with external DBs or LDAP or so, this is easily possible anyways). Just as a last quick test, you could check what you are using as CustomerKey in your CustomerUser definiti

[2021-11-23 15:17] wornet-aer commented on #1421
The setting `Customer::AuthModule::DB::CustomerKey` has the value `login` in my case. IMHO this should be correct, as the logins contain the customer number and are unique, even if name and email aren't.

[2021-11-23 19:00] bschmalhofer commented on #1436
It turned out that using a wrapper module was the easier route. This approach guarantees that there is no persistent data between requests.
Closing this issue only after the next run of the test suite.

[2021-11-23 19:53] bschmalhofer commented on #1433
Yes, FilesizeRaw was not used in the two frontend modules. Removed it. Closing this issue.

[2021-11-23 19:53] #1433 closed, assigned to bschmalhofer

[2021-11-23 19:54] bschmalhofer commented on #1430
@svenoe had no objections.

[2021-11-23 20:15] bschmalhofer opened #1442 "What about Keep-Alive HTTP headers?"
In the TREST and SOAP transport for the generic interface there is the option to emit the _Connection: Keep-Alive_ header. What does this mean? Does this make sense? Is it still supported in the current PSGI setup?
See also #1430.

[2021-11-24 11:05] svenoe commented on #1132
There are still some issues, text fields e.g. are filled with their label.

[2021-11-24 11:06] svenoe commented on #1060
Prefilled text fields are a general bug of rel-10_1 and are dealt with in https://github.com/RotherOSS/otobo/issues/1132 - closing this issue for now.

[2021-11-24 11:06] #1060 closed, assigned to nobody

[2021-11-24 13:07] bschmalhofer commented on #1437
This is a bit confusing, as there are multiple way where cookies are served to the requester. Let's start from the end.

### HTTP Response header

That's what the client actually receives from the web server. The headers are always taken from the headers part of a PSGI response.

### PSGI Response:

Cookie relevant headers are created from the cookie jar of the PSGI response. So they can sent by

[2021-11-24 17:12] bschmalhofer commented on #1437
Altogether only three instances where the SetCookie method of the layout object is now used. But the main benefit is better understanding how cookies are set.
Test suite still looks fine.Closing this issue.

[2021-11-24 17:12] #1437 closed, assigned to bschmalhofer

[2021-11-24 17:13] bschmalhofer commented on #1436
Looks like this does work. Closing this issue.

[2021-11-24 17:13] #1436 closed, assigned to bschmalhofer

[2021-11-24 17:14] bschmalhofer commented on #1431
Looks good so far. Closing this issue.

[2021-11-24 17:14] #1431 closed, assigned to bschmalhofer

[2021-11-24 17:15] bschmalhofer commented on #1430
There is some potential for breakages in this issue. So let's keep it open for a while.

[2021-11-24 18:55] bschmalhofer commented on #1434
Moved this to Wishlist, as this is not urgent and has some risk.

[2021-11-24 18:59] bschmalhofer commented on #1434
Removed the branch. Quite sensibly Github keeps the referenced commits, so that they can be cherry-picked in the future.

[2021-11-25 12:41] cugu opened #1447 "Disabled dynamic fields shown in CustomerTicketZoom"
Hi,

The CustomerTicketZoom view shows the fields "process" and "activity" even when they are disabled in the screens.

[2021-11-25 14:02] svenoe opened #1448 "Extended Mail features"
Allow pasting of several mail addresses, and provide small buttons to move addresses between to, cc and bcc.

[2021-11-25 14:41] svenoe commented on #1448
Implemented - should be beautified at one point, probably preparing small svg icons is the best solution. The rendering differs largely between browsers and even between the places where the current texts icons are located. (Partly due to different interpretation of fractional pixels, but without that, it's a mess, too...)

[2021-11-25 14:41] #1448 closed, assigned to svenoe

[2021-11-25 17:05] bschmalhofer commented on #1295
Latest run of the test suite still showed the same spurious failures:

Might be worthwhile to investigate a bit more. See also #1067.

[2021-11-25 17:12] bschmalhofer commented on #739
See also #1281

[2021-11-25 17:20] bschmalhofer commented on #1067
Reliably seen with rel-10_1 with S3 backend active. Reopening.

[2021-11-26 09:48] OlliW opened #1449 "Bug in Action CustomerTicketZoom - when DynamicField from Type Database is used"
when a DynamicField from Type Database is used in a Process Action, then occurs an error:

   Module: Kernel::System::DB::new Line: 135
   Module: Kernel::System::DynamicFieldDB::new Line: 110
   Module: Kernel::System::ObjectManager::_ObjectBuild Line: 323
   Module: Kernel::System::ObjectManager::Get Line: 213
   Module: Kernel::Modules::CustomerDynamicFieldDBSearch::Run Line: 222
   Module: Ker

[2021-11-26 14:17] StefanAbel-OTOBO opened #1453 "ACL "NewOwner", "OldOwner" and "Owner" is not looking for the user name / login"
In the ACL, "NewOwner", "OldOwner" and "Owner" trigger for the user's name (firstname + lastname). But should be the user name / login, e.g. for the (not too rare) case that two people share the same name.

Here the extract from the documentation (which should be adjusted accordingly:

        NewOwner:
        # For ticket action screens, where the Owner is already set.
        - some owner

[2021-11-27 06:51] svenoe opened #1454 "Add nested group support for LDAP user/group sync"
@fraenki submitted a pull request for nested group support: https://github.com/RotherOSS/otobo/pull/1291

[2021-11-27 11:42] bschmalhofer commented on #1427
This issue was expanded to include the requirement that S3 should be configurable via the file _Kernel/Config.pm_. This raises some interesting bootstrapping questions. I suppose that these can be resolved with using `my $CleanConfigObject = Kernel::Config->new( Level => 'Clean');`

[2021-11-27 13:11] bschmalhofer commented on #1295
TODO:

It would be nice if _Kernel/System/Ticket/Article/Backend/MIMEBase/ArticleStorageS3.pm_ would not use internal attributes from the Kernel::System::Storage::S3 object. This includes the attribute S3Object. This might means that Kernel::System::Storage::S3 might need a couple of additional methods.

- [x] do not use the S3Object directly

[2021-11-27 15:20] svenoe opened #1455 "Include old but ongoing appointments in the agent dashboard widget."
Appointments which started e.g. yesterday are currently not included.

[2021-11-27 16:22] #1455 closed, assigned to svenoe

[2021-11-27 16:30] bschmalhofer commented on #1427
Moved the S3 Config to Kernel/Config.pm. Make the home prefix configurable. Test suite looks fine. Closing this issue.

[2021-11-27 16:30] #1427 closed, assigned to bschmalhofer

[2021-11-27 16:59] bschmalhofer commented on #1430
No bad consequences have been encountered so far. Closing this issue.

[2021-11-27 16:59] #1430 closed, assigned to bschmalhofer

[2021-11-28 14:14] bschmalhofer commented on #1295
Some new methods have been added to Kernel::System::Storage::S3. These should be covered in _scripts/test/Storage/S3.t_.

[2021-11-28 14:14] bschmalhofer opened #1457 "Cover all methods of Kernel::System::Storage::S3 in test scripts"
Some new methods have been added to Kernel::System::Storage::S3. These should be covered in _scripts/test/Storage/S3.t_.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1295#issuecomment-981092790_

[2021-11-28 16:07] bschmalhofer commented on #1295
TODO:

- [x] fix newly occuring test failures
- [x] simplify ArticleAttachmentIndexRaw(), also get FilesizeRaw from the Headers

[2021-11-29 09:40] bschmalhofer commented on #193
Moved to wishlist as it is not sure that it will be implemented.

[2021-11-29 09:41] bschmalhofer commented on #1320
This seems to be working. Closing this issue.

[2021-11-29 09:41] #1320 closed, assigned to bschmalhofer

[2021-11-29 09:44] bschmalhofer opened #1458 "Kernel::System::Loader::CacheDelete() should also clean up files in S3"
TODO:

- [x] make Kernel::System::Loader::CacheDelete() handle the S3 case

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1325#issuecomment-949463512_

[2021-11-29 09:46] bschmalhofer commented on #1325
Loader files in S3 seem to work. Created a new issue for CacheDelete(). Closing this issue.

[2021-11-29 09:46] #1325 closed, assigned to bschmalhofer

[2021-11-29 09:47] bschmalhofer commented on #1362
This is implemented. Do a bit more testing before closing this issue.

[2021-11-29 09:47] #1362 closed, assigned to bschmalhofer

[2021-11-29 11:38] bschmalhofer commented on #1295
The test suite is now back to the usual. Merging now.

[2021-11-29 11:44] bschmalhofer commented on #1295
There is still a test failure that needs to be investigated: SysConfig/GlobalEffectiveValueGet.t

[2021-11-29 11:45] bschmalhofer opened #1460 "Fix test failure in SysConfig/GlobalEffectiveValueGet.t"
There is still a test failure that needs to be investigated: SysConfig/GlobalEffectiveValueGet.t

First check whether this occurs only with the S3 backend.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1295#issuecomment-981557857_

[2021-11-29 11:46] bschmalhofer commented on #1460
Parent issue can be closed now.

[2021-11-29 11:48] bschmalhofer commented on #1295
S3 article backend is working. New findings get their own issue. Closing this issue.

[2021-11-29 11:48] #1295 closed, assigned to bschmalhofer

[2021-11-29 11:59] bschmalhofer commented on #1460
Migrated the test to Test2::V0.
Running the test with OTOBO_SYNC_WITH_S3 showed the known behavior:

- fails when run as part of the test suite
- succeeds when run as a single test

[2021-11-29 12:03] bschmalhofer opened #1462 "Replacement of ${OTOBO_NGINX_KERBEROS_KEYTAB} in /etc/nginx/conf.d/otobo_nginx.conf"
This was reported in https://otobo.de/de/forums/topic/single-sign-on-konfigurieren-need-key/#post-12188.

This is a bit strange, because the other variables do seem to be replaces. Needs to be investigated.

[2021-11-29 14:08] cugu opened #1463 ".oool class uses fixed color"
.oool class uses fixed color instead of variable

see https://github.com/RotherOSS/otobo/blob/59dda3b9806c602d1b8cd5da8f1c15b7fc32f9ab/var/httpd/htdocs/skins/Customer/default/css/Core.Default.css#L94-L96

[2021-11-29 18:03] bschmalhofer commented on #1462
The explanation for this effect is simple. In the file _/opt/otobo-docker/docker-compose/otobo-override-https-kerberos.yml_ there is a list of variables that are read from the _.env_ file and then set as environment variables in the container.

OTOBO_NGINX_KERBEROS_KEYTAB is not in that list, thus the Nginx envsubs mechanism can't do the replacement.

Notice that OTOBO_NGINX_KERBEROS_KEYTAB is use

[2021-11-29 18:22] bschmalhofer commented on #1462
The precise question is answered, so this issue can be closed.

But the setup is still confusing that when the  **otobo-nginx-kerberos-webproxy** image is used. In that case the Kerberos config settings are currently commented out, and it is not trivial to change that. Especially keeping the changes when a container is shut down and started again.

[2021-11-29 18:23] bschmalhofer opened #1465 "Provide a nginx config file dedicated to nginx-kerberos"
The precise question is answered, so this issue can be closed.

But the setup is still confusing that when the  **otobo-nginx-kerberos-webproxy** image is used. In that case the Kerberos config settings are currently commented out, and it is not trivial to change that. Especially keeping the changes when a container is shut down and started again.

_Originally posted by @bschmalhofer in https://gi

[2021-11-29 18:24] #1462 closed, assigned to bschmalhofer

[2021-11-29 21:22] bschmalhofer commented on #1465
Provided a Nginx config template with activated Kerberos settings. Use the new config in the nginx-kerberos Docker image.

[2021-11-30 07:17] svenoe opened #1467 "Provide a better way to show and edit information as CustomerAccept, an About, etc."
Provide a better way to show and edit information as CustomerAccept, an About, etc.

[2021-11-30 16:10] bschmalhofer commented on #1457
See the pull request #1468 which was inadvertenly linked to the not yet existing issue #1547. Yet another Zahlendreher.

Anyways, the test cases have been added. Even found and fixed an error where the DOM has to be encoded in DiscardObjects(). Closing this issue.

[2021-11-30 16:10] #1457 closed, assigned to bschmalhofer

[2021-12-01 15:23] bschmalhofer commented on #1397
No bugs were reported. Closing this issue.

[2021-12-01 15:23] #1397 closed, assigned to bschmalhofer

[2021-12-01 16:23] bschmalhofer commented on #1458
A quick test worked. Closing this issue.

[2021-12-01 16:23] #1458 closed, assigned to bschmalhofer

[2021-12-01 17:33] svenoe opened #1470 "Encoding problem for ajax return in the "apache" variant of 10.1"
To see the effect visit /otobo/index.pl?Action=AgentStatistics;Subaction=Add and with a German profile click e.g. on "Dynamische Matrix".

![Screenshot_20211201_120839](https://user-images.githubusercontent.com/48322755/144284680-696c6e64-d60b-42d1-9fae-59d26b4d9ebf.png)

This is currently fetched in line 63 of var/httpd/htdocs/js/Core.Agent.Statistics.js, the probably important side is Kernel/Mod

[2021-12-01 18:29] svenoe opened #1471 "Elasticsearch self repair and handling of "valid" error responses"
If for some reason the creation of a ticket in Elasticsearch fails, all subsequent article creations and other ticket updates will fail. We receive a clear error response though, and should use it to try to create the ticket a second time. While at it, we could filter out errors from not being able to handle specific files (like encrypted files, etc.) from the ingest plugin, and maybe put an info

[2021-12-02 10:19] bschmalhofer commented on #1470
First surprise, the Umlaute look as expected to me. Tested with  running Firefox 94.0  and Chromium Version 96.0.4664.45 under Linux. So this effect might be browser dependent. But let's see what possible could go wrong.

The page http://localhost/otobo/index.pl?Action=AgentStatistics;Subaction=Add looks initially fine. The content-type is not surprisingly **ext/html; charset=utf-8**. Clicking on

[2021-12-02 10:52] bschmalhofer commented on #1470
Declaration as UTF-8 can done with the parameter **Charset** UTF-8 in the method `Kernel::Output::HTML::Layout::Attachment()`.

Let's try whether adding the Charset parameter fixes the problem.

[2021-12-02 12:23] bschmalhofer commented on #1470
Testing this in the virtual OTOBO installation where the error was noticed. Opening the snippet, without the fix from https://github.com/RotherOSS/otobo/commit/32119fa1512df9624de7a5da7650bbe7f9874fee, shows a sane 'ö'. Doublechecking the page info,  "Extras" -> "Seiteninformationen" confirms that the virtual OTOBO delivers the page content as ISO-8859-1, or windows-1252. This means that for some

[2021-12-02 12:42] bschmalhofer commented on #1470
PR is merged. Created a new virtual OTOBO for the rel-10_1 branch. The page otobo/index.pl?Action=AgentStatistics;Subaction=Add looks fine. Closing this issue.

[2021-12-02 13:12] svenoe commented on #1470
There are probably 200 instances where Attachment() is called and likely returned somewhere. Do you know at which place the encoding was "fixed" in 10.0? Because either we have to check all places individually, or we should try to change this in a common spot... I will reopen this for the moment, if I misunderstood something, please just close it again.

[2021-12-02 14:40] RGronau opened #1473 "Rendering fails in CustomerTicketZoom if dynamic fields of type 'Title' are too long"
Hello all,

If you show dynamic fields of the type 'Title' that are too large, the layout is destroyed. (See screenshot)

![grafik](https://user-images.githubusercontent.com/95427123/144442803-864e76a0-ca72-44e0-853c-6eaa037d857f.png)

Best regards

Ralf

[2021-12-02 15:01] svenoe commented on #1473
Thanks for letting us know.

Somewhere an overflow: hidden has to be included to the form or fieldset most likely. (Probably present in 10.0.)

[2021-12-02 18:02] bschmalhofer commented on #1470
TODO:

- [x] Check the calls to `->Attachment()` for other problematic cases

[2021-12-03 07:44] RGronau opened #1474 "It is impossible to find out the field names if they are too long."
Hello all

Even hovering over it does not show the name. It is therefore impossible to find out which fields have already been entered! Once there are 20, 30, 100, 200 fields in there. What do you do then? You would have to use an external Excel list to remember which fields are in which row.

A workaround solution would be simple.
Change the ratio of field names to values to 50:50.

A better solu

[2021-12-03 08:14] svenoe commented on #1474
Hi RGronau,

I see your point, without having tested it, you could quite likely use the import-export functionality for the SysConfig, though. Also care would have to be taken when changing the size, because in other cases, where you have nested structures a plain 1:1 ratio is also not, what you want. I will add this to the list of possible enhancements and close the issue for now. I don't see thi

[2021-12-03 08:14] #1474 closed, assigned to nobody

[2021-12-03 10:52] geralwo opened #1475 "Tickets get locked on FollowUp even if the owner is root@localhost"
Behavior in 10.0:
After activating "Ticket::EventModulePost###2700-ForceOwnerResetOnMove" the owner of the Ticket changes to root@localhost on queue change. If a FollowUp happens, the ticket gets locked for root@localhost, so nobody gets the notification on the FollowUp.

Behavior in 10.1:
On unlock of a ticket, the owner changes to root@localhost, so the same problem happens, where nobody get not

[2021-12-03 14:25] bschmalhofer commented on #1462
Another related issue concerns the file _/etc/krb5.conf_ in the nginx-kerberos image. Currently this is expected to be created by the user and mounted  from a file on the Docker host.
But there already is a sample file _scripts/nginx/kerberos/krb5.conf_ which contains placeholder variable for variables from the _.env_ file. The plan is that the sample _krb5.conf_ is included in the image and that

[2021-12-03 14:26] bschmalhofer opened #1476 "Provide a configurable default krb5.conf file"
Another related issue concerns the file _/etc/krb5.conf_ in the nginx-kerberos image. Currently this is expected to be created by the user and mounted  from a file on the Docker host.
But there already is a sample file _scripts/nginx/kerberos/krb5.conf_ which contains placeholder variable for variables from the _.env_ file. The plan is that the sample _krb5.conf_ is included in the image and that

[2021-12-04 11:11] bschmalhofer opened #1478 "Don't use Plack::Loader::SyncWitS3 when OTOBO_SYNC_WITH_S3=0 is set"
When

is set in _.env_ then plackup uses the loader `Plack::Loader::SyncWitS3`. This because of a check in _bin/docker/entrypoint.sh_ ,

It is not obvious why this hasn't been noticed before. A possibility is that the loader SyncWithS3 was always used but happened to work even when S3 was not activated.

[2021-12-04 12:44] bschmalhofer commented on #545
Reading the documentation of File::Temp I find that this is trickier than expected, and I agree that keeping Kernel::System::FileTemp might be useful.
However, looking at the code in _Kernel/Modules/AgentTicketAttachment.pm_, I still find that the object oriented interface of File::Temp would be the better approach. My impression is that Kernel::System::FileTemp first makes an effort to make the c

[2021-12-04 13:40] bschmalhofer commented on #545
There was an inconstent usage of the file handle returned from Kernel::System::FileTemp::TempFile(). The applied PR aligns the usage in Kernel/Modules/AgentTicketAttachments.pm with the saner usage Kernel/System/Crypt/PGP.pm, A test with the formatter wc -l gave the expected result.

[2021-12-04 15:30] bschmalhofer commented on #1478
The service web now starts up again just fine. Test suite looks good. Closing this issue.

[2021-12-04 15:30] #1478 closed, assigned to bschmalhofer

[2021-12-04 15:52] bschmalhofer commented on #1239
Hi Markus, @markus-gitdev ,

these issues are handled in #1462 and #1465, and #1476. Fixes are planned for OTOBO 10.0.14. Closing this issue.

Best regards,
   Bernhard

[2021-12-04 15:52] #1239 closed, assigned to bschmalhofer

[2021-12-05 18:18] bschmalhofer opened #1481 "Move the writing of the PerformanceLog into a middleware"
Things like access logs seem to make more sense as a middleware than as integrated into the interface modules. The changed behaviour would be that the Login-Requests and the failed PreApplication modules would be logged too, But IMHO this is more a feature than a bug.

[2021-12-06 01:31] StefanRother-OTOBO opened #1482 "Send only escalation notification to subscribed agents in OTOBO default"
The following configuration changes are implemented in OTOBO 10.1 to make the system easier to handle.

1.) Up to now, escalation notifications were sent to all agents with write permission - and additionally! - to all agents who have subscribed to the affected queue under "My Queues".In future, escalations will only be sent (in the default setting) if the agent has subscribed to the queue under "

[2021-12-06 01:36] StefanRother-OTOBO commented on #1482
Up to now, escalation notifications were sent to all agents with write permission - and additionally! - to all agents who have subscribed to the affected queue under "My Queues".In future, escalations will only be sent (in the default setting) if the agent has subscribed to the queue under "My Queues" and is therefore also responsible.

[2021-12-06 01:36] #1482 closed, assigned to StefanRother-OTOBO

[2021-12-06 02:46] StefanRother-OTOBO opened #1483 "In AgentTicketZoom, the open and closed tickets of the CustomerUser are now also displayed"
The following configuration changes are implemented in OTOBO 10.1 to make the system easier to handle.

In AgentTicketZoom, the open and closed tickets of the CustomerUser are now also displayed in the customer information. Furthermore, the open tickets now also show the new tickets, which was not the case before.

[2021-12-06 02:50] #1483 closed, assigned to StefanRother-OTOBO

[2021-12-06 03:13] StefanRother-OTOBO opened #1484 "The following configuration changes are implemented in OTOBO 10.1 to make the system easier to handle."
The following configuration changes are implemented in OTOBO 10.1 to make the system easier to handle.

 Ticket::ZoomTimeDisplay activated
Ticket::Frontend::TicketArticleFilter activated
Ticket::Frontend::PlainView activated -> Administrators can now view all articles in AgentTicketZoom in plain mode.
Ticket::Frontend::AgentTicketNote###InformAgent activated -> In AgentTicketNote, communication be

[2021-12-06 08:50] bschmalhofer commented on #1481
Moved this to Wishlist, as the current performance log depends on having logging set up and that the user data is available. IMHO both of these are not really needed for a performance log.

[2021-12-06 09:42] RGronau commented on #1473
...one more hint. This also happens if you have placed a dynamic text field and then resize it in the customer portal at runtime.

[2021-12-06 09:53] RGronau opened #1485 "If there is a default value in a dynamic field, then this value is overlaid in the customer portal by the field designation."
Hello all,

If you store a standard text in a dynamic variable, then the field heading should not appear in the field when it is displayed in the customer portal. This is because both overlap in a strange way and neither can be read correctly. You then have to click in the field to be able to read the content completely.

<img width="389" alt="Otobo_Issue_1" src="https://user-images.githubusercont

[2021-12-06 10:11] svenoe commented on #1485
Which OTOBO version are you running? This is already fixed in any case, but maybe not yet released. In the latter case it will come with the next update.

Thanks, Sven

[2021-12-06 10:11] #1485 closed, assigned to nobody

[2021-12-06 14:59] bschmalhofer commented on #1470
Checked the calls to `Attachment()`. Most of them looked sensible, but for some I added the Charset='utf-8' declarations.

[2021-12-06 17:08] bschmalhofer commented on #1470
TODO: check whether one of these test failures is related to the changes:

[code]

[2021-12-07 08:42] StefanRother-OTOBO opened #1486 "OTOBO Statistics Enhancement"
OTOBO Statistics Enhancement

With OTOBO 10.1 it will now be possible to generate reports as well as statistics.
Several statistics can now be summarised and formatted attractively, combined into one report and sent automatically if required.

[2021-12-07 10:01] bschmalhofer commented on #1470
There has been an issue with an missing or misspelled Charset declaration for JSON responses. Checking RFC8259, https://datatracker.ietf.org/doc/html/rfc8259, I see that the charset declaration is optional:

Therefore Kernel::System::Web::Response::Finalize() should encode all JSON responses, that is responses with Content-Type: application/json.

[2021-12-07 10:02] bschmalhofer opened #1487 "Encode JSON responses as UTF-8"
There has been an issue with an missing or misspelled Charset declaration for JSON responses. Checking RFC8259, https://datatracker.ietf.org/doc/html/rfc8259, I see that the charset declaration is optional:

Therefore Kernel::System::Web::Response::Finalize() should encode all JSON responses, that is responses with Content-Type: application/json.

_Originally posted by @bschmalhofer in https://git

[2021-12-07 10:47] bschmalhofer commented on #1487
PR is merged and a very quick test showed no error. Closing this issue.

[2021-12-07 10:47] #1487 closed, assigned to bschmalhofer

[2021-12-07 12:02] bschmalhofer commented on #1484
Adapted the test script _scripts/test/Selenium/Agent/Admin/AdminSystemMaintenance.t_ to the changed default for TimeNotifyUpcomingMaintenance. The setting changed from 30 to 120.

[2021-12-07 12:02] #1484 closed, assigned to StefanRother-OTOBO

[2021-12-07 13:26] StefanRother-OTOBO opened #1491 "ReadyToAdopt web services added to OTOBO!"
ReadyToAdopt web services added to OTOBO!

Currently, three sample web services have been added to OTOBO:

- Bugzilla
- Jira
- OTOBO

[2021-12-07 13:30] #1491 closed, assigned to StefanRother-OTOBO

[2021-12-07 16:12] StefanRother-OTOBO opened #1492 "ReadyToAdopt processes added to OTOBO!"
ReadyToAdopt web services added to OTOBO!

Hier können Sie Ready2Adopt-Prozesse zur Demonstration unserer Best-Practices aktivieren. Bitte beachten Sie, dass eventuell weitere Einstellungen erforderlich sind.

[2021-12-07 18:13] #1492 closed, assigned to StefanRother-OTOBO

[2021-12-07 18:14] #1373 closed, assigned to bschmalhofer, svenoe, StefanRother-OTOBO

[2021-12-07 18:18] StefanRother-OTOBO commented on #1372
I have changed it to otobo-schema.xml, everything should be correct.

[2021-12-07 18:18] #1372 closed, assigned to StefanRother-OTOBO

[2021-12-07 18:22] StefanRother-OTOBO commented on #593
Button exists, done.

[2021-12-07 18:22] #593 closed, assigned to nobody

[2021-12-07 18:22] #594 closed, assigned to svenoe

[2021-12-07 18:23] StefanRother-OTOBO commented on #1377
For the moment everything is fine, our new package manager is the future.

[2021-12-07 18:23] #1377 closed, assigned to bschmalhofer

[2021-12-07 18:27] StefanRother-OTOBO commented on #1249
Hi Bernhard, I think there is nothing against it.

Thanks Stefan

[2021-12-07 18:33] StefanRother-OTOBO commented on #1170
Hi,

I think this bug is fixed. If this is not the case, please let me know again.

Thanks,

Stefan
Team OTOBO

[2021-12-07 18:33] #1170 closed, assigned to bschmalhofer

[2021-12-07 18:36] #852 closed, assigned to StefanRother-OTOBO

[2021-12-07 18:38] StefanRother-OTOBO commented on #846
Hi Micha,

thanks for the info, but I can't reproduce this error in the last 50 Migrations. So I think we have fixed this error.

Best wishes,

Stefan

[2021-12-07 18:38] #846 closed, assigned to StefanRother-OTOBO

[2021-12-07 18:39] StefanRother-OTOBO commented on #842
Implemented in OTOBO 10.1. Thanks!

[2021-12-07 18:39] #842 closed, assigned to StefanRother-OTOBO

[2021-12-07 18:40] StefanRother-OTOBO commented on #808
Hi Kubas,

sorry for the late answer. We are on fire at the moment.
This bug has already been fixed.

Thanks!

Stefan

[2021-12-07 18:40] #808 closed, assigned to nobody

[2021-12-07 18:42] StefanRother-OTOBO commented on #783
Hi Frankii,

sorry for the late answer. It's possible to add the salutation and signature directly at AdminQueue.

Best wishes from Germany!

Stefan

[2021-12-07 18:42] #783 closed, assigned to nobody

[2021-12-07 18:44] StefanRother-OTOBO commented on #782
Hi,

Perl Services build a package for this behavior at https://otopar.perl-services.de/package/download/1655

Best wishes from Germany!

Stefan
Team OTOBO

[2021-12-07 18:44] #782 closed, assigned to nobody

[2021-12-07 18:45] #696 closed, assigned to nobody

[2021-12-07 18:46] StefanRother-OTOBO commented on #695
Fixed with our new Elasticsearch module.

[2021-12-07 18:46] #695 closed, assigned to nobody

[2021-12-07 19:05] StefanRother-OTOBO commented on #69
No Performance issues. Close

[2021-12-07 19:05] #69 closed, assigned to svenoe

[2021-12-07 19:07] StefanRother-OTOBO commented on #193
Hi Bernhard,

I think we can close this issue, cause the S3 interface exists now?

Thanks,

Stefan

[2021-12-07 19:37] bschmalhofer commented on #241
There are significant changes between 10.0 and 10.1 as new tables have been added. I'd guess that running the update script would suffice. Of course best done automatically.

[2021-12-07 20:21] bschmalhofer commented on #1486
TODO:

- [x] test scripts need to initialize $Kernel::OM. `use Kernel::System::UnitTest::RegisterDriver;`

[2021-12-07 23:07] frankii91 commented on #782
I will be great to update it then I will check it.

[2021-12-08 08:11] bschmalhofer commented on #193
@StefanRother-OTOBO not really, the S3 backend is with regard to articles analogous to the DB articles. But maybe we should expand the question into how to achieve cleaner seperation between code and data.

[2021-12-08 08:59] bschmalhofer commented on #1422
Looks like things got better. Closing this issue.

[2021-12-08 08:59] #1422 closed, assigned to bschmalhofer

[2021-12-08 12:03] bschmalhofer commented on #1486
Adapted the test scripts related statistics reports.
Fixed two more test scripts that turned out to be related to changes in the default settings.

Closing the issue again.

[2021-12-08 12:03] #1486 closed, assigned to StefanRother-OTOBO

[2021-12-08 15:40] bschmalhofer commented on #1492
See also #1491

[2021-12-08 16:02] bschmalhofer commented on #1106
See also #1470.

[2021-12-11 12:59] bschmalhofer commented on #1481
Checked again whether the user information is used anywhere in the AdminPerformanceLog frontend module. Thus I propose to remove that information from the performance logfile and to move the performance log functionality into a middle ware.

[2021-12-11 13:05] bschmalhofer commented on #1481
While looking into this I noticed that the detailed view of the performance log is off.

![Bildschirmfoto vom 2021-12-11 14-00-07](https://user-images.githubusercontent.com/46019/145677398-038201b3-b6d8-4e49-b777-a9676e39dcfa.png)

This is from a fresh installation that is only some minutes old. The data seems to be correctly aggregated by 1 minute but the date in the very left column varies by ho

[2021-12-11 13:09] bschmalhofer commented on #1481
While looking into this I noticed that the time to create a response is measured by seconds. I see no reason for not measuring by milliseconds. Maybe once upon a time there were problems with Time::HiRes when running under windows.

I consider this as a bug.

[2021-12-11 13:10] bschmalhofer opened #1499 "Incorrect dates in detail view of AdminPerformanceLog"
While looking into this I noticed that the detailed view of the performance log is off.

![Bildschirmfoto vom 2021-12-11 14-00-07](https://user-images.githubusercontent.com/46019/145677398-038201b3-b6d8-4e49-b777-a9676e39dcfa.png)

This is from a fresh installation that is only some minutes old. The data seems to be correctly aggregated by 1 minute but the date in the very left column varies by ho

[2021-12-11 13:11] bschmalhofer opened #1500 "Unprecise time taking in AdminPerformanceLog"
While looking into this I noticed that the time to create a response is measured by seconds. I see no reason for not measuring by milliseconds. Maybe once upon a time there were problems with Time::HiRes when running under windows.

I consider this as a bug.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1481#issuecomment-991638184_

[2021-12-11 13:20] bschmalhofer commented on #1499
Looks like this bug was introduced in 2017 by https://github.com/OTRS/otrs/commit/6da5466ff3f240bf92d0d5e7250e870d2397fd2a.

[2021-12-11 13:54] bschmalhofer commented on #1499
Removed a factor of 60 when subtracting minutes from the current time. The detail view looks now sane. Closing this issue.

[2021-12-11 13:54] #1499 closed, assigned to bschmalhofer

[2021-12-11 16:59] bschmalhofer commented on #1500
Use Time::HiRes for the measurements. Show the milliseconds in the frontend module.
Looks good so far, closing this issue.

[2021-12-12 11:53] bschmalhofer commented on #1481
While we are at it:

- rotate the file with File::Write::Rotate, or File::RoundRobin, or RRDtool files
- use `Time::HiRes::tv_interval()`for taking the time

[2021-12-13 14:34] bschmalhofer commented on #1476
The replacement of the placeholders for the environment can't be done in the image itself. This means that the replacement should be done when starting up. This can be done with the same approach as taken in _/docker-entrypoint.d/20-envsubst-on-templates.sh_  .

Note that _/etc/krb5.keytab_ then still needs to be mounted from the host.

TODO:

- [ ] What is the best approach when further adaptions

[2021-12-13 14:53] bschmalhofer opened #1503 "Docker: Show whether OTOBO is running under Docker"
Usually the environment varialbe OTOBO_RUNS_UNDER_DOCKER can be used for that.

There is also the file _/.dockerenv_ which should be present in the Docker case. Not sure how reliably that is. See https://github.com/testcontainers/testcontainers-java/issues/3681 .

[2021-12-13 15:48] bschmalhofer opened #1504 "Docker Hub: implement policy concerning the 'latest' tag"
Current every new release, regardless whether in 10.0 or on 10.1, sets the lag 'latest'. This does not make sense at all when there is more than on maintained branch.

TODO:

- [x] define a policy which labels should be set
- [x] implement it, propable in _hooks/post_push_

[2021-12-14 07:13] svenoe opened #1505 "Update to the latest version of Elasticsearch."
This only affects the docker branch. Although we are not reachable from the outside, elastic claims that remote code execution is not possible and to our understanding neither DNS lookups, as we are on JDK 16, we should update to Elasticsearch 7.16.1 just for extra safety.

[2021-12-14 08:39] bschmalhofer commented on #1465
There are now two versions of the nginx-config file. This solved this particular issue. Closing this issue.

But further work is needed. See #1476.

[2021-12-14 08:39] #1465 closed, assigned to bschmalhofer

[2021-12-14 08:41] bschmalhofer commented on #1317
No complaints so far. closing this issue.

[2021-12-14 08:41] #1317 closed, assigned to bschmalhofer

[2021-12-14 08:42] bschmalhofer commented on #1250
This is not required for 10.0.14.

[2021-12-14 08:57] #1505 closed, assigned to svenoe

[2021-12-14 10:10] svenoe opened #1506 "Explicitely check transition conditions for follow up transitions and allow processes to have empty starting dialogs."
We are enhancing how processes can be used with this comparatively small change significantly. Basically after a transition is completed, it will be explicitly checked, whether the conditions for the next transition are also fulfilled already and if so, it will be executed. This requires conscious setup of the processes, but it enables the admin to set up transition chains with various entry point

[2021-12-14 10:14] svenoe commented on #1506
Basic functionality is implemented. Maybe some visual improvements or so will still come, closing the issue for now, though.

[2021-12-14 10:14] #1506 closed, assigned to svenoe

[2021-12-14 14:52] dominikfuller opened #1507 "OTOBO Dashboard Spalten hinzufügen"
Wenn man auf dem Agent-Dashboard auf eines der Zahnrädchen für die Einstellungen klickt und dort Spalten hinzufügen oder verändern will und dieses anspeichert, werden die Änderungen nicht übernommen.

[2021-12-14 15:04] svenoe commented on #1507
Hi Dominik,

ich kann das leider nicht nachvollziehen (= bei mir funktioniert ein kurzer Test). Könntest du bitte die Version schreiben, die du nutzt, ein, zwei Bilder machen, die veranschaulichen, was du genau machst, und am besten mal die logs angucken, ob es irgendwelche Fehlermeldungen gibt? Gerade falls letzteres der Fall ist, wäre es uns auch lieb, wenn du erstmal in den [Foren](https://otob

[2021-12-14 15:07] dominikfuller commented on #1507
hi, ich habs auch im Demo versucht.... https://demo.otobo.org/otobo/index.pl
![01](https://user-images.githubusercontent.com/96129962/146024362-5908afb6-67a4-49b2-a626-48b1e66e0aa8.JPG)
![02](https://user-images.githubusercontent.com/96129962/146024369-0e70d7c2-ffe2-41f6-840f-b0249005874a.JPG)

[2021-12-14 15:30] dominikfuller commented on #1507
im syslog steht:
Dec 14 16:29:57 dedb-linapp04 OTOBO-CGI-22[5631]: [Error][Kernel::System::User::UserLookup][Line:1036]: No UserLogin found for '2'!
Dec 14 16:29:57 dedb-linapp04 OTOBO-CGI-22[5631]: [Error][Kernel::System::User::Preferences::DB::SetPreferences][Line:94]: Cannot add or update a child row: a foreign key constraint fails (`otobo`.`user_preferences`, CONSTRAINT `FK_user_preferences_us

[2021-12-14 15:49] bschmalhofer commented on #1500
Looks like _scripts/test/SysConfig/RebuildConfigBug14259.t_ is complaining about Time::HiRes::sleep not being available. Reopening.

[2021-12-14 16:19] bschmalhofer commented on #1349
CodePolicy is happy, besides a very minor code layout tidying in _Kernel/Modules/CustomerTicketMessage.pm_ . Closing this issue.

[2021-12-14 16:19] #1349 closed, assigned to nobody

[2021-12-14 16:29] bschmalhofer commented on #1500
Added `use Time::HiRes qw()`in five test scripts. Ran the individual tests. Looks good. Closing this issue again.

[2021-12-14 16:29] #1500 closed, assigned to bschmalhofer

[2021-12-14 21:09] #1507 closed, assigned to nobody

[2021-12-15 09:36] svenoe commented on #1467
Working

[2021-12-15 09:36] #1467 closed, assigned to svenoe

[2021-12-15 15:54] svenoe opened #1509 "Make Eventhandler more robust."
Event modules should work as independent entities. Thus execute event modules within eval to ensure execution of all other modules even if one fails.

[2021-12-15 15:56] #1509 closed, assigned to svenoe

[2021-12-16 13:15] bschmalhofer commented on #1471
@svenoe
I started looking into this. My understanding is that there already is generic support for error handling. That is line 619 in  _Kernel/GenericInterface/Requester.pm:

So the first line of investigation would be adding a `HandleError()` method in _Kernel/GenericInterface/Invoker/Elasticsearch/TicketManagement.pm_ .
I was wondering how to provoke an error in submitting the ticket to ES. The

[2021-12-16 13:24] bschmalhofer commented on #1317
There is a bug in line 212 of _Kernel/System/MigrateFromOTRS/OTOBOFrameworkVersionCheck.pm_. The check is for OTOBO 10.1 while it should check for 10.0. The culprit was the commit  a07956d, https://github.com/RotherOSS/otobo/commit/a07956daacd5a5785a3af1a67f730deace7f67ab .

This bug  was reported in the OTOBO Forum:
https://otobo.de/en/forums/topic/fehler-bei-der-vorpruefungen-zur-migration/

[2021-12-16 13:25] bschmalhofer opened #1510 "Migration: incorrect version check for the OTOBO release"
There is a bug in line 212 of _Kernel/System/MigrateFromOTRS/OTOBOFrameworkVersionCheck.pm_. The check is for OTOBO 10.1 while it should check for 10.0. The culprit was the commit  https://github.com/RotherOSS/otobo/commit/a07956daacd5a5785a3af1a67f730deace7f67ab .

This bug  was reported in the OTOBO Forum:
https://otobo.de/en/forums/topic/fehler-bei-der-vorpruefungen-zur-migration/

_Originally

[2021-12-16 13:51] bschmalhofer commented on #1510
TODO:

- [x] Testmigration with OTOBO 10.0.x as target
- [x] Testmigration with OTOBO 10.1.x as target

[2021-12-16 15:22] bschmalhofer commented on #1510
Tested the migration with OTOBO 10.1.x under Apache as the target. The version check is fine. So the issue can be closed.

But there is another error right after the OTOBO version check. Opening a new issue for that,
![Bildschirmfoto vom 2021-12-16 16-21-01](https://user-images.githubusercontent.com/46019/146398932-4d9bd258-f524-4c60-bd99-d8c95c4206a9.png)

[2021-12-16 15:22] #1510 closed, assigned to bschmalhofer

[2021-12-16 15:22] bschmalhofer opened #1512 "Migration: Perl module check with OTOBO running under Apache"
Tested the migration with OTOBO 10.1.x under Apache as the target. The version check is fine. So the issue can be closed.

But there is another error right after the OTOBO version check. Opening a new issue for that,
![Bildschirmfoto vom 2021-12-16 16-21-01](https://user-images.githubusercontent.com/46019/146398932-4d9bd258-f524-4c60-bd99-d8c95c4206a9.png)

_Originally posted by @bschmalhofer in h

[2021-12-16 15:58] bschmalhofer commented on #1512
The error comes from the effect that `bin/otobo.CheckModules.pl` exits with an error when run as part of migration.pl under Apache. No problems are encountered when calling the same script on the command line.
The specific error is that the module CGI::PSGI cannot be loaded. CGI::PSGI is a new dependency in rel-10_1, that's why this problem does not occur in rel-10_0. The error hasn't been seen un

[2021-12-16 16:02] bschmalhofer commented on #1512
The "delete local" construct allows temporarily hiding an environment variable, see https://www.effectiveperlprogramming.com/2010/08/temporarily-remove-hash-keys-or-array-elements-with-delete-local/.

[2021-12-16 16:48] bschmalhofer commented on #1512
A test migration targeting OTOBO 10.1.x running under Apache looked fine. Closing this issue.

[2021-12-16 17:04] #1512 closed, assigned to bschmalhofer

[2021-12-16 17:50] svenoe commented on #1471
The problem is, that if I understand correctly the real error message does not reach this point because of https://github.com/RotherOSS/otobo/blob/b6845c9bb0b25eca5241b425da7e94a97c56cc76/Kernel/GenericInterface/Transport/HTTP/REST.pm#L880-L883 where `$ResponseError` contains some not so useful information. But probably(?) you are right and we should use this method, but give it useful data.

As t

[2021-12-17 14:09] bschmalhofer commented on #1296
While looking into this I noticed that in _Kernel/System/MigrateFromOTRS/CloneDB/Backend.pm_ the following hash is set up:

[code]
It looks like this setup has no effect at all. Should be tidied in rel-10_1.

[2021-12-17 14:10] bschmalhofer opened #1515 "Migration: Remove %CheckEncodingColumns"
While looking into this I noticed that in _Kernel/System/MigrateFromOTRS/CloneDB/Backend.pm_ the following hash is set up:

[code]
It looks like this setup has no effect at all. Should be tidied in rel-10_1.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1296#issuecomment-996750804_

[2021-12-17 16:11] bschmalhofer commented on #1296
Closed inadvertently.

[2021-12-17 16:59] bschmalhofer commented on #1296
This funny renaming is happening in the migration step OTOBOMigrateConfigFromOTRS. This step happens after the database tables, including the table _sysconfig_modified_ were transfered. The SysConfig is dumped as a YAML string into the file _SysConfigDump.sysconf_ . Then there are string replacements working on that file. The change file is then reimported in the SysConfig.

The relevant replaceme

[2021-12-17 18:06] bschmalhofer commented on #1296
Added the stop filter for lines containing AuthUser.

TODO:

- [x] do another test migration before merging the PR

[2021-12-17 19:35] bschmalhofer commented on #1296
Well, the  dump of the SysConfig is more verbose than guessed. The stop filter by line does not do the job;

Another idea is needed.

[2021-12-18 09:33] bschmalhofer commented on #1296
Hi OTOBO-Team,

I propose the following plan:

- Refactor OTOBOMigrateConfigFromOTRS so that replacements can set up specific for settings in the SysConfig
- Set up the replacement of the OTRS home with the OTOBO home for all settings, usually replace _/opt/otrs_ by _/opt/otobo_
- OTOBO consultants check deployment history of recent migrations for other sensible replacements
- add the sensible rep

[2021-12-20 11:09] bschmalhofer commented on #1296
This was discussed in the OTOBO-Team and the conclusion was to move this issue to 10.1.
TODO:

- [ ] Discuss whether AuthUser should be replaced automatically. The decision is not obvious as some users do want to change the name of the SMTP user, while others do not.

[2021-12-20 12:00] bschmalhofer opened #1517 "Move the HTTPSForceRedirect handling to a Plack Middleware"
It is recommended that the TLS termination proxy redirects from HTTP to HTTPS. When this is not possible then the SysConfig setting HTTPSForceRedirect forces the redirect. But in this case I see no reason why this should not be done for all interface modules. Currently only a subset of modules check for the setting.

bes:~/devel/OTOBO/otobo (rel-10_1)$ grep -r HTTPSForceRedirect Kernel/System/Web

[2021-12-20 13:53] bschmalhofer opened #1518 "Review SSL configuration for Nginx"
A new minor release is a good point in time for reviewing default configs. Here is the review of the SSl-configuration for Nginx, the TLS terminating service.
Basis for this review is the configuration recommended by https://ssl-config.mozilla.org/ and the recommendations of the German Bundesamt für Sicherheit in der Informationstechnik, https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikat

[2021-12-21 12:05] bschmalhofer opened #1520 "Apache: refer to scripts/apache2-httpd-cgi.include.conf when mod_perl is not available"
The configuration _scripts/apache2-httpd.include.conf_ is the default configuration that uses `Plack::Handler::Apache2`. The handler requires _mod_perl_ and there is no fallback when _mod_perl_ is not available.

When _mod_perl_ is not available there should be some kind of error message that recommends to either enable _mod_perl_ or to switch to _scripts/apache2-httpd-cgi.include.conf_. This conf

[2021-12-21 14:06] bschmalhofer commented on #1471
Investigated which clients can be used for manipulating Elasticsearch. Curator, https://www.elastic.co/guide/en/elasticsearch/client/curator/current/about.html, does not do the job, as it is intended for the maintenance of indices. Fell back to using a small script based on Search::Elasticsearch, https://metacpan.org/pod/Search::Elasticsearch.

Checked what happens when updating the queue of a tic

[2021-12-21 14:49] bschmalhofer commented on #1518
Did a sanity check by performing a test migration to a Docker based installation of OTOBO. Looks good. Thus merged the changed config.
Keep the issue open for a while, see whether problems crop up.

[2021-12-21 16:45] bschmalhofer commented on #1515
A test mgration looked fine. The PR is merged. Closing this issue.

[2021-12-21 16:45] #1515 closed, assigned to bschmalhofer

[2021-12-22 14:18] bschmalhofer opened #1523 "Speeling: SizeExeeded -> SizeExceeded"
The attribute SizeExeeded is misspelled in the response of `Kernel::GenericInterface::Transport::HTTP::REST::RequesterPerformRequest()`.

Decide whether to leave this as is, fix the spelling or eliminate it altogether.

[2021-12-22 14:54] bschmalhofer commented on #1471
While looking into this, I noticed that there is a mixup of message for the generic interface debugger. When a mapping module can't be initialized then the error message of a previous function result is written into the debug log.
The underlying cause is the reusing of the variable `$FunctionResult`.

Creating an extra issue for this, as this is a bug.

[2021-12-22 14:55] bschmalhofer opened #1524 "Incorrect message when mapping modules can't be initialized."
While looking into this, I noticed that there is a mixup of message for the generic interface debugger. When a mapping module can't be initialized then the error message of a previous function result is written into the debug log.
The underlying cause is the reusing of the variable `$FunctionResult`.

Creating an extra issue for this, as this is a bug.

_Originally posted by @bschmalhofer in https

[2021-12-22 15:55] bschmalhofer commented on #1524
My impression is that the misleading debug message has been in the code since the beginning. Up to 2023-02-25 there also seems to have been an error where the non-existent method `$Self->DebuggerObject()` was called. See line 263 in Requester.pm in the commit https://github.com/znuny/Znuny/commit/36c373298584c351b756ade4fac13283b2757895#.
So I think that it is save to clean up the mess.

[2021-12-22 18:34] bschmalhofer commented on #1524
Running the test suite showed new errors:

However these error occur also without the changes for this issue. Thus the PR can be applied. Closing this issue.

[2021-12-22 18:34] #1524 closed, assigned to bschmalhofer

[2021-12-23 14:04] bschmalhofer commented on #1471
Digging deep into the Generic Interface code I find that there are at lease three opportunities for error handling.

1. Error handling modules in _Kernel/GenericInterface/ErrorHandling_ that were registered in the webservice configuration
2.  `HandleError()` methods in the Invoker backend
3. `HandleResponse()` with the parameter `ResponseSuccess      => 0`  in the Invoker backend

For the case 1 t

[2021-12-23 15:24] svenoe commented on #1471
As a quick comment - I do not see it as a real "redo with a twist", yes you are right for the case of rebuilding the complete ticket it definitely is (and yes, care has to be taken to not run into loops), but it has other purposes, too, e.g. if the ingest plugin which extracts data from an attachment returns that it cannot handle encrypted attachments, I don't want an error message in the logs, ma

[2022-01-03 08:40] stefanhaerter commented on #81
Could the get_info method be of use here? https://metacpan.org/pod/DBI#get_info
As far as I understand the code, the version check could be placed in Kernel/Modules/Installer.pm, function CheckDBRequirements. Is this correct?

[2022-01-03 09:34] bschmalhofer commented on #81
Yes, using a database driver independent method sounds like a good idea. In case that doesn't suffice there are also driver specific methods and attributes, like https://metacpan.org/pod/DBD::mysql#Private-MetaData-Methods.

CheckDBRequirements() looks like a good place where this check can be added.

[2022-01-03 09:48] stefanhaerter commented on #81
In a post from perlmonks it was stated that the get_info method was (only?) for OCDB. The post origins from 2010, so I hope that the method was adapted to other database drivers in the meantime. I will research for further information on this possibility.

[2022-01-03 10:39] StefanRother-OTOBO opened #1526 "Default selection of disabled services from level two not possible"
Default selection of disabled services from level two not possible.

From OTOBO 10.1 it is possible to open the service tree by clicking on the name of the deactivated service. This only worked on the first level.

[2022-01-03 10:41] StefanRother-OTOBO commented on #1526
Fixed in OTOBO 10.1.1

[2022-01-03 10:41] #1526 closed, assigned to nobody

[2022-01-03 14:26] bschmalhofer commented on #1471
It looks the search in Elasticsearch and the search in the database are pretty much independent of each other. The database search, especially the article word index, is active per default. The Elasticsearch indexing must be set up as a web service.

There is the table attribute `article.search_index_needs_rebuild` which act as a dirty mark. Currently this is used only in the Console Commands  `Ma

[2022-01-04 11:46] bschmalhofer commented on #1520
With the applied PR, we get a helpful message when mod_perl is not activated.

[2022-01-04 11:53] bschmalhofer commented on #510
Finally, a test migration to OTOBO 10.1.1 has been performed. The version check looked fine. Closing this issue.

[2022-01-04 11:53] #510 closed, assigned to bschmalhofer

[2022-01-05 15:22] bschmalhofer commented on #1520
@StefanRother-OTOBO agreed that this is a good change. PR is merged. Closing this issue.

[2022-01-05 15:22] #1520 closed, assigned to bschmalhofer

[2022-01-06 11:20] StefanAbel-OTOBO opened #1530 "SearchProfile in Toolbar is not at the right place"
When activating Frontend::ToolBarModule###210-Ticket::TicketSearchProfile and use the Elasticsearch also, you see a slight height difference, which is slightly displeasing to the eye.
<img width="647" alt="image" src="https://user-images.githubusercontent.com/87359203/148375090-d501e015-f922-49e8-b43a-264ad1ef0830.png">

You can test it on OV71

I used Safari 15.2. It happens on OTOBO 10_0 as well

[2022-01-06 11:26] StefanAbel-OTOBO commented on #1205
When activating Frontend::ToolBarModule###210-Ticket::TicketSearchProfile and use the Elasticsearch also, you see a tiny height difference, which is slightly displeasing to the eye.
<img width="632" alt="image" src="https://user-images.githubusercontent.com/87359203/148375882-7d416015-bcf0-4e61-b26b-00aaf85962ae.png">

You can test it on OV71

I used Safari 15.2. It happens on OTOBO 10_0 as well a

[2022-01-06 11:27] StefanAbel-OTOBO commented on #1530
duplicate to [#1205]([https://github.com/RotherOSS/otobo/issues/1205])

[2022-01-06 11:27] #1530 closed, assigned to nobody

[2022-01-06 13:28] svenoe opened #1531 "Handle erroneously configured TreeView DynamicFields."
Select Fields in TreeView do not work if sub categories are set without the base category being present.
(E.g. plant::tree and plant::bush being used without plant being used. This is not always the case - see ov71 for an example.)

The nicest way to handle this, would probably be to add the node dynamically but disable its selection. Else at least a useful error message should appear somewhere.

[2022-01-06 14:55] StefanAbel-OTOBO opened #1532 "DashboardBackend###0000-ProductNotify can't connect (Product News)"
When activating DashboardBackend###0000-ProductNotify, it shows an error message:
Can't load cloud-service operation backend: PublicFeeds::ProductFeed!

<img width="566" alt="image" src="https://user-images.githubusercontent.com/87359203/148401842-1528dd76-2637-417b-94ba-c020487aad42.png">

@svenoe  proposed to de-active the System Configuration setting for now.

Can be tested on ov71

[2022-01-07 11:23] bschmalhofer commented on #1471
Discussed this issue with @svenoe and we concluded:

- Webservices are used predominately in extensions of OTOBO. Care must be taken that the interface is not changed.
- do an early check of errors which are expected, those shouldn't be logged as errors. Example: encrypted mails
- Maybe implement a general mechanism for error handling that mark errors as resolved
- In some error cases reindex the

[2022-01-07 12:01] reneeb commented on #1340
This is done in Kernel::System::User::UserList() (https://github.com/RotherOSS/otobo/blob/163c96b00a62d38e5509d3e595c69e256537a51d/Kernel/System/User.pm#L1177). Usually translations are done in the frontend part, not in the backend. So there is no perfect solution (yet).

[2022-01-07 12:19] reneeb commented on #1339
The linked PR avoids updates when the name of the parent queue wasn't updated. There are pro and contra arguments whether a name update of the parent queue should change the "last update" timestamp of the subqueues as it indeed changes the entry in the database.

The PR can be extended when it is decided that even a name change shouldn't change the "last update" timestamp.

[2022-01-07 12:50] reneeb commented on #1336
I would add some attributes to the sysconfig setting (XML) to define filters. The new setting (only relevant parts)

[code]
That way you have a generic way to define filters for Entity type settings. The backend modules get all the attributes passed and they can get the active values and use that for the "search".

[2022-01-07 12:53] reneeb commented on #1335
Maybe show a hint when the element is not for a "###DynamicField" setting. One _AgentTicketSearch_ is for the ###DynamicField setting, the other one for the ###DefaultColumns setting:

![grafik](https://user-images.githubusercontent.com/144096/148546739-baa1c8d9-2fff-4ece-b5ea-54a69c7f9fdc.png)

[2022-01-07 12:57] reneeb commented on #1334
IMHO this should be reported at https://github.com/RotherOSS/MasterSlave as this should be handled in the packagesetup script there.

Relevant are the lines after https://github.com/RotherOSS/MasterSlave/blob/7a866ef87ab43b6baeafd4263baebc30193a72e0/var/packagesetup/MasterSlave.pm#L340

[2022-01-07 13:06] reneeb commented on #1244
Did you check if the server sends the data utf-8 encoded or any other encoding?

[2022-01-07 13:21] reneeb commented on #1091
Which database system do you use? And can you describe a test case more detailed?

[2022-01-07 13:24] reneeb commented on #1035
This seems to be fixed in the meantime. At least in 10.1 beta1 I could reproduce the error...

[2022-01-07 13:35] reneeb commented on #773
Is this still relevant? Or was it fixed in the meantime?

[2022-01-07 13:47] reneeb commented on #1337
This seems to be related to https://github.com/RotherOSS/otobo/issues/625

[2022-01-07 14:24] bschmalhofer commented on #1471
Back to the drawing board as this is fairly confusing.
It looks like the annoying message is the

in `Kernel::GenericInterface::ErrorHandling::HandleError()` Currently this method is called in `Kernel::GenericInterface::Requester::_HandleError()`whenever the transport layer thinks that something is fishy. This can be changed by allowing error handling modules to specify whether the error message s

[2022-01-07 15:22] niccord commented on #1091
I found this issue using MySQL and otobo version 10.0.9.

Below you can find the code to reproduce it: copy and paste it inside the `bin` folder, then execute `perl bin/test.pl` via terminal:
[code]

A ticket with the title "change my password" will not be printed as a result.
The issue is not there in my dev environment as @stefanhaerter probably meant in his previous comment.

[2022-01-07 15:37] reneeb commented on #1091
What's the collation of the ticket table?

[2022-01-07 15:39] reneeb commented on #1091
`LIKE` is by default case insensitive. When something is binary (like some collations, or  `LIKE BINARY '%...%'`), then it is case sensitive... There might be other reasons that causes case sensitive queries as well.

[2022-01-07 15:47] niccord commented on #1091
Ok, here's probably where the issue lies:

**Local env, case insensitive**
Charset: utf8mb4
Collation: utf8mb4_unicode_ci

**Remote env, case sensitive**
Charset: utf8
Collation: utf8_bin

[2022-01-07 15:48] reneeb commented on #1266
I started a PR that should fix this issue...

[2022-01-07 15:52] reneeb commented on #1091
Yes, _utf8\_bin_ causes `LIKE` to be case sensitive... Can you change the collation and check again?

[2022-01-07 15:58] reneeb commented on #1503
I would recommend to not use DOCKER specific strings/files. Under RHEL 8, _podman_ is a drop-in replacement of docker, so _.dockerenv_ **might** not be there. I would recommend an env variable like _OTOBO\_RUNS\_IN\_A\_CONTAINER_ (or something like that).

[2022-01-07 16:07] reneeb commented on #1447
Process and Activity are special as they are always shown in process tickets:

see lines 1713 ..
https://github.com/RotherOSS/otobo/blob/163c96b00a62d38e5509d3e595c69e256537a51d/Kernel/Modules/CustomerTicketZoom.pm#L1713

@svenoe This could be configurable as those information can "leak" internal organisational data to customers...

[2022-01-07 16:12] niccord commented on #1091
Changing the collation of the column to `uft8mb4_unicode_ci` resolved the issue.
Why was my database created with those charset and collation?

[2022-01-07 16:17] reneeb commented on #1091
That's a miracle ;-) Check the mysql config if that's the default for new databases.

I'm going to close the issue if you're ok with it...

[2022-01-07 16:42] #1091 closed, assigned to nobody

[2022-01-10 07:31] svenoe commented on #1340
In other places where this occurs, the frontend part (e.g. Kernel/Modules/AgentTicketPhone.pm) would pass its LayoutObject to the backend part. It could be handled this way, at least...

[2022-01-10 08:09] svenoe commented on #1339
Ah, I should have read the issue before... ;)

Renees pr fixes that subqueues "change" when the name stays the same. Changing the timestamp of subqueues when their name changes is reasonable to me, regardless of whether an agent directly changed it via AdminQueue, or whether it was an automatic change.

[2022-01-10 08:09] #1339 closed, assigned to nobody

[2022-01-10 08:31] svenoe commented on #1335
As Renee said, this is for different functionalities. Maybe this can be solved by just changing the sysconfig values and adding an explanation there, I don't know whether they are really used for anything. It cannot be done in the frontend though, because because of the syntax of the keys, the sysconfig breaks when changing those options (see https://github.com/RotherOSS/otobo/issues/991).

When c

[2022-01-10 08:38] svenoe commented on #1334
Moved to https://github.com/RotherOSS/MasterSlave/issues/2

[2022-01-10 08:38] #1334 closed, assigned to nobody

[2022-01-10 09:03] svenoe commented on #1035
"could *not*" I guess. Yes, we introduced quite some changes for the dynamic field generation between 10.0 and 10.1. This came up somewhere in another issue and I forgot about this one. It is fixed at least in 10.1, I'm closing the issue.

[2022-01-10 09:03] #1035 closed, assigned to nobody

[2022-01-10 09:07] svenoe commented on #773
I guess I will close it for now. This is a year old, and we played around with the packages a bit in the beginning. In the last months there were no complaints. If it is still relevant to you, @rbr101, please let us know, then I can reopen it.

[2022-01-10 09:07] #773 closed, assigned to nobody

[2022-01-10 09:09] svenoe commented on #1337
Yes, it is a duplicate. Stefan is working on it.

[2022-01-10 09:09] #1337 closed, assigned to nobody

[2022-01-10 10:06] svenoe commented on #1447
I agree. I have not looked into where exactly the info is shown, but if CustomerTicketZoom###DynamicField can be used here, in a sensible way, we should do that, instead of introducing new options. I don't know whether we have two separate places, though. (Maybe we can just disable one, then.)

[2022-01-10 10:08] sunflowerbofh commented on #1244
On Friday, 2022-01-07, 05:07:02 (GMT -0800), Renee wrote:

Usually we use ldap v3, there should be utf-8 included. As for Umlaute, the
strings are returned base64-encoded. With php or python based apps there was
never a problem about that.

--
Berner Fachhochschule / Bern University of Applied Sciences
IT-Services / Team Linux & Infrastructure Services
Katharina Drexel
IT System Engineer
_________

[2022-01-10 11:28] reneeb commented on #1447
I'll take a closer look at it at the end of the week.

[2022-01-10 15:06] bschmalhofer commented on #1471
The tentative names for the new error handling modules are:
- FailureAccept
- ArticleReindex

[2022-01-13 11:11] StefanRother-OTOBO opened #1539 "CustomerCompanySearchListLimit and CustomerUserSearchListLimit do not work in the overview pages"
CustomerCompanySearchListLimit and CustomerUserSearchListLimit do not work in the overview pages. Until now, a limit of 400 always applied here, unless Customer*SearchListLimit was smaller than 400. From now on, the value stored in the configuration also applies to the AdminCustomerUser and AdminCustomerCompany overview pages.

[2022-01-13 11:13] #1539 closed, assigned to StefanRother-OTOBO

[2022-01-13 15:05] bschmalhofer commented on #1471
Started working on the FailureAccept error handling module. Found that adding a new module means a lot of duplication, especially in the admin interface. suppose it makes sense to make the error handling modules more generic.
TODO:

- Factor out common HTML snippets
- Factor out common functions in the frontend modules

Edit: the TODO items won't be done

[2022-01-13 15:40] svenoe commented on #1471
Please have a quick look at my message... ;)

[2022-01-17 05:03] StefanRother-OTOBO opened #1540 "apache2-httpd-vhost-443.include.conf not working"
Wrong configuration settings in apache2-httpd-vhost-443.include.conf.

Apache can't start after using this file.

[2022-01-17 11:00] svenoe commented on #1539
This should be changed. The `$Limit` here is really only used to check whether more results would be available without limit. This was not programmed really precise, but the current changes just improve a very specific case, which is one Customer backend with a large limit. Actually for the code to really work the largest limit + 1 would have to be chosen (which is impossible if no limit is define

[2022-01-17 11:10] StefanRother-OTOBO opened #1541 "Bug in OTOBO 10.1 with HttpType"
In OTOBO 10.1 (Docker and none docker) the error_log is overflowing with messages like:
HttpType https is set, but http is used!
The problem is that in Kernel/System/Web/InterfaceAgent.pm and Kernel/System/Web/InterfaceCustomer.pm
the following query always returns "HTTP *":

 203     # Restrict Cookie to HTTPS if it is used.
 204     my $CookieSecureAttribute = $ConfigObject->Get('HttpType') eq '

[2022-01-17 13:08] bschmalhofer commented on #1541
See also #142, #184, and #477.

[2022-01-17 13:40] bschmalhofer commented on #1541
I recommend to simply remove this check. The config setting _HttpType_ is solely used for things like notification that provide links back to OTOBO. The setting is not used in the internal workings of the web application. The use case of a TLS terminating proxy sitting in front of an HTTP only webserver is nothing unusual and deserves no entries in the logfile.

@StefanRother-OTOBO , @svenoe : Are

[2022-01-17 14:00] svenoe commented on #1541
I included it as an information above anything. With incorrect settings the cookies, at least with 10.0 and the non docker apache install, were not working. In the worst case (which admittedly didn't occur often, mostly after migrations sometimes) this could shut the user out, if the session was stored in the wrong cookie from a previous OTOBO instance were this setting differed. A more common err

[2022-01-17 14:13] bschmalhofer commented on #1541
One idea for alleviating the "HttpType has changed" problem is to incorporate the HttpType into the cookie name. This would force a new session for the agents when HttpType changes. On the other hand, I can image other kinds of confusion when there are multiple cookies.

[2022-01-17 14:38] svenoe commented on #1541
Also it would not give any hints in case of the more common iframe problem. In the end it shouldn't be hard to find out the protocol we use and compare, I guess... I can have a look at it, later.

[2022-01-18 16:28] bschmalhofer opened #1542 "Check the Apache multi process model (mpm) in the provided config files"
Every now and then there are problems running OTOBO under Apache. Often this is because the MPM is mpm_event or mpm_worker instead of mpm_prefork. These cases could be detected by requiring mpm_prefork when mod_perl is used. The check can propably be done with a _<IfModule>_  directive.

[2022-01-18 16:59] svenoe opened #1543 "Viewable StateTypes should differ between agents and customers."
This mostly is due to pending auto which agents do not need to see, but customers should. Longer term we might think about a nicer solution, for now an at least consistent solution could be, to point StateType to something like "OpenCustomer" and "ClosedCustomer" in the `%Filters` in Kernel/Modules/CustomerTicketOverview.pm around line 100, and handle this via a separate SysConfig option in StateG

[2022-01-19 09:45] bschmalhofer commented on #1542
Tested the changes with mpm_prefork enabled.
TODO:

- [ ] test with mpm_event enabled
- [ ] test with mpm_worker enabled

[2022-01-19 14:32] niccord opened #1545 "Add a Framework entry for AuthModules"
Hi everyone,
since a very early version of OTRS, `AuthModule` can be configured via System Configuration.
The same cannot be said for `AuthModule1`, `AuthModule2` and so on, and they have to be configured via `Kernel/Config.pm`.

Why is it so?
Can the support for AuthModule1 to 9 be added to Framework.xml?

The same written above is valid for `CustomerUser::AuthModule`.

Thanks.
Nicola

[2022-01-19 14:48] bschmalhofer commented on #1542
Here are the tests. Initiially mpm_prefork in enabled. Errors are inspected with `systemctl status apache2.service`

i. a2dismod mpm_prefork

2. a2enmod mpm_worker

3. a2dismod mpm_worker && a2enmod mpm_event

4. a2dismod mpm_event && a2enmod mpm_prefork
Webserver looks fine again.

[2022-01-19 16:50] sternenseemann opened #1546 "EffectiveValue is not optional in SettingsSet"
Contrary to documentation `EffectiveValue` can't be omitted in the list supplied to `SettingsSet` via the `Settings` parameter. Regardless of whether it's given or not, its type and structure will be checked and consequently fail as it turns out to be `undef` instead a hash etc.

E.g.:

[code]

[2022-01-20 07:20] svenoe commented on #1545
Hi Nicola,

actually this is not quite right. Only `Customer::AuthModule` etc. can be seen, for the agents none is visible. One reason to keep things in Kernel/Config.pm is to enable a strict authorization separation between the system admin and the OTOBO/OTRS admin, which is why e.g. `DatabasePw` is not included, either. I would have to think a bit about different scenarios where this could be an

[2022-01-20 08:08] svenoe commented on #1546
Hi Sterni,

for the moment adding a comment to the "(optional)" in the pod, that at least type and structure have to fit (like https://github.com/RotherOSS/otobo/blob/c1ff3e68740f876712eb1e6c5eb1180952f2e903/Kernel/System/SysConfig.pm#L505-L506) for I assume other than strings, would probably be the easiest solution. Maybe the code can be changed to always accepting `undef`, too, but someone shoul

[2022-01-20 12:16] svenoe commented on #1545
I had a short discussion, and we would rather remove the `CustomerUser::AuthModule` from the SysConfig currently and make setting up both the customer as well as the agent authorization part of the installation process, to make that more accessible.

For people who really want to configure it via the SysConfig, adding a simple xml file at least is not that much work, although of course this doesn'

[2022-01-20 12:17] #1545 closed, assigned to nobody

[2022-01-20 12:26] StefanRother-OTOBO opened #1549 "Fix subaction specific access restrictions in the customer interface."
I get an error in the customer area if I:

1.) add a new navigation item to the customer interface, in my test including a link to
      Action=CustomerTicketMessage;TypeID=1;ServiceID=1 and with a group restriction to group "A".
2.) The used customer is NOT in group "A".
3.) Login to the customer interface, the new item is not shown.
4.) I change to CustomerTicketMessage and choose a type. The fo

[2022-01-20 13:15] svenoe commented on #1549
We had a look on this together. I would expect the same behaviour for OTRS and assume that it is either not needed anymore, or it is a not very well implemented restriction for one specific case, e.g company tickets, and no one tried to separate frontend access and NavBar entry for stuff with necessary subactions, yet (like CTM). Someone should go through the commit history of OTRS maybe to try to

[2022-01-20 16:07] sternenseemann commented on #1546
I think it would also be fine to just update the documentation and make the field mandatory. My use case was to change the validity but leave the settings unchanged, but didn't check if there was an alternative way.

[2022-01-21 14:46] bschmalhofer commented on #1471
Discussed this with @svenoe . We found that using Error modules is not worth it, especially as it would not affect the first message in `HTTP::REST` anyways. The new approach is to add a `AssessResponse()` method in _TicketManagement.pm_. The reindexing of the ticket will be done in `HandleResponse()`.

[2022-01-21 22:03] ernstki opened #1550 "INSTALL.md points to a document that is 404"
Hi all, hope you're well.

An issue of very little importance, but FYI: the link within [`INSTALL.md`](../blob/master/INSTALL.md) is currently a 404 Not Found.

[code]

On the basis of the `stable` there in the URL, I _assume_ this happened when documentation was moved from Read the Docs to being self-hosted. The correct URL is (currently) <https://doc.otobo.org/manual/installation/10.1/en/content

[2022-01-21 23:02] ernstki commented on #1550
A cursory search for other files that are affected:

[code]

[2022-01-22 15:09] bschmalhofer opened #1551 "Sorting of entries in Webservice Debugger"
Entries in the Webservice Debugger are sorted per default by creation time. But it is often the case that there are multiple requests per second and it is not obvious which request came first. An example is the autocompletion search with Elasticsearch. This search fires three requests per typed character. When typing arbitrary characters, the following debug entries were shown as the latest entrie

[2022-01-22 15:36] bschmalhofer commented on #1551
See also #1471.
Changed the search. A test with the Elasticsearch-Box gave the expected order of the the debug entries. Issue can be closed when PR is merged.

[2022-01-23 18:17] bschmalhofer opened #1553 "Fix unit test failures before OTOBO 10.1.1 final release"
Here are the current test failures:

[code]

[2022-01-24 07:11] svenoe commented on #1550
Hi Kevin,

thanks for the hint - we changed the paths with 10.1, I will adapt the file.

Sven

[2022-01-24 07:28] #1550 closed, assigned to nobody

[2022-01-24 07:42] svenoe commented on #1550
(good morning...)

[2022-01-24 09:34] wornet-aer commented on #1476
Unfortunately it seems like we introduced a syntax error in 12a9d7e from #1465. There should be a semikolon in the keytab line.
[code]

[2022-01-24 09:57] svenoe commented on #1476
The above pr was merged manually: https://github.com/RotherOSS/otobo/commit/524db1869ffd8f93058817505f4cb06bfb056094

[2022-01-24 10:00] svenoe commented on #1467
(The above commit belongs to #1476 - typo in the commit message...)

[2022-01-24 10:07] bschmalhofer opened #1555 "Webservice debug: show the HTTP Method used by the invoker"
Here is the debug log for the request that cleans up the pipeline 'tmpattachments' after attachments have been ingested for Elasticsearch.

![Bildschirmfoto vom 2022-01-24 11-02-11](https://user-images.githubusercontent.com/46019/150762327-ade2628c-e514-48d2-9725-b6b98d893c5d.png)

The request result hat _"result":"deleted"_ which indicates that this was a DELETE operation. But it would be nice to

[2022-01-24 17:14] #1551 closed, assigned to bschmalhofer

[2022-01-24 17:15] #1542 closed, assigned to bschmalhofer

[2022-01-24 17:16] bschmalhofer commented on #1555
See also #1471

[2022-01-24 17:53] bschmalhofer commented on #1555
A quick check looked fine. PR is merged. Closing this issue.

[2022-01-24 17:53] #1555 closed, assigned to nobody

[2022-01-25 09:52] svenoe opened #1558 "Problem with BODY tag replacement in process transition actions."
With OTRS6 (I think) Kernel/System/ProcessManagement/TransitionAction/Base.pm uses the `_Replace()` method of Kernel/System/TemplateGenerator.pm: https://github.com/RotherOSS/otobo/blob/524db1869ffd8f93058817505f4cb06bfb056094/Kernel/System/ProcessManagement/TransitionAction/Base.pm#L319-L327

The output, at least for the body, however is handled differently in the TemplateGenerator and the transi

[2022-01-25 11:24] svenoe opened #1559 "Database Fields reinitialization leads to error message."
Having a DB field in AgentTicketFreeText filled, will lead to a "Duplicated entry" error upon expanding the article box when AgentTicketFreeText###Note is set but not AgentTicketFreeText###NoteMandatory.

This comes from https://github.com/RotherOSS/otobo/blob/524db1869ffd8f93058817505f4cb06bfb056094/var/httpd/htdocs/js/Core.Agent.DynamicFieldDBSearch.js#L396 being called (tested), which likely co

[2022-01-25 13:21] bschmalhofer commented on #1553
The four failures in _scripts/test/WebUserAgent.t_  are handled in #1250.

[2022-01-25 18:26] bschmalhofer commented on #1553
The failures in Selenium/Output/Dashboard/TicketGenericFilter.t were due to the new widget showing the last changed tickets. There were some checks that specific tickets should not be shown in the Dashboard after some action in the NewTickets widgets. However the test scripts saw those tickets in the lastchange widget, and was led astray. The fix is to switch to strikter XPath and Jquery selectors

[2022-01-25 18:28] bschmalhofer commented on #1553
@stefanhaerter , could you take a look at _scripts/test/DynamicField/EditFieldRender.t_ ? These failures seem to be related to changed HTML in the rendered dynamic fields. See #1132.

[2022-01-26 11:14] stefanhaerter commented on #1553
Forgot to respond: Should be fixed with PR https://github.com/RotherOSS/otobo/pull/1563

[2022-01-26 14:00] bschmalhofer commented on #1476
A related issue is https://github.com/RotherOSS/otobo-docker/issues/81.

[2022-01-26 14:02] bschmalhofer commented on #1471
The current state of the implementation appears to be stable and working. But it is expected that further instances of unhelpful errors will crop up. These should be handled in new issue. Closing this issue.

[2022-01-26 14:02] #1471 closed, assigned to bschmalhofer

[2022-01-26 14:14] bschmalhofer commented on #1540
@StefanRother-OTOBO  Did the fix resolve this issue?

[2022-01-26 14:18] bschmalhofer commented on #1467
See also #739.

[2022-01-26 14:19] bschmalhofer commented on #739
@svenoe Is this issue resolved with the changes done for #1467 ?

[2022-01-26 14:21] bschmalhofer commented on #1541
@svenoe confirmed that this check can be removed.

[2022-01-26 14:58] bschmalhofer opened #1567 "Check code policy before release of OTOBO 10.1.1 Beta 2"
- [x] update the copyright year to 2022      `../CodePolicy/bin/otobo.CodePolicy.pl -a --plugins +TidyAll::Plugin::OTOBO::Legal::ReplaceCopyright -a 1>critic.out`
- [x] merge changes from rel-10_0 branch   (was already up to date)
- [x] run the CodePolicy for all files `../CodePolicy/bin/otobo.CodePolicy.pl -a  1>critic.out`
- [x] fix the errors reported by the CodePolicy

Checking the unit tests

[2022-01-26 17:30] bschmalhofer commented on #1553
Thanks to @stefanhaerter  the failures in _scripts/test/Selenium/Output/Dashboard/TicketGenericFilter.t_ are fixed now.
But new failures cropped up in _scripts/test/Selenium/Agent/Znuny4OTOBOShowPendingTimeIfNeeded.t_

[2022-01-26 17:32] bschmalhofer opened #1570 "Update copyright year to 2022 in the rel-10_0 branch"
The command `../CodePolicy/bin/otobo.CodePolicy.pl -a --plugins +TidyAll::Plugin::OTOBO::Legal::ReplaceCopyright -a 1>critic.out` is your friend.

[2022-01-26 18:09] bschmalhofer commented on #1570
Done. Closing this issue.

[2022-01-26 18:09] #1570 closed, assigned to bschmalhofer

[2022-01-26 18:11] bschmalhofer commented on #1541
The check has been removed. Closing this issue.

[2022-01-26 18:11] #1541 closed, assigned to bschmalhofer

[2022-01-26 20:50] bschmalhofer commented on #1553
Result of the latest run. _Znuny4OTOBOShowPendingTimeIfNeeded.t _ is fine again, but two new failing test scripts.

[2022-01-26 21:00] bschmalhofer opened #1573 "Tidying of Kernel::System::Auth::Sync::LDAP"
No special reason, but it is good to be consistent. `_ConvertFrom()` is also a method.

Maybe also check whether the `$FindMember` as an anonymous sub is really the best solution.

[2022-01-27 11:59] Taiserisa opened #1574 "Autologout after Deployment"
OTOBO 10.0.15 with ITSM 10 Bundle Package, testserver, intern, no internet connection

The problem - after configuring the system settings and then deploying them in admin area, I am automatically logged out every time. Is it desired or an error?

[2022-01-27 12:24] reneeb commented on #1574
Do you use SSL? What's the value of the system configuration setting "HttpType"? Does that match?

[2022-01-27 15:16] svenoe commented on #1574
Hey Taiserisa,

this is most likely the setting Renee mentioned. For general questions however please use our [forums](https://otobo.de/en/forums/otobo/otobo-forum/) and not github, which is intended for development issues.

I will close this issue here, best regards, Sven

[2022-01-27 15:16] #1574 closed, assigned to nobody

[2022-01-27 17:00] bschmalhofer opened #1575 "installer.pl does not check for changed file Kernel/Config.pm"
During testing for OTOBO 10.1.1 Beta2 @svenoe noticed database connection failures while running _installer.pl_ . This was almost certainly caused by the web server process having still loaded an unchanged version of Kernel::Config. This is relevant as _Kernel/Modules/Installer.pm_ writes the new database credentials into that file.

The big mystery is why this behavior was noticed only now. Doing

[2022-01-28 07:34] reneeb commented on #1549
This seems to be the relevant commit: https://github.com/znuny/Znuny/commit/6a613ab8e524888e7bfd83f1717084516b86f751 Unfortunately the bug report ist not available anymore...

[2022-01-28 08:14] reneeb commented on #1549
If you remove the check for submenu items, all customers can see the content if they know the link (e.g. set a Group for company tickets, login with a user that doesn't belong to the group and visit http://your_otobo/otobo/customer.pl?Action=CustomerTicketOverview;Subaction=CompanyTickets ). So removing the check should not be an option.

[2022-01-28 08:19] reneeb commented on #1549
It's hard to find a reliable and secure check... maybe do a brainstorming session.

[2022-01-28 08:29] reneeb commented on #1454
As the original PR was merged this issue should be closed, shouldn't it?

[2022-01-28 08:36] StefanRother-OTOBO commented on #1549
Hi Renée,

Thank you for your feedback!

What I don't understand is why the check is executed when I switch to CustomerTicketMessage and then select a type. Only this AJAX request triggers the error.

Thanks a lot!

Stefan

[2022-01-28 08:39] reneeb commented on #1475
As the fix was applied, this issue should be closed, shouldn't it?

[2022-01-28 08:42] StefanRother-OTOBO commented on #1475
Yes, thanks. Closed.

[2022-01-28 08:42] #1475 closed, assigned to StefanRother-OTOBO

[2022-01-28 08:45] svenoe commented on #1549
It is because subactions are denied altogether, and the AJAXUpdate is one. In the end at the moment we have no streamlined way to deny access to specific subactions. For modules like AgentStats this is done in an individual way. Completely removing the above is probably not a good way, I agree with Renee, but maybe we could at least read out the Subaction of the disabled NavBar-Item, like e.g. Com

[2022-01-28 08:47] svenoe commented on #1454
Yes, overlooked it, thanks.

[2022-01-28 08:47] #1454 closed, assigned to nobody

[2022-01-28 08:50] reneeb commented on #1549
IMHO the problem is, that the navbar item Stefan mentioned, did **not** specify a subaction. If it had a subaction in the link, the check would have been skipped (https://github.com/RotherOSS/otobo/blob/0b2fd4e7a30b7e30d254fcfb1e989bb18604cb49/Kernel/System/Web/InterfaceCustomer.pm#L1274_L1275).

[2022-01-28 08:57] svenoe commented on #1549
Yes, but Stefan explicitely wants to not show the action itself to some people in the NavBar, but still let them create a ticket via links on the Dashboard. So I would suggest a
[code]
at this exact position you mentioned. Because if I want to generally deny users the access to an action, it is done here: https://github.com/RotherOSS/otobo/blob/0b2fd4e7a30b7e30d254fcfb1e989bb18604cb49/Kernel/Syste

[2022-01-28 09:09] reneeb commented on #1549
That could/should work...

[2022-01-28 09:30] reneeb commented on #804
+1 from me

[2022-01-28 11:41] bschmalhofer commented on #1575
No new insights turned up, why this wasn't an issue before.

For fixing the bug I added the refresh of _Kernel/Config.pm_ in _otobo.psgi_ . Care had to be taken that Kernel/Config.pm is in the refresh cache before the first check. Otherwise the following situation could arise:

1. Kernel::Config.pm is loaded in process A, but not in refresh cache
2. Kernel/Config.pm is modified in process B
3. Ker

[2022-01-28 13:00] bschmalhofer commented on #1573
See also #1291 and https://github.com/OTRS/otrs/pull/1344.

[2022-01-28 13:02] bschmalhofer commented on #1573
It also would be very nice to have better test coverage of LDAP related features. AFAIK, in OTOBO there is not even a mock LDAP server that could be used for running tests against.

[2022-01-28 13:02] bschmalhofer opened #1577 "Improve LDAP testing"
It also would be very nice to have better test coverage of LDAP related features. AFAIK, in OTOBO there is not even a mock LDAP server that could be used for running tests against.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1573#issuecomment-1024192758_

[2022-01-28 17:10] bschmalhofer commented on #1553
Here are the current test results. The failure in _AdminPackageManager.t_ might be sporadic or might depend on  the package repository. The test failed reproducibly for some hours but seems to work now. The recent changes in the test script are no fixes, just tidying.

[2022-01-28 18:32] bschmalhofer commented on #674
Updated Locale::Code, which contains the country list, to version 3.69. Sadly, Kosovo still didn't make it. Closing this issue anyways.

[2022-01-28 18:32] #674 closed, assigned to nobody

[2022-01-29 11:22] bschmalhofer opened #1582 "Path otobo-web is hardcoded in default configuration"
In _Framework.xml_ there are three setting with hardcoded otoob-web. It would be more convenient if these settings would use the setting `Frontend::WebPath`. That is, they wouldn't have to be adapted when `Frontend::WebPath` is changed. For an example see the setting `Frontend::ImagePath`.
[code]

[2022-01-29 11:43] bschmalhofer opened #1583 "Suppress the warning about NGINX_ENVSUBST_TEMPLATE_DIR variable is not set"
This warning is emitted when starting the Nginx service in a Docker-based installation. It should be suppressed as it is the regular case that NGINX_ENVSUBST_TEMPLATE_DIR is not set.

[2022-01-29 16:24] bschmalhofer opened #1584 "Provide a overwriteable 404 error page"
The default Apache 404 error page is a bland:

The default error page of otobo.psgi is an even more bland:

Let's change that to a bland OTOBO specific error page that provides a link to the home. Put that file into _/opt/otobo/var/httpd/htdocs/404.html_ . This file can then be adapted by users, just like _index.html_

[2022-01-29 16:51] bschmalhofer commented on #1575
I tested installer.pl with a local Apache and the _apache2-httpd-cgi.include.conf_ configuration. Installing was without hassle. But there were errors after the installation was completed. Looks like we need a bit more testing and maybe fixing.

[2022-01-29 17:02] bschmalhofer commented on #1584
The bland page is added. Beautifying the page can be handled in a new issue. Closing this issue.

[2022-01-29 17:02] #1584 closed, assigned to bschmalhofer

[2022-01-30 11:57] bschmalhofer opened #1586 "Remove Kernel/cpan-lib/Test/Pod/Coverage.pm"
In the latest run of the unit tests under Docker, I got an error from _scripts/test/Compile.t_  . The error stated that _Kernel/cpan-lib/Test/Pod/Coverage.pm_ did not compile. The compile error was that the dependency `Pod::Coverage` was not available. This is not surprising as Pod::Coverage is neither in _Kernel/cpan-lib_ nor mentioned in _bin/otobo.CheckModules.pl_. This effect happened after Do

[2022-01-30 11:58] bschmalhofer commented on #1586
See also #1553.

[2022-01-30 12:22] bschmalhofer opened #1587 "Elasticsearch messages when running the test suite"
I noticed that since 2022-01-26 the output from the test suite, running under Docker, suddenly grew in size.

The reason seem to be these message from Elasticsearch.

It is not clear whether these errors are new, or only the logging of these errors has changed. Needs to be investigated.

[2022-01-30 12:31] bschmalhofer commented on #1587
Maybe it is just the local disk that is almost full.

[2022-01-30 13:24] bschmalhofer commented on #1553
Latest run of the test suite. Failure in _AdminCustomerGroup.t_ is new.

[2022-01-30 14:06] bschmalhofer commented on #1575
Looked again what `Module::Refresh::refresh_module_if_modified()` is actually doing. There is no refreshing when the module has been loaded and changed after the last time it has been encountered by Module::Refresh. So the current approach is;

1. `require $PMFile;`   load when it wasn't already loaded
2. ` Module::Refresh->refresh_module_if_modified('Kernel/Config.pm');` either remember the times

[2022-01-30 16:18] bschmalhofer commented on #1553
The failure in _scripts/test/Selenium/Agent/Admin/AdminCustomerGroup.t_ might have been sporadic.
But then something is still strange with _scripts/test/Selenium/Agent/Admin/AdminPackageManager.t_

  (in cleanup) Can't use an undefined value as a HASH reference at Kernel/System/DB.pm line 261 during global destruction.

[2022-01-30 18:03] bschmalhofer commented on #1553
It turned out that the override of `Kernel::System::WebUserAgent::Request()` is needed after all. Mainly because other test scripts did the same, so we got unexpected content from that method. No idea how that could have worked before with the broken code. Maybe it wasn't broken after all.

[2022-01-30 19:52] bschmalhofer commented on #1553
Looks better now:

[2022-01-31 12:04] bschmalhofer commented on #426
Yes, that kind of full text search is a bit strange. I looks like bed&breakfast would be only found with bedbreakfast.

[2022-01-31 12:12] bschmalhofer commented on #385
This is still the case. Leaving this issue open.

[2022-01-31 12:26] bschmalhofer commented on #744
Instead of enhancing the Plaintext tile I suggest to add a markdown tile. This adds flexibility and might reduce the danger of allowing arbitrary HTML.

[2022-01-31 12:45] bschmalhofer commented on #1517
@svenoe : What do you think?

[2022-01-31 13:27] bschmalhofer commented on #1586
The existence of _Kernel/cpan-lib/Test/Pod/Coverage_ was an artifact from updating `Locale::Country` for #674. The inadvertently added files were not shown by `git status` because of the entry **Test**  in _.gitignore_ .
Closing this issue as invalid.

[2022-01-31 13:27] #1586 closed, assigned to nobody

[2022-01-31 17:43] bschmalhofer commented on #1582
Changed the URLs in Framework.xml and it looks like there is no replacement performed automatically.

[code]
The macro replacement is done in `Kernel::Config::Defaults` but only for simple scalar values:

[code]
Within nested values there is no replacement.

[code]
Coding the recursive replacement is no problem. But it is not clear whether this is by design or just an oversight.

[2022-01-31 19:43] bschmalhofer commented on #1553
A test run with a local Apache and _scripts/apache2-httpd.include.conf_ looks fine. The _Archive.t_ failures fine, are some files have changes since ARCHIVE was generated.

[2022-01-31 21:45] bschmalhofer commented on #1054
Still failures before the OTOBO 10.1 Beta 2 release:

[code]

[2022-02-01 08:29] svenoe commented on #1582
I don't know the reasoning either. If it's just for the above options, I would just do nothing, as the options above will certainly be changed anyways on systems which are configured for the customer. But in the end I have no strong opinion.

[2022-02-01 16:56] bschmalhofer commented on #1054
At least some of these failures were due to triple encoding of non-ASCII characters. Lets take a case in _./scripts/test/GenericInterface/Operation/Ticket/TicketGet.t_. The title of ticket 4 contains the German umlaut
'ä' encoded in UTF-8 as C3A4. This two bytes are double encoded twice along the line and we end up with eight bytes. The culprit seems to be `utf8::encode($Line)` in _bin/cgi-bin/nph

[2022-02-01 17:00] bschmalhofer commented on #1582
I agree. I reject this change as the consequences of fixing this are not easily foreseeable.

[2022-02-01 17:00] #1582 closed, assigned to bschmalhofer

[2022-02-01 18:21] bschmalhofer commented on #1104
That `assbackward()` feature in `Modperl::Registry`is really not intuitive. It necessitates that nph-genericinterface.pl can't have the same simple implementation as e.g. index.pl. Therefore I propose to rename npn-genericinterface.pl to genericinterface.pl. For the 10.1 releases the old name can still be supported. But remove it for 11.0.
More importantly: nph- is so 1990s.

[2022-02-01 18:25] bschmalhofer opened #1590 "Rename nph-genericinterface.pl to genericinterface.pl"
That `assbackward()` is really not intuitive. Therefore I propose to rename npn-genericinterface.pl to genericinterface.pl. For the 10.1 releases the old name can still be supported. But remove it for 11.0.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1104#issuecomment-1027150355_

[2022-02-01 20:10] bschmalhofer commented on #1054
Removed the `utf8::encode()` that apparently caused double encoding. Unit tests look better now.

- _scripts/test/Selenium/Agent/Admin/AdminSort.t_ seems to be sporadic.
- _scripts/test/Selenium/Agent/Admin/ProcessManagement/AdminProcessManagementTransitionAction.t_ is a known problem that also occurs when running under Docker.
- _scripts/test/Selenium/Customer/Ajax/ErrorHandling.t_ is still a pro

[2022-02-01 20:18] bschmalhofer commented on #1553
See also #1054

[2022-02-01 22:21] bschmalhofer commented on #1587
After removing cruft from the local disk the TOO_MANY_REQUESTS are gone again. That is consistent with the assumption above. Closing this issue.

[2022-02-01 22:21] #1587 closed, assigned to nobody

[2022-02-01 22:23] bschmalhofer commented on #1553
_scripts/test/Selenium/Agent/Admin/ProcessManagement/AdminProcessManagementTransitionAction.t_ are now again the only failures.

[2022-02-02 09:05] StefanRother-OTOBO opened #1592 "Remove height in order to see more data than just one line in AgentTicketZoom Processview"
Remove height in order to see more data than just one line in AgentTicketZoom Processview

[2022-02-02 12:50] bschmalhofer commented on #1054
The failures for _scripts/test/Selenium/Customer/Ajax/ErrorHandling.t_ are related to the still open issue #909. So let's ignore them for this issue, especially as other tests succeed that fail when running with Gazelle.
The failures for AdminProcessManagementTransitionAction.t also occur when running under Gazelle, so they are most likely not related to the cgi-bin Scripts.
Closing this issue now

[2022-02-02 13:45] #1054 closed, assigned to nobody

[2022-02-02 13:48] bschmalhofer commented on #909
I still don't understand that. I tried navigating to the CustomerTicketMessage action and run in the Firefox console the following command:
`Core.AJAX.FunctionCall(Core.Config.Get(\'CGIHandle\') + \':12345\', null, function () {});`
In the most cases I got a redirect to the Dashboard, which is not what was expected in the test script. So let's keep this issue open.

[2022-02-02 13:59] bschmalhofer commented on #1454
See also #1573 .

[2022-02-03 12:58] bschmalhofer commented on #1279
Alternatively the default page could be set differently in _otobo.psgi_ and in _index.html_. I'm not sure what the best approach is.

Here are example files that also changes _/otobo/index.pl_ to _/index.pl_ and so on

[index.html.txt](https://github.com/RotherOSS/otobo/files/7994655/index.html.txt)

[otobo.psgi.txt](https://github.com/RotherOSS/otobo/files/7994658/otobo.psgi.txt)
.

[2022-02-03 16:51] bschmalhofer opened #1594 "Make refreshing modules more robust"
An installation of OTOBO running under Apache on a SSD, solid state harddisk, was tested by running the unittest. Many errors were encountered by the test script. An analysis brought the following findings:

1. Many modules were refreshed by the `$ModuleRefreshMiddleware` in _bin/psgi-bin/otobo.psgi_
2. The module `Module::Refresh`is used in the middleware
3. `Module::Refresh` keeps a cache with t

[2022-02-03 16:52] bschmalhofer commented on #1594
The issue was discussed among @reneeb , @svenoe , and @bschmalhofer . The conclusion was that both ideas should be implemented.

[2022-02-04 11:33] bschmalhofer commented on #1594
After a first failed attempt I did an implementation with the OTOBO module `Kernel::System::ModuleRefresh` that inherits from `Module::Refresh`. The method `mtime()` is overridden an now considers only the last modified time and the size. `new` is overridden such that only Kernel modules are cached. A run of the test suite with only mtime overridden looked fine.

- [x] run test suite with the over

[2022-02-04 11:53] bschmalhofer commented on #1518
No problems cropped up. Closing this issue.

[2022-02-04 11:53] #1518 closed, assigned to bschmalhofer

[2022-02-04 11:57] bschmalhofer commented on #1460
Let's close this for now. The S3 article backend has to be tested again anyways.

[2022-02-04 11:57] #1460 closed, assigned to bschmalhofer

[2022-02-04 12:00] bschmalhofer commented on #1470
No further problems were encountered. Closing this issue.

[2022-02-04 12:00] #1470 closed, assigned to bschmalhofer

[2022-02-04 12:07] bschmalhofer commented on #1032
Let's close this old issue as currently there are no known problems.

[2022-02-04 12:07] #1032 closed, assigned to bschmalhofer

[2022-02-04 12:30] bschmalhofer commented on #1567
Ran `../CodePolicy/bin/otobo.CodePolicy.pl -a 1>pol.out` again and got no new findings. Closing this issue.

[2022-02-04 12:30] #1567 closed, assigned to bschmalhofer

[2022-02-04 13:00] #1540 closed, assigned to StefanRother-OTOBO

[2022-02-04 13:15] geralwo opened #1596 "Import of Dynamic Fields doesn't respect FieldOrder"
When you try importing a partial list of Dynamic Fields, the FieldOrder-Property does not affect the import at all. The imported items are ordered alphabetically.

Expected Result:
Imported items are in exact order of their FieldOrder-Property or the items are in relative order to existing DynamicField items.

Example:
Import List:
- FieldOrder = 8
- FieldOrder = 13
- FieldOrder = 28
- FieldOrder

[2022-02-04 13:16] bschmalhofer commented on #205
The relevant resources for countries in multiple languages seem to be https://cldr.unicode.org/, https://icu.unicode.org/, and https://metacpan.org/pod/Locale::Country::Multilingual.

[2022-02-04 13:44] bschmalhofer commented on #1553
Latest run under Docker looks fine:

[2022-02-04 17:36] bschmalhofer commented on #1553
Advanced tip for when running installer.pl manually and then the test suite: Choose English as the default language

[2022-02-04 18:27] bschmalhofer commented on #1532
I can confirm that the ProductNotify dashboard tile does not work.

[2022-02-04 20:48] bschmalhofer commented on #1553
Unit test for Apache with _apache2-httpd-cgi.include.conf_ looks fine, ignoring the failures in _ErrorHandling.t_.

[2022-02-05 11:35] bschmalhofer opened #1597 "Update the content of the welcome ticket"
Upon installation a test ticket is created with the title "Welcome to OTOBO! ". The content of this message contains some broken links and at least one incorrect claim "used by more than 170,000 companies worldwide.".

@GritRother-OTOBO : Could you supply a better text for the welcome ticket?

[2022-02-05 13:42] bschmalhofer commented on #1553
Running the test suite with Apache and _apache2-httpd.include.conf_ looks fine too:

[2022-02-05 16:00] StefanRother-OTOBO opened #1598 "Add chromium to otobo.dockerfile for reports"
Add chromium to the OTOBO docker file for the new report function in OTOBO 10.1

[2022-02-05 16:03] #1598 closed, assigned to StefanRother-OTOBO

[2022-02-06 10:29] bschmalhofer commented on #1597
Just for clarification, the welcome ticket is not sent out per mail, it is just an initial ticket that is created when the database is intialized. AFAIK it is not translated. Here is the content of the initial article:
[code]

[2022-02-06 15:48] bschmalhofer commented on #1467
In the AdminAbout page the headline is "Privacy Policy" which is likely left over from the AdminCustomerAccept frontend.

[2022-02-06 15:48] bschmalhofer opened #1600 "Headline in AdminAbout page is "Privacy Policy""
In the AdminAbout page the headline is "Privacy Policy" which is likely left over from the AdminCustomerAccept frontend.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1467#issuecomment-1030859131_

[2022-02-06 18:05] GritRother-OTOBO commented on #1016
Hi Bernhard,
I changed the file and commited the changes to rel-10_0.
Please merge them to rel-10_1 and close this issue. Thanks!

[2022-02-06 18:15] bschmalhofer commented on #1016
The README was update in rel-10_0 and in rel-10_1. Closing this issue.

[2022-02-06 18:15] #1016 closed, assigned to GritRother-OTOBO

[2022-02-07 09:05] svenoe commented on #1600
Yes, it is.

[2022-02-07 09:13] svenoe commented on #739
Yes, it is.

[2022-02-07 09:13] #739 closed, assigned to nobody

[2022-02-07 12:47] stefanhaerter commented on #1559
Note: Entry is added not only when expanding box but also when collapsing.

[2022-02-07 13:21] svenoe commented on #1549
I added it and will close the issue. I'm not totally happy with this initially seemingly tinkered version of access restriction in general, though.

[2022-02-07 13:21] #1549 closed, assigned to svenoe

[2022-02-07 13:59] svenoe commented on #1575
Can this be closed? We are already one step further anyways, I guess, aren't we?

[2022-02-07 14:07] bschmalhofer commented on #1575
The reloading of _Kernel/Config.pm_ appears to be more sane now. Note that there was yet another iteration handled in issue #1594. Closing this issue.

[2022-02-07 14:07] #1575 closed, assigned to bschmalhofer

[2022-02-07 14:28] bschmalhofer commented on #604
I checked this again with the command:

`grep -r -i  'otobo\.de' | grep -v 'Rother OSS' | grep -v 'Contact us at hello@otobo.de' | grep -v 'Contact us at hello@otobo.de' | grep -v 'https://local.otobo.de:8000/Webservice/Example' | grep -v 'https://www.otobo.de:10745/api/v1.0' | grep -v 'http://www.otobo.de/GenericInterface/' | grep -v '^i18n/' | grep -v '^scripts/test/'  > ../grep.out`

The remain

[2022-02-07 14:28] #604 closed, assigned to bschmalhofer

[2022-02-07 14:30] bschmalhofer opened #1601 "Check the email addresses given in the source code"
When checking the usage of otobo.de vs. otobo.org  it was recognised that the email addresses should be standardized too.

_Originally posted by @GritRother-OTOBO in https://github.com/RotherOSS/otobo/issues/604#issuecomment-721642512_

[2022-02-07 14:34] #1600 closed, assigned to nobody

[2022-02-07 14:59] bschmalhofer commented on #1594
@svenoe  noticed that there are also OTOBO modules in `var::packagesetup`. These should be added too.

[2022-02-07 17:13] bschmalhofer commented on #1553
Latest run of the test suite under Docker showed no new failures.

[2022-02-07 17:16] bschmalhofer commented on #1594
No problems were encountered so far. Closing this issue.

[2022-02-07 17:16] #1594 closed, assigned to bschmalhofer

[2022-02-08 08:53] #1543 closed, assigned to svenoe

[2022-02-08 09:21] #1597 closed, assigned to GritRother-OTOBO

[2022-02-08 10:01] bschmalhofer commented on #1504
This was discussed between @StefanRother-OTOBO , @svenoe , and @bschmalhofer . The conclusion was:

- the tag 'latest' is deprecated, but will continue to point to the latest patch release of the 10.0 series
- releases that do not match rel-<major>_<minor>_<patch> will get no extra tag, e.g. rel-10_1_Beta2
- patch level releases will get a latest-<major>_<minor> tag

These rules can be implemented

[2022-02-08 10:59] bschmalhofer opened #1605 "Update the copyright year in the Migration tool"
When running `bin/otobo.Console.pl Dev::Tools::Migrate::OTRSToOTOBO` for migrating an OTRS package I still get 2021 as the latest year. This should be changed to the current year.

[2022-02-08 11:11] bschmalhofer commented on #1553
The only real failures in the rel-10_1 unit tests are now the failures in AdminProcessManagementTransitionAction.t .
@reneeb : Did you make changes in that area?

[2022-02-08 11:39] svenoe commented on #1553
Yes: https://github.com/RotherOSS/otobo/pull/1565 - this has been manually tested by several people now, and I'm pretty certain we will have to adapt the test, without having had a look at it, though.

[2022-02-08 11:56] reneeb commented on #1553
I have some issues with my selenium setup. Do you have a short checklist how to setup the selenium tests? The easiest change would be to change the selected transition action in that test and set the values. I can prepare a pull request for that but can't actually run the test at the moment.

[2022-02-08 14:08] svenoe commented on #1592
This needs another look. If we want to keep it that way, at least the class name "CutValue" should be changed if nothing is cut anymore. Maybe though the whole css block as well as the class in the template file can be removed completely as currently only 'display: block' is meaningful.

[2022-02-08 15:39] bschmalhofer commented on #1504
Tested this by setting `DOCKER_TAG` directly in the scripts. Let's see whether a latest-tag will be created after pushing rel-10_1_beta2.

[2022-02-09 07:07] stefanhaerter commented on #625
Idea: Displaying ServerError Tooltip as label and not as div in CustomerInterface.
Problem: The input field may already have a label.

[2022-02-09 10:34] svenoe opened #1607 "Fix immediate presentation of repository entries in AdminPackageManager."
This is a follow up to https://github.com/RotherOSS/otobo/pull/1564.

For one, there is a bug, because explicitly clicking "Update repo info" sets the attribute UserRepository in the session info, which is used in all subsequent tasks like installing etc, which will fail if it is not set.

Secondly we should use OTOBO Addons as the default repo in my opinion. I will hardcode it for now, I don't se

[2022-02-09 10:53] svenoe commented on #1607
Forgot to add the issue... Done here: f18dee0122339522bd469225f3ce276359b9d87a

[2022-02-09 11:55] #1607 closed, assigned to svenoe

[2022-02-09 17:33] StefanRother-OTOBO opened #1608 "Bug in LDAP groups to OTOBO roles synchronization"
I have found a bug in LDAP groups to OTOBO roles synchronization. Once an agent was assigned to roles in OTOBO and then the agent is removed from all Active Directory groups, then the agent keeps the roles rights in OTOBO.

But only when it is removed from all LDAP groups. The reason can be found in line 725 in the Kernel/System/Auth/Sync/LDAP.pm file.

The permissions will not be removed if no mo

[2022-02-09 17:35] StefanRother-OTOBO commented on #1608
Hi Sven,

please can you double check my fix?

Thanks,

Stefan

[2022-02-10 11:37] StefanRother-OTOBO opened #1609 "Bug in Customer Processmanagement Modul"
When I share an activity dialog with the customer interface only, the buttons are still displayed, but the dialog itself does not appear. Instead, I get the following message in the log:

[code]

Reason:

The following query is made in the  Kernel/Modules/CustomerTicketProcess.pm file, , but no process is returned at this moment.

[code]

Solution:

Remove 'Interface    => [ 'AgentInterface', 'Cus

[2022-02-10 13:40] svenoe commented on #1609
Did you mean the agent interface, or really even if it is only the customer interface?

...after reading it again, you are missing the process activity, and it is not the button which shouldn't appear, am I right?

[2022-02-11 18:00] bschmalhofer commented on #1608
The fix is sensible as the hash %RolePermissionsFromLDAP can legitimately be empty. Merged a slightly simplified version of the fix. Closing this issue.
See also #1573

[2022-02-11 18:00] #1608 closed, assigned to svenoe

[2022-02-13 12:04] bschmalhofer opened #1612 "Console commands for linking and unlinking package files"
During development of OTOBO packages there is commonly the need to link the to be installed files into an existing installation. Traditionally this was done with https://github.com/OTRS/module-tools . But there is no apparent reason for not including this functionality into core OTOBO. So I propose to add:

- Dev::Package::LinkFiles  (with an option --force for backing up existing files)
- Dev::Pa

[2022-02-14 00:32] joserribeiro26 opened #1613 "Missing table stats_report"
After installing otobo 10.1 beta 2, at first, no update was made.
The error below has been appearing in the log /opt/otobo/var/log/otobo.log

I checked the database tables with "show tables" I didn't find either.

 Message: Table 'otobo.stats_report' doesn't exist, SQL: 'SELECT id, name FROM stats_report WHERE valid_id IN (1)'

<img width="787" alt="image" src="https://user-images.githubuserconten

[2022-02-14 00:37] joserribeiro26 commented on #1613
https://user-images.githubusercontent.com/475022/153782624-41f9525b-54c3-4d00-9383-82ce0632da1f.mov

[2022-02-14 06:50] svenoe commented on #1612
For package building, though, this is only one of the functionalities you would want, and aside from package building it has no use at all. Let us talk about this today, briefly. In any case I would not try to incorporate it into 10.1.1.

[2022-02-14 07:19] svenoe commented on #1613
Hi José,

with my test installation this works and the table is present in scripts/database/otobo-schema.xml. For the moment I would almost exclude the possibility that there is an error with its creation (I at least never had something like this occur with any other table).

Is it possible, that you for some reason (a wrong docker container or so), are using a 10.0 database? And I did understand

[2022-02-14 08:07] bschmalhofer commented on #1613
I also think that some mixing up of versions must have occurred. AFAIK there is no _/opt/otobo/scripts/database/otobo-schema.mysql.sql_ file in OTOBO 10.1. _installer.pl_ only uses the XML-file for table creation.

[2022-02-14 09:31] bschmalhofer commented on #1612
See also https://metacpan.org/pod/OPM::Maker

[2022-02-14 11:16] joserribeiro26 commented on #1613
I don't know exactly where I went wrong, but since it's a staging environment, I reinstalled and everything worked as it should.

I'll close the bug, it was my mistake.

[2022-02-14 11:16] #1613 closed, assigned to svenoe

[2022-02-15 08:39] TorstenEhrhardt opened #1616 "Log level for communication_log_object_entry"
The communication_log_entry table is filled up with many unnecessary entries in case you have many postmaster filters. Each filter will create a new debug entry if it did not fit. This will also slow down the receiving process.
Having a new config variable for the log level in this log, will help to reduce the entries if you do not need them, especially for debug entries.

[2022-02-15 09:07] svenoe commented on #1616
Hi Torsten,

I agree that this certainly would be nice at times. On the other hand, the object log is at least neatly stored away and real errors should also be visible in the normal log, so aside from debugging (where this then is helpful), I don't know whether it is necessary to look in there, too often...

Thanks for the suggestion, I will add it to our list of wanted enhancements, Sven

(P.S.:

[2022-02-15 09:09] svenoe commented on #1616
I will close this until someone starts to work on it, to not clutter the issues too much, it is visible in the Enhancements project.

[2022-02-15 09:09] #1616 closed, assigned to nobody

[2022-02-15 09:13] svenoe commented on #1059
Closing this issue for now. (Added it to the Enhancements project.)

[2022-02-15 09:13] #1059 closed, assigned to nobody

[2022-02-15 10:09] svenoe opened #1617 "Response generation in Layout.pm."
While developing a module I encountered some places in the code which, imho, could be made more similar, and I found a file which I think is not needed anymore. I'm not sure with anything on the first glance, though:

In Kernel/Output/HTML/Layout.pm we have the `sub _AddHeadersToResponseObject` which is used at several places, to set the Headers of the response: https://github.com/RotherOSS/otobo/

[2022-02-15 12:14] bschmalhofer commented on #1617
Sure, in the most simple case one could add a method that plugins can call for registering headers that should be added in any case. Care must be taken to correctly cover the cases where the response object is thrown as an exception.

[2022-02-15 12:41] bschmalhofer commented on #1612
See also the discussion in #1614.

[2022-02-16 08:33] geralwo opened #1618 "Preview StopAfterMatch in AdminPostMasterFilter Overview"
For Debugging purposes it would be very helpful seeing the value of "StopAfterMatch" in the overview of "Action=AdminPostMasterFilter

![grafik](https://user-images.githubusercontent.com/89428719/154225781-eb69ea18-3d94-449e-921e-76a82ed6b629.png)
"

[2022-02-16 09:48] svenoe commented on #1618
Agreed - same for the ACLs, where I recently had the pleasure... ;)

[2022-02-16 09:48] #1618 closed, assigned to geralwo

[2022-02-17 13:19] svenoe opened #1619 "Enter in Textinput (e.g. subject) cancels reply in CustomerTicketZoom."
The above. Please fix for 10.0 and merge.

[2022-02-17 13:47] bschmalhofer commented on #1476
The current state of affairs has beed integrated into the sources for OTOBO 10.1.1. This is low risk as the changes are very specific for Kerberos support. However the changes havn't really been tested.

[2022-02-17 14:25] bschmalhofer commented on #1476
Besides testing, the documentation is also lacking. The documentation should be added as an advanced topic in https://doc.otobo.org/manual/installation/10.1/en/content/installation-docker.html. Here is a first take:

For enabling authentication with Kerberos please base you .env file on the sample file .docker_compose_env_https_kerberos. This activates  the _docker-compose/otobo-override-https-ker

[2022-02-17 15:09] bschmalhofer opened #1621 "Perl module check fails when installing a package"
Here is a funny effect that occured during package installation when webserber runs under Docker, thus runs under Gazelle.

1. Get ahold of a package the depends on GD
2. Get ahold of a container that has libgd-dev installed
2. Install the package via the the AdminPackage frontend
3. Get an error because GD is not installed (this is expected)
4. Get ahold of a container that has libgd-dev installe

[2022-02-17 17:30] bschmalhofer commented on #1279
The newly implemented features are that the default page are configurable and that the public interface can be deactivated. Let's collect information about the current state and see whether anything needs to be changed. The new settings are `Frontent::NotFoundRedirectPath` and `PublicFrontend::Active`. The files _index.html_, `robots.txt`, and _404.html_ directly in `'"$Home/var/httpd/htdocs/"` ar

[2022-02-17 18:35] bschmalhofer opened #1622 "Make error messages of the public interface less leaky"
When an unknown frontend is requested in the public interface, then a rather verbose error message is displayed. This is not reassuring, at least don't print out the `@INC` path. See also #1279.

[2022-02-18 13:08] bschmalhofer commented on #1622
Implemented the dedicated methods PublicError(), PublicErrorScreen(), PublicFatalError(). Did some quick manual testing. Looks fine. Closing this issue.

[2022-02-18 13:08] #1622 closed, assigned to bschmalhofer

[2022-02-18 16:11] bschmalhofer commented on #1279
The changes seem to work, but it would be good to have a review whether the current behavior is sane enough for a release,

[2022-02-18 18:28] bschmalhofer commented on #1553
No new failures:

[code]

[2022-02-20 13:56] bschmalhofer commented on #1621
Checked whether this could be due to crosstalk of threads in the web server Gazelle. Most likely not, Gazelle is preforking. See https://metacpan.org/pod/Gazelle#DESCRIPTION .

[2022-02-21 09:21] bschmalhofer opened #1625 "Allow configuration XML files in Custom/Kernel/Config/Files"
IMHO it would be nice if OTOBO packages would not write in the Kernel directory. How about supporting config XML files in _Custom/Kernel/Config/Files/XML_ ?

[2022-02-21 09:42] bschmalhofer commented on #1621
@svenoe  pointed to https://github.com/perl/perl5/issues/13797 . It could be that when trying the second time to install the package, Perl does not even try to require the package. Needs to be investigated.

[2022-02-21 12:33] #1592 closed, assigned to stefanhaerter, StefanRother-OTOBO

[2022-02-21 15:39] GritRother-OTOBO opened #1627 "Allow change of Customer Dashboard welcome text and TitleTicketList in SysConfig"
For languages differentiating a formal and informal way of address (German: Du/Sie) it would be great if

- the Welcome text for the dashboard header (CustomerDashboard::Configuration::Text) and
- the subtitle for the ticket list on the dashboard "Your tickets"  (Kernel::Output::HTML::CustomerDashboard::TileTicketList)

would be editable in the SysConfig.

[2022-02-21 16:26] svenoe commented on #1627
The problem here are ticket systems which customers speaking different languages will use. Configurable SysConfig values are usually not translated (especially free texts). We could introduce an exception here, of course, but we again have a problem then, if one wants to use the English "Your tickets" and the German "Deine Tickets", and another one wants to have "Your tickets" translated(!) to "Ih

[2022-02-21 16:33] bschmalhofer opened #1628 "Fix violations of Perl::Critic policyVariables::ProhibitUnusedVariables"
The devel version of the CodePolicy has Perl::Critic::Policy::Variables::ProhibitUnusedVariables activated. Handle the fallout.

[2022-02-21 16:51] #1625 closed, assigned to nobody

[2022-02-21 16:51] #1612 closed, assigned to bschmalhofer

[2022-02-21 16:51] #1590 closed, assigned to bschmalhofer

[2022-02-21 16:51] #1503 closed, assigned to nobody

[2022-02-21 16:52] #1442 closed, assigned to nobody

[2022-02-21 16:52] #1390 closed, assigned to nobody

[2022-02-21 16:53] #1627 closed, assigned to nobody

[2022-02-21 16:54] #391 closed, assigned to nobody

[2022-02-21 16:55] #380 closed, assigned to nobody

[2022-02-21 17:00] bschmalhofer commented on #805
Reopened because the issue is still at 'Needs triage'

[2022-02-21 17:02] bschmalhofer commented on #1128
Reopened because the issue is still at 'Needs triage'

[2022-02-21 17:04] #1309 closed, assigned to nobody

[2022-02-21 17:08] #1163 closed, assigned to nobody

[2022-02-21 17:08] #1114 closed, assigned to nobody

[2022-02-21 17:09] #996 closed, assigned to nobody

[2022-02-21 17:09] #948 closed, assigned to nobody

[2022-02-21 17:10] #653 closed, assigned to nobody

[2022-02-21 17:11] #636 closed, assigned to nobody

[2022-02-21 17:11] #628 closed, assigned to nobody

[2022-02-21 17:12] #589 closed, assigned to nobody

[2022-02-21 17:12] #545 closed, assigned to bschmalhofer

[2022-02-21 17:13] #512 closed, assigned to nobody

[2022-02-21 17:13] #425 closed, assigned to nobody

[2022-02-21 17:14] #411 closed, assigned to svenoe

[2022-02-21 17:15] #396 closed, assigned to nobody

[2022-02-21 17:15] #316 closed, assigned to nobody

[2022-02-21 17:23] #899 closed, assigned to nobody

[2022-02-21 17:23] #1178 closed, assigned to bschmalhofer

[2022-02-21 17:24] #1315 closed, assigned to nobody

[2022-02-21 17:36] bschmalhofer opened #1629 "Check code policy before release of OTOBO 10.1.1"
Looks like some glitches sneaked in after #1567.

[2022-02-21 18:19] #1236 closed, assigned to nobody

[2022-02-21 20:21] bschmalhofer commented on #1553
Another test run. _scripts/test/Selenium/Agent/Admin/AdminCustomerGroup.t_ seems to be sporadic, as it works when called explicitly.

[code]

[2022-02-21 20:23] bschmalhofer commented on #1523
The spelling has been corrected. Unit tests still look fine. Closing this issue.

[2022-02-21 20:24] #1523 closed, assigned to bschmalhofer

[2022-02-22 08:54] bschmalhofer commented on #1249
On second thought, the method  `OTOBOInfoGet()` fits in well with the other methods in `Kernel::System::Environment`. Let's keep it.

[2022-02-22 08:54] #1249 closed, assigned to bschmalhofer

[2022-02-22 08:57] #745 closed, assigned to nobody

[2022-02-22 14:57] #625 closed, assigned to stefanhaerter

[2022-02-22 16:59] #259 closed, assigned to nobody

[2022-02-22 16:59] #226 closed, assigned to nobody

[2022-02-23 12:08] stefanhaerter commented on #1619
Side Note: Core.Form.js contains a functionality to submit forms with Strg+Enter

https://github.com/RotherOSS/otobo/blob/4ac6f66e77932e81a0c16d69feb76ed6a4fea4f3/var/httpd/htdocs/js/Core.Form.js#L383

[2022-02-23 16:00] bschmalhofer commented on #1605
@svenoe Is this resolved by the commit https://github.com/RotherOSS/otobo/commit/4ac6f66e77932e81a0c16d69feb76ed6a4fea4f3 ?

[2022-02-23 16:03] bschmalhofer commented on #1628
See also https://www.olafalders.com/2022/02/22/finding-unused-perl-variables/.

[2022-02-23 16:30] svenoe commented on #1605
Ah, I did not see this issue. I would say yes with a relatively high confidence. For me I noticed this during package migration, which uses the OTOBO migration backend modules though.

[2022-02-23 16:37] bschmalhofer commented on #1605
Closing this issue as it was implicitly tested.

[2022-02-23 16:37] #1605 closed, assigned to bschmalhofer

[2022-02-24 10:13] svenoe commented on #1279
After a short discussion we agreed on the following changes:

- [x] index.html per default redirects to /otobo (where then the SysConfig will determine where to go further (already implemented))
- [x] public.pl can also be chosen as a redirect option from /otobo (not actually a change in the current implementation, as it is a text field, not a selection; would be nice to change, but I am not sure

[2022-02-24 14:28] svenoe commented on #1532
We should bring this feature back. (It is mostly work on our infrastructure, not on OTOBO itself.) Until then we disable it.

[2022-02-24 19:27] #1609 closed, assigned to svenoe

[2022-02-24 20:42] bschmalhofer commented on #1279
After more thinking, the selection of the default page can be between index.pl, customer.pl and public.pl. The redirect can be relative to otobo/ or to whatever otobo/ has been aliased to.

[2022-02-25 08:27] Marios007 opened #1632 "No error message if date is set to invalid date"
1. choosing a date like 31.2.2022 in CustomerTicketMessage (dynamic field type Date)
2. submit ticket
3. Submit failed and no error message is shown

Please show a error message that date is invalid.

[2022-02-25 11:18] bschmalhofer commented on #1279
Also:

- [x] when the selected default interface is deactivated, then fall back to index.pl in order to avoid an useless extra redirect

[2022-02-25 11:49] bschmalhofer opened #1633 "Offer more configuration options in installer.pl"
There are several SysConfig settings that need to be set after the installation. It would be convenient to set those directly in _installer.pl_. These extra setting would constitute an extra SysConfig deployment, not setup that is saved in _Kernel/Config.pm_ .

An example for such settings has been identified in #1217 :

Therefore it would be nice to be able to set the following setting during ins

[2022-02-25 12:08] bschmalhofer commented on #1279
The current state of affairs is merged. The enhancement of installer.pl has been moved to #1633 as there might more settings that should be included.

[2022-02-26 13:18] bschmalhofer commented on #1621
I took a look at the source code. During package installation the method `Kernel::System::Package::PackageInstall()` calls the method `_CheckModuleRequired()`. The latter method checks the list of required Perl modules. This is done by looking for the module  files in `@INC`. When a module file is found then the version is determined. This is done with `$MM->parse_version()`, see https://metacpan.

[2022-02-26 13:20] bschmalhofer commented on #1621
The solution is to prepopulate the directory _local_ even when there are no local modules used yet. This can be done with:
[code]

[2022-02-26 14:28] bschmalhofer opened #1635 "Are the po-files needed in the Docker image?"
I was wondering about the _i18n_ files in the Docker image? Are they really useful? They constitute a significant part of the image size.

[code]

[2022-02-26 15:34] bschmalhofer commented on #1621
Created the directory structure below _local_ when creating the image. Tested this with the OTOBO package where I noticed this problem. Looks fine. Closing this issue.

[2022-02-26 15:34] #1621 closed, assigned to bschmalhofer

[2022-02-27 12:13] bschmalhofer commented on #1532
Deactivating DashboardBackend###0000-ProductNotify cause failures in the test suite.

_ProductNotify.t_ needs to be skipped.

[2022-02-27 12:22] bschmalhofer commented on #1532
Test is skipped now. Closing again.

[2022-02-27 12:25] bschmalhofer commented on #1553
I ran the test suite and got many failures. Very unscientifically I tried it again and it looked better on the second attempt:

The failure of _Selenium/Output/Dashboard/ProductNotify.t_ is due to #1532 and has been fixed by skipping that test script.

[2022-02-28 08:20] svenoe commented on #1635
You are right, the directory i18n is not needed for running otobo (and thus for docker installations) at all. It is just used to store translations and generate the Kernel/Language files on our servers (without docker being involved).

[2022-02-28 08:25] svenoe commented on #1632
This works as expected in 10.1 which we are about to release in its stable form. As there were quite some changes to how dynamic fields are rendered, it will not be backported to 10.0 though.

Best regards, Sven

[2022-02-28 08:25] #1632 closed, assigned to nobody

[2022-02-28 08:26] #1619 closed, assigned to stefanhaerter

[2022-02-28 10:06] bschmalhofer commented on #1635
Skip the directory _i18n_ in the _.dockerignore_ file. A bit of tidying in the ignore file. A quick check of a newly generated image showed that the web app is still working and that i18n is gone. Closing this issue.

[2022-02-28 10:06] #1635 closed, assigned to nobody

[2022-02-28 15:44] #1559 closed, assigned to stefanhaerter

[2022-02-28 15:48] #1449 closed, assigned to stefanhaerter

[2022-02-28 19:57] bschmalhofer commented on #1553
Still looking fine:

[2022-03-01 09:58] stefanhaerter opened #1641 "DynamicField Config Screen: Default Value Input field enlarges"
When configuring a dynamic field of type dropdown, the following occurs: If I start typing in the "Key" field, the input field next to "Default Value" enlargens, as can be seen on the screenshot.

![Configuration window for single select dropdown with enlarged input field for default value](https://user-images.githubusercontent.com/46650328/156145444-4cc80735-75c6-4154-874e-c869db56d8f2.png)

[2022-03-01 10:05] stefanhaerter commented on #1641
This also seems to happen when configuring a Multiselect Dropdown, not only for Singleselect.

[2022-03-01 10:52] ebasse-prog opened #1642 "Ticket from STDIN - problem"
I have Sendmail selected in the reporting system. I should not be receiving messages from STDIN, and yet such a system has automatically sent out some messages that it does not want to receive.
How do I turn it off?
I have imap accounts set up in my system, from which I should only receive messages.

![obraz](https://user-images.githubusercontent.com/65177524/156155455-d37a3e5d-c2d4-415a-9051-44a7

[2022-03-01 14:05] GritRother-OTOBO opened #1643 "Tile_FeaturedLink: open link in separate Browser tab"
It would be great if the Featured Link in the customer portal (and other links as well) would point to a new Browser tab by default instead of being opened in the same tab as it is now.

[2022-03-02 07:04] svenoe commented on #1642
Hi ebasse-prog,

for general questions around the usage of OTOBO please visit our [forums](https://otobo.de/en/forums/otobo/otobo-forum/). Github is used only for development topics.
I will close this issue here, thanks for your understanding.

Best regards, Sven

[2022-03-02 07:04] #1642 closed, assigned to nobody

[2022-03-02 07:09] svenoe commented on #1643
I don't think having this behaviour in general is wanted. For the Featured Link I would suggest adding an option to the SysConfig, which will set whether we add `target="_blank"` (open it in a new tab) or not.

[2022-03-02 09:30] stefanhaerter commented on #282
- [ ] textoverflow: ellipsis for dynamic title fields in TicketInformation in Agent-Interface, implement correct format for CusterInterface
- [ ] Change behaviour for popup widgets, e.g. Print and TicketInformation in CustomerTicketZoom (suggestion: close if focus switches - edit Sven: only close when opening a different popup)
- [x] Selected values in Dropdowns are not colored correctly

[2022-03-02 12:42] #1368 closed, assigned to stefanhaerter

[2022-03-02 13:06] svenoe commented on #1553
I have no "unknown" problems without docker (and without selenium, though), so I will close this issue. The remaining ones are tests which should be adapted, but not necessarily for 10.1.1.

[2022-03-02 13:06] #1553 closed, assigned to bschmalhofer

[2022-03-02 13:07] svenoe commented on #1504
I will close this. If there is a problem, we will see only with the release anyways.

[2022-03-02 13:07] #1504 closed, assigned to nobody

[2022-03-02 14:21] bschmalhofer commented on #1054
Supporting the scripts in _bin/cgi-bin_ is a kind of hassle and the hope is that nobody will use the. I propose to remove them in OTOBO 11.0.1 .

[2022-03-02 14:22] bschmalhofer opened #1645 "Remove support apache2-httpd-cgi.include.conf"
Supporting the wrapper scripts in _bin/cgi-bin_ is a kind of hassle and the hope is that nobody will use the. I propose to remove them in OTOBO 11.0.1 .

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1054#issuecomment-1056982960_

[2022-03-02 14:32] #1473 closed, assigned to stefanhaerter

[2022-03-02 14:33] svenoe commented on #1633
This will be handled in a bigger overhaul of the installer.

[2022-03-02 14:33] #1633 closed, assigned to nobody

[2022-03-02 14:37] #1279 closed, assigned to bschmalhofer

[2022-03-02 14:48] bschmalhofer commented on #132
See also #1645.

[2022-03-02 15:02] bschmalhofer commented on #1590
See also #1599

[2022-03-02 15:05] acorderor opened #1646 "FAQ Documentation Still points to OTRS 6.X FAQ Docs"
The link to FAQ PDF documentation in Package Manager Area still points to OTRS 6 FAQ Document by default.

[2022-03-02 15:17] acorderor opened #1647 "ITSM-CIAttributeCollection Functionalities should be part of OTOBO"
There is a package to extend the use of the CMDB in OTRS and was widely use by our users, although I have not been able to see something similar in OTOBO, I was able to migrate the package and install it in my first installation of OTOBO 10.0.x. Is it posible to make that package part of OTOBO 10.x or OTOBO 11.x

[2022-03-02 15:32] svenoe commented on #1629
I got too many files with errors to correct this today. A significant fraction of them also seems to be due to the new "ProhibitUnusedVariables", which you recently included. I would rather not start this directly before we release, so we will postpone this.

[2022-03-02 18:55] bschmalhofer opened #1648 "Fix unit test ConfiguredRepositoryDefinitionGet.t"
The output from https://ftp.otobo.org/pub/otobo/misc/packages/repository.xml has changed. Thus the test has to be adapted.
[code]

[2022-03-02 19:09] bschmalhofer commented on #1648
@svenoe : Could you check whether the mixing of http and https is intended in the content of https://ftp.otobo.org/pub/otobo/misc/packages/repository.xml .

[2022-03-03 17:00] bschmalhofer commented on #1629
Closing. No need to generally comply with the latest version of the Codepolicy for patch releases. Only the new code of the patch releases has to comply.

[2022-03-03 17:00] #1629 closed, assigned to svenoe

[2022-03-03 17:05] bschmalhofer opened #1650 "No need to set @INC in Apache config files"
`@INC` is set up _otobo.psgi_ . This means that the module search path does not have to be set up via the PerlSwitches config option. Especially as the order of entries has been messed up in _scripts/apache2-httpd.include.conf_ .

[2022-03-03 18:20] bschmalhofer commented on #1650
I see no reason to not preload _otobo.psgi_ also in the apache2-httpd-cgi.include.conf case. So let's do that.

[2022-03-03 18:28] bschmalhofer commented on #1650
Tested this by copying _Kernel/Modules/AgentDashboardCommon.pm_ into _Custom/Kernel/Modules_ and adding a `warn 'XXX';`  statement. The XXX showed up in the Apache error log. Looking good. Closing this issue.

[2022-03-03 18:28] #1650 closed, assigned to bschmalhofer

[2022-03-04 10:42] bschmalhofer commented on #1648
The test scripts has been updated to track the changed content behind  https://ftp.otobo.org/pub/otobo/misc/packages/repository.xml . Closing this issue.

[2022-03-04 10:42] #1648 closed, assigned to bschmalhofer

[2022-03-04 15:30] Marcobrmn opened #1652 "Missing table stats_report after updating to 10.1"
Hey guys,

I am having the same issue like in #1613 in our productive environment, but I didnt managed to resolve the problem.
I have updated to OTOBO 10.1 yesterday.

When I am trying to generate a new Report I get the message:
(And I am receiving an error Email every 10 Minutes 👍 )

The Table is not present in the OTOBO DB (MariaDB).

Unfortunately there is no Create Table command in the "/opt/o

[2022-03-04 17:03] bschmalhofer commented on #1652
Hi @Marcobrmn ,

first I was confused that the file _/opt/otobo/scripts/database/otobo-schema.mysql.sql_ still exists in your updated installations. This file is not part of OTOBO 10.1.1. But checking Step 3 of https://doc.otobo.org/manual/installation/10.1/en/content/updating.html I found that the current installation instructions do not remove files that are no longer part of the OTOBO installat

[2022-03-05 10:03] bschmalhofer commented on #1646
Hi @acorderor ,

thanks for pointing this out. The link in the AdminPackageManager frontend look sensible as it refers to https://ftp.otobo.org. So it looks like an obsolete PDF is included in the package. This is confirmed by checking the version in Github, https://raw.githubusercontent.com/RotherOSS/FAQ/master/doc/en/FAQ.pdf . I double checked with the Survey module. There the repository contain

[2022-03-05 19:31] Marcobrmn commented on #1652
Hi @bschmalhofer,

thank you for the fast reply!

Well I have followed the instructions for OTOBO 10.0, my fault :)
The only difference in the documentation 10.0 and 10,1  I could find is the Step 5 with the DBUpdate script you have mentioned.
After executing it, the reports are running again and the table exists in my DB.
Thank you!

Another thing I would like to mention, if others have the probl

[2022-03-07 07:12] svenoe commented on #1643
Was done in 10.1.1.

[2022-03-07 07:12] #1643 closed, assigned to svenoe

[2022-03-07 09:52] stefanhaerter commented on #1641
Examination of the problem so far showed:
- Stacktrace:
    - keyup event on key and value fields triggers redraw.InputField event
    - redraw.InputField Event sets width of element to outerWidth() of hidden select element
- According to documentation, jQuery function outerWdith() does not work reliable on hidden elements
- Despite this, the mechanism seems to work fine e.g. in configuration wind

[2022-03-07 12:04] geralwo opened #1653 "Notify last Owner who is not "- -", if followUp happens on free ticket."
With the new changes on how tickets are handled when they are freed and assgined to "- -" a problem occurs that no notification is send to relevant agents if a followUp happens.

Nice would be to notify the last actual owner about events on the ticket, so no requests are missed.

[2022-03-10 16:36] reneeb opened #1657 "GenericInterface: PATCH and PUT requests fail"
The transport class HTTP::REST tries to get the value for the POSTDATA param. But for PATCH and PUT requests that param does not exist. The body is stored in PATCHDATA/PUTDATA.

See PR #1656

[2022-03-10 16:59] bschmalhofer opened #1658 "Use path_info() for extracting the relevant web service"
In _Kernel/GenericInterface/Provider.pm_ there is following code:

`        $RequestURI =~ m{ nph-genericinterface[.]pl/ (?: WebserviceID/ (?<ID> \d+ ) | Webservice/ (?<Name> [^/?]+ ) ) }smx
`
Apparently this is extracting values from the PATH_INFO while expecting that the script is _nph-genericinterface.pl_. This is bad design as the prohibits mounting the application at a different mount point.

[2022-03-10 17:10] bschmalhofer commented on #1657
This bug seems to have been introduced in rel-10_1. In rel-10_0 the content was read from STDIN which seems to have worked fine for PUT and PATCH too.

@reneeb : please go ahead and merge the PR

[2022-03-11 07:16] reneeb opened #1659 "DynamicFieldDB don't work in processes in the agent interface"
When you use a dynamic field of type DB in an activity dialog in the agent interface, it doesn't work. You can search for values, but you can't use them.

The JavaScript code assumes that the activity dialog id is appended to the field name (as it is in the customer interface) and hence it cannot find the field in the activity dialog.

[2022-03-11 07:23] reneeb commented on #1659
See also https://otobo.de/de/forums/topic/version-10-1-1-dynamische-felder-db/

[2022-03-11 07:56] reneeb opened #1661 "DynamicFieldDB: Changing the value triggers warnings"
If you define a dynamic field of type database and that field stores string values in the otobo database, changing the value for the dynamic field triggers warnings like:

[code]

The data are handled as numerics in the `ValueIsDifferent` method of _Kernel::System::DynamicField::Driver::BaseDatabase_

[2022-03-11 08:02] reneeb commented on #1661
A sample dynamic field:

![image](https://user-images.githubusercontent.com/144096/157826750-90821b35-8641-428f-a7fe-552729db1599.png)

Use that field in AgentTicketFreeText. Assign a value and then change the value...

[2022-03-11 08:15] reneeb opened #1663 "DynamicFieldDB: Search in input field triggers an error when no value item is selected as search field"
Given a field like

![image](https://user-images.githubusercontent.com/144096/157828592-ce7fe611-e05d-42d2-8057-412abaaed6d2.png)

where no value item is selected as a search field, a search in the input field

![image](https://user-images.githubusercontent.com/144096/157828656-d1fc7f3b-722b-4bac-bd78-706834da5dcc.png)

triggers an error:

[code]

The `WHERE` clause is empty. I see three possible

[2022-03-11 08:42] #1661 closed, assigned to nobody

[2022-03-11 09:11] svenoe commented on #1663
I'm for not saving an erroneously configured field here. (Using the ID might present information which we don't want to give, although not likely, and using the first entry is a bit random...what if at a future point in some piece of code those values are stored as hash instead of an array - you would always have to keep this speciality which is not really documented in your mind. Also not a reall

[2022-03-11 11:22] reneeb opened #1664 "Customer interface: translate tooltips"
One can define tooltips for dynamic fields

![image](https://user-images.githubusercontent.com/144096/157857146-fdaf2163-c50a-4c58-a59a-d9eae166f87c.png)

Those tooltips are shown in the customer interface (hover the question mark)

![image](https://user-images.githubusercontent.com/144096/157857261-267f6616-b64b-4494-9e0f-60e95170497f.png)
![image](https://user-images.githubusercontent.com/144096

[2022-03-11 11:59] geralwo opened #1666 "Wrong Link in navigation bar for reports"
When you create a new report and try to go back to the report overview, the link doesnt work and you receive an error:

<img width="685" alt="Bildschirmfoto 2022-03-11 um 12 57 29" src="https://user-images.githubusercontent.com/89428719/157863096-652d5563-2887-4b41-8623-f1c41b76ab6f.png">

Backend ERROR: OTOBO-CGI-82 Perl: 5.34.0 OS: linux Time: Fri Mar 11 11:58:56 2022

 Message: Keine Subaction

[2022-03-11 18:08] bschmalhofer commented on #1657
TODO:

- [x] add tests for PATCH and PUT

[2022-03-11 18:14] bschmalhofer commented on #1657
Tests were added. Closing this issue again.

[2022-03-11 18:14] #1657 closed, assigned to reneeb

[2022-03-12 13:04] bschmalhofer commented on #1666
This should be implemented analogous to AgentStatistics frontend. For that frontend the breadcrumb path is set up in the template files.
[code]
However there seems to be obsolete setup for `Breadcrumbpath` in _Kernel/Modules/AgentStatistics.pm_ . This should be cleaned up.

[2022-03-12 17:42] bschmalhofer commented on #1666
Fixed the breadcrumb path in the AgentStatisticsReports templates. The outcome looks good. Closing this issue.

[2022-03-12 17:42] #1666 closed, assigned to bschmalhofer

[2022-03-14 09:08] #1664 closed, assigned to nobody

[2022-03-14 14:56] svenoe opened #1670 "Add configuration for specific ssl options for the connection to an OpenID provider. Fix implicit CodeFlow."

[2022-03-15 07:59] #1659 closed, assigned to nobody

[2022-03-15 14:14] bschmalhofer opened #1672 "Reduce setting in Config.pm"
The file _Kernel/Config,pm_ serves a specifc use case.

1. Hold settings that are set during installations.
2. Hold changed settings that override values that are set _Kernel/Config/Defaults.pm_
3. Hold settings that only a sysadmin should be able to change

TODO:

- [x] move settings that are not covered by 1. and 2.  from Config.pm to Defaults.pm

[2022-03-15 15:46] bschmalhofer opened #1673 "Limit Dev::UnitTest::Run to a specific package"
For running the tests of an OTOBO package it would nice if the console command `Dev::UnitTest::Run` were enhanced. Pass the _,sopm_ file and run only the _.t_ files that are mentionend in the Filelist.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/FAQ/issues/7#issuecomment-1068142288_

[2022-03-15 16:32] svenoe commented on #1673
I agree. Also I think this could be done within 10.1, as it only affects the testing environment, it's a simple thing, and the benefit is quite high.

[2022-03-15 18:04] bschmalhofer commented on #1673
Sounds good, I have moved the milestone to 10.1.2.

[2022-03-16 12:11] bschmalhofer commented on #1673
The console command `Dev::UnitTest::Run` uses the SysConfig setting _UnitTest::DefaultDirectory._

  `  my $DefaultDirectory = $Kernel::OM->Get('Kernel::Config')->Get('UnitTest::DefaultDirectory');
`
However this setting is nowhere declared nor documented. Let's remove it in rel-11_0.

[2022-03-16 12:12] bschmalhofer opened #1676 "Remove usage of SysConfig setting UnitTest::DefaultDirectory"
The console command `Dev::UnitTest::Run` uses the SysConfig setting _UnitTest::DefaultDirectory._

  `  my $DefaultDirectory = $Kernel::OM->Get('Kernel::Config')->Get('UnitTest::DefaultDirectory');
`
However this setting is nowhere declared nor documented. Let's remove it in rel-11_0.

_Originally posted by @bschmalhofer in https://github.com/RotherOSS/otobo/issues/1673#issuecomment-1069059356_

[2022-03-16 13:50] bschmalhofer commented on #1673
In order to be consistent the files from the .sopm files must be treated like whitelist patterns. Running Dev::UnitTest::Run with passing a .sopm file worked at least once. Thus closing this issue.

[2022-03-16 13:50] #1673 closed, assigned to bschmalhofer

[2022-03-17 17:18] geralwo opened #1678 "No notification gets send on a TicketMerge event"
When setting up a notification about TicketMerge events, no notifications happen.

Ticket A (owner Peter) gets merged into Ticket B (owner Hans).
Ticket B now holds Ticket A and Peter should be notified.

Version 10.1.1 no OwnerReset